<template>
  <div class="emj-wrapper" v-click-outside="hideEmojis">
    <at-ta :members="memberAutoCompleteList" at="@" :allowSpaces="false" :filter-match="filterMatch" v-model="input">
      <at-ta
        :members="keywordAutocompleteList"
        at="#"
        :allowSpaces="false"
        v-on:at="getKeywordChunkInput"
        v-model="input"
      >
        <textarea
          class="form-control"
          :rows="textAreaRows"
          :placeholder="placeholderText"
          ref="textinput"
          style="resize: none;"
          :id="'advancedTextArea_' + textareaid"
          @keyup.enter.exact="enterPressed"
        >
        </textarea>
      </at-ta>
    </at-ta>

    <!-- <div class="emj-wind-wrap"> -->
    <emoji-picker ref="emojiPicker" @emoji="append" :search="search">
      <!-- Emoji Icons -->
      <div class="emoji-invoker" slot="emoji-invoker" slot-scope="{ events }" v-on="events">
        <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 0h24v24H0z" fill="none" />
          <path
            d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm3.5-9c.83 0 1.5-.67 1.5-1.5S16.33 8 15.5 8 14 8.67 14 9.5s.67 1.5 1.5 1.5zm-7 0c.83 0 1.5-.67 1.5-1.5S9.33 8 8.5 8 7 8.67 7 9.5 7.67 11 8.5 11zm3.5 6.5c2.33 0 4.31-1.46 5.11-3.5H6.89c.8 2.04 2.78 3.5 5.11 3.5z"
          />
        </svg>
      </div>

      <!-- Emoji windows -->
      <div slot="emoji-picker" slot-scope="{ emojis, insert, display }">
        <div class="emoji-picker">
          <div class="emoji-picker__search mb-2"><input type="text" v-model="search" v-focus /></div>
          <div>
            <div v-for="(emojiGroup, category) in emojis" :key="category">
              <br />
              <h5 class="text-center">
                <b>{{ $t('emojiipicker.' + category) }}</b>
              </h5>
              <br />
              <div class="emojis">
                <span
                  v-for="(emoji, emojiName) in emojiGroup"
                  :key="emojiName"
                  @click="insert(emoji)"
                  :title="emojiName"
                  >{{ emoji }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </emoji-picker>
    <!-- </div> -->
  </div>
</template>

<!--
  Use component like this <TextEditor v-on:textinputUpdate="textinputUpdate" :textInputValue="statusUpdate.text" placeholderText="What's new with you? Write something here..."></TextEditor>
  1. textinputUpdate is an emit which calls a function with a String parameter "textinputUpdate(textinputUpdate)". textinputUpdate is the
  current state of user text input and is emitted on every character input.
  2. textInputValue is a String props, which binds the textarea value to an parent string variable, so the content can be directly manipulated through parent
  3. placeholderText is a String prop, which sets the placeholder text of the textarea
-->

<script>
import EmojiPicker from './EmojiiPicker/EmojiPicker';
import AtTa from 'vue-at/dist/vue-at-textarea';
import At from 'vue-at';
import { storage_getURL } from '../../../js/global.js';

/*
    TODO:   fetch complete friendslist and save in const so every instances uses same storage,
            so not fetching independtly multiple times in each AdvancesTextarea instance.
            Friendlist shouldn't be that big
    **/
// const userAutocompleteList = [];

export default {
  name: 'AdvancedTextarea',
  components: { EmojiPicker, AtTa, At },
  props: {
    textInputValue: {
      type: String,
      required: true
    },
    placeholderText: {
      type: String,
      required: true
    },
    textAreaRows: {
      type: Number,
      required: false,
      default: 3
    },
    textareaid: {
      type: String,
      required: false,
      default: Math.floor(Math.random() * 10000 + 1).toString()
    },
    focusOnRender: {
      type: Boolean,
      required: false,
      default: false
    },
    usernames: {
      type: Array,
      required: false
    }
  },
  data() {
    return {
      input: this.textInputValue,
      search: '',
      keywordAutocompleteList: [],
      currentKeywordChunk: '',
      submitMessage: false
    };
  },
  mounted() {
    if (this.focusOnRender) {
      this.focus();
    }
  },
  computed: {
    memberAutoCompleteList() {
      if (this.usernames) {
        return this.usernames;
      } else {
        return this.$store.friendList;
      }
    }
  },
  watch: {
    input: function() {
      this.$emit('textinputUpdate', this.input);
    },
    textInputValue: function(val) {
      var elements = document.getElementsByClassName('atwho-panel');

      if (elements.length == 0) this.submitMessage = true;
      else this.submitMessage = false;

      this.input = val;
      this.search = '';
    },
    textAreaRows: function() {
      alert(this.textAreaRows);
    },
    id: function() {
      console.log(this.id);
    }
  },
  methods: {
    hideEmojis(){
      this.$refs.emojiPicker.hide();
    },
    append(emoji) {
      let cursorPosition = this.$refs.textinput.selectionStart;
      let textBefore = this.input.substring(0, cursorPosition);
      let textAfter = this.input.substring(cursorPosition, this.input.length);
      this.input = textBefore + emoji + textAfter;
    },
    focus: function() {
      this.$refs.textinput.focus();
    },
    getKeywordChunkInput: function(chunk) {
      this.currentKeywordChunk = chunk;
      if (this.currentKeywordChunk.length === 0) {
        this.keywordAutocompleteList = [];
        return;
      }
      this.fetchKeywordsByQuery();
    },
    enterPressed(e) {
      if (this.submitMessage) {
        this.$emit('enterPressed', e);
        this.input = '';
        this.currentKeywordChunk = '';
        this.keywordAutocompleteList = [];
      }
    },
    fetchKeywordsByQuery: _.debounce(function() {
      axios
        .get(storage_getURL('API_GATEWAY_STORAGE') + '/api/keywords' + '?searchQuery=' + this.currentKeywordChunk)
        .then(
          response => {
            this.keywordAutocompleteList = [];
            for (let i = 0; i < response.data.length; i++) {
              this.keywordAutocompleteList.push(response.data[i].tag);
            }
          },
          error => {
            console.log(error);
          }
        );
    }, 200),
    fireTextChangedEventDebounced: _.debounce(function() {
      this.$emit('textinputUpdate', this.input);
    }, 50),
    filterMatch: function(name, chunk) {
      return name.toLowerCase().indexOf(chunk.toLowerCase()) === 0;
    },
    getText() {
      return this.input;
    }
  },
  directives: {
    focus: {
      inserted(el) {
        el.focus();
      }
    },
    'click-outside': {
      bind: function(el, binding, vnode) {
        el.clickOutsideEvent = function(event) {
          // here I check that click was outside the el and his childrens
          if (!(el == event.target || el.contains(event.target))) {
            // and if it did, call method provided in attribute value
            vnode.context[binding.expression](event);
          }
        };
        document.body.addEventListener('click', el.clickOutsideEvent);
      },
      unbind: function(el) {
        document.body.removeEventListener('click', el.clickOutsideEvent);
      }
    }
  }
};
</script>

<style scoped>
.emj-wrapper {
  position: relative;
}

.emoji-invoker {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
}

.emoji-invoker:hover {
  transform: scale(1.1);
}

.emoji-invoker > svg {
  fill: #b1c6d0;
}

.emoji-picker {
  position: absolute;
  top: 90px;
  left: 55%;
  z-index: 1;
  font-family: Montserrat;
  border: 1px solid #ccc;
  width: 15rem;
  height: 20rem;
  overflow: scroll;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 1px 1px 8px #c7dbe6;
}

.emoji-picker__search {
  display: flex;
}

.emoji-picker__search > input {
  flex: 1;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  outline: none;
}

.emoji-picker h5 {
  margin-bottom: 0;
  color: #413e3e;
  font-size: 1rem;
  cursor: default;
  font-family: Roboto, sans-serif !important;
}

.emoji-picker .emojis {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.emoji-picker .emojis:after {
  content: '';
  flex: auto;
}

.emoji-picker .emojis span {
  padding: 0.2rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.4rem;
}

.emoji-picker .emojis span:hover {
  background: #ececec;
  cursor: pointer;
}

/*    .textareaCustom {
                  -moz-appearance: textfield-multiline;
                  -webkit-appearance: textarea;
                  border: 1px solid gray;
                  -webkit-border-radius: 5px;
                  -moz-border-radius: 5px;
                  border-radius: 5px;
                  height: 100px;
                  overflow: auto;
                  padding: 10px;
                  resize: both;
                  text-align: left;
                  background: #ffffff;
              }

              .textareaCustom[placeholder]:empty:before {
                  content: attr(placeholder);
                  color: #555;
              }

              .textareaCustom[placeholder]:empty:focus:before {
                  content: "";
              }*/
</style>