<template>
    <div>
        <audio controls preload="none" v-bind:id="'player-' + this.audioFileId">
            <source v-bind:src="this.url" v-bind:type="this.extension">
            Your browser does not support the audio element.
        </audio>
    </div>
</template>

<script>
    export default {
        name: "AudioPlayer",

        props: {
            audioFileId: {
                type: String,
                required: true
            },
            contentType: {
                type: String,
                required: true
            }
        },
        data() {
            return {
                url: '',
                extension: '',
            };
        },
        mounted() {
            this.setAudio();
        },
        created() {

        },
        watch: {
            audioFileId: {
                handler: function() {
                    this.setAudio();
                }
            }
        },

        methods: {
            setAudio: function() {
                this.extension = "audio/mpeg";
                let staticUrl = storage_getURL('FILES') + '/api/files/stream/' + this.audioFileId;
                this.url = staticUrl;
            }
        }
    }
</script>