<template>
  <div>
    <form v-if="!state.selectedFile.name" id="file-upload-form" class="uploader">
      <input
        id="file-upload"
        ref="customFileUpload"
        @input="handleFileSelected"
        type="file"
        name="fileUpload"
        :accept="accept"
      />

      <label for="file-upload" id="file-drag">
        <div id="start">
          <i class="fa fa-download" aria-hidden="true"></i>
          <div></div>
          <div id="notimage" class="hidden">Please select an image</div>
          <span class="btn btn-primary">{{ buttonText }}</span>
        </div>
        <div id="response" class="hidden">
          <div id="messages"></div>
          <progress class="progress" id="file-progress" value="0"><span>0</span>%</progress>
        </div>
      </label>
    </form>
    <div v-else>
      <label><h6>Change file name</h6></label>
      <input
        :value="state.selectedFile.name"
        @input="handleSelectedFileNameChanged"
        type="text"
        class="form-control"
        placeholder="What is this photo about..."
      />
      <b>File:</b> {{ state.selectedFile.name }}
      <a class="btn btn-circle report" @click="resetSelectedFile">
        <img src="../../../img/ICON_Delete-Post.png" class="clearfix w-50" alt="Remove Image" />
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CustomFileUpload',
  props: {
    buttonText: {
      type: String,
      required: true
    },
    accept: {
      type: String
    }
  },
  data() {
    return {
      state: {
        selectedFile: {}
      }
    };
  },
  computed: {},
  methods: {
    handleFileSelected() {
      console.log("handleFileSelected");
      this.state.selectedFile = this.$refs.customFileUpload.files[0];
      this.$forceUpdate();
    },
    handleSelectedFileNameChanged(e) {
      console.log("handleSelectedFileNameChanged");
      this.state.selectedFile = new File([this.state.selectedFile], e.target.value, {
        type: this.state.selectedFile.type
      });
    },
    resetSelectedFile() {
      console.log("resetSelectedFile");
      this.state.selectedFile = {};
    },
    getFile() {
      return this.state.selectedFile;
    },
    fileSelected(){

      console.log(this.state.selectedFile.name);
      if(this.state.selectedFile.name)
        return true;
      else return false;
    }
  }
};
</script>

<style scoped></style>
