<template>
  <p>
  <img v-if="mode === 'avatar'" id="avatarImageMenu" class="clearfix" alt="avatar" v-bind:src="url" />

  <img v-else-if="mode === 'chatimage'" class="clearfix" style="max-width:100%;" v-bind:src="url" />
  <img v-else-if="mode === 'statusupdate'" class="clearfix" alt="avatar" v-bind:src="url" style="max-width: inherit;"/>
  <img v-else-if="mode === 'comment'" class="clearfix" alt="avatar" v-bind:src="url"/>
  <img v-else-if="mode === 'friend'" class="transition" alt="avatar" v-bind:src="url" />
  <img v-else-if="mode === 'community'" class="card-img-top" v-bind:src="url" alt="Card image cap" width="100%" height="161px">

  <img v-else-if="mode === 'header'" class="clearfix" id="avatarImageHeader" alt="avatar" v-bind:src="url" />
  <img v-else-if="mode === 'rounded'" class="clearfix rounded-circle" alt="avatar" v-bind:src="url" />
  <img v-else class="clearfix" v-bind:src="url" alt="avatar" />
  </p>
</template>

<script>
// Use component like this:
// <DisplayImageFile :imageFileId="photoId"></DisplayImageFile>
// where photoId is the fileId in the files microservice database
export default {
  name: 'ViewImage',

  props: {
    imageFileId: {
      type: String,
      required: true
    },
    mode: {
      type: String,
      required: false
    },
    imageUrl: {
      type: String,
      required: false
    },
    enabledSessionCache: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data() {
    return {
      url: ''
    };
  },
  mounted() {
    //alert(this.imageFileId);
    this.setPhoto();
  },
  watch: {
    imageFileId: {
      handler: function() {
        this.setPhoto();
      }
    }
  },

  methods: {
    setPhoto() {
      //alert(sessionStorage.getItem('imageBlob_' + this.imageFileId));
      if (sessionStorage.getItem('imageBlob_' + this.imageFileId) && this.enabledSessionCache) {
        let base64blob = sessionStorage.getItem('imageBlob_' + this.imageFileId);

        fetch(base64blob)
          .then(res => res.blob())
          .then(blob => (this.url = window.URL.createObjectURL(blob)));
      } else {
        
        axios
          .get(storage_getURL('FILES') + '/api/files/' + this.imageFileId, {
            responseType: 'blob',
            headers: { Accept: 'application/octet-stream' }
          })
          .then(
            response => {
              //console.log(response.data);

              // this.url = window.URL.createObjectURL(new Blob([response.data], { type: 'application/octet-stream' }));
              this.url = window.URL.createObjectURL(response.data);

              if (this.enabledSessionCache) {
                let reader = new FileReader();
                let self = this;
                reader.readAsDataURL(response.data);
                reader.onloadend = function() {
                  let base64data = reader.result;
                  sessionStorage.setItem('imageBlob_' + self.imageFileId, base64data);
                };
              }
            },
            error => {
              console.log(error);
            }
          );
      }
    }
  }
};
</script>

<style scoped></style>
