<template>
  <a
    v-if="showDownloadIcon"
    href="#"
    @click.prevent="downloadFile"
    class="btn btn-circle"
    title="download"
  >
    <img src="../../../img/download.png" class="clearfix" alt="download" />
  </a>

  <a v-else href="#" @click.prevent="downloadFile" title="download">
    <span style="font-size: 14px; color: #f5b51c;">{{ fileName }}</span>
  </a>
</template>

<script>
//use the component like this:
// <FileDownload :fileId="the id to the file as string"></FileDownload>

// if you dont want to use the button, but for example a link, then hide the button with e.g. v-show="..." with a
// hide parameter you provide through a prop or slot, and paste your new code in, which can also be hidden through a
// v-show="" statement

export default {
  name: "FileDownload",

  props: {
    fileId: {
      type: String,
      required: false
    },
    fileName: {
      type: String,
      required: false
    },
    showDownloadIcon: {
      type: Boolean,
      required: false,
      default: true
    }
  },
  data() {
    return {};
  },
  mounted() {
    // alert(this.fileName)
  },
  watch: {
    showModal: function() {
      if (this.showModal) {
        this.fetchResourceByResourceId();
      }
    }
  },
  methods: {
    downloadFile: function() {
      axios
        .get(storage_getURL("FILES") + "/api/files/" + this.fileId, {
          responseType: "blob",
          headers: { Accept: "application/octet-stream" }
        })
        .then(
          response => {
            console.log(response);
            let filename = response.headers["content-disposition"].substring(
              22,
              response.headers["content-disposition"].length - 1
            );
            const url = window.URL.createObjectURL(
              new Blob([response.data], { type: "application/octet-stream" })
            );
            const link = document.createElement("a");
            link.href = url;
            link.setAttribute("download", filename);
            document.body.appendChild(link);
            link.click();
          },
          error => {
            console.log(error);
          }
        );
    }
  }
};
</script>

<style scoped></style>
