<template>
  <!-- *************************************** -->
  <!-- Create new status for activity stream page -->
  <!-- *************************************** -->

  <span>
    <!-- Only File Upload: Show only Button with "ICON_Add-File.png" as image -->
    <div v-if="!showOnlyButton" class="text-left">
      <label><h6 class="mb-0">Local File</h6></label><br />
      <input
        class="customInput"
        @change="handleFileChanged"
        :id="state.randomId"
        type="file"
        :accept="state.allowedExtensions"
      />
      <label :for="state.randomId" class="btn btn-green btn-sm w-25 mb-2">Choose File</label> <br />

      <div v-if="!(state.fileName === '') && onlyImageFile">
        <br />
        <img class="imgFileUpload" :src="state.photoSrc" /> <br />
        <br />
      </div>

      <span v-if="!(state.fileName === '')"
        >{{ this.state.fileName }}
        <a class="btn btn-circle report" href="#" @click.prevent="resetFileInputState">
          <img src="../../../img/ICON_Delete-Post.png" class="clearfix w-50" alt="Report post" />
        </a>
      </span>

      <span v-if="state.fileName === ''"> No File chosen</span>

      <br />
      <small
        >Tip: You can upload only one file for once. If you want to upload many files, you can pack the files as a zip
        file.
      </small>
    </div>

    <!-- Only Image Upload: Show only Button with "ICON_Add-Picture.png" as image -->
    <span v-else-if="onlyImageFile">
      <input
        class="customInput"
        @change="handleFileChanged"
        :id="state.randomId"
        type="file"
        :accept="state.allowedExtensions"
      />
      <label :for="state.randomId">
        <a class="btn btn-circle mr-0" :title="$t('createStatusupdate.uploadPicture')">
          <img src="../../../img/ICON_Add-Picture.png" class="clearfix" alt="post" />
        </a>
      </label>
    </span>

    <!-- Only File Upload: Show only Button with "ICON_Add-File.png" as image -->
    <span v-else>
      <input
        class="customInput"
        @change="handleFileChanged"
        :id="state.randomId"
        type="file"
        :accept="state.allowedExtensions"
      />
      <label :for="state.randomId">
        <a class="btn btn-circle mr-0" :title="$t('createStatusupdate.uploadFile')">
          <img src="../../../img/ICON_Add-File.png" class="clearfix" alt="post" />
        </a>
      </label>
    </span>
  </span>
</template>

<script>
//use FileUpload component like this:
// <FileUpload :uploadNow="processUpload" :removeFileSelection="resetFileUploadSelection"
// v-on:uploaded="uploadProcessed" v-on:fileChosen="setFileChosen"></FileUpload>
//If processUpload == true, then the selected file will be uploaded
//If resetFileUploadSelection == true, then the file selection will be reseted
// After a file is uploaded, "uploaded" with three attributes will be emitted by FileUpload.vue see:
// this.$emit('uploaded', this.state.fileId, this.state.fileName, this.state.contentType)
//
// After a file is selected, "fileChosen" will be emitted
//TODO mit refs arbeiten statt mit id

//TODO rar and zip not always working

//TODO validation needed or does the files microservice check for self executing stuff hidden under wrong extension?

export default {
  name: 'FileUpload',
  props: {
    uploadNow: {
      type: Boolean,
      required: true,
      default: false
    },
    removeFileSelection: {
      type: Boolean,
      required: false
    },
    onlyImageFile: {
      type: Boolean,
      require: false,
      default: false
    },
    showOnlyButton: {
      type: Boolean,
      require: false,
      default: false
    }
    // customButtonImg: {
    //     type: String,
    //     require: false,
    //     default: "../../../img/ICON_Add-Picture.png"
    // }
  },
  data() {
    return {
      state: {
        file: null,
        fileId: null,
        fileName: '',
        //so multiple instances of file input can be implemented in one view without interfering
        randomId: Math.floor(Math.random() * 10000 + 1),

        photoSrc: null,
        allowedExtensions: Array
      }
    };
  },
  computed: {
    filesApi() {
      return storage_getURL('FILES');
    },
    fileDTO() {
      return { fileId: this.state.fileId, fileName: this.state.fileName };
    }
  },
  watch: {
    uploadNow: function() {
      if (this.uploadNow) {
        this.save();
      }
    },
    removeFileSelection: function() {
      if (this.removeFileSelection) {
        this.resetFileInputState();
      }
    }
  },
  mounted() {
    this.setAllowedExtensions();
  },
  methods: {
    setAllowedExtensions() {
      let supportedExtensions = [];
      let images = ['png', 'jpeg', 'jpg', 'gif', 'tiff', 'bmp'];
      let files = [
        'pdf',
        'doc',
        'dot',
        'wbk',
        'docm',
        'dotx',
        'docx',
        'dotm',
        'docb',
        'zip',
        'rar',
        'xlsx',
        'xlsm',
        'xltx',
        'xltm',
        'xlsb',
        'xla',
        'xlam',
        'xll',
        'xlw',
        'ppt',
        'pot',
        'pps',
        'pptx',
        'pptm',
        'potx',
        'potm',
        'ppam',
        'ppsx',
        'ppsm',
        'sldx',
        'sldm',
        'txt',
        'rtf',
        'odt',
        'ods',
        'odp',
        'epub',
        'mp4',
        'avi',
        'mp3',
        'wav'
      ];

      if (this.onlyImageFile) {
        supportedExtensions.push.apply(supportedExtensions, images);
      } else if (this.showOnlyButton) {
        supportedExtensions.push.apply(supportedExtensions, files);
      } else {
        supportedExtensions.push.apply(supportedExtensions, images);
        supportedExtensions.push.apply(supportedExtensions, files);
      }
      this.state.allowedExtensions = supportedExtensions;
    },
    readURL: function(event) {
      if (event.target.files && event.target.files[0]) {
        let reader = new FileReader();
        let self = this;

        reader.onload = function(e) {
          self.state.photoSrc = e.target.result;
          self.$emit('fileChosen', true, self.state.fileName, self.state.photoSrc);
        };

        reader.readAsDataURL(event.target.files[0]);
      }
    },
    resetFileInputState: function() {
      document.getElementById(this.state.randomId).value = '';
      this.state.file = null;
      this.state.fileId = null;
      this.state.fileName = '';
      this.state.photoSrc = null;
      this.$emit('fileChosen', false, this.state.fileName);
    },
    handleFileChanged(e) {
      if (this.fileExtensionIsValid(e)) {
        this.state.file = e.target.files[0];
        this.state.fileName = this.state.file.name;

        if (this.onlyImageFile) {
          this.readURL(e);
        } else {
          this.$emit('fileChosen', true, this.state.fileName, this.state.file);
        }
      } else {
        this.resetFileInputState();
        this.$swal('The file you chosen is not supported for upload', 'Please chose a supported one', 'error');
      }
    },
    fileExtensionIsValid(e) {
      let valid = false;
      let regex = /(?:([^.]+))?$/;
      let fileExtension = regex.exec(e.target.files[0].name)[1];

      if (this.state.allowedExtensions.includes(fileExtension.toLowerCase())) {
        valid = true;
      }
      return valid;
    },
    save() {
      let formData = new FormData();
      formData.append('file', this.state.file);
      let headers = { 'Content-Type': 'multipart/form-data' };
      let config = { headers };
      axios.post(this.filesApi + '/api/files', formData, config).then(
        response => {
          this.state.fileId = response.data;
          console.log(response);
          this.$emit('uploaded', this.state.fileId, this.state.fileName);
          this.resetFileInputState();
        },
        error => {
          console.log(error);
        }
      );
    }
  }
};
</script>

<style scoped>
.customInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.imgFileUpload {
  max-width: 180px;
}

input[type='file'] {
  padding: 10px;
  background: #2d2d2d;
}
</style>