<template>
  <div :id="'keywordSearchBarWrapper' + (uidForWrapperID ? _uid : '')" class="input-group p-0">
    <input :ref="this.id" :id="this.id" type="text" class="form-control" />
  </div>
</template>

<script>
import * as Tokenfield from '../../../node_modules/tokenfield/dist/tokenfield';
import { storage_getURL } from '../../../js/global.js';

export default {
  name: 'KeywordSearchBar',
  props: {
    id: {
      type: String,
      required: true
    },
    uidForWrapperID: {
      type: Boolean,
      default: false,
      required: false
    },
    initialKeywords: {
      type: Array,
      default: function() {
        return [];
      }
    },
    remote: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      state: {
        tf: {},
        initialKeywordsSet: false
      }
    };
  },
  watch: {
    initialKeywords: function(newVal) {
      if (newVal.length < 1 || this.state.initialKeywordsSet) return;
      this.resetTokenField();
      let keywords = { keywordTag: newVal };
      axios.get(storage_getURL('API_GATEWAY_STORAGE') + '/api/keywords' + '?' + $.param(keywords)).then(response => {
        let keywords = response.data;
        this.initTokenField(keywords);
        this.state.initialKeywordsSet = true;
      });
    }
  },
  methods: {
    initTokenField(keywords) {
      let tokenfieldConfig = {
        el: document.getElementById(this.id),
        itemValue: '_id',
        delimiters: [String.fromCharCode(32)],
        itemData: 'displayText',
        itemLabel: 'displayText',
        setItems: keywords,
        matchRegex: '(.*?)',
        minChars: 1,
      };
      if(this.remote){
        tokenfieldConfig.remote = {
          url: storage_getURL('API_GATEWAY_STORAGE') + '/api/keywords',
          type: 'GET',
          queryParam: 'searchQuery'
        };
      }
      this.state.tf = new Tokenfield(tokenfieldConfig);
      this.state.tf.on('change', e => {
        let keywords = e._vars.setItems.map(keyword => keyword.displayText.substring(1));
        this.$emit('keywordsChanged', keywords);
      });
      this.state.tf.onInput = e => {
        console.log(this.state.tf);
        if (e.startsWith('#')) {
          e = e.substring(1);
        }
        return e;
      };
      this.state.tf.on('addToken', (e, data) => {
        if (!data.displayText.startsWith('#')) data.displayText = '#' + data.displayText;
      });
    },
    resetTokenField() {
      let wrapper = $('#keywordSearchBarWrapper' + (this.uidForWrapperID ? this._uid : ''));
      wrapper.empty();
      let keywordInputElem = document.createElement('input');
      $(keywordInputElem).attr('id', this.id);
      $(keywordInputElem).attr('type', 'text');
      $(keywordInputElem).addClass('form-control');
      wrapper.append(keywordInputElem);
    },
    getCurrentInput(){
      return this.state.tf._html.input.value;
    },
  },
  mounted() {
    this.initTokenField([]);
  }
};
</script>

<style scoped>
@import url('../../../node_modules/tokenfield/dist/tokenfield.css');
</style>
