<template>
  <p>
  TEST
  </p>
</template>

<script>
// Use component like this:
// <DisplayImageFile :imageFileId="photoId"></DisplayImageFile>
// where photoId is the fileId in the files microservice database
export default {
  name: 'SweetAlertImage',

  data() {
    return {
      url: ''
    };
  },
  
};
</script>

<style scoped></style>
