<template>
    <div>
        <h1>Backend Login</h1>
        <p>
            Please sign in to access this area.
        </p>
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label for="password"><h6 class="mb-0">Password</h6></label>
                    <input type="password" required class="form-control" id="password" placeholder="Please enter the password" v-model="state.form.password" @keyup.enter="signIn">
                </div>
                <button type="button" class="btn btn-green w-50" v-on:click="signIn">Sign in</button>
            </div>
        </div>
    </div>
</template>

<script>
    import {storage_getURL} from '../../../js/global.js';

    export default {
        name: 'RadioLogin',
        components: {},
        data: function () {
            return {
                state: {
                    "form": {
                        "password": "",
                    }
                }
            }
        },
        methods: {
            signIn: function() {
                let signInRequest = {
                    'password': btoa(this.state.form.password),
                };

                axios
                    .post(storage_getURL('API_GATEWAY_STORAGE') + '/api-proxy/radio/api/admin/login', signInRequest)
                    .then(response => {
                        this.$swal({
                            title: "Success",
                            html: "Successfully signed in.<br>This session will be available for two hours.",
                            type: "success",
                            showCloseButton: true,
                            confirmButtonColor: '#90d400',
                            cancelButtonColor: '#ed730e',
                        }).then(result => {
                            if (result) {
                                this.hasAdminRights().then((result) => {
                                    if (result) {
                                        window.location.href = '/radio/admin';
                                    }
                                });
                            }
                        });
                    }, error => {
                        console.log("login error");
                        console.log(error);
                        this.showSwalAlert("Error", "An error occurred. Check your password and try again.", "error");
                    });
            },
            showSwalAlert: function(title,message,type) {
                this.$swal({
                    title: title,
                    html: message,
                    type: type,
                    showCloseButton: true,
                    confirmButtonColor: '#90d400',
                    cancelButtonColor: '#ed730e',
                });
            },
            hasAdminRights: function() {
              return axios.get(storage_getURL('API_GATEWAY_STORAGE') + '/api-proxy/radio/api/admin/is-admin')
                  .then(response => {
                      return response.data;
                  });
            },
        },
        created: function() {
            this.hasAdminRights().then((result) => {
                if (result) {
                    window.location.href = '/radio/admin';
                }
            });
        }
    }
</script>

<style scoped>
    @import url("../../../css/main.css");
    @import url("../../../css/profiles.css");
    @import url("../../../css/community.css");
    @import url('../../../css/courses.css');
</style>
