<template>
    <div>
        <div class="col-lg-12 col-md-12 mb-4 text-center">
            <div class="card">
                <div class="card-header pl-0 pr-0 pb-0">
                    <ul class="nav nav-tabs">
                        <li>
                            <a class="nav-link-s active" id="podcast-propose-tab" data-toggle="tab" href="#podcast-propose" role="tab" data-controls="podcast-propose" aria-selected="true">
                                <h5>Propose podcasts</h5>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link-s" id="radio-schedule-tab" data-toggle="tab" href="#radio-schedule" role="tab" data-controls="radio-schedule" aria-selected="true">
                                <h5>Radio schedule</h5>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link-s" id="admin-settings-tab" data-toggle="tab" href="#admin-settings" role="tab" data-controls="admin-settings" aria-selected="true">
                                <h5>Settings</h5>
                            </a>
                        </li>
                        <li class="pull-left">
                            <button class="btn btn-orange w-100" v-on:click="this.logout">Logout from admin area</button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="tab-content mt-3">
                <!--Tab of message-->
                <div class="tab-pane fade show active" id="podcast-propose" role="tabpanel" aria-labelledby="podcast-propose-tab">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    Propose podcasts
                                </div>
                                <div class="card-body">
                                    <table class="table">
                                        <tr>
                                            <th>Title</th>
                                            <th>Description</th>
                                            <th>Feedback</th>
                                            <th>Approve</th>
                                            <th>Delete</th>
                                        </tr>
                                        <tr v-for="podcast in this.state.podcasts">
                                            <td>{{ podcast['title'] }}</td>
                                            <td><button class="btn btn-green w-75" v-on:click="openDescriptionModal(podcast)">Open</button></td>
                                            <td><button class="btn btn-orange w-75" v-on:click="openFeedbackModal(podcast)">Message</button></td>
                                            <td><button class="btn btn-green w-75" v-on:click="approvePodcast(podcast)">Approve</button></td>
                                            <td><button class="btn btn-danger w-75" v-on:click="deletePodcast(podcast)">Delete</button></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show" id="radio-schedule" role="tabpanel" aria-labelledby="radio-schedule-tab">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">Replace/Create entry for the radio schedule</div>
                                <div class="card-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="day">Day:</label>
                                            <select name="day" id="day" class="form-control" v-model="state.scheduleEntry.day">
                                                <option value="0" selected>Monday</option>
                                                <option value="1">Tuesday</option>
                                                <option value="2">Wednesday</option>
                                                <option value="3">Thursday</option>
                                                <option value="4">Friday</option>
                                                <option value="5">Saturday</option>
                                                <option value="6">Sunday</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="time">Time:</label>
                                            <input type="text" class="form-control" name="time" id="time" v-model="state.scheduleEntry.time"/>
                                        </div>

                                        <div class="form-group">
                                            <label for="title">Title:</label>
                                            <input type="text" class="form-control" name="title" id="title" v-model="state.scheduleEntry.title" />
                                        </div>

                                        <div class="form-group">
                                            <label for="description">Description:</label>
                                            <input type="text" class="form-control" name="description" id="description" v-model="state.scheduleEntry.description" />
                                        </div>
                                    </form>
                                    <button class="btn btn-green" v-on:click="saveReplaceScheduleEntry()">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">Change the radio schedule</div>
                                <RadioSchedule :adminpage=true :key="state.scheduleKey"></RadioSchedule>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show" id="admin-settings" role="tabpanel" aria-labelledby="admin-settings-tab">
                    <div class="row">
                        <div class="col-6">
                            <div class="card">
                                <div class="card-header">Change the password</div>
                                <div class="card-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="oldpassword">Old password:</label>
                                            <input type="password" id="oldpassword" class="form-control" v-model="state.settings.oldPassword">
                                        </div>

                                        <div class="form-group">
                                            <label for="newpassword">New password</label>
                                            <input type="password" id="newpassword"class="form-control" v-model="state.settings.newPassword">
                                        </div>

                                        <div class="form-group">
                                            <label for="newpassword_2">Repeat the new password</label>
                                            <input type="password" id="newpassword_2" class="form-control" v-model="state.settings.newPasswordRepeat">
                                        </div>
                                    </form>

                                    <button class="btn btn-green form-control" v-on:click="changePassword()">Save</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="modal fade" id="modal-resource-info" role="dialog" v-if="state.selectedPodcast != null">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{state.selectedPodcast['title']}}</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <table class="table w-100 m-3">
                            <tbody class="text-left">
                            <tr>
                                <th class="font-weight-bold w-25">
                                    <span>Title:</span>
                                </th>
                                <td class="w-75">
                                    <span>{{state.selectedPodcast['title']}}</span>
                                </td>
                            </tr>
                            <tr>
                                <th class="font-weight-bold w-25">
                                    <span>Author:</span>
                                </th>
                                <td class="w-75">
                                    <span>{{state.selectedPodcast['authorName']}}</span>
                                </td>
                            </tr>
                            <tr>
                                <th class="font-weight-bold w-25">
                                    <span>Language:</span>
                                </th>
                                <td class="w-75">
                                    <span>{{state.selectedPodcast['language']}}</span>
                                </td>
                            </tr>
                            <tr>
                                <th class="font-weight-bold w-25">
                                    <span>Program:</span>
                                </th>
                                <td class="w-75">
                                    <!--Click go to this program page-->
                                    <a class="link" href="#"><span>{{state.selectedPodcast['program']}}</span></a>
                                </td>
                            </tr>
                            <tr>
                                <th class="font-weight-bold w-25">
                                    <span>Keywords:</span>
                                </th>
                                <td class="w-75">
                                    <div class="keywords">
                                        <a href="#" v-for="(item, i) in state.selectedPodcast['keywords']">
                                            <span>{{item}}</span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="font-weight-bold w-25">
                                    <span>Description:</span>
                                </th>
                                <td class="w-75">
                                    <span>{{state.selectedPodcast['description']}}</span>
                                </td>
                            </tr>
                            <tr>
                                <th class="font-weight-bold w-25">
                                    <span>Audio File:</span>
                                </th>
                                <td class="w-75">
                                    <a class="link" href="#"><span>{{state.selectedPodcast['uploadedFile']['fileName']}}.{{state.selectedPodcast['uploadedFile']['contentType']}}</span></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <AudioPlayer
                                :key="state.audioPlayerKey"
                                :audio-file-id="state.selectedPodcast['uploadedFile']['fileId']"
                                :content-type="state.selectedPodcast['uploadedFile']['contentType']">
                        </AudioPlayer>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-orange w-25" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal fade" id="modal-create-feedback" role="dialog" tabindex="-1" aria-labelledby="createFeedbackModal" aria-hidden="true">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Write feedback for this podcast</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body" v-if="state.existingFeedback == null">
                        <form>
                            <div class="form-group">
                                <label for="feedback">Feedback</label>
                                <textarea class="form-control" id="feedback" name="feedback" v-model="state.feedback" placeholder="Write your feedback here..."></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-body" v-else>
                        <h5>Feedback comment</h5>
                        <p class="mt-3">
                            {{ state.existingFeedback.feedbackComment }}
                        </p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-green w-25" v-on:click="sendFeedback()" v-if="state.existingFeedback == null">Send</button>
                        <button type="button" class="btn btn-orange w-25" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<style>
    .table-radio-timetable tbody tr th{
        width: 14%;
    }
    .podcast-height{
        height: 140px;
    }
</style>

<script>
    import AudioPlayer from '../common/AudioPlayer';
    import RadioSchedule from './RadioSchedule';
    import {storage_getURL} from '../../../js/global.js';

    export default {
        name: 'RadioBackend',
        components: { AudioPlayer, RadioSchedule },
        data: function () {
            return {
                state: {
                    "audioPlayerKey": 0,
                    "podcasts": [],
                    "selectedPodcast": null,
                    "existingFeedback": null,
                    "feedback": "",
                    "settings": {
                        "oldPassword": null,
                        "newPassword": null,
                        "newPasswordRepeat": null,
                    },
                    "scheduleKey": 0,
                    "scheduleEntry": {
                        "day": 0,
                        "time": "",
                        "title": "",
                        "description": "",
                    }
                }
            }
        },
        computed: {},
        methods: {
            fetchPodcasts: function() {
                axios.get(storage_getURL('API_GATEWAY_STORAGE') + '/api-proxy/radio/api/admin/podcasts').then(response => {
                   this.state.podcasts = response.data;
                });
            },
            hasAdminRights: function() {
                return axios.get(storage_getURL('API_GATEWAY_STORAGE') + '/api-proxy/radio/api/admin/is-admin')
                    .then(response => {
                        return response.data;
                    });
            },
            logout: function() {
              axios.post(storage_getURL("API_GATEWAY_STORAGE") + "/api-proxy/radio/api/admin/logout")
                  .then(response => {
                      window.location.href = '/radio/login';
                  });
            },
            saveReplaceScheduleEntry: function() {
                let data = this.state.scheduleEntry;
                axios.post(storage_getURL("API_GATEWAY_STORAGE") + "/api-proxy/radio/api/admin/radio/schedule/replace", data)
                    .then(response => {
                        if (response.status == 200) {
                            this.state.scheduleEntry.day = 0;
                            this.state.scheduleEntry.time = "";
                            this.state.scheduleEntry.title = "";
                            this.state.scheduleEntry.description = "";
                        }

                       this.state.scheduleKey += 1; // re-render schedule components
                        if (response.status == 200)
                            this.showSwalAlert("Success", "Successfully saved the schedule entry", "success");
                        else
                            this.showSwalAlert("Error", "Seems like your time format is wrong", "error");
                    }, error => {
                        this.showSwalAlert("Error", "Seems like your time format is wrong", "error");
                    });
            },
            openDescriptionModal: function(podcast) {
              this.state.selectedPodcast = podcast;
              this.state.audioPlayerKey += 1;
              $("#modal-resource-info").modal();
            },
            openFeedbackModal: function(podcast) {
              this.state.selectedPodcast = podcast;
              this.state.existingFeedback = null;

              axios.get(storage_getURL('API_GATEWAY_STORAGE') + "/api-proxy/radio/api/admin/feedback/get/" + podcast['_id']['$oid'])
                  .then(response => {
                      this.state.existingFeedback = response.data;
                  })
                  .catch(error => {
                     this.state.existingFeedback = null;
                  });

              $("#modal-create-feedback").modal();
            },
            sendFeedback: function() {
                if (this.state.feedback.length > 5 && this.state.selectedPodcast != null) {
                    let feedback = {
                        "podcastId": this.state.selectedPodcast['_id']['$oid'],
                        "authorId": this.state.selectedPodcast['authorId'],
                        "feedback": this.state.feedback
                    };

                    axios.post(storage_getURL('API_GATEWAY_STORAGE') + "/api-proxy/radio/api/admin/feedback/send", feedback)
                        .then(response => {
                            $('#modal-create-feedback').modal('hide');
                            this.showSwalAlert("Success", "Feedback was created successfully", "success");
                        }).catch(error => {
                            this.showSwalAlert("Error", "An error occurred, please contact an Administrator.", "error");
                    });
                } else {
                    this.showSwalAlert("Error", "Please type in a feedback message.", "error");
                }
            },

            showSwalAlert: function(title,message,type) {
                this.$swal({
                    title: title,
                    html: message,
                    type: type,
                    confirmButtonColor: '#90d400',
                    cancelButtonColor: '#ed730e',
                    showCloseButton: true,
                });
            },

            approvePodcast: function(podcast) {
              this.state.selectedPodcast = podcast;
              let self = this;
              this.$swal({
                title: 'Are you sure?',
                text: 'Are you sure that you want to approve this content?',
                input: 'textarea',
                inputPlaceholder: 'Optional text that will be sent to the user.',
                type: 'question',
                showCancelButton: true,
                confirmButtonColor: '#90d400',
                cancelButtonColor: '#ed730e',
                confirmButtonText: "Approve",
                cancelButtonText: self.$t('viewStatusupdate.deletePostAlertCancelBtn')
              }).then(result => {
                  if (typeof result.value !== "undefined") {
                      let feedback = {
                          'podcastId': podcast['_id']['$oid'],
                          'authorId': podcast['authorId'],
                          'feedback': result.value
                      };
                      axios.post(storage_getURL('API_GATEWAY_STORAGE') + "/api-proxy/radio/api/admin/podcast/approve/" + podcast['_id']['$oid'], feedback)
                          .then(() => {
                              this.showSwalAlert("Approved", "You successfully approved this podcast.", "success");
                              this.fetchPodcasts();
                          })
                          .catch(() => {
                              this.showSwalAlert("Error", "An error occurred, please contact an Administrator.", "error");
                          });
                  }
              });
            },

            deletePodcast: function(podcast) {
                this.state.selectedPodcast = podcast;
                let self = this;
                this.$swal({
                    title: 'Are you sure?',
                    text: 'Are you sure that you want to delete this content?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#90d400',
                    cancelButtonColor: '#ed730e',
                    confirmButtonText: "Delete",
                    cancelButtonText: self.$t('viewStatusupdate.deletePostAlertCancelBtn')
                }).then(result => {
                    if (result.value) {
                        axios.post(storage_getURL('API_GATEWAY_STORAGE') + "/api-proxy/radio/api/admin/podcast/delete/" + podcast['_id']['$oid'])
                            .then(() => {
                                this.showSwalAlert("Approved", "You successfully deleted this podcast", "success");
                                this.fetchPodcasts();
                            })
                            .catch(() => {
                                this.showSwalAlert("Error", "An error occurred, please contact an Administrator.", "error");
                            });
                    }
                });
            },

            changePassword: function() {
                let data = this.state.settings;

                data.oldPassword = btoa(data.oldPassword);
                data.newPassword = btoa(data.newPassword);
                data.newPasswordRepeat = btoa(data.newPasswordRepeat);

                axios.post(storage_getURL('API_GATEWAY_STORAGE') + "/api-proxy/radio/api/admin/settings/password/change", data)
                    .then(response => {
                        this.showSwalAlert("Success", "Successfully changed the password", "success");

                        this.state.settings.oldPassword = "";
                        this.state.settings.newPassword = "";
                        this.state.settings.newPasswordRepeat = "";
                    })
                    .catch(error => {
                        this.state.settings.oldPassword = "";
                        this.state.settings.newPassword = "";
                        this.state.settings.newPasswordRepeat = "";
                        this.showSwalAlert("Error", "Either your old password is wrong or the new passwords don't match. Please try again", "error");
                    });
            },
        },
        created: function() {
            this.hasAdminRights().then((result) => {
                if (!result) {
                    window.location.href = '/radio/login';
                } else {
                    this.fetchPodcasts();
                }
            });
        }
    }
</script>

<style scoped>
    @import url("../../../css/main.css");
    @import url("../../../css/profiles.css");
    @import url("../../../css/community.css");
    @import url('../../../css/courses.css');

    #html_btn {
        display:none;
    }
</style>
