<template>
    <div class="card-body text-left p-0">
        <div class="card mt-1 p-0">
            <div class="card-header card-header-without-border p-0">
                <ul class="nav nav-tabs nav-fill" role="tablist">
                    <li class="nav-item">
                        <a  class="nav-link-s" v-bind:class="{ active: activeScheduleDay(1) }" id="s-Monday-tab" data-toggle="tab" href="#s-Monday"  role="tab" data-controls="s-Monday" aria-selected="false">
                            Monday
                        </a>
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link-s" v-bind:class="{ active: activeScheduleDay(2) }" id="s-Tuesday-tab" data-toggle="tab" href="#s-Tuesday"  role="tab" data-controls="s-Tuesday" aria-selected="false">
                            Tuesday
                        </a>
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link-s" v-bind:class="{ active: activeScheduleDay(3) }" id="s-Wednesday-tab" data-toggle="tab" href="#s-Wednesday"  role="tab" data-controls="s-Wednesday" aria-selected="false">
                            Wednesday
                        </a>
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link-s" v-bind:class="{ active: activeScheduleDay(4) }" id="s-Thursday-tab" data-toggle="tab" href="#s-Thursday"  role="tab" data-controls="s-Thursday" aria-selected="false">
                            Thursday
                        </a>
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link-s" v-bind:class="{ active: activeScheduleDay(5) }" id="s-Friday-tab" data-toggle="tab" href="#s-Friday"  role="tab" data-controls="s-Friday" aria-selected="false">
                            Friday
                        </a>
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link-s" v-bind:class="{ active: activeScheduleDay(6) }" id="s-Saturday-tab" data-toggle="tab" href="#s-Saturday"  role="tab" data-controls="s-Saturday" aria-selected="false">
                            Saturday
                        </a>
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link-s" v-bind:class="{ active: activeScheduleDay(7) }" id="s-Sunday-tab" data-toggle="tab" href="#s-Sunday"  role="tab" data-controls="s-Sunday" aria-selected="false">
                            Sunday
                        </a>
                    </li>
                </ul>
            </div>

            <div class="card-body text-left">
                <div class="tab-content">
                    <!--Tab of schedule on Monday -->
                    <div class="tab-pane fade show" v-bind:class="{ active: activeScheduleDay(1) }" id="s-Monday" role="tabpanel" aria-labelledby="s-Monday-tab">
                        <table class="table table-hover table-radio-timetable text-left">
                            <thead>
                            <tr>
                                <th scope="col">Time</th>
                                <th scope="col">Program</th>
                            </tr>
                            </thead>
                            <tbody class="text-left" v-if="state.schedule != null">
                            <tr v-for="(item) in state.schedule[0]">
                                <th>
                                    {{ item.time }}
                                </th>
                                <td>
                                    <h6>{{ item.title }}</h6>
                                    <p>{{ item.description }}</p>
                                </td>
                                <td v-if="adminpage">
                                    <button class="btn btn-danger" v-on:click="deleteEntryFromSchedule(item._id.$oid)">Delete</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane fade show" v-bind:class="{ active: activeScheduleDay(2) }" id="s-Tuesday" role="tabpanel" aria-labelledby="s-Tuesday-tab">
                        <table class="table table-hover text-left">
                            <thead>
                            <tr>
                                <th scope="col">Time</th>
                                <th scope="col">Program</th>
                            </tr>
                            </thead>
                            <tbody class="text-left" v-if="state.schedule != null">
                                <tr v-for="(item) in state.schedule[1]">
                                    <th>
                                        {{ item.time }}
                                    </th>
                                    <td>
                                        <h6>{{ item.title }}</h6>
                                        <p>{{ item.description }}</p>
                                    </td>
                                    <td v-if="adminpage">
                                        <button class="btn btn-danger" v-on:click="deleteEntryFromSchedule(item._id.$oid)">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane fade show" v-bind:class="{ active: activeScheduleDay(3) }" id="s-Wednesday" role="tabpanel" aria-labelledby="s-Wednesday-tab">
                        <table class="table table-hover text-left">
                            <thead>
                            <tr>
                                <th scope="col">Time</th>
                                <th scope="col">Program</th>
                            </tr>
                            </thead>
                            <tbody class="text-left" v-if="state.schedule != null">
                                <tr v-for="(item) in state.schedule[2]">
                                    <th>
                                        {{ item.time }}
                                    </th>
                                    <td>
                                        <h6>{{ item.title }}</h6>
                                        <p>{{ item.description }}</p>
                                    </td>
                                    <td v-if="adminpage">
                                        <button class="btn btn-danger" v-on:click="deleteEntryFromSchedule(item._id.$oid)">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane fade show" v-bind:class="{ active: activeScheduleDay(4) }" id="s-Thursday" role="tabpanel" aria-labelledby="s-Thursday-tab">
                        <table class="table table-hover text-left">
                            <thead>
                            <tr>
                                <th scope="col">Time</th>
                                <th scope="col">Program</th>
                            </tr>
                            </thead>
                            <tbody class="text-left" v-if="state.schedule != null">
                            <tr v-for="(item) in state.schedule[3]">
                                <th>
                                    {{ item.time }}
                                </th>
                                <td>
                                    <h6>{{ item.title }}</h6>
                                    <p>{{ item.description }}</p>
                                </td>
                                <td v-if="adminpage">
                                    <button class="btn btn-danger" v-on:click="deleteEntryFromSchedule(item._id.$oid)">Delete</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane fade show" v-bind:class="{ active: activeScheduleDay(5) }" id="s-Friday" role="tabpanel" aria-labelledby="s-Friday-tab">
                        <table class="table table-hover text-left">
                            <thead>
                            <tr>
                                <th scope="col">Time</th>
                                <th scope="col">Program</th>
                            </tr>
                            </thead>
                            <tbody class="text-left" v-if="state.schedule != null">
                            <tr v-for="(item) in state.schedule[4]">
                                <th>
                                    {{ item.time }}
                                </th>
                                <td>
                                    <h6>{{ item.title }}</h6>
                                    <p>{{ item.description }}</p>
                                </td>
                                <td v-if="adminpage">
                                    <button class="btn btn-danger" v-on:click="deleteEntryFromSchedule(item._id.$oid)">Delete</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane fade show" v-bind:class="{ active: activeScheduleDay(6) }" id="s-Saturday" role="tabpanel" aria-labelledby="s-Saturday-tab">
                        <table class="table table-hover text-left">
                            <thead>
                            <tr>
                                <th scope="col">Time</th>
                                <th scope="col">Program</th>
                            </tr>
                            </thead>
                            <tbody class="text-left" v-if="state.schedule != null">
                            <tr v-for="(item) in state.schedule[5]">
                                <th>
                                    {{ item.time }}
                                </th>
                                <td>
                                    <h6>{{ item.title }}</h6>
                                    <p>{{ item.description }}</p>
                                </td>
                                <td v-if="adminpage">
                                    <button class="btn btn-danger" v-on:click="deleteEntryFromSchedule(item._id.$oid)">Delete</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane fade show" v-bind:class="{ active: activeScheduleDay(7) }" id="s-Sunday" role="tabpanel" aria-labelledby="s-Sunday-tab">
                        <table class="table table-hover text-left">
                            <thead>
                            <tr>
                                <th scope="col">Time</th>
                                <th scope="col">Program</th>
                            </tr>
                            </thead>
                            <tbody class="text-left" v-if="state.schedule != null">
                            <tr v-for="(item) in state.schedule[6]">
                                <th>
                                    {{ item.time }}
                                </th>
                                <td>
                                    <h6>{{ item.title }}</h6>
                                    <p>{{ item.description }}</p>
                                </td>
                                <td v-if="adminpage">
                                    <button class="btn btn-danger" v-on:click="deleteEntryFromSchedule(item._id.$oid)">Delete</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { storage_getURL } from '../../../js/global.js';
    export default {
        name: "RadioSchedule",
        props: {
          adminpage: {
              type: Boolean,
              required: true,
          }
        },
        data: function() {
            return {
                state: {
                    'schedule': null,
                }
            }
        },

        mounted() {
            this.fetchSchedule();
        },

        methods: {
            fetchSchedule: function() {
                axios.get(storage_getURL('API_GATEWAY_STORAGE') + "/api-proxy/radio/api/radio/radio/schedule")
                    .then(response => {
                        this.state.schedule = response.data;
                    });
            },
            deleteEntryFromSchedule: function(entryId) {
                let self = this;
                this.$swal({
                    title: 'Are you sure?',
                    text: 'Are you sure that you want to delete this entry?',
                    type: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#90d400',
                    cancelButtonColor: '#ed730e',
                    confirmButtonText: "Delete",
                    cancelButtonText: self.$t('viewStatusupdate.deletePostAlertCancelBtn')
                }).then(result => {
                    if (result.value) {
                        axios.post(storage_getURL('API_GATEWAY_STORAGE') + "/api-proxy/radio/api/admin/radio/schedule/" + entryId + "/remove")
                            .then(response => {
                                if (response.data) {
                                    this.fetchSchedule();
                                }
                            });
                    }
                });
            },
            activeScheduleDay: function(day) {
                let date = new Date();
                return (date.getDay() == day);
            },
        }
    }
</script>