<template>
        <iframe v-bind:id="this.id"
                title='Flash Player'
                v-bind:src="this.url"
                v-bind:width="this.width"
                v-bind:height="this.height"
                scrolling='yes'
                frameborder='0'
                marginheight='0'
                marginwidth='0'
                allowtransparency='true'>
            <p>Your browser does not support iframes.
                <a v-bind:href="radioSource()">
                    View the content of this inline frame</a> with your browser</p>
        </iframe>
</template>

<script>
    export default {
        name: "RadioFrame",
        props: {
            id: {
                type: String,
                required: true,
            },
            width: {
                type: String,
                required: true,
            },
            height: {
                type: String,
                required: true,
            }
        },

        components: {},
        data: function() {
            return {
                url: '',
            }
        },

        mounted() {
            this.url = this.radioSource();
        },

        methods: {
            radioSource: function() {
                if (this.id == "mainRadioFrame") {
                    let url = "//samcloudmedia.spacial.com/webwidgets/player/v4/600x100.html?sid=109619&rid=189474&f=mp3,any&startstation=false&theme=light&showBuyButton=never&token=14da4c40a8a20444399c7704b76a793766e1c3f5";

                    if (this.$i18n.i18next.language == 'es')
                        url = "//samcloudmedia.spacial.com/webwidgets/player/v4/600x100.html?sid=110368&rid=190320&startstation=false&theme=light&showBuyButton=never&token=26b65ee5f23d6badddcba3143c0b22f9f0804c64";

                    return url;
                } else {
                    let url = "//samcloudmedia.spacial.com/webwidgets/player/v4/300x160.html?sid=109619&rid=189474&f=mp3,any&startstation=false&theme=light&showBuyButton=never&token=14da4c40a8a20444399c7704b76a793766e1c3f5";

                    if (this.$i18n.i18next.language == 'es')
                        url = "//samcloudmedia.spacial.com/webwidgets/player/v4/300x160.html?sid=110368&rid=190320&startstation=false&theme=light&showBuyButton=never&token=26b65ee5f23d6badddcba3143c0b22f9f0804c64";

                    return url;
                }
            },
        }
    }
</script>