<template>
  <!-- *************************************** -->
  <!-- Modal window - Create new a mission -->
  <!-- *************************************** -->

  <div class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header pb-1">
          <h5 class="modal-title">{{ $t('createmissionmodal.mission_create') }}</h5>
          <button aria-label="Close" class="close" data-dismiss="modal" id="closeModal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body text-left">
          <!-- Progress Bar -->
          <div class="stepwizard">
            <div class="stepwizard-row setup-panel">
              <div class="stepwizard-step">
                <a class="btn btn-green btn-round" href="#step-1" id="step1" @click="gotoStep">{{
                  $t('createmissionmodal.1')
                }}</a>
                <p>{{ $t('createmissionmodal.info_basic') }}</p>
              </div>
              <div class="stepwizard-step">
                <a class="btn btn-default btn-round" href="#step-2" @click="gotoStep">{{
                  $t('createmissionmodal.2')
                }}</a>
                <p>{{ $t('createmissionmodal.details') }}</p>
              </div>
              <div class="stepwizard-step">
                <a class="btn btn-default btn-round" href="#step-3" @click="gotoStep">{{
                  $t('createmissionmodal.3')
                }}</a>
                <p>{{ $t('createmissionmodal.templates') }}</p>
              </div>
              <div class="stepwizard-step">
                <a class="btn btn-default btn-round" href="#step-4" id="step4" @click="gotoStep">{{
                  $t('createmissionmodal.4')
                }}</a>
                <p>{{ $t('createmissionmodal.permissions') }}</p>
              </div>
            </div>
          </div>

          <!-- Tab 01 - Basic Informations: Mission name and languages, keywords, mode, time -->
          <!--
            After creating this courses, Mission name, stage, difficulty and topics will be generated as keywords automaticlly.
          -->

          <div class="setup-content" id="step-1">
            <form class="mt-2 needs-validation" id="basicInfoForm" novalidate role="form">
              <div class="form-group">
                <label for="enterMissionName">
                  <h6 class="mb-0">{{ $t('createmissionmodal.name') }}</h6>
                </label>
                <input
                  class="form-control"
                  id="enterMissionName"
                  maxlength="100"
                  :placeholder="$t('createmissionmodal.input_placeholder_mission_name')"
                  required
                  type="text"
                  v-model="state.generalMetadata.title"
                />
                <div class="invalid-feedback">{{ $t('createmissionmodal.please_name') }}</div>
              </div>

              <div class="form-group">
                <label for="selectLanguage">
                  <h6 class="mb-0">{{ $t('createmissionmodal.language') }}</h6>
                </label>
                <select id="selectLanguage" class="form-control" v-model="state.generalMetadata.language">
                  <option v-for="(language, key) in $t('languages', { returnObjects: true })" :value="key">{{
                    language
                  }}</option>
                </select>
                <!--
                  <div class="invalid-feedback">
                      {{ $t('createmissionmodal.please_name') }}
                  </div>
                -->
              </div>

              <div class="form-group">
                <label>
                  <h6 class="mb-0">{{ $t('createmissionmodal.keywords') }}</h6>
                </label>
                <br />
                <KeywordSearchBar
                  :id="'inputKeywords'"
                  :initial-keywords="state.generalMetadata.keywords"
                  class="form-control"
                  v-on:keywordsChanged="handleKeywordChanged"
                ></KeywordSearchBar>
                <small>{{ $t('createmissionmodal.tip_words') }}</small>
              </div>

              <div class="form-group" v-if="!this.missionId">
                <label>
                  <h6 class="mb-0">{{ $t('createmissionmodal.mode') }}</h6>
                </label>
                <br />
                <div class="custom-control custom-radio custom-control-inline">
                  <input
                    :value="true"
                    class="custom-control-input"
                    id="selfPaced"
                    name="eduDeliveryRadio"
                    type="radio"
                    v-model="selfPaced"
                  />
                  <label class="custom-control-label" for="selfPaced">{{ $t('createmissionmodal.self_paced') }}</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input
                    :value="false"
                    class="custom-control-input"
                    id="instructorLed"
                    name="eduDeliveryRadio"
                    type="radio"
                    v-model="selfPaced"
                  />
                  <label class="custom-control-label" for="instructorLed">{{
                    $t('createmissionmodal.instructor_led')
                  }}</label>
                </div>
              </div>
              <!-- Duration：Calendar dates OR duration in weeks. -->
              <div class="form-group">
                <label>
                  <h6 class="mb-0">{{ $t('createmissionmodal.mission_timing') }}</h6>
                </label>
                <div v-if="!state.educationalMetadata.isSelfPaced">
                  <div class="d-flex">
                    <label class="mt-2 mr-4" for="inputStartDate">{{ $t('createmissionmodal.from') }}</label>
                    <input class="form-control mr-4" id="inputStartDate" type="date" v-model="startDateAsString" />
                    <label class="ml-2 mt-2 mr-4" datefor="inputFinishDate">{{ $t('createmissionmodal.to') }}</label>
                    <input class="form-control" id="inputFinishDate" type="date" v-model="finishDateAsString" />
                  </div>
                </div>
                <div class="input-group" v-if="state.educationalMetadata.isSelfPaced">
                  <div class="d-flex">
                    <label class="mt-2 mr-4" for="inputStartDate">{{ $t('createmissionmodal.duration') }}</label>
                    <input
                      class="form-control mr-2"
                      id="inputRecommDuration"
                      type="number"
                      step="0.1"
                      :placeholder="$t('createmissionmodal.input_placeholder_number_enter')"
                      required
                      v-model="state.educationalMetadata.suggestedTime"
                    />
                    <span class="mt-2">{{ $t('createmissionmodal.hours') }}</span>
                  </div>
                </div>
              </div>
            </form>
            <hr class="m-3" />
            <button class="btn btn-green nextBtn pull-right w-25 mr-4" type="button" @click="showNextStep">
              {{ $t('createmissionmodal.next') }}
            </button>
          </div>

          <!-- Tab 02 - Mission stage, difficulty, and topics -->
          <div class="setup-content" id="step-2">
            <!-- form -->
            <div class="form-group">
              <label for="formMCStageSelect">
                <h6 class="mb-0">{{ $t('createmissionmodal.stage') }}</h6>
              </label>
              <select class="form-control" id="formMCStageSelect" @change="selectedStage">
                <option :value="stage" v-for="stage in stageValues">{{ stage }}</option>
              </select>
            </div>
            <!-- /form -->
            <!-- form -->
            <div class="form-group">
              <label for="formMCDiffSelect">
                <h6 class="mb-0">{{ $t('createmissionmodal.difficulty') }}</h6>
              </label>
              <select class="form-control" id="formMCDiffSelect" @change="selectedDifficulty">
                <option :value="difficulty" v-for="difficulty in difficultyValues">{{ difficulty }}</option>
              </select>
            </div>
            <!-- /form -->
            <div class="form-group mt-2 mb-2">
              <label>
                <h6 class="mb-0">{{ $t('createmissionmodal.fields') }}</h6>
              </label>
              <!-- Topic is Multi-choose. -->
              <div id="preserve-metadata">
                <ol class="shift-select-container pl-0">
                  <li
                    class="multi-choice-option shift-select-item btn"
                    v-bind:class="isTopicClickedIndex(index) ? 'checked' : ''"
                    @click="topicClicked"
                    v-for="(topic, index) in topicValues"
                  >
                    {{ topic }} <input :value="topic" :id="'input_topic_t'+index" type="hidden" />
                  </li>
                </ol>
              </div>
            </div>
            <hr class="m-3" />
            <button class="btn btn-orange prevBtn pull-left w-25 ml-4" type="button" @click="showPreviousStep">
              {{ $t('createmissionmodal.prev') }}
            </button>
            <button class="btn btn-green nextBtn pull-right w-25 mr-4" type="button" @click="showNextStep">
              {{ $t('createmissionmodal.next') }}
            </button>
          </div>

          <!-- Tab 03 - Mission template -->
          <div class="setup-content" id="step-3">
            <form>
              <div class="form-group">
                <label>
                  <h6 class="mb-0">{{ $t('createmissionmodal.model_template') }}</h6>
                </label>
                <br />
                <small class="mt-2">
                  {{ $t('createmissionmodal.model_learn') }}
                  <a href="#">
                    <i>{{ $t('createmissionmodal.click') }}</i>
                  </a>
                  {{ $t('createmissionmodal.tutorials_read') }}
                </small>
                <div class="list-group mt-3 mb-2">
                  <button
                          id="button_templates_t1"
                    :disabled="this.missionId"
                    class="list-group-item list-group-item-action flex-column align-items-start"
                    v-bind:class="{ active: state.educationalMetadata.template === $t('templates.t1') }"
                    @click="selectTemplate"
                  >
                    <input type="hidden" :value="$t('templates.t1')" />
                    <div class="d-flex w-100 justify-content-between">
                      <h6 class="mb-1">{{ $t('templates.t1') }}</h6>
                    </div>
                    <p class="mb-1">{{ $t('createmissionmodal.elit_non') }}</p>
                    <small>{{ $t('createmissionmodal.elit_non1') }}</small>
                  </button>
                  <button
                          id="button_templates_t2"
                    :disabled="this.missionId"
                    class="list-group-item list-group-item-action flex-column align-items-start"
                    v-bind:class="{ active: state.educationalMetadata.template === $t('templates.t2') }"
                    @click="selectTemplate"
                  >
                    <input type="hidden" :value="$t('templates.t2')" />
                    <div class="d-flex w-100 justify-content-between">
                      <h6 class="mb-1">{{ $t('templates.t2') }}</h6>
                    </div>
                    <p class="mb-1">{{ $t('createmissionmodal.elit_non2') }}</p>
                    <small>{{ $t('createmissionmodal.elit_non3') }}</small>
                  </button>
                  <button
                          id="button_templates_t3"
                    class="list-group-item list-group-item-action flex-column align-items-start"
                    disabled
                    v-bind:class="{ active: state.educationalMetadata.template === $t('templates.t3') }"
                    @click="selectTemplate"
                  >
                    <input type="hidden" :value="$t('templates.t3')" />
                    <div class="d-flex w-100 justify-content-between">
                      <h6 class="mb-1">{{ $t('templates.t3') }}</h6>
                    </div>
                    <p class="mb-1">{{ $t('createmissionmodal.elit_non4') }}</p>
                    <small>{{ $t('createmissionmodal.elit_non5') }}</small>
                  </button>
                  <button
                          id="button_templates_t4"
                    class="list-group-item list-group-item-action flex-column align-items-start"
                    disabled
                    v-bind:class="{ active: state.educationalMetadata.template === $t('templates.t4') }"
                    @click="selectTemplate"
                  >
                    <input type="hidden" :value="$t('templates.t4')" />
                    <div class="d-flex w-100 justify-content-between">
                      <h6 class="mb-1">{{ $t('templates.t4') }}</h6>
                    </div>
                    <p class="mb-1">{{ $t('createmissionmodal.elit_non6') }}</p>
                    <small>{{ $t('createmissionmodal.elit_non7') }}</small>
                  </button>
                </div>
              </div>
            </form>
            <hr class="m-3" />
            <button class="btn btn-orange prevBtn pull-left w-25 ml-4" type="button" @click="showPreviousStep">
              {{ $t('createmissionmodal.prev2') }}
            </button>
            <button class="btn btn-green nextBtn pull-right w-25 mr-4" type="button" @click="showNextStep">
              {{ $t('createmissionmodal.next2') }}
            </button>
          </div>

          <!-- Tab 04 - Mission permission -->
          <div class="setup-content" id="step-4">
            <form>
              <div class="form-group">
                <label>
                  <h6 class="mb-0">{{ $t('createmissionmodal.privacy') }}</h6>
                </label>
                <br />
                <div class="custom-control custom-radio mr-5">
                  <input
                    class="custom-control-input"
                    id="BInfoPravicyPublic"
                    name="privacyRadio"
                    type="radio"
                    v-bind:value="true"
                    v-model="state.educationalMetadata.isPublic"
                  />
                  <label class="custom-control-label" for="BInfoPravicyPublic">{{
                    $t('createmissionmodal.mission_public')
                  }}</label>
                </div>
                <small class="ml-4">{{ $t('createmissionmodal.mission_user') }}</small> <br />
                <div class="custom-control custom-radio mr-5 mt-3">
                  <input
                    class="custom-control-input"
                    id="BInfoPravicyPrivate"
                    name="privacyRadio"
                    type="radio"
                    v-bind:value="false"
                    v-model="state.educationalMetadata.isPublic"
                  />
                  <label class="custom-control-label" for="BInfoPravicyPrivate">{{
                    $t('createmissionmodal.mission_private')
                  }}</label>
                </div>
                <small class="ml-4">{{ $t('createmissionmodal.mission_users') }}</small>
              </div>
              <div v-if="state.educationalMetadata.isPublic" class="form-group">
                <label for="agreePermission">
                  <h6 class="mb-0">{{ $t('createmissionmodal.permissions2') }}</h6>
                </label>
                <br />
                <label class="select-checkbox mr-2">
                  <input required id="agreePermission" type="checkbox" /> <span class="select-checkmark"></span>
                  <span class="checkbox-label">{{ $t('createmissionmodal.agree') }}</span>
                </label>
                <div id="permissionInvalidFeedback" class="invalid-feedback">
                  {{ $t('createmissionmodal.permission_invalid_feedback') }}
                </div>
                <small>{{ $t('createmissionmodal.access_teachers') }}</small>
              </div>
            </form>
            <hr class="m-3" />
            <button class="btn btn-orange prevBtn w-25 ml-4" type="button" @click="showPreviousStep">
              {{ $t('createmissionmodal.prev2') }}
            </button>
            <button class="btn btn-green nextBtn pull-right w-25 mr-4" type="button" @click="submitCreateMissionForm">
              {{ $t('createmissionmodal.create') }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'CreateMissionModal',
  components: {
    KeywordSearchBar: () => import(/*webpackChunkName: "keywordSearchbar"*/ '../../common/KeywordSearchBar')
  },
  props: ['missionId', 'generalMetadata', 'educationalMetadata'],
  data() {
    return {
      state: {
        generalMetadata: {},
        educationalMetadata: {},
        currentStep: {}
      },
      selfPaced: true,
      startDateAsString: '',
      finishDateAsString: '',
      topicValues: [],
      difficultyValues: [],
      stageValues: [],
      templateValues: [],
      languages: []
    };
  },
  watch: {
    selfPaced: function(newVal) {
      this.state.educationalMetadata.isSelfPaced = newVal;
    },
    generalMetadata: function(newVal) {
      this.state.generalMetadata = newVal;
    },
    educationalMetadata: function(newVal) {
      this.state.educationalMetadata = newVal;
      this.startDateAsString = new Date(new Number(this.state.educationalMetadata.startDate.$numberLong))
        .toISOString()
        .substring(0, 10);
      this.finishDateAsString = new Date(new Number(this.state.educationalMetadata.finishDate.$numberLong))
        .toISOString()
        .substring(0, 10);
    },
    startDateAsString: function(newVal) {
      this.state.educationalMetadata.startDate = {
        $numberLong: new Date(newVal).getTime()
      };
    },
    finishDateAsString: function(newVal) {
      this.state.educationalMetadata.finishDate = {
        $numberLong: new Date(newVal).getTime()
      };
    }
  },
  created() {
    if (!this.missionId) {
      this.state.generalMetadata.title = '';
      this.state.generalMetadata.keywords = [];
      this.state.generalMetadata.language = this.$i18n.i18next.language;

      let educationalMetadata = {};
      educationalMetadata.isPublic = true;
      educationalMetadata.difficulty = 'Basic';
      educationalMetadata.stage = 'Primary';
      educationalMetadata.topics = [];
      educationalMetadata.isSelfPaced = true;
      educationalMetadata.template = 'Blank';
      this.state.educationalMetadata = educationalMetadata;

      this.startDateAsString = new Date().toISOString().substring(0, 10);
      this.finishDateAsString = new Date().toISOString().substring(0, 10);
    }

    this.topicValues = Object.values(this.$t('topicValues', { returnObjects: true }));
    this.difficultyValues = Object.values(this.$t('difficultyValues', { returnObjects: true }));
    this.stageValues = Object.values(this.$t('stageValues', { returnObjects: true }));
    this.templateValues = Object.values(this.$t('templateValues', { returnObjects: true }));
    this.languages = Object.values(this.$t('languages', { returnObjects: true }));
    this.$i18n.i18next.on('languageChanged', () => {
      this.topicValues = Object.values(this.$t('topicValues', { returnObjects: true }));
      this.difficultyValues = Object.values(this.$t('difficultyValues', { returnObjects: true }));
      this.stageValues = Object.values(this.$t('stageValues', { returnObjects: true }));
      this.templateValues = Object.values(this.$t('templateValues', { returnObjects: true }));
      this.languages = Object.values(this.$t('languages', { returnObjects: true }));
    });
  },
  methods: {
      selectedStage(e) {
          if(e.target.options.selectedIndex > -1) {
              var index = e.target.options.selectedIndex;
              if (index===0)
                  this.state.educationalMetadata.stage = 'Primary'
              else if (index===1)
                  this.state.educationalMetadata.stage = 'Lower Secondary';
              else if (index===2)
                  this.state.educationalMetadata.stage = 'Upper Secondary';
          }
      },
      selectedDifficulty(e) {
          if(e.target.options.selectedIndex > -1) {
              var index = e.target.options.selectedIndex;
              if (index===0)
                  this.state.educationalMetadata.difficulty = 'Basic'
              else if (index===1)
                  this.state.educationalMetadata.difficulty = 'Intermediate';
              else if (index===2)
                  this.state.educationalMetadata.difficulty = 'Advanced';
          }
      },
    initCreateMissionModal() {
      $('.setup-content').hide();
      let allWizards = $('div.setup-panel div a');
      for (let i = 0; i < allWizards.length; i++) {
        $(allWizards[i])
          .removeClass('btn-green')
          .addClass('btn-default');
      }
      $('div.setup-panel div a[href="#step-1"]').addClass('btn-green');
      $('#agreePermission').prop('checked', false);
      $('#basicInfoForm').removeClass('was-validated');
      $('#basicInfoForm').addClass('needs-validated');
      let $target = $('#step-1');
      this.state.currentStep = $target;
      $target.show();

      $('#permissionInvalidFeedback').hide();
    },
    handleKeywordChanged(e) {
      console.log(e);
      this.state.generalMetadata.keywords = e;
    },

    /**
     * Checks if inputs are valid.
     * @returns {number} : The step of the first invalid input.
     */
    validateForm() {
      if (!$('#enterMissionName')[0].validity.valid) {
        $('#basicInfoForm').addClass('was-validated');
        return 0;
      }

      if (this.state.educationalMetadata.isPublic && !$('#agreePermission')[0].validity.valid) {
        $('#permissionInvalidFeedback').show();
        return 3;
      }

      $('#permissionInvalidFeedback').hide();
      return -1;
    },
    showNextStep(event) {
      let $this = event.target;
      let curStepFormGroup = $($this).closest('.setup-content');
      let nextStepFormGroup = $(curStepFormGroup).next('.setup-content');
      this.state.currentStep = nextStepFormGroup;
      let curStepWizard = $('div.setup-panel div a[href="#' + curStepFormGroup.attr('id') + '"]');
      let nextStepWizard = $('div.setup-panel div a[href="#' + nextStepFormGroup.attr('id') + '"]');
      curStepFormGroup.hide();
      nextStepFormGroup.show();
      curStepWizard.removeClass('btn-green').addClass('btn-default');
      nextStepWizard.removeClass('btn-default').addClass('btn-green');
    },
    showPreviousStep(event) {
      let $this = event.target;
      let curStepFormGroup = $($this).closest('.setup-content');
      let prevStepFormGroup = $(curStepFormGroup).prev('.setup-content');
      this.state.currentStep = prevStepFormGroup;
      let curStepWizard = $('div.setup-panel div a[href="#' + curStepFormGroup.attr('id') + '"]');
      let prevStepWizard = $('div.setup-panel div a[href="#' + prevStepFormGroup.attr('id') + '"]');
      curStepFormGroup.hide();
      prevStepFormGroup.show();
      curStepWizard.removeClass('btn-green').addClass('btn-default');
      prevStepWizard.removeClass('btn-default').addClass('btn-green');
    },
    gotoStep(event) {
      let stepBreadcrumb = event.target;
      let allBreadcrumbs = $(stepBreadcrumb)
        .parent()
        .parent()
        .find('a');
      for (let i = 0; i < allBreadcrumbs.length; i++) {
        $(allBreadcrumbs[i]).removeClass('btn-green');
        $(allBreadcrumbs[i]).addClass('btn-default');
      }
      $(stepBreadcrumb).removeClass('btn-default');
      $(stepBreadcrumb).addClass('btn-green');
      $(this.state.currentStep).hide();
      this.state.currentStep = $($(stepBreadcrumb).attr('href'));
      $(this.state.currentStep).show();
    },
      isTopicClickedIndex(index) {
          if (!$.isArray(this.state.educationalMetadata.topics)) return false;
          let topicValue = "";
          if (index===0)
              topicValue = "Science";
          else if (index===1)
              topicValue = "Technology";
          else if (index===2)
              topicValue = "Innovation";
          else if (index===3)
              topicValue = "Mathematics";
          else if (index===4)
              topicValue = "Engineering";
          else if (index===5)
              topicValue = "Entrepreneurship";
          return this.state.educationalMetadata.topics.includes(topicValue);
      },
    isTopicClicked(topic) {
      if (!$.isArray(this.state.educationalMetadata.topics)) return false;
      return this.state.educationalMetadata.topics.includes(topic);
    },
    topicClicked(event) {
      let topicButton = event.target;

      let topicId = $(topicButton).find('input')[0].id;
      let topicValue = "";
      //let topicValue = $(topicButton).find('input')[0].value;

        if (topicId==="input_topic_t0")
            topicValue = "Science";
        else if (topicId==="input_topic_t1")
            topicValue = "Technology";
        else if (topicId==="input_topic_t2")
            topicValue = "Innovation";
        else if (topicId==="input_topic_t3")
            topicValue = "Mathematics";
        else if (topicId==="input_topic_t4")
            topicValue = "Engineering";
        else if (topicId==="input_topic_t5")
            topicValue = "Entrepreneurship";

        console.log(topicValue);

      if (this.isTopicClicked(topicValue)) {
        let indexOfTopicValue = this.state.educationalMetadata.topics.indexOf(topicValue);
        this.state.educationalMetadata.topics.splice(indexOfTopicValue, 1);
        $(topicButton).removeClass('checked');
      } else {
        this.state.educationalMetadata.topics.push(topicValue);
        $(topicButton).addClass('checked');
      }
    },
    selectTemplate(event) {
      let $clickedTemplate = event.target.closest('button');
      let $allTemplates = $($clickedTemplate)
        .parent()
        .find('button');
      $($allTemplates).removeClass('active');
      $($clickedTemplate).addClass('active');
      //template name is in first input
      let text = $($clickedTemplate).find('input')[0].value;
      console.log(text);
      if (event.target.id==="button_templates_t1")
          this.state.educationalMetadata.template = "Blank";
      else if (event.target.id==="button_templates_t2")
          this.state.educationalMetadata.template = "Progressive Inquiry Model";
      else if (event.target.id==="button_templates_t3")
          this.state.educationalMetadata.template = "Problem Based Model";
      else if (event.target.id==="button_templates_t4")
          this.state.educationalMetadata.template = "Project Based Model";

      event.preventDefault();
    },
    submitCreateMissionForm() {
      let stepThatIsNotValid = this.validateForm();
      switch (stepThatIsNotValid) {
        case -1:
          break;
        case 0: {
          $('#step1')[0].click();
          return;
        }
        case 1:
        case 2:
        case 3:
          $('#step4')[0].click();
          return;
        default:
          break;
      }

      let newMissionData = {};
      newMissionData.generalMetadata = this.state.generalMetadata;
      newMissionData.educationalMetadata = this.state.educationalMetadata;
      if (this.missionId) {
        //the author is updating an existing mission
        newMissionData.missionId = this.missionId;
      }

      $('.modal-backdrop').remove();
      $('#closeModal').trigger('click');
      this.resetModal();
      this.$emit('createMissionModalSubmitted', newMissionData);
    },
    resetModal() {
      this.initCreateMissionModal();
    }
  },
  mounted() {
    this.initCreateMissionModal();
  }
};
</script>
<style scoped>
KeywordSearchBar div {
  border: none;
  box-shadow: none;
}
</style>
