<template>
  <div class="modal fade" id="modal-create-community" role="dialog">
    <div class="modal-dialog" role="document">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header pb-1">
          <h5 class="modal-title">{{ $t('community_overview.create_a_comm') }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- content goes here -->

          <form>
            <div class="form-group form-inline">
              <div class="custom-control custom-radio custom-control-inline mr-5">
                <input
                  v-model="state.newCommunity.privacy"
                  type="radio"
                  id="ComPravicyPublic"
                  class="custom-control-input"
                  name="customRadio"
                  value="Public"
                />
                <label class="custom-control-label" for="ComPravicyPublic">
                  {{ $t('community_overview.public') }}
                </label>
                <span class="tooltiptext"> {{ $t('community_overview.public_tip') }} </span>
              </div>
              <div class="custom-control custom-radio custom-control-inline mr-5">
                <input
                  v-model="state.newCommunity.privacy"
                  type="radio"
                  id="ComPravicyPrivate"
                  class="custom-control-input"
                  name="customRadio"
                  value="Private"
                />
                <label class="custom-control-label" for="ComPravicyPrivate">
                  {{ $t('community_overview.private') }}
                </label>

                <span class="tooltiptext"> {{ $t('community_overview.private_tip') }} </span>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input
                  v-model="state.newCommunity.privacy"
                  type="radio"
                  id="ComPravicyOnlyMe"
                  class="custom-control-input"
                  name="customRadio"
                  value="Closed"
                />
                <label class="custom-control-label" for="ComPravicyOnlyMe">
                  {{ $t('community_overview.closed') }}
                </label>
                <span class="tooltiptext"> {{ $t('community_overview.closed_tip') }} </span>
              </div>
            </div>
          </form>
          <form>
            <div class="form-group">
              <label for="formenterCommNameInput"
                ><h6 class="mb-0">{{ $t('community_overview.name') }}</h6></label
              >
              <input
                v-model="state.newCommunity.communityName"
                type="text"
                class="form-control"
                id="formenterCommNameInput"
                v-bind:placeholder="$t('community_overview.name_placeholder')"
              />
            </div>
            <div class="form-group">
              <label for="enterCommKeywords"
                ><h6 class="mb-0">{{ $t('community_overview.keywords') }}</h6></label
              >
              <!--
                <input v-model="state.newComm.keywords" type="text" class="form-control" id="enterCommKeywords" placeholder="Enter # to add keywords...">
              -->
              <KeywordSearchBar
                :id="'inputKeywords'"
                v-on:keywordsChanged="handleKeywordChanged"
                :initial-keywords="state.newCommunity.keywords"
                class="form-control"
              >
              </KeywordSearchBar>
            </div>
            <div class="form-group">
              <label for="community-description"
                ><h6 class="mb-0">{{ $t('community_overview.description') }}</h6></label
              >
              <textarea
                v-model="state.newCommunity.description"
                class="form-control"
                rows="5"
                id="commDescription"
                name="community-description"
                v-bind:placeholder="$t('community_overview.description_placeholder')"
              ></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button @click="resetModal();" type="button" class="btn btn-orange w-25" data-dismiss="modal">
            {{ $t('community_overview.cancel') }}
          </button>
          <button @click="createCommunity();" type="button" class="btn btn-green w-25" data-dismiss="modal">
            {{ $t('community_overview.create') }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import KeywordSearchBar from '../../common/KeywordSearchBar';

export default {
  name: 'CreateCommunityModal',
  components: {
    KeywordSearchBar
  },
  props: {
    missionID: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      state: {
        newCommunity: {}
      }
    };
  },
  mounted() {},
  updated() {
    //this.$emit('keywordsChanged', this.state.newCommunity.keywords);
  },

  methods: {
    createCommunity() {
      console.log(this.missionID);
      axios
        .post(
          getCommunityApiUrl('API_GATEWAY_STORAGE') + '/communities/missions/' + this.missionID,
          this.state.newCommunity
        )
        .then(response => {
          console.log(response.data);
          this.$emit('newCommunityCreated', response.data);
          //this.state.comms.all = response.data.allComms;
          //this.state.comms.pending = response.data.pendingComms;
          //this.state.comms.managed = response.data.managedComms;
          //this.state.comms.member = response.data.memberComms;
          //this.state.comms.interesting = response.data.interestingComms;
          //this.state.comms.popular = response.data.popularComms;
        });
    },

    handleKeywordChanged(e) {
      this.state.newCommunity.keywords = e;
      //this.$forceUpdate();
    },

    resetModal() {
      this.state.newCommunity.privacy = '';
      this.state.newCommunity.communityName = '';
      this.state.newCommunity.keywords = '';
      this.state.newCommunity.description = '';
    }
  }
};
</script>
<style scoped></style>
