<template>
  <!-- *************************************** -->
  <!-- missions editing before publishing - Card Header --- Mission Basic Infos. -->
  <!-- Next file: Mission Editing.vue -->
  <!-- *************************************** -->

  <div>
    <!-- Mission basic information: name, keywords etc. -->
    <div class="card">
      <div class="card-header">
        <div class="row">
          <!-- Mission Cover Image -->
          <div class="col-xl-4 col-lg-4 col-md-6">
            <div class="mission-cover">
              <a class="btn btn-rect-lg">
                <label for="missionAvatar">
                  <div v-if="showDefaultAvatar">
                    <img
                      alt="$t('generalmissionmetadatacard.alt_avatar')"
                      class="clearfix w-100"
                      src="../../../../img/CRASH-PLANET.png"
                    />
                  </div>
                  <div v-else>
                    <img
                      alt="$t('generalmissionmetadatacard.alt_avatar')"
                      class="clearfix w-100"
                      :src="`${this.filesApiUrl}/${state.generalMetadata.avatarImageId}`"
                      height="100%"
                    />
                  </div>
                </label>
                <input
                  v-if="this.editable"
                  @change="changeMissionAvatar"
                  class="customInput"
                  id="missionAvatar"
                  type="file"
                  accept="image/*"
                />
              </a>
              <div class="cover-card">
                <label v-if="this.editable" for="missionAvatar">
                  <img
                    alt="$t('generalmissionmetadatacard.alt_add')"
                    class="w-50"
                    src="../../../../img/ICON_Add-Picture.png"
                    :title="$t('generalmissionmetadatacard.title_add')"
                  />
                </label>
              </div>
            </div>
          </div>

          <div class="col-xl-8 col-lg-8 col-md-6 text-left">
            <!--
              When click this "edit-icon", theachers can edit courses name, difficulty and keywords at the same time.
            -->
            <!-- Inspired username (Creator) is the user, who create this mission. Can NOT be changed. -->
            <!-- If a teacher A copy this mission, then this teacher A is Mission Leader. -->
            <a
              aria-expanded="false"
              aria-haspopup="true"
              data-toggle="dropdown"
              class="btn btn-circle float-right mt-2 mr-2"
            >
              <img src="../../../../img/ICON_Others_Profile.png" />
            </a>
            <div class="dropdown-menu dropdown-menu-right ml-2">
              <a
                v-if="this.editable"
                class="dropdown-item"
                data-target="#modal-edit-mission-meta"
                data-toggle="modal"
                :title="$t('')"
              >
                {{ $t('generalmissionmetadatacard.title_edit_mission') }}
              </a>
              <a v-if="this.editable" class="dropdown-item" data-toggle="modal" data-target="#modal-add-robot-action">
                {{ $t('generalmissionmetadatacard.title_edit_robot_actions') }}
              </a>
              <a
                v-if="this.editable && generalMetadata.published"
                class="dropdown-item"
                data-toggle="modal"
                data-target="#modal-send-announcement"
              >
                {{ $t('generalmissionmetadatacard.send_announcement') }}
              </a>
              <a v-if="showCopyButton" @click="copyMission" class="dropdown-item">
                {{ $t('generalmissionmetadatacard.title_copy_mission') }}
              </a>
              <a v-if="showDeleteButton" @click="deleteMission" class="dropdown-item">
                {{ $t('generalmissionmetadatacard.title_delete_mission') }}
              </a>
              <a v-if="!this.editable" @click="reportMission" class="dropdown-item">
                {{ $t('generalmissionmetadatacard.title_report_mission') }}
              </a>
            </div>

            <div class="cover-detail mt-4">
              <h3>
                <!-- This icon is for the permmsion. Whether this mission is allowed to be copied, or not. -->
                <a
                  v-if="this.educationalMetadata.isPublic"
                  class="btn btn-circle"
                  :title="$t('generalmissionmetadatacard.mission_available_copy')"
                >
                  <img
                    alt="$t('generalmissionmetadatacard.alt_permssion')"
                    class="clearfix"
                    src="../../../../img/solid-hand.png"
                  />
                </a>
                <a v-else class="btn btn-circle" :title="$t('generalmissionmetadatacard.mission_not_copy')">
                  <img
                    alt="$t('generalmissionmetadatacard.alt_permssion')"
                    class="clearfix"
                    src="../../../../img/solid-hand.png"
                  />
                </a>
                {{ this.generalMetadata.title }}
              </h3>

              <!-- This Input Field is for "Mission name edit". -->
              <!-- <input type="text" class="form-control" placeholder="Crash Scenario"></input> -->
              <span class="ml-1 text-muted"
                >{{ $t('generalmissionmetadatacard.author_created') }}{{ this.generalMetadata.author }}</span
              >
              <br />
              <span v-if="this.generalMetadata.inspiredBy" class="ml-1 text-muted"
                >{{ $t('generalmissionmetadatacard.author_inspired') }}{{ this.generalMetadata.inspiredBy }}</span
              >
              <div class="mt-2">
                <!-- Public or private mission -->
                <a
                  v-if="this.educationalMetadata.isPublic"
                  class="btn btn-circle"
                  :title="$t('generalmissionmetadatacard.title_mission_public')"
                >
                  <img
                    alt="$t('generalmissionmetadatacard.alt_privacy')"
                    class="clearfix"
                    src="../../../../img/ICON_Privacy-Public.png"
                  />
                </a>
                <a v-else class="btn btn-circle" :title="$t('generalmissionmetadatacard.title_mission_private')">
                  <img
                    alt="$t('generalmissionmetadatacard.alt_privacy')"
                    class="clearfix"
                    src="../../../../img/ICON_Privacy-Private.png"
                  />
                </a>
                <template v-if="this.educationalMetadata.isPublic">
                  {{ $t('generalmissionmetadatacard.public') }}
                </template>
                <template v-else>
                  {{ $t('generalmissionmetadatacard.private') }}
                </template>
                <a class="btn btn-circle ml-3" href="#" :title="$t('generalmissionmetadatacard.difficultyTooltip')">
                  <img
                    alt="$t('generalmissionmetadatacard.alt_privacy2')"
                    class="clearfix"
                    src="../../../../img/carfreeme-transport-options-route-planner (1).png"
                  />
                </a>
                {{ this.educationalMetadata.difficulty }}
                <a class="btn btn-circle ml-3" :title="$t('generalmissionmetadatacard.title_stage')">
                  <img
                    alt="$t('generalmissionmetadatacard.alt_privacy2')"
                    class="clearfix"
                    src="../../../../img/ICON-Entrepreneurship-Courses.png"
                  />
                </a>
                {{ this.educationalMetadata.stage }}
              </div>
              <div class="missions-keywords mt-2">
                <a href="#" v-for="keyword in this.generalMetadata.keywords">#{{ keyword }}</a>
                <!-- This Input Fild is for "Mission keywords edit". -->
                <!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> -->
              </div>
              <div class="text-center mt-3"><slot name="button1"></slot> <slot name="button2"></slot></div>
            </div>

            <div class="clearfix"></div>
            <br />
          </div>
        </div>
      </div>
    </div>

    <div v-if="this.editable">
      <!-- ////////////////////////////////// -->
      <!-- ////////////////////////////////// -->
      <!-- //////Modal Windows/////// -->
      <!-- ////////////////////////////////// -->
      <!-- ////////////////////////////////// -->

      <CreateMissionModal
        id="modal-edit-mission-meta"
        v-bind:educational-metadata="state.educationalMetadata"
        v-bind:general-metadata="state.generalMetadata"
        v-bind:mission-id="this.missionId"
        v-on:createMissionModalSubmitted="this.handleCreateMissionModalSubmitted"
      ></CreateMissionModal>
      <!-- Modal of modal-add-robot-action -->
      <EditRobotActions
        :robot-actions="state.robotActions"
        v-on:robotActionsChanged="handleRobotActionsChanged"
      ></EditRobotActions>
      <!-- Modal of modal modal-send-announcements-->
      <div class="modal fade" id="modal-send-announcement" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content -->
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Send Announcement to Students</h5>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <!-- CONTENT-->
              <form>
                <div class="form-group">
                  <label for="announcementText"><h6 class="mb-0">Text of announcement</h6></label>
                  <textarea
                    v-model="state.announcement.text"
                    id="announcementText"
                    class="form-control"
                    type="text"
                  ></textarea>
                </div>
                <div class="form-group">
                  <label for="robotAction"><h6 class="mb-0">Select Robot Action</h6></label>
                  <select id="robotAction" class="form-control" v-model="state.announcement.robotActionId">
                    <option value="">None</option>
                    <option v-for="action in state.robotActionTeacherHasCreated" :value="action.id">{{
                      action.name
                    }}</option>
                  </select>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                @click="sendAnnouncement"
                :disabled="state.announcement.text.length < 1"
                type="button"
                class="btn btn-green w-25"
                data-dismiss="modal"
              >
                Send
              </button>
              <button id="closeModalButton" type="button" class="btn btn-orange w-25" data-dismiss="modal">
                Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { confirmDeleteConfig } from '../../common/sweetAlertConfigs.js';
import { storage_getURL, getMissionsEndpoint, getNotificationApiUrl } from '../../../../js/global.js';
import CreateMissionModal from './CreateMissionModal';
import EditRobotActions from '../editor/common/EditRobotActions';
export default {
  name: 'GeneralMissionMetadata',
  components: {
    CreateMissionModal,
    EditRobotActions
  },
  props: {
    missionId: String,
    generalMetadata: {
      type: Object
    },
    students: {
      type: Array
    },
    educationalMetadata: {
      type: Object
    },
    editable: {
      type: Boolean
    },
    robotActions: {
      type: Object
    }
  },
  data() {
    return {
      state: {
        generalMetadata: {},
        educationalMetadata: {},
        robotActions: {},
        announcement: {
          text: '',
          robotActionId: ''
        },
        robotActionTeacherHasCreated: []
      }
    };
  },
  computed: {
    showDefaultAvatar() {
      return (
        this.state.generalMetadata.avatarImageId === undefined || this.state.generalMetadata.avatarImageId === null
      );
    },
    filesApiUrl() {
      return `${storage_getURL('FILES')}/api/files`;
    },
    showCopyButton() {
      return this.state.educationalMetadata.isPublic && this.$store.currentUser.usertype === 'teacher';
    },
    showDeleteButton() {
      return this.$store.currentUser.usertype === 'teacher';
    }
  },
  watch: {
    generalMetadata: function(newVal) {
      this.state.generalMetadata = newVal;
    },
    educationalMetadata: function(newVal) {
      this.state.educationalMetadata = newVal;
    },
    robotActions: function(newVal) {
      this.state.robotActions = newVal;
    }
  },
  methods: {
    handleCreateMissionModalSubmitted(e) {
      this.$emit('createMissionModalSubmitted', e);
    },
    handleRobotActionsChanged(e) {
      this.$emit('robotActionsChanged', e);
    },
    changeMissionAvatar(e) {
      let formData = new FormData();
      const selectedFile = e.target.files[0];

      formData.append('file', selectedFile);
      const headers = { 'Content-Type': 'multipart/form-data' };
      const config = { headers };
      axios
        .post(this.filesApiUrl, formData, config)
        .then(response => {
          const fileId = response.data;
          let config = {
            headers: {
              'Content-Type': 'text/plain'
            }
          };
          axios
            .put(
              `${getMissionsEndpoint('API_GATEWAY_STORAGE')}/${this.missionId}/generalMissionMetadata/avatarImageId`,
              fileId,
              config
            )
            .then(() => {
              this.state.generalMetadata.avatarImageId = fileId;
              this.$forceUpdate();
            });
        })
        .then(() => {
          e.target.value = '';
        });
    },
    deleteMission() {
      let $this = this;
      this.$swal(
        confirmDeleteConfig(
          $this.$t('sweetAlert.deleteModalTitle'),
          $this.$t('sweetAlert.confirmText'),
          $this.$t('sweetAlert.cancelText')
        )
      ).then(result => {
        if (result.value) {
          axios.delete(`${getMissionsEndpoint('API_GATEWAY_STORAGE')}/${this.missionId}`).then(() => {
            this.$router.push(`/missions`);
          });
        }
      });
    },
    copyMission() {
      axios.post(`${getMissionsEndpoint('API_GATEWAY_STORAGE')}/${this.missionId}/copy`).then(() => {
        this.$router.push(`/missions`);
      });
    },
    getActionsTeacherHasCreated() {
      let robotApiUrl = `${storage_getURL('API_GATEWAY_STORAGE')}/api-proxy/robot/api`;
      let robotActionsUrl = `${robotApiUrl}/robot/activities`;
      axios
        .get(robotActionsUrl)
        .then(response => {
          this.state.robotActionTeacherHasCreated = response.data.activities;
        })
        .catch(() => {
          return [];
        });
    },
    executeRobotAction(robotActionId) {
      return axios
        .post(`${storage_getURL('API_GATEWAY_STORAGE')}/api-proxy/robot/api/robot/${robotActionId}/${this.missionId}`)
        .then(response => {})
        .catch(() => {});
    },
    sendAnnouncement() {
      let announcementData = {
        source: 'mission',
        contentID: this.missionId,
        creatorID: this.$store.currentUser.userid,
        title: `announced in ${this.generalMetadata.title}`,
        description: this.state.announcement.text,
        contentText: 'dont know',
        contentRef: 'dont know'
      };
      console.log(announcementData);
      axios
        .post(`${getNotificationApiUrl('API_GATEWAY_STORAGE')}/announcement/send/${this.missionId}`, announcementData)
        .then(response => {})
        .catch(() => {});
      if (this.state.announcement.robotActionId.length > 0) {
        this.executeRobotAction(this.state.announcement.robotActionId);
      }
    },
    reportMission() {
      alert('not implemented');
    }
  },
  created() {
    this.getActionsTeacherHasCreated();
  }
};
</script>

<style scoped>
.customInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
</style>
