<template>
  <div class="card mt-3">
    <div class="card-header card-header-with-border">
      <h6 class="text-left">
        {{ $t('missionOverview.yourCommunities') }}
        <a
          href="#"
          class="btn btn-circle btn-set-point"
          data-toggle="modal"
          data-target="#modal-create-community"
          title="Create new mission"
        >
          <img src="../../../../img/add.png" class="clearfix" alt="create community" />
        </a>
      </h6>
    </div>

    <div class="card-body text-left">
      <div class="row">
        <div class="col-lg-4 mb-2" v-for="missioncomm in state.comms">
          <div class="card card-comm">
            <a v-bind:href="'/community/' + missioncomm.commID">
              <img
                v-if="missioncomm.commPhoto == null"
                class="card-img-top"
                src="https://images.pexels.com/photos/247599/pexels-photo-247599.jpeg?h=350&auto=compress&cs=tinysrgb"
                alt="Card image cap"
                width="100%"
              />
              <DisplayCardImage v-else :imageFileId="missioncomm.commPhoto"></DisplayCardImage>
            </a>

            <div class="card-body text-center">
              <a v-bind:href="'/community/' + missioncomm.commID">
                <h5 class="card-title">{{ missioncomm.commName }}</h5>
              </a>
              <p class="card-text">
                {{ $t('community_overview.created_by') }}
                <a v-bind:href="'/profiles/' + missioncomm.username"
                  ><span>{{ missioncomm.creatorName }}</span></a
                ><br />
                <span>{{ missioncomm.friendsCount }}</span> {{ $t('community_overview.friends') }} <span>|</span>
                <span>{{ missioncomm.membersCount }}</span> {{ $t('community_overview.members') }}
              </p>
              <!--
                <button @click="manageComm(missioncomm.commID)" type="button" class="btn btn-green btn-sm w-100">{{$t('community_overview.manage')}}</button>
                          		<button @click="leave(missioncomm.commID)" type="button" class="btn btn-orange btn-sm w-100 mt-2">{{$t('community_overview.leave')}}</button>
              -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import DisplayCardImage from '../../communities/DisplayCardImage';

export default {
  name: 'MissionCommunities',
  components: {
    DisplayCardImage
  },
  data() {
    return {
      state: {
        comms: []
      }
    };
  },
  created() {
    this.initCommunities();
  },
  watch: {},
  methods: {
    initCommunities() {
      axios.get(getCommunityApiUrl('API_GATEWAY_STORAGE') + '/communities/').then(response => {
        const communitiesImMemberOd = response.data.memberComms;
        const communitiesIManage = response.data.managedComms;
        const communities = communitiesImMemberOd.concat(communitiesIManage);
        this.state.comms = this.removeDuplicates(communities);
      });
    },
    removeDuplicates(arr){
      let uniqueElements = [];
      $.each(arr, function(i, el) {
        if ($.inArray(el, uniqueElements) === -1) uniqueElements.push(el);
      });
      return uniqueElements;
    },
    addCommunity(community){
      this.state.comms.push(community);
    }
  }
};
</script>

<style scoped></style>
