<template>
  <div class="card mt-3">
    <div class="card-header card-header-with-border">
      <h6 class="text-left">{{ $t('missionOverview.evaluation_rewards') }}</h6>
    </div>
    <div class="card-body text-left">
      <p>{{ $t('missionOverview.rewards_calculated') }}</p>
      <div class="table-responsive pl-2 pr-2 mb-3">
        <table class="table table-hover text-center">
          <thead>
            <tr>
              <th>{{ $t('missionOverview.rewards') }}</th>
              <th>
                <img src="../../../../img/ICONS-Knowledge-Points-Yellow-White-circle.png" style="width: 38%;" />
              </th>
              <th><img src="../../../../img/ICONS-Social-Points-Blue-White-circle.png" style="width: 38%;" /></th>
              <th>
                <img src="../../../../img/ICONS-Creativity-Points-Red-White-circle.png" style="width: 38%;" />
              </th>
              <th>{{ $t('missionOverview.total') }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="mission-states mission-states-title">
                <span>{{ $t('missionOverview.briefCompletion') }}</span>
              </td>
              <td class="mission-states"><p>100</p></td>
              <td class="mission-states"><p>0</p></td>
              <td class="mission-states"><p>0</p></td>
              <td>100</td>
            </tr>
            <tr>
              <td class="mission-states mission-states-title">
                <span>{{ $t('missionOverview.activityCompletion') }}</span>
              </td>
              <td class="mission-states"><p>50</p></td>
              <td class="mission-states"><p>50</p></td>
              <td class="mission-states"><p>50</p></td>
              <td>150</td>
            </tr>
            <tr>
              <td class="mission-states mission-states-title">
                <span>{{ $t('missionOverview.challengeCompletion') }}</span>
              </td>
              <td class="mission-states"><p>200</p></td>
              <td class="mission-states"><p>0</p></td>
              <td class="mission-states"><p>0</p></td>
              <td>200</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MissionRewardsTable'
};
</script>

<style scoped></style>