<template>
  <div>
    <form role="form">
      <div class="form-group p-0">
        <div class="text-left"><div ref="summernoteContainer" :id="this.id"></div></div>
      </div>
    </form>
    <form class="text-right">
      <button @click="saveHtml" type="button" class="btn btn-green w-25">{{ $t('contentEditor.save') }}</button>
    </form>

    <!-- Modal add file to summernote -->
    <div class="modal fade" id="insertPDFModal" role="dialog">
      <div class="modal-dialog text-left">
        <!-- Modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Insert PDF</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <form id="uploadFileToSummernoteForm" role="form mt-3">
              <div class="form-group">
                <!--
                  mime types: https://stackoverflow.com/questions/4212861/what-is-a-correct-mime-type-for-docx-pptx-etc
                -->
                <input
                  @change="handleFileChanged"
                  id="file-input"
                  type="file"
                  name="name"
                  accept="application/pdf"
                  style="display: none;"
                />
                <label for="fileChosen">
                  <h6 class="mb-0">{{ $t('contentEditor.localFiles') }}</h6>
                </label>
                <br />
                <a @click="openFileDialog" class="btn btn-green btn-sm w-25 mb-2" type="file">{{
                  $t('contentEditor.chooseFile')
                }}</a>
                <span id="fileChosen"> {{ $t('contentEditor.noFileChosen') }} </span> <br />
                <small>{{ $t('contentEditor.tip') }}</small>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              disabled
              id="addFileToSummernoteButton"
              @click="submitAddFileToSummernote"
              type="button"
              class="btn btn-green w-25"
              data-dismiss="modal"
            >
              {{ $t('contentEditor.save') }}
            </button>
            <button @click="removeFileFromSelection" type="button" class="btn btn-orange w-25" data-dismiss="modal">
              {{ $t('contentEditor.cancel') }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal add embed code to summernote -->
    <div class="modal fade" id="insertEmbedCode" role="dialog">
      <div class="modal-dialog text-left">
        <!-- Modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ $t('contentEditor.insertEmbed') }}</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <form role="form mt-3">
              <div class="form-group">
                <textarea id="embedInput" class="form-control" rows="3" placeholder="Insert embed code here"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button @click="insertEmbedCode" type="button" class="btn btn-green w-25" data-dismiss="modal">
              {{ $t('contentEditor.save') }}
            </button>
            <button type="button" class="btn btn-orange w-25" data-dismiss="modal">
              {{ $t('contentEditor.cancel') }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal to add  Video to summernote -->
    <div class="modal fade" id="inserVideo" role="dialog">
      <div class="modal-dialog text-left">
        <!-- Modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ $t('contentEditor.insertVideo') }}</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <div class="card-header pl-0 pr-0 pb-0">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a
                  aria-selected="false"
                  class="nav-link-s"
                  data-controls="lab-featured"
                  data-toggle="tab"
                  href="#lab-featured"
                  id="lab-featured-tab"
                  role="tab"
                  v-bind:class="{ active: state.insertVideo.showVideoUrlTab }"
                  @click.prevent="showVideoUrlTab"
                  ><h5>Video URL</h5></a
                >
              </li>
              <li class="nav-item">
                <a
                  aria-selected="false"
                  class="nav-link-s"
                  data-controls="lab-discovers"
                  data-toggle="tab"
                  href="#lab-discovers"
                  id="lab-discovers-tab"
                  role="tab"
                  v-bind:class="{ active: state.insertVideo.showKhanAcademyTab }"
                  @click.prevent="showKhanAcademyTab"
                  ><h5>KhanAcademy Browser</h5></a
                >
              </li>
            </ul>
          </div>

          <!-- Video URL Tab -->
          <div v-if="state.insertVideo.showVideoUrlTab" class="modal-body">
            <form role="form mt-3">
              <div class="form-group">
                <label class="note-form-label"
                  >Video URL
                  <small class="text-muted">(YouTube, Vimeo, Vine, Instagram, DailyMotion or Youku)</small></label
                >
                <input v-model="state.insertVideo.videoUrlInput" id="videoInput" class="form-control" type="text" />
              </div>
            </form>
          </div>

          <!-- KhanAcademy Tab -->
          <div v-if="state.insertVideo.showKhanAcademyTab" class="modal-body">
            <form role="form mt-3">
              <div class="form-group">
                <div class="input-group">
                  <input id="khanAcademySearchInput" type="text" class="form-control" />
                  <span class="input-group-btn ml-2">
                    <button class="btn" type="button" @click="searchInKhanAcademy(0, 30, null)">Search</button>
                  </span>
                </div>

                <div v-if="khanAcademySearchResult" class="card mt-3">
                  <div class="card-header card-header-with-border"><h6 class="text-left">Found these videos</h6></div>

                  <div class="card-body text-left scrolling" ref="searchResults">
                    <div id="accordion">
                      <div class="card mb-1" v-for="(videoLesson, index) in khanAcademySearchResult">
                        <div class="card-header" :id="'headingOne' + index">
                          <div class="row">
                            <div class="col-4">
                              <img
                                class="mr-3"
                                :src="videoLesson.thumbnailDefaultUrl"
                                alt="Generic placeholder image"
                                width="150"
                              />
                            </div>
                            <div class="col-8">
                              <h5 class="mb-0 text-center">
                                <button
                                  class="btn btn-link"
                                  @click.prevent="collapseHandler(index)"
                                  style="white-space: normal;"
                                >
                                  {{ videoLesson.videoTitle }}
                                </button>
                              </h5>
                              <br />
                              <div class="text-center">{{ videoLesson.videoCreationDate }}</div>
                            </div>
                          </div>
                        </div>

                        <div :id="'collapse' + index" class="collapse" data-parent="#accordion">
                          <div v-if="renderCollapse(index)" class="card-body">
                            <iframe
                              :src="videoLesson.videoYoutubeEmbeddedUrl"
                              allowfullscreen="allowfullscreen"
                              mozallowfullscreen="mozallowfullscreen"
                              msallowfullscreen="msallowfullscreen"
                              oallowfullscreen="oallowfullscreen"
                              webkitallowfullscreen="webkitallowfullscreen"
                            >
                            </iframe>
                            <br />
                            <div class="text-center"><b>Description: </b>{{ videoLesson.videoDescription }}</div>
                            <br />
                            <div class="text-center">
                              <button
                                @click="insertVideo(videoLesson.videoYoutubeUrl)"
                                type="button"
                                class="btn btn-green w-25"
                                data-dismiss="modal"
                              >
                                Add Video
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <infinite-loading @infinite="infiniteHandler" spinner="waveDots" ref="infiniteLoading">
                      <span slot="no-more">No more data</span> <span slot="no-results"></span>
                    </infinite-loading>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="modal-footer">
            <button
              v-if="state.insertVideo.showVideoUrlTab"
              @click="insertVideo(state.insertVideo.videoUrlInput)"
              type="button"
              class="btn btn-green w-25"
              data-dismiss="modal"
            >
              {{ $t('contentEditor.save') }}
            </button>
            <button type="button" class="btn btn-orange w-25" data-dismiss="modal">
              {{ $t('contentEditor.cancel') }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { storage_getURL, getKhanAcademyEndpoint } from '../../../../js/global.js';
import { createUUID } from '../../common/UUID';
import InfiniteLoading from 'vue-infinite-loading';

export default {
  name: 'SummernoteEditor',
  props: {
    title: {
      type: String,
      default: 'Edit LearningObjects',
      required: false
    },
    html: {
      type: String
    }
  },
  components: {
    InfiniteLoading
  },
  data() {
    return {
      state: {
        editing: false,
        insertVideo: {
          showVideoUrlTab: true,
          videoUrlInput: '',
          showKhanAcademyTab: false,
          currentCollapseIndex: null,
          infinitScrollOffset: 0
        },
        html: ''
      },
      khanAcademySearchResult: null
    };
  },
  computed: {
    currentDetectedIframeIds() {
      let currentHtmlContentOfSummernote = new DOMParser().parseFromString(this.state.html, 'text/html');
      let currentIframes = currentHtmlContentOfSummernote.getElementsByTagName('iframe');
      if (currentIframes.length === 0) return;
      let currentIframeIds = [];
      for (let iframe of currentIframes) {
        currentIframeIds.push(iframe.id);
      }
      return currentIframeIds;
    }
  },
  watch: {
    html: function(newVal) {
      this.state.html = newVal;
      $(this.$refs.summernoteContainer).summernote('code', this.state.html);
    },
    currentDetectedIframeIds:function (newVal) {
      this.$emit('iframesChanged', newVal);
    }
  },

  methods: {
    createUUID,
    initSummernote() {
      let InsertPDFButton = function(context) {
        let ui = $.summernote.ui;
        let button = ui.button({
          contents: '<i class="fa fa-file"/>',
          tooltip: 'Insert PDF',
          container: false,
          click: function() {
            $('#insertPDFModal').modal('show');
          }
        });
        return button.render();
      };

      let InsertEmbedCodeButton = function(context) {
        let ui = $.summernote.ui;
        let button = ui.button({
          contents: '<i class="fa fa-code"/>',
          tooltip: 'Embed objects from google docs etc.',
          container: false,
          click: function() {
            $('#insertEmbedCode').modal('show');
          }
        });
        return button.render();
      };

      let InserVideoButton = function(context) {
        let ui = $.summernote.ui;
        let button = ui.button({
          contents: '<i class="note-icon-video"/>',
          tooltip: 'Add a Video',
          container: false,
          click: function() {
            $('#inserVideo').modal('show');
          }
        });
        return button.render();
      };

      let $this = this;
      $(this.$refs.summernoteContainer).summernote({
        toolbar: [
          ['paragraphStyle', ['style']],
          ['font', ['fontname', 'fontsize']],
          ['style', ['bold', 'italic', 'underline', 'clear']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['insert', ['link', 'picture', 'uploadFile', 'embedCode', 'table', 'insertVideo']],
          ['misc', ['fullscreen']]
        ],
        buttons: {
          uploadFile: InsertPDFButton,
          embedCode: InsertEmbedCodeButton,
          insertVideo: InserVideoButton
        },
        minHeight: 250,
        callbacks: {
          onKeydown: function(e) {
            //if ENTER is pressed, change to SHIFT + ENTER
            //this is solution for bug, where media elements are duplicated on ENTER
            if (e.keyCode === 13 && !e.shiftKey) e.shiftKey = true;

            //8 = backspace
            if (e.keyCode === 8) {
              console.log('backspace pressed');
            }
          },
          onImageUpload: function(files) {
            let formData = new FormData();
            formData.append('file', files[0]);
            let headers = { 'Content-Type': 'multipart/form-data' };
            let config = { headers };
            axios.post(storage_getURL('FILES') + '/api/files', formData, config).then(response => {
              $($this.$refs.summernoteContainer).summernote(
                'insertImage',
                storage_getURL('FILES') + '/api/files/' + response.data,
                $image => {
                  $($image).css('width', '100%');
                }
              );
            });
          },
          onPaste: function(e) {
            //prevent default paste behaviour when type is file
            //this prevents images, videos etc. from being duplicated when pasted
            const clipboardData = e.originalEvent.clipboardData;
            if (clipboardData && clipboardData.items && clipboardData.items.length) {
              const item = clipboardData.items[0];
              if (item.kind === 'file' && item.type.indexOf('image/') !== -1) {
                e.preventDefault();
              }
            }
          }
        }
      });
      $(this.$refs.summernoteContainer).summernote('code', this.state.html);
    },
    saveHtml() {
      this.state.html = $(this.$refs.summernoteContainer).summernote('code');
      this.$emit('saveHtml', this.state.html);
    },
    closeSummernote() {
      this.state.html = $(this.$refs.summernoteContainer).summernote('code');
      $('#' + this.id).summernote('destroy');
    },
    getHtml() {
      this.state.html = $(this.$refs.summernoteContainer).summernote('code');
      return this.state.html;
    },
    openFileDialog() {
      $('#file-input').trigger('click');
    },
    handleFileChanged() {
      $('#fileChosen').html($('#file-input').prop('files')[0].name);
      $('#addFileToSummernoteButton').removeAttr('disabled');
    },
    removeFileFromSelection() {
      $('#addFileToSummernoteButton').attr('disabled', true);
      $('#file-input').val('');
      $('#fileChosen').html('No file chosen');
    },
    submitAddFileToSummernote() {
      let file = $('#file-input').prop('files')[0];
      let formData = new FormData();
      formData.append('file', file);
      let headers = { 'Content-Type': 'multipart/form-data' };
      let config = { headers };
      axios.post(storage_getURL('FILES') + '/api/files', formData, config).then(response => {
        let embed = document.createElement('embed');
        $(embed).attr('width', '550');
        $(embed).attr('height', '800');
        $(embed).attr('src', storage_getURL('FILES') + '/api/files/' + response.data + '?content-deposition=inline');
        let div = document.createElement('div');
        //$(div).addClass('embed-responsive');
        div.appendChild(embed);
        div.appendChild(document.createElement('br'));
        $(this.$refs.summernoteContainer).summernote('insertNode', div);
      });
    },
    insertEmbedCode() {
      let div = document.createElement('div');
      let embedAsHtmlStr = $('#embedInput')
        .val()
        .trim();
      let embedAsNode = $($.parseHTML(embedAsHtmlStr));
      $(embedAsNode).attr('width', '550');
      $(embedAsNode).attr('height', '800');
      $(div).append(embedAsNode);
      $(this.$refs.summernoteContainer).summernote('insertNode', div);
    },
    insertVideo(videoUrl) {
      let div = document.createElement('div');
      let iframe = this.createVideoNode(videoUrl);
      $(div).append(iframe);
      $(this.$refs.summernoteContainer).summernote('insertNode', div);
      this.saveHtml();
      this.state.insertVideo.videoUrlInput = '';
    },
    onPaste: function(e) {
      //prevent default paste behavious when type is file
      //this prevents images, videos etc. from being duplicated when pasted
      const clipboardData = e.originalEvent.clipboardData;
      if (clipboardData && clipboardData.items && clipboardData.items.length) {
        const item = clipboardData.items[0];
        if (item.kind === 'file' && item.type.indexOf('image/') !== -1) {
          e.preventDefault();
        }
      }
    },
    createVideoNode: function(url) {
      // video url patterns(youtube, instagram, vimeo, dailymotion, youku, mp4, ogg, webm)
      let ytRegExp = /^(?:https?:\/\/)?(?:www\.)?(?:youtu\.be\/|youtube\.com\/(?:embed\/|v\/|watch\?v=|watch\?.+&v=))((\w|-){11})(?:\S+)?$/;
      let ytMatch = url.match(ytRegExp);
      let igRegExp = /(?:www\.|\/\/)instagram\.com\/p\/(.[a-zA-Z0-9_-]*)/;
      let igMatch = url.match(igRegExp);
      let vRegExp = /\/\/vine\.co\/v\/([a-zA-Z0-9]+)/;
      let vMatch = url.match(vRegExp);
      let vimRegExp = /\/\/(player\.)?vimeo\.com\/([a-z]*\/)*(\d+)[?]?.*/;
      let vimMatch = url.match(vimRegExp);
      let dmRegExp = /.+dailymotion.com\/(video|hub)\/([^_]+)[^#]*(#video=([^_&]+))?/;
      let dmMatch = url.match(dmRegExp);
      let youkuRegExp = /\/\/v\.youku\.com\/v_show\/id_(\w+)=*\.html/;
      let youkuMatch = url.match(youkuRegExp);
      let qqRegExp = /\/\/v\.qq\.com.*?vid=(.+)/;
      let qqMatch = url.match(qqRegExp);
      let qqRegExp2 = /\/\/v\.qq\.com\/x?\/?(page|cover).*?\/([^\/]+)\.html\??.*/;
      let qqMatch2 = url.match(qqRegExp2);
      let mp4RegExp = /^.+.(mp4|m4v)$/;
      let mp4Match = url.match(mp4RegExp);
      let oggRegExp = /^.+.(ogg|ogv)$/;
      let oggMatch = url.match(oggRegExp);
      let webmRegExp = /^.+.(webm)$/;
      let webmMatch = url.match(webmRegExp);
      let $video;

      let $$1;

      if (ytMatch && ytMatch[1].length === 11) {
        let youtubeId = ytMatch[1];
        // need to construct a url with:
        // - js-api enabled
        // - origin set, to defend against JS-attacks
        let srcUrl = `https://www.youtube.com/embed/${youtubeId}?enablejsapi=1`;
        $video = document.createElement('iframe');
        //set unique id to iframe and safe the id to later access the video with youtube api.
        let uuid = this.createUUID();
        $($video).attr('id', uuid);
        $($video).attr('frameborder', 0);
        $($video).attr('type', 'text/html');
        $($video).attr('src', srcUrl);
        $($video).attr('width', '640');
        $($video).attr('height', '360');
        //fire event with id of iframe element, to safe it in database
        this.$emit('youtubeVideoAdded', uuid);
      } else if (igMatch && igMatch[0].length) {
        $video = $$1('<iframe>')
          .attr('frameborder', 0)
          .attr('src', 'https://instagram.com/p/' + igMatch[1] + '/embed/')
          .attr('width', '612')
          .attr('height', '710')
          .attr('scrolling', 'no')
          .attr('allowtransparency', 'true');
      } else if (vMatch && vMatch[0].length) {
        $video = $$1('<iframe>')
          .attr('frameborder', 0)
          .attr('src', vMatch[0] + '/embed/simple')
          .attr('width', '600')
          .attr('height', '600')
          .attr('class', 'vine-embed');
      } else if (vimMatch && vimMatch[3].length) {
        $video = $$1('<iframe webkitallowfullscreen mozallowfullscreen allowfullscreen>')
          .attr('frameborder', 0)
          .attr('src', '//player.vimeo.com/video/' + vimMatch[3])
          .attr('width', '640')
          .attr('height', '360');
      } else if (dmMatch && dmMatch[2].length) {
        $video = $$1('<iframe>')
          .attr('frameborder', 0)
          .attr('src', '//www.dailymotion.com/embed/video/' + dmMatch[2])
          .attr('width', '640')
          .attr('height', '360');
      } else if (youkuMatch && youkuMatch[1].length) {
        $video = $$1('<iframe webkitallowfullscreen mozallowfullscreen allowfullscreen>')
          .attr('frameborder', 0)
          .attr('height', '498')
          .attr('width', '510')
          .attr('src', '//player.youku.com/embed/' + youkuMatch[1]);
      } else if ((qqMatch && qqMatch[1].length) || (qqMatch2 && qqMatch2[2].length)) {
        let vid = qqMatch && qqMatch[1].length ? qqMatch[1] : qqMatch2[2];
        $video = $$1('<iframe webkitallowfullscreen mozallowfullscreen allowfullscreen>')
          .attr('frameborder', 0)
          .attr('height', '310')
          .attr('width', '500')
          .attr('src', 'http://v.qq.com/iframe/player.html?vid=' + vid + '&amp;auto=0');
      } else if (mp4Match || oggMatch || webmMatch) {
        $video = $$1('<video controls>')
          .attr('src', url)
          .attr('width', '640')
          .attr('height', '360');
      } else {
        // this is not a known video link. Now what, Cat? Now what?
        return false;
      }
      return $video;
    },
    showVideoUrlTab: function() {
      this.state.insertVideo.showVideoUrlTab = true;
      this.state.insertVideo.showKhanAcademyTab = false;
    },
    showKhanAcademyTab: function() {
      this.state.insertVideo.showVideoUrlTab = false;
      this.state.insertVideo.showKhanAcademyTab = true;
    },
    searchInKhanAcademy(offset, limit, infiniteScrollState) {
      console.log(infiniteScrollState);


      let searchInput = $('#khanAcademySearchInput')
        .val()
        .trim();

      axios
        .get(
          getKhanAcademyEndpoint('API_GATEWAY_STORAGE') +
            '?keywords=' +
            searchInput +
            '&offset=' +
            offset +
            '&limit=' +
            limit
        )
        .then(
          response => {
            if (response.status == 204) {
              this.state.insertVideo.infinitScrollOffset = 0;
              if(infiniteScrollState)
                infiniteScrollState.complete();
            } else {
              if (offset > 0) {
                this.khanAcademySearchResult = this.khanAcademySearchResult.concat(response.data);
                if(infiniteScrollState)
                  infiniteScrollState.loaded();
              } else if (offset == 0) {
                this.khanAcademySearchResult = response.data;
                this.$refs.infiniteLoading.$emit('$InfiniteLoading:reset');
              }
            }
          },
          error => {
            console.log('ERROR: ' + error);
          }
        );
    },
    infiniteHandler($state) {
      this.state.insertVideo.infinitScrollOffset += 30;
      this.searchInKhanAcademy(this.state.insertVideo.infinitScrollOffset, 30, $state);
    },
    collapseHandler: function(index) {
      $('#collapse' + index).collapse('toggle');
      this.state.insertVideo.currentCollapseIndex = index;
    },
    renderCollapse: function(index) {
      let result = false;
      if (this.state.insertVideo.currentCollapseIndex == index) {
        result = true;
      }
      return result;
    }
  },
  mounted() {
    this.initSummernote();
  },
  updated() {
    if (
      this.khanAcademySearchResult &&
      this.state.insertVideo.showKhanAcademyTab &&
      this.state.insertVideo.currentCollapseIndex == null &&
      this.state.insertVideo.infinitScrollOffset == 0
    ) {
      this.$refs.searchResults.scrollTop = 0;
    }
  }
};
</script>

<style scoped>
@import url('../../../../summernote/dist/summernote-bs4.css');
.scrolling {
  height: 300px;
  overflow-y: scroll;
}

iframe {
  margin: auto;
  width: 60%;
  display: block;
}
</style>
