<template>
  <div>
    <!-- Description -->
    <div class="card mt-3">
      <div class="card-header card-header-with-border">
        <h6 class="text-left">
          {{ this.cardTitle }}
          <a v-if="this.state.editing" class="btn btn-circle btn-set-point" title="Save">
            <img @click="save" src="../../../../img/ICON_Adopted-Answer.png" class="clearfix" alt="Save" />
          </a>
          <a v-else class="btn btn-circle btn-set-point" title="Edit">
            <img @click="edit" src="../../../../img/BTN-Edit-circle.png" class="clearfix" alt="Edit" />
          </a>
        </h6>
      </div>
      <div class="card-body text-left">
        <div :id="this.id"> <!-- style="height:200px;" class="form-control"-->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SummernoteTextEditor',
  components: {},
  props: {
    id: String,
    cardTitle: String
  },
  data() {
    return {
      state: {
        editing: false,
        html: String
      }
    };
  },
  methods: {
    edit() {
      $('#' + this.id).summernote({
        toolbar: [
          ['style', ['bold', 'italic', 'underline']],
          ['para', ['ul', 'ol']],
          ['insert', ['table']],
          ['misc', ['fullscreen']]
        ],
        //height: 180,
        //maxHeight: 200,
        minHeight: 200
      });
      this.state.editing = true;
      this.$emit('editing');
    },
    save() {
      this.state.html = $('#' + this.id).summernote('code');
      $('#' + this.id).summernote('destroy');
      this.$emit('saved', this.state.html);
      this.state.editing = false;
    },
    closeSummernote() {
      this.state.html = $('#' + this.id).summernote('code');
      $('#' + this.id).summernote('destroy');
      this.state.editing = false;
    },
    setHtml(html) {
      this.state.html = html;
      $('#' + this.id).html(this.state.html);
    },
    getHtml() {
      return this.state.html;
    }
  }
};
</script>

<style scoped>
  @import url('../../../../summernote/dist/summernote-bs4.css');
</style>
