<template>
  <div>
    <div v-if="!isActualUser && !passwordIsCorrect">
      <div class="card mt-3">
        <div class="card-header card-header-with-border">
          <h6 class="text-left">Enter Password</h6>
          <div class="card-body text-left">
            <div class="list-group list-group-flush">
              <span
                >Enter the password of {{ userName }} to unlock the E-Portfolio. If the password is correct, the
                E-Portfolio will be displayed.</span
              >

              <input
                v-model="enteredPassword"
                class="form-control"
                placeholder="Enter Password here..."
                v-bind:class="{ 'is-invalid': !passwordIsCorrect && passwordIsEntered }"
              />
              <div class="invalid-feedback">Password is incorrect...</div>

              <div class="mt-2">
                <button type="button" class="btn btn-green" @click="comparePassword">Unlock</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div v-show="passwordIsCorrect || isActualUser">
      <!--CoverPic, UserPic-->
      <div class="card">
        <div class="card-body p-0 mb-2">
          <div class="st-profile">
            <img
              align="left"
              :alt="$t('profiles.alt_profile_cover')"
              class="st-image-lg"
              src="../../../img/Platform_homepage-BG-1920-02.png"
              v-if="coverImageId == null"
            />
            <img
              align="left"
              :alt="$t('profiles.alt_profile_cover2')"
              class="st-image-lg"
              v-bind:src="getImageFromFiles(coverImageId)"
              v-else
            />
            <div class="cover-pic-set">
              <a class="btn btn-circle" :title="'What is an E-Portfolio?'" @click="displayEportfolioInstruction">
                <img :alt="$t('profiles.alt_setting')" class="clearfix" src="../../../img/ICON_Newest-Answer.png" />
              </a>
            </div>
          </div>
          <div class="userpic">
            <a class="btn btn-profile-avatar">
              <img
                alt="$t('profiles.alt_avatar')"
                class="clearfix w-100"
                src="../../../img/user.png"
                @click="viewAvatarImage"
                v-if="avatarImageId == null"
              />
              <img
                :alt="$t('profiles.alt_avatar2')"
                class="clearfix w-100"
                style="width: 100%; height: 100%; border-radius: 50%"
                v-bind:src="getImageFromFiles(avatarImageId)"
                @click="viewAvatarImage"
                v-else
              />
            </a>
          </div>
          <div class="clearfix"></div>
          <h5 class="username mb-0">{{ userName }}</h5>
          <div>
            <a class="btn btn-circle" href="../progress-leaderboard-gamification.html">
              <img :alt="$t('profiles.alt_level')" class="clearfix" src="../../../img/level.png" />
            </a>
            <span>{{ $t('profiles.explorer') }}</span>
          </div>

          <button
            v-if="isActualUser"
            class="btn btn-orange mt-2 mb-1 w-25"
            type="button"
            @click="displayEPortfolioExport"
          >
            Export as PDF
          </button>
          <button
            v-if="isActualUser"
            class="btn btn-orange mt-2 mb-1 w-25"
            type="button"
            @click="displayShareEportfolio"
          >
            Share as Link
          </button>
        </div>
      </div>

      <!--Sub Tabs-->
      <div class="card mt-3">
        <div class="card-header pl-0 pr-0 pb-0">
          <ul class="nav nav-tabs nav-fill" role="tablist">
            <li class="nav-item">
              <a
                aria-selected="true"
                class="nav-link-s active"
                data-controls="eportfolio-basicInfo"
                data-toggle="tab"
                href="#eportfolio-basicInfo"
                id="eportfolio-basicInfo-tab"
                role="tab"
                @click="openNewTabPanel('basicInfo')"
                ><h6>
                  Basic Information
                </h6></a
              >
            </li>
            <li class="nav-item">
              <a
                aria-selected="false"
                class="nav-link-s"
                data-controls="eportfolio-statusOverview"
                data-toggle="tab"
                href="#eportfolio-statusOverview"
                id="eportfolio-statusOverview-tab"
                role="tab"
                @click="openNewTabPanel('statusOverview')"
                ><h6>
                  Status Overview
                </h6></a
              >
            </li>
            <li class="nav-item">
              <a
                aria-selected="false"
                class="nav-link-s"
                data-controls="eportfolio-album"
                data-toggle="tab"
                href="#eportfolio-album"
                id="eportfolio-album-tab"
                role="tab"
                @click="openNewTabPanel('album')"
                ><h6>
                  E-Portfolio Album
                </h6></a
              >
            </li>
            <li class="nav-item">
              <a
                aria-selected="false"
                class="nav-link-s"
                data-controls="eportfolio-learningJournal"
                data-toggle="tab"
                href="#eportfolio-learningJournal"
                id="eportfolio-learningJournal-tab"
                role="tab"
                @click="openNewTabPanel('learningJournal')"
                ><h6>
                  Learning Journal
                </h6></a
              >
            </li>
          </ul>
        </div>
      </div>

      <!-- Sub-Container BasicInfo-->
      <basicInfo
        :basicInfoIsSelected="portfolioItems.basicInfoIsSelected.selected"
        :basicInformationFromEPortfolio="basicInformation"
        :isActualUser="isActualUser"
        :alreadyFriends="alreadyFriends"
      >
      </basicInfo>
      <!-- Sub-Container StatusOverview -->
      <statusOverview
        :statusOverviewIsSelected="portfolioItems.statusOverviewIsSelected.selected"
        :userTypeFromEPortfolio="userType"
        :statusOverviewInformation="statusOverviewUserPermission"
        :userIdFromEPortfolio="userId"
        :levelFromEPortfolio="level"
        :isActualUser="isActualUser"
        :alreadyFriends="alreadyFriends"
        v-on:statusOverviewUpdated="updateStatusOverview"
      >
      </statusOverview>
      <!-- Sub-Container Album -->
      <album
        :e-portfolio-id="ePortfolioId"
        :album-is-selected="portfolioItems.albumIsSelected.selected"
        :albumPermissionInformation="albumUserPermission"
        :imagesFromEPortfolio="ePortfolioImages"
        :isActualUser="isActualUser"
        :alreadyFriends="alreadyFriends"
        v-on:updateAlbum="updateAlbum"
      >
      </album>
      <!-- Sub-Container Learning Journal -->
      <learningJournal
        :learning-journal-is-selected="portfolioItems.learningJournalIsSelected.selected"
        :journalPermissionInformation="journalUserPermission"
        :tasksFromEPortfolio="learningJournalTasks"
        :isActualUser="isActualUser"
        :alreadyFriends="alreadyFriends"
        :statusUpdateId="journalStatusUpdateId"
        :userId="userId"
        v-on:updateJournal="updateJournal"
      >
      </learningJournal>

      <!--================-->
      <!-- MODAL WINDOWS  -->
      <!--================-->
      <!--Modal of view Image-->
      <div class="modal fade" id="modal-view-image" role="dialog">
        <div class="modal-dialog modal-lg">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{ $t('profiles.image_avatar') }}</h5>
            </div>
            <div class="modal-body">
              <img
                :src="getImageFromFiles(avatarImageId)"
                id="modalViewImage"
                style="max-height: 568px; max-width: 568px"
                v-if="avatarImageId != null"
              />
              <img src="../../../img/user.png" v-else />
            </div>
            <div class="modal-footer">
              <button class="btn btn-orange" data-dismiss="modal" type="button">{{ $t('profiles.close') }}</button>
            </div>
          </div>
        </div>
      </div>

      <!--Modal of about ePortfolio - What is an ePortfolio-->
      <div class="modal fade" id="modal-about-eportfolio" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">{{ $t('profiles_eportfolio.eportolio') }}</h4>
              <button class="close" data-dismiss="modal" type="button">&times;</button>
            </div>
            <div class="modal-body text-center">
              <h5>{{ $t('profiles_eportfolio.sn_e') }}</h5>
              <p>{{ $t('profiles_eportfolio.eportfolio_portfolio2') }}</p>
              <br />
              <iframe
                allow="autoplay; encrypted-media"
                allowfullscreen
                frameborder="0"
                height="315"
                src="https://www.youtube.com/embed/xvqBORISA5k"
                width="560"
              ></iframe>
              <div class="clearfix"></div>
              <h5 class="mt-4">{{ $t('profiles_eportfolio.eportfolio_use') }}</h5>
              <div class="row mt-4">
                <div class="col-4">
                  <figure class="figure">
                    <img
                      :alt="$t('profiles_eportfolio.alt_one2')"
                      class="figure-img img-fluid rounded w-75"
                      src="../../../img/ICON_E-portfolio_About_1.png"
                    />
                    <figcaption class="mt-2">
                      {{ $t('profiles_eportfolio.eportfolio_build') }}
                    </figcaption>
                  </figure>
                </div>
                <div class="col-4">
                  <figure class="figure">
                    <img
                      :alt="$t('profiles_eportfolio.alt_two2')"
                      class="figure-img img-fluid rounded w-75"
                      src="../../../img/ICON_E-portfolio_About_2.png"
                    />
                    <figcaption class="mt-2">
                      {{ $t('profiles_eportfolio.eportfolio_something') }}
                    </figcaption>
                  </figure>
                </div>
                <div class="clearfix"></div>
                <div class="col-4">
                  <figure class="figure">
                    <img
                      :alt="$t('profiles_eportfolio.alt_three2')"
                      class="figure-img img-fluid rounded w-75"
                      src="../../../img/ICON_E-portfolio_About_3.png"
                    />
                    <figcaption class="mt-2">
                      {{ $t('profiles_eportfolio.eportfolio_story') }}
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <label class="select-checkbox mb-0 position-absolute" style="left: 20px" v-if="isActualUser">
                <input type="checkbox" v-model="hideEPortfolioInstructionTemp" />
                <span class="select-checkmark"></span>
                <span class="checkbox-label">Do not show this Instruction again</span>
              </label>
              <button class="btn btn-orange" data-dismiss="modal" type="button">
                {{ $t('profiles_eportfolio.close2') }}
              </button>
            </div>
          </div>
        </div>
      </div>

      <!--Modal of Sharing E-Portfolio -->
      <div class="modal fade" id="modal-view-share-eportfolio" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Share E-Portfolio</h5>
            </div>
            <div class="modal-body">
              <label for="generatedURL">Generated URL to share:</label>
              <input class="form-control" id="generatedURL" v-model="URL" readonly />
              <br />
              <label for="generatedPassword">Generated Password:</label>
              <input
                class="form-control"
                id="generatedPassword"
                v-model="generatedPassword"
                placeholder="Generate to get a password"
                readonly
              />
              <div class="modal-footer">
                <button class="btn btn-green" type="button" v-on:click="generatePassword">
                  {{ $t('profiles_eportfolio.generate') }}
                </button>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-orange" data-dismiss="modal" type="button">{{ $t('profiles.close') }}</button>
            </div>
          </div>
        </div>
      </div>

      <!--Modal of export ePortfolio as PDF -->
      <div class="modal fade" id="modal-export-ep-as-pdf" role="dialog">
        <div class="modal-dialog" :class="{ 'dialog-enlarged': stepExport === 4 }">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{ $t('profiles_eportfolio.export_eportfolio2') }}</h5>
              <button class="close" data-dismiss="modal" type="button">&times;</button>
            </div>
            <div class="modal-body">
              <!--Progress Bar-->
              <div class="stepwizard">
                <div class="stepwizard-row setup-panel">
                  <div class="stepwizard-step">
                    <a
                      id="export-step-1"
                      data-id="export-step-1"
                      style="cursor: default"
                      class="btn btn-default btn-round"
                      :class="{ 'btn-green': stepExport === 1 }"
                      >1
                    </a>
                    <p>General</p>
                  </div>
                  <div class="stepwizard-step">
                    <a
                      data-id="export-step-2"
                      style="cursor: default"
                      class="btn btn-default btn-round"
                      :class="{ 'btn-green': stepExport === 2 }"
                      >2
                    </a>
                    <p>Album</p>
                  </div>
                  <div class="stepwizard-step">
                    <a
                      data-id="export-step-3"
                      style="cursor: default"
                      class="btn btn-default btn-round"
                      :class="{ 'btn-green': stepExport === 3 }"
                      >3
                    </a>
                    <p>Learning<br />Journal</p>
                  </div>
                  <div class="stepwizard-step">
                    <a
                      data-id="export-step-4"
                      style="cursor: default"
                      class="btn btn-default btn-round"
                      :class="{ 'btn-green': stepExport === 4 }"
                      >4
                    </a>
                    <p>Preview</p>
                  </div>
                </div>
              </div>

              <!-- Step 1 - General Info-->
              <table v-if="stepExport === 1" class="table table-hover">
                <thead>
                  <tr>
                    <th colspan="2" scope="col">Choose your Information to export:</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <label class="select-checkbox mb-0">
                        <input type="checkbox" v-model="pdfExportFlags.basicInfoFlag" />
                        <span class="select-checkmark"></span> <span class="checkbox-label">Basic Information</span>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="select-checkbox mb-0">
                        <input type="checkbox" v-model="pdfExportFlags.statusOverviewFlag" />
                        <span class="select-checkmark"></span> <span class="checkbox-label">Status Overview</span>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="select-checkbox mb-0">
                        <input
                          type="checkbox"
                          :disabled="ePortfolioImagesTemp === null || ePortfolioImagesTemp.length === 0"
                          v-model="pdfExportFlags.albumFlag"
                        />
                        <span class="select-checkmark"></span> <span class="checkbox-label">E-Portfolio Album</span>
                      </label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="select-checkbox mb-0">
                        <input
                          type="checkbox"
                          :disabled="learningJournalTasksTemp === null || learningJournalTasksTemp.length === 0"
                          v-model="pdfExportFlags.journalFlag"
                        />
                        <span class="select-checkmark"></span> <span class="checkbox-label">Learning Journal</span>
                      </label>
                    </td>
                  </tr>
                </tbody>
              </table>

              <!-- Step 2 - Portfolio Album-->
              <div v-else-if="stepExport === 2" class="setup-content text-left" id="export-step-2">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th colspan="2" scope="col">Choose your Album Images to export:</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(ePortfolioImage, index) in ePortfolioImagesTemp">
                      <td>
                        <label class="select-checkbox mb-0">
                          <input type="checkbox" v-model="ePortfolioImageFlag[index]" />
                          <span class="select-checkmark"></span>
                          <span class="checkbox-label">{{ ePortfolioImage.imageTitle }}</span>
                        </label>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <!-- Step 3 - Learning Journal-->
              <div v-else-if="stepExport === 3" class="setup-content text-left" id="export-step-3">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th colspan="2" scope="col">Choose your Learning Journal entries to export:</th>
                    </tr>
                  </thead>
                  <tbody v-for="(task, index) in learningJournalTasksTemp">
                    <tr>
                      <td>
                        <label class="select-checkbox mb-0">
                          <input type="checkbox" v-model="learningJournalTaskFlag[index].mainFlag" />
                          <span class="select-checkmark"></span>
                          <span class="checkbox-label">{{ task.title }}</span>
                        </label>
                      </td>
                    </tr>
                    <tr v-for="(subTask, subIndex) in task.subTasks">
                      <td>
                        <label class="select-checkbox mb-0 ml-4">
                          <input type="checkbox" v-model="learningJournalTaskFlag[index].subTaskFlags[subIndex]" />
                          <span class="select-checkmark"></span>
                          <span class="checkbox-label">{{ subTask.title }}</span>
                        </label>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <!-- Step 4 - Preview -->
              <div v-else-if="stepExport === 4" class="setup-content text-left" id="export-step4">
                <pdf-template ref="pdf_ref" v-on:isMounted="updatePDFPreview"></pdf-template>
              </div>
            </div>
            <div class="modal-footer">
              <button
                v-if="stepExport === 1"
                class="btn btn-orange position-absolute"
                style="left: 20px"
                @click="closeExportModal"
                type="button"
              >
                {{ $t('profiles_eportfolio.cancel2') }}
              </button>
              <button
                v-else
                class="btn btn-orange position-absolute"
                style="left: 20px"
                type="button"
                @click="showPreviousExportStep"
              >
                Previous
              </button>
              <button
                v-if="stepExport === 4"
                class="btn btn-green"
                data-target="#modal-result-export-pdf"
                data-toggle="modal"
                type="button"
                v-on:click="exportPdf"
              >
                {{ $t('profiles_eportfolio.save2') }}
              </button>
              <button
                v-else
                class="btn btn-green"
                :disabled="
                  (stepExport === 2 && ePortfolioImageFlag.filter(Boolean).length < 1) ||
                    (stepExport === 3 && learningJournalTaskFlagCounter < 1) ||
                    (!pdfExportFlags.basicInfoFlag &&
                      !pdfExportFlags.statusOverviewFlag &&
                      !pdfExportFlags.albumFlag &&
                      !pdfExportFlags.journalFlag)
                "
                type="button"
                v-on:click="showNextExportStep"
              >
                Next
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import basicInfo from './EPortfolio_BasicInfo';
import statusOverview from './EPortfolio_StatusOverview';
import album from './EPortfolio_Album';
import learningJournal from './EPortfolio_LearningJournal';
import pdfTemplate from './PDFTemplate';
import { storage_getdashboardApiUrl, storage_getURL, getStatusUpdateApiUrl } from '../../../js/global';

export default {
  name: 'EPortfolio',
  components: {
    basicInfo,
    statusOverview,
    album,
    learningJournal,
    pdfTemplate
  },

  props:{
    eportfolioid: String
  },

  data: function() {
    return {
      //tabs from eportfolio
      portfolioItems: {
        basicInfoIsSelected: { name: 'basicInfo', selected: true },
        statusOverviewIsSelected: { name: 'statusOverview', selected: false },
        albumIsSelected: { name: 'album', selected: false },
        learningJournalIsSelected: { name: 'learningJournal', selected: false }
      },

      //specific information
      userId: null,
      ePortfolioId: "",
      userType: null,
      userName: null,
      level: null,
      hideEPortfolioInstruction: null,
      hideEPortfolioInstructionTemp: null,
      isActualUser: false,
      alreadyFriends: false,

      //images from Profile
      avatarImageId: null,
      coverImageId: null,

      //Export
      pdfExportFlags: {
        basicInfoFlag: true,
        statusOverviewFlag: true,
        albumFlag: true,
        journalFlag: true
      },
      stepExport: 1,
      previousStepExport: 1,
      ePortfolioImagesTemp: [],
      ePortfolioImageFlag: [],
      learningJournalTasksTemp: [],
      learningJournalTaskFlag: [],
      learningJournalTaskFlagCounter: 0,

      //Share Link
      URL: encodeURI(window.location.href),
      generatedPassword: null,
      passwordIsCorrect: false,
      enteredPassword: '',
      passwordIsEntered: false,

      //basicInformation
      basicInformation: {
        basicInfoUserPermission: 'onlyMe',
        realName: '',
        userName: '',
        birthday: '',
        email: '',
        country: '',
        school: '',
        bio: ''
      },

      //statusOverview
      statusOverviewUserPermission: 'onlyMe',
      statusOverviewInfo: {
        level: 0,
        completedWorlds: 0,
        activeWorlds: 0,
        completedMissions: 0,
        activeMissions: 0,
        brainPoints: 0,
        heartPoints: 0,
        spiritPoints: 0
      },

      //album
      albumUserPermission: 'onlyMe',
      ePortfolioImages: [],

      //learningJournal
      journalUserPermission: 'onlyMe',
      journalStatusUpdateId: null,
      learningJournalTasks: []
    };
  },

  methods: {
    viewAvatarImage() {
      $('#modal-view-image').modal('show');
    },

    displayEportfolioInstruction() {
      $('#modal-about-eportfolio').modal('show');
    },

    displayEPortfolioExport() {
      $('#modal-export-ep-as-pdf').modal('show');
    },

    displayShareEportfolio() {
      $('#modal-view-share-eportfolio').modal('show');
    },

    closeExportModal() {
      $('#modal-export-ep-as-pdf').modal('hide');
    },

    getImageFromFiles(imageId) {
      if (this.$store.currentUser === null) {
        return storage_getdashboardApiUrl('API_GATEWAY_STORAGE') + '/portfolio/image?imageid=' + imageId;
      } else {
        return storage_getURL('FILES') + '/api/files/' + imageId + '?content-deposition=inline';
      }
    },

    openNewTabPanel(tabPanelName) {
      for (let item in this.portfolioItems) {
        this.portfolioItems[item].selected = this.portfolioItems[item].name === tabPanelName;
      }
    },

    comparePassword() {
      axios
        .get(
          storage_getdashboardApiUrl('API_GATEWAY_STORAGE') +
            '/portfolio/password?userid=' +
            this.userId +
            '&password=' +
            this.enteredPassword
        )
        .then(response => {
          this.passwordIsCorrect = response.data;
          if (this.passwordIsCorrect) {
            sessionStorage.setItem(this.userId, 'true');
          }
        })
        .catch(error => {
          console.log(error);
        });
      this.passwordIsEntered = true;
    },

    updateStatusOverview(value) {
      this.statusOverviewInfo = value;
    },

    updateAlbum(value) {
      let arr = [];
      for (let i = 0; i < value.length; i++) {
        for (let j = 0; j < value[i].length; j++) {
          arr.push(value[i][j]);
        }
      }
      this.ePortfolioImagesTemp = arr;
    },

    updateJournal(value) {
      this.learningJournalTasksTemp = value;
    },

    initLearningJournalTaskFlag() {
      this.learningJournalTaskFlag = [];
      if (this.learningJournalTasksTemp !== null) {
        for (let i = 0; i < this.learningJournalTasksTemp.length; i++) {
          this.learningJournalTaskFlag.push(this.getTaskFlagObject());

          for (let j = 0; j < this.learningJournalTasksTemp[i].subTasks.length; j++) {
            this.learningJournalTaskFlag[i].subTaskFlags.push(false);
          }
        }
      }
    },

    showNextExportStep() {
      this.previousStepExport = this.stepExport;

      if (this.stepExport === 1 && !this.pdfExportFlags.journalFlag && !this.pdfExportFlags.albumFlag) {
        this.stepExport += 3;
      } else {
        if (
          (this.stepExport === 1 && this.pdfExportFlags.journalFlag && !this.pdfExportFlags.albumFlag) ||
          (this.stepExport === 2 && !this.pdfExportFlags.journalFlag)
        ) {
          this.stepExport += 2;
        } else this.stepExport++;
      }
    },

    showPreviousExportStep() {
      if (this.previousStepExport === this.stepExport && this.previousStepExport > 1) {
        this.previousStepExport--;
      }
      this.stepExport = this.previousStepExport;
    },

    getTaskFlagObject() {
      let taskFlagObject = {
        mainFlag: false,
        subTaskFlags: []
      };

      return taskFlagObject;
    },

    getPDFAlbumInformation() {
      let images = [];
      if (this.ePortfolioImagesTemp !== null) {
        for (let i = 0; i < this.ePortfolioImagesTemp.length; i++) {
          if (this.ePortfolioImageFlag[i] === true) {
            images.push(this.ePortfolioImages[i]);
          }
        }
      }
      return images;
    },

    getPDFLearningJournalInformation() {
      let tasks = [];
      if (this.learningJournalTasksTemp !== null) {
        for (let i = 0; i < this.learningJournalTasksTemp.length; i++) {
          if (this.learningJournalTaskFlag[i].mainFlag === true) {
            tasks.push(this.learningJournalTasksTemp[i]);
          }
          for (let j = 0; j < this.learningJournalTasksTemp[i].subTasks.length; j++) {
            if (this.learningJournalTaskFlag[i].subTaskFlags[j] === true) {
              tasks.push(this.learningJournalTasksTemp[i].subTasks[j]);
            }
          }
        }
      }
      return tasks;
    },

    updatePDFPreview() {
      let chosenAlbumImageIds = this.getPDFAlbumInformation();
      let chosenLearningJournalTask = this.getPDFLearningJournalInformation();

      this.pdfInformation = {
        pdfExportFlags: this.pdfExportFlags,
        basicInformation: this.basicInformation,
        statusOverviewInformation: this.statusOverviewInfo,
        selectedImages: chosenAlbumImageIds,
        selectedJournalTasks: chosenLearningJournalTask
      };

      this.$refs.pdf_ref.updatePDFTemplate(this.pdfInformation);
    },

    exportPdf() {
      this.$refs.pdf_ref.exportPdf(this.basicInformation.realName);

      this.stepExport = 1;
      this.initLearningJournalTaskFlag();
      this.ePortfolioImageFlag = [];

      this.closeExportModal();

      /*let re = /^([A-Za-z]+\s?)*[A-Za-z]$/g; //input only 26 alphabet and space(first one and last one cannot be space)
                let filename = 'Eportfolio-' + this.basicInformation.realName + '.pdf';
                let xhr = new XMLHttpRequest();
                xhr.open("POST", storage_getdashboardApiUrl('API_GATEWAY_STORAGE') + "/portfolio/PDF?realName=" + this.basicInformation.realName, true);
                xhr.responseType = 'arraybuffer';
                xhr.setRequestHeader('Content-type','application/json');
                xhr.addEventListener('load', function () {
                    if (xhr.status === 200) {
                        let a = document.createElement('a');
                        let url = window.URL.createObjectURL(new Blob([xhr.response]));

                        a.href = url;
                        a.download = filename;
                        a.click();
                        window.URL.revokeObjectURL(url);

                    }
                });
                xhr.send(JSON.stringify(pdfInformation));
                this.stepExport = 1;*/
    },

    generatePassword() {
      let s = [];
      let hexDigits = '0123456789abcdef';
      for (let i = 0; i < 36; i++) {
        s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
      }
      s[14] = '4'; // bits 12-15 of the time_hi_and_version field to 0010
      s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1); // bits 6-7 of the clock_seq_hi_and_reserved to 01
      s[8] = s[13] = s[18] = s[23] = '-';

      this.generatedPassword = s.join('');

      let config = {
        headers: {
          'Content-Type': 'text/plain'
        }
      };

      axios
        .post(
          storage_getdashboardApiUrl('API_GATEWAY_STORAGE') + '/portfolio/newpassword',
          this.generatedPassword,
          config
        )
        .catch(error => {
          console.log(error);
        });
    },

    getInformationFromDatabase() {
      let url;

      if (this.$store.currentUser === null) {
        url =
          storage_getdashboardApiUrl('API_GATEWAY_STORAGE') +
          '/portfolio/information?eportfolioid=' +
          this.eportfolioid;
      } else {
        url =
          storage_getdashboardApiUrl('API_GATEWAY_STORAGE') +
          '/portfolio?eportfolioid=' +
          this.eportfolioid;
      }
      
      axios
        .get(url)
        .then(response => {
          //console.log(response.data);
          //Data from Portfolio
          this.hideEPortfolioInstruction = response.data.hideEPortfolioInstruction;
          this.userId = response.data.userId;
          this.ePortfolioId = response.data.ePortfolioId;
          
          axios
        .get(`${storage_getdashboardApiUrl('API_GATEWAY_STORAGE')}/profiles/${this.userId}`)
        .then(response => {
          this.avatarImageId = response.data.avatarImageId;
          this.coverImageId = response.data.coverImageId;
        });
          
          
          if (this.$store.currentUser === null) {
            this.isActualUser = false;
          } else {
            this.isActualUser = this.userId === this.$store.currentUser.userid;
          }

          if (response.data.basicInfoUserPermission !== null) {
            this.basicInformation.basicInfoUserPermission = response.data.basicInfoUserPermission;
          } else this.basicInformation.basicInfoUserPermission = 'onlyMe';
          this.basicInformation.realName = response.data.realName;
          this.basicInformation.userName = response.data.userName;
          this.basicInformation.birthday = response.data.birthday;
          this.basicInformation.email = response.data.email;
          this.basicInformation.country = response.data.country;
          this.basicInformation.school = response.data.school;
          this.basicInformation.bio = response.data.bio;

          this.statusOverviewUserPermission = response.data.statusOverviewUserPermission;

          this.albumUserPermission = response.data.albumUserPermission;
          this.ePortfolioImages = response.data.ePortfolioImages;
          this.ePortfolioImagesTemp = this.ePortfolioImages;
          if (this.ePortfolioImagesTemp === null || this.ePortfolioImagesTemp.length === 0) {
            this.pdfExportFlags.albumFlag = false;
          }

          this.journalUserPermission = response.data.learningJournalUserPermission;
          if (response.data.journalStatusUpdateId === null && this.isActualUser) {
            let statusUpdate = {
              text: '',
              photoId: '',
              fileId: '',
              fileName: '',
              fileDescription: '',
              category: 'eportfolioAlbum'
            };

            axios
              .post(getStatusUpdateApiUrl('API_GATEWAY_STORAGE'), statusUpdate)
              .then(response => {
                //console.log(response.data);
                this.journalStatusUpdateId = response.data.statusUpdateId;
                axios
                  .post(
                    storage_getdashboardApiUrl('API_GATEWAY_STORAGE') +
                      '/portfolio/journalstatusupdate?statusupdateid=' +
                      response.data.statusUpdateId
                  )
                  .then(response => {
                    //console.log(response.data);
                  })
                  .catch(error => {
                    console.log(error);
                  });
              })
              .catch(error => {
                console.log(error);
              });
          } else this.journalStatusUpdateId = response.data.journalStatusUpdateId;

          this.learningJournalTasks = response.data.learningJournalTasks;
          this.learningJournalTasksTemp = this.learningJournalTasks;
          if (this.learningJournalTasksTemp === null || this.learningJournalTasksTemp.length === 0) {
            this.pdfExportFlags.journalFlag = false;
          }

          this.generatedPassword = response.data.generatedPassword;

          //Data from Profiles
          axios
            .get(
              storage_getdashboardApiUrl('API_GATEWAY_STORAGE') +
                '/profile/restricteduser?userid=' +
                response.data.userId
            )
            .then(response => {
              //console.log(response.data);
              this.avatarImageId = response.data.avatarImageId;
              this.coverImageId = response.data.coverImageId;
              this.level = response.data.level;
            })
            .catch(error => {
              console.log(error);
            });

          //Specific Data from Profiles to get Username
          axios
            .get(
              storage_getdashboardApiUrl('API_GATEWAY_STORAGE') +
                '/profile/restrictedlogininfo?userid=' +
                response.data.userId
            )
            .then(response => {
              //console.log(response.data);
              this.userName = response.data.userName;
              this.userType = response.data.userType;
            })
            .catch(error => {
              console.log(error);
            });

          //Data from Profiles to check if actualUser and Portfolio User are already friends
          if (this.$store.currentUser == null) {
            this.alreadyFriends = false;
          } else {
            axios
              .get(
                storage_getdashboardApiUrl('API_GATEWAY_STORAGE') +
                  '/profile/userrelation?userid=' +
                  response.data.userId +
                  '&friendcheck=true'
              )
              .then(response => {
                this.alreadyFriends = response.data;
              })
              .catch(error => {
                console.log(error);
              });
          }
        })
        .catch(error => {
          console.log(error);
        });
    }
  },

  watch: {
    hideEPortfolioInstruction: {
      handler(newVal) {
        if (newVal === true || newVal === false) {
          this.hideEPortfolioInstructionTemp = this.hideEPortfolioInstruction;
          if (!this.hideEPortfolioInstruction) {
            $('#modal-about-eportfolio').modal('show');
          }
        }
      }
    },

    userId: {
      handler(newVal) {
        if (sessionStorage.getItem(newVal) === 'true') {
          this.passwordIsCorrect = true;
        }

        if (sessionStorage.getItem(this.userId + '_journal') === 'true') {
          $('#eportfolio-learningJournal-tab')[0].click();
          sessionStorage.removeItem(this.userId + '_journal');
        }
      }
    },

    learningJournalTasksTemp: {
      deep: true,
      handler(newVal) {
        this.initLearningJournalTaskFlag();
      }
    },

    learningJournalTaskFlag: {
      deep: true,
      handler(newVal) {
        this.learningJournalTaskFlagCounter = 0;
        for (let i = 0; i < newVal.length; i++) {
          this.learningJournalTaskFlagCounter += newVal[i].subTaskFlags.filter(Boolean).length;
          if (newVal[i].mainFlag === true) {
            this.learningJournalTaskFlagCounter++;
          }
        }
      }
    }
  },

  created() {
    this.getInformationFromDatabase();
  },

  mounted() {
    let actualThis = this;
    $('#modal-about-eportfolio').on('hidden.bs.modal', function() {
      if (actualThis.hideEPortfolioInstruction !== actualThis.hideEPortfolioInstructionTemp) {
        axios
          .post(
            storage_getdashboardApiUrl('API_GATEWAY_STORAGE') +
              '/portfolio/instruction?userid=' +
              actualThis.userId +
              '&hideinstruction=' +
              actualThis.hideEPortfolioInstructionTemp
          )
          .then(response => {
            actualThis.hideEPortfolioInstruction = actualThis.hideEPortfolioInstructionTemp;
          })
          .catch(error => {
            console.log(error);
          });
      }
    });
  }
};
</script>

<style scoped>
.dialog-enlarged {
  max-width: 1024px;
}
</style>
