<template>
  <div
    aria-labelledby="eportfolio-album-tab"
    class="tab-pane fade"
    id="eportfolio-album"
    role="tabpanel"
    v-show="albumIsSelected"
  >
    <div
      class="card mt-3"
      v-if="isActualUser || (alreadyFriends && albumUserPermission === 'private') || albumUserPermission === 'public'"
    >
      <div class="card-header card-header-with-border">
        <h6 class="text-left">
          {{ $t('profiles_eportfolio.eportfolio_album') }}
          <a
            class="btn btn-circle btn-set-point"
            data-target="#modal-upload-image"
            v-if="isActualUser"
            data-toggle="modal"
            href="#"
            :title="$t('profiles_eportfolio.title_load_image')"
          >
            <img :alt="$t('profiles_eportfolio.alt_image_add')" class="clearfix" src="../../../img/add.png" />
          </a>
          <a
            v-if="isActualUser"
            @click="displayAlbumSettings"
            class="btn btn-circle btn-set-point"
            title="Edit Album Settings"
          >
            <img src="../../../img/BTN-Edit-circle.png" alt="add" class="clearfix w-100" style="" />
          </a>
        </h6>
      </div>
      <div class="card-body text-left" id="grid-top-level">
        <div class="p-2 mb-3">
          <PhotoAlbum
            :files="onlyImageIds"
            :columns="5"
            :file-are-removeable="true"
            v-on:removeFileClicked="removeImageFromAlbum"
            v-on:fileClicked="displayImage"
          >
          </PhotoAlbum>
        </div>
      </div>
    </div>

    <div class="card mt-3" v-else>
      <div class="card-header card-header-with-border">
        <h6 class="text-center">No access to this Information!</h6>
      </div>
    </div>

    <!--===============-->
    <!-- MODAL WINDOWS -->
    <!--===============-->

    <!--Modal to change Album Settings -->
    <div class="modal fade" id="eportfolio-album-settings" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Album Settings</h5>
            <button class="close" data-dismiss="modal" type="button">&times;</button>
          </div>
          <div class="modal-body text-left">
            <form>
              <div class="form-group form-inline">
                <div class="custom-control custom-radio custom-control-inline mr-5">
                  <input
                    class="custom-control-input"
                    id="albumPermissionPublic"
                    name="customRadio"
                    type="radio"
                    value="public"
                    v-model="albumUserPermission"
                  />
                  <label class="custom-control-label" for="albumPermissionPublic">{{
                    $t('profiles_about.public')
                  }}</label>
                  <span class="tooltiptext">{{ $t('profiles_about.users_community') }}</span>
                </div>
                <div class="custom-control custom-radio custom-control-inline mr-5">
                  <input
                    class="custom-control-input"
                    id="albumPermissionPrivate"
                    name="customRadio"
                    type="radio"
                    value="private"
                    v-model="albumUserPermission"
                  />
                  <label class="custom-control-label" for="albumPermissionPrivate">{{
                    $t('profiles_about.private')
                  }}</label>
                  <span class="tooltiptext">{{ $t('profiles_about.users_community_private2') }}</span>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input
                    class="custom-control-input"
                    id="albumPermissionOnlyMe"
                    name="customRadio"
                    type="radio"
                    value="onlyMe"
                    v-model="albumUserPermission"
                  />
                  <label class="custom-control-label" for="albumPermissionOnlyMe">{{ $t('profiles_about.me') }}</label>
                  <span class="tooltiptext">{{ $t('profiles_about.means_users') }}</span>
                </div>
              </div>
            </form>
            <div class="modal-footer">
              <button class="btn btn-green w-25" type="button" @click="saveAlbumSettings">
                {{ $t('profiles_about.save') }}
              </button>
              <button class="btn btn-orange w-25" data-dismiss="modal" id="basicInfoCloseModal" type="button">
                {{ $t('profiles_about.cancel') }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Modal of Upload image to ePortfolio Album -->
    <div class="modal fade" id="modal-upload-image" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ $t('profiles_eportfolio.image_album') }}</h5>
            <button class="close" data-dismiss="modal" type="button">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group text-left">
              <label class="mb-0"
                ><h6>{{ $t('profiles_eportfolio.title_image') }}</h6></label
              >
              <input
                class="form-control"
                :placeholder="$t('profiles_eportfolio.input_placeholder_photo')"
                v-model="photoUploadData.name"
              />
            </div>
            <div class="form-group text-left">
              <label class="mb-0"><h6>Description</h6></label>
              <textarea
                class="form-control"
                :placeholder="$t('profiles_eportfolio.input_placeholder_photo')"
                v-model="photoUploadData.description"
              ></textarea>
            </div>
            <div class="form-group uploader pl-0" style="height: 300px; width: 400px" v-if="imageSelected">
              <img id="image-preview" class="border" style="max-height: 300px; max-width: 400px" src="#" />
            </div>
            <div class="mt-3 form-group text-left">
              <a>
                <label for="file-upload" class="btn btn-green" style="left: 30px">Select a Photo</label>
                <input
                  class="form-control"
                  placeholder="Uploaded Image Title"
                  readonly
                  v-model="photoUploadData.name"
                />
                <input
                  type="file"
                  @change="handleFileChanged"
                  accept="image/*"
                  class="custom-file-input"
                  id="file-upload"
                />
              </a>
            </div>
          </div>
          <br />
          <div class="modal-footer">
            <button
              class="btn"
              type="button"
              id="btn-save-image"
              v-bind:class="{ 'btn-green': showSaveButton }"
              :disabled="!showSaveButton"
              v-on:click="saveImageToAlbum"
            >
              {{ $t('profiles_eportfolio.save') }}
            </button>
            <button class="btn btn-orange" data-dismiss="modal" type="button">
              {{ $t('profiles_eportfolio.cancel2') }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--Modal of view Image-->
    <div class="modal fade" id="modal-view-album-image" role="dialog">
      <div class="modal-dialog" style="max-width: 1024px">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ displayedImage.imageTitle }}</h5>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col" style="max-width: 568px">
                <img :src="displayedImage.url" id="modalViewImage" style="max-height: 568px; max-width: 568px" />
              </div>
              <div class="col" id="viewStatusUpdate_div" style="max-width: 422px">
                <ViewStatusUpdate
                  v-if="displayedImage.statusUpdateId && this.$store.currentUser !== null"
                  :statusUpdateId="displayedImage.statusUpdateId"
                  :isStatusUpdateFromEPortfolio="'album'"
                ></ViewStatusUpdate>
                <div v-else class="modal-title text-center">
                  You need to log in to comment this image...
                  <a class="nav-link" href="/login">
                    <button class="btn btn-orange" type="button">Login</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-orange" data-dismiss="modal" type="button">{{ $t('profiles.close') }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { storage_getdashboardApiUrl, storage_getURL, getStatusUpdateApiUrl } from '../../../js/global';
import ViewStatusUpdate from '../common/statusupdate/ViewStatusUpdate';
import PhotoAlbum from '../common/album/Album.vue';

const initialPhotUploadData = {
  name: '',
  description: '',
  file: {}
};

export default {
  name: 'EPortfolio_Album',

  components: {
    ViewStatusUpdate,
    PhotoAlbum
  },

  props: {
    ePortfolioId: {
      type: String,
      required: true
    },
    albumIsSelected: Boolean,
    albumPermissionInformation: String,
    imagesFromEPortfolio: Array,
    isActualUser: Boolean,
    alreadyFriends: Boolean
  },

  data: function() {
    return {
      albumUserPermission: 'onlyMe',
      imageTitle: '',
      imageDescription: '',
      imageSelected: false,
      fileName: null,
      imageInformation: Object,
      saveButtonEnabled: false,

      displayedImage: {},
      loadModal: false,

      photoUploadData: {
        name: '',
        description: '',
        file: {}
      }
    };
  },
  computed: {
    showSaveButton() {
      if (this.photoUploadData.file.name) return true;
      return false;
    },
    onlyImageIds() {
      return this.imagesFromEPortfolio.map(image => image.imageId);
    }
  },
  methods: {
    handleFileChanged(e) {
      if (e.target.files.length > -1) {
        this.photoUploadData.file = e.target.files[0];
        this.photoUploadData.name = this.photoUploadData.file.name;
      }
    },
    saveImageToAlbum() {
      let formData = new FormData();
      formData.append('file', this.photoUploadData.file);
      axios
        .post(`${storage_getURL('FILES')}/api/files`, formData, {
          headers: { 'Content-Type': 'multipart/form-data' }
        })
        .then(response => {
          let photoId = response.data;
          if (!this.photoUploadData.description) this.photoUploadData.description = '';
          let photoData = {
            photoId: photoId,
            imageTitle: this.photoUploadData.name,
            description: this.photoUploadData.description
          };
          axios
            .post(
              `${storage_getdashboardApiUrl('API_GATEWAY_STORAGE')}/portfolios/${
                this.$store.currentUser.userid
              }/images`,
              photoData
            )
            .then(response => {
              this.imagesFromEPortfolio.push(response.data);
              $('#modal-upload-image').modal('hide');
              document.getElementById('file-upload').value = '';
              Object.assign(this.photoUploadData, initialPhotUploadData);
            });
        });
    },

    displayAlbumSettings() {
      $('#eportfolio-album-settings').modal('show');
    },

    getImageUrl(imageId) {
      if (this.$store.currentUser === null)
        return storage_getdashboardApiUrl('API_GATEWAY_STORAGE') + '/portfolio/image?imageid=' + imageId;
      return storage_getURL('FILES') + '/api/files/' + imageId + '?content-deposition=inline';
    },

    saveAlbumSettings() {
      let config = {
        headers: {
          'Content-Type': 'text/plain'
        }
      };
      axios
        .post(
          storage_getdashboardApiUrl('API_GATEWAY_STORAGE') + '/portfolio/albumsettings',
          this.albumUserPermission,
          config
        )
        .then(response => {
          $('#eportfolio-album-settings').modal('hide');
        })
        .catch(error => {
          console.log(error);
        });
    },

    displayImage(imageId) {
      let imageToDisplay = this.imagesFromEPortfolio.filter(image => image.imageId === imageId)[0];
      imageToDisplay.url = this.getImageUrl(imageId);
      this.displayedImage = Object.assign({}, imageToDisplay);
      $('#modal-view-album-image').modal('show');
    },

    removeImageFromAlbum(imageId) {
      this.$swal({
        text: 'Remove this Image from Album?',

        type: 'question',
        showCancelButton: true,
        confirmButtonColor: '#90d400',
        cancelButtonColor: '#ed730e',
        confirmButtonText: 'Confirm'
      }).then(result => {
        if (!result.value) return;
        axios
          .delete(
            `${storage_getdashboardApiUrl('API_GATEWAY_STORAGE')}/portfolios/${
              this.$store.currentUser.userid
            }/images/${imageId}`
          )
          .then(() => {
            let indexOfImage = this.imagesFromEPortfolio.indexOf(imageId);
            this.imagesFromEPortfolio.splice(indexOfImage, 1);

            this.$swal({
              title: 'Image removed',
              text: 'Your image was removed successfully!',
              type: 'success',
              showCancelButton: false,
              confirmButtonColor: '#90d400'
            });
          });
      });
    }
  },

  watch: {
    albumPermissionInformation: {
      handler(newVal) {
        if (newVal !== null && newVal !== '') {
          this.albumUserPermission = newVal;
        }
      }
    }
  },

  mounted() {
    $('#modal-view-album-image').on('hidden.bs.modal', () => {
      this.displayedImage.statusUpdateId = null;
    });
  }
};
</script>

<style scoped></style>
