<template>
    <div aria-labelledby="eportfolio-learningJournal-tab" class="tab-pane fade" id="eportfolio-learningJournal" role="tabpanel"
         v-show="learningJournalIsSelected">
        <div class="card mt-3" v-if="isActualUser || (alreadyFriends && journalUserPermission === 'private') || journalUserPermission === 'public'">
            <div class="card-header card-header-with-border">
                <h6 class="text-left">
                    Learning Journal
                    <a      v-if="isActualUser"
                            @click="displayJournalSettings"
                            class="btn btn-circle btn-set-point"
                            title="Edit Journal Settings"
                    >
                        <img src="../../../img/BTN-Edit-circle.png" alt="add" class="clearfix w-100" style="width:100%; margin-top: -8px;"/>
                    </a>
                </h6>

            </div>

            <div class="card-body text-left pl-0 pr-5">
                <ol class="mission-levels" v-if="isActualUser">
                    <li  class="mb-4" v-for="(task, taskIndex) in tasks">
                        <div class="mission-item">
                            <span class="m-levels-num"></span>
                            <div @blur="updateTask(taskIndex, $event)" contenteditable="true" class="editable-title m-levels-title">
                                {{task.title}}
                            </div>
                            <a
                                @click="addSubTask(taskIndex)"
                                class="btn btn-circle ml-1"
                                data-toggle="modal"
                                title="Add learning objects"
                            >
                                <img src="../../../img/BTN-Add-circle.png" alt="add" class="clearfix w-100">
                            </a>
                            <a
                                @click="goToTaskContent(task.statusUpdateId)"
                                class="btn btn-circle ml-1"
                                title="Go to add contents."
                            >
                                <img src="../../../img/BTN-Edit-circle.png" alt="add" class="clearfix w-100" />
                            </a>
                            <a @click="removeTask(taskIndex)" class="btn btn-circle ml-1" :title="'Delete' + ' ' + task.title">
                                <img src="../../../img/ICON_Delete-Post.png" alt="delete" class="clearfix w-100">
                            </a>
                        </div>

                        <!--Leaning objects under level 01: This is default-->
                        <ol class="mission-tasks">
                            <li class="mb-3" v-for="(subTask, subTaskIndex) in task.subTasks">
                                <div class="mission-item mb-3">
                                    <span class="m-tasks-num"></span>
                                    <div
                                            @blur="updateTask(taskIndex, $event, subTaskIndex)"
                                            class="editable-title mr-1 m-tasks-title"
                                            contenteditable="true"
                                    >{{subTask.title}}</div>
                                    <a
                                        @click="goToTaskContent(subTask.statusUpdateId)"
                                        class="btn btn-circle ml-1"
                                        title="Go to add contents."
                                    >
                                        <img src="../../../img/BTN-Edit-circle.png" alt="add" class="clearfix w-100" />
                                    </a>
                                    <a @click="removeSubTask(taskIndex, subTaskIndex)" class="btn btn-circle ml-1" title="Delete">
                                        <img src="../../../img/ICON_Delete-Post.png" alt="delete" class="clearfix w-100">
                                    </a>
                                </div>
                            </li>
                        </ol>
                    </li>

                    <li class="mb-4">
                        <a @click="addTask">
                            <div class="mission-add-level">
                                <span>Add Task</span>
                            </div>
                        </a>
                    </li>
                </ol>

                <!-- for other users -->
                <ol class="mission-levels" v-else>
                    <li  class="mb-4" v-for="(task) in tasks">
                        <div class="mission-item">
                            <span class="m-levels-num"></span>
                            <button @click="goToTaskContent(task.statusUpdateId)" class="btn btn-link" type="button">
                                <span class="h5">{{ task.title }}</span>
                            </button>
                        </div>
                        <ol class="mission-tasks">
                            <li class="mb-3" v-for="(subTask) in task.subTasks">
                                <div class="mission-item">
                                    <span class="m-tasks-num"></span>
                                    <button
                                            @click="goToTaskContent(subTask.statusUpdateId)"
                                            class="btn btn-link"
                                            type="button"
                                    >
                                        <span class="h6">{{subTask.title}}</span>
                                    </button>
                                </div>
                            </li>
                        </ol>
                    </li>
                </ol>
            </div>
            <ViewStatusUpdate v-if="statusUpdateId && this.$store.currentUser !== null"
                              :statusUpdateId="statusUpdateId"
                              :isStatusUpdateFromEPortfolio="'journal'"
            ></ViewStatusUpdate>
        </div>

        <div class="card mt-3" v-else>
            <div class="card-header card-header-with-border">
                <h6 class="text-center">No access to this Information!</h6>
            </div>
        </div>

        <!--===============-->
        <!-- MODAL WINDOWS -->
        <!--===============-->

        <!--Modal to change Learning Journal Settings -->
        <div class="modal fade" id="eportfolio-learning-journal-settings" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Learning Journal Settings</h5>
                        <button class="close" data-dismiss="modal" type="button">&times;</button>
                    </div>
                    <div class="modal-body text-left">
                        <form>
                            <div class="form-group form-inline">
                                <div class="custom-control custom-radio custom-control-inline mr-5">
                                    <input class="custom-control-input" id="journalPermissionPublic" name="customRadio"
                                           type="radio" value="public"
                                           v-model="journalUserPermission">
                                    <label class="custom-control-label" for="journalPermissionPublic">{{$t('profiles_about.public') }}</label>
                                    <span class="tooltiptext">{{ $t('profiles_about.users_community') }}</span>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline mr-5">
                                    <input class="custom-control-input" id="journalPermissionPrivate" name="customRadio"
                                           type="radio" value="private"
                                           v-model="journalUserPermission">
                                    <label class="custom-control-label" for="journalPermissionPrivate">{{$t('profiles_about.private') }}</label>
                                    <span class="tooltiptext">{{ $t('profiles_about.users_community_private2') }}</span>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input class="custom-control-input" id="journalPermissionOnlyMe" name="customRadio"
                                           type="radio" value="onlyMe"
                                           v-model="journalUserPermission">
                                    <label class="custom-control-label" for="journalPermissionOnlyMe">{{$t('profiles_about.me') }}</label>
                                    <span class="tooltiptext">{{ $t('profiles_about.means_users') }}</span>
                                </div>
                            </div>
                        </form>
                        <div class="modal-footer">
                            <button class="btn btn-green w-25" type="button" @click="saveJournalSettings">
                                {{$t('profiles_about.save') }}
                            </button>
                            <button class="btn btn-orange w-25" data-dismiss="modal" id="basicInfoCloseModal" type="button">
                                {{ $t('profiles_about.cancel') }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>

    import {storage_getdashboardApiUrl, getStatusUpdateApiUrl} from "../../../js/global";
    import ViewStatusUpdate from "../common/statusupdate/ViewStatusUpdate";



    export default {
        name: "EPortfolio_LearningJournal",

        components:{
            ViewStatusUpdate,
        },

        props:{
            learningJournalIsSelected: Boolean,
            journalPermissionInformation: String,
            tasksFromEPortfolio: Array,
            isActualUser: Boolean,
            alreadyFriends: Boolean,
            statusUpdateId: String,
            userId: String,
        },

        data: function () {
            return{
                journalUserPermission: "onlyMe",
                tasks: [],
            }
        },

        methods:{
            displayJournalSettings(){
                $('#eportfolio-learning-journal-settings').modal('show');
            },

            saveJournalSettings(){
                let config = {
                    headers: {
                        'Content-Type': 'text/plain'
                    }
                };
                axios.post(storage_getdashboardApiUrl('API_GATEWAY_STORAGE') + "/portfolio/journalsettings", this.journalUserPermission, config)
                    .then(response => {
                        $('#eportfolio-learning-journal-settings').modal('hide');
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },

            addTask(){
                let task = {
                    title: 'click to edit title',
                    statusUpdateId: '',
                    subTasks: []
                };

                //create statusUpdate for an entry
                let statusUpdate = {text: '', photoId: '', fileId: '', fileName: '',
                    fileDescription: '', category: 'eportfolioAlbum'};

                axios.post(getStatusUpdateApiUrl('API_GATEWAY_STORAGE'), statusUpdate)
                    .then(response =>{
                        task.statusUpdateId = response.data.statusUpdateId;
                        this.tasks.push(task);
                        this.updateTasksInDatabase();
                    })
                    .catch(error =>{
                        console.log(error);
                    });
            },

            removeTask(taskIndex){
                if(this.tasks[taskIndex].statusUpdateId !== null && this.tasks[taskIndex].statusUpdateId !== ""){
                    axios.delete(getStatusUpdateApiUrl('API_GATEWAY_STORAGE')+"/"+this.tasks[taskIndex].statusUpdateId)
                        .then(response =>{
                            this.tasks.splice(taskIndex, 1);
                            this.updateTasksInDatabase();
                        })
                        .catch(error =>{
                            console.log(error);
                        });
                }
                else {
                    this.tasks.splice(taskIndex, 1);
                    this.updateTasksInDatabase();
                }
            },

            updateTask(taskIndex, event, subTaskIndex){
                if(event.target.innerText === ''){
                    event.target.innerText = 'click to edit title';
                }
                else{
                    if(subTaskIndex === undefined){
                        if(event.target.innerText !== this.tasks[taskIndex].title){
                            this.tasks[taskIndex].title = event.target.innerText;
                            this.updateTasksInDatabase();
                        }
                    }
                    else{
                        if(event.target.innerText !== this.tasks[taskIndex].subTasks[subTaskIndex].title){
                            this.tasks[taskIndex].subTasks[subTaskIndex].title = event.target.innerText;
                            this.updateTasksInDatabase();
                        }
                    }
                }
            },

            addSubTask(taskIndex){
                let task ={
                    title: 'click to edit title',
                    statusUpdateId: '',
                };

                //create statusUpdate for an entry
                let statusUpdate = {text: '', photoId: '', fileId: '', fileName: '',
                    fileDescription: '', category: 'eportfolioAlbum'};

                axios.post(getStatusUpdateApiUrl('API_GATEWAY_STORAGE'), statusUpdate)
                    .then(response =>{
                        task.statusUpdateId = response.data.statusUpdateId;
                        this.tasks[taskIndex].subTasks.push(task);
                        this.updateTasksInDatabase();
                    })
                    .catch(error =>{
                        console.log(error);
                    });


            },

            removeSubTask(taskIndex, subTaskIndex){
                if(this.tasks[taskIndex].subTasks[subTaskIndex].statusUpdateId !== null && this.tasks[taskIndex].subTasks[subTaskIndex].statusUpdateId !== ""){
                    axios.delete(getStatusUpdateApiUrl('API_GATEWAY_STORAGE')+"/"+this.tasks[taskIndex].subTasks[subTaskIndex].statusUpdateId)
                        .then(response =>{
                            this.tasks[taskIndex].subTasks.splice(subTaskIndex, 1);
                            this.updateTasksInDatabase();
                        })
                        .catch(error =>{
                            console.log(error);
                        });
                }
                else {
                    this.tasks[taskIndex].subTasks.splice(subTaskIndex, 1);
                    this.updateTasksInDatabase();
                }

            },

            goToTaskContent(statusUpdateId){
                sessionStorage.setItem(this.userId+"_journal", "true");
                this.$router.push("/eportfolio/learningJournalContent/"+statusUpdateId);
            },


            updateTasksInDatabase(){
                let wrapper = {learningJournalTaskList: []};
                for(let i = 0; i < this.tasks.length; i++){
                    wrapper.learningJournalTaskList.push(this.tasks[i]);
                }

                axios.post(storage_getdashboardApiUrl('API_GATEWAY_STORAGE') + "/portfolio/journal", wrapper)
                    .then(response =>{
                        this.$emit("updateJournal", this.tasks);
                    })
                    .catch(error => {
                        console.log(error);
                    });
            }
        },


        watch: {
            'journalPermissionInformation': {
                handler(newVal) {
                    if (newVal !== null && newVal !== "") {
                        this.journalUserPermission = newVal;
                    }
                }
            },

            'tasksFromEPortfolio':{
                deep: true,
                handler(newVal){
                    if(newVal !== null){
                        this.tasks = newVal;
                    }
                }
            }
        },
    }
</script>

<style scoped>
    @import url('../../../css/courses.css');
</style>