<template>
    <div aria-labelledby="eportfolio-basicInfo-tab" class="tab-pane fade show active" id="eportfolio-basicInfo" role="tabpanel"
         v-show="basicInfoIsSelected">
        <div class="card mt-3" v-if="isActualUser || (alreadyFriends && basicInformation.basicInfoUserPermission === 'private')||
            basicInformation.basicInfoUserPermission === 'public'">
            <div class="card-header card-header-with-border">

                <h6 class="text-left">{{ $t('profiles_eportfolio.data_personal') }}
                    <a      v-if="isActualUser"
                            @click="displayBasicInfoModification"
                            class="btn btn-circle btn-set-point"
                            title="Edit Basic Info Settings"
                    >
                        <img src="../../../img/BTN-Edit-circle.png" alt="add" class="clearfix w-100" style=""/>
                    </a>
                </h6>

                <div class="card-body text-left">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex pb-0">
                            <h6 class="ml-2" style="width: 100px;">Real Name:</h6><span>{{basicInformation.realName}}</span>
                        </li>
                        <li class="list-group-item d-flex pb-0">
                            <h6 class="ml-2" style="width: 100px;">{{$t('profiles_eportfolio.username') }}</h6><span>{{basicInformation.userName}}</span>
                        </li>
                        <li class="list-group-item d-flex pb-0">
                            <h6 class="ml-2" style="width: 99px;">{{$t('profiles_eportfolio.birthday') }}</h6> <span>{{basicInformation.birthday}}</span>
                        </li>
                        <li class="list-group-item d-flex pb-0">
                            <h6 class="ml-2" style="width: 99px;">E-Mail:</h6> <span>{{basicInformation.email}}</span>
                        </li>
                        <li class="list-group-item d-flex pb-0">
                            <h6 class="ml-2" style="width: 100px;">{{$t('profiles_eportfolio.country') }}</h6> <span>{{basicInformation.country}}</span>
                        </li>
                        <li class="list-group-item d-flex pb-0">
                            <h6 class="ml-2" style="width: 100px;">{{$t('profiles_eportfolio.school') }}</h6> <span>{{basicInformation.school}}</span>
                        </li>
                        <li class="list-group-item d-flex pb-0">
                            <h6 class="ml-2" style="width: 100px;">{{$t('profiles_eportfolio.bio') }}</h6> <span>{{basicInformation.bio}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card mt-3" v-else>
            <div class="card-header card-header-with-border">
                <h6 class="text-center">No access to this Information!</h6>
            </div>
        </div>


        <!--===============-->
        <!-- MODAL WINDOWS -->
        <!--===============-->

        <!--Modal to change basic info -->
        <div class="modal fade" id="eportfolio-basic-info-modification" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Basic Information</h5>
                        <button class="close" data-dismiss="modal" type="button">&times;</button>
                    </div>
                    <div class="modal-body text-left">
                        <form>
                            <div class="form-group form-inline">
                                <div class="custom-control custom-radio custom-control-inline mr-5">
                                    <input class="custom-control-input" id="BasicInfoPermissionPublic" name="customRadio"
                                           type="radio" value="public"
                                           v-model="basicInformation.basicInfoUserPermission">
                                    <label class="custom-control-label" for="BasicInfoPermissionPublic">{{$t('profiles_about.public') }}</label>
                                    <span class="tooltiptext">{{ $t('profiles_about.users_community') }}</span>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline mr-5">
                                    <input class="custom-control-input" id="BasicInfoPermissionPrivate" name="customRadio"
                                           type="radio" value="private"
                                           v-model="basicInformation.basicInfoUserPermission">
                                    <label class="custom-control-label" for="BasicInfoPermissionPrivate">{{$t('profiles_about.private') }}</label>
                                    <span class="tooltiptext">{{ $t('profiles_about.users_community_private2') }}</span>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input class="custom-control-input" id="BasicInfoPermissionOnlyMe" name="customRadio"
                                           type="radio" value="onlyMe"
                                           v-model="basicInformation.basicInfoUserPermission">
                                    <label class="custom-control-label" for="BasicInfoPermissionOnlyMe">{{$t('profiles_about.me') }}</label>
                                    <span class="tooltiptext">{{ $t('profiles_about.means_users') }}</span>
                                </div>
                            </div>
                        </form>
                        <form>
                            <div class="form-group">
                                <label for="formBasicInfoRealNameInput"><h6 class="mb-0">Real Name</h6></label>
                                <input class="form-control" id="formBasicInfoRealNameInput" v-model="basicInformationTemp.realName"
                                       placeholder="Enter your Username" type="text">
                                <div class="invalid-feedback">
                                    {{ $t('profiles_about.username_use') }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="formBasicInfoUsernameInput"><h6 class="mb-0">{{ $t('profiles_about.username') }}</h6></label>
                                <input class="form-control" id="formBasicInfoUsernameInput" v-model="basicInformationTemp.userName"
                                       placeholder="Enter your Username" type="text">
                                <div class="invalid-feedback">
                                    {{ $t('profiles_about.username_use') }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="formBasicInfoBirthInput"><h6 class="mb-0">{{ $t('profiles_about.birthday') }}</h6></label>
                                <input class="form-control" id="formBasicInfoBirthInput" type="date" v-model="basicInformationTemp.birthday">
                            </div>
                            <div class="form-group">
                                <label for="BasicInfoMailInput"><h6 class="mb-0">E-Mail</h6></label>
                                <input class="form-control" id="BasicInfoMailInput" type="text" placeholder="Enter your E-Mail address" v-model="basicInformationTemp.email">
                            </div>
                            <div class="form-group">
                                <label for="formBasicInfoCountrySelect"><h6 class="mb-0">{{ $t('profiles_about.country') }}</h6></label>
                                <select class="form-control" data-country="US" id="formBasicInfoCountrySelect" v-model="basicInformationTemp.country">
                                    <option v-for="country in countryList">{{country}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="formBasicInfoSchoolInput"><h6 class="mb-0">{{ $t('profiles_about.school')}}</h6></label>
                                <input class="form-control" id="formBasicInfoSchoolInput" v-model="basicInformationTemp.school"
                                       :placeholder="$t('profiles_about.input_placeholder_school_enter')" type="text">
                            </div>
                            <div class="form-group">
                                <label for="formBasicInfoBioInput"><h6 class="mb-0">{{ $t('profiles_about.bio') }}</h6></label>
                                <textarea class="form-control" id="formBasicInfoBioInput" rows="3" placeholder="Enter your bio" v-model="basicInformationTemp.bio"></textarea>
                                <div class="modal-footer">
                                    <button class="btn btn-green w-25" type="button" @click="saveBasicInfoSettings">
                                        {{$t('profiles_about.save') }}
                                    </button>
                                    <button class="btn btn-orange w-25" data-dismiss="modal" id="basicInfoCloseModal" type="button" @click="discardBasicInfoSettings">
                                        {{ $t('profiles_about.cancel') }}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import {storage_getdashboardApiUrl} from "../../../js/global";

    export default {
        name: "EPortfolio_BasicInfo",

        props:{
            basicInfoIsSelected: Boolean,
            basicInformationFromEPortfolio: Object,
            isActualUser: Boolean,
            alreadyFriends: Boolean,
        },

        data: function () {
            return{

                basicInformation: this.basicInformationFromEPortfolio,

                basicInformationTemp:{
                    realName: "",
                    userName: "",
                    birthday: "",
                    email: "",
                    country: "",
                    school: "",
                    bio: "",
                },

                countryList: ["Belgium", "Bulgaria", "Belarus", "Denmark", "Germany", "Estonia", "Finland", "France",
                    "Greece", "Ireland", "Italy", "Latvia", "Lithuania", "Luxembourg", "Malta", "Netherlands",
                    "Austria", "Poland", "Portugal", "Romania", "Sweden", "Slovakia", "Slovenia", "Spain",
                    "Czech_Republic", "Hungary", "Great_Britain", "Cyprus", "Other"],
            }
        },



        methods:{
            displayBasicInfoModification(){
                $('#eportfolio-basic-info-modification').modal('show');
            },


            saveBasicInfoSettings() {
                if(this.basicInformationTemp.realName !== "")
                    this.basicInformation.realName = this.basicInformationTemp.realName;
                if(this.basicInformationTemp.userName !== "")
                    this.basicInformation.userName = this.basicInformationTemp.userName;
                if(this.basicInformationTemp.birthday !== "")
                    this.basicInformation.birthday = this.basicInformationTemp.birthday;
                if(this.basicInformationTemp.email !== "")
                    this.basicInformation.email = this.basicInformationTemp.email;
                if(this.basicInformationTemp.country !== "")
                    this.basicInformation.country = this.basicInformationTemp.country;
                if(this.basicInformationTemp.school !== "")
                    this.basicInformation.school = this.basicInformationTemp.school;
                if(this.basicInformationTemp.bio !== "")
                this.basicInformation.bio = this.basicInformationTemp.bio;

                $('#eportfolio-basic-info-modification').modal('hide');

                axios.post(storage_getdashboardApiUrl('API_GATEWAY_STORAGE') + "/portfolio/basicinfo", this.basicInformation)
                    .catch(error => {
                        console.log(error);
                    });

            },

            discardBasicInfoSettings(){
                this.basicInformationTemp.realName = "";
                this.basicInformationTemp.userName = "";
                this.basicInformationTemp.birthday = "";
                this.basicInformationTemp.email = "";
                this.basicInformationTemp.country = "";
                this.basicInformationTemp.school = "";
                this.basicInformationTemp.bio = "";
            },
        },

        watch:{
            basicInformationFromEPortfolio:{
                handler(newVal){
                    if(newVal.basicInfoUserPermission !== null && newVal.basicInfoUserPermission !== ""){
                        this.basicInformation.basicInfoUserPermission = newVal.basicInfoUserPermission;
                    }
                    else this.basicInformation.basicInfoUserPermission = "onlyMe";
                }
            }
        }

    }
</script>

<style scoped>

</style>