<template>
    <div aria-labelledby="eportfolio-status-overview-tab" class="tab-pane fade" id="eportfolio-statusOverview" role="tabpanel"
         v-show="statusOverviewIsSelected">
        <!-- Status Overview -->
        <div class="card mt-3" v-if="isActualUser || (alreadyFriends && statusOverviewUserPermission === 'private') || statusOverviewUserPermission === 'public'">
            <div class="card-header card-header-with-border">

                <h6 class="text-left">Status Overview
                    <a      v-if="isActualUser"
                            @click="displayStatusOverviewPrivacy"
                            class="btn btn-circle btn-set-point"
                            title="Edit Status Overview Settings"
                    >
                        <img src="../../../img/BTN-Edit-circle.png" alt="add" class="clearfix w-100" style=""/>
                    </a>
                </h6>
                <div class="card-body text-left">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex pb-0">
                            <h6 class="ml-2" style="width: 100px;">Level: </h6><span>{{statusOverviewInfo.level}}</span>
                        </li>
                        <li class="list-group-item d-flex pb-0">
                            <h6 class="ml-2" style="width: 100px;">Worlds completed:</h6> <span>{{statusOverviewInfo.completedWorlds}}</span>
                        </li>
                        <li class="list-group-item d-flex pb-0">
                            <h6 class="ml-2" style="width: 100px;">Active Worlds:</h6> <span>{{statusOverviewInfo.activeWorlds}}</span>
                        </li>
                        <li class="list-group-item d-flex pb-0">
                            <h6 class="ml-2" style="width: 100px;">Missions completed:</h6><span>{{statusOverviewInfo.completedMissions}}</span>
                        </li>
                        <li class="list-group-item d-flex pb-0">
                            <h6 class="ml-2" style="width: 100px;">Active Missions:</h6> <span>{{statusOverviewInfo.activeMissions}}</span>
                        </li>
                        <li class="list-group-item d-flex pb-0">
                            <!-- Brain Heart Spirit Points -->
                            <h6 class="ml-2">Brain, Heart, Spirit Points:</h6>
                            <div class="row">
                                <div class="col">
                                    <div class="row mt-3">
                                        <div class="col-lg-4 col-sm-4">
                                            <span>{{statusOverviewInfo.brainPoints}}</span>
                                            <img :alt="$t('profiles_eportfolio.alt_knowledge-point')" class="ml-2 w-75"
                                                 src="../../../img/ICONS-Knowledge-Points-Yellow-White-circle.png"
                                                 :title="$t('profiles_eportfolio.title_brain_knowledge')">
                                        </div>
                                        <div class="col-lg-4 col-sm-4">
                                            <span>{{statusOverviewInfo.heartPoints}}</span>
                                            <img :alt="$t('profiles_eportfolio.alt_social-points')" class="ml-2 w-75"
                                                 src="../../../img/ICONS-Social-Points-Blue-White-circle.png"
                                                 :title="$t('profiles_eportfolio.title_heart_points')">
                                        </div>
                                        <div class="col-lg-4 col-sm-4">
                                            <span>{{statusOverviewInfo.spiritPoints}}</span>
                                            <img :alt="$t('profiles_eportfolio.alt_creativity-points')" class="ml-2 w-75"
                                                 src="../../../img/ICONS-Creativity-Points-Red-White-circle.png"
                                                 :title="$t('profiles_eportfolio.title_sprint_points')">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card mt-3" v-else>
            <div class="card-header card-header-with-border">
                <h6 class="text-center">No access to this Information!</h6>
            </div>
        </div>

        <!--===============-->
        <!-- MODAL WINDOWS -->
        <!--===============-->

        <!--Modal to change Status Overview Settings-->
        <div class="modal fade" id="eportfolio-status-overview-modification" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Status Overview</h5>
                        <button class="close" data-dismiss="modal" type="button">&times;</button>
                    </div>
                    <div class="modal-body text-left">
                        <form>
                            <div class="form-group form-inline">
                                <div class="custom-control custom-radio custom-control-inline mr-5">
                                    <input class="custom-control-input" id="statusOverviewPermissionPublic" name="customRadio"
                                           type="radio" value="public"
                                           v-model="statusOverviewUserPermission">
                                    <label class="custom-control-label" for="statusOverviewPermissionPublic">{{$t('profiles_about.public') }}</label>
                                    <span class="tooltiptext">{{ $t('profiles_about.users_community') }}</span>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline mr-5">
                                    <input class="custom-control-input" id="statusOverviewPermissionPrivate" name="customRadio"
                                           type="radio" value="private"
                                           v-model="statusOverviewUserPermission">
                                    <label class="custom-control-label" for="statusOverviewPermissionPrivate">{{$t('profiles_about.private') }}</label>
                                    <span class="tooltiptext">{{ $t('profiles_about.users_community_private2') }}</span>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input class="custom-control-input" id="statusOverviewPermissionOnlyMe" name="customRadio"
                                           type="radio" value="onlyMe"
                                           v-model="statusOverviewUserPermission">
                                    <label class="custom-control-label" for="statusOverviewPermissionOnlyMe">{{$t('profiles_about.me') }}</label>
                                    <span class="tooltiptext">{{ $t('profiles_about.means_users') }}</span>
                                </div>
                            </div>
                        </form>
                        <div class="modal-footer">
                            <button class="btn btn-green w-25" type="button" @click="saveStatusOverviewSettings">
                                {{$t('profiles_about.save') }}
                            </button>
                            <button class="btn btn-orange w-25" data-dismiss="modal" id="basicInfoCloseModal" type="button">
                                {{ $t('profiles_about.cancel') }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import {storage_getdashboardApiUrl, getStudentsEndpoint, getPlanetsApiUrl, getAchievementApiUrl} from "../../../js/global";

    export default {
        name: "EPortfolio_StatusOverview",

        props: {
            statusOverviewIsSelected: Boolean,
            userTypeFromEPortfolio: String,
            statusOverviewInformation: String,
            userIdFromEPortfolio: String,
            levelFromEPortfolio: String,
            isActualUser: Boolean,
            alreadyFriends: Boolean,
        },

        data: function(){
            return{
                statusOverviewUserPermission: "onlyMe",

                statusOverviewInfo:{
                    level: 0,
                    completedWorlds: 0,
                    activeWorlds: 0,
                    completedMissions: 0,
                    activeMissions: 0,
                    brainPoints: 0,
                    heartPoints: 0,
                    spiritPoints: 0,
                },

                getMissionInformation: false,
                getWorldInformation: false,
                getAchievementInformation: false,
            }
        },
        created() {
            axios.get(storage_getURL("API_GATEWAY_STORAGE") + "/api-proxy/achievements/api/achievements")
                .then(response => {
                    if (response.data != null) {
                        console.log(response.data.knowledgePoints);
                        console.log(response.data.socialPoints);
                        console.log(response.data.creativityPoints);
                        this.statusOverviewInfo.level = response.data.level;
                        this.statusOverviewInfo.brainPoints = response.data.knowledgePoints;
                        this.statusOverviewInfo.heartPoints = response.data.socialPoints;
                        this.statusOverviewInfo.spiritPoints = response.data.creativityPoints;
                    }
                });
				
			axios.get(storage_getURL("API_GATEWAY_STORAGE") + "/api-proxy/courses/api/students/"+this.$store.currentUser.userid+"/missions")
                .then(response => {
                    if (response.data != null) {
                        console.log(response.data.activeMissions.length);
                        console.log(response.data.completedMissions.length);
                        this.statusOverviewInfo.activeMissions = response.data.activeMissions.length;
                        this.statusOverviewInfo.completedMissions = response.data.completedMissions.length;
                    }
                });
				
			axios.get(storage_getURL("API_GATEWAY_STORAGE") + "/api-proxy/planets/api/students/"+this.$store.currentUser.userid+"")
                .then(response => {
                    if (response.data != null) {
                        console.log(response.data.activeWorlds.length);
                        this.statusOverviewInfo.activeWorlds = response.data.activeWorlds.length;
                    }
                });
        },
        methods:{
            displayStatusOverviewPrivacy(){
                $('#eportfolio-status-overview-modification').modal('show');
            },


            saveStatusOverviewSettings(){
                let config = {
                    headers: {
                        'Content-Type': 'text/plain'
                    }
                };

                axios.post(storage_getdashboardApiUrl('API_GATEWAY_STORAGE') + "/portfolio/statusoverview", this.statusOverviewUserPermission, config)
                    .then(response => {
                        $('#eportfolio-status-overview-modification').modal('hide');
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },


            getOverviewInformation(userType){
                let urlMissions = "";
                let urlWorlds = "";
                let urlAchievements = "";

                //if(this.$store.currentUser === null){
                    urlMissions = storage_getdashboardApiUrl('API_GATEWAY_STORAGE') + "/portfolio/missions?userid="+this.userIdFromEPortfolio;
                    urlWorlds = storage_getdashboardApiUrl('API_GATEWAY_STORAGE') + "/portfolio/worlds?userid="+this.userIdFromEPortfolio;
                    //urlAchievements = storage_getdashboardApiUrl('API_GATEWAY_STORAGE') + "/portfolio/achievements?userid="+this.userIdFromEPortfolio;
                    urlAchievements = getAchievementApiUrl('API_GATEWAY_STORAGE');
                //}
                            /// Normal Paths gets errors...
                /*else{
                    urlMissions = getStudentsEndpoint('API_GATEWAY_STORAGE')+"/"+ this.userIdFromEPortfolio+"/missions";
                    urlWorlds = getPlanetsApiUrl('API_GATEWAY_STORAGE')+"/stats/worlds/"+this.userIdFromEPortfolio;
                    urlAchievements = getAchievementApiUrl('API_GATEWAY_STORAGE')+"/"+this.userIdFromEPortfolio;
                }*/

                if(userType === "student"){

                    axios.get(urlMissions)
                        .then(response => {
                            this.statusOverviewInfo.activeMissions = response.data.activeMissions.length;
                            this.statusOverviewInfo.completedMissions = response.data.completedMissions.length;

                            this.getMissionInformation = true;
                            this.updateEPortfolioInformation();
                        })
                        .catch(error =>{
                            console.log(error);
                        });

                    axios.get(urlWorlds)
                        .then(response => {
                            this.statusOverviewInfo.activeWorlds = response.data.activeWorlds;
                            this.statusOverviewInfo.completedWorlds = response.data.archivedWorlds;

                            this.getWorldInformation = true;
                            this.updateEPortfolioInformation();
                        })
                        .catch(error =>{
                            console.log(error);
                        });

                    axios.get(urlAchievements)
                        .then(response => {
                            if(response.data !== ""){
                                this.statusOverviewInfo.brainPoints = response.data.knowledgePoints;
                                this.statusOverviewInfo.heartPoints = response.data.socialPoints;
                                this.statusOverviewInfo.spiritPoints = response.data.creativityPoints;
                            }

                            this.getAchievementInformation = true;
                            this.updateEPortfolioInformation();
                        })
                        .catch(error =>{
                            console.log(error);
                        })
                }
            },

            updateEPortfolioInformation(){
                if(this.getMissionInformation && this.getWorldInformation && this.getAchievementInformation){
                    this.$emit("statusOverviewUpdated", this.statusOverviewInfo);
                    this.getMissionInformation = false;
                    this.getWorldInformation = false;
                    this.getAchievementInformation = false;
                }
            }
        },

        watch:{
            'userTypeFromEPortfolio':{
                handler(newVal){
                    this.getOverviewInformation(newVal);
                }
            },

            'levelFromEPortfolio':{
                handler(newVal){
                    if(newVal > 0){
                        this.level = newVal;
                    }
                }
            },

            'statusOverviewInformation':{
                handler(newVal){
                    if(newVal !== null && newVal !== ""){
                        this.statusOverviewUserPermission = newVal;
                    }
                }
            }

        }

    }
</script>

<style scoped>

</style>