<template>
    <div>
        <div v-if="(!isActualUser) && (!passwordIsCorrect)">
            <div class="card mt-3">
                <div class="card-header card-header-with-border">
                    <h6 class="text-left">Enter Password</h6>
                    <div class="card-body text-left">
                        <div class="list-group list-group-flush">

                            <span>Enter the password of {{userName}} to unlock the E-Portfolio. If the password is correct, the E-Portfolio will be displayed.</span>

                            <input v-model="enteredPassword" class="form-control" placeholder="Enter Password here..." v-bind:class="{'is-invalid': (!passwordIsCorrect&&passwordIsEntered)}">
                            <div class="invalid-feedback">Password is incorrect...</div>

                            <div class="mt-2">
                                <button type="button" class="btn btn-green" @click="comparePassword"> Unlock </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div v-show="(passwordIsCorrect) || isActualUser">
            <div class="clearfix">
                <a class="float-left">
                    <button
                            @click="goBack"
                            type="button"
                            class="btn btn-small btn-outline-green w-100 mt-2"
                            data-dismiss="modal"
                    >
                        <i class="fa fa-backward"></i> Go Back
                    </button>
                    <button v-if="isActualUser"
                            @click="togglePreview"
                            type="button"
                            class="btn btn-small btn-outline-green w-100 mt-2 right"
                            data-dismiss="modal"
                    >
                        <i class="fa fa-forward"></i> {{previewButtonText}}
                    </button>
                </a>
            </div>

            <div class="card mt-3">
                <div class="card-header card-header-with-border">
                    <h6 class="text-left">
                        {{title}}
                    </h6>
                </div>

                <div class="card-body">
                    <SummerNoteEditor v-if="isActualUser" v-show="!isPreview" :html="htmlContent" v-on:saveHtml="saveContent"></SummerNoteEditor>

                    <div v-show="!isActualUser || isPreview" class="card-body text-left" v-html="htmlContent"></div>
                </div>
            </div>

            <ViewStatusUpdate v-if="statusUpdateId && $store.currentUser !== null"
                              :statusUpdateId="statusUpdateId"
                              :isStatusUpdateFromEPortfolio="'journal'"
            ></ViewStatusUpdate>


            <!-- ALERT -->
            <div class="alert-message alert alert-success">
                <a aria-label="close" class="close" data-dismiss="alert" href="#">&times;</a>
                <div>
                    <strong>Information:</strong> Changes Saved!
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import {storage_getdashboardApiUrl, getStatusUpdateApiUrl, storage_getURL} from "../../../js/global";
    import SummerNoteEditor from '../mission/common/SummernoteContentEditor';
    import ViewStatusUpdate from '../common/statusupdate/ViewStatusUpdate';

    export default {
        name: "LearningJournalContent",
        components:{
            SummerNoteEditor,
            ViewStatusUpdate,
        },

        data: function(){
            return{
                userId: null,
                isActualUser: false,
                statusUpdateId: this.$route.params.statusupdateid,
                title: null,
                htmlContent: null,
                isPreview: false,
                previewButtonText: "Preview",

                //password access
                passwordIsCorrect: false,
                enteredPassword: '',
                passwordIsEntered: false,
            }
        },

        methods:{
            goBack(){
                this.$router.back();
            },

            togglePreview(){
                this.isPreview = !this.isPreview;
                if(this.isPreview){
                    this.previewButtonText = "Modify";
                }
                else {
                    this.previewButtonText = "Preview";
                }
            },

            saveContent(htmlCode){
                let config = {
                    headers: {
                        'Content-Type': 'text/plain'
                    }
                };
                axios.post(storage_getdashboardApiUrl('API_GATEWAY_STORAGE') + "/portfolio/savecontent?statusupdateid="+this.statusUpdateId, htmlCode, config)
                    .then(response =>{
                        if(response.data){
                            this.htmlContent = htmlCode;
                            this.showAlertMessage();
                        }
                    })
                    .catch(error =>{
                        console.log(error);
                    })
            },


            comparePassword(){
                axios.get(storage_getdashboardApiUrl('API_GATEWAY_STORAGE') + "/portfolio/password?userid="+this.userId+"&password="+this.enteredPassword)
                    .then(response =>{
                        this.passwordIsCorrect = response.data;
                        if(this.passwordIsCorrect){
                            sessionStorage.setItem(this.userId, "true");
                            sessionStorage.getItem(this.userId);
                        }
                    })
                    .catch(error =>{
                        console.log(error);
                    });
                this.passwordIsEntered = true;

            },


            showAlertMessage() {
                $(".alert-message").fadeIn();
                setTimeout(function () {
                    $(".alert-message").fadeOut();
                }, 4000);
            },
        },

        created(){
            let urlStatusUpdate;
            let isLoggedIn = this.$store.currentUser !== null;

            if(isLoggedIn){
                urlStatusUpdate = getStatusUpdateApiUrl('API_GATEWAY_STORAGE')+"/"+this.statusUpdateId;
            }
            else {
                urlStatusUpdate = storage_getdashboardApiUrl('API_GATEWAY_STORAGE') + "/portfolio/statusupdate?statusupdateid="+this.statusUpdateId;
            }

            axios.get(urlStatusUpdate)
                .then(response =>{
                    if(isLoggedIn){
                        this.userId = response.data.creatorId;
                    }
                    else{
                        this.userId = response.data;
                    }

                    if(sessionStorage.getItem(this.userId) === "true"){
                        this.passwordIsCorrect = true;
                    }

                    if(isLoggedIn){
                        if(this.$store.currentUser.userid === this.userId){
                            this.isActualUser = true;
                        }
                    }

                    axios.get(storage_getdashboardApiUrl('API_GATEWAY_STORAGE') + "/portfolio/content?statusupdateid="+this.statusUpdateId+"&userid="+this.userId)
                        .then(response =>{
                            this.title = response.data.title;
                            let actualLocation = storage_getURL('FILES') + '/api/files/';
                            if(response.data.content!= null){
                                this.htmlContent = response.data.content.replace(new RegExp(actualLocation, 'gi'), storage_getdashboardApiUrl('API_GATEWAY_STORAGE')+"/portfolio/image?imageid=");
                            }
                            else this.htmlContent = response.data.content;
                        })
                        .catch(error =>{
                            console.log(error);
                        })
                })
                .catch(error =>{
                    console.log(error);
                })
        },
    }
</script>

<style scoped>
    .alert-message {
        position: fixed;
        bottom: 15px;
        left: 2%;
        width: 96%;
    }

    .alert {
        display: none;
    }
</style>