<template>
    <div id="topLevel_Template" class="avoid">
        <!-- INSERT HEADER -->
        <nav class="navbar bg-dark" id="template_header">
        <a class="navbar-brand ml-5" style="color:rgba(245, 245, 245, 1); font-size: small; font-family:Roboto;">
            <img height="34" src="../../../img/Logo-STIMEY.png" style="vertical-align:text-top">
            Beta
        </a>
        </nav>



        <!-- Basic Info -->
        <div id="topLevel_basicInfo" class="mt-3" v-if="basicInfoFlag">
            <h6 class="text-left">{{ $t('profiles_eportfolio.data_personal') }}</h6>

            <div class="card-body text-left">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex pb-0">
                        <h6 class="ml-2" style="width: 100px;">Real Name:</h6><span>{{basicInformation.realName}}</span>
                    </li>
                    <li class="list-group-item d-flex pb-0">
                        <h6 class="ml-2" style="width: 100px;">{{$t('profiles_eportfolio.username') }}</h6><span>{{basicInformation.userName}}</span>
                    </li>
                    <li class="list-group-item d-flex pb-0">
                        <h6 class="ml-2" style="width: 99px;">{{$t('profiles_eportfolio.birthday') }}</h6> <span>{{basicInformation.birthday}}</span>
                    </li>
                    <li class="list-group-item d-flex pb-0">
                        <h6 class="ml-2" style="width: 99px;">E-Mail:</h6> <span>{{basicInformation.email}}</span>
                    </li>
                    <li class="list-group-item d-flex pb-0">
                        <h6 class="ml-2" style="width: 100px;">{{$t('profiles_eportfolio.country') }}</h6> <span>{{basicInformation.country}}</span>
                    </li>
                    <li class="list-group-item d-flex pb-0">
                        <h6 class="ml-2" style="width: 100px;">{{$t('profiles_eportfolio.school') }}</h6> <span>{{basicInformation.school}}</span>
                    </li>
                    <li class="list-group-item d-flex pb-0">
                        <h6 class="ml-2" style="width: 100px;">{{$t('profiles_eportfolio.bio') }}</h6> <span>{{basicInformation.bio}}</span>
                    </li>
                </ul>
            </div>
        </div>


        <!-- Status Overview -->
        <div id="topLevel_statusOverview" v-if="statusOverviewFlag" v-bind:class="{'break-after': albumFlag || journalFlag}">
            <h6 class="text-left">Status Overview</h6>
            <div class="card-body text-left">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex pb-0">
                        <h6 class="ml-2" style="width: 100px;">Level: </h6><span>{{statusOverviewInfo.level}}</span>
                    </li>
                    <li class="list-group-item d-flex pb-0">
                        <h6 class="ml-2" style="width: 100px;">Worlds completed:</h6> <span>{{statusOverviewInfo.completedWorlds}}</span>
                    </li>
                    <li class="list-group-item d-flex pb-0">
                        <h6 class="ml-2" style="width: 100px;">Active Worlds:</h6> <span>{{statusOverviewInfo.activeWorlds}}</span>
                    </li>
                    <li class="list-group-item d-flex pb-0">
                        <h6 class="ml-2" style="width: 100px;">Missions completed:</h6><span>{{statusOverviewInfo.completedMissions}}</span>
                    </li>
                    <li class="list-group-item d-flex pb-0">
                        <h6 class="ml-2" style="width: 100px;">Active Missions:</h6> <span>{{statusOverviewInfo.activeMissions}}</span>
                    </li>
                    <li class="list-group-item d-flex pb-0">
                        <!-- Brain Heart Spirit Points -->
                        <h6 class="ml-2">Brain, Heart, Spirit Points:</h6>
                        <div class="row">
                            <div class="col">
                                <div class="row mt-3">
                                    <div class="col-lg-4 col-sm-4">
                                        <span>{{statusOverviewInfo.brainPoints}}</span>
                                        <img :alt="$t('profiles_eportfolio.alt_knowledge-point')" class="ml-2 w-75"
                                             src="../../../img/ICONS-Knowledge-Points-Yellow-White-circle.png"
                                             :title="$t('profiles_eportfolio.title_brain_knowledge')">
                                    </div>
                                    <div class="col-lg-4 col-sm-4">
                                        <span>{{statusOverviewInfo.heartPoints}}</span>
                                        <img :alt="$t('profiles_eportfolio.alt_social-points')" class="ml-2 w-75"
                                             src="../../../img/ICONS-Social-Points-Blue-White-circle.png"
                                             :title="$t('profiles_eportfolio.title_heart_points')">
                                    </div>
                                    <div class="col-lg-4 col-sm-4">
                                        <span>{{statusOverviewInfo.spiritPoints}}</span>
                                        <img :alt="$t('profiles_eportfolio.alt_creativity-points')" class="ml-2 w-75"
                                             src="../../../img/ICONS-Creativity-Points-Red-White-circle.png"
                                             :title="$t('profiles_eportfolio.title_sprint_points')">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>


        <!-- Album Images -->
        <div id="topLevel_Album" v-if="albumFlag" v-bind:class="{'break-after': journalFlag}">
            <h6 class="text-left">E-Portfolio Album</h6>

            <div v-for="(image, index) in albumImages">
                <div style="text-decoration: underline">
                    {{image.imageTitle}}
                </div>
                <hr>
                <img :src="getImageUrl(image.imageId)" style="max-height: 22cm; max-width: 17cm; display: block; margin: auto" class="avoid"
                     v-bind:class="{'break-after': index+1 !== albumImages.length}">
                <br>
            </div>
        </div>

        <div id="topLevel_Journal" v-if="journalFlag">
            <h6 class="text-left">Learning Journal</h6>

            <div v-for="(task, index) in learningJournalTasks" class="avoid">
                <div style="text-decoration: underline">
                    {{task.title}}
                </div>
                <div v-html="task.content" v-bind:class="{'break-after': index+1 !== learningJournalTasks.length}"></div>
            </div>
        </div>

    </div>
</template>

<script>

    import {storage_getURL} from "../../../js/global";
    import HeaderDefault from "../HeaderDefault";

    export default {
        name: "PDFTemplate",
        components: {HeaderDefault},
        props:{
        },
        data : function(){
            return{
                showPDFInfo: false,

                //Basic Info
                basicInfoFlag: false,
                basicInformation: null,

                //Status Overview Info
                statusOverviewFlag: false,
                statusOverviewInfo:{
                    level: 0,
                    completedWorlds: 0,
                    activeWorlds: 0,
                    completedMissions: 0,
                    activeMissions: 0,
                    brainPoints: 0,
                    heartPoints: 0,
                    spiritPoints: 0,
                },

                //Album Info
                albumFlag: false,
                albumImages: [],

                //Learning Journal Info
                journalFlag: false,
                learningJournalTasks: [],

            }
        },
		created() {
            axios.get(storage_getURL("API_GATEWAY_STORAGE") + "/api-proxy/achievements/api/achievements")
                .then(response => {
                    if (response.data != null) {
                        this.statusOverviewInfo.level = response.data.level;
                        this.statusOverviewInfo.brainPoints = response.data.knowledgePoints;
                        this.statusOverviewInfo.heartPoints = response.data.socialPoints;
                        this.statusOverviewInfo.spiritPoints = response.data.creativityPoints;
                    }
                });
				
			axios.get(storage_getURL("API_GATEWAY_STORAGE") + "/api-proxy/courses/api/students/"+this.$store.currentUser.userid+"/missions")
                .then(response => {
                    if (response.data != null) {
                        console.log(response.data.activeMissions.length);
                        console.log(response.data.completedMissions.length);
                        this.statusOverviewInfo.activeMissions = response.data.activeMissions.length;
                        this.statusOverviewInfo.completedMissions = response.data.completedMissions.length;
                    }
                });
				
			axios.get(storage_getURL("API_GATEWAY_STORAGE") + "/api-proxy/planets/api/students/"+this.$store.currentUser.userid+"")
                .then(response => {
                    if (response.data != null) {
                        console.log(response.data.activeWorlds.length);
                        this.statusOverviewInfo.activeWorlds = response.data.activeWorlds.length;
                    }
                });
        },
        methods:{
            getImageUrl(imageId){
                return storage_getURL('FILES') + '/api/files/' + imageId + '?content-deposition=inline';
            },

            updatePDFTemplate(pdfInformation){

                this.basicInfoFlag = pdfInformation.pdfExportFlags.basicInfoFlag;
                this.basicInformation = pdfInformation.basicInformation;

                this.statusOverviewFlag = pdfInformation.pdfExportFlags.statusOverviewFlag;
                //this.statusOverviewInfo = pdfInformation.statusOverviewInformation;

                this.albumFlag = pdfInformation.pdfExportFlags.albumFlag;
                this.albumImages = pdfInformation.selectedImages;

                this.journalFlag = pdfInformation.pdfExportFlags.journalFlag;
                this.learningJournalTasks = pdfInformation.selectedJournalTasks;

            },

            exportPdf(name){
                let element = document.getElementById('topLevel_Template');

                html2pdf().from(element).set({
                    filename: 'E-Portfolio_'+name+'.pdf',
                    margin: [10, 15, 15, 20],

                    pagebreak: {
                        mode: 'avoid-all',
                        after: '.break-after',
                        before: '.break-before',
                        avoid: '.avoid'
                    },

                }).toPdf().get('pdf').then(function(pdf){
                    let totalPages = pdf.internal.getNumberOfPages();

                    for(let i = 1; i <= totalPages; i++){
                        pdf.setPage(i);
                        pdf.setFontSize(10);
                        pdf.setTextColor(150);
                        pdf.text('Page ' +i+' of '+totalPages, pdf.internal.pageSize.getWidth() - 40, pdf.internal.pageSize.getHeight() -20);
                    }
                }).save();
            }
        },

        mounted(){
            this.$emit("isMounted");
        }

    }
</script>

<style scoped>
    .break-after{
        page-break-after: always;
    }
    .break-before{
        page-break-before: always;
    }
    .avoid{
        page-break-inside: avoid;
    }

</style>