<template>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Relevance</th>
        <th scope="col">Description</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="resource in resources">
        <th scope="row" class="w-25">
          <a href="#" class="btn btn-circle" title="file">
            <img
              :alt="$t('resourcelisticard.alt_avatar')"
              class="clearfix w-100"
              src="../../../../../img/ICON_Article_Circle.png"
              v-if="resource.category === 'Library'"
            />
            <img
              :alt="$t('resourcelisticard.alt_avatar2')"
              class="clearfix w-100"
              src="../../../../../img/ICON_Video_Circle.png"
              v-else-if="resource.category === 'Media'"
            />
            <img
              :alt="$t('resourcelisticard.alt_avatar2')"
              class="clearfix w-100"
              src="../../../../../img/ICON-LAB_circle.png"
              v-else-if="resource.category === 'Tools'"
            />
            <img
              :alt="$t('resourcelisticard.alt_avatar2')"
              class="clearfix w-100"
              src="../../../../../img/ICON-SERIOUS-GAMES_circle.png"
              v-else-if="resource.category === 'Games'"
            />
          </a>
          <span>{{ resource.resourceName }}</span>
        </th>
        <td>
          <span
            ><a href="#">{{ getRelevanceTitle(resource) }}</a></span
          >
        </td>
        <td class="w-25">{{ resource.description }}</td>
        <td>
          <a v-if="isCurrentUserOwnerOfResource(resource)" @click="" class="btn btn-circle" title="edit">
            <img src="../../../../../img/BTN-Edit-circle.png" class="clearfix" alt="edit" />
          </a>
          <a
            v-if="resource.category === 'Library' || resource.category === 'Media'"
            :href="getDownloadLink(resource)"
            class="btn btn-circle"
            title="download"
          >
            <img src="../../../../../img/ICON_LOGIN_green.png" class="clearfix" alt="download" />
          </a>
          <a v-if="isCurrentUserOwnerOfResource(resource)" @click="deleteResource(resource);" class="btn btn-circle" title="delete">
            <img src="../../../../../img/ICON_Delete-Post.png" class="clearfix" alt="delete" />
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
import { getLabApiUrl, getLearningObjectsEndpoint, getMissionsEndpoint, storage_getURL } from '../../../../../js/global.js';

export default {
  name: 'ResourceTable',
  props: {
    resourceIdToRelevanceMap: {
      type: Map,
      required: true
    }
  },
  watch: {
    resourceIdToRelevanceMap: function(val) {
      if (val.size < 1) {
        this.resources = [];
        return;
      }
      let params = { id: Array.from(this.resourceIdToRelevanceMap.keys()) };
      axios.get(`${getLabApiUrl('API_GATEWAY_STORAGE')}/resource?${$.param(params)}`).then(response => {
        this.resources = response.data;
      });
    }
  },
  data() {
    return {
      resources: []
    };
  },
  methods: {
    isCurrentUserOwnerOfResource(resource){
      return this.$store.currentUser.userid === resource.authorId;
    },
    getRelevanceTitle(resource) {
      let relevance = this.resourceIdToRelevanceMap.get(resource.resourceId);
      return relevance[Object.keys(relevance)[0]];
    },
    getRelevanceId(resource) {
      let relevance = this.resourceIdToRelevanceMap.get(resource.resourceId);
      return Object.keys(relevance)[0];
    },
    deleteResource(resource) {
      let apiUrl = '';
      if (this.getRelevanceTitle(resource) === 'General') {
        apiUrl = getMissionsEndpoint('API_GATEWAY_STORAGE');
      } else {
        apiUrl = getLearningObjectsEndpoint('API_GATEWAY_STORAGE');
      }
      axios.delete(`${apiUrl}/${this.getRelevanceId(resource)}/resources/${resource.resourceId}`).then(() => {
        let indexOfResource = this.resources.indexOf(resource);
        this.resources.splice(indexOfResource, 1);
      });
    },
    getDownloadLink(resource){
      console.log(resource.fileId);
      return `${storage_getURL('FILES')}/api/files/${resource.fileId}`;
    },
    edit(resource) {}
  }
};
</script>

<style scoped></style>
