<template>
  <div>
    <div v-for="resource in resources" class="row">
      <!-- A resource -->
      <div class="col-lg-1">
        <a href="#" class="btn btn-avatar" title="file">
          <img
            :alt="$t('resourcelisticard.alt_avatar')"
            class="clearfix w-100"
            src="../../../../../img/ICON_Article_Circle.png"
            v-if="resource.category === 'Library'"
          />
          <img
            :alt="$t('resourcelisticard.alt_avatar2')"
            class="clearfix w-100"
            src="../../../../../img/ICON_Video_Circle.png"
            v-else-if="resource.category === 'Media'"
          />
          <img
            :alt="$t('resourcelisticard.alt_avatar2')"
            class="clearfix w-100"
            src="../../../../../img/ICON-LAB_circle.png"
            v-else-if="resource.category === 'Tools'"
          />
          <img
            :alt="$t('resourcelisticard.alt_avatar2')"
            class="clearfix w-100"
            src="../../../../../img/ICON-SERIOUS-GAMES_circle.png"
            v-else-if="resource.category === 'Games'"
          />
        </a>
      </div>
      <div class="col-lg-9 text-left">
        <div class="">
          <a href="#" title="Click to view more details" data-toggle="modal" data-target="#modal-view-res-detail">
            <span class="text-title">{{ resource.resourceName }}</span>
          </a>
          <span class="badge badge-light ml-3">{{ resource.amountOfViews }} viewers</span>
          <span class="badge badge-light ml-3">23 download</span> <span class="sr-only">unread messages</span>
        </div>

        <div class="keywords mt-1 mb-1">
          <a v-for="keyword in resource.keywords" href="#">#{{ keyword }}</a>
        </div>

        <p class="text-message">
          <span>Uploaded by</span>
          <span class="mr-2"
            ><a href="#">{{ resource.authorName }}</a></span
          >
          <span class="ml-3">{{ resource.creationDate }}</span>
        </p>
      </div>
      <div class="col-lg-2">
        <button
          :disabled="disableAddButton(resource)"
          @click="addResource(resource);"
          type="button"
          class="btn btn-green w-100"
        >
          Add
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ResourceList',
  props: {
    resources: {
      type: Array,
      required: true
    },
    alreadyAddedResources: {
      type: Array,
      required: true
    }
  },
  methods: {
    addResource(resource) {
      resource._id = { $oid: resource.resourceId };
      this.$emit('addResourceClicked', resource);
    },
    disableAddButton(resource) {
      let indexOfResource = this.alreadyAddedResources.findIndex(resourceId => {
        return resource.resourceId === resourceId;
      });
      return indexOfResource > -1;
    }
  },
  created() {

  }
};
</script>

<style scoped></style>
