<template>
    <div>
        <!--If there is no community, this will be shown.-->
        <div class="card">
            <div class="card-header card-header-with-border">
                <h6 class="text-left">
                    Your Communities
                    <a href="#" class="btn btn-circle btn-set-point"
                       data-toggle="modal"
                       data-target="#modal-create-community"
                       title="Create new Community">
                        <img src="../../../../../img/add.png" class="clearfix" alt="create community">
                    </a>
                </h6>
            </div>
            <div class="card-body">
                <!--For default states -  There is no resources.-->
                <div v-if="!communityList[0] " class="default-states mb-3">
                    <h5>There is no community now.</h5>
                    <button class="btn btn-green w-50 mb-2" data-toggle="modal" data-target="#modal-create-community">
                        Create your first community.
                    </button>
                </div>
                <div v-else>
                    <CommunityList
                            :items="communityList"
                            button="remove"
                            v-on:removeCommunity="removeCommunity"/>
                </div>
                <button type="button" class="btn btn-green m-3" v-if="!onlyView" @click="showSearch">Find more Communities</button>
            </div>
        </div>

        <div class="card mt-3" v-if="state.showSearch">
            <div class="card-header card-header-with-border">
                <h6 class="text-left">
                    Interesting Communities
                </h6>
            </div>
            <div class="card-body">
                <CommunitySimpleSearchForm
                        v-on:handleSearch="handleSearch"
                />

                <div class="mt-3" v-if="state.searchString === ''">
                    <CommunityTable
                            v-if="interestingCommunities"
                            v-on:addCommunity="addCommunity"
                            :items="interestingCommunities"
                    ></CommunityTable>
                </div>

                <div class="mt-3" v-else-if="state.searchString !== '' && searchedCommunityList[0]">
                    <div class="text-left">
                        With <span class="font-weight-bold font-italic">{{state.searchString}}</span>, we find the following communities for you!
                    </div>
                    <div class="m-3">
                        <CommunityTable
                                :items="searchedCommunityList"
                                button="Join"
                                v-on:addCommunity="addCommunity"/>
                    </div>
                </div>

                <div class="mt-3" v-else-if="state.searchString !== '' && !searchedCommunityList[0]">
                    <div class="text-left">
                        With <span class="font-weight-bold font-italic">{{state.searchString}}</span>, we didn't find communities for you!
                    </div>
                </div>
            </div>
        </div>

        <CreateCommunityModal
                v-on:newCommunityCreated="addCommunity"/>
    </div>
</template>

<script>
    import CreateCommunityModal from "../../common/community/CreateCommunityModal";
    import CommunityList from "../../common/community/CommunityList";
    import CommunityTable from "../../common/community/CommunityTable";
    import CommunitySimpleSearchForm from "../../common/community/CommunitySimpleSearchForm";

    export default {
        name: "CommunitiesTab",

        components: {
            CreateCommunityModal,
            CommunityList,
            CommunityTable,
            CommunitySimpleSearchForm,
        },

        props: {
            world: {
                Type: Object,
                required: true
            },
            onlyView: {
                Type: Boolean,
                required: false,
                default: false
            }
        },

        data: function () {
            return {
                state: {
                    worldId: this.$route.params.id,
                    world: {},
                    showSearch: false,
                    searchString: ''
                },
                communityList: [],
                interestingCommunities: [],
                searchedCommunityList: []
            }
        },

        methods: {
            /****************** Communities ******************/
            fetchCommunities: function () {
                let params = {id: this.state.world.communities};
                axios.get(getCommunityApiUrl("API_GATEWAY_STORAGE") + "/communities/")
                    .then(response => {
                    	console.log(response.data);
                        let allCommunities = response.data.allComms;
                        if (response.data.managedComms != null)
                        	allCommunities.concat(response.data.managedComms);
                        console.log(this.state.world.communities);
                        let includedInWorld = this.state.world.communities;

                        // Needs Rest-Endpoint for this filter!
                        this.communityList = allCommunities.filter(id => includedInWorld.includes(id.commID))

                        if (response.data.interestingComms.length === 0)
                            this.interestingCommunities = response.data.allComms;
                        else
                            this.interestingCommunities = response.data.interestingComms;

                        this.interestingCommunities = this.interestingCommunities
                            .filter(id => !includedInWorld.includes(id.commID))
                            .slice(0, 3);

                        this.$forceUpdate();
                    });
            },
            addCommunity: function (communityId) {
                this.state.world.communities.push(communityId);
                this.searchedCommunityList = this.searchedCommunityList.filter(
                    m => m.commID !== communityId
                );

                this.$emit('saveWorld', this.state.world);
                this.fetchCommunities();
            },
            removeCommunity: function (communityId) {
                this.state.world.communities.splice(this.state.world.communities.indexOf(communityId), 1);
                this.$emit('saveWorld', this.state.world);
                this.fetchCommunities();
            },
            handleSearch: function (searchString) {
                this.state.searchString = searchString;
                let params = $.param({
                    query: searchString,
                });
                axios.get(getCommunityApiUrl("API_GATEWAY_STORAGE") + "/communities/search?" + params)
                    .then(response => {
                        if (response.status === 204) {
                            this.searchedCommunityList = [];
                            return;
                        }
                        this.searchedCommunityList = response.data.foundComms.filter(
                            m => !this.state.world.communities.includes(m.commID)
                        );
                    });
            },
            clearSearch: function () {
                this.state.searchString = '';
                this.searchedCommunityList = [];
                this.$forceUpdate();
            },
            showSearch: function () {
                this.state.showSearch = !this.state.showSearch;

                if (!this.state.showSearch)
                    this.clearSearch();
                else
                    this.fetchCommunities();
            }
        },

        watch: {
            world: function (newWorld) {
                this.state.world = newWorld;
                this.fetchCommunities();
            }
        }
    }
</script>

<style scoped>

</style>