<template>
  <div>
    <div class="card mt-3">
      <div class="card-header card-header-with-border">
        <h6 class="text-left">
          Missions
          <a
            v-if="!onlyView"
            href="#"
            class="btn btn-circle btn-set-point"
            data-toggle="modal"
            data-target="#modal-create-new-mission"
            title="Create new mission"
          >
            <img src="../../../../../img/add.png" class="float-right" alt="create community" />
          </a>
          <CreateMissionModal
            v-if="!onlyView"
            id="modal-create-new-mission"
            v-on:createMissionModalSubmitted="handleCreateMissionModalSubmitted"
          />
        </h6>
      </div>
      <div class="card-body">
        <div class="row text-left pl-3 pr-3 ">
          <MissionList
            v-if="!onlyView"
            :missions="missionList"
            :mission-card-button-text="$t('missionList.removeFromWorld')"
            v-on:removeMissionFromWorld="removeMissionFromWorld"
          />
          <MissionList
            v-else-if="onlyView"
            :missions="missionList"
            :mission-card-button-text="$t('missionList.explore')"
          />
        </div>

        <div v-if="!onlyView && $store.currentUser.usertype === 'teacher'" class="pt-2">
          <button type="button" class="btn btn-green" @click="showSearch">Find more Missions</button>
          <div v-if="state.showSearch">
            <MissionSimpleSearchForm v-on:handleEnterSearch="handleEnterSearch" v-on:clearSearch="clearSearch" />
          </div>
        </div>

        <div class="mt-3" v-if="!onlyView && searchedMissionList[0] && state.showSearch">
          <h6 class="pt-3 pb-3 text-left">
            We find the following missions for you!
          </h6>
          <div class="text-left p-2">
            <MissionList
              :missions="searchedMissionList"
              :mission-card-button-text="$t('missionList.addToWorld')"
              v-on:addMissionToWorld="addMissionToWorld"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MissionList from '../../../mission/view/common/MissionList';
import CreateMissionModal from '../../../mission/common/CreateMissionModal';
import MissionSimpleSearchForm from '../mission/MissionSimpleSearchForm';
import { getMissionsEndpoint } from '../../../../../js/global.js';

export default {
  name: 'MissionTab',

  components: {
    MissionList,
    CreateMissionModal,
    MissionSimpleSearchForm
  },

  props: {
    world: {
      Type: Object,
      required: true
    },
    onlyView: {
      Type: Boolean,
      required: false,
      default: false
    }
  },

  data: function() {
    return {
      state: {
        worldId: this.$route.params.id,
        world: {},
        showSearch: false
      },
      missionList: [],
      searchedMissionList: []
    };
  },

  methods: {
    /****************** Missions ******************/
    handleCreateMissionModalSubmitted: function(e) {
      let createMissionData = {};
      createMissionData['generalMetadata'] = e.generalMetadata;
      createMissionData['educationalMetadata'] = e.educationalMetadata;
      axios.post(getMissionApiUrl('API_GATEWAY_STORAGE') + '/missions', createMissionData).then(response => {
        let newMissionId = response.data._id.$oid;
        this.state.world.missions.push(newMissionId);
        this.$emit('saveWorld', this.state.world);
        this.fetchMissions();
      });
    },
    clearSearch: function() {
      this.searchedMissionList = [];
      this.$forceUpdate();
    },
    addMissionToWorld: function(missionId) {
      this.state.world.missions.push(missionId);
      this.$emit('saveWorld', this.state.world);
      this.searchedMissionList = this.searchedMissionList.filter(m => !m.mission._id.$oid.includes(missionId));

      this.fetchMissions();
    },
    removeMissionFromWorld: function(missionId) {
      this.state.world.missions.splice(this.state.world.missions.indexOf(missionId), 1);
      this.$emit('saveWorld', this.state.world);

      this.fetchMissions();
    },
    handleEnterSearch: function(params) {
      axios.get(`${getMissionsEndpoint('API_GATEWAY_STORAGE')}?${$.param(params)}`).then(response => {
        if (response.status === 204) {
          this.searchedMissionList = [];
          return;
        }

        this.searchedMissionList = response.data.missions.filter(
          m => !this.world.missions.includes(m.mission._id.$oid)
        );
      });
    },
    fetchMissions: function() {
      if (this.state.world.missions.length > 0) {
        axios.get(getMissionApiUrl('API_GATEWAY_STORAGE') + '/missions?l=-1').then(response => {
          let allMissions = response.data.missions;
          let includedInWorld = this.state.world.missions;

          // Needs Rest-Endpoint for this filter!
          this.missionList = allMissions.filter(id => includedInWorld.includes(id.mission._id.$oid));
          this.$forceUpdate();
        });
      } else {
        this.missionList = [];
      }
    },
    showSearch: function() {
      this.state.showSearch = !this.state.showSearch;

      if (!this.state.showSearch) this.searchedMissionList = [];
    }
  },

  watch: {
    world: function(newWorld) {
      this.state.world = newWorld;
      this.fetchMissions();
    }
  }
};
</script>

<style scoped>
@import url('../../../../../css/courses.css');
</style>