<template>
    <div>
        <div class="card  mt-3">
            <div class="card-header card-header-with-border text-left">
                <h6>Resources
                    <CreateResourceModal v-if="!onlyView"
                                         v-on:emitCreateResourceModalSave="handleResourceCreated"/>
                </h6>
            </div>

            <div class="card-body">
                <ResourceTable
                        :onlyView="onlyView"
                        v-if="resourceList[0]"
                        v-on:deleteResource="deleteResource"
                        :resourceList="resourceList"/>

                <div v-if="!onlyView && $store.currentUser.usertype === 'teacher'" class="pt-2">
                    <button type="button" class="btn btn-green" @click="showSearch">Find more Resources</button>
                    <div v-if="state.showSearch">
                        <ResourceSimpleSearchForm
                                v-on:handleSearch="handleSearch"
                                class="mt-3"/>
                    </div>
                </div>

                <div class="mt-3" v-if="searchedResources[0] && state.showSearch">
                    <div class=" m-3 text-left">We find the following resources for you!</div>

                    <div class=" m-3 text-left">
                        <ResourceList
                                v-on:addResourceClicked="addResource"
                                :resources="searchedResources"
                                :alreadyAddedResources="[]"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import ResourceTable from "../../common/lab/ResourceTable";
    import CreateResourceModal from "../../../lab/CreateResourceModal";
    import ResourceSimpleSearchForm from "../lab/ResourceSimpleSearchForm";
    import {getLabApiUrl, getResourceEndpoint} from '../../../../../js/global.js';
    import ResourceList from "../../../mission/common/resources/ResourceList";

    export default {
        name: "ResourceTab",

        components: {
            ResourceList,
            ResourceTable,
            CreateResourceModal,
            ResourceSimpleSearchForm
        },

        props: {
            world: {
                Type: Object,
                required: true
            },
            onlyView: {
                Type: Boolean,
                required: false,
                default: false
            }
        },

        data: function () {
            return {
                state: {
                    worldId: this.$route.params.id,
                    world: {},
                    resources: [],
                    searchedResources: [],
                    showSearch: false
                },
                resourcesList: [],
            }
        },

        methods: {
            /****************** Resources ******************/
            handleResourceCreated: function (event) {
                this.state.world.resources.push(event.resource._id.$oid);
                this.$emit('saveWorld', this.state.world);
                this.fetchResources();
            },
            handleSearch: function (queryKeywords) {
                let query = getResourceEndpoint("API_GATEWAY_STORAGE") + "/?q=" + queryKeywords;
                axios.get(query).then(response => {
                    this.state.searchedResources = response.data.filter(r => !this.state.world.resources.includes(r.resourceId))
                });
            },
            addResource: function (resource) {
                let resourceId = resource._id.$oid;
                this.state.world.resources.push(resourceId);
                this.state.searchedResources = this.state.searchedResources.filter(r => !(r.resourceId === resourceId));
                this.$emit('saveWorld', this.state.world);
                this.fetchResources();
            },
            deleteResource: function (resourceId) {
                this.state.world.resources.splice(this.state.world.resources.indexOf(resourceId), 1);
                this.$emit('saveWorld', this.state.world);
                this.fetchResources();
            },
            fetchResources: function () {
                if (this.state.world.resources.length > 0) {
                    let params = {id: this.state.world.resources};
                    axios.get(getLabApiUrl("API_GATEWAY_STORAGE") + "/resource?" + $.param(params)).then(response => {
                        this.state.resources = response.data;
                        this.$forceUpdate();
                    });
                } else {
                    this.state.resources = {};
                }
            },
            showSearch: function () {
                this.state.showSearch = !this.state.showSearch;

                if (!this.state.showSearch)
                    this.state.searchedResources = [];
            }
        },

        computed: {
            resourceList() {
                let resourceList = {};
                for (let i = 0; i < this.state.resources.length; i++) {
                    resourceList[i] = this.state.resources[i];
                }
                return resourceList;
            },
            searchedResources() {
                let resourceList = [];
                for (let i = 0; i < this.state.searchedResources.length; i++) {
                    resourceList[i] = this.state.searchedResources[i];
                }
                return resourceList;
            },
        },

        watch: {
            world: function (newWorld) {
                this.state.world = newWorld;
                this.fetchResources();
            }
        }
    }
</script>

<style scoped>

</style>