<template>
    <div class="card mt-3">
        <div class="card-header card-header-with-border">
            <h6 class="text-left m-0">
                Rewards
            </h6>
        </div>
        <div class="card-body text-left">
            <p>Rewards are calculated automatically as follows:</p>
            <div class="table-responsive pl-2 pr-2 mb-3">
                <table class="table table-hover text-center">
                    <thead>
                    <tr>
                        <th>Rewards</th>
                        <th>
                            <img src="../../../../../img/ICONS-Knowledge-Points-Yellow-White-circle.png"
                                 style="width: 38%;" alt="Knowledge Points"/>
                        </th>
                        <th>
                            <img src="../../../../../img/ICONS-Social-Points-Blue-White-circle.png"
                                 style="width: 38%;" alt="Social Points"/>
                        </th>
                        <th>
                            <img src="../../../../../img/ICONS-Creativity-Points-Red-White-circle.png"
                                 style="width: 38%;"  alt="Creativity Points"/>
                        </th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="mission-states mission-states-title"><span>Brief completion</span></td>
                        <td class="mission-states"><p>100</p></td>
                        <td class="mission-states"><p>0</p></td>
                        <td class="mission-states"><p>0</p></td>
                        <td>TODO: make dynamic based on worlds</td>
                    </tr>
                    <tr>
                        <td class="mission-states mission-states-title"><span>Activity completion</span></td>
                        <td class="mission-states"><p>50</p></td>
                        <td class="mission-states"><p>50</p></td>
                        <td class="mission-states"><p>50</p></td>
                        <td>TODO: make dynamic based on worlds</td>
                    </tr>
                    <tr>
                        <td class="mission-states mission-states-title"><span>Challenge completion</span></td>
                        <td class="mission-states"><p>200</p></td>
                        <td class="mission-states"><p>0</p></td>
                        <td class="mission-states"><p>0</p></td>
                        <td>TODO: make dynamic based on worlds</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "RewardsTab"
    }
</script>

<style scoped>

</style>