<template>
    <div class="card mt-3">
        <div class="card-header card-header-with-border">
            <h6 class="text-left">
                Statistics
            </h6>
        </div>

        <div class="card-body text-left">
            TO Do
        </div>
    </div>
</template>

<script>
    export default {
        name: "StatisticsTab"
    }
</script>

<style scoped>

</style>