<template>
    <div>
        <div class="card mb-3">
            <div class="card-header card-header-with-border text-left">
                <UserSearchForm
                        class="p-0"
                        v-on:searchResultFound="userSearchResultFound"
                        v-on:changeSearchEntry="changeSearchEntry"/>
            </div>
            <div  v-if="typeof userSearchList !== 'undefined' && userSearchList.length > 0 && state.search.entry.length > 0" class="card-body">
                <div>
                    <p class="text-left mt-3">With <span
                            class="font-weight-bold font-italic">{{state.search.entry}}</span>, we find the following users
                        for you!</p>

                    <div class="mt-3">
                        <UserList
                                :users=userSearchList
                                userButtonText="Invite to join"
                                v-on:userButtonClickEvent="handleMemberInvitationsAdd"
                                teacherButtonText="Set as Moderator"
                                v-on:teacherButtonClickEvent="handleModeratorInvitationsAdd"
                                businessButtonText="Invite to join"
                                v-on:businessButtonClickEvent="handleModeratorInvitationsAdd"
                                :hideAfterClick=true
                                :searchList=true
                        />
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3" v-if="moderators[0]">
            <div class="card-header card-header-with-border">
                <h6 class="text-left mb-0">Moderators
                    <!--
                    <a href="#" class="btn btn-circle btn-set-point" data-toggle="modal"
                       data-target="#modal-block-list" title="Check your Blocked users">
                        <img src="../../../../../img/ICON_Report.png" class="clearfix" alt="Blocked users">
                    </a>
                    -->
                </h6>
            </div>

            <div class="card-body">
                <UserList v-if="!onlyView"
                          :users="moderators"
                          v-on:delete="handleModeratorDelete"
                          :dontShowButtons=true
                          :showDelete=true
                          :hideAfterClick=true
                />
                <UserList v-else :users="moderators" :dontShowButtons="true"/>
            </div>
        </div>

        <div class="card mb-3" v-if="moderatorInvitations[0]">
            <div class="card-header card-header-with-border">
                <h6 class="text-left mb-0">Invited Moderators</h6>
            </div>

            <div class="card-body">
                <UserList
                        :users="moderatorInvitations"
                        v-on:delete="handleModeratorInvitationDelete"
                        :dontShowButtons=true
                        :showDelete=true
                        :hideAfterClick=true
                />
            </div>
        </div>

        <div class="card mb-3" v-if="memberInvitations[0]">
            <div class="card-header card-header-with-border">
                <h6 class="text-left mb-0">Invited Members</h6>
            </div>

            <div class="card-body">
                <UserList
                        :users="memberInvitations"
                        v-on:delete="handleMemberInvitationDelete"
                        :dontShowButtons=true
                        :showDelete=true
                        :hideAfterClick=true
                />
            </div>
        </div>

        <div class="card" v-if="members[0]">
            <div class="card-header card-header-with-border">
                <h6 class="text-left mb-0">Members</h6>
            </div>

            <div class="card-body">
                <UserList v-if="!onlyView"
                          :users="members"
                          v-on:delete="handleMemberDelete"
                          v-on:quitWorld="quitWorld"
                          :dontShowButtons=true
                          :showDelete=true
                          :hideAfterClick=true
                />
                <UserList v-else
                          :users="members"
                          :dontShowButtons="true"
                          v-on:quitWorld="quitWorld"
                />
            </div>
        </div>
    </div>
</template>

<script>
    import UserList from "../../common/dashboard/UserList";
    import UserSearchForm from "../../common/dashboard/UserSearchForm";
    import {storage_getdashboardApiUrl} from '../../../../../js/global.js';

    export default {
        name: "UserListTab",

        components: {
            UserList,
            UserSearchForm
        },

        props: {
            world: {
                Type: Object,
                required: true
            },
            onlyView: {
                Type: Boolean,
                required: false,
                default: false
            }
        },

        data: function () {
            return {
                state: {
                    worldId: this.$route.params.id,
                    world: {
                        members: []
                    },
                    search: {
                        users: [],
                        entry: ''
                    }
                },
                memberList: [],
                memberInvitationList: [],
                moderatorList: [],
                moderatorInvitationList: [],
            }
        },

        methods: {
            /****************** Add Moderators & Members ******************/
            changeSearchEntry: function (newEntry) {
                this.state.search.entry = newEntry;
            },
            userSearchResultFound: function (users) {
                let modsAndMembers = this.state.world.members
                    .concat(this.state.world.moderators)
                    .concat(this.state.world.moderatorInvitations)
                    .concat(this.state.world.memberInvitations);
                this.state.search.users = users.filter(id => !modsAndMembers.includes(id.userid))
            },
            handleModeratorInvitationsAdd: function (user) {
                this.state.world.moderatorInvitations.push(user.userid);
                this.$emit('saveWorld', this.state.world);
                this.fetchUsersFromDashboard();
            },
            handleModeratorDelete: function (userid) {
                this.state.world.moderators.splice(this.state.world.moderators.indexOf(userid), 1);
                this.$emit('saveWorld', this.state.world);
                this.fetchUsersFromDashboard();
            },
            handleModeratorInvitationDelete: function (userid) {
                this.state.world.moderatorInvitations.splice(this.state.world.moderatorInvitations.indexOf(userid), 1);
                this.$emit('saveWorld', this.state.world);
                this.fetchUsersFromDashboard();
            },
            handleMemberInvitationsAdd: function (user) {
                this.state.world.memberInvitations.push(user.userid);
                this.$emit('saveWorld', this.state.world);
                this.fetchUsersFromDashboard();
            },
            handleMemberInvitationDelete: function (userid) {
                this.state.world.memberInvitations.splice(this.state.world.memberInvitations.indexOf(userid), 1);
                this.$emit('saveWorld', this.state.world);
                this.fetchUsersFromDashboard();
            },
            handleMemberDelete: function (userid) {
                this.state.world.members.splice(this.state.world.members.indexOf(userid), 1);
                this.$emit('saveWorld', this.state.world);
                this.fetchUsersFromDashboard();
            },
            quitWorld: function () {
                this.$emit('quitWorld');
            },
            fetchUsersFromDashboard: function () {
                if (this.state.world.members.length > 0 ||
                    this.state.world.moderators.length > 0 ||
                    this.state.world.moderatorInvitations.length > 0 ||
                    this.state.world.memberInvitations.length > 0) {

                    let userids = this.state.world.members
                        .concat(this.state.world.moderators)
                        .concat(this.state.world.moderatorInvitations)
                        .concat(this.state.world.memberInvitations);

                    let userIdParams = jQuery.param({
                        userids
                    });

                    axios.get(storage_getdashboardApiUrl('API_GATEWAY_STORAGE') + "/profile/findById?" + userIdParams)
                        .then(response => {
                            this.moderatorList = response.data.filter(id => this.state.world.moderators.includes(id.userid));
                            this.memberList = response.data.filter(id => this.state.world.members.includes(id.userid));
                            this.memberInvitationList = response.data.filter(id => this.state.world.memberInvitations.includes(id.userid));
                            this.moderatorInvitationList = response.data.filter(id => this.state.world.moderatorInvitations.includes(id.userid));
                        });
                }
            },
        },

        computed: {
            userSearchList() {
                let userSearchList = [];
                for (let i = 0; i < this.state.search.users.length; i++) {
                    userSearchList[i] = this.state.search.users[i];
                }
                return userSearchList;
            },
            moderators() {
                let moderators = [];
                for (let i = 0; i < this.moderatorList.length; i++) {
                    moderators[i] = this.moderatorList[i];
                }
                return moderators;
            },
            members() {
                let members = [];
                for (let i = 0; i < this.memberList.length; i++) {
                    members[i] = this.memberList[i];
                }
                return members;
            },
            moderatorInvitations() {
                let moderators = [];
                for (let i = 0; i < this.moderatorInvitationList.length; i++) {
                    moderators[i] = this.moderatorInvitationList[i];
                }
                return moderators;
            },
            memberInvitations() {
                let members = [];
                for (let i = 0; i < this.memberInvitationList.length; i++) {
                    members[i] = this.memberInvitationList[i];
                }
                return members;
            }
        },

        watch: {
            world: function (newWorld) {
                this.state.world = newWorld;
                this.fetchUsersFromDashboard();
            }
        }
    }
</script>

<style scoped>

</style>