<template>
    <div class="card mt-3">
        <div class="card-header card-header-with-border">
            <form>
                <div class="input-group p-0">
                    <div class="input-group-prepend">
                        <select class="form-control" v-model="state.language">
                            <option value="Any">Languages</option>
                            <option v-for="(language, key) in languages" :value="key">{{language}}
                            </option>
                        </select>
                    </div>
                    <input v-model="searchTextInput" @keypress.13.prevent="searchResource" type="text" class="form-control"
                           placeholder="Enter keywords, Invite code or username to search Planets and Missions!">
                    <div class="input-group-append">
                        <button class="btn btn-default" type="button" @click="searchResource"><i
                                class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="card-body row">
            <div class="col-sm">
                <table class="table table-hover text-left">
                    <thead>
                    <tr>
                        <th scope="col" colspan="2">Fields of Study</th>
                    </tr>
                    </thead>
                    <tbody class="text-left">

                    <tr v-for="(topic, index) in topics">
                        <td>
                            <label class="select-checkbox mb-0">
                                <input v-if="index === 0" @click="checkAll('topics')" type="checkbox" :value="topic" v-model="state.topics">
                                <input  v-else type="checkbox" @click="checkPart('topics', topic)" :value="topic" v-model="state.topics">
                                <span class="select-checkmark"></span>
                                <span class="checkbox-label">{{topic}}</span>
                            </label>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm">
                <table class="table table-hover text-left">
                    <thead>
                    <tr>
                        <th scope="col" colspan="2">Stage</th>
                    </tr>
                    </thead>
                    <tbody class="text-left">
                    <tr v-for="(topic, index) in stages">
                        <td>
                            <label class="select-checkbox mb-0">
                                <input v-if="index === 0" @click="checkAll('stages')" type="checkbox" :value="topic" v-model="state.stages">
                                <input  v-else type="checkbox" @click="checkPart('stages', topic)" :value="topic" v-model="state.stages">
                                <span class="select-checkmark"></span>
                                <span class="checkbox-label">{{topic}}</span>
                            </label>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm">
                <table class="table table-hover text-left">
                    <thead>
                    <tr>
                        <th scope="col" colspan="2">Difficulty</th>
                    </tr>
                    </thead>
                    <tbody class="text-left">
                    <tr v-for="(topic, index) in difficulties">
                        <td>
                            <label class="select-checkbox mb-0">
                                <input v-if="index === 0" @click="checkAll('difficulties')" type="checkbox" :value="topic" v-model="state.difficulties">
                                <input  v-else type="checkbox" @click="checkPart('difficulties', topic)" :value="topic" v-model="state.difficulties">
                                <span class="select-checkmark"></span>
                                <span class="checkbox-label">{{topic}}</span>
                            </label>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import store from '../data/store'

    export default {
        name: "WorldSimpleSearchForm",

        data: function () {
            return {
                searchTextInput: "",
                topics: ['Any'].concat(store.topics),
                stages: ['Any'].concat(store.stages),
                difficulties: ['Any'].concat(store.difficulties),
                languages: store.languages,
                state: {
                    topics: [],
                    stages: [],
                    difficulties: [],
                    language: 'Any'
                }
            }
        },

        methods: {
            searchResource: function() {
                let query = $.param({
                    topics: (this.state.topics.indexOf("Any") !== -1) ? [] : this.state.topics,
                    stages: (this.state.stages.indexOf("Any") !== -1) ? [] : this.state.stages,
                    difficulties: (this.state.difficulties.indexOf("Any") !== -1) ? [] : this.state.difficulties,
                    language: this.state.language,
                    searchString: this.searchTextInput
                });

                this.$emit('handleSearch', query);
            },
            checkAll: function(area) {
                if (this.state[area].indexOf("Any") !== 0)
                    this.state[area] = this[area].slice();
                else
                    this.state[area] = [];
            },
            checkPart: function(area, topic) {
                if (this.state[area].indexOf("Any") === 0)
                    this.state[area].splice(this.state[area].indexOf("Any"), 1);
            }
        },

        watch: {
            searchTextInput: function (newVal) {
                this.searchResource();
            }
        }
    }
</script>

<style scoped>

</style>