<template>
    <div>
        <!--blue -->
        <div v-if="this.labelParameter == 1 && this.isTable1 == 'true'">
            <table class="table">
                <thead>
                <tr>
                    <th colspan="2">
                        {{ $t('labelcomponent.progressBlue') }}
                    </th>
                </tr>
                </thead>

                <tbody>

                <ProgressItem :item-title="$t('labelcomponent.titleBlue1')"
                              :progress="state.currentSchoolData.listBlue['AuthorizedMinor']"
                              :max="state.schoolRequirement.listMinBlue['AuthorizedMinor']"
                              :description="$t('labelcomponent.description')"
                              label-name="blue"
                              is-progress-item1="true"></ProgressItem>

                <ProgressItem :item-title="$t('labelcomponent.titleBlue2')"
                              :progress="state.currentSchoolData.listBlue['ParentsAgreements']"
                              :max="state.schoolRequirement.listMinBlue['ParentsAgreements']"
                              :description="$t('labelcomponent.description1')"
                              label-name="blue"
                              is-progress-item1="true"></ProgressItem>

                <ProgressItem :item-title="$t('labelcomponent.titleBlue3')"
                              :progress="state.currentSchoolData.listBlue['TeacherAgreements']"
                              :max="state.schoolRequirement.listMinBlue['TeacherAgreements']"
                              :description="$t('labelcomponent.description2')"
                              label-name="blue"
                              is-progress-item1="true"></ProgressItem>

                <ProgressItem :item-title="$t('labelcomponent.titleBlue4')"
                              :progress="state.currentSchoolData.listBlue['StudentAgreements']"
                              :max="state.schoolRequirement.listMinBlue['StudentAgreements']"
                              :description="$t('labelcomponent.description3')"
                              label-name="blue"
                              is-progress-item1="true"></ProgressItem>

                </tbody>
            </table>
        </div>
        <!--silver -->
        <div v-else-if="this.labelParameter == 2 && this.isTable1 == 'true'">
            <table class="table">
                <thead>
                <tr>
                    <th colspan="2">
                        {{ $t('labelcomponent.progressSilver') }}
                    </th>
                </tr>
                </thead>

                <tbody>

                <ProgressItem :item-title="$t('labelcomponent.titleSilver1')"
                              :progress="state.currentSchoolData.listSilver['ParticipateSurvey']"
                              :max="state.schoolRequirement.listMinSilver['ParticipateSurvey']"
                              :description="$t('labelcomponent.description5')"
                              label-name="silver"
                              is-progress-item1="true"></ProgressItem>
                <ProgressItem :item-title="$t('labelcomponent.titleSilver2')"
                              :progress="state.currentSchoolData.listSilver['ParentsAgreements']"
                              :max="state.schoolRequirement.listMinSilver['ParentsAgreements']"
                              :description="$t('labelcomponent.description6')"
                              label-name="silver"
                              is-progress-item1="true"></ProgressItem>
                <ProgressItem :item-title="$t('labelcomponent.titleSilver3')"
                              :progress="state.currentSchoolData.listSilver['TeacherCourses']"
                              :max="state.schoolRequirement.listMinSilver['TeacherCourses']"
                              :description="$t('labelcomponent.description7')"
                              label-name="silver"
                              is-progress-item1="true"></ProgressItem>
                <ProgressItem :item-title="$t('labelcomponent.titleSilver4')"
                              :progress="state.currentSchoolData.listSilver['Radio']"
                              :max="state.schoolRequirement.listMinSilver['Radio']"
                              :description="$t('labelcomponent.description8')"
                              label-name="silver"
                              is-progress-item1="true"></ProgressItem>
                <ProgressItem :item-title="$t('labelcomponent.titleSilver5')"
                              :progress="state.currentSchoolData.listSilver['StudentsInOneCourse']"
                              :max="state.schoolRequirement.listMinSilver['StudentsInOneCourse']"
                              :description="$t('labelcomponent.description9')"
                              label-name="silver"
                              is-progress-item1="true"></ProgressItem>
                <ProgressItem :item-title="$t('labelcomponent.titleSilver6')"
                              :progress="state.currentSchoolData.listSilver['StudentsInCourseMax']"
                              :max="state.schoolRequirement.listMinSilver['StudentsInCourseMax']"
                              :description="$t('labelcomponent.description10')"
                              label-name="silver"
                              is-progress-item1="true"></ProgressItem>
                <ProgressItem :item-title="$t('labelcomponent.titleSilver7')"
                              :progress="state.currentSchoolData.listSilver['SharedCourses']"
                              :max="state.schoolRequirement.listMinSilver['SharedCourses']"
                              :description="$t('labelcomponent.description10')"
                              label-name="silver"
                              is-progress-item1="true"></ProgressItem>
                </tbody>
            </table>
        </div>
        <!--gold -->
        <div v-else-if="this.labelParameter == 3 && this.isTable1 == 'true'">
            <table class="table">
                <thead>
                <tr>
                    <th colspan="2">
                        {{ $t('labelcomponent.progressGold') }}
                    </th>
                </tr>
                </thead>

                <tbody>
                <ProgressItem :item-title="$t('labelcomponent.titleGold1')"
                              :progress="state.currentSchoolData.listGold['ParticipateSurvey']"
                              :max="state.schoolRequirement.listMinGold['ParticipateSurvey']"
                              :description="$t('labelcomponent.description11')"
                              label-name="gold"
                              is-progress-item1="true"></ProgressItem>
                <ProgressItem :item-title="$t('labelcomponent.titleGold2')"
                              :progress="state.currentSchoolData.listGold['TeacherCourses']"
                              :max="state.schoolRequirement.listMinGold['TeacherCourses']"
                              :description="$t('labelcomponent.description12')"
                              label-name="gold"
                              is-progress-item1="true"></ProgressItem>
                <ProgressItem :item-title="$t('labelcomponent.titleGold3')"
                              :progress="state.currentSchoolData.listGold['TeacherAgreements']"
                              :max="state.schoolRequirement.listMinGold['TeacherAgreements']"
                              :description="$t('labelcomponent.description13')"
                              label-name="gold"
                              is-progress-item1="true"></ProgressItem>
                <ProgressItem :item-title="$t('labelcomponent.titleGold4')"
                              :progress="state.currentSchoolData.listGold['ParentsAgreements']"
                              :max="state.schoolRequirement.listMinGold['ParentsAgreements']"
                              :description="$t('labelcomponent.description14')"
                              label-name="gold"
                              is-progress-item1="true"></ProgressItem>
                <ProgressItem :item-title="$t('labelcomponent.titleGold5')"
                              :progress="state.currentSchoolData.listGold['StudentsInTwoCourses']"
                              :max="state.schoolRequirement.listMinGold['StudentsInTwoCourses']"
                              :description="$t('labelcomponent.description15')"
                              label-name="gold"
                              is-progress-item1="true"></ProgressItem>
                <ProgressItem :item-title="$t('labelcomponent.titleGold6')"
                              :progress="state.currentSchoolData.listGold['StudentPoints']"
                              :max="state.schoolRequirement.listMinGold['StudentPoints']"
                              :description="$t('labelcomponent.description16')"
                              label-name="gold"
                              is-progress-item1="true"></ProgressItem>
               <ProgressItem :item-title="$t('labelcomponent.titleGold7')"
                              :progress="state.currentSchoolData.listGold['StudentsInCourseMax']"
                              :max="state.schoolRequirement.listMinGold['StudentsInCourseMax']"
                              :description="$t('labelcomponent.description17')"
                              label-name="gold"
                              is-progress-item1="true"></ProgressItem>
                <ProgressItem :item-title="$t('labelcomponent.titleGold8')"
                              :progress="state.currentSchoolData.listGold['SharedCourse']"
                              :max="state.schoolRequirement.listMinGold['SharedCourse']"
                              :description="$t('labelcomponent.description18')"
                              label-name="gold"
                              is-progress-item1="true"></ProgressItem>
                <ProgressItem :item-title="$t('labelcomponent.titleGold9')"
                              :progress="state.currentSchoolData.listGold['RadioCapsules']"
                              :max="state.schoolRequirement.listMinGold['RadioCapsules']"
                              :description="$t('labelcomponent.description18')"
                              label-name="gold"
                              is-progress-item1="true"></ProgressItem>




                </tbody>
            </table>
        </div>
        <!--diamond -->
        <div v-else-if="this.labelParameter == 4 && this.isTable1 == 'true'">
            <table class="table">
                <thead>
                <tr>
                    <th colspan="2">
                        {{ $t('labelcomponent.progressDiamond') }}
                    </th>
                </tr>
                </thead>
                <tbody>
                <ProgressItem :item-title="$t('labelcomponent.titleDiamond1')"
                              :progress="state.currentSchoolData.listDiamond['Workshop']"
                              :max="state.schoolRequirement.listMinDiamond['Workshop']"
                              :description="$t('labelcomponent.description19')"
                              label-name="diamond"
                              is-progress-item1="true"></ProgressItem>
                </tbody>
            </table>
        </div>

        <!--blue -->
        <div v-else-if="this.labelParameter == 1 && this.isTable2 == 'true'">
            <table class="table">
                <thead>
                <tr>
                    <th scope="row">{{ $t('labelcomponent.tasks') }}</th>
                    <th>{{ $t('labelcomponent.reqiurements') }}</th>
                </tr>
                </thead>
                <tbody>
                <ProgressItem :item-title="$t('labelcomponent.titleBlue1_')"
                              :progress="state.currentSchoolData.listBlue['SchoolAgreements']"
                              :max="state.schoolRequirement.listMinBlue['MinBschoolAgreements']"
                              :description="$t('labelcomponent.description')"
                              label-name="blue"
                              is-progress-item2="true">
                </ProgressItem>

                <ProgressItem :item-title="$t('labelcomponent.titleBlue2_')"
                              :progress="state.currentSchoolData.listBlue['ParentsAgreements']"
                              :max="state.schoolRequirement.listMinBlue['ParentsAgreements']"
                              :description="$t('labelcomponent.description1')"
                              label-name="blue"
                              is-progress-item2="true">
                </ProgressItem>

                <ProgressItem :item-title="$t('labelcomponent.titleBlue3_')"
                              :progress="state.currentSchoolData.listBlue['TeacherAgreements']"
                              :max="state.schoolRequirement.listMinBlue['TeacherAgreements']"
                              :description="$t('labelcomponent.description2')"
                              label-name="blue"
                              is-progress-item2="true">
                </ProgressItem>

                <ProgressItem :item-title="$t('labelcomponent.titleBlue4_')"
                              :progress="state.currentSchoolData.listBlue['StudentAgreements']"
                              :max="state.schoolRequirement.listMinBlue['StudentAgreements']"
                              :description="$t('labelcomponent.description3')"
                              label-name="blue"
                              is-progress-item2="true">
                </ProgressItem>
                </tbody>
            </table>
        </div>
        <!--silver -->
        <div v-else-if="this.labelParameter == 2 && this.isTable2 == 'true'">
            <table class="table">
                <thead>
                <tr>
                    <th scope="row">{{ $t('labelcomponent.tasks') }}</th>
                    <th>{{ $t('labelcomponent.reqiurements') }}</th>
                </tr>
                </thead>


                <tbody>
               <!-- no need-- <ProgressItem :item-title="$t('labelcomponent.titleSilver1_')"
                              :progress="state.currentSchoolData.listSilver[0]"
                              :max="state.schoolRequirement.listMinSilver[0]"
                              :description="$t('labelcomponent.description4')"
                              label-name="silver"
                              is-progress-item2="true"></ProgressItem> -->
                <ProgressItem :item-title="$t('labelcomponent.titleSilver2_')"
                              :progress="state.currentSchoolData.listSilver['Collection']"
                              :max="state.schoolRequirement.listMinSilver['Collection']"
                              :description="$t('labelcomponent.description5')"
                              label-name="silver"
                              is-progress-item2="true"></ProgressItem>
                <ProgressItem :item-title="$t('labelcomponent.titleSilver3_')"
                              :progress="state.currentSchoolData.listSilver['Increasement']"
                              :max="state.schoolRequirement.listMinSilver['Increasement']"
                              :description="$t('labelcomponent.description6')"
                              label-name="silver"
                              is-progress-item2="true"></ProgressItem>
                <ProgressItem :item-title="$t('labelcomponent.titleSilver4_')"
                              :progress="state.currentSchoolData.listSilver['Courses']"
                              :max="state.schoolRequirement.listMinSilver['Courses']"
                              :description="$t('labelcomponent.description7')"
                              label-name="silver"
                              is-progress-item2="true"></ProgressItem>
               <ProgressItem :item-title="$t('labelcomponent.titleSilver5_')"
                              :progress="state.currentSchoolData.listSilver['Radio']"
                              :max="state.schoolRequirement.listMinSilver['Radio']"
                              :description="$t('labelcomponent.description8')"
                              label-name="silver"
                              is-progress-item2="true"></ProgressItem>
                <ProgressItem :item-title="$t('labelcomponent.titleSilver6_')"
                              :progress="state.currentSchoolData.listSilver['CourseparticipationStudent']"
                              :max="state.schoolRequirement.listMinSilver['CourseparticipationStudent']"
                              :description="$t('labelcomponent.description9')"
                              label-name="silver"
                              is-progress-item2="true"></ProgressItem>
                <ProgressItem :item-title="$t('labelcomponent.titleSilver7_')"
                              :progress="state.currentSchoolData.listSilver['CourceparticipationTeacher']"
                              :max="state.schoolRequirement.listMinSilver['CourceparticipationTeacher']"
                              :description="$t('labelcomponent.description10')"
                              label-name="silver"
                              is-progress-item2="true"></ProgressItem>
                </tbody>
            </table>
        </div>
        <!--gold -->
        <div v-else-if="this.labelParameter == 3 && this.isTable2 == 'true'">
            <table class="table">
                <thead>
                <tr>
                    <th scope="row">{{ $t('labelcomponent.tasks') }}</th>
                    <th>{{ $t('labelcomponent.reqiurements') }}</th>
                </tr>
                </thead>

                <tbody>
                <ProgressItem :item-title="$t('labelcomponent.titleGold1_')"
                              :progress="state.currentSchoolData.listGold['DataCollection']"
                              :max="state.schoolRequirement.listMinGold['DataCollection']"
                              :description="$t('labelcomponent.description11')"
                              label-name="gold"
                              is-progress-item2="true"></ProgressItem>
                <ProgressItem :item-title="$t('labelcomponent.titleGold2_')"
                              :progress="state.currentSchoolData.listGold['Radio']"
                              :max="state.schoolRequirement.listMinGold['Radio']"
                              :description="$t('labelcomponent.description12')"
                              label-name="gold"
                              is-progress-item2="true"></ProgressItem>
                <ProgressItem :item-title="$t('labelcomponent.titleGold3_')"
                              :progress="state.currentSchoolData.listGold['Courses']"
                              :max="state.schoolRequirement.listMinGold['Courses']"
                              :description="$t('labelcomponent.description13')"
                              label-name="gold"
                              is-progress-item2="true"></ProgressItem>
                <ProgressItem :item-title="$t('labelcomponent.titleGold4_')"
                              :progress="state.currentSchoolData.listGold['ParticipationIncreasement']"
                              :max="state.schoolRequirement.listMinGold['ParticipationIncreasement']"
                              :description="$t('labelcomponent.description14')"
                              label-name="gold"
                              is-progress-item2="true"></ProgressItem>
                <ProgressItem :item-title="$t('labelcomponent.titleGold5_')"
                              :progress="state.currentSchoolData.listGold['CourseparticipationStudent']"
                              :max="state.schoolRequirement.listMinGold['CourseparticipationStudent']"
                              :description="$t('labelcomponent.description15')"
                              label-name="gold"
                              is-progress-item2="true"></ProgressItem>
                <ProgressItem :item-title="$t('labelcomponent.titleGold6_')"
                              :progress="state.currentSchoolData.listGold['CourseparticipationTeacher']"
                              :max="state.schoolRequirement.listMinGold['CourseparticipationTeacher']"
                              :description="$t('labelcomponent.description16')"
                              label-name="gold"
                              is-progress-item2="true"></ProgressItem>
                <ProgressItem :item-title="$t('labelcomponent.titleGold7_')"
                              :progress="state.currentSchoolData.listGold['TeacherAgreements']"
                              :max="state.schoolRequirement.listMinGold['TeacherAgreements']"
                              :description="$t('labelcomponent.description17')"
                              label-name="gold"
                              is-progress-item2="true"></ProgressItem>
               <ProgressItem :item-title="$t('labelcomponent.titleGold8_')"
                              :progress="state.currentSchoolData.listGold['StudentsRaisedPoints']"
                              :max="state.schoolRequirement.listMinGold['StudentsRaisedPoints']"
                              :description="$t('labelcomponent.description18')"
                              label-name="gold"
                              is-progress-item2="true"></ProgressItem>
                </tbody>
            </table>
        </div>
        <!--diamond -->
        <div v-else-if="this.labelParameter == 4 && this.isTable2 == 'true'">
            <table class="table">
                <thead>
                <tr>
                    <th scope="row">{{ $t('labelcomponent.tasks') }}</th>
                    <th>{{ $t('labelcomponent.reqiurements') }}</th>
                </tr>
                </thead>

                <tbody>
                <ProgressItem :item-title="$t('labelcomponent.titleDiamond1_')"
                              :progress="state.currentSchoolData.listDiamond['Workshop']"
                              :max="state.schoolRequirement.listMinDiamond['Workshop']"
                              :description="$t('labelcomponent.description19')"
                              label-name="diamond"
                              is-progress-item2="true"></ProgressItem>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import ProgressItem from "./ProgressItem.vue";

    export default {
        name: "LabelComponent",
        components: {
            ProgressItem
        },
        data: function () {
            return {
                state: {
                    currentSchoolData: {
                        listBlue: [],
                        listSilver: [],
                        listGold: [],
                        listDiamond: [],
                        badge: '',
                    },
                    schoolRequirement: {
                        listMinBlue: [],
                        listMinSilver: [],
                        listMinGold: [],
                        listMinDiamond: [],
                    },
                },
            }
        },
        methods: {
            getPercent: function (a, b) {
                if (b != 0)
                    return (a / b) * 100;
            },
            getLabelName(labelLevel) {
                if (labelLevel == 0) {
                    return "None";
                }
                if (labelLevel == 1) {
                    return "Blue";
                }
                if (labelLevel == 2) {
                    return "Silver";
                }
                if (labelLevel == 3) {
                    return "Gold";
                }
                if (labelLevel == 4) {
                    return "Diamond";
                }
                return "";
            },
            updateData(){

            }
        },
        props: ['labelParameter', 'currentSchoolData', 'isTable1', 'isTable2','schoolRequirement'],
        watch: {
            currentSchoolData: function (newVal) {
                this.state.currentSchoolData = newVal;

                /*$.each(this.state.currentSchoolData.listMinBlue, (key, value) => {
                    if (this.state.currentSchoolData.listBlue[key] > this.state.schoolRequirement.listMinBlue[key]){
                        this.state.currentSchoolData.listBlue[key] = this.state.schoolRequirement.listMinBlue[key];
                    }
                });

                $.each(this.state.currentSchoolData.listMinSilver, (key, value) => {
                    if (this.state.currentSchoolData.listSilver[key] > this.state.schoolRequirement.listMinSilver[key]){
                        this.state.currentSchoolData.listSilver[key] = this.state.schoolRequirement.listMinSilver[key];
                    }
                });*/
            },
            schoolRequirement: function(newVal){
                this.state.schoolRequirement = newVal;
            }

        }
    }
</script>

<style scoped>
</style>