<template>
    <div>

        <!-- TableComponent with progressbars -->
        <div v-if="showData1=='true'">
            <LabelComponent :label-parameter="this.badgeparameter"
                            :current-school-data="this.currentSchoolData"
                            :school-requirement="this.schoolRequirement"
                            is-table1="true"></LabelComponent>
        </div>
        <!-- TableComponent with descriptions information -->
        <div v-else-if="showData2=='true'">
            <LabelComponent :label-parameter="this.badgeparameter"
                            :current-school-data="this.currentSchoolData"
                            :school-requirement="this.schoolRequirement"
                            is-table2="true"></LabelComponent>
        </div>
        <!--Progress chart -->
        <div v-else-if="showProgressToNext=='true'">
            <ProgressToNext :label-parameter="this.badgeparameter"
                            :current-school-data="this.currentSchoolData"
                            :school-requirement="this.schoolRequirement">
            </ProgressToNext>
        </div>
        <div v-else>
            no valid prop handed- LabelHandler
        </div>
    </div>

</template>

<script>
    import ProgressToNext from './ProgressToNext';
    import LabelComponent from './LabelComponent';

    export default {
        name: "LabelHandler",

        components: {
            ProgressToNext, LabelComponent
        },
        data: function () {
            return {
                state: {
                    currentSchoolData: [],
                    schoolRequirement: []
                }
            }
        },
        props: ['badgeparameter', 'currentSchoolData', 'showData1', 'showData2', 'showProgressToNext','schoolRequirement'],
        watch: {
            currentSchoolData: function (newVal) {
                this.state.currentSchoolData = newVal;
            },
            schoolRequirement: function(newVal){
                this.state.schoolRequirement = newVal;
            }
        }
    }


</script>

<style scoped>
</style>