<template>
        <!-- item with progress -->
        <tr v-if="this.isProgressItem1 == 'true'">
            <th class="col-8" scope="row">
                <div class="progress">
                    <div v-bind:class="'progress-bar progress-bar-'+this.labelName+' active'"
                         role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                         :style="{width: getPercent(progress ,max) + '%'}">
                    </div>
                    <div class="progress-value-ls">
                        {{progress}}/{{max}}
                    </div>
                </div>
            </th>
            <td class="col-4">
                <h6>{{itemTitle}}</h6>
            </td>
        </tr>
        <!-- item with information -->
        <tr v-else-if="this.isProgressItem2 == 'true'">
            <th scope="row">
                <p>{{itemTitle}} {{progress}}/{{max}}</p>
            </th>
            <td>
                <p>{{description}}</p>
            </td>
        </tr>
        <tr v-else>
            no valid prop handed - ProgressItem
        </tr>

</template>

<script>

    export default {
        name: "ProgressItem",

        props: ['itemTitle', 'progress', 'max', 'description', 'labelName', 'isProgressItem1', 'isProgressItem2'],
        methods: {
            getPercent: function (a, b) {
                if (b != 0)
                    return (a / b) * 100;
            }
        },
        data: function () {
            return {
                state: {}
            }
        }

    }
</script>

<style scoped>
</style>