<template>
    <div>
        <div class="statChartHolder">
            <div class="progress-pie-chart gt-50" :data-percent="Math.floor(calcProgressToNext(labelParameter)*100)">
                <!--Pie Chart -->
                <div class="ppc-progress">
                    <div class="ppc-progress-fill"
                         :style="{transform: 'rotate('+ Math.floor(calcProgressToNext(labelParameter)*360) + 'deg )'}">
                    </div>
                </div>

                <div class="ppc-percents">
                    <div class="pcc-percents-wrapper">
                        <span>{{Math.floor(calcProgressToNext(labelParameter)*100)}} %</span>
                    </div>
                </div>

            </div>
            <!--End Chart -->

        </div>
    </div>
</template>

<script>
    import { storage_getdashboardApiUrl } from '../../../js/global.js';

    import { storage_getURL } from '../../../js/global.js';

    import Badges from '../Badges.vue';

    import KeywordSearchBar from '../common/KeywordSearchBar';

    import Progresso from '../Badges.vue';

    export default {
        name: "ProgressToNext",
        data: function () {
            return {
                state: {
                    progress: 0.0,
                    data: '',
                },
            }
        },

        props: ['labelParameter', 'currentSchoolData', 'schoolRequirement'],

        watch: {
            currentSchoolData: function (newVal) {
                this.state.currentSchoolData = newVal;
            },
            schoolRequirement: function (newVal) {
                this.state.schoolRequirement = newVal;
            }
        },
        methods: {

            /*
            getProgress() {
                let progress;
                axios.get(
                    storage_getURL('API_GATEWAY_STORAGE') + '/api-proxy/badges/api/v1/badges/progress/' + this.state.profile.userid
                ).then((response) => {
                    this.state.progress = response.data;
                    console.log(this.state.currentSchoolData.badge);
                });

            },
            */

            calcProgressToNext: function (label) {
                let data;
                let test;
                let res;
                res = 0;
                let sum;
                sum = 0
                let count;
                let countReq;
                let currBadge = 2;
                let ret;

                if (!this.schoolRequirement || !this.currentSchoolData) {
                    return -1;
                }
                this.state.data = this.currentSchoolData;

                count = 0;
                countReq = 0;
                if (label == 1){
                    $.each(this.schoolRequirement.listMinBlue, (key, value) => {
                        countReq = countReq + 1;
                        if (this.currentSchoolData.listBlue[key] >= value){
                            count = count + 1;
                        }
                    })
                    if (count == countReq){
                        return 1;
                    }
                }
                count = 0;
                countReq = 0;
                if (label == 2){
                    $.each(this.schoolRequirement.listMinSilver, (key, value) => {
                        countReq = countReq + 1;
                        if (this.currentSchoolData.listSilver[key] >= value){
                            count = count + 1;
                        }
                    })
                    if (count == countReq){
                        return 1;
                    }
                }
                count = 0;
                countReq = 0;
                if (label == 3){
                    $.each(this.schoolRequirement.listMinGold, (key, value) => {
                        countReq = countReq + 1;
                        if (this.currentSchoolData.listGold[key] >= value){
                            count = count + 1;
                        }
                    })
                    if (count == countReq){
                        return 1;
                    }
                }


                axios.get(
                    storage_getURL('API_GATEWAY_STORAGE') + '/api-proxy/badges/api/v1/badges/progress/' + this.$route.params.schoolId
                ).then((response) => {
                    this.state.progress = response.data;
                });

                return this.state.progress;


                /*
                let countRequirements = 0;
                let setRequirements;
                let schooldata;
                let percentagePerRequirement;


                if (label == 0){
                    countRequirements = 0;
                    setRequirements = 0;
                    schooldata = 0;
                }

                if (label == 1){
                    countRequirements = this.state.schoolRequirement.listMinBlue.length;
                    setRequirements = this.state.schoolRequirement.listMinBlue;
                    schooldata = this.state.currentSchoolData.listBlue;

                    console.log(this.state.schoolRequirement.listMinBlue.length);
                }
                else if (label == 2){
                    countRequirements = this.state.schoolRequirement.listMinSilver.length;
                    setRequirements = this.state.schoolRequirement.listMinSilver;
                    schooldata = this.state.currentSchoolData.listSilver;

                    console.log(this.state.schoolRequirement.listMinSilver.length);
                }
                else if (label == 3){
                    countRequirements = this.state.schoolRequirement.listMinGold.length;
                    setRequirements = this.state.schoolRequirement.listMinGold;
                    schooldata = this.state.currentSchoolData.listGold;
                }
                else if (label == 4){
                    countRequirements = this.state.schoolRequirement.listMinDiamond.length;
                    setRequirements = this.state.schoolRequirement.listMinDiamond;
                    schooldata = this.state.currentSchoolData.listDiamond;
                }


                percentagePerRequirement = 1 / countRequirements;

                if (setRequirements != null) {
                    res = 0;
                    sum = 0;
                    $.each(setRequirements, (key, value) => {
                        if (schooldata[key] == null || schooldata[key] == 0 || value == 0) {
                            sum = 0;
                        } else if (schooldata[key] >= value) {
                            sum = percentagePerRequirement;
                        } else {
                            sum = (schooldata[key] / value) * percentagePerRequirement;
                        }
                        res += sum;
                    });
                }


                return res;
                /*
                                  for (Map.Entry<String, Integer> entry : setRequirements.entrySet()) {
                                       prog = 0;
                                       String key = entry.getKey();
                                       Integer value = entry.getValue();

                                       System.out.println("INFO: key: " + key + " | schooldata.get(key): " + schooldata.get(key) + " | value: " + value);

                                       if (schooldata.get(key) == null || value == 0 || schooldata.get(key) == 0){
                                           prog = 0;
                                       } else if (schooldata.get(key) >= value){
                                           prog = percentagePerRequirement;
                                       } else {
                                           prog = (float) ((float) schooldata.get(key) / (float) value) * (float) percentagePerRequirement;
                                           System.out.println("calc f0r " + entry + ": " + prog);

                                       }
                                       System.out.println("nö");
                                       //logger().info("XX: " + schooldata.get(key) + " | " + value + " | " + percentagePerRequirement);

                                       System.out.println("calc for " + entry + ": " + prog);

                                       progSum += prog;
                                   }
                                   */

                /*
                if (label == 1) {
                    for (let i = 0; i < this.currentSchoolData.listBlue.length; i++) {
                        res += this.currentSchoolData.listBlue[i] / this.schoolRequirement.listMinBlue[i];
                    }
                    res /= this.currentSchoolData.listBlue.length;
                }
                if (label == 2) {
                    for (let i = 0; i < this.currentSchoolData.listSilver.length; i++) {
                        res += this.currentSchoolData.listSilver[i] / this.schoolRequirement.listMinSilver[i];
                    }
                    res /= this.currentSchoolData.listSilver.length;
                }
                if (label == 3) {
                    for (let i = 0; i < this.currentSchoolData.listGold.length; i++) {
                        res += this.currentSchoolData.listGold[i] / this.schoolRequirement.listMinGold[i];
                    }
                    res /= this.currentSchoolData.listGold.length;
                }
                if (label == 4) {
                    for (let i = 0; i < this.currentSchoolData.listDiamond.length; i++) {
                        res += this.currentSchoolData.listDiamond[i] / this.schoolRequirement.listMinDiamond[i];
                    }
                    res /= this.currentSchoolData.listDiamond.length;
                }
                if (res > 1) {
                    res = 1;
                }
                return res;
                */
            }

        },
        beforeMount() {
        }
    }
</script>

<style scoped>
</style>