<template>
	<div v-waitForT id="app">
		
		<div v-if="path === '/notfound'">
			<HeaderNotFound></HeaderNotFound>
			<router-view></router-view>
			<Footer></Footer>
		</div>
		
		
		<!--
			If you want to access a page without beeing logged in do as in the following lines. Also:
			1. Define your page as usual in main.js.
			2. Create a new Servlet in platform-microservice-storage e.g. PrivacyPolicyServlet (you can just copy and modify it)
			3. Whitelist the page in the AutheticationFilter of platform-microservice-storage
		-->
		<div v-else-if="path.startsWith('/eportfolio') && $store.currentUser === null">
			<HeaderDefault></HeaderDefault>
			<div class="col-lg-9 col-md-9 mb-4 text-center m-auto" style="max-width: 825px">
				<router-view></router-view>
			</div>
			<FooterDefault></FooterDefault>
			<CookieMessage/>
		</div>
		
		<div v-else-if="path.startsWith('/privacyPolicy') || path.startsWith('/termsAndConditions') || path.startsWith('/imprint') || path.startsWith('/disclaimer')">
			<HeaderDefault></HeaderDefault>
			<div class="col-lg-9 col-md-9 mb-4 text-center m-auto" style="max-width: 825px">
				<router-view></router-view>
			</div>
			<FooterDefault></FooterDefault>
			<CookieMessage/>
		</div>
		
		<div v-else-if="path === '/home' || path === '/login' || path.startsWith('/signup') || path === '/reset'">
			<HeaderDefault></HeaderDefault>
			<router-view></router-view>
			<FooterDefault></FooterDefault>
			<CookieMessage/>
		</div>
		
		<div v-else-if="path !== '/notfound' && path !== '/' && path !=='/home' && path !== '' || path.startsWith('eportfolio')">
			<Header></Header>
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-lg-3 mb-4">
						<Menu></Menu>
					</div>
					<div class="col-md-8 col-lg-9 mb-4 text-center">
						<router-view></router-view>
					</div>
				</div>
			</div>
			<Footer></Footer>
		</div>
		
		<div v-else-if="path === '/'">
			<HeaderDefault></HeaderDefault>
			<router-view></router-view>
			<FooterDefault></FooterDefault>
			<CookieMessage/>
		</div>
	
		
	
	</div>
</template>

<script>
  import HeaderNotFound from './components/HeaderNotFound.vue';
  import HeaderDefault from './components/HeaderDefault.vue';
  import Header from './components/Header.vue';
  import Menu from './components/Menu';
  import Footer from './components/Footer.vue';
  import FooterDefault from './components/FooterDefault.vue';
  import CookieMessage from './components/CookieMessage.vue'
 

  export default {
    components: {
      Header, Menu, Footer, FooterDefault, HeaderNotFound, HeaderDefault, CookieMessage,
    },

    data: function() {
      return {
        state: this.$store,
        path: '',
      };
    },

    watch: {
      '$route'(to) {
        this.path = to.path;
      },
    },

  };
</script>

<style>
	@import url("../css/main.css");
	@import url("../css/profiles.css");
	@import url("../css/community.css");
    @import url("../css/responsive.css");
	
	.Cookie--stimeyTheme {
		background: #575756;
		color: #fff;
		padding: 1.250em;
	}
	
	.Cookie--stimeyTheme .Cookie__button {
		background: #90d400;;
		padding: .375rem .75rem;
		color: #fff;
		border-radius: .25rem;
		border: 1px solid transparent;
		font-size: 1rem;
		font-weight: 400;
	}
	
	.Cookie--stimeyTheme .Cookie__button:hover {
		background-color: #00983D;
	}

</style>
