<template>
  <div>
    <div class="card mt-3">
      <div class="card-header card-header-with-border">
        <h6 class="text-left">{{ state.challenge.title }}</h6>
      </div>
      <div class="card-body text-left">
        <div v-if="!state.studentHasStarted && !state.studentHasSubmitted">
          <button @click="startChallenge" type="button" class="btn btn-green w-25">
            {{ $t('challenge.startChallenge') }}
          </button>
          <!--
          <button @click="startChallengeWithRobot" type="button" class="btn btn-green w-50">
            {{ $t('challenge.startChallenge') }} with Robot
          </button>
          -->
        </div>
        <div v-else-if="state.studentHasSubmitted">
          <h6>{{ $t('challenge.alreadyDidChallenge') }}</h6>
          <div class="row">
            <div class="col">
              <div class="text-left mt-3">
                <button @click="previousContentPage" type="button" class="btn btn-green w-50">
                  {{ $t('challenge.previous') }}
                </button>
              </div>
            </div>
            <div class="col">
              <div class="text-right mt-3">
                <button @click="nextContentPage" type="button" class="btn btn-green w-50">
                  {{ $t('challenge.next') }}
                </button>
              </div>
            </div>
          </div>
        </div>
        <div v-else>
          <Timer ref="challengeTimer" :end-date="challengeEndDate" v-on:challengeTimeIsUp="submitChallenge()"></Timer>

          <ol class="mission-levels pl-0">
            <li v-for="question in state.questions">
              <div class="mission-item mb-2 d-flex">
                <span class="m-challenges-num"></span>
                <div class="multi-choice-wrap">
                  <span class="multi-choice-title">{{ question.title }}</span>
                </div>
              </div>
              <div v-if="question.type === 'MultipleChoiceQuestion'">
                <div class="quest-hint">
                  <!-- <h6>{{ $t('challenge.chooseCorrectAnswersMultipleChoice') }}</h6> -->
                  <p class="text-muted text-left">{{ question.hint }}</p>
                </div>
                <div class="choices">
                  <div v-for="(answer, index) in question.answers">
                    <div class="choice">
                      <input
                        :id="`${question._id.$oid}${index}`"
                        v-model="state.studentResult[question._id.$oid].studentInput"
                        type="checkbox"
                        :value="answer.answerText"
                      />
                      <label :for="`${question._id.$oid}${index}`">{{ answer.answerText }}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div v-else-if="question.type === 'OneChoiceQuestion'">
                <div class="quest-hint">
                  <p class="text-muted text-left">{{ question.hint }}</p>
                </div>
                <div class="choices">
                  <div v-for="(answer, index) in question.answers">
                    <div class="custom-control custom-radio">
                      <input
                        :id="`${question._id.$oid}${index}`"
                        :name="`${question._id.$oid}${index}`"
                        class="custom-control-input"
                        type="radio"
                        v-model="state.studentResult[question._id.$oid].studentInput"
                        v-bind:value="answer.answerText"
                      />
                      <label class="custom-control-label mb-0" :for="`${question._id.$oid}${index}`">{{
                        answer.answerText
                      }}</label>
                    </div>
                  </div>
                </div>
              </div>
              <div v-else>
                <div class="quest-hint">
                  <!-- <h6>{{ $t('challenge.chooseCorrectAnswers') }}</h6> -->
                  <p class="text-muted text-left">{{ question.hint }}</p>
                </div>

                <ul class="list-quest">
                  <div class="form-group form-inline disabled">
                    <div class="custom-control custom-radio custom-control-inline">
                      <input
                        :id="question._id.$oid + '0'"
                        class="custom-control-input"
                        type="radio"
                        v-model="state.studentResult[question._id.$oid].studentInput"
                        :value="true"
                      />
                      <label class="custom-control-label right-choice" :for="question._id.$oid + '0'">
                        <h6 class="ml-2">{{ $t('challenge.true') }}</h6>
                      </label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline ml-4">
                      <input
                        :id="question._id.$oid + '1'"
                        type="radio"
                        class="custom-control-input"
                        v-model="state.studentResult[question._id.$oid].studentInput"
                        :value="false"
                      />
                      <label class="custom-control-label" :for="question._id.$oid + '1'">
                        <h6 class="ml-2">{{ $t('challenge.false') }}</h6>
                      </label>
                    </div>
                  </div>
                </ul>
              </div>
              <div class="custom-control custom-radio custom-control-inline ml-4">
                <input
                  :id="`${question._id.$oid}x`"
                  class="custom-control-input"
                  type="radio"
                  v-model="state.studentResult[question._id.$oid].studentGuessed"
                  v-bind:value="false"
                />
                <label :for="`${question._id.$oid}x`" class="custom-control-label">
                  <h6 class="ml-2">{{ $t('challenge.iAmSure') }}</h6>
                </label>
              </div>
              <div class="custom-control custom-radio custom-control-inline ml-4">
                <input
                  :id="`${question._id.$oid}y`"
                  class="custom-control-input"
                  type="radio"
                  v-model="state.studentResult[question._id.$oid].studentGuessed"
                  v-bind:value="true"
                />
                <label :for="`${question._id.$oid}y`" class="custom-control-label">
                  <h6 class="ml-2">{{ $t('challenge.iGuessed') }}</h6>
                </label>
              </div>
            </li>
          </ol>
          <div class="text-right mt-4">
            <!-- <button type="button" class="btn btn-orange w-25">Abanden</button> -->
            <button @click="submitChallenge" type="button" class="btn btn-green w-25">
              {{ $t('challenge.submit') }}
            </button>
          </div>

          <!-- These two button are for "after submitting" -->
          <!--
                      <button type="button" class="btn btn-orga w-25">Try Again</button>
                      <button type="button" class="btn btn-green w-25">Next</button>
                    -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Timer from './Timer.vue';
import { storage_getURL, getLearningObjectsEndpoint, getChallengeResultsEndpoint } from '../../../../../js/global.js';

export default {
  name: 'Challenge',
  components: {
    Timer
  },
  props: {
    challenge: {
      type: Object
    }
  },
  data() {
    return {
      state: {
        studentHasStarted: false,
        studentHasSubmitted: false,
        challenge: {
          title: ''
        },
        challengeStudentInput: {},
        questions: [],
        studentResult: {},
        startDate: {}
      }
    };
  },
  computed: {
    challengeEndDate() {
      if (!this.state.challengeStudentInput.startDate) return new Date();
      let timeStampWhenStudentStartedChallenge = new Number(this.state.challengeStudentInput.startDate.$numberLong);
      let millisecondsToAdd =
        this.state.challenge.challengeDuration.minutes * 60000 + this.state.challenge.challengeDuration.seconds * 1000;
      let endDate = new Date(timeStampWhenStudentStartedChallenge + millisecondsToAdd);
      return endDate;
    }
  },
  watch: {
    challenge: {
      handler: function(newVal) {
        this.state.challenge = newVal;
        //check if student has started this challenge

        axios
          .get(
            `${getChallengeResultsEndpoint('API_GATEWAY_STORAGE')}/${this.state.challenge._id.$oid +
              this.$store.currentUser.userid}`
          )
          .then(response => {
            this.state.studentHasStarted = response.data.startDate !== null;
            this.state.studentHasSubmitted = response.data.submitDate !== null;
            this.state.challengeStudentInput = response.data;
          })
          .catch(() => {
            this.state.studentHasStarted = false;
            this.state.studentHasSubmitted = false;
          });

        let params = {
          id: this.state.challenge.learningObjectIds
        };

        axios.get(getLearningObjectsEndpoint('API_GATEWAY_STORAGE') + '?' + $.param(params)).then(response => {
          this.state.questions = response.data.learningObjects;
          this.state.studentResult = this.initStudentResults(this.state.questions);
        });

      },
      immediate: true
    }
  },
  methods: {
    startChallenge() {
      axios
        .post(
          `${getChallengeResultsEndpoint('API_GATEWAY_STORAGE')}/${this.state.challenge._id.$oid +
            this.$store.currentUser.userid}`
        )
        .then(response => {
          this.state.challengeStudentInput = response.data;
          this.state.studentHasStarted = true;
        })
        .then(() => {
          //get questions of this challenge
          let params = {
            id: this.state.challenge.learningObjectIds
          };
          axios.get(getLearningObjectsEndpoint('API_GATEWAY_STORAGE') + '?' + $.param(params)).then(response => {
            this.state.questions = response.data.learningObjects;
            this.state.studentResult = this.initStudentResults(this.state.questions);
          });
        });
    },
      startChallengeWithRobot() {
          axios
              .post(
                  `${getChallengeResultsEndpoint('API_GATEWAY_STORAGE')}/${this.state.challenge._id.$oid +
                  this.$store.currentUser.userid}`
              )
              .then(response => {
                  //get questions of this challenge
                  let params = {
                      id: this.state.challenge.learningObjectIds
                  };
                  axios.get(getLearningObjectsEndpoint('API_GATEWAY_STORAGE') + '?' + $.param(params)).then(response => {
                      console.log(response.data.learningObjects);
                      this.executeRobotAction({quiz:response.data.learningObjects})
                  });
              });
      },
      executeRobotAction(quiz) {
          return axios
              .post(`${storage_getURL('API_GATEWAY_STORAGE')}/api-proxy/robot/api/robot/quiz`, quiz)
              .then(response => {})
              .catch(() => {});
      },
    previousContentPage() {
      this.$emit('studentClickedPrevious');
    },
    nextContentPage() {
      this.$emit('studentClickedNext');
    },
    initStudentResults(questions) {
      let studentResult = {};
      for (let question of questions) {
        let studentInput = {};
        studentInput.studentGuessed = null;
        if (question.type === 'MultipleChoiceQuestion') {
          studentInput.type = 'MultipleChoiceStudentInput';
          studentInput.studentInput = [];
        } else if (question.type === 'OneChoiceQuestion') {
          studentInput.type = 'OneChoiceStudentInput';
          studentInput.studentInput = '';
        } else {
          studentInput.type = 'TrueFalseStudentInput';
          studentInput.studentInput = false;
        }
        studentResult[question._id.$oid] = studentInput;
      }
      return studentResult;
    },
      checkChallenge() {
          let countCorrect = 0;
          let correctQuestions = [];
          for (let question of this.state.questions) {
              let studentInput = this.state.studentResult[question._id.$oid].studentInput;
              if (question.type === 'MultipleChoiceQuestion') {
                  let maxCorrect = 0;
                  let selectedCorrect = 0;
                  for (let answer of question.answers) {
                      if (answer.isCorrect)
                          maxCorrect++;

                      for (let input of studentInput) {
                          if (answer.answerText === input) {
                              if (answer.isCorrect)
                                  selectedCorrect++;
                              break;
                          }
                      }
                  }

                  if (selectedCorrect === maxCorrect) {
                      console.log(question.title);
                      correctQuestions.push(question.title);
                      countCorrect++;
                  }
              } else if (question.type === 'OneChoiceQuestion') {
                  label: for (let answer of question.answers) {
                      if (answer.answerText === studentInput) {
                          if (answer.isCorrect) {
                              console.log(question.title);
                              correctQuestions.push(question.title);
                              countCorrect++;
                          }
                          break label;
                      }
                  }
              } else {
                  if (question.answer.isCorrect===studentInput) {
                      console.log(question.title);
                      correctQuestions.push(question.title);
                      countCorrect++;
                  }
              }
          }
          console.log(countCorrect);

          if (this.state.questions.length>1) {
              let html_begin ="<div><p>You answered "+countCorrect + " questions correctly!</p>";
              let html_questions = "";
              for (let correctQuestion of correctQuestions)
                  html_questions = html_questions + "<p>"+correctQuestion+"</p>"
              let html_end = "</div>"

              this.$swal({title:"Challenge", html:html_begin+html_questions+html_end, icon:"success"});
          }
          else
            swal("Challenge", "Your answer was "+ (countCorrect===0?"not":"") +" correct!", "success");
      },
    submitChallenge() {
        this.checkChallenge();

      axios.post(
        `${getChallengeResultsEndpoint('API_GATEWAY_STORAGE')}/${this.state.challenge._id.$oid +
          this.$store.currentUser.userid}/results`,
        this.state.studentResult
      );
      this.state.studentHasSubmitted = true;
      this.$emit('challengeSubmitted');
      this.$refs.challengeTimer.stopTimer();
    }
  }
};
</script>

<style scoped></style>
