<template>
  <div>
    <SearchParameter v-on:searchParameterChanged="handleSearchParameterChanged"></SearchParameter>

    <!-- List of Planets and Mission. -->
    <!-- Default: All the planets and mission will be shown based on the time. -->
    <div class="card mt-3">
      <div class="card-header card-header-with-border p-0 pt-2 mb-0">
        <ul class="nav nav-tabs mb-0" role="tablist">
          <li class="nav-item mb-0">
            <a
              class="nav-link-s active"
              id="hot-missions-tab"
              data-toggle="tab"
              href="#hot-missions-list"
              role="tab"
              data-controls="hot-missions-list"
              aria-selected="true"
            >
              <h6>{{ $t('discover.hotMissions') }}</h6>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link-s"
              id="new-missions-tab"
              data-toggle="tab"
              href="#new-missions-list"
              role="tab"
              data-controls="new-missions-list"
              aria-selected="false"
            >
              <h6>{{ $t('discover.newMissions') }}</h6>
            </a>
          </li>
        </ul>
      </div>
      <div class="card-body text-left">
        <div class="tab-content">
          <!-- Hot Missions: all missions list based on the nummbers of enrolling students -->
          <div
            class="tab-pane fade show active"
            id="hot-missions-list"
            role="tabpanel"
            aria-labelledby="hot-missions-tab"
          >
            <MissionList :missions="this.state.newMissions"></MissionList>
          </div>

          <!-- New Missions: all missions list based on the creating time -->
          <div class="tab-pane fade" id="new-missions-list" role="tabpanel" aria-labelledby="new-missions-tab">
            <MissionList :missions="this.state.newMissions"></MissionList>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SearchParameter from './SearchParameter';
import MissionList from './MissionList';
import { getMissionsEndpoint } from '../../../../../js/global.js';

export default {
  name: 'Discover',
  components: {
    SearchParameter,
    MissionList
  },
  data() {
    return {
      state: {
        hotMissions: [],
        newMissions: []
      }
    };
  },
  methods: {
    handleSearchParameterChanged(e) {
      let params = {
        topic: e.checkedTopics,
        stage: e.checkedStage,
        difficulty: e.checkedDifficulty,
        searchString: e.searchString,
        selectedLanguage: e.selectedLanguage
      };
      axios.get(`${getMissionsEndpoint('API_GATEWAY_STORAGE')}?${$.param(params)}`).then(response => {
        if (response.status == 204) {
          this.state.hotMissions = this.state.newMissions = [];
          return;
        }
        let onlyPublished = response.data.missions.filter(mission => {
          return mission.mission.missionMetadata.generalMetadata.published;
        });
        this.state.hotMissions = onlyPublished;
        this.state.newMissions = onlyPublished;
      });
    },

    clean(searchParameter) {
      for (let propName in searchParameter) {
        if (
          searchParameter[propName] === null ||
          searchParameter[propName] === undefined ||
          searchParameter[propName] === ''
        ) {
          delete searchParameter[propName];
        }
      }
    }
  }
};
</script>

<style scoped></style>
