<template>
  <div>
    <!-- CREATE DISCUSSION -->
    <div class="card mt-3">
      <div class="card-header card-header-with-border">
        <button
          class="btn btn-link"
          type="button"
          data-toggle="collapse"
          data-target="#createDiscussion"
          aria-expanded="true"
          aria-controls="createDiscussion"
        >
          <h6 class="text-left">{{ $t('missionViewContent.create_discussion') }}</h6>
        </button>
      </div>
      <div id="createDiscussion" class="card-body collapse">
        <form role="form" class="text-left mt-3">
          <div class="form-group row">
            <label for="inputMDisTitle" class="col-sm-2 col-form-label">
              <h6 class="mb-0">{{ $t('missionViewContent.discussionTitle') }}</h6>
            </label>
            <div class="col-sm-10">
              <input
                type="text"
                v-model="state.discussionToCreate.title"
                class="form-control"
                id="inputMDisTitle"
                placeholder="Title"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="formMDisTipicSelect" class="col-sm-2 col-form-label">
              <h6 class="mb-0">{{ $t('missionViewContent.discussionTopic') }}</h6>
            </label>
            <div class="col-sm-10">
              <select class="form-control" id="formMDisTipicSelect" v-model="state.discussionToCreate.learningObject">
                <option v-for="learningObject in learningObjects" :value="learningObject"
                  >{{ learningObject.title }}
                </option>
              </select>
            </div>
          </div>

          <!-- 1. In the contents, user can only post text. NO images, NO files. -->
          <SummernoteContentEditor
            :html="state.statusUpdateContent"
            v-on:saveHtml="createDiscussion"
          ></SummernoteContentEditor>
        </form>
      </div>
    </div>

    <!-- FILTER DISCUSSION -->
    <div class="card mt-3">
      <form role="form" class="text-left mt-3">
        <div class="form-group row">
          <label for="filterByTopic" class="col-sm-2 col-form-label">
            <h6 class="mb-0">{{ $t('missionViewContent.discussionFilterByTopic') }}</h6>
          </label>
          <div class="col-sm-10">
            <select class="form-control" id="filterByTopic" v-model="state.selectedFilter">
              <option value="Any">Any</option>
              <option v-for="learningObject in state.learningObjects" :value="learningObject.title"
                >{{ learningObject.title }}
              </option>
            </select>
          </div>
        </div>
      </form>
    </div>

    <!-- VIEW DISCUSSIONS -->
    <div class="mt-3" v-for="discussion in discussionsToShow" :key="discussion.statusUpdateId">
      <ViewStatusUpdate
              :moderators="state.moderators"
        :title="discussion.title"
        :topic="discussion.topic"
        :status-update-id="discussion.statusUpdateId"
        v-on:deleted="handleStatusUpdateDeleted(discussion)"
        v-on:statusUpdateDoesNotExist="handleStatusUpdateDoesNotExist(discussion)"
        v-on:socialFeedbackSubmitted="handleSocialFeedbackSubmitted"
      ></ViewStatusUpdate>
    </div>
    <button v-if="canLoadMoreDiscussions" @click="loadMoreDiscussions" class="btn btn-blue w-50 mt-3">Load more</button>
  </div>
</template>

<script>
import { getStatusUpdateApiUrl, getDiscussionsEndpoint } from '../../../../../js/global.js';
import SummernoteContentEditor from '../../common/SummernoteContentEditor';
import ViewStatusUpdate from '../../../common/statusupdate/ViewStatusUpdate';
const DISSCUSSIONS_PER_LOAD = 4;
export default {
  name: 'Discussions',
  components: { SummernoteContentEditor, ViewStatusUpdate },
  props: {
      moderators: {
        type: Array,
        required: true
      },
    learningObjects: {
      type: Array,
      required: true
    },
    discussions: {
      type: Array,
      required: true
    },
  },
  watch: {
    discussions: function(val) {
      if (val) this.state.allDiscussions = val;
    },
    learningObjects: function(val) {
      if (val) this.state.discussionToCreate.learningObject = val[0];
    }
  },
  data() {
    return {
      state: {
          moderators: this.moderators,
        allDiscussions: [],
        selectedFilter: 'Any',
        amountOfDiscussionsToShow: DISSCUSSIONS_PER_LOAD,
        discussionToCreate: {
          title: 'Type in title',
          learningObject: {},
          topic: '',
          statusUpdateId: ''
        },
        statusUpdateContent: ''
      }
    };
  },
  computed: {
    filteredDiscussions() {
      if (!this.state.allDiscussions) return [];
      if (this.state.selectedFilter === 'Any') return this.state.allDiscussions;
      else {
        return this.state.allDiscussions.filter(discussion => discussion.topic === this.state.selectedFilter);
      }
    },
    discussionsToShow() {
      return this.filteredDiscussions.slice(0, this.state.amountOfDiscussionsToShow);
    },
    canLoadMoreDiscussions() {
      return this.state.allDiscussions.length > this.state.amountOfDiscussionsToShow;
    }
  },
  methods: {
    createDiscussion(e) {
      console.log('create discussion');
      this.state.statusUpdateContent = e;
      axios
        .post(`${getStatusUpdateApiUrl('API_GATEWAY_STORAGE')}`, {
          text: this.state.statusUpdateContent,
          category: 'mission'
        })
        .then(response => {
          this.state.discussionToCreate.statusUpdateId = response.data.statusUpdateId;
          this.state.statusUpdateContent = '';
          let postData = {};
          postData.title = this.state.discussionToCreate.title;
          postData.statusUpdateId = this.state.discussionToCreate.statusUpdateId;
          postData.topic = this.state.discussionToCreate.learningObject._id.$oid;
          axios
            .post(
              `${getDiscussionsEndpoint('API_GATEWAY_STORAGE')}/${
                this.state.discussionToCreate.learningObject._id.$oid
              }`,
              postData
            )
            .then(response => {
              this.state.allDiscussions.push(response.data);
            });
        })
        .catch(err => {
          console.log(err);
        });
    },
    handleSocialFeedbackSubmitted(socialFeedback) {
      this.$emit('socialFeedbackSubmitted', socialFeedback);
    },
    handleStatusUpdateDoesNotExist(discussion) {
      this.$emit('statusUpdateDoesNotExist', discussion);
    },
    handleStatusUpdateDeleted(discussion) {
      this.$emit('statusUpdateDeleted', discussion);
    },
    loadMoreDiscussions() {
      this.state.amountOfDiscussionsToShow += DISSCUSSIONS_PER_LOAD;
    }
  }
};
</script>

<style scoped></style>