<template>
  <div>
    <!--Mission Levels: 1. Before publish, they can add and eidt the name of levels, tasks, assignments and challenges, and choose the model.-->
    <!-- 2. When they want to add the contents, It will take them to other pages (eg. task homepage.) -->
    <!-- 3. Once they publish the mission, it will occur in "Saved mission in Mission overview page". -->
    <!-- 4. Saved mission can be only seen by the user self. -->
    <!-- 5. Mission can be published, only when Description, objectives, requirement, result are filled and at least one level with level name (without contents is ok.) -->

    <div class="card mt-3">
      <div class="card-header card-header-with-border">
        <h6 class="text-left">{{ $t('missionLevels.missionLevels') }}</h6>
      </div>

      <div class="card-body text-left pl-0 pr-5">
        <!-- Misson levels - category/Chapters -->
        <!--
                  As default: we will provide 1 level with a task, an assignment and a challenge, and 1 level with an assignment and 1 level with a challenge.
                -->
        <ol class="mission-levels">
          <li v-for="(level, levelIndex) in this.state.levels" class="mb-4">
            <div class="mission-item">
              <span class="m-levels-num"></span>
              <button @click="goToLearningObject(levelIndex, -1)" class="btn btn-link" type="button">
                <span class="h5">{{ level.title }}</span>
              </button>
            </div>

            <!-- Leaning objects under level 01: This is default -->
            <ol class="mission-tasks">
              <li v-for="(learningObjectId, learningObjectIndex) in level.learningObjectIds">
                <div class="mission-item">
                  <span v-bind:class="getClassNameOfLevelCounter(learningObjectId)"></span>
                  <button
                    @click="goToLearningObject(levelIndex, learningObjectIndex)"
                    class="btn btn-link"
                    type="button"
                  >
                    <span class="h6">{{ getTitleOfLearningObject(learningObjectId) }}</span>
                  </button>
                </div>
              </li>
            </ol>
          </li>
        </ol>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MissionLevels',
  data() {
    return {
      state: {
        levels: [],
        learningObjects: []
      }
    };
  },
  props: {
    studentIsEnrolled: {
      type: Boolean,
      required: true
    },
    levels: {
      type: Array,
      required: true
    },
    learningObjects: {
      type: Array,
      required: true
    }
  },
  watch: {
    levels: {
      handler: function(newValue) {
        this.state.levels = newValue;
      },
      deep: true
    },
    learningObjects: {
      handler: function(newValue) {
        this.state.learningObjects = newValue;
      }
    }
  },
  methods: {
    getLearningObjectById(learningObjectId) {
      if (this.state.learningObjects.length == 0) return null;
      let learningObject = this.state.learningObjects.find(learningObject => {
        return learningObject._id.$oid === learningObjectId;
      });
      return learningObject;
    },
    getTitleOfLearningObject(learningObjectId) {
      let learningObject = this.getLearningObjectById(learningObjectId);
      if (learningObject === null) return '';
      return learningObject.title;
    },
    getClassNameOfLevelCounter(learningObjectId) {
      let learningObject = this.getLearningObjectById(learningObjectId);
      if (learningObject === null) return '';
      switch (learningObject.type) {
        case 'Assignment':
          return 'm-assigns-num';
        case 'Task':
          return 'm-tasks-num';
        case 'Challenge':
          return 'm-challenges-num';
        default:
          return '';
      }
    },
    getClassOfLearningObject(learningObjectId) {
      let learningObject = this.getLearningObjectById(learningObjectId);
      if (learningObject === null) return '';
      switch (learningObject.type) {
        case 'Assignment':
          return 'm-assigns-title';
        case 'Task':
          return 'm-tasks-title';
        case 'Challenge':
          return 'm-challenges-title';
        default:
          return '';
      }
    },
    goToLearningObject(levelIndex, learningObjectIndex) {
      if (!this.studentIsEnrolled) return;
      let progress = 0;
      for (let i = 0; i < levelIndex; i++) {
        progress += this.state.levels[i].learningObjectIds.length + 1;
      }
      progress += learningObjectIndex + 1;
      this.$emit('learningObjectClicked', progress);
    }
  }
};
</script>

<style scoped></style>
