<template>
  <div class="row">
    <div v-for="mission in missions" class="col-xl-4 col-lg-6 col-md-12 col-sm-12 mb-3 mr-6">
      <div class="post-module" @mouseenter="animateKeywords" @mouseleave="stopKeywordsAnimation">
        <!-- Thumbnail -->
        <div class="thumbnail">
          <div class="date mission">
            <div class="day">{{ getDay(mission.mission.missionMetadata.generalMetadata.creationDate) }}</div>
            <div class="month">{{ getMonth(mission.mission.missionMetadata.generalMetadata.creationDate) }}</div>
          </div>
          <img
            v-if="
              mission.mission.missionMetadata.generalMetadata.avatarImageId === null ||
                mission.mission.missionMetadata.generalMetadata.avatarImageId === undefined
            "
            src="../../../../../img/PLANET S_Landscape_01.png"
            class="rounded"
            alt="Planet Image"
          />
          <img
            v-else
            :src="`${filesApiUrl}/${mission.mission.missionMetadata.generalMetadata.avatarImageId}`"
            class="rounded"
            alt="Planet Image"
          />
        </div>
        <!-- Post Content -->
        <div class="post-content">
          <!-- {{mission.mission.missionMetadata.educationalMetadata.difficulty  }} -->
          <div class="category mission">
            {{ $t(`missionList.${mission.mission.missionMetadata.educationalMetadata.difficulty}`) }}
          </div>
          <h6 class="title">{{ mission.mission.missionMetadata.generalMetadata.title }}</h6>
          <h2 class="sub-title pb-2">{{ $t('missionList.by') }} {{ mission.authorName }}</h2>
          <ul class="pl-3" style="list-style-type:circle">
            <li class="pb-1">
              <span class="font-weight-bold">{{ mission.amountOfLevels }} {{ $t('missionList.levels') }}</span>
            </li>
            <li class="pb-1">
              <span class="font-weight-bold">{{ mission.amountOfTasks }} {{ $t('missionList.tasks') }}</span>
            </li>
            <li class="pb-1">
              <span class="font-weight-bold"
                >{{ mission.amountOfAssignments }} {{ $t('missionList.assignments') }}</span
              >
            </li>
            <li class="pb-1">
              <span class="font-weight-bold">{{ mission.amountOfChallenges }} {{ $t('missionList.challenges') }}</span>
            </li>
          </ul>
          <p class="description">
            <template v-for="keyword in mission.mission.missionMetadata.generalMetadata.keywords">
              <a href="#">#{{ keyword }}</a>
            </template>
          </p>
          <div class="post-meta">
            <span class="text-muted">
              <a class="btn btn-circle">
                <img src="../../../../../img/ICONS-Knowledge-Points-Yellow-White-circle.png" class="w-100" alt="KP" />
              </a>
              <span>{{ amountOfKnowledgePoints(mission) }}</span>
              <a class="btn btn-circle">
                <img src="../../../../../img/ICONS-Social-Points-Blue-White-circle.png" class="w-100" alt="SP" />
              </a>
              <span>0</span>
              <a class="btn btn-circle">
                <img src="../../../../../img/ICONS-Creativity-Points-Red-White-circle.png" class="w-100" alt="CP" />
              </a>
              <span>0</span>
            </span>
          </div>
          <div class="mt-3 text-center">
            <a @click="navigate(mission.mission)" class="btn btn-orange w-100">{{ getButtonText(mission.mission) }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { storage_getURL } from '../../../../../js/global.js';

export default {
  name: 'MissionList',
  props: {
    missions: {
      type: Array,
      required: true
    },
    missionCardButtonText: {
      type: String,
      required: false
    }
  },
  data() {
    return {
      months: {}
    };
  },
  created() {
    this.months = Object.values(this.$t('months', { returnObjects: true }));
    this.$i18n.i18next.on('loaded', () => {
      this.months = Object.values(this.$t('months', { returnObjects: true }));
    });
  },
  computed: {
    filesApiUrl() {
      return `${storage_getURL('FILES')}/api/files`;
    }
  },
  methods: {
    navigate(mission) {
      console.log(mission);
      let missionId = mission._id.$oid;
      let url;
      switch (this.getButtonText(mission)) {
        case this.$t('missionList.explore'):
        case this.$t('missionList.continueExploring'):
          url = '/missions/' + missionId + '/overview';
          break;
        case this.$t('missionList.continueEditing'):
          url = '/missions/' + missionId + '/editAfterPublish';
          break;
        case this.$t('missionList.edit'):
        case this.$t('missionList.editMission'):
          url = '/missions/' + missionId + '/editOverview';
          break;
        case this.$t('missionList.addToWorld'):
          this.$emit('addMissionToWorld', missionId);
          url = '';
          break;
        case this.$t('missionList.removeFromWorld'):
          this.$emit('removeMissionFromWorld', missionId);
          url = '';
          break;
        default:
          url = '';
      }
      this.$router.push(url);
    },
    getDay(dateObject) {
      if (dateObject === null) return -1;
      let timestamp = dateObject.$numberLong;
      return new Date(new Number(timestamp)).getDate();
    },
    getMonth(dateObject) {
      if (dateObject === null) return '???';
      let timestamp = dateObject.$numberLong;
      return this.months[new Date(new Number(timestamp)).getMonth()];
    },
    handleMouseHoverOnKeywords(keywordsHtmlElem) {
      $(keywordsHtmlElem)
        .stop()
        .animate(
          {
            height: 'toggle',
            opacity: 'toggle'
          },
          300
        );
    },
    animateKeywords(e) {
      this.handleMouseHoverOnKeywords($(e.target).find('.description'));
    },
    stopKeywordsAnimation(e) {
      this.handleMouseHoverOnKeywords($(e.target).find('.description'));
    },
    getButtonText(mission) {
      if (this.missionCardButtonText) return this.missionCardButtonText;
      if (mission.missionMetadata.generalMetadata.author === this.$store.currentUser.userid)
        return this.$t('missionList.editMission');
      return this.$t('missionList.explore');
    },
    amountOfKnowledgePoints(mission) {
      let amountOfLearningObjects = mission.amountOfTasks + mission.amountOfAssignments + mission.amountOfChallenges;
      return amountOfLearningObjects * 5;
    }
  },
  updated() {
    $('.post-module')
      .find('.description')
      .removeAttr('style');
  }
};
</script>

<style scoped>
@import url('../../../../../css/courses.css');
</style>