<template>
  <!-- Discover Missions and planets- Courses -->
  <div class="card mt-3">
    <div class="card-header card-header-with-border">
      <form>
        <div class="input-group p-0">
          <div class="input-group-prepend">
            <select class="form-control" v-model="state.selectedLanguage">
              <option value="Any">{{ $t('searchParameter.languages') }}</option>
              <option v-for="(language, key) in $t('languages', { returnObjects: true })" :value="key">{{
                language
              }}</option>
            </select>
          </div>
          <input
            v-model="state.searchString"
            @keydown.enter="handleEnter"
            type="text"
            class="form-control"
            :placeholder="$t('searchParameter.searchQueryPlaceholder')"
          />
          <div class="input-group-append">
            <button disabled class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>

    <!-- Select box -->
    <div class="card-body row">
      <div class="col-sm">
        <table class="table table-hover text-left">
          <thead>
            <tr>
              <th scope="col" colspan="2">{{ $t('searchParameter.topics') }}</th>
            </tr>
          </thead>
          <tbody class="text-left">
            <tr>
              <td>
                <label class="select-checkbox mb-0">
                  <input type="checkbox" v-model="allTopicsSelected" @change="selectAllTopics($event)" />
                  <span class="select-checkmark"></span>
                  <span class="checkbox-label">{{ $t('searchParameter.all') }}</span>
                </label>
              </td>
            </tr>
            <tr v-for="topic in topicValues">
              <td>
                <label class="select-checkbox mb-0">
                  <input type="checkbox" :value="topic" v-model="state.checkedTopics" />
                  <span class="select-checkmark"></span> <span class="checkbox-label">{{ topic }}</span>
                </label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm">
        <table class="table table-hover text-left">
          <thead>
            <tr>
              <th scope="col" colspan="2">{{ $t('searchParameter.stage') }}</th>
            </tr>
          </thead>
          <tbody class="text-left">
            <tr>
              <td>
                <label class="select-checkbox mb-0">
                  <input type="checkbox" v-model="allStagesSelected" @change="selectAllStages($event)" />
                  <span class="select-checkmark"></span>
                  <span class="checkbox-label">{{ $t('searchParameter.all') }}</span>
                </label>
              </td>
            </tr>
            <tr v-for="stage in stageValues">
              <td>
                <label class="select-checkbox mb-0">
                  <input type="checkbox" :value="stage" v-model="state.checkedStage" />
                  <span class="select-checkmark"></span> <span class="checkbox-label">{{ stage }}</span>
                </label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm">
        <table class="table table-hover text-left">
          <thead>
            <tr>
              <th scope="col" colspan="2">{{ $t('searchParameter.difficulty') }}</th>
            </tr>
          </thead>
          <tbody class="text-left">
            <tr>
              <td>
                <label class="select-checkbox mb-0">
                  <input type="checkbox" v-model="allDifficultiesSelected" @change="selectAllDifficulties($event)" />
                  <span class="select-checkmark"></span>
                  <span class="checkbox-label">{{ $t('searchParameter.all') }}</span>
                </label>
              </td>
            </tr>
            <tr v-for="difficulty in difficultyValues">
              <td>
                <label class="select-checkbox mb-0">
                  <input type="checkbox" :value="difficulty" v-model="state.checkedDifficulty" />
                  <span class="select-checkmark"></span> <span class="checkbox-label">{{ difficulty }}</span>
                </label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SearchParameter',
  data() {
    return {
      state: {
        selectedLanguage: 'Any',
        searchString: '',
        checkedTopics: [],
        checkedStage: [],
        checkedDifficulty: []
      },
      topicValues: [],
      stageValues: [],
      difficultyValues: [],
      allLanguages: [],
      allTopicsSelected: false,
      allDifficultiesSelected: false,
      allStagesSelected: false
    };
  },
  mounted() {
    this.topicValues = Object.values(this.$t('topicValues', { returnObjects: true }));
    this.difficultyValues = Object.values(this.$t('difficultyValues', { returnObjects: true }));
    this.stageValues = Object.values(this.$t('stageValues', { returnObjects: true }));
    this.allLanguages = Object.values(this.$t('languages', { returnObjects: true }));
    this.$i18n.i18next.on('loaded', () => {
      this.topicValues = Object.values(this.$t('topicValues', { returnObjects: true }));
      this.difficultyValues = Object.values(this.$t('difficultyValues', { returnObjects: true }));
      this.stageValues = Object.values(this.$t('stageValues', { returnObjects: true }));
      this.allLanguages = Object.values(this.$t('languages', { returnObjects: true }));
    });
  },
  updated() {
    this.allTopicsSelected = this.topicValues.length > 0 && this.state.checkedTopics.length === this.topicValues.length;
    this.allDifficultiesSelected =
      this.difficultyValues.length > 0 && this.state.checkedDifficulty.length === this.difficultyValues.length;
    this.allStagesSelected = this.stageValues.length > 0 && this.state.checkedStage.length === this.stageValues.length;
    this.$emit('searchParameterChanged', this.state);
  },
  methods: {
    selectAllTopics() {
      if (this.allTopicsSelected) this.state.checkedTopics = this.topicValues;
      else this.state.checkedTopics = [];
    },
    selectAllStages() {
      if (this.allStagesSelected) this.state.checkedStage = this.stageValues;
      else this.state.checkedStage = [];
    },
    selectAllDifficulties() {
      if (this.allDifficultiesSelected) this.state.checkedDifficulty = this.difficultyValues;
      else this.state.checkedDifficulty = [];
    },
    handleEnter(e) {
      e.preventDefault();
    }
  }
};
</script>

<style scoped></style>
