<template>
  <div class="timer-count">
    <h4>0 : 0 : 0 : 0</h4>
  </div>
</template>

<script>
  let countdown = require('countdown');
  let timer;
  export default {
    name: 'Timer',
    props: {
      endDate: {
        type: Date
      }
    },
    watch: {
      endDate: function(newVal) {
        this.stopTimer();
        this.startTimer();
      }
    },
    mounted() {
      this.startTimer();
    },
    methods: {
      startTimer() {
        if (this.endDate > new Date()) {
          timer = countdown(
            this.endDate,
            ts => {
              let htmlString = `${ts.hours} : ${ts.minutes} : ${ts.seconds}`;
              let timerElem = document.createElement('h4');
              timerElem.innerText = htmlString;
              document.querySelector('.timer-count').innerHTML = '';
              document.querySelector('.timer-count').appendChild(timerElem);
              if (ts.minutes == 0 && ts.seconds === 0) {
                this.$emit('challengeTimeIsUp');
                window.clearInterval(timer);
              }
            },
            countdown.HOURS | countdown.MINUTES | countdown.SECONDS
          );
        }
      },
      stopTimer() {
        window.clearInterval(timer);
      }
    }
  };
</script>

<style scoped>
  @import url('../../../../../css/courses.css');
</style>
