<template>
    <div class="mt-3">
        <form>
            <div class="input-group p-0">
                <div class="input-group-prepend">
                    <select class="form-control" v-model="selectedLanguage">
                        <option value="Any">Languages</option>
                        <option v-for="(language, key) in $t('languages', { returnObjects: true })" :value="key">{{
                            language
                            }}
                        </option>
                    </select>
                </div>
                <input
                        v-model="searchString"
                        @keydown.enter="handleEnter"
                        type="text"
                        class="form-control"
                        placeholder="Enter keywords, Invite code or username to search Missions!"
                />
                <div class="input-group-append">
                    <button class="btn btn-default" type="button" @click="handleEnter"><i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        name: "MissionSimpleSearchForm",

        data() {
            return {
                selectedLanguage: 'Any',
                searchString: ''
            };
        },
        methods: {
            handleSearch: function() {
                let params = {
                    searchString: this.searchString,
                    selectedLanguage: this.selectedLanguage
                };
                this.$emit('handleEnterSearch', params);
            },
            handleEnter: function (e) {
                e.preventDefault();
                this.handleSearch();
            },
        },

        watch: {
            searchString: function(newString) {
                if (newString !== '') {
                    this.handleSearch();
                } else {
                    this.$emit('clearSearch');
                }
            }
        }

    }
</script>

<style scoped>

</style>