<template>
  <div>
    <div ref="welcome">
      <!--CoverPic, UserPic-->
      <div class="card">
        <div class="card-body p-0 mb-2">
          <div class="st-profile">
            <img
              v-if="!state.profile.coverImageId"
              align="left"
              :alt="$t('profiles.alt_profile_cover')"
              class="st-image-lg"
              src="../../../img/Platform_homepage-BG-1920-02.png"
            />
            <img
              v-else
              align="left"
              :alt="$t('profiles.alt_profile_cover2')"
              class="st-image-lg"
              :src="getCoverImageUrl"
            />
            <div class="cover-pic-set">
              <a v-if="isProfileOfCurrentUser" class="btn btn-circle" :title="$t('profiles.title_change_cover')">
                <label for="inputChangeCover">
                  <img :alt="$t('profiles.alt_setting')" class="clearfix" src="../../../img/ICON_Add-Picture.png" />
                </label>
                <input class="customInput" id="inputChangeCover" type="file" accept="image/*" @change="changeCover" />
              </a>
              <a v-else class="btn btn-circle" data-toggle="dropdown" :title="$t('profiles.title_options')">
                <img alt="$t('profiles.alt_more')" class="clearfix" src="../../../img/ICON_Others_Profile.png" />
              </a>
              <ul class="dropdown-menu pl-3 pr-3 dropdown-dashboard" role="menu">
                <li v-if="!isProfileOfCurrentUser && areFriends($store.profile, state.profile)">
                  <a @click="handleRemoveFriendClicked($store.currentUser.userid, state.profile.userid)">{{
                    $t('profiles_network.remove_friend')
                  }}</a>
                </li>
                <li v-if="!isProfileOfCurrentUser && isFollowing($store.profile, state.profile)">
                  <a @click="handleUnFollowClicked($store.currentUser.userid, state.profile.userid)">{{
                    $t('profiles_network.remove_following')
                  }}</a>
                </li>
                <li v-if="!isProfileOfCurrentUser && !isBlocked($store.profile, state.profile)">
                  <a @click="handleBlockUserClicked($store.currentUser.userid, state.profile.userid)">{{
                    $t('profiles.block_user')
                  }}</a>
                </li>
              </ul>
            </div>
            <div class="userpic">
              <a class="btn btn-profile-avatar">
                <img
                  alt="$t('profiles.alt_avatar')"
                  class="clearfix w-100"
                  src="../../../img/user.png"
                  @click="viewAvatarImage"
                  v-if="state.profile.avatarImageId == null"
                />
                <img
                  :alt="$t('profiles.alt_avatar2')"
                  class="clearfix w-100"
                  style="width: 100%; height: 100%; border-radius: 50%"
                  :src="getAvatarImageUrl"
                  @click="viewAvatarImage"
                  v-else
                />
              </a>
              <div class="cover-card">
                <a v-if="isProfileOfCurrentUser" class="w-50" :title="$t('profiles.title_avatar_change')">
                  <label for="inputChangeAvatar" style="width:69.5px">
                    <img
                      :alt="$t('profiles.alt_setting2')"
                      class="w-100"
                      src="../../../img/ICON_Add-Picture.png"
                      :title="$t('profiles.title_avatar_change2')"
                    />
                  </label>
                  <input
                    class="customInput"
                    id="inputChangeAvatar"
                    type="file"
                    accept="image/*"
                    @change="changeAvatar"
                  />
                </a>
              </div>
            </div>
            <div class="clearfix"></div>
            <h5 class="username mb-0">{{ state.profile.username }}</h5>
            <div>
              <a class="btn btn-circle" href="../progress-leaderboard-gamification.html">
                <img :alt="$t('profiles.alt_level')" class="clearfix" src="../../../img/level.png" />
              </a>
              <a v-if="state.profile.verified" class="btn btn-circle">
                <img :alt="$t('profiles.verified')" class="clearfix" src="../../../img/ICON_Adopted-Answer.png" />
              </a>
              <span v-if="state.profile.usertype === 'student'">{{ $t('profiles.explorer') }}</span>
              <span v-else-if="state.profile.usertype === 'teacher'">{{ $t('profiles.leader') }}</span>
              <span v-else-if="state.profile.usertype === 'incubator'">{{ $t('profiles.incubator') }}</span>
              <span v-else-if="state.profile.usertype === 'ambassador'">{{ $t('profiles.ambassador') }}</span>
              <span v-else-if="state.profile.usertype === 'admin'">Administrator</span>
              <span v-else>
                usertype not found
              </span>
            </div>
            <div v-if="state.profile.usersubtype === 'school' && !state.profile.verified">
              <button @click="verifySchool(state.profile.userid)" class="btn btn-green mt-2 mb-1 w-25">Verify</button>
            </div>
            <div v-if="!isProfileOfCurrentUser">
              <button
                v-if="showAddFriendButton"
                @click="handleAddFriendClicked($store.currentUser.userid, state.profile.userid)"
                class="btn btn-orange mt-2 mb-1 w-25"
                type="button"
              >
                {{ $t('profiles_network.friend_add') }}
              </button>
              <button
                v-if="showFriendRequestSentButton"
                class="btn btn-orange btn-text-overflow mt-2 mb-1 w25"
                type="button"
                disabled="true"
                :title="$t('profiles_network.request_sent')"
              >
                {{ $t('profiles_network.request_sent') }}
              </button>
              <button
                v-if="showFollowButton"
                @click="handleFollowClicked($store.currentUser.userid, state.profile.userid)"
                class="btn btn-orange mt-2 mb-1 w-25"
                type="button"
              >
                {{ $t('profiles_network.follow') }}
              </button>
              <button
                v-if="showUnfollowButton"
                @click="handleUnFollowClicked($store.currentUser.userid, state.profile.userid)"
                class="btn btn-orange mt-2 mb-1 w-25"
                type="button"
              >
                {{ $t('profiles_network.remove_following') }}
              </button>
              <button
                v-if="showSendMessageButton"
                @click="handleSendMessageClicked($store.profile, state.profile)"
                class="btn btn-green mt-2 mb-1 w-25"
              >
                {{ $t('profiles_network.message_send') }}
              </button>
              <button
                v-if="showMessageRequestSentButton"
                disabled="true"
                class="btn btn-green btn-text-overflow mt-2 mb-1 w-25"
                :title="$t('profiles_network.message_request_sent')"
              >
                {{ $t('profiles_network.message_request_sent') }}
              </button>
            </div>
            <div class="btn btn-circle pull-right mr-4">
              <img src="../../../img/ICON_Newest-Answer.png" class="clearfix" @click="showHelp" alt="Help" />
            </div>
          </div>
        </div>
      </div>

      <!--Sub Tabs-->
      <div class="card mt-3">
        <div class="card-header pl-0 pr-0 pb-0">
          <ul id="profileTabs" class="nav nav-tabs nav-fill" role="tablist">
            <li @click="changeTab('wall')" class="nav-item" :class="isActive('wall')">
              <a class="nav-link-s" style="cursor: pointer;"
                ><h6>{{ $t('profiles.wall') }}</h6></a
              >
            </li>
            <li
              @click="changeTab('bookmarks')"
              v-show="isProfileOfCurrentUser"
              class="nav-item"
              :class="isActive('bookmarks')"
            >
              <a class="nav-link-s" style="cursor: pointer;"
                ><h6>{{ $t('profiles.bookmarks') }}</h6></a
              >
            </li>
            <li @click="changeTab('network')" class="nav-item" :class="isActive('network')">
              <a class="nav-link-s" style="cursor: pointer;"
                ><h6>{{ $t('profiles.network') }}</h6></a
              >
            </li>
            <li v-if="!isStudent" @click="changeTab('showcase')" class="nav-item" :class="isActive('showcase')">
              <a class="nav-link-s" style="cursor: pointer;"
                ><h6>{{ $t('profiles.showcase') }}</h6></a
              >
            </li>
            <li @click="changeTab('about')" class="nav-item" :class="isActive('about')">
              <a class="nav-link-s" style="cursor: pointer;"
                ><h6>{{ $t('profiles.about') }}</h6></a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="tab-content mt-3">
      <div class="card mt-3" v-if="help">
        <div class="card-header card-header-with-border">
          <h6 class="text-left">{{ $t('profiles.help_title') }}</h6>
        </div>
        <div class="card-body text-left">
            <div style="white-space: pre-wrap; word-wrap: break-word; font-size: 1rem;" v-if="state.profile.usertype === 'student'">{{$t('profiles.help_explorer_description')}}</div>
            <div style="white-space: pre-wrap; word-wrap: break-word; font-size: 1rem;" v-if="state.profile.usertype === 'teacher'">{{$t('profiles.help_leader_description')}}</div>
            <div style="white-space: pre-wrap; word-wrap: break-word; font-size: 1rem;" v-if="state.profile.usertype === 'incubator'">{{$t('profiles.help_incubator_description')}}</div>
            <div style="white-space: pre-wrap; word-wrap: break-word; font-size: 1rem;" v-if="state.profile.usertype === 'ambassador'">{{$t('profiles.help_ambassador_description')}}</div>
            <!--<h6 v-else>{{$t('profiles.help_description')}}</h6>-->
            <br/>
            <button type="button" class="btn btn-green w-25 mb-2" @click="showHelp">OK</button>
        </div>
      </div>
      <router-view :profile="state.profile"></router-view>
    </div>

    <!--================-->
    <!-- MODAL WINDOWS  -->
    <!--================-->
    <!--Modal of view Image-->
    <div class="modal fade" id="modal-view-image" role="dialog">
      <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ $t('profiles.image_avatar') }}</h5>
          </div>
          <div class="modal-body">
            <img
              :src="avatarImage"
              id="modalViewImage"
              style="max-height: 568px; max-width: 568px"
              v-if="avatarImage != null"
            />
            <img src="../../../img/user.png" v-else />
          </div>
          <div class="modal-footer">
            <button class="btn btn-orange" data-dismiss="modal" type="button">{{ $t('profiles.close') }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { storage_getdashboardApiUrl, storage_getURL } from '../../../js/global.js';
import { sweetAlertMessageRequestConfig, verifySchoolAlert, successToast } from '../common/sweetAlertConfigs';
import {
  followUser,
  unFollow,
  makeFriendRequest,
  deleteFriendship,
  blockUser,
  areFriends,
  isFollowing,
  isBlocked,
  isFriendRequestSent,
  declineFriendRequest,
  isMessageRequestPending,
  messageRequestAccepted,
  sendMessageRequest
} from './common/networkingFunctions';
import { gamificationToast } from '../common/gamificationAlertConfigs.js';
import * as EVENTS from '../../../js/gamification';

export default {
  name: 'Profiles',
  props: {
    profileId: {
      type: String
    }
  },
  data() {
    return {
      state: {
        profile: {
          userid: '',
          username: '',
          usertype: '',
          avatarImageId: null,
          coverImageId: null,
          basicInfo: {},
          friends: [],
          follower: [],
          showcase: {
            images: []
          }
        }
      },
        usertype: null,
        help: false
    };
  },
  watch: {
    'state.profile': function(val) {
      if (this.isProfileOfCurrentUser) {
        localStorage.setItem('profile', JSON.stringify(val));
        this.$store.profile = val;
        axios
          .get(
            `${storage_getdashboardApiUrl('API_GATEWAY_STORAGE')}/profiles/${
              this.state.profile.userid
            }/friends/usernames`
          )
          .then(response => {
            this.$store.friendList = response.data;
          });
      }
    },
    profileId: function(val) {
      if (this.state.profile !== val) {
        this.state.profile.userid = val;
        this.updateProfileData();
      }
    }
  },
  computed: {
    isProfileOfCurrentUser() {
      return this.state.profile.userid === this.$store.currentUser.userid;
    },
    getCoverImageUrl() {
      return `${storage_getURL('FILES')}/api/files/${this.state.profile.coverImageId}`;
    },
    getAvatarImageUrl() {
      return `${storage_getURL('FILES')}/api/files/${this.state.profile.avatarImageId}`;
    },
    sameUsertype() {
      return this.state.profile.usertype === this.$store.currentUser.usertype;
    },
    showAddFriendButton() {
      if (this.state.profile.usertype === 'incubator') return false;
      if (this.isFriendRequestSent(this.$store.profile, this.state.profile)) return false;
      if (this.areFriends(this.$store.profile, this.state.profile)) return false;
      if (this.sameUsertype) return true;
      if (this.$store.currentUser.usertype === 'ambassador' && this.state.profile.usertype === 'teacher') return true;
      if (this.$store.currentUser.usertype === 'teacher' && this.state.profile.usertype === 'ambassador') return true;
      return false;
    },
    showFriendRequestSentButton() {
      if (this.areFriends(this.$store.profile, this.state.profile)) return false;
      return this.isFriendRequestSent(this.$store.profile, this.state.profile);
    },
    showFollowButton() {
      if (this.areFriends(this.$store.profile, this.state.profile)) return false;
      if (this.isFollowing(this.$store.profile, this.state.profile)) return false;
      return true;
    },
    showUnfollowButton() {
      if (this.areFriends(this.$store.profile, this.state.profile)) return false;
      return this.isFollowing(this.$store.profile, this.state.profile);
    },
    showSendMessageButton() {
      return !this.isMessageRequestPending(this.$store.profile, this.state.profile);
    },
    showMessageRequestSentButton() {
      return this.isMessageRequestPending(this.$store.profile, this.state.profile);
    },
    isStudent() {
      return this.state.profile.usertype === 'student';
    }
  },
    created() {
        this.usertype = this.$store.currentUser.usertype;
    },
  methods: {
      showHelp: function() {
          this.help = !this.help;
      },
    areFriends,
    isFollowing,
    isBlocked,
    isFriendRequestSent,
    isMessageRequestPending,
    isActive(tabName) {
      if (this.$route.fullPath.includes(tabName)) return 'active';
      if (tabName === 'wall' && this.$route.fullPath.split(this.profileId)[1] === '') return 'active';
      return '';
    },
    changeTab(tabName) {
      this.$router.push(`/profiles/${this.profileId}/${tabName}`);
    },

    handleSendMessageClicked(profileFrom, profileTo) {
      if (areFriends(profileFrom, profileTo) || messageRequestAccepted(profileFrom, profileTo)) {
        //go directly to chat
        this.$router.push(`/chat?userid=${profileTo.userid}`);
        return;
      }

      if (profileTo.usertype === 'incubator') {
        //TODO: open modal window for contact request
        alert('contact request not implemented');
        return;
      }

      this.$swal.fire(sweetAlertMessageRequestConfig('test', 'test')).then(({ value: text }) => {
        sendMessageRequest(profileFrom.userid, profileTo, text).then(() => {
          this.updateProfileData();
        });
      });
    },

    handleAddFriendClicked(userId, userIdOfUserToBeFriendWith) {
      makeFriendRequest(userId, userIdOfUserToBeFriendWith).then(() => {
        this.updateProfileData();
      });
    },

    handleFollowClicked(userId, userIdOfUsertoFollow) {
      followUser(userId, userIdOfUsertoFollow).then(() => {
        this.updateProfileData();
      });
    },

    handleRemoveFriendClicked(userId, userIdOfUserToRemoveFromFriend) {
      deleteFriendship(userId, userIdOfUserToRemoveFromFriend).then(() => {
        this.updateProfileData();
      });
    },

    handleUnFollowClicked(userId, userIdOfUsertoUnFollow) {
      unFollow(userId, userIdOfUsertoUnFollow).then(() => {
        this.updateProfileData();
      });
    },

    handleBlockUserClicked(userId, userIdOfProfileToBlock) {
      blockUser(userId, userIdOfProfileToBlock).then(() => {
        this.updateProfileData();
      });
    },

    handleAbortFriendRequestClicked(userId, idOfFriendRequestToAbort) {
      declineFriendRequest(idOfFriendRequestToAbort, userId).then(() => {
        this.updateProfileData();
      });
    },

    changeCover(event) {
      let image = event.target.files[0];
      let formData = new FormData();
      formData.append('file', image);
      let headers = { 'Content-Type': 'multipart/form-data' };
      let config = { headers };
      axios.post(`${storage_getURL('FILES')}/api/files`, formData, config).then(response => {
        this.state.profile.coverImageId = response.data;
        this.saveProfile().then(() => {
          localStorage.setItem('profile', JSON.stringify(this.state.profile));
          this.$store.profile = this.state.profile;

          // Gamification Event
          // -> Points for changing the cover the first time
          let params = $.param({
            userid: this.$store.currentUser.userid,
            eventid: EVENTS.ADD_COVER_PHOTO_FIRST_TIME
          });

          axios
            .get(storage_getURL('API_GATEWAY_STORAGE') + '/api-proxy/achievements/api/gamification?' + params)
            .then(response => {
              gamificationToast(this, response);
              this.$dailyGoalBus.$emit('points');
            });
        });
      });
    },

    changeAvatar(event) {
      let image = event.target.files[0];
      let formData = new FormData();
      formData.append('file', image);
      let headers = { 'Content-Type': 'multipart/form-data' };
      let config = { headers };
      axios.post(`${storage_getURL('FILES')}/api/files`, formData, config).then(response => {
        this.state.profile.avatarImageId = response.data;
        this.saveProfile().then(() => {
          localStorage.setItem('profile', JSON.stringify(this.state.profile));
          this.$store.profile = this.state.profile;

          // Gamification Event
          // -> Points for changing the avatar the first time
          let params = $.param({
            userid: this.$store.currentUser.userid,
            eventid: EVENTS.ADD_PROFILE_PHOTO_FIRST_TIME
          });

          axios
            .get(storage_getURL('API_GATEWAY_STORAGE') + '/api-proxy/achievements/api/gamification?' + params)
            .then(response => {
              gamificationToast(this, response);
              this.$dailyGoalBus.$emit('points');
            });
        });
      });
    },

    verifySchool(schoolId) {
      this.$swal.fire(verifySchoolAlert('Verify School', 'Verify')).then(result => {
        if (!result.value) {
          //TODO: show sweet alert with failed
        }
        let body = { verificationCode: result.value };
        axios
          .post(`${storage_getdashboardApiUrl('API_GATEWAY_STORAGE')}/profiles/${schoolId}`, body)
          .then(response => {
            this.state.profile = response.data;
            this.$swal.fire(successToast('Verified'));
          })
          .catch(error => {
            alert(error);
            //TODO: show sweet alert with failed
          });
      });
    },
    saveProfile() {
      return axios
        .put(
          `${storage_getdashboardApiUrl('API_GATEWAY_STORAGE')}/profiles/${this.state.profile.userid}`,
          this.state.profile
        )
        .then(() => {
          localStorage.setItem('profile', JSON.stringify(this.state.profile));
        });
    },

    removeImage(imageId) {
      axios.delete(`${storage_getURL('FILES')}/api/files/${imageId}`).catch(error => {
        console.log(error);
      });
    },

    viewAvatarImage() {
      $('#modal-view-image').modal('show');
    },

    updateProfileData() {
      axios
        .get(`${storage_getdashboardApiUrl('API_GATEWAY_STORAGE')}/profiles/${this.$store.currentUser.userid}`)
        .then(response => {
          localStorage.setItem('profile', JSON.stringify(response.data));
          this.$store.profile = response.data;
          if (this.isProfileOfCurrentUser) {
            this.state.profile = this.$store.profile;
          } else {
            axios
              .get(`${storage_getdashboardApiUrl('API_GATEWAY_STORAGE')}/profiles/${this.profileId}`)
              .then(response => {
                this.state.profile = response.data;
              });
          }
        });
    }
  },
  created() {
    this.updateProfileData();
  },
  mounted() {}
};
</script>

<style scoped>
@import url('../../../css/profiles.css');
@import url('../../../css/profiles-wall-timeline.css');
@import url('../../../css/profiles-e-portfolio.css');
@import url('../../../css/community.css');

.customInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

label:hover {
  cursor: pointer;
}
</style>
