<template>
  <!--Tab of Bookmark-->
  <div>
    <div class="card mt-3">
      <div class="card-header card-header-with-border">
        <h6 class="text-left m-0">{{ $t('profiles_bookmark.tags') }}</h6>
      </div>
      <div class="card-body">
        <div class="bm-tags mt-3">
          <button class="btn btn-outline-primary active" type="button">{{ $t('profiles_bookmark.#mission') }}</button>
          <button class="btn btn-outline-primary" type="button">{{ $t('profiles_bookmark.#planet') }}</button>
          <button class="btn btn-outline-primary" type="button">{{ $t('profiles_bookmark.#game') }}</button>
          <button class="btn btn-outline-primary" type="button">{{ $t('profiles_bookmark.#tool') }}</button>
          <button class="btn btn-outline-primary" type="button">{{ $t('profiles_bookmark.#learning') }}</button>
          <button class="btn btn-outline-primary" type="button">{{ $t('profiles_bookmark.#easy') }}</button>
          <button class="btn btn-outline-primary" type="button">{{ $t('profiles_bookmark.#myself') }}</button>
          <button class="btn btn-outline-primary" type="button">{{ $t('profiles_bookmark.#friends') }}</button>
          <button class="btn btn-outline-primary" type="button">{{ $t('profiles_bookmark.#online') }}</button>
          <button class="btn btn-outline-primary" type="button">{{ $t('profiles_bookmark.#physic') }}</button>
        </div>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-header card-header-with-border">
        <h6 class="text-left m-0">{{ $t('profiles_bookmark.bookmarks') }}</h6>
      </div>
      <div class="card-body">
        <!--Saved Bookmark 01-->
        <div class="blog-card text-left mb-2">
          <div class="photo photo1"></div>
          <ul class="details">
            <li class="author"><a href="#">lisa56</a></li>
            <li class="date">08.02.2018</li>
            <li class="tags">
              <ul>
                <li>
                  <a href="#">{{ $t('profiles_bookmark.mission') }}</a>
                </li>
                <li>
                  <a href="#">{{ $t('profiles_bookmark.physic') }}</a>
                </li>
                <li><a href="#">lisa</a></li>
                <li>
                  <a href="#">{{ $t('profiles_bookmark.easy') }}</a>
                </li>
              </ul>
            </li>
            <li class="note">{{ $t('profiles_bookmark.note_users') }}</li>
          </ul>
          <div class="description">
            <div class="d-inline-block float-right show-on-hover">
              <i class="fa fa-ellipsis-h" data-toggle="dropdown"></i>
              <ul class="dropdown-menu pl-3 pr-3 dropdown-dashboard" role="menu">
                <a class="dropdown-item" href="#">{{ $t('profiles_bookmark.edit_tags') }}</a>
                <a class="dropdown-item" href="#">{{ $t('profiles_bookmark.delete') }}</a>
              </ul>
            </div>
            <h6>{{ $t('profiles_bookmark.crash_mission') }}</h6>
            <h2>
              <span>{{ $t('profiles_bookmark.type') }}</span
              >{{ $t('profiles_bookmark.mission2') }}
            </h2>
            <p class="summary">{{ $t('profiles_bookmark.lorem_dolor') }}</p>
            <a class="link-more" href="#">{{ $t('profiles_bookmark.read') }}</a>
          </div>
        </div>
        <!--Saved Bookmark 01-->
        <div class="blog-card alt text-left">
          <div class="photo photo2"></div>
          <ul class="details">
            <li class="author"><a href="#">jane_doe</a></li>
            <li class="date">15.04.2018</li>
            <li class="tags">
              <ul>
                <li>
                  <a href="#">{{ $t('profiles_bookmark.update') }}</a>
                </li>
                <li>
                  <a href="#">{{ $t('profiles_bookmark.friends') }}</a>
                </li>
                <li>
                  <a href="#">{{ $t('profiles_bookmark.jpost') }}</a>
                </li>
              </ul>
            </li>
            <li class="note">{{ $t('profiles_bookmark.note_users2') }}</li>
          </ul>
          <div class="description">
            <div class="d-inline-block float-right show-on-hover">
              <i class="fa fa-ellipsis-h" data-toggle="dropdown"></i>
              <ul class="dropdown-menu pl-3 pr-3 dropdown-dashboard" role="menu">
                <a class="dropdown-item" href="#">{{ $t('profiles_bookmark.edit_tags2') }}</a>
                <a class="dropdown-item" href="#">{{ $t('profiles_bookmark.delete2') }}</a>
              </ul>
            </div>
            <h6>{{ $t('profiles_bookmark.update_post') }}</h6>
            <h2>
              <span>{{ $t('profiles_bookmark.type2') }}</span
              >{{ $t('profiles_bookmark.post') }}
            </h2>
            <p class="summary">{{ $t('profiles_bookmark.lorem_dolor2') }}</p>
            <a class="link-more" href="#">{{ $t('profiles_bookmark.read2') }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Profiles_Bookmark',
  props: {
    bookmarkIsSelected: Boolean
  }
};
</script>

<style scoped></style>
