<template>
  <!--Tab of wall-->
  <div>
    <!--Publish Posts-->
    <div class="mt-3" v-if="isProfileOfCurrentUser || areFriends($store.profile, state.profile)">
      <create-status-update  @created="updateStatusUpdates" :category="createStatusUpdateCategory" />
    </div>

    <!--Timeline-->
    <div class="mt-3" v-for="(statusupdate, index) in sortedStatusUpdates" :key="statusupdate.statusUpdateId">
      <ViewStatusUpdate
        :moderators="state.moderators"
        :statusUpdateId="statusupdate.statusUpdateId"
        :statusUpdateObj="statusupdate"
        v-on:deleted="statusUpdateDeleted(index)"
      ></ViewStatusUpdate>
    </div>
  </div>
</template>

<script>
import { getStatusUpdateApiUrl, storage_getdashboardApiUrl, getNotificationApiUrl } from '../../../js/global.js';
import createStatusUpdate from '../common/statusupdate/CreateStatusUpdate.vue';
import ViewStatusUpdate from '../common/statusupdate/ViewStatusUpdate';
import {
  areFriends
} from './common/networkingFunctions'

export default {
  name: 'Profiles_Wall',
  components: {
    createStatusUpdate,
    ViewStatusUpdate
  },
  props: {
    profile: {
      type: Object
    }
  },
  watch: {
    profile: {
      handler: function(val) {
        this.state.profile = val;
        this.state.moderators = [this.state.profile.userid];
        this.getStatusUpdatesFromUser();
      },
      immediate: true
    }
  },
  data() {
    return {
      state: {
        moderators: [],
        profile: {},
        statusUpdates: []
      }
    };
  },
  computed: {
    sortedStatusUpdates() {
      return this.state.statusUpdates.sort(function(a, b) {
        return b.timestamp - a.timestamp;
      });
    },
    createStatusUpdateCategory() {
      if (this.state.profile.userid === this.$store.currentUser.userid) return 'myWall';
      return 'foreignWall';
    },
    isProfileOfCurrentUser() {
      return this.state.profile.userid === this.$store.currentUser.userid;
    }
  },
  methods: {
    areFriends,
    getStatusUpdatesFromUser() {
      const userIds = [this.state.profile.userid];
      const userIdsParam = $.param({ userIds });
      const categories = ['myWall'];
      const categoryParam = $.param({ categories });
      axios
        .get(`${getStatusUpdateApiUrl('API_GATEWAY_STORAGE')}?order=dec&${userIdsParam}&${categoryParam}`)
        .then(response => {
          this.state.statusUpdates = response.data;
          if (
            !this.state.profile.statusUpdatesFromOtherUsers ||
            this.state.profile.statusUpdatesFromOtherUsers.length === 0
          ) {
            return;
          }
          const statusUpdateIds = this.state.profile.statusUpdatesFromOtherUsers;
          const statusUpdateIdsParam = $.param({ statusUpdateIds });
          axios
            .get(getStatusUpdateApiUrl('API_GATEWAY_STORAGE') + '?order=dec&' + statusUpdateIdsParam)
            .then(response => {
              this.state.statusUpdates = this.state.statusUpdates.concat(response.data);
            });
        })
        .catch(error => {
          console.log(error);
        });
    },

    updateStatusUpdates(postid, post) {
      //newest post should appear first
      this.state.statusUpdates.splice(0, 0, post);

      //i myself posted something on wall -> do not store in statusupdates from others
      if (post.creatorId === this.state.profile.userid) return;

      //Send a notification if a new statusupdate got created at a foreign wall;
      this.sendNotificationByUID(this.state.profile.userid,
              "statusupdate_create_" + postid,
              post.creatorId,
              "notification.wall",
              "statusupdate/" + postid,
              "notification.wrote",
              "ICON_Comments.png");


      this.state.profile.statusUpdatesFromOtherUsers.push(post.statusUpdateId);
      axios.put(
        `${storage_getdashboardApiUrl('API_GATEWAY_STORAGE')}/profiles/${this.state.profile.userid}`,
        this.state.profile
      );
    },

    statusUpdateDeleted(index) {
      this.state.statusUpdates.splice(index, 1);
    },

    sendNotificationByUID(userID, origin, userIDs, postContentText, postContentRef, text, icon){

      let notification = {
        origin: origin,
        userIDs: [].concat(userIDs),
        postContentText: postContentText,
        postContentRef: postContentRef,
        text: text,
        icon: icon
      };

      axios.post(getNotificationApiUrl("API_GATEWAY_STORAGE") + "/notification/send/" + userID, notification);
    }
  }
};
</script>

<style scoped></style>
