<template>
    <div>
        <div class="card mt-3">
            <div class="card-header card-header-with-border">
                <h6 class="text-left">
                    Featured Images
                    <a v-if="state.profile.userid === this.$store.currentUser.userid"
                       @click="handleAddImageClicked"
                       class="btn btn-circle btn-set-point"
                       data-toggle="modal"
                       data-target="#modal-upload-ep-album"
                       title="Up load image to ePortfolio Album">
                        <img src="../../../img/add.png" class="clearfix" alt="Add new image"/>
                    </a>

                </h6>
            </div>

            <div class="card-body text-left">
                <Album
                        :files="state.profile.showcase.images"
                        :columns="3"
                        :file-are-removeable="$parent.isProfileOfCurrentUser"
                        v-on:removeFileClicked="removeImageFromAlbum"
                ></Album>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-header card-header-with-border">
                <h6 class="text-left">
                    Featured Videos
                    <a v-if="state.profile.userid === this.$store.currentUser.userid"
                       @click="handleAddVideoClicked"
                       class="btn btn-circle btn-set-point"
                       data-toggle="modal"
                       data-target="#modal-upload-ep-album"
                       title="Up load image to ePortfolio Album">
                        <img src="../../../img/add.png" class="clearfix" alt="Add new image"/>
                    </a>
                </h6>
            </div>

            <div class="card-body text-left">
                <Album
                        :files="state.profile.showcase.videos"
                        :columns="3"
                        :album-type="'videos'"
                        :file-are-removeable="$parent.isProfileOfCurrentUser"
                        v-on:removeFileClicked="removeVideoFromAlbum"
                ></Album>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-header card-header-with-border">
                <h6 class="text-left">
                    Events
                    <a v-if="state.profile.userid === this.$store.currentUser.userid"
                       @click="resetEventObj"
                       data-target="#modal-add-event"
                       class="btn btn-circle btn-set-point" data-toggle="modal"
                       title="Add Event">
                        <img src="../../../img/add.png" class="clearfix" alt="Add new image"/>
                    </a>
                </h6>
            </div>

            <div class="card-body text-left">
                <vue-cal :time-step="30" hide-weekends style="height: 600px"
                         events-count-on-year-view
                         :time-from="6 * 60"
                         :events="eventDataForCalendar" :on-event-click="onEventClick"></vue-cal>
            </div>
        </div>

        <div v-if="hasFeaturedMissions" class="card mt-3">
            <div class="card-header card-header-with-border">
                <h6 class="text-left">
                    Featured Missions
                </h6>
            </div>

            <div class="card-body text-left">
                <MissionList
                        v-if="$parent.isProfileOfCurrentUser"
                        :mission-card-button-text="$t('missionList.edit')"
                        :missions="state.recentMissions"
                ></MissionList>
                <MissionList
                        v-else
                        :mission-card-button-text="$t('missionList.explore')"
                        :missions="state.recentMissions"
                ></MissionList>
            </div>
        </div>

        <div v-if="hasFeaturedPlanets" class="card mt-3">
            <div class="card-header card-header-with-border">
                <h6 class="text-left">
                    Featured Planets
                </h6>
            </div>
            <div class="card-body text-left">
                <div class="row mr-3">
                    <!--World-->
                    <div class="col-4 mb-3 mr-6" v-for="(world, index) in state.recentWorlds" :key="index">
                        <WorldsShowcase v-if="$parent.isProfileOfCurrentUser" :world="world" action="edit"/>
                        <WorldsShowcase v-else :world="world" action="preview"/>
                    </div>
                </div>
            </div>
        </div>

        <!--===============-->
        <!-- MODAL WINDOWS -->
        <!--===============-->
        <div class="modal fade" id="modal-upload-ep-album" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Image to Showcase</h5>
                        <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                    <div class="modal-body">
                        <!--1. They can up load once more images.-->
                        <!--2. There is an overview for each image.-->
                        <!--3. Next to or under the overview, users can add the descrition (in 300 words) for this image.-->
                        <!--4. The title, image and description will be exported to PDF. -->

                        <!--5. The Upload function example (Template) is here: https://bootsnipp.com/snippets/exvN8 -->
                        <CustomFileUpload
                                ref="uploadImageOrVideo"
                                :accept="acceptedFileTypesBasedOnSelectedModal"
                                :button-text="buttonTextOfCustomFileUpload"
                        ></CustomFileUpload>
                    </div>
                    <div class="modal-footer">
                        <button @click="saveImageToFeatureAlbum" type="button" class="btn btn-green"
                                data-dismiss="modal">
                            Save
                        </button>
                        <button type="button" class="btn btn-orange" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal-add-event" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Event</h5>
                        <button id="closeEventModal" type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                    <div class="modal-body">
                        <form ref="addEventForm" class="needs-validation" novalidate>
                            <div class="form-group text-left">
                                <label><h6>Title</h6></label>
                                <input v-model="state.event.title" class="form-control" type="text" required/>
                                <div class="invalid-feedback">
                                    Please provide a title
                                </div>
                            </div>

                            <div class="form-group text-left">
                                <label><h6>Description</h6></label>
                                <textarea v-model="state.event.content" class="form-control"/>
                            </div>

                            <div class="form-group text-left">
                                <label><h6>Address</h6></label>
                                <input
                                        v-model="state.event.address"
                                        class="form-control"
                                        type="search"
                                        id="address-input"
                                        placeholder="Where are we going?"
                                />
                            </div>

                            <div class="form-group text-left">
                                <label><h6>Start date</h6></label>
                                <input
                                        @input="handleEventStartDateChanged"
                                        class="form-control"
                                        type="datetime-local"
                                        aria-describedby="startdate"

                                        required
                                />
                                <div class="invalid-feedback">
                                    Please provide start date
                                </div>
                            </div>

                            <div class="form-group text-left">
                                <label><h6>End date</h6></label>
                                <input
                                        ref="eventEndDateInput"
                                        @input="handleEventEndDateChanged"
                                        class="form-control"
                                        type="datetime-local"
                                        aria-describedby="enddate"
                                        required
                                />
                                <div class="invalid-feedback">
                                    Please provide end date
                                </div>
                            </div>

                            <div class="form-group text-left">
                                <label><h6>Cover Image</h6></label>
                                <CustomFileUpload
                                        ref="uploadCoverImageToEvent"
                                        :accept="'image/*'"
                                        :button-text="'Select Image'"
                                ></CustomFileUpload>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button @click="saveEvent" type="button" class="btn btn-green">
                            Save
                        </button>
                        <button type="button" class="btn btn-orange" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div ref="showEvent" class="modal fade" id="modal-show-event" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Event details</h5>
                        <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                    <div class="modal-body">
                        <h6>
                            {{ this.state.eventClicked.title }}
                        </h6>

                        <a
                                v-if="state.eventClicked.address && state.eventClicked.address !== ''"
                                target="_blank"
                                :href="`https://www.google.com/maps/search/?api=1&query=${this.state.eventClicked.address}`"
                        >
                            Click here to open location in google maps</a
                        >

                        <p>Start: {{ this.state.eventClicked.start }}</p>
                        <p>End: {{ this.state.eventClicked.end }}</p>

                        <img
                                v-if="state.eventClicked.coverImageId && state.eventClicked.coverImageId !== ''"
                                class="clearfix w-100"
                                :src="getImageUrl(state.eventClicked.coverImageId)"
                        />
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {
        storage_getURL,
        storage_getdashboardApiUrl,
        getMissionApiUrl,
        getPlanetsApiUrl
    } from '../../../js/global.js';
    import Album from '../common/album/Album.vue';
    import CustomFileUpload from '../common/CustomFileUpload.vue';
    import MissionList from '../mission/view/common/MissionList';
    import WorldsShowcase from '../worlds/common/WorldsShowcase';
    import * as places from 'places.js';
    import VueCal from 'vue-cal';
    import 'vue-cal/dist/vuecal.css';
    import {deleteFriendship} from "./common/networkingFunctions";

    const defaultEventData = {
        title: '',
        content: '',
        address: '',
        start: '',
        end: '',
        coverImageId: ''
    };

    export default {
        name: 'Profiles_Showcase',
        components: {Album, MissionList, WorldsShowcase, CustomFileUpload, 'vue-cal': VueCal},
        props: {
            profile: {
                type: Object
            }
        },
        data() {
            return {
                state: {
                    profile: {
                        showcase: {
                            images: [],
                            videos: [],
                            events: []
                        }
                    },
                    events: [],
                    recentMissions: [],
                    recentWorlds: [],
                    /*0=image, 1=video*/
                    selectedModal: 0,
                    event: {
                        title: '',
                        content: '',
                        address: '',
                        start: '',
                        end: '',
                        coverImageId: ''
                    },
                    eventClicked: {},
                    // eventModalOpen: true

                }

            };
        },
        watch: {
            profile: {
                handler: function (val) {
                    this.state.profile = val;
                    if (!this.state.profile.showcase.events) {
                        console.log('events resetted');
                        this.state.profile.showcase.events = [];
                    }
                    if (this.state.profile.userid !== '') {
                        axios
                            .get(
                                `${getMissionApiUrl('API_GATEWAY_STORAGE')}/teachers/${
                                    this.state.profile.userid
                                }/missions/recent?amount=5`
                            )
                            .then(response => {
                                this.state.recentMissions = response.data;
                            });
                        axios.get(`${getPlanetsApiUrl('API_GATEWAY_STORAGE')}/user/recentWorlds`).then(response => {
                            if (response.status === 200) this.state.recentWorlds = response.data;
                        });
                    }
                },
                immediate: true
            },

            // eventModalOpen: function (val) {
            //     // alert("event: " + val);
            //
            //     if (val == true) {
            //         // let placesAutocomplete = places({
            //         //     appId: 'plL54JLZSQ9T',
            //         //     apiKey: 'fb51a5e7e1827fc6cb404cb354a45ce3',
            //         //     container: document.querySelector('#address-input')
            //         // });
            //
            //
            //     }
            //     this.showEventModal();
            // }
        },
        computed: {
            buttonTextOfCustomFileUpload() {
                if (this.state.selectedModal === 0) {
                    return 'Select Image';
                } else {
                    return 'Select Video';
                }
            }
            ,
            acceptedFileTypesBasedOnSelectedModal() {
                if (this.state.selectedModal === 0) return 'image/*';
                else return 'video/*';
            }
            ,
            hasFeaturedMissions() {
                return this.state.recentMissions.length > 0;
            }
            ,
            hasFeaturedPlanets() {
                return this.state.recentWorlds.length > 0;
            }
            ,
            eventDataForCalendar() {
                if (!this.state.profile.showcase.events) return [];
                let eventsForCalendar = [];
                for (let event of this.state.profile.showcase.events) {
                    let eventForCalendar = Object.assign([], event);
                    eventForCalendar.start = this.convertTimestampToDateStringForCalendar(event.start.$numberLong);
                    eventForCalendar.end = this.convertTimestampToDateStringForCalendar(event.end.$numberLong);
                    eventsForCalendar.push(eventForCalendar);
                }
                return eventsForCalendar;
            }
        }
        ,
        methods: {
            handleAddVideoClicked() {
                this.state.selectedModal = 1;
            }
            ,
            handleAddImageClicked() {
                this.state.selectedModal = 0;
            }
            ,

            handleEventStartDateChanged(event) {
                console.log("test");
                let inputValue = event.target.value;
                let timestamp = this.convertDateIsoStringToTimestamp(inputValue);
                let date = {
                    $numberLong: timestamp
                };
                this.state.event.start = date;
                let endDateInput = this.$refs.eventEndDateInput;
                let timestampOfEndDate = this.convertDateIsoStringToTimestamp(endDateInput.value);
                if (timestampOfEndDate < timestamp) {
                    this.$refs.eventEndDateInput.value = inputValue;
                }
            }
            ,

            handleEventEndDateChanged(event) {
                let timestamp = this.convertDateIsoStringToTimestamp(event.target.value);
                let date = {
                    $numberLong: timestamp
                };
                this.state.event.end = date;
            }
            ,

            onEventClick(e) {
                this.state.eventClicked = e;
                $('#modal-show-event').modal();
            }
            ,

            getImageUrl(imageId) {
                console.log(imageId);
                return `${storage_getURL('FILES')}/api/files/${imageId}`;
            }
            ,

            convertDateIsoStringToTimestamp(dateIsoString) {
                if (dateIsoString.length === 0) return 0;
                dateIsoString += 'Z';
                return new Date(dateIsoString).getTime();
            }
            ,

            convertTimestampToDateStringForCalendar(timestamp) {
                let dateString = new Date(new Number(timestamp)).toISOString();
                let splitIntoDateAndTime = dateString.split('T');
                let date = splitIntoDateAndTime[0];
                let time = splitIntoDateAndTime[1];
                let timeWithoutMilliseconds = time.split('.')[0];
                return date + ' ' + timeWithoutMilliseconds;
            }
            ,

            saveImageToFeatureAlbum() {
                let file = this.$refs.uploadImageOrVideo.getFile();
                this.saveFile(file).then(response => {
                    if (this.state.selectedModal === 0) this.state.profile.showcase.images.push(response.data);
                    else this.state.profile.showcase.videos.push(response.data);
                    this.saveProfile().then(() => {
                        this.$refs.uploadImageOrVideo.resetSelectedFile();
                    });
                });
            }
            ,

            saveEvent() {
                let addEventForm = this.$refs.addEventForm;
                if (addEventForm.checkValidity() === true) {
                    if (this.$refs.uploadCoverImageToEvent.fileSelected()) {
                        let file = this.$refs.uploadCoverImageToEvent.getFile();
                        this.saveFile(file).then(response => {
                            this.state.event.coverImageId = response.data;
                            var eventCopy = JSON.parse(JSON.stringify(this.state.event));
                            this.state.profile.showcase.events.push(eventCopy);
                            this.saveProfile().then(() => {
                                this.$refs.uploadCoverImageToEvent.resetSelectedFile();
                                //TODO: reset event modal
                                // this.resetEventObj();
                                // this.rerenderEventModal();
                            });
                        });
                    } else {
                        var eventCopy = JSON.parse(JSON.stringify(this.state.event));
                        this.state.profile.showcase.events.push(eventCopy);
                        this.saveProfile().then(() => {
                            this.$refs.uploadCoverImageToEvent.resetSelectedFile();
                            //TODO: reset event modal
                            // this.resetEventObj();
                            // this.rerenderEventModal();
                        });
                    }

                    $('.modal-backdrop').remove();
                    $('#closeEventModal').trigger('click');

                }
                addEventForm.classList.add('was-validated');
            }
            ,
            resetEventObj() {
                console.log("resetted");
                this.state.event.title = null;
                this.state.event.content = null;
                this.state.event.address = null;
                this.state.event.start = null;
                this.state.event.end = null;
                this.state.event.coverImageId = null;
                let addEventForm = this.$refs.addEventForm;
                addEventForm.classList.remove('was-validated');
                addEventForm.reset();

                this.$forceUpdate();
            }
            ,

            saveFile(file) {
                let formData = new FormData();
                formData.append('file', file);
                let headers = {'Content-Type': 'multipart/form-data'};
                let config = {headers};
                return axios.post(`${storage_getURL('FILES')}/api/files`, formData, config);
            }
            ,

            saveProfile() {
                return axios.put(
                    `${storage_getdashboardApiUrl('API_GATEWAY_STORAGE')}/profiles/${this.state.profile.userid}`,
                    this.state.profile
                );
            }
            ,

            removeImageFromAlbum(imageId) {
                let index = this.state.profile.showcase.images.indexOf(imageId);
                this.state.profile.showcase.images.splice(index, 1);
                this.deleteFile(imageId);
            }
            ,
            removeVideoFromAlbum(videoId) {
                let index = this.state.profile.showcase.videos.indexOf(videoId);
                this.state.profile.showcase.videos.splice(index, 1);
                this.deleteFile(videoId);
            }
            ,
            //actually delete the file from the database
            deleteFile: function (fileId) {
                axios
                    .delete(storage_getURL("FILES") + "/api/files/" + fileId)
                    .then(
                        data => {
                            this.saveProfile();
                        },
                        error => {
                            console.log(error);
                        }
                    );
            }
            ,
            // rerenderEventModal() {
            //     this.state.eventModalOpen = false;
            //     this.$forceUpdate();
            //     this.state.eventModalOpen = true;
            //     this.$forceUpdate();
            //     let placesAutocomplete = places({
            //         appId: 'plL54JLZSQ9T',
            //         apiKey: 'fb51a5e7e1827fc6cb404cb354a45ce3',
            //         container: document.querySelector('#address-input')
            //     });
            // },
        }
        ,
        created() {
        }
        ,
        mounted() {
            let placesAutocomplete = places({
                appId: 'plL54JLZSQ9T',
                apiKey: 'fb51a5e7e1827fc6cb404cb354a45ce3',
                container: document.querySelector('#address-input')
            });
        }
    }
    ;
</script>

<style scoped>


</style>
