<template>
  <!-- Tab of Network -->
  <div>
    <!-- user search -->
    <div class="card mt-3" v-if="$parent.isProfileOfCurrentUser">
      <div class="card-header card-header-with-border">
        <form onkeypress="return event.keyCode != 13">
          <div class="input-group p-0">
            <div class="input-group-prepend">
              <label class="input-group-text">{{ $t('profiles_network.search') }}</label>
            </div>
            <input
              class="form-control"
              :placeholder="$t('profiles_network.input_placeholder_enter_username')"
              type="text"
              @keyup.enter="findUsers"
              v-model="state.network.searchQuery"
            />
            <div class="input-group-append">
              <button class="btn btn-default" type="button" @click="findUsers"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </form>
      </div>
      <!-- For showing Search results -->
      <!-- This must be hidden default. -->
      <div
        class="card-body mb-2"
        v-if="state.network.profilesOfSearchResult.length > 0"
        style="overflow: auto; max-height: 710px"
      >
        <p class="text-left">
          {{ $t('profiles_network.with') }}<span class="font-weight-bold font-italic">{{ searchQuery }}</span
          >{{ $t('profiles_network.users_find') }}
        </p>
        <ul class="network-list network-search-list mt-4 text-left">
          <li v-for="profile in friendList" class="mb-2">
            <UserCard class="transition" :profile="profile">
              <div slot="visibleButtonList">
                <button
                  @click="handleRemoveFriendClicked(state.profile.userid, profile.userid)"
                  class="btn btn-sm btn-orange mt-2 w-75"
                  type="button"
                >
                  {{ $t('profiles_network.remove_friend') }}
                </button>
              </div>
            </UserCard>
          </li>
          <li v-for="profile in followingList" class="mb-2">
            <UserCard class="transition" :profile="profile">
              <div slot="visibleButtonList">
                <button
                  v-if="showAddFriendButton(profile)"
                  @click="handleAddFriendClicked(state.profile.userid, profile.userid)"
                  class="btn btn-sm btn-orange mt-2 w-75"
                  type="button"
                >
                  {{ $t('profiles_network.friend_add') }}
                </button>
                <button
                  v-if="isFriend(profile)"
                  @click="handleRemoveFriendClicked(state.profile.userid, profile.userid)"
                  class="btn btn-sm btn-orange mt-2 w-75"
                  type="button"
                >
                  {{ $t('profiles_network.remove_friend') }}
                </button>
                <button
                  v-if="isFriendRequestSent(state.profile, profile)"
                  class="btn btn-sm btn-orange btn-text-overflow mt-2 w-75"
                  type="button"
                  disabled="true"
                  :title="$t('profiles_network.request_sent')"
                >
                  {{ $t('profiles_network.request_sent') }}
                </button>
                <button
                  @click="handleUnFollowClicked(state.profile.userid, profile.userid)"
                  class="btn btn-sm btn-orange mt-2 w-75"
                  type="button"
                >
                  {{ $t('profiles_network.remove_following') }}
                </button>
              </div>
            </UserCard>
          </li>
          <li v-for="profile in unrelatedList" class="mb-2">
            <UserCard class="transition" :profile="profile">
              <div slot="visibleButtonList">
                <button
                  v-if="showAddFriendButton(profile)"
                  @click="handleAddFriendClicked(state.profile.userid, profile.userid)"
                  class="btn btn-sm btn-orange mt-2 w-75"
                  type="button"
                >
                  {{ $t('profiles_network.friend_add') }}
                </button>
                <button
                  v-if="isFriendRequestSent(state.profile, profile)"
                  class="btn btn-sm btn-orange btn-text-overflow mt-2 w-75"
                  type="button"
                  disabled="true"
                  :title="$t('profiles_network.request_sent')"
                >
                  {{ $t('profiles_network.request_sent') }}
                </button>
                <button
                  v-if="isFriend(profile)"
                  @click="handleRemoveFriendClicked(state.profile.userid, profile.userid)"
                  class="btn btn-sm btn-orange mt-2 w-75"
                  type="button"
                >
                  {{ $t('profiles_network.remove_friend') }}
                </button>
                <button
                  v-if="showFollowButton(profile)"
                  @click="handleFollowClicked(state.profile.userid, profile.userid)"
                  class="btn btn-sm btn-orange mt-2 w-75"
                  type="button"
                >
                  {{ $t('profiles_network.follow') }}
                </button>
                <button
                  v-else
                  @click="handleUnFollowClicked(state.profile.userid, profile.userid)"
                  class="btn btn-sm btn-orange mt-2 w-75"
                  type="button"
                >
                  {{ $t('profiles_network.remove_following') }}
                </button>
              </div>
            </UserCard>
          </li>
        </ul>
      </div>
    </div>

    <!-- Friend Request List -->
    <!-- Students can only be friends with students. -->
    <div class="card mt-3" v-if="$parent.isProfileOfCurrentUser && state.network.profilesOfFriendRequests.length > 0">
      <div class="card-header card-header-with-border">
        <h6 class="text-left mb-0">{{ $t('profiles_network.friend_requests') }}</h6>
      </div>
      <div class="card-body mb-2">
        <ul class="network-list network-search-list">
          <li v-for="profile in state.network.profilesOfFriendRequests" class="mb-2">
            <UserCard class="transition" :profile="profile">
              <div slot="visibleButtonList">
                <button
                  @click="handleAcceptFriendRequestClicked(state.profile.userid, profile.userid)"
                  class="btn btn-sm btn-orange mt-2 w-75"
                  type="button"
                >
                  {{ $t('profiles_network.accept') }}
                </button>
                <button
                  @click="handleDeclineFriendRequestClicked(state.profile.userid, profile.userid)"
                  class="btn btn-sm btn-orange mt-2 w-75"
                  type="button"
                >
                  {{ $t('profiles_network.decline') }}
                </button>
              </div>
            </UserCard>
          </li>
        </ul>
      </div>
    </div>

    <!-- list of students for teachers verify -->
    <div v-if="showMyStudents" class="card mt-3">
      <div class="card-header card-header-with-border">
        <h6 class="text-left mb-0">
          {{ $t('profiles_network.my_students') }}
        </h6>
      </div>
      <div class="card-body" style="overflow: auto; max-height: 710px">
        <ul class="network-list">
          <li v-for="profile in state.network.profilesOfMyStudents" class="transition">
            <UserCard class="transition" :profile="profile">
              <ul slot="buttonList" class="social transition">
                <li class="transition">
                  <button
                    @click="handleSendMessageClicked(state.profile, profile)"
                    class="btn btn-green btn-sm mt-2 w-100"
                    type="button"
                  >
                    {{ $t('profiles_network.message_send') }}
                  </button>
                </li>
              </ul>
              <div slot="moreOptions">
                <i
                  aria-expanded="false"
                  aria-haspopup="true"
                  class="fa fa-ellipsis-h float-right mt-2 mr-2"
                  data-toggle="dropdown"
                ></i>
                <div class="dropdown-menu dropdown-menu-right ml-2">
                  <a
                    @click="setVerifyModalData(profile)"
                    data-target="#modal-verify-student"
                    data-toggle="modal"
                    class="dropdown-item"
                  >
                    {{ $t('profiles_network.verify') }}
                  </a>
                </div>
              </div>
            </UserCard>
          </li>
        </ul>
        <br />
      </div>
    </div>

    <!-- list of parents for students -->
    <div v-if="showParentList" class="card mt-3">
      <div class="card-header card-header-with-border">
        <h6 class="text-left mb-0">
          {{ $t('profiles_network.parents') }}
        </h6>
      </div>
      <div class="card-body" style="overflow: auto; max-height: 710px">
        <ul class="network-list">
          <li v-for="profile in state.network.profilesOfRequestsFromParents" class="transition">
            <UserCard class="transition" :profile="profile">
              <ul slot="buttonList" class="social transition">
                <li class="transition">
                  <button
                    @click="handleAcceptParentRequestClicked(state.profile.userid, profile.userid)"
                    class="btn btn-green btn-sm mt-2 w-100"
                    type="button"
                  >
                    {{ $t('profiles_network.acceptParentRequest') }}
                  </button>
                </li>
              </ul>
            </UserCard>
          </li>
        </ul>
        <ul class="network-list">
          <li v-for="profile in state.network.profilesOfParents" class="transition">
            <UserCard class="transition" :profile="profile">
              <ul slot="buttonList" class="social transition">
                <li class="transition">
                  <button
                    @click="handleSendMessageClicked(state.profile, profile)"
                    class="btn btn-green btn-sm mt-2 w-100"
                    type="button"
                  >
                    {{ $t('profiles_network.message_send') }}
                  </button>
                </li>
              </ul>
            </UserCard>
          </li>
        </ul>
        <br />
      </div>
    </div>

    <!-- list of childs for parents verify -->
    <div v-if="showChildList" class="card mt-3">
      <div class="card-header card-header-with-border">
        <h6 class="text-left mb-0">
          {{ $t('profiles_network.childs') }}
          <a
            class="btn btn-circle btn-set-point"
            data-target="#modal-add-child"
            data-toggle="modal"
            :title="$t('profiles_network.title_users_check')"
          >
            <img
              :alt="$t('profiles_network.connectWithChild')"
              class="clearfix"
              src="../../../img/BTN-Add-circle.png"
            />
          </a>
        </h6>
      </div>
      <div class="card-body" style="overflow: auto; max-height: 710px">
        <ul class="network-list">
          <li v-for="profile in state.network.profilesOfChilds" class="transition">
            <UserCard class="transition" :profile="profile">
              <ul slot="buttonList" class="social transition">
                <li class="transition">
                  <button
                    @click="handleSendMessageClicked(state.profile, profile)"
                    class="btn btn-green btn-sm mt-2 w-100"
                    type="button"
                  >
                    {{ $t('profiles_network.message_send') }}
                  </button>
                </li>
              </ul>
            </UserCard>
          </li>
        </ul>
        <br />
      </div>
    </div>

    <!-- list of teachers for schools to verify -->
    <div v-if="showTeacherList" class="card mt-3">
      <div class="card-header card-header-with-border">
        <h6 class="text-left mb-0">
          {{ $t('profiles_network.teacher') }}
        </h6>
      </div>
      <div class="card-body" style="overflow: auto; max-height: 710px">
        <ul class="network-list">
          <li v-for="profile in state.network.profilesOfTeachers" class="transition">
            <UserCard class="transition" :profile="profile">
              <ul slot="buttonList" class="social transition">
                <li class="transition">
                  <button
                    @click="handleSendMessageClicked(state.profile, profile)"
                    class="btn btn-green btn-sm mt-2 w-100"
                    type="button"
                  >
                    {{ $t('profiles_network.message_send') }}
                  </button>
                </li>
              </ul>
              <div slot="moreOptions">
                <i
                  aria-expanded="false"
                  aria-haspopup="true"
                  class="fa fa-ellipsis-h float-right mt-2 mr-2"
                  data-toggle="dropdown"
                ></i>
                <div class="dropdown-menu dropdown-menu-right ml-2">
                  <a
                    @click="setVerifyTeacherModalData(profile)"
                    data-target="#modal-verify-teacher"
                    data-toggle="modal"
                    class="dropdown-item"
                  >
                    {{ $t('profiles_network.verify') }}
                  </a>
                </div>
              </div>
            </UserCard>
          </li>
        </ul>
        <br />
      </div>
    </div>

    <!-- Friends List, only in students -->
    <!-- Students can only be friends with students. -->
    <div class="card mt-3" v-if="showFriendList">
      <div class="card-header card-header-with-border">
        <h6 class="text-left mb-0">
          {{ $t('profiles_network.friends')
          }}<a
            v-if="$parent.isProfileOfCurrentUser"
            class="btn btn-circle btn-set-point"
            data-target="#modal-block-list"
            data-toggle="modal"
            :title="$t('profiles_network.title_users_check')"
          >
            <img :alt="$t('profiles_network.alt_users_blocked')" class="clearfix" src="../../../img/ICON_Report.png" />
          </a>
        </h6>
      </div>
      <div class="card-body" style="overflow: auto; max-height: 710px">
        <ul class="network-list">
          <li v-for="profile in state.network.profilesOfFiends" class="transition">
            <UserCard class="transition" :profile="profile">
              <ul slot="buttonList" class="social transition">
                <li class="transition">
                  <button
                    @click="handleSendMessageClicked(state.profile, profile)"
                    class="btn btn-green btn-sm mt-2 w-100"
                    type="button"
                  >
                    {{ $t('profiles_network.message_send') }}
                  </button>
                </li>
              </ul>
              <div v-if="$parent.isProfileOfCurrentUser" slot="moreOptions">
                <i
                  aria-expanded="false"
                  aria-haspopup="true"
                  class="fa fa-ellipsis-h float-right mt-2 mr-2"
                  data-toggle="dropdown"
                ></i>
                <div class="dropdown-menu dropdown-menu-right ml-2">
                  <a class="dropdown-item" @click="handleRemoveFriendClicked(state.profile.userid, profile.userid)">{{
                    $t('profiles_network.remove_friend')
                  }}</a>
                  <a class="dropdown-item" @click="openBlockUserModal(profileToBlock)">{{
                    $t('profiles_network.block_user')
                  }}</a>
                </div>
              </div>
            </UserCard>
          </li>
        </ul>
        <br />
      </div>
    </div>
    <!-- Following lists -->
    <div class="card mt-3">
      <div class="card-header card-header-with-border">
        <h6 class="text-left mb-0">{{ $t('profiles_network.following') }}</h6>
      </div>
      <div class="card-body" style="overflow: auto; max-height: 710px">
        <ul class="network-list">
          <li v-for="profile in state.network.profilesOfFollowing" class="transition">
            <UserCard class="transition" :profile="profile">
              <ul slot="buttonList" class="social transition">
                <li v-if="isMessageRequestPending(state.profile, profile)" class="transition">
                  <button
                    class="btn btn-green btn-sm mt-2 w-75 btn-text-overflow"
                    type="button"
                    disabled="true"
                    :title="$t('profiles_network.message_request_sent')"
                  >
                    {{ $t('profiles_network.message_request_sent') }}
                  </button>
                </li>
                <li v-else class="transition">
                  <button
                    @click="handleSendMessageClicked(state.profile, profile)"
                    class="btn btn-green btn-sm mt-2 w-100"
                    type="button"
                  >
                    {{ $t('profiles_network.message_send') }}
                  </button>
                </li>
              </ul>
              <div v-if="$parent.isProfileOfCurrentUser" slot="moreOptions">
                <i
                  aria-expanded="false"
                  aria-haspopup="true"
                  class="fa fa-ellipsis-h float-right mt-2 mr-2"
                  data-toggle="dropdown"
                ></i>
                <div class="dropdown-menu dropdown-menu-right ml-2">
                  <a class="dropdown-item" @click="handleUnFollowClicked(state.profile.userid, profile.userid)">{{
                    $t('profiles_network.remove_following')
                  }}</a>
                  <a class="dropdown-item" @click="openBlockUserModal(profile)">{{
                    $t('profiles_network.block_user')
                  }}</a>
                </div>
              </div>
            </UserCard>
          </li>
        </ul>
        <br />
      </div>
    </div>
    <!-- Follower lists -->
    <div class="card mt-3">
      <div class="card-header card-header-with-border">
        <h6 class="text-left mb-0">{{ $t('profiles_network.follower') }}</h6>
      </div>
      <div class="card-body" style="overflow: auto; max-height: 710px">
        <ul class="network-list">
          <li v-for="profile in state.network.profilesOfFollower" class="transition">
            <UserCard class="transition" :profile="profile">
              <ul slot="buttonList" class="social transition">
                <li v-if="isMessageRequestPending(state.profile, profile)" class="transition">
                  <button
                    class="btn btn-green btn-sm btn-text-overflow mt-2 w-75"
                    type="button"
                    disabled="true"
                    :title="$t('profiles_network.message_request_sent')"
                  >
                    {{ $t('profiles_network.message_request_sent') }}
                  </button>
                </li>
                <li v-else class="transition">
                  <button
                    @click="handleSendMessageClicked(state.profile, profile)"
                    class="btn btn-green btn-sm mt-2 w-100"
                    type="button"
                  >
                    {{ $t('profiles_network.message_send') }}
                  </button>
                </li>
              </ul>
              <div v-if="$parent.isProfileOfCurrentUser" slot="moreOptions">
                <i
                  aria-expanded="false"
                  aria-haspopup="true"
                  class="fa fa-ellipsis-h float-right mt-2 mr-2"
                  data-toggle="dropdown"
                ></i>
                <div class="dropdown-menu dropdown-menu-right ml-2">
                  <a class="dropdown-item" @click="handleFollowClicked(state.profile.userid, profile.userid)">{{
                    $t('profiles_network.follow')
                  }}</a>
                  <a class="dropdown-item" @click="openBlockUserModal(profile)">{{
                    $t('profiles_network.block_user')
                  }}</a>
                </div>
              </div>
            </UserCard>
          </li>
        </ul>
      </div>
    </div>
    <!-- =============== -->
    <!-- MODAL WINDOWS -->
    <!-- =============== -->
    <!-- Modal of block-list -->
    <div class="modal fade" id="modal-block-list" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ $t('profiles_network.users_blocked') }}</h5>
            <button class="close" data-dismiss="modal" type="button">&times;</button>
          </div>
          <div class="modal-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">{{ $t('profiles_network.user') }}</th>
                  <th scope="col">{{ $t('profiles_network.time_blocked') }}</th>
                  <th scope="col">{{ $t('profiles_network.unblock') }}</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(blockedUser, index) in state.network.profilesOfBlockedUsers">
                  <th scope="row">{{ index }}</th>
                  <td>
                    <span>{{ blockedUser.username }}</span>
                  </td>
                  <td>{{ timestampToDate(blockedUser.date.$numberLong) }}</td>
                  <td>
                    <button
                      class="btn btn-green w-100"
                      type="button"
                      @click="handleUnBlockUserClicked(state.profile.userid, blockedUser.userid)"
                    >
                      {{ $t('profiles_network.unblock') }}
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button class="btn btn-orange" data-dismiss="modal" type="button">
              {{ $t('profiles_network.close') }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modal-add-child" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ $t('profiles_network.addChild') }}</h5>
            <button class="close" data-dismiss="modal" type="button">&times;</button>
          </div>
          <div class="modal-body">
            <form onkeypress="return event.keyCode != 13">
              <div class="input-group p-0">
                <div class="input-group-prepend">
                  <label class="input-group-text">{{ $t('profiles_network.search') }}</label>
                </div>
                <input
                  class="form-control"
                  :placeholder="$t('profiles_network.input_placeholder_enter_username')"
                  type="text"
                  @keyup.enter="findChilds"
                  v-model="state.network.searchQueryChilds"
                />
                <div class="input-group-append">
                  <button class="btn btn-default" type="button" @click="findChilds">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </form>
            <div
              class="card-body mb-2"
              v-if="state.network.profilesOfSearchResultChilds.length > 0"
              style="overflow: auto; max-height: 710px"
            >
              <p class="text-left">
                {{ $t('profiles_network.with') }}<span class="font-weight-bold font-italic">{{ searchQuery }}</span
                >{{ $t('profiles_network.users_find') }}
              </p>
              <ul class="network-list network-search-list mt-4 text-left">
                <li v-for="profile in alreadyConnectedChilds" class="mb-2">
                  <UserCard class="transition" :profile="profile">
                    <div slot="visibleButtonList">
                      <button
                        class="btn btn-sm btn-orange btn-text-overflow mt-2 w-75"
                        type="button"
                        disabled
                        :title="$t('profiles_network.connectedChild')"
                      >
                        {{ $t('profiles_network.connectedChild') }}
                      </button>
                    </div>
                  </UserCard>
                </li>
                <li v-for="profile in notConnectedChilds" class="mb-2">
                  <UserCard class="transition" :profile="profile">
                    <div slot="visibleButtonList">
                      <button
                        v-if="!isParentRequestSent(state.profile, profile)"
                        @click="handleConnectWithChildClicked(state.profile.userid, profile.userid)"
                        class="btn btn-sm btn-orange btn-text-overflow mt-2 w-75"
                        type="button"
                        :title="$t('profiles_network.connectWithChild')"
                      >
                        {{ $t('profiles_network.connectWithChild') }}
                      </button>
                      <button
                        v-else
                        class="btn btn-sm btn-orange btn-text-overflow mt-2 w-75"
                        type="button"
                        :title="$t('profiles_network.parentRequestSent')"
                        disabled
                      >
                        {{ $t('profiles_network.parentRequestSent') }}
                      </button>
                    </div>
                  </UserCard>
                </li>
              </ul>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-orange" data-dismiss="modal" type="button">
              {{ $t('profiles_network.close') }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for confirm Block User -->
    <div class="modal fade" id="modal-confirm-block" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ $t('profiles_network.blocked_confirmation_title') }}</h5>
          </div>
          <div class="modal-body">
            <div>
              <h6 class="text-left mb-0 transition">
                {{ $t('profiles_network.blocked_confirmation') }}
              </h6>
              <br />
            </div>
            <input
              v-model="state.blockModalData.confirmUsername"
              class="form-control"
              placeholder="Username of the blocking user..."
            />
          </div>
          <div class="modal-footer">
            <button
              @click="handleBlockUserClicked(state.profile.userid, state.blockModalData.userid)"
              type="button"
              class="btn"
              :class="{ 'btn-green': confirmUsernameCorrect }"
              data-dismiss="modal"
              :disabled="!confirmUsernameCorrect"
            >
              {{ $t('profiles_network.block_user') }}
            </button>
            <button id="confirmBlockModalClose" type="button" class="btn btn-orange" data-dismiss="modal">
              {{ $t('profiles_network.verify_close') }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for verify student-->
    <div v-if="$store.currentUser.usertype === 'teacher'" class="modal fade" id="modal-verify-student" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ $t('profiles_network.verify_student') }}</h5>
            <button aria-label="Close" class="close" data-dismiss="modal" id="closeModal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Information about student -->
            <ul class="nav">
              <li class="nav-item d-flex">
                <router-link
                  :to="`/profiles/${state.verifyStudentModalData.student.userid}`"
                  tag="a"
                  class="btn btn-points"
                  data-dismiss="modal"
                >
                  <img
                    :src="getAvatarImageLink(state.verifyStudentModalData.student.userid)"
                    class="clearfix w-100"
                    alt="avatar"
                  />
                </router-link>

                <div class="mt-3 text-left">
                  <a>
                    <h6>{{ state.verifyStudentModalData.student.username }}</h6>
                  </a>
                  <p class="text-message">
                    <span>{{ state.verifyStudentModalData.student.email }}</span>
                  </p>
                </div>
              </li>
              <li class="nav-item ml-md-auto mr-4 mt-4">
                <button
                  @click="verify(state.verifyStudentModalData.student)"
                  :disabled="state.verifyStudentModalData.student.verified"
                  type="button"
                  class="btn btn-green w-100"
                  data-dismiss="modal"
                >
                  {{ $t('profiles_network.verify') }}
                </button>
              </li>
            </ul>
            <br />

            <!-- information about parents -->
            <h6 class="ml-2">Relationship:</h6>
            <ul v-for="parent in state.verifyStudentModalData.parents" class="nav">
              <li class="nav-item d-flex">
                <router-link :to="`/profiles/${parent.userid}`" tag="a" class="btn btn-points" data-dismiss="modal">
                  <img :src="getAvatarImageLink(parent.userid)" class="clearfix w-100" alt="avatar" />
                </router-link>
                <div class="mt-3 text-left">
                  <a>
                    <h6>{{ parent.username }}</h6>
                  </a>
                  <p class="text-message">
                    <span>{{ parent.email }}</span>
                  </p>
                </div>
              </li>
              <li class="nav-item ml-md-auto mr-4 mt-4">
                <button
                  @click="verify(parent)"
                  :disabled="parent.verified"
                  type="button"
                  class="btn btn-green w-100"
                  data-dismiss="modal"
                >
                  {{ $t('profiles_network.verify') }}
                </button>
              </li>
            </ul>
          </div>
          <div class="modal-footer">
            <button id="confirmVerifyStudentModalClose" type="button" class="btn btn-orange" data-dismiss="modal">
              {{ $t('profiles_network.verify_close') }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for verify teacher-->
    <div v-if="$store.profile.usersubtype === 'school'" class="modal fade" id="modal-verify-teacher" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ $t('profiles_network.verify_teacher') }}</h5>
            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Information about teacher -->
            <ul class="nav">
              <li class="nav-item d-flex">
                <router-link
                  :to="`/profiles/${state.verifyTeacherModalData.teacher.userid}`"
                  tag="a"
                  class="btn btn-points"
                  data-dismiss="modal"
                >
                  <img
                    :src="getAvatarImageLink(state.verifyTeacherModalData.teacher.userid)"
                    class="clearfix w-100"
                    alt="avatar"
                  />
                </router-link>

                <div class="mt-3 text-left">
                  <a>
                    <h6>{{ state.verifyTeacherModalData.teacher.username }}</h6>
                  </a>
                  <p class="text-message">
                    <span>{{ state.verifyTeacherModalData.teacher.email }}</span>
                  </p>
                </div>
              </li>
              <li class="nav-item ml-md-auto mr-4 mt-4">
                <button
                  :disabled="state.verifyTeacherModalData.teacher.verified"
                  @click="verify(state.verifyTeacherModalData.teacher)"
                  type="button"
                  class="btn btn-green w-100"
                  data-dismiss="modal"
                >
                  Verify
                </button>
              </li>
            </ul>
            <br />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-orange" data-dismiss="modal">
              {{ $t('profiles_network.verify_close') }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { storage_getURL, storage_getdashboardApiUrl, getMissionApiUrl } from '../../../js/global.js';
import UserCard from './common/UserCard';
import {
  followUser,
  unFollow,
  makeFriendRequest,
  declineFriendRequest,
  acceptFriendRequest,
  deleteFriendship,
  blockUser,
  unBlock,
  sendMessageRequest,
  areFriends,
  isFriendRequestSent,
  messageRequestAccepted,
  isMessageRequestPending,
  makeConnectWithChildRequest,
  isParentRequestSent,
  acceptRequestFromParent
} from './common/networkingFunctions';

import { sweetAlertMessageRequestConfig } from '../common/sweetAlertConfigs.js';

export default {
  name: 'Profiles_Network',
  components: {
    UserCard
  },

  props: {
    profile: {
      type: Object
    }
  },

  watch: {
    profile: {
      handler: function(val) {
        this.state.profile = val;
        if (this.$parent.isProfileOfCurrentUser) {
          localStorage.setItem('profile', JSON.stringify(val));
        }
      },
      immediate: true
    },

    'state.profile.userid': {
      handler: function(val) {
        if (!val) return;
        this.updateNetwork();
      },
      immediate: true
    }
  },
  data() {
    return {
      state: {
        profile: {},
        network: {
          searchQuery: '',
          profilesOfSearchResult: [],
          searchQueryChilds: '',
          profilesOfSearchResultChilds: [],
          profilesOfFriendRequests: [],
          profilesOfFiends: [],
          profilesOfFollower: [],
          profilesOfFollowing: [],
          profilesOfBlockedUsers: {},
          profilesOfRequestsFromParents: [],
          profilesOfChilds: [],
          profilesOfParents: [],
          profilesOfMyStudents: [],
          profilesOfTeachers: []
        },
        blockModalData: {
          userid: '',
          username: '',
          confirmUsername: ''
        },
        verifyStudentModalData: {
          student: {},
          parents: []
        },
        verifyTeacherModalData: {
          teacher: {}
        }
      },

      pollNetworkUpdatesTimer: null,

      blockingUser: { username: String, userid: String },
      blockedList: Object,
      activateBlockButton: false,
      inputBlockingModal: '',
      searched: false,

      selectedUser: { username: String, action: String }
    };
  },
  computed: {
    confirmUsernameCorrect() {
      return this.state.blockModalData.confirmUsername === this.state.blockModalData.username;
    },

    friendList() {
      if (this.state.network.profilesOfSearchResult.length === 0) return [];
      let friendList = this.state.network.profilesOfSearchResult.filter(profile =>
        this.state.profile.friends.includes(profile.userid)
      );
      return friendList;
    },

    followingList() {
      if (this.state.network.profilesOfSearchResult.length === 0) return [];
      let followingList = this.state.network.profilesOfSearchResult.filter(
        profile =>
          this.state.profile.following.includes(profile.userid) && !this.state.profile.friends.includes(profile.userid)
      );
      return followingList;
    },

    unrelatedList() {
      if (this.state.network.profilesOfSearchResult.length === 0) return [];
      let unrelatedList = this.state.network.profilesOfSearchResult.filter(
        profile =>
          !this.state.profile.friends.includes(profile.userid) && !this.state.profile.following.includes(profile.userid)
      );
      return unrelatedList;
    },

    alreadyConnectedChilds() {
      if (this.state.network.profilesOfSearchResultChilds.length === 0) return [];
      let alreadyConnectedChilds = this.state.network.profilesOfSearchResultChilds.filter(profile =>
        this.state.profile.childs.includes(profile.userid)
      );
      return alreadyConnectedChilds;
    },

    notConnectedChilds() {
      if (this.state.network.profilesOfSearchResultChilds.length === 0) return [];
      let notConnectedChilds = this.state.network.profilesOfSearchResultChilds.filter(
        profile => !this.state.profile.childs.includes(profile.userid)
      );
      return notConnectedChilds;
    },

    showChildList() {
      if (!this.$parent.isProfileOfCurrentUser) return false;
      if (this.state.profile.usertype !== 'ambassador') return false;
      return true;
    },

    showParentList() {
      if (!this.$parent.isProfileOfCurrentUser) return false;
      if (this.state.profile.usertype !== 'student') return false;
      if (!this.state.profile.requestFromParent) return false;
      if (this.state.profile.length === 0) return false;
      return true;
    },

    showTeacherList() {
      if (!this.$parent.isProfileOfCurrentUser) return false;
      if (this.state.profile.usertype !== 'incubator') return false;
      if (this.state.profile.usersubtype !== 'school') return false;
      if (!this.state.profile.verified) return false;
      return true;
    },

    showFriendList() {
      if (this.state.profile.usertype === 'incubator') return false;
      if (this.$parent.isProfileOfCurrentUser) return true;
      if (this.state.profile.friends.includes(this.$store.currentUser.userid)) return true;
      return false;
    },

    showMyStudents() {
      if (!this.$parent.isProfileOfCurrentUser) return false;
      if (this.state.profile.usertype !== 'teacher') return false;
      if (!this.state.profile.verified) return false;
      return true;
    }
  },

  methods: {
    isFriendRequestSent,
    isMessageRequestPending,
    isParentRequestSent,
    acceptRequestFromParent,

    handleAddFriendClicked(userId, userIdOfUserToBeFriendWith) {
      makeFriendRequest(userId, userIdOfUserToBeFriendWith).then(() => {
        this.fetchProfile().then(() => {
          this.fetchFriends();
          this.findUsers();
        });
      });
    },

    handleRemoveFriendClicked(userId, userIdOfUserToRemoveFromFriend) {
      deleteFriendship(userId, userIdOfUserToRemoveFromFriend).then(() => {
        this.fetchProfile().then(() => {
          this.fetchFriends();
        });
      });
    },

    handleFollowClicked(userId, userIdOfUsertoFollow) {
      followUser(userId, userIdOfUsertoFollow).then(() => {
        this.fetchProfile().then(() => {
          this.fetchFollowing();
        });
      });
    },

    handleUnFollowClicked(userId, userIdOfUsertoUnFollow) {
      unFollow(userId, userIdOfUsertoUnFollow).then(() => {
        this.fetchProfile().then(() => {
          this.fetchFollowing();
        });
      });
    },

    handleAcceptFriendRequestClicked(userId, userIdOfFriendRequestToAccept) {
      acceptFriendRequest(userId, userIdOfFriendRequestToAccept).then(() => {
        this.fetchProfile().then(() => {
          this.fetchFriends();
          this.fetchFriendRequests();
        });
      });
    },

    handleDeclineFriendRequestClicked(userId, userIdOfFriendRequestToDecline) {
      declineFriendRequest(userId, userIdOfFriendRequestToDecline).then(() => {
        this.fetchProfile().then(() => {
          this.fetchFriends();
          this.fetchFriendRequests();
        });
      });
    },

    handleAbortFriendRequestClicked(userId, userIdOfFriendRequestToAbort) {
      declineFriendRequest(userIdOfFriendRequestToAbort, userId).then(() => {
        this.fetchProfile().then(() => {
          this.fetchFriends();
        });
      });
    },

    handleBlockUserClicked(userId, userIdOfProfileToBlock) {
      blockUser(userId, userIdOfProfileToBlock).then(() => {
        this.state.blockModalData.userid = '';
        this.state.blockModalData.username = '';
        this.state.blockModalData.confirmUsername = '';
        $('#confirmBlockModalClose').click();
        this.fetchBlockedUsers();
        this.fetchFriends();
        this.fetchFollower();
        this.fetchFollowing();
      });
    },

    handleConnectWithChildClicked(userIdParent, userIdChild) {
      makeConnectWithChildRequest(userIdParent, userIdChild).then(() => {
        this.updateNetwork();
        this.findChilds();
      });
    },

    handleAcceptParentRequestClicked(userIdOfChild, userIdOfParent) {
      acceptRequestFromParent(userIdOfChild, userIdOfParent).then(response => {
        this.updateNetwork();
      });
    },

    showAddFriendButton(profile) {
      if (this.state.profile.friendRequestsOutgoing.includes(profile.userid)) return false;
      if (profile.usertype === 'incubator') return false;
      if (this.isFriend(profile)) return false;
      if (profile.usertype === this.$store.currentUser.usertype) return true;
      if (this.$store.currentUser.usertype === 'ambassador' && profile.userType === 'teacher') return true;
      if (this.$store.currentUser.usertype === 'teacher' && profile.userType === 'ambassador') return true;
      return false;
    },

    showFollowButton(profile) {
      return !this.state.profile.following.includes(profile.userid);
    },

    openBlockUserModal(profileToBlock) {
      this.state.blockModalData.username = profileToBlock.username;
      this.state.blockModalData.userid = profileToBlock.userid;
      $('#modal-confirm-block').modal();
    },

    handleUnBlockUserClicked(userId, userIdOfProfileToUnblock) {
      unBlock(userId, userIdOfProfileToUnblock).then(() => {
        this.updateNetwork();
      });
    },

    handleSendMessageClicked(profileFrom, profileTo) {
      if (areFriends(profileFrom, profileTo) || messageRequestAccepted(profileFrom, profileTo)) {
        //go directly to chat
        this.$router.push(`/chat?userid=${profileTo.userid}`);
        return;
      }
      if (profileTo.usertype === 'incubator') {
        //TODO: open modal window for contact request
        alert('contact request not implemented');
        return;
      }
      this.$swal
        .fire(
          sweetAlertMessageRequestConfig(
            this.$t('profiles_network.sendMessageRequestPlaceholder'),
            this.$t('profiles_network.message_send')
          )
        )
        .then(({ value: text }) => {
          sendMessageRequest(this.state.profile.userid, profileTo, text).then(() => {
            this.updateNetwork();
          });
        });
    },

    setVerifyModalData(profile) {
      this.state.verifyStudentModalData.student = profile;
      let parentIds = profile.parents;
      if (parentIds.length !== 0) {
        this.fetchProfilesByIds(parentIds).then(response => {
          this.state.verifyStudentModalData.parents = response.data;
        });
      }
    },

    setVerifyTeacherModalData(profile) {
      console.log(profile);
      this.state.verifyTeacherModalData.teacher = profile;
    },

    verify(profile) {
      profile.verified = true;
      return axios
        .put(`${storage_getdashboardApiUrl('API_GATEWAY_STORAGE')}/profiles/${profile.userid}`, profile)
        .then(response => {
          console.log(response);
        })
        .catch(() => {
          profile.verified = false;
        });
    },

    getAvatarImageLink(profileId) {
      return storage_getdashboardApiUrl('API_GATEWAY_STORAGE') + '/profiles/' + profileId + '/avatarImageRedirect';
    },

    getAvatarImageUrl(imageId) {
      return `${storage_getURL('FILES')}/api/files/${imageId}`;
    },

    isFriend(profile) {
      return this.state.profile.friends.includes(profile.userid);
    },

    find(searchQuery, userType) {
      if (!userType) userType = '';
      return axios.get(
        `${storage_getdashboardApiUrl('API_GATEWAY_STORAGE')}/profiles?query=${searchQuery}&usertype=${userType}`
      );
    },

    fetchProfilesByIds(ids) {
      return axios.post(`${storage_getdashboardApiUrl('API_GATEWAY_STORAGE')}/profiles`, ids);
    },

    findUsers() {
      this.find(this.state.network.searchQuery).then(response => {
        if (response.status === 204) {
          this.state.network.profilesOfSearchResult = [];
        } else {
          this.state.network.profilesOfSearchResult = response.data;
        }
      });
    },
    findChilds() {
      this.find(this.state.network.searchQueryChilds, 'student').then(response => {
        if (response.status === 204) {
          this.state.network.profilesOfSearchResultChilds = [];
        } else {
          this.state.network.profilesOfSearchResultChilds = response.data;
        }
      });
    },
    fetchProfile() {
      return axios
        .get(`${storage_getdashboardApiUrl('API_GATEWAY_STORAGE')}/profiles/${this.state.profile.userid}`)
        .then(response => {
          this.state.profile = response.data;
        });
    },
    fetchFriendRequests() {
      return axios
        .get(
          `${storage_getdashboardApiUrl('API_GATEWAY_STORAGE')}/profiles/${this.state.profile.userid}/friendRequests`
        )
        .then(response => {
          this.state.network.profilesOfFriendRequests = response.data;
        });
    },
    fetchRequestsFromParents() {
      return axios
        .get(
          `${storage_getdashboardApiUrl('API_GATEWAY_STORAGE')}/profiles/${
            this.state.profile.userid
          }/requestsFromParents`
        )
        .then(response => {
          this.state.network.profilesOfRequestsFromParents = response.data;
        });
    },
    fetchParents() {
      axios
        .get(`${storage_getdashboardApiUrl('API_GATEWAY_STORAGE')}/profiles/${this.state.profile.userid}/parents`)
        .then(response => {
          this.state.network.profilesOfParents = response.data;
        });
    },
    fetchChilds() {
      if (this.state.profile.usertype === 'ambassador') {
        axios
          .get(`${storage_getdashboardApiUrl('API_GATEWAY_STORAGE')}/profiles/${this.state.profile.userid}/childs`)
          .then(response => {
            this.state.network.profilesOfChilds = response.data;
          });
      }
    },
    fetchTeachers() {
      if (this.state.profile.usersubtype === 'school') {
        axios
          .get(
            `${storage_getdashboardApiUrl('API_GATEWAY_STORAGE')}/profiles/organizations/schools/${
              this.state.profile.userid
            }/teachers`
          )
          .then(response => {
            this.state.network.profilesOfTeachers = response.data;
          });
      }
    },
    fetchFriends() {
      return axios
        .get(`${storage_getdashboardApiUrl('API_GATEWAY_STORAGE')}/profiles/${this.state.profile.userid}/friends`)
        .then(response => {
          this.state.network.profilesOfFiends = response.data;
        });
    },
    fetchFollowing() {
      return axios
        .get(`${storage_getdashboardApiUrl('API_GATEWAY_STORAGE')}/profiles/${this.state.profile.userid}/following`)
        .then(response => {
          this.state.network.profilesOfFollowing = response.data;
        });
    },
    fetchFollower() {
      return axios
        .get(`${storage_getdashboardApiUrl('API_GATEWAY_STORAGE')}/profiles/${this.state.profile.userid}/follower`)
        .then(response => {
          this.state.network.profilesOfFollower = response.data;
        });
    },
    fetchBlockedUsers() {
      return axios
        .get(`${storage_getdashboardApiUrl('API_GATEWAY_STORAGE')}/profiles/${this.state.profile.userid}/blockedUsers`)
        .then(response => {
          this.state.network.profilesOfBlockedUsers = response.data;
        });
    },
    fetchMyStudents() {
      if (this.state.profile.usertype === 'teacher') {
        axios
          .get(`${getMissionApiUrl('API_GATEWAY_STORAGE')}/teachers/${this.$store.currentUser.userid}/overAllStudents`)
          .then(response => {
            let studentIds = Object.values(response.data).reduce(
              (accumulator, currentValue) => accumulator.concat(currentValue),
              []
            );
            let noDuplicates = [...new Set(studentIds)];
            this.fetchProfilesByIds(noDuplicates).then(response => {
              this.state.network.profilesOfMyStudents = response.data;
            });
          });
      }
    },
    updateNetwork() {
      return axios
        .get(`${storage_getdashboardApiUrl('API_GATEWAY_STORAGE')}/profiles/${this.state.profile.userid}`)
        .then(response => {
          this.state.profile = response.data;
        })
        .then(() => {
          this.fetchFriendRequests();
          this.fetchFriends();
          this.fetchFollowing();
          this.fetchFollower();
          this.fetchBlockedUsers();
          this.fetchRequestsFromParents();
          this.fetchChilds();
          this.fetchParents();
          this.fetchTeachers();
          this.fetchMyStudents();
        });
    },

    timestampToDate(timestampAsString) {
      let timestampAsLong = new Number(timestampAsString);
      let date = new Date(timestampAsLong);
      return date.toISOString();
    }
  },
  created() {
    this.pollNetworkUpdatesTimer = setInterval(this.updateNetwork, 20000);
  },
  beforeDestroy() {
    clearInterval(this.pollNetworkUpdatesTimer);
  }
};
</script>

<style scoped></style>
