<template>
    <div>
        <!-- WorldsOverview header -->
        <div class="card">
            <div class="card-header pl-0 pr-0 pb-0">
                <ul class="nav nav-tabs float-left" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link-s active" id="my-planets-tab" data-toggle="tab" href="#my-planets-overview"
                           role="tab" data-controls="my-planets-overview" aria-selected="true">
                            <h5>My Worlds</h5>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link-s" id="discovers-tab" data-toggle="tab" href="#planets-discover" role="tab"
                           data-controls="planets-overview" aria-selected="false">
                            <h5>Discover</h5>
                        </a>
                    </li>

                </ul>
                <div class="float-right mt-2 mr-3">
                    <div class="btn btn-circle btn-set-point">
                        <img src="../../../../img/ICON_Newest-Answer.png" class="float-right" @click="showHelp" alt="Help" />
                    </div>
                </div>

            </div>
        </div>

        <!-- worldOverview content -->
        <div class="tab-content">

            <!-- Help -->
            <div class="card mt-3" v-if="state.help">
                <div class="card-header card-header-with-border">
                    <h6 class="text-left">{{$t('worlds.help_title')}}</h6>
                </div>
                <div class="card-body text-left">
                    <div style="white-space: pre-wrap; word-wrap: break-word; font-size: 1rem;" v-if="state.user.type === 'student'">{{$t('worlds.help_explorer_description')}}</div>
                    <div style="white-space: pre-wrap; word-wrap: break-word; font-size: 1rem;" v-if="state.user.type === 'teacher'">{{$t('worlds.help_leader_description')}}</div>
                    <div style="white-space: pre-wrap; word-wrap: break-word; font-size: 1rem;" v-if="state.user.type === 'incubator'">{{$t('worlds.help_incubator_description')}}</div>
                    <div style="white-space: pre-wrap; word-wrap: break-word; font-size: 1rem;" v-if="state.user.type === 'ambassador'">{{$t('worlds.help_ambassador_description')}}</div>
                    <!--<h6 v-else>{{$t('worlds.help_description')}}</h6>-->
                    <br/>
                    <button type="button" class="btn btn-green w-25 mb-2" @click="showHelp">OK</button>
                </div>
            </div>

            <!-- myWorlds tab -->
            <div class="tab-pane fadeIn active mt-3" id="my-planets-overview">
                <!--Pending Invitations-->
                <div class="card mt-3" v-if="state.planets.invited.length !== 0">
                    <div class="card-header card-header-with-border">
                        <h6 class="text-left">
                            Pending Invitations
                        </h6>
                    </div>
                    <div class="card-body text-left">
                        <p>You get {{state.planets.invited.length}} invitation to be member of a world.</p>
                        <div class="row mr-3">
                            <!--World-->
                            <div class="col-4 mb-3 mr-6" v-for="(world, index) in state.planets.invited"
                                 :key="index">
                                <WorldsShowcase :world="world" action="preview"/>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- active worlds -->
                <div class="card mt-3">
                    <!-- active worlds header -->
                    <div class="card-header card-header-with-border">
                        <h6 class="text-left">
                            Active Worlds
                            <a href="#" class="btn btn-circle btn-set-point" data-toggle="modal"
                               data-target="#modal-create-new-planet" title="Create new planet"
                               v-if="state.user.type === 'teacher'">
                                <img src="../../../../img/add.png" class="clearfix" alt="Add new planet">
                            </a>
                        </h6>
                    </div>
                    <!-- active Worlds content -->
                    <div class="card-body text-left">
                        <div v-if="state.user.type === 'teacher' && (
                            state.planets.saved.length === 0 &&
                            state.planets.active.length === 0 &&
                            state.planets.explored.length === 0) && loaded"
                             class="text-center">
                            <div class="default-states mb-3">
                                <h5>There is no active world now.</h5>
                                <button id="createNewPlanet" class="btn btn-green w-50 mb-2" data-toggle="modal"
                                        data-target="#modal-create-new-planet">Create your first world.
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 mb-3 mr-6" v-for="(world, index) in state.planets.active"
                                 :key="index">
                                <WorldsShowcase :world="world"
                                                :action="(state.user.type === 'teacher') ? 'edit' : 'exploring'"
                                                area="active"
                                                v-on:quitWorld="quitWorld"
                                                v-on:archiveWorld="archiveWorld"
                                />
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Moderated Worlds -->
                <div class="card mt-3" v-if="state.planets.moderated.length !== 0">
                    <div class="card-header card-header-with-border">
                        <h6 class="text-left">
                            Moderated Worlds
                        </h6>
                    </div>
                    <div class="card-body text-left">
                        <div class="row mr-3">
                            <!--World-->
                            <div class="col-4 mb-3 mr-6" v-for="(world, index) in state.planets.moderated"
                                 :key="index">
                                <WorldsShowcase
                                        :world="world"
                                        area="moderated"
                                        action="moderate"
                                        v-on:quitWorld="quitWorld"
                                        v-on:unmoderateWorld="unmoderateWorld"
                                />
                            </div>

                        </div>
                    </div>
                </div>

                <!--Saved worlds-->
                <div class="card mt-3" v-if="state.planets.saved.length !== 0">
                    <div class="card-header card-header-with-border">
                        <h6 class="text-left">
                            Saved Worlds
                        </h6>
                    </div>
                    <div class="card-body text-left">
                        <p>Only you can see those worlds. They are not published. You can continue to edit with them and
                            publish.</p>
                        <div class="row mr-3">
                            <!--World-->
                            <div class="col-4 mb-3 mr-6" v-for="(world, index) in state.planets.saved"
                                 :key="index">
                                <WorldsShowcase
                                        :world="world"
                                        action="edit"
                                        area="saved"
                                        v-on:archiveWorld="archiveWorld"
                                        v-on:publishWorld="publishWorld"
                                />
                            </div>
                        </div>
                    </div>
                </div>

                <!-- explored / archived worlds -->
                <div class="card mt-3" v-if="state.planets.explored.length !== 0">
                    <!-- header -->
                    <div class="card-header card-header-with-border">
                        <h6 class="text-left">
                            <div v-if="state.user.type === 'teacher'">Archived Worlds</div>
                            <div v-else>Explored Worlds</div>
                        </h6>
                    </div>
                    <!-- Worlds content -->
                    <div class="card-body text-left">
                        <div class="row" v-if="loading.planets.explored"><h5>{{ messages.loading }}</h5></div>
                        <div class="row" v-else>
                            <div class="col-4 mb-3 mr-6"
                                 v-if="state.planets.explored === null || state.planets.explored.length === 0"><h5>{{
                                messages.noplanets }}</h5></div>
                            <div class="col-4 mb-3 mr-6" v-else v-for="(planet, index) in state.planets.explored"
                                 :key="index">
                                <div v-if="state.user.type === 'teacher'">
                                    <WorldsShowcase :world="planet"
                                                    area="archived"
                                                    action="edit"
                                                    v-on:deleteWorld="deleteWorld"
                                                    v-on:unarchiveWorld="unarchiveWorld"

                                    />
                                </div>
                                <div v-else>
                                    <WorldsShowcase
                                            :world="planet"
                                            :action="'exploring'"
                                            v-on:quitWorld="quitWorld"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- discover tab -->
            <div class="tab-pane fade" id="planets-discover" role="tabpanel" aria-labelledby="discovers-tab">
                <div class="card mt-3">
                    <!-- discover Worlds -->
                    <WorldSimpleSearchForm v-on:handleSearch="handleSearch"/>
                </div>
                <!-- Worlds to discover -->
                <div class="card mt-3">
                    <!-- Worlds to discover header -->
                    <div class="card-header card-header-with-border p-0 pt-2 mb-0">
                        <ul class="nav nav-tabs mb-0" role="tablist">
                            <li class="nav-item mb-0">
                                <a class="nav-link-s active" id="hot-planets-tab" data-toggle="tab"
                                   href="#hot-planets-list" role="tab" data-controls="hot-planets-list"
                                   aria-selected="true">
                                    <h6>Hot Worlds</h6>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link-s" id="new-planets-tab" data-toggle="tab" href="#new-planets-list"
                                   role="tab" data-controls="new-planets-list" aria-selected="false">
                                    <h6>New Worlds</h6>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="card-body">
                        <div class="tab-content">
                            <!-- hot Worlds -->
                            <div class="tab-pane fade show active" id="hot-planets-list" role="tabpanel"
                                 aria-labelledby="hot-planets-tab">
                                <div class="row text-left" v-if="loading.planets.hot">
                                    <h5>{{ messages.loading }}</h5>
                                </div>
                                <div class="row text-left" v-else>
                                    <div class="col-4 mb-3 mr-6"
                                         v-if="state.planets.hot === null || state.planets.hot.length === 0"><h5>{{
                                        messages.noresults }}</h5></div>
                                    <div class="col-4 mb-3 mr-6" v-else v-for="(planet, index) in state.planets.hot"
                                         :key="index">
                                        <WorldsShowcase :world="planet" :action="'preview'"/>
                                    </div>
                                </div>
                            </div>

                            <!-- new Worlds -->
                            <div class="tab-pane fade" id="new-planets-list" role="tabpanel"
                                 aria-labelledby="new-planets-tab">
                                <div class="row text-left" v-if="loading.planets.hot">
                                    <h5>{{ messages.loading }}</h5>
                                </div>
                                <div class="row text-left" v-else>
                                    <div class="col-4 mb-3 mr-6"
                                         v-if="state.planets.new === null || state.planets.new.length === 0"><h5>{{
                                        messages.noresults }}</h5></div>
                                    <div class="col-4 mb-3 mr-6" v-else v-for="(planet, index) in state.planets.new"
                                         :key="index">
                                        <WorldsShowcase :world="planet" :action="'preview'"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ModalCreateWorld v-if="state.user.type === 'teacher'"/>
    </div>
</template>

<script>
    import WorldsShowcase from "../common/WorldsShowcase.vue";
    import ModalCreateWorld from "../common/CreateWorldModal.vue";
    import {getPlanetsApiUrl} from '../../../../js/global'
    import WorldSimpleSearchForm from "../common/world/WorldSimpleSearchForm";

    export default {
        name: "WorldsOverview",

        components: {
            WorldSimpleSearchForm,
            WorldsShowcase,
            ModalCreateWorld
        },

        data: function () {
            return {
                loading: {
                    user: false,
                    loaded: false,
                    planets: {
                        active: false,
                        explored: false,
                        saved: false,
                        hot: false,
                        new: false
                    }
                },
                messages: {
                    loading: "Loading...",
                    nouser: "No user...",
                    noplanets: "No active worlds...",
                    noresults: "No results..."
                },
                state: {
                    user: {
                        name: null,
                        type: null
                    },
                    planets: {
                        active: [],
                        explored: [],
                        saved: [],
                        hot: [],
                        new: [],
                        invited: [],
                        archived: [],
                        moderated: [],
                        searched: []
                    },
                    help: false
                },
            };
        },

        created: function () {
            this.state.user.type = this.$store.currentUser.usertype;
            if (this.state.user.type === 'ambassador') {
                this.loaded = true;
                this.state.help = true;
                return;
            }

            axios
                .get(getPlanetsApiUrl("API_GATEWAY_STORAGE") + "/user/getAllWorlds")
                .then(response => {
                    this.state.user.name = response.data.name;
                    this.state.planets.invited = response.data.invited;

                    if (this.state.user.type === 'teacher' || this.state.user.type === 'incubator') {
                        this.state.planets.active = response.data.active;
                        this.state.planets.explored = response.data.archived;
                        this.state.planets.saved = response.data.saved;
                        this.state.planets.moderated = response.data.moderated.filter(
                            moderatedWorlds => !(this.state.planets.explored.filter(
                                exploredWorlds => exploredWorlds.id === moderatedWorlds.id
                            ))
                        );

                        this.state.help = response.data.showHelp;
                    } else if (this.state.user.type === 'student') {
                        this.state.planets.explored = response.data.active.filter(i => i.state === 'archive');
                        this.state.planets.active = response.data.active.filter(i => i.state !== 'archive');
                    }

                    this.loaded = true;
                })
                .catch(error => {
                    console.log(error);
                });
        },

        methods: {
            handleSearch(query) {
                axios
                    .get(getPlanetsApiUrl("API_GATEWAY_STORAGE") + "/worlds/search?" + query)
                    .then(response => {
                        this.state.planets.hot = response.data;
                        this.state.planets.new = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            showHelp: function() {
                this.state.help = !this.state.help;

                axios
                    .post(getPlanetsApiUrl("API_GATEWAY_STORAGE") + "/teacher/showHelp/" + this.state.help)
                    .catch(error => {
                        console.log(error);
                    })
            },
            axiosHelper: function(url, id) {
                let headers = {
                    'Content-Type': 'application/json',
                };
                axios.post(url, {headers: headers})
                    .then(response => {
                        return response;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            quitWorld: function (worldId) {
                let response = this.axiosHelper(getPlanetsApiUrl("API_GATEWAY_STORAGE") + "/worlds/quitWorld/" + worldId);

                if (this.state.user.type === 'student') {
                    this.state.planets.active = this.state.planets.active.filter(w => w.id !== worldId);
                    this.state.planets.explored = this.state.planets.explored.filter(w => w.id !== worldId);
                }
            },
            archiveWorld: function (worldId) {
                let headers = {
                    'Content-Type': 'application/json',
                };
                axios.post(getPlanetsApiUrl("API_GATEWAY_STORAGE") + "/worlds/archive/" + worldId, {headers: headers})
                    .then(response => {
                        this.state.planets.active = this.state.planets.active.filter(w => w.id !== worldId);
                        this.state.planets.saved = this.state.planets.saved.filter(w => w.id !== worldId);
                        this.state.planets.explored = this.state.planets.explored.concat(response.data);
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            unmoderateWorld: function (worldId) {
                console.log("unmoderateWorld:" + worldId)
            },
            deleteWorld: function(worldId) {
                let headers = {
                    'Content-Type': 'application/json',
                };
                axios.post(getPlanetsApiUrl("API_GATEWAY_STORAGE") + "/worlds/delete/" + worldId, {headers: headers})
                    .then(response => {
                        this.state.planets.explored = this.state.planets.explored.filter(w => w.id !== worldId);
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            publishWorld: function(worldId) {
                let headers = {
                    'Content-Type': 'application/json',
                };
                axios.post(getPlanetsApiUrl("API_GATEWAY_STORAGE") + "/worlds/publish/" + worldId, {headers: headers})
                    .then(response => {
                        this.state.planets.saved = this.state.planets.saved.filter(w => w.id !== worldId);
                        this.state.planets.active = this.state.planets.active.concat(response.data);
                    })
                    .catch(error => {
                        console.log(error);
                    });

            },
            unarchiveWorld: function(worldId) {
                let headers = {
                    'Content-Type': 'application/json',
                };
                axios.post(getPlanetsApiUrl("API_GATEWAY_STORAGE") + "/worlds/unarchive/" + worldId, {headers: headers})
                    .then(response => {
                        this.state.planets.explored = this.state.planets.explored.filter(w => w.id !== worldId);
                        this.state.planets.saved = this.state.planets.saved.concat(response.data);
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
        },
    };
</script>

<style scoped>
    @import url("../../../../css/courses.css");
    @import url("../../../../css/worlds.css");
</style>
