<template>
    <div>
        <!-- Header -->
        <div class="card">
            <div class="card-body p-0 mb-2">
                <div class="st-profile">
                    <img v-if="state.world.theme === 'forest'" align="left" class="st-image-lg"
                         src="../../../../img/PLANET S_Landscape_02.png" alt="Profile cover image"/>
                    <img v-else-if="state.world.theme === 'factory'" align="left" class="st-image-lg"
                         src="../../../../img/PLANET-T_Landscape_02.png" alt="Profile cover image"/>
                    <img v-else-if="state.world.theme === 'crash'" align="left" class="st-image-lg"
                         src="../../../../img/CRASH-PLANET_Landscape_02.png" alt="Profile cover image"/>
                    <img v-else-if="state.world.theme === 'ocean'" align="left" class="st-image-lg"
                         src="../../../../img/OCEAN-PLANET_Landscape_02.png" alt="Profile cover image"/>
                    <img v-else-if="state.world.theme === 'young'" align="left" class="st-image-lg"
                         src="../../../../img/PLANET-Y_Landscape_02.png" alt="Profile cover image"/>

                    <div class="userpic">
                        <div class="btn btn-profile-avatar border border-white bg-light rounded-circle">
                            <img v-if="state.world.theme === 'forest'" class="clearfix w-100"
                                 src="../../../../img/PLANET S_with-inhabitants_no_background.png" alt="avatar"/>
                            <img v-else-if="state.world.theme === 'factory'" class="clearfix w-100"
                                 src="../../../../img/PLANET-T_with-inhabitants_no_background.png" alt="avatar"/>
                            <img v-else-if="state.world.theme === 'crash'" class="clearfix w-100"
                                 src="../../../../img/Planet_Crash_no_background.png" alt="avatar"/>
                            <img v-else-if="state.world.theme === 'ocean'" class="clearfix w-100"
                                 src="../../../../img/OCEAN PLANET_with-inhabitants_no_background.png" alt="avatar"/>
                            <img v-else-if="state.world.theme === 'young'" class="clearfix w-100"
                                 src="../../../../img/PLANET-Y_planet-with-inhabitants_no_background.png" alt="avatar"/>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <h5 class="username mb-0">{{ state.world.name }}</h5>
                </div>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-body">
                <a href="#" class="btn btn-circle btn-set-point" data-toggle="modal"
                   data-target="#modal-create-new-planet" title="Create new planet"
                   v-if="state.user.type === 'teacher' && state.owner">
                    <img src="../../../../img/BTN-Edit-circle.png" class="clearfix" alt="Edit world">
                </a>

                <div class="col-lg-8 float-left">
                    <blockquote
                            class="bubble bubble-worlds-crash animated rubberBand p-3"
                            @mouseenter="state.showDescriptionEdit=true"
                            @mouseleave="state.showDescriptionEdit=false">
                        <div v-if="state.showDescriptionEdit">
                            <a href="#" class="btn btn-circle btn-set-point" data-toggle="modal"
                               data-target="#modal-edit-description" title="Edit"
                               v-if="state.user.type === 'teacher'">
                                <img src="../../../../img/BTN-Edit-circle.png" class="clearfix" alt="Edit world">
                            </a>
                        </div>

                        <div class="mt-2">
                            {{ state.world.description }}
                        </div>
                        <div v-if="keywordList[0]">
                            <hr/>
                            <div class=" mt-2 pb-3">
                            <span v-for="item in keywordList">
                                <a href="#" class="float-left">{{item}}</a>
                            </span>
                            </div>
                        </div>
                    </blockquote>
                </div>
                <div class="col-lg-4 worlds-robot-box">
                    <img v-if="state.world.character === '1'" src="../../../../img/OCEAN PLANET_Exocoetidae-01.png"
                         class="clearfix w-100" alt="setting">
                    <img v-else-if="state.world.character === '2'" src="../../../../img/PLANET-Y_Zimbir-01_victory.png"
                         class="clearfix w-100" alt="setting">
                    <img v-else-if="state.world.character === '3'" src="../../../../img/PLANET-T_Cyberbot-01.png"
                         class="clearfix w-100" alt="setting">
                </div>
            </div>
            <div class="text-center m-3" v-if="state.world.state === 'save' && state.owner">
                <button @click="publishWorld" type="button" class="float-right btn btn-green w-25">Publish</button>
                <button @click="saveWorld" type="button" class="float-right btn btn-orange w-25 mr-2">Save</button>
            </div>
            <div class="text-center m-3" v-if="state.world.state === 'publish' && state.owner">
                <button @click="saveWorld" type="button" class="float-right btn btn-green w-25 mr-2">Save</button>
                <button @click="archiveWorld" type="button" class="float-right btn btn-orange w-25 mr-2">Archive world
                </button>
            </div>
            <div class="text-center m-3" v-if="state.world.state === 'archive' && state.owner">
                <button @click="saveWorld" type="button" class="float-right btn btn-green w-25 mr-2">Save</button>
                <button @click="unarchiveWorld" type="button" class="float-right btn btn-orange w-25 mr-2">Un-archive
                    world
                </button>
            </div>
        </div>

        <!--Sub Tabs-->
        <div class="card mt-3">
            <div class="card-header pl-0 pr-0 pb-0">
                <ul class="nav nav-tabs nav-fill" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link-s active" id="profile-wall-tab" data-toggle="tab" href="#profile-wall"
                           role="tab" data-controls="profile-wall" aria-selected="true">
                            <h6>Overview</h6>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link-s" id="profile-bookmarks-tab" data-toggle="tab" href="#profile-bookmarks"
                           role="tab" data-controls="profile-bookmarks" aria-selected="false">
                            <h6>Communities</h6>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link-s" id="profile-eportfolio-tab" data-toggle="tab" href="#profile-eportfolio"
                           role="tab" data-controls="profile-eportfolio" aria-selected="false">
                            <h6>Statistics</h6>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link-s" id="profile-network-tab" data-toggle="tab" href="#profile-network"
                           role="tab" data-controls="profile-network" aria-selected="false">
                            <h6>Members</h6>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content mt-3">

            <!--Tab of wall-->
            <div class="tab-pane fade show active" id="profile-wall" role="tabpanel" aria-labelledby="profile-wall-tab">
                <!--Publish Posts-->
                <div class="card mt-3">
                    <div class="card-header card-header-with-border">
                        <h6 class="text-left m-0">
                            Stations
                        </h6>
                    </div>
                    <div class="card-body">
                        <ul class="worlds-infos">
                            <li>
                                <a href="#mission-area" class="btn btn-badges" title="badges">
                                    <img src="../../../../img/ICON-MISSION-1-Orange.png" class="clearfix w-100"
                                         alt="get more">
                                </a>
                                <h6>Missions ({{cntMissions}})</h6>
                            </li>
                            <li>
                                <a href="#resources-area" class="btn btn-badges" title="badges">
                                    <img src="../../../../img/ICON-SERIOUS-GAMES_circle.png" class="clearfix w-100"
                                         alt="get more">
                                </a>
                                <h6>Resources ({{cntResources}})</h6>
                            </li>
                            <!--
                            <li>
                                <a href="#" class="btn btn-badges" title="badges">
                                    <img src="../../../../img/entrepeneurs.png" class="clearfix w-100" alt="get more">
                                </a>
                                <h6>Special Tasks (2)</h6>
                            </li>
                            -->
                        </ul>
                    </div>
                </div>

                <div id="mission-area"></div>
                <MissionTab
                        :world="state.world"
                        v-on:saveWorld="saveWorldWithData"
                />

                <div id="resources-area"></div>
                <ResourceTab
                        :world="state.world"
                        v-on:saveWorld="saveWorldWithData"
                />

                <RewardsTab/>
            </div>

            <!--Tab of Bookmark-->
            <div class="tab-pane fade" id="profile-bookmarks" role="tabpanel" aria-labelledby="profile-bookmarks-tab">
                <CommunitiesTab
                        :world="state.world"
                        v-on:saveWorld="saveWorldWithData"
                />
            </div>

            <!--Tab of Statistics-->
            <div class="tab-pane fade" id="profile-eportfolio" role="tabpanel" aria-labelledby="profile-eportfolio-tab">
                <StatisticsTab></StatisticsTab>
            </div>

            <!--Tab of Network-->
            <div class="tab-pane fade" id="profile-network" role="tabpanel" aria-labelledby="profile-network-tab">
                <UserListTab
                        :world="state.world"
                        v-on:saveWorld="saveWorldWithData"/>
            </div>
        </div>

        <ModalCreateWorld
                :worldId="state.worldId"
                v-bind:world="state.world"
                v-if="state.user.type === 'teacher'"
                v-on:worldSaved="worldChangedModalData"
        />
        <ModalEditDescription
                :worldId="state.worldId"
                v-bind:world="state.world"
                v-if="state.user.type === 'teacher'"
                v-on:changeDescription="changeDescription"
        ></ModalEditDescription>
    </div>
</template>

<script>
    import ModalEditDescription from "../common/EditDescriptionModal.vue";
    import ModalCreateWorld from "../common/CreateWorldModal.vue";
    import UserListTab from "../common/world/UserListTab";
    import MissionTab from "../common/world/MissionTab";
    import ResourceTab from "../common/world/ResourceTab";
    import CommunitiesTab from "../common/world/CommunitiesTab";
    import RewardsTab from "../common/world/RewardsTab";
    import StatisticsTab from "../common/world/StatisticsTab";
    import {getPlanetsApiUrl} from '../../../../js/global.js';

    export default {
        name: "EditWorldOverview",

        components: {
            StatisticsTab,
            RewardsTab,
            CommunitiesTab,
            ResourceTab,
            MissionTab,
            UserListTab,
            ModalCreateWorld,
            ModalEditDescription
        },

        data: function () {
            return {
                state: {
                    worldId: this.$route.params.id,
                    world: {
                        keywords: []
                    },
                    user: {type: null},
                    showDescriptionEdit: false,
                    owner: false
                },
            }
        },

        methods: {
            saveWorldWithData: function (changedWorldData) {
                this.state.world = changedWorldData;
                this.saveWorld(false);
            },
            saveWorld: function (redirect = true) {
                let headers = {
                    'Content-Type': 'application/json',
                };
                axios.post(getPlanetsApiUrl("API_GATEWAY_STORAGE") + "/worlds/save/" + this.state.worldId, {
                    missions: this.state.world.missions,
                    resources: this.state.world.resources,
                    communities: this.state.world.communities,
                    memberInvitations: this.state.world.memberInvitations,
                    members: this.state.world.members,
                    moderatorInvitations: this.state.world.moderatorInvitations,
                    moderators: this.state.world.moderators,
                }, {headers: headers})
                    .then(response => {
                    })
                    .catch(error => {
                        console.log(error);
                    });
                if (redirect)
                    window.location.replace("/worlds/");
            },
            publishWorld: function () {
                let headers = {
                    'Content-Type': 'application/json',
                };
                axios.post(getPlanetsApiUrl("API_GATEWAY_STORAGE") + "/worlds/publish/" + this.state.worldId, {headers: headers})
                    .then(response => {
                        window.location.replace("/worlds/view/" + this.state.worldId);
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            archiveWorld: function () {
                let headers = {
                    'Content-Type': 'application/json',
                };
                axios.post(getPlanetsApiUrl("API_GATEWAY_STORAGE") + "/worlds/archive/" + this.state.worldId, {headers: headers})
                    .then(response => {
                        window.location.replace("/worlds/");
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            unarchiveWorld: function () {
                let headers = {
                    'Content-Type': 'application/json',
                };
                axios.post(getPlanetsApiUrl("API_GATEWAY_STORAGE") + "/worlds/unarchive/" + this.state.worldId, {headers: headers})
                    .then(response => {
                        window.location.replace("/worlds/");
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            changeDescription: function (newDescription) {
                this.state.world.description = newDescription;
            },
            worldChangedModalData: function (world) {
                this.state.world.name = world.title;
                this.state.world.description = world.description;
                this.state.world.privacy = world.privacy;
                this.state.world.keywords = world.keywords;
                this.state.world.planetImg = world.planetImg;
                this.state.world.landscapeImg = world.landscapeImg;
                this.state.world.inhabitantsImg = world.inhabitantsImg;
                this.state.world.theme = world.theme;
                this.state.world.character = world.character;
            }
        },

        computed: {
            keywordList() {
                let keywordList = [];
                for (let i = 0; i < this.state.world.keywords.length; i++) {
                    keywordList[i] = '#' + this.state.world.keywords[i];
                }
                return keywordList;
            },
            worldPrivacy() {
                if (this.state.world.privacy === 'public')
                    return "Public";
                else
                    return "Private";
            },
            cntMissions() {
                if (this.state.world.missions)
                    return this.state.world.missions.length;
                else
                    return 0;
            },
            cntResources() {
                if (this.state.world.resources)
                    return this.state.world.resources.length;
                else
                    return 0;
            }
        },

        mounted: function () {
            /** necessary, when there are more worlds in overview */
            window.scrollTo(0, 0);

            this.state.user.type = this.$store.currentUser.usertype;

            axios
                .get(getPlanetsApiUrl("API_GATEWAY_STORAGE") + "/worlds/get/" + this.state.worldId + "/saved/")
                .then(response => {
                    this.state.world = response.data;
                    this.state.owner = this.state.world.owner === this.$store.currentUser.username;
                })
                .catch(error => {
                    console.log(error);
                });
        },
    }
</script>

<style scoped>
    @import url("../../../../css/worlds.css");
</style>