<template>

        <img class="card-img-top" v-bind:src="url" alt="Card image cap" width="100%" height="161px">
												
</template>

<script>
    // Use component like this:
    // <DisplayCardImage :imageFileId="photoId"></DisplayCardImage>
    // where photoId is the fileId in the files microservice database
    export default {
        name: "DispayCardImage",

        props: {
            imageFileId: {
                type: String,
                required: true
            }
        },
        data() {
            return {
                url: ""
            };
        },
        mounted() {
            this.setPhoto();
        },
        watch: {
            imageFileId: {
                handler: function() {
                    this.setPhoto();
                }
            }
        },

        methods: {
            setPhoto() {
                axios
                    .get(storage_getURL("FILES") + "/api/files/" + this.imageFileId, {
                        responseType: "blob",
                        headers: { Accept: "application/octet-stream" }
                    })
                    .then(
                        response => {
                            // console.log(response);

                            this.url = window.URL.createObjectURL(
                                new Blob([response.data], { type: "application/octet-stream" })
                            );
                        },
                        error => {
                            console.log(error);
                        }
                    );
            }
        }
    };
</script>

<style scoped></style>
