<template>

	<div class="wrapper" >
		<span class="transition"> 
			<a :href="'/profiles/' + user.userid">
				<img v-if="user.avatarImageId == null" class="transition" src="../../../img/user.png" style="height: 86px; width: 86px" />
				<img v-else :alt="$t('profiles_network.alt_setting')" class="transition" style="border-radius: 50%; height: 84px; width: 84px" v-bind:id="'image-' + user.avatarImageId"/>
			</a>
		</span> 
		<h6 class="transition">
			<a v-bind:href="'/profiles/'+ mod.username">
				{{mod.username}}
			</a>
			<em>
				<a class="btn btn-circle">
					<img src="../../../img/ICON-LEVEL-4-Badge.png" class="clearfix w-100">
				</a>
				{{mod.usertype}}
			</em>
			<button
                  class="btn btn-sm btn-orange mt-2 w-75"
                  type="button"
                  @click="addFriend(user);"
                  v-if="
                    user.usertype === 'student' &&
                      profileStore.profile.userType !== 'business' &&
                      !user.alreadyConnected
                  "
                >
                  {{ $t('profiles_network.friend_add') }}
                </button>
                <button
                  class="btn btn-sm btn-orange mt-2 w-75"
                  type="button"
                  @click="followUser(user);"
                  v-else-if="!user.alreadyConnected"
                >
                  {{ $t('profiles_network.follow') }}
                </button>
			
			</h6>
		
		<div class="trigger"></div>
	</div>
        										
</template>

<script>
    // Use component like this:
    // <DisplayCardImage :imageFileId="photoId"></DisplayCardImage>
    // where photoId is the fileId in the files microservice database
    export default {
        name: "MemberCard",

        props: {
            userId: {
                type: String,
                required: true
            },
            userName: {
            	type: String,
            	required: true
            }
        },
        data() {
            return {

            };
        },
        mounted() {

        },
        watch: {

        },

        methods: {
        	findUserInCache() {
       	    	axios.get(storage_getdashboardApiUrl('API_GATEWAY_STORAGE') + '/profile/user/' + this.searchedUsername)
       	        .then(response => {
       	          	this.filterUserAsUserType(response.data);
       	        });
       	    },
       	 filterUserAsUserType(foundUser) {
       	      this.userList = [];

       	      for (let i = 0; i < foundUser.length; i++) {
       	        if (foundUser[i].friendRequests != null) {
       	          for (let j = 0; j < foundUser[i].friendRequests.length; j++) {
       	            if (this.profileStore.profile.userid === foundUser[i].friendRequests[j]) {
       	              foundUser[i].alreadyConnected = true;
       	              break;
       	            }
       	          }
       	        }

       	        if (foundUser[i].alreadyConnected !== true && this.profileStore.currentModal.friends != null) {
       	          for (let j = 0; j < this.profileStore.currentModal.friends.length; j++) {
       	            if (foundUser[i].userid === this.profileStore.currentModal.friends[j]) {
       	              foundUser[i].alreadyConnected = true;
       	              break;
       	            }
       	          }
       	        }

       	        if (foundUser[i].alreadyConnected !== true && this.profileStore.currentModal.following != null) {
       	          for (let j = 0; j < this.profileStore.currentModal.following.length; j++) {
       	            if (foundUser[i].userid === this.profileStore.currentModal.following[j]) {
       	              foundUser[i].alreadyConnected = true;
       	              break;
       	            }
       	          }
       	        }

       	        if (this.profileStore.profile.username !== foundUser[i].username) {
       	          this.userList.push(foundUser[i]);
       	        }
       	      }
       	    },

        }
    };
</script>

<style scoped></style>
