<template>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(resource, index) in resourceList">
            <td scope="row" class="w-25 text-left">

                <ResourceDetailsViewModal
                        :id="'modal-view-res-detail' + index"
                        :resource="resource"
                        v-on:resourceDelete="deleteResource"
                />

                <a href="#" class="btn btn-circle" title="file">
                    <img alt="Library"
                         class="clearfix w-100"
                         src="../../../../../img/ICON_Article_Circle.png"
                         v-if="resource.category === 'Library'"
                    />
                    <img
                            alt="Media"
                            class="clearfix w-100"
                            src="../../../../../img/ICON_Video_Circle.png"
                            v-else-if="resource.category === 'Media'"
                    />
                    <img
                            alt="Tools"
                            class="clearfix w-100"
                            src="../../../../../img/ICON-LAB_circle.png"
                            v-else-if="resource.category === 'Tools'"
                    />
                    <img
                            alt="Games"
                            class="clearfix w-100"
                            src="../../../../../img/ICON-SERIOUS-GAMES_circle.png"
                            v-else-if="resource.category === 'Games'"
                    />
                </a>
                <span>{{ resource.resourceName }}</span>
            </td>
            <td class="w-50">{{ resource.description }}</td>
            <td class="w-25">
                <a v-if="!onlyView"
                   @click="deleteResource(resource)" class="btn btn-circle" title="delete">
                    <img src="../../../../../img/ICON_Delete-Post.png" alt="delete"/>
                </a>
                <a
                        :data-target="'#modal-view-res-detail' + index"
                        class="btn btn-circle"
                        data-toggle="modal"
                        href="#"
                        title="View"
                >
                    <img alt="view" src="../../../../../img/view.png"/>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</template>

<script>
    import ResourceDetailsViewModal from "../../../lab/ResourceDetailsViewModal";

    export default {
        name: 'ResourceTable',

        components: {
            ResourceDetailsViewModal
        },

        props: {
            resourceList: {
                type: Object,
                required: true
            },
            onlyView: {
                Type: Boolean,
                required: false,
                default: false
            }
        },

        methods: {
            deleteResource(resource) {
                this.$emit('deleteResource', resource.resourceId);
            },
        }
    };
</script>

<style scoped></style>
