<template>
    <form role="form">
        <div class="input-group p-0">
            <div class="input-group-prepend">
                <label class="input-group-text">{{
                    $t("lab.search")
                    }}</label>
            </div>
            <input
                    class="form-control"
                    :placeholder="$t('lab.input_placeholder_enter_keywords')"
                    type="text"
                    v-model="searchTextInput"
            />
            <div class="input-group-append">
                <button
                        class="btn btn-default"
                        type="button"
                        @click="searchResource">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        name: "ResourceSimpleSearchForm",

        data: function() {
            return {
                searchTextInput: ''
            }
        },

        methods: {
            searchResource: function () {
                this.$emit('handleSearch', this.searchTextInput);
            }
        },

        watch: {
            searchTextInput: function(newVal) {
                this.$emit('handleSearch', newVal);
            }
        }
    }
</script>

<style scoped>

</style>