<template>
  <div>
    <div v-if="users">
      <div style="overflow: auto; max-height: 710px">
        <ul :class="'network-list text-left' + (searchList === true ? ' network-search-list' : '')">
          <li
            v-bind:class="{
              'teachers-list transition mb-3': user.usertype === 'teacher',
              'incubator-list transition mb-3': user.usertype === 'incubator',
              'bussiness-list transition mb-3': user.usertype === 'business',
              'students-list transition mb-3': user.usertype === 'student'
            }"
            v-for="user in users"
            v-if="user.usertype !== null && user.usertype !== 'admin'"
            :id="'searchUserIdInList' + user.userid"
          >
            <div class="wrapper">
              <span class="transition">
                <a :href="'/profiles/' + user.userid">
                  <img
                    v-if="user.avatarImageId == null"
                    class="transition"
                    src="../../../../../img/user.png"
                    style="height: 86px; width: 86px"
                  />
                  <img
                    v-else
                    :src="getAvatarImageUrl(user)"
                    :alt="$t('profiles_network.alt_setting')"
                    class="transition"
                    style="border-radius: 50%; height: 84px; width: 84px"
                  />
                  <!--
                  <img v-if="user.avatarImageId === null" alt="" src="http://dooreight.com/codepen/people/img_06.png" />
                  <DisplayImageFile
                    v-else-if="user.avatarImageId !== null"
                    :imageFileId="user.avatarImageId"
                    :mode="'friend'"
                    class="transition"
                  />
                  -->
                </a>
              </span>
              <div v-if="showDelete && ownUserId !== user.userid">
                <i class="fa fa-ellipsis-h float-right mt-2 mr-2" data-toggle="dropdown"></i>
                <ul class="dropdown-menu dropdown-menu-right ml-2" role="menu">
                  <div class="dropdown-item" @click="deleteUser(user.userid)">Delete</div>
                </ul>
              </div>
              <div v-if="ownUserId === user.userid && ownUserType === 'student'">
                <i class="fa fa-ellipsis-h float-right mt-2 mr-2" data-toggle="dropdown"></i>
                <ul class="dropdown-menu dropdown-menu-right ml-2" role="menu">
                  <div class="dropdown-item" @click="quitWorld">Quit World</div>
                </ul>
              </div>

              <h6 v-if="!dontShowButtons" class="transition">
                {{ user.username }}
                <em>
                  <a class="btn btn-circle">
                    <img src="../../../../../img/ICON-LEVEL-2-Badge.png" class="clearfix w-100" />
                  </a>
                  <template v-if="user.usertype === 'student'">
                    Explorer
                  </template>
                  <template v-else-if="user.usertype === 'teacher'">
                    Mission Leader
                  </template>
                  <template v-else-if="user.usertype === 'incubator'">
                    Incubator
                  </template>
                  <template v-else-if="user.usertype === 'business'">
                    Ambassador
                  </template>
                </em>
                <div>
                  <button
                    v-if="user.usertype === 'student'"
                    class="btn btn-sm btn-orange mt-2 w-75"
                    type="button"
                    @click="addUser(user)"
                  >
                    {{ userButtonText }}
                  </button>
                  <button
                    v-else-if="user.usertype === 'teacher'"
                    class="btn btn-sm btn-orange mt-2 w-75"
                    type="button"
                    @click="addTeacher(user)"
                  >
                    {{ teacherButtonText }}
                  </button>
                  <!-- Business / Parents can't join
                                    <button v-else-if="user.usertype === 'business'"
                                            class="btn btn-sm btn-orange mt-2 w-75" type="button"
                                            @click="addBusiness(user)">{{businessButtonText}}
                                    </button>
                                    -->
                  <button
                    v-else-if="user.usertype === 'incubator'"
                    class="btn btn-sm btn-orange mt-2 w-75"
                    type="button"
                    @click="addIncubator(user)"
                  >
                    {{ incubatorButtonText }}
                  </button>
                  <a type="button" href="/chat" class="btn btn-sm btn-green mt-2 w-75">Send Message </a>
                </div>
                <div class="trigger"></div>
              </h6>

              <div v-else-if="dontShowButtons">
                <h6 class="transition">
                  {{ user.username }}
                  <em>
                    <a class="btn btn-circle">
                      <img src="../../../../../img/ICON-LEVEL-7-Badge.png" class="clearfix w-100" />
                    </a>
                    <template v-if="user.usertype === 'student'">
                      Explorer
                    </template>
                    <template v-else>
                      Mission Leader
                    </template>
                  </em>
                </h6>
                <div class="trigger"></div>
                <div class="social transition">
                  <div class="transition">
                    <a href="/chat">
                      <button type="button" class="btn btn-sm btn-green mt-2 w-75">Send Message</button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import DisplayImageFile from '../../../common/DisplayImageFile';
import { storage_getURL } from '../../../../../js/global.js';
export default {
  name: 'UserList',

  components: {
    DisplayImageFile
  },

  watch: {
    users: function(newVal) {}
  },

  props: {
    userButtonText: {
      type: String,
      required: false,
      default: 'Invite to join'
    },
    teacherButtonText: {
      type: String,
      required: false,
      default: 'Set as Moderator'
    },
    businessButtonText: {
      type: String,
      required: false,
      default: 'Invite to join'
    },
    incubatorButtonText: {
      type: String,
      required: false,
      default: 'Invite to join'
    },
    hideAfterClick: {
      type: Boolean,
      required: false,
      default: false
    },
    dontShowButtons: {
      type: Boolean,
      required: false,
      default: false
    },
    users: {
      type: Array,
      required: false,
      default: []
    },
    searchList: {
      type: Boolean,
      required: false,
      default: false
    },
    showDelete: {
      type: Boolean,
      required: false,
      default: false
    }
  },

  methods: {
    addUser: function(user) {
      this.$emit('userButtonClickEvent', user);
      this.hide(user.userid);
    },
    addTeacher: function(user) {
      this.$emit('teacherButtonClickEvent', user);
      this.hide(user.userid);
    },
    addBusiness: function(user) {
      this.$emit('businessButtonClickEvent', user);
      this.hide(user.userid);
    },
    addIncubator: function(user) {
      this.$emit('incubatorButtonClickEvent', user);
      this.hide(user.userid);
    },
    deleteUser: function(userid) {
      this.$emit('delete', userid);
    },
    quitWorld: function() {
      this.$emit('quitWorld');
    },
    hide: function(index) {
      if (this.hideAfterClick) $('#searchUserIdInList' + index).hide();
    },
    getAvatarImageUrl(user) {
      return `${storage_getURL('FILES')}/api/files/${user.avatarImageId}`;
    }
  },

  computed: {
    ownUserId: function() {
      return this.$store.currentUser.userid;
    },
    ownUserType: function() {
      return this.$store.currentUser.usertype;
    }
  }
};
</script>

<style scoped></style>