<template>
    <form>
        <div class="input-group p-0">
            <div class="input-group-prepend">
                <label class="input-group-text">Search</label>
            </div>
            <input class="form-control"
                   placeholder="Enter username, UserID or e-mail addresse..." type="text"
                   v-model="searchedUser" @keypress.13.prevent="findUser()">
            <div class="input-group-append">
                <button class="btn btn-default" type="button" @click="findUser()"><i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        name: "MemberSearchForm",

        data: function () {
            return {
                searchedUser: ''
            }
        },

        methods: {
            findUser() {
                this.$emit('changeSearchEntry', this.searchedUser);
                if (this.searchedUser !== '' && this.searchedUser.length <= 255) {
                    axios.get(storage_getdashboardApiUrl('API_GATEWAY_STORAGE') + "/profiles?query=" + this.searchedUser)
                        .then(response => {
                            this.$emit('searchResultFound', response.data);
                        });
                    this.searched = true;
                }
                else {
                    this.$emit('noSearchResultFound');
                    this.searched = false;
                }
            },
        }
    }
</script>

<style scoped>

</style>