<template>
	<div class="bg-card bg-card-login">
		<div class="bg-star"></div>
		<div class="wrapper-info">
			<div class="card card-comm h-100">
				<div class="card-body p-4 pt-4 mt-3">
					<h5 class="text-center">Hello, enter a new password, for your account!</h5>
					<hr>
					<form class="mt-3" role="form">
						<div class="form-group">
							<label for="password-field">
								<h6 class="mb-0">{{ $t('login.password') }}</h6>
							</label> <input class="form-control" id="password-field" name="password"
											v-bind:placeholder="$t('login.input_placeholder_password_give')"
											type="password" v-model="user.password" v-on:keydown="onEnter"/> <i
								class="fa fa-eye field-icon toggle-password"
								toggle="#password-field" @click="togglePassword()"></i>
						</div>
						<div class="form-group mt-4">
							<a href="#"><button class="btn btn-green w-100" type="button" @click="reset();">Submit</button></a>
							<h6 class="m-3 text-muted"><a class="link" href="/signup">Don´t have an account yet? Sign up!</a>
							</h6>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
    import {storage_getURL} from '../../../js/global.js';

export default {
  name: "PasswordReset",
  components: {},
  data: function() {
    return {
      state: this.$store,
      user: {
        password: ""
      }
    };
  },
  methods: {
      onEnter(event) {
          if(event.keyCode == 13)
              this.reset();
      },
      togglePassword() {
          $(".toggle-password").toggleClass("fa-eye fa-eye-slash");
          var input = $($(".toggle-password").attr("toggle"));
          if (input.attr("type") == "password") {
              input.attr("type", "text");
          } else {
              input.attr("type", "password");
          }
      },
    reset() {
        var code = window.location.search.replace('?code=', '');
        var user = {code:code, password:this.user.password, confirmedPassword:this.user.password};
        axios.post(storage_getURL('API_GATEWAY_STORAGE')+"/api-proxy/auth/api/v1/password/email", user)
            .then(response => {
                console.log(response.data);
                this.$router.push('/home');
            })
            .catch(error => {
                console.log(error);
                console.log(error.response.data.message);
            });
    }
  }
};
</script>

<style scoped>
	@import url("../../../css/stimey-home.css");
</style>
