

.message-list{
	height: 685px;
	overflow-y: scroll;
	z-index: 400;
}

ul.message-list li.unread-message{
	background-color: #f8f8f8;
}

.btn-chat-search:hover {
	background-color: #f8f8f8;
}
.chat-info {
	flex: 3;
	text-align: left;
	margin-left: 10px;
}
.chat-info .chat-set i {
	color: #f8f8f8;
}
.chat-info .chat-set i:hover {
	color: #333333;
}
.chat-info p {
	margin: 6px 0;
}


/*chat-contents*/
.chat-panel{
	height: 518px;
	overflow-y: scroll;
	z-index: 400;
}
.chat {
	margin: 0;
	padding: 0;
	list-style: none;
}
.chat li {
	margin-bottom: 15px;
	padding-bottom: 5px;
	/*border-bottom: 1px dotted #999999;*/
}
.chat li.left .chat-body {
	margin-left: 60px;
	text-align: left;
	width: 78%;
	background-color: #f8f9fa;
	padding: 10px;
	border-radius: 8px;
}
.chat li.right .chat-body {
	margin-left: 50px;
	text-align: right;
	width: 78%;
	background-color: #f8f9fa;
	padding: 10px;
	border-radius: 8px;
}
.chat li .chat-body p {
	margin: 6px 0;
}
.panel .slidedown .glyphicon, .chat .glyphicon {
	margin-right: 5px;
}
.chat-panel .panel-body {
	height: 350px;
	overflow-y: scroll;
}



/*Modal - start new chat*/
.new-chat-list{
	height: 380px;
	overflow-y: scroll;
	z-index: 400;
}

.new-chat-choose-list{
	height: 420px;
	overflow-y: scroll;
	z-index: 400;
}

