
/*<<<<<<<<>>>>>>>>>>>>*/
/*<<<Community Overview>>>>>>*/
/*<<<<<<<<>>>>>>>>>>>>*/

/*Card Community list*/
.card-lists {
	margin-bottom: 20px;
	padding-bottom: 30px;
	background: #fefff9;
	color: #363636;
	text-decoration: none;
	-moz-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
	box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.card-comm {
	box-shadow: 0 3px 10px 0 #ddd !important;
	border-radius: 10px;
}


.card-comm:hover {
	transform: scale(1.03);
}

.card-comm .card-footer{
	background-color: #ffffff!important;
    border-top: none!important; 
}

.tab-content>.active {
	display: block;
}

.modal-dialog {
	max-width: 600px;
	/*margin: 30px auto;*/
}



/*Tab controler*/
.nav-tabs { 
	border-bottom: 2px solid #DDD; 
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	border-width: 0; 
}
.nav-tabs > li > a { 
	border: none; 
	color: #666; 
}
.nav-tabs > li.active > a, .nav-tabs > li > a:hover { 
	border: none; 
	color: #90D400 !important; 
	background: transparent; 
}
.nav-tabs > li > a::after { 
	content: ""; 
	background: #90D400;
	height: 2px; 
	position: absolute; 
	width: 100%; 
	left: 0px; 
	bottom: -1px; 
	transition: all 250ms ease 0s; 
	transform: scale(0); 
}
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { 
	transform: scale(1);
}
.tab-nav > li > a::after { 
	background: #21527d none repeat scroll 0% 0%; 
	color: #fff; 
}


.btn-create{
	background: #90D400;
	float: right;
	margin: -50px 19px;
	color: #ffffff;
}



/*Create Community Modal*/
.radio-premission{
	margin-right: 40px;
}

.tooltiptext {
    visibility: hidden;
    width: 318px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
   /* z-index: 1;
    bottom: 12%;
    left: 5%;
    margin-left: -30px;*/
    opacity: 0;
    transition: opacity 1s;
}

.radio-premission .tooltiptext::after {
    content: "";
    position: absolute;
    /*top: 100%;
    left: 50%;
    margin-left: -5px;*/
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.radio-premission:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}



/*<<<<<<<<>>>>>>>>>>>>*/
/*<<<Community Homepage>>>>>>*/
/*<<<<<<<<>>>>>>>>>>>>*/
.userprofile.community {
	/*background: url(http://www.bootdey.com/img/Content/flores-amarillas-wallpaper.jpeg) no-repeat top center;*/
	/*background: url(../img/PLANET S_Landscape_01.png) no-repeat top center;*/
	/*background: url(../img/01_Grey%20Poly%20BG_Web-STIMEY.png) no-repeat center;*/
	background-size: 100%;
	padding: 20px 0 10px 0;
	margin: 0
}

.userprofile .coverpic {
	height: 190px;
	/*width: 150px;*/
	clear: both;
	/*margin-top: 6px;
	margin-left: 30px;*/
	margin: 6px 0 20px 20px;
	display: block;
	border-radius: 8%;
	/*box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);*/
	position: relative;
	
}
.userprofile .coverpic .coverpicimg {
	opacity: 1;
	display: block;
	transition: .5s ease;
	backface-visibility: hidden;
	height: 100%;
	width: 100%;
	border-radius: 5%;
}

.userprofile .coverpic .cover-card, .mission-cover .cover-card{
	transition: .5s ease;
  	opacity: 0;
 	 position: absolute;
 	 top: 50%;
 	 left: 50%;
  	transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
}

.coverpic:hover .btn-profile-avatar img, .mission-cover:hover .coverpicimg{
	opacity: 0.3;
}
.coverpic:hover .cover-card, .mission-cover:hover .cover-card{
	opacity: 1; 
}

/*.cover-detail{
	padding-top: 20px;
}
*/
/*.comm-creater{
	margin-top: 6px;
	margin-left: 8px;
}*/

.cover-info p a, span a{
	color: #F5b51c;
	font-weight: 700;
}
/*.comm-courses{
	margin-left: 8px;
}*/


.subnavlist li{
	padding: 10px 3px 10px 0;
    font-size: 18px;
	font-weight: 700;
    text-align: left;
}

/*<<<Community Homepage - Discussion>>>>>>*/
.show-on-hover:hover > ul.dropdown-menu {
    display: block;    
}

a.topic{
	color: #007bff;
	font-size: 16px;
}

a.topic:hover{
	color: #0056b3;
    text-decoration: underline;
}

.feed-content{
	padding-bottom: 12px;
}

.com-mr{
	margin-right: 60px;
}

.com-comments ul{
	float: left;
	list-style: none outside none;
	margin: 10px 0;
	padding: 0 0 0 15px;
	width: auto;
}

.com-comments ul>li{
	float: left;
}

.com-comments ul>li>a{
	float: left;
}
.com-comments ul>li>a:hover{
	opacity: 0.8;
}

.btn-post{
	margin-top: 10px;
	float: right
}



/*<<<<<<<<>>>>>>>>>>>>*/
/*<<<Community Members>>>>>>*/
/*<<<<<<<<>>>>>>>>>>>>*/
.parent_circle {
    background: #A2C52B none repeat scroll 0 0;
    border: 15px solid #81B228;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    display: table;
    position: relative; 
}

.parent_circle .parent_circle_contain {
      display: table-cell;
      vertical-align: middle;
      font-size: 12px;
      text-align: center;
      font-weight: 500; 
}

.parent_circle .child_round_circle {
      border: 15px solid #A2C52B;
      border-radius: 50%;
      height: 80px;
      left: 80px;
      position: absolute;
      top: -25px;
      width: 80px; 
}
.parent_circle .child_round_circle_img1 {
      background: url("http://engineersahab.com/images/abhishek.png");
      background-size: 100%; 
}


/*<<<<<<<<>>>>>>>>>>>>*/
/*<<<Community Announcements>>>>>>*/
/*<<<<<<<<>>>>>>>>>>>>*/
 .event-list {
	 list-style: none;
	 font-family: 'Lato', sans-serif;
	 margin: 0px;
	 padding: 0px;
}
.event-list > li {
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 5px rgb(51, 51, 51);
	box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
	padding: 0px;
	margin: 0px 0px 20px;
}
.event-list > li > time {
	display: inline-block;
	width: 100%;
	color: rgb(255, 255, 255);
	background-color:rgba(189,188,188,1.00);
	padding: 5px;
	text-align: center;
	/*text-transform: uppercase;*/
}
.event-list > li:nth-child(even) > time {
	background-color: rgb(165, 82, 167);
}
.event-list > li > time > span {
	display: none;
}
.event-list > li > time > .day {
	display: block;
	font-size: 60pt;
	font-weight: 100;
	line-height: 1;
}
.event-list > li time > .year {
	display: block;
	font-size: 20px;
	font-weight: 500;
	line-height: 2;
}
.event-list > li > .info {
	padding-top: 5px;
	text-align: center;
}
.event-list > li > .info > .title {
	font-size: 14pt;
	font-weight: 700;
	margin: 0px;
}
.event-list > li > .info > .time {
	font-size: 13pt;
	font-weight: 500;
	color: #F5B51C;
	margin-top: 10px;
}
.event-list > li > .info > .desc {
	font-size: 14px;
	margin-bottom: 10px;
}
.event-list > li > .info > ul,
.event-list > li > .social > ul {
	display: table;
	list-style: none;
	margin: 10px 0px 0px;
	padding: 0px;
	width: 100%;
	text-align: center;

}
.event-list > li > .social > ul {
	margin: 0px;
}
.event-list > li > .info > ul > li,
.event-list > li > .social > ul > li {
	display: table-cell;
	cursor: pointer;
	color: rgb(30, 30, 30);
	font-size: 11pt;
	font-weight: 300;
	padding: 3px 0px;
}
.event-list > li > .info > ul > li > a {
	display: block;
	width: 100%;
	color: rgb(30, 30, 30);
	text-decoration: none;
} 
.event-list > li > .social > ul > li {    
	padding: 0px;
}
.event-list > li > .social > ul > li > a {
	padding: 3px 0px;
} 
.event-list > li > .info > ul > li:hover,
.event-list > li > .social > ul > li:hover {
	color: rgb(30, 30, 30);
	background-color: rgb(200, 200, 200);
}
.edit a,
.confirm a,
.delete a {
	display: block;
	width: 100%;
	color: rgb(75, 110, 168) !important;
}
.confirm a {
	color: rgb(79, 213, 248) !important;
}
.delete a {
	color: rgb(221, 75, 57) !important;
}
.edit:hover a {
	color: rgb(255, 255, 255) !important;
	background-color:rgba(228,217,168,0.8) !important;
}
.confirm:hover a {
	color: rgb(255, 255, 255) !important;
	background-color:rgba(186,216,96,0.4) !important;
}
.delete:hover a {
	color: rgb(255, 255, 255) !important;
	background-color:rgba(239,165,165,0.4) !important;
}

@media (min-width: 768px) {
.event-list > li {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	padding: 0px;
}
.event-list > li > time,
.event-list > li > img  {
	display: inline-block;
}
.event-list > li > time,
.event-list > li > img {
	width: auto;
	float: left;
}
.event-list > li > .info {
	background-color: rgb(245, 245, 245);
	overflow: hidden;
}
.event-list > li > time,
.event-list > li > img {
	/*width: 120px;*/
	height: inherit;
	padding: 14px;
    /*margin: 15px;*/
}
.event-list > li > .info {
	position: relative;
	height: inherit;
	text-align: left;
	padding-right: 40px;
}	
.event-list > li > .info > .title, 
.event-list > li > .info > .time, 
.event-list > li > .info > .desc, 
.event-list > li > .info >.creater-date{
	padding: 0px 10px;
}
.event-list > li > .info > ul {
	position: absolute;
	left: 0px;
	bottom: 0px;
}
.event-list > li > .social {
	position: absolute;
	top: 0px;
	right: 0px;
	display: block;
	width: 40px;
}
.event-list > li > .social > ul {
	height: auto;
	/*border-left: 1px solid rgb(230, 230, 230);*/
}
.event-list > li > .social > ul > li {			
	display: block;
	padding: 0px;
}
.event-list > li > .social > ul > li > a {
	display: block;
	width: 40px;
	height: 50px;
	padding: 10px 0px 9px;
}

	

/*<<<<<<<<>>>>>>>>>>>>*/
/*<<<Community Phtos>>>>>>*/
/*<<<<<<<<>>>>>>>>>>>>*/
/*Portfolio===============================*/
#portfolio {  
    margin: 1rem 0;
    -webkit-column-count: 3; 
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-column-width: 33.33333333333333%;
    -moz-column-width: 33.33333333333333%;
    column-width: 33.33333333333333%;
}
#portfolio-container .tile { 
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;

}
#portfolio-container .tile:hover { 

}

#portfolio-container .scale-anm {
  transform: scale(1);
}

#portfolio-container .tile img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

#portfolio-container .btn {
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: 5px 10px;
    margin: 0;
    height: auto;
    border: 1px solid;
    vertical-align: middle;
    -webkit-appearance: none;
    color: #555;
    background-color: rgba(0, 0, 0, 0);
}



#portfolio-container .btn:hover {
	text-decoration: none;
	color:#fff;
	background-color:#90D400;
}

#portfolio-container .btn:focus {
	outline: none;
	border-color: var(--darken-2);
	box-shadow: 0 0 0 3px var(--darken-3);
}
/*Portfolio===============================*/


#portfolio-container .active {
	background-color:#90D400;
	color:#fff!important;
	outline: 0;
	box-shadow: none; 
}

#portfolio-container .active:active{
   	background-color:#90D400;
	color:#fff;
    outline: 0;
    box-shadow: none; 
}

	
/*Upload Photos*/	
.uploader {
  display: block;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}
.uploader label {
  float: left;
  clear: both;
  width: 100%;
  padding: 2rem 1.5rem;
  text-align: center;
  background: #fff;
  border-radius: 7px;
  border: 3px solid #eee;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.uploader label:hover {
  border-color: #90D400;
}
.uploader label.hover {
  border: 3px solid #90D400;
  box-shadow: inset 0 0 0 6px #eee;
}
.uploader label.hover #start i.fa {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0.3;
}
.uploader #start {
  float: left;
  clear: both;
  width: 100%;
}
.uploader #start.hidden {
  display: none;
}
.uploader #start i.fa {
  font-size: 50px;
  margin-bottom: 1rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.uploader #response {
  float: left;
  clear: both;
  width: 100%;
}
.uploader #response.hidden {
  display: none;
}
.uploader #response #messages {
  margin-bottom: .5rem;
}
.uploader #file-image {
  display: inline;
  margin: 0 auto .5rem auto;
  width: auto;
  height: auto;
  max-width: 180px;
}
.uploader #file-image.hidden {
  display: none;
}
.uploader #notimage {
  display: block;
  float: left;
  clear: both;
  width: 100%;
}
.uploader #notimage.hidden {
  display: none;
}
.uploader progress,
.uploader .progress {
  display: inline;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 180px;
  height: 8px;
  border: 0;
  border-radius: 4px;
  background-color: #eee;
  overflow: hidden;
}
.uploader .progress[value]::-webkit-progress-bar {
  border-radius: 4px;
  background-color: #eee;
}
.uploader .progress[value]::-webkit-progress-value {
  background: -webkit-linear-gradient(left, #009860 0%, #00983D 50%);
  background: linear-gradient(to right, #009860 0%, #00983D 50%);
  border-radius: 4px;
}
.uploader .progress[value]::-moz-progress-bar {
  background: linear-gradient(to right, #009860 0%, #00983D 50%);
  border-radius: 4px;
}
.uploader input[type="file"] {
  display: none;
}
.uploader div {
  margin: 0 0 .5rem 0;
  color: #5f6982;
}
.uploader .btn {
  display: inline-block;
  margin: .5rem .5rem 1rem .5rem;
  clear: both;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  text-transform: initial;
  border: none;
  border-radius: .2rem;
  outline: none;
  padding: 0 1rem;
  height: 36px;
  line-height: 36px;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  background: #90D400;
  border-color: #90D400;
  cursor: pointer;
}

}
	
	
	