.progressDiv {
	width: 100%;
	background: rgba(124,124,124,1.00);
	border: 1px solid #ccc;
	border-radius: 2px;
	box-shadow: 0px 1px 1px 1px #ccc;
	padding-bottom: 30px;
}

.statRightHolder {
	margin-top: 50px;
}
.statRightHolder ul {
	list-style: none;
	margin: 0;
}
.statRightHolder li {
	margin-bottom: 10px;
	/*border-bottom: 1px solid #ccc;
	height: 85px;
	width: 95%;
	position: relative;
	top: -25px;*/
}
.statRightHolder h3 {
	display: inline-block;
	margin: 0 10px;
	color: #333;
	font-weight: 300;
	font-size: 20px;
}
.statRightHolder span {
	display: inline-block;
	color: #333;
	font-size: 14px;
	font-weight: 300;
}

.statsLeft li {
	width: 100%;
	height: 14px;
	border: none;
	top: 5px;
	margin-bottom: 25px;
}
.statsLeft h3 {
	font-size: 17px;
	display: inline-block;
}
.statsLeft span {
	font-size: 17px;
	display: inline-block;
}

.statsRight li {
	width: 100%;
	height: 14px;
	border: none;
	top: 5px;
	margin-bottom: 25px;
}
.statsRight h3 {
	font-size: 17px;
	display: inline-block;
}
.statsRight span {
	font-size: 17px;
	display: inline-block;
}
/* Pie Chart */
.progress-pie-chart {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: #E5E5E5;
	position: relative;
}
.progress-pie-chart.gt-50 {
	background-color: #90d400;
}
.ppc-progress {
	content: "";
	position: absolute;
	border-radius: 50%;
	left: calc(50% - 100px);
	top: calc(50% - 100px);
	width: 200px;
	height: 200px;
	clip: rect(0, 200px, 200px, 100px);
}
.ppc-progress .ppc-progress-fill {
	content: "";
	position: absolute;
	border-radius: 50%;
	left: calc(50% - 100px);
	top: calc(50% - 100px);
	width: 200px;
	height: 200px;
	clip: rect(0, 100px, 200px, 0);
	background: #81CE97;
	transform: rotate(60deg);
}
.gt-50 .ppc-progress {
	clip: rect(0, 100px, 200px, 0);
}
.gt-50 .ppc-progress .ppc-progress-fill {
	clip: rect(0, 200px, 200px, 100px);
	background: #E5E5E5;
}
.ppc-percents {
	content: "";
	position: absolute;
	border-radius: 50%;
	left: calc(50% - 173.91304px/2);
	top: calc(50% - 173.91304px/2);
	width: 173.91304px;
	height: 173.91304px;
	background: #fff;
	text-align: center;
	display: table;
}
.ppc-percents span {
	display: block;
	font-size: 2.6em;
	font-weight: bold;
	color: #90d400;
}
.pcc-percents-wrapper {
	display: table-cell;
	vertical-align: middle;
}
.progress-pie-chart {
	margin: 30px auto 0;
}


 @media(max-width: 720px) {
	 
.progressDiv {
	height: auto;
}

.statChartHolder {
	width: 100%;
	display: block;
	padding-bottom: 65px;
	border-right: none;
	border-bottom: 1px solid #ccc
}
.statRightHolder {
	display: block;
	height: auto;
	width: 100%;
	position: relative;
	padding-top: 65px;
	margin-bottom: 100px;
}
	 

	 
/*Gamification page CSS*/	 
	 
	 
ul.badges-list li{
	list-style: none;
	display: flex;
 }
}

.progress-value-ls{
	font-size: 14px;
	position: absolute;
	margin: 5px 95px;
	letter-spacing: 2px;
}
.pro-task-text{
	width: 200px;
}