
/*Left menu*/
.nav-pills-course li:first-child{
	border-right: 2px solid #e8e8e8;
}
.nav-pills-course li:hover{
	background-color: #90d400;
	border-radius: .25em;
}
.nav-pills-course li a:hover{
	color: white;	
}

.nav-pills-course .active{
	background-color: #90d400;
	border-radius: .25em;
}

.cou-levels{
	margin: 20px 20px;
}
.cou-levels-item-1{
	border-bottom: 2px solid #e8e8e8;
	margin: 12px 0;
}

.cou-levels-item-1 .active, .cou-levels-item-2 .active, .cou-levels-item-3 .active{
	color: #90d400 !important;
}

/*Right content - header: Breadcrumb*/
ul.breadcrumb {
	padding: 5px;
    background-color: transparent;
	margin: 0;
}

ul.breadcrumb li {
	display: inline;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a.active {
	color: #90d400;
}


/*Courses contents*/

.mission-info{
	border: 1px solid #e8e8e8;
	padding: 20px;
}

.mission-instuctions{
	margin: 30px 0;
}

.mission-contents-des ol, .mission-instuctions ol, .mission-contents ol, .mission-instuctions p {
	font-size: 14px;
	margin-left: 30px;
}

.mission-contents-des ol li, .mission-instuctions ol li, .mission-contents ol li{
	margin-bottom: 10px;
}

/*Show Rewards*/
.at-reward-card {
  z-index: 999999;
  position: fixed;
  top: 40%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  width: 500px;
  height: 460px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.at-reward-card__header {
  position: relative;
  background: #f95979;
  height: 140px;
  margin: 0 0 60px;
}
.at-reward-card__thumbnail {
  position: absolute;
  top: 60px;
  left: 50%;
  display: block;
  margin: 0 auto;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.at-reward-card__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}
.at-reward-card__content h2 {
  margin: 0 0 10px;
  padding: 0;
  color: #f95979;
  font-size: 20px;
}
.at-reward-card__content span {
  margin: 0;
  padding: 0;
  color: #444444;
  font-size: 16px;
}
.at-reward-card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 60px;
}
.at-reward-card__button {
  outline: none;
  display: block;
  background: #FAFAFA;
  width: 100%;
  border: 0;
  margin: 0 1px;
  font-size: 18px;
  line-height: 60px;
  cursor: pointer;
}
.at-reward-card__button:hover {
  background: #F3F3F3;
}
.at-reward-card__button:first-child {
  margin-left: 0;
  color: #CCCCCC;
}
.at-reward-card__button:last-child {
  margin-right: 0;
  color: #f95979;
  font-weight: 600;
}


/*Multiple Chices*/
.question .choices {
  min-width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.question .choices .choice {
  position: relative;
}
.question .choices .choice input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.question .choices .choice label {
  font-weight: normal;
  cursor: pointer;
  display: block;
  padding: 9px;
  border-radius: 5px;
  background: #ddd;
}
.question .choices .choice label:hover {
  background: #8d8;
}
.question .choices .choice label i {
  margin-right: 8px;
  color: #888;
}
.question .choices .choice input:checked + label {
  background: #90d400;
}














