.hover {
	color: black;
}
.hover:hover {
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
	padding: 10px;
	margin-top: -10px;
}
/*Courses Cards*/
.post-module {
	position: relative;
	z-index: 1;
	display: block;
	background: #FFFFFF;
	min-width: 240px;
	height: auto;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
	-webkit-transition: all 0.3s linear 0s;
	-moz-transition: all 0.3s linear 0s;
	-ms-transition: all 0.3s linear 0s;
	-o-transition: all 0.3s linear 0s;
	transition: all 0.3s linear 0s;
}
.post-module:hover, .hover {
	-webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}
.post-module:hover .thumbnail img, .hover .thumbnail img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	transform: scale(1.2);
	opacity: .6;
}
.post-module .thumbnail {
	background: #000000;
	height: 400px;
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0 3px 10px 0 #e8e8e8;
}
.post-module .thumbnail .date {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 1;
	/*background: #e74c3c;*/
	width: 55px;
	height: 55px;
	padding: 5px 0;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	color: #FFFFFF;
	font-weight: 700;
	text-align: center;
	-webkti-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.post-module .thumbnail .planet, .post-module .post-content .planet {
	background: #e74c3c;
}
.post-module .thumbnail .mission, .post-module .post-content .mission {
	background: #ed7301;
}
.post-module .thumbnail .date .day {
	font-size: 18px;
	margin-top: 3px;
}
.post-module .thumbnail .date .month {
	font-size: 12px;
	text-transform: uppercase;
}
.post-module .thumbnail img {
	display: block;
	width: 120%;
	transform: translate(-3%, -3%);
	-webkit-transition: all 0.3s linear 0s;
	-moz-transition: all 0.3s linear 0s;
	-ms-transition: all 0.3s linear 0s;
	-o-transition: all 0.3s linear 0s;
	transition: all 0.3s linear 0s;
}
.post-module .post-content {
	position: absolute;
	bottom: 0;
	background: #FFFFFF;
	width: 100%;
	padding: 16px;
	-webkti-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
	-moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
	-ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
	-o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
	transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}
.post-module .post-content .category {
	position: absolute;
	top: -34px;
	left: 0;
	/*background: #e74c3c;*/
	border-radius: 2px;
	padding: 10px 15px;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}
.post-module .post-content .title {
	margin: 0;
	padding: 0 0 10px;
	color: #333333;
	font-size: 16px;
	font-weight: 700;
}
.post-module .post-content .sub-title {
	margin: 0;
	color: #ed7201;
	font-size: 14px;
	font-weight: 400;
}
.post-module .post-content .description {
	display: none;
}
.post-module .post-content .description a {
	color: #666666;
	font-size: 12px;
	line-height: 1.8em;
	font-style: italic;
	margin-right: 3px;
}
.post-module .post-content .description a:hover {
	color: #ED7301;
}
.post-module .post-content .post-meta {
	margin: 10px 0 0;
	color: #999999;
}
.post-module .post-content .post-meta a {
	color: #999999;
	text-decoration: none;
}
.hover .post-content .description {
	display: block !important;
	height: auto !important;
	opacity: 1 !important;
}
/*Courses Created CSS*/

[type=reset], [type=submit], button, html [type=button] {
	-webkit-appearance: inherit;
}
#preserve-metadata {
	display: block;
	height: auto;
	margin: 0 auto;
}
#preserve-metadata ol {
	list-style: none;
}
.multi-choice-option {
	border: 1px solid #90D400;
	margin: 5px;
}
.multi-choice-option:hover {
	background-color: #90D400;
}
.multi-choice-option.checked {
	background-color: #90D400;
	color: white;
}

.stepwizard-step p {
	margin-top: 10px;
}
.stepwizard-row {
	display: table-row;
}
.stepwizard {
	display: table;
	width: 100%;
	position: relative;
}
.stepwizard-step button[disabled] {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
	top: 14px;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 100%;
	height: 1px;
	background-color: #ccc;
	z-order: 0;
}
.stepwizard-step {
	display: table-cell;
	text-align: center;
	position: relative;
}
.btn-default {
	color: #333;
	/*background-color: #e8e8e8;*/
	border-color: #ccc;
}
.btn-round {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px!important;
}
input[type=checkbox], input[type=radio] {
	display: none;
}
/*Courses Created CSS- end*/




/*<<<<<<<<>>>>>>>>>>>>*/
/*<<<Courses Discover - Select>>>>>*/
/*<<<<<<<<>>>>>>>>>>>>*/

.btn-courses {
	width: 50px;
	height: 50px;
	padding: 6px 0;
	border-radius: 100%;
	text-align: center;
	font-size: 16px;
	line-height: 1.428571429;
}
.card-course-select {
	margin-bottom: -40px;
}
.courses-select-row {
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* Hide the browser's default checkbox */
.courses-select-row input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
.form-group label {
	line-height: 1.6;
/*margin-right: 20px;*/
}


/*<<<<<<<<>>>>>>>>>>>>*/
/*<<<Courses homepage - before publishing>>>>>*/
/*<<<<<<<<>>>>>>>>>>>>*/

.missions-keywords a {
	color: #007bff;
	margin-right: 10px;
}
.missions-keywords a:hover {
	/*color: #00B3BF;*/
	color: #F29B04;
}

.mission-levels, .mission-tasks  {
	text-align: left;
	margin-left: 0;
	list-style: none;
	counter-reset: counter;
	position: relative;
}

.mission-tasks li.active{
	color: #90D400;
}

.mission-item > span:before{
	counter-increment: counter;
	position: relative;
	display: inline-block;
	line-height: 40px;
	text-align: center;
	z-index: 100;
	width: 60px;
	height: 60px;
	margin: 0 10px 0 0;
	background-color: #ffffff;
	border-radius: 40px;
}

.m-levels-num:before {	
	content: counter(counter);	
	border: 10px solid #90D400;	
	font-size: 24px;	
	color: #90D400;	
}

.m-tasks-num:before {
	content: counters(counter,".") " ";
	border: 10px solid #F5B51C;
	font-size: 20px;
	color: #F5B51C;
}

.m-assigns-num:before {
	content: counters(counter,".") " ";
	border: 10px solid #00B3BF;
	font-size: 20px;
	color: #00B3BF;
}

.m-challenges-num:before {
	content: counters(counter,".") " ";
	border: 10px solid #F95979;
	font-size: 20px;
	color: #F95979 ;
}


/*small level circle*/
.mission-item-sm > span:before{
	counter-increment: counter;
	position: relative;
	display: inline-block;
	line-height: 28px;
	text-align: center;
	z-index: 100;
	width: 40px;
	height: 40px;
	margin: 0 10px 0 0;
	background-color: #ffffff;
	border-radius: 40px;
}

.m-levels-num-sm:before {	
	content: counter(counter);	
	border: 6px solid #90D400;	
	font-size: 20px;	
	color: #90D400;	
}

.m-tasks-num-sm:before {
	content: counters(counter,".") " ";
	border: 6px solid #F5B51C;
	font-size: 14px;
	color: #F5B51C;
}

.m-assigns-num-sm:before {
	content: counters(counter,".") " ";
	border: 6px solid #00B3BF;
	font-size: 14px;
	color: #00B3BF;
}

.m-challenges-num-sm:before {
	content: counters(counter,".") " ";
	border: 6px solid #F95979;
	font-size: 14px;
	color: #F95979 ;
}
/*small level circle*/

.editable-title{
	display: inline-block;
	background: #E6E6E6;
	border-radius: 3px;
	padding: 10px;
	font-weight: 500;
	outline: none;
	border: 2px solid transparent;
}

.m-levels-title {	
	width: 74%;
	font-size: 18px;	
}

.m-tasks-title, .m-assigns-title, .m-challenges-title {
	width: 72%;
	font-size: 16px;
}

.m-chall-quest-title{
	width: 83.7%;
	font-size: 16px;
}

.m-chall-quest{
	width: 83%;
	margin-left: 33px;
}

.m-chall-quest-btnradio{
    width: 83%;
}

.editable-title:focus{
	background: #ffffff;
}

.m-levels-title:focus{
	border-bottom-color: #90D400;
}

.m-tasks-title:focus{
	border-bottom-color: #F5B51C;
}

.m-assigns-title:focus{
	border-bottom-color: #00B3BF;
}

.m-challenges-title:focus{
	border-bottom-color: #F95979;
}

.m-chall-quest-title:focus{
	border-bottom-color: #F95979;
}

.m-chall-quest:focus{
	border-bottom-color: #90D400;
}

.mission-add-level{
	text-align: center;
	padding: 10px;
	font-size: 22px;
	font-weight: 700;
	border: 2px dashed #90D400;
}

.mission-add-quest-ch{
	width: 98%;
	text-align: center;
	padding: 6px;
	font-size: 20px;
	font-weight: 700;
	border: 2px dashed #90D400;
}

.mission-add-level >a:hover{
	color: #F5B51C;
}

/*-----------------------------------*/
/* teacher's information and mission results */
/*-----------------------------------*/

.comment-list {
	position: relative;
	margin-bottom: 26px;
}
.comment-list h2 {
	font-size: 23px;
	margin-bottom: 30px;
}
.link-add-comment {
	position: absolute;
	top: 6px;
	right: 2px;
	color: #f87600;
	text-decoration: underline;
	text-shadow: none;
}
.comment-list li.comment {
	padding-left: 80px;
	position: relative;
}
.comment-body {
	padding: 23px 20px;
	border-radius: 5px;
	-webkit-box-shadow: 0 2px 1px rgba(224, 222, 220, 0.75);
	box-shadow: 0 2px 1px rgba(224, 222, 220, 0.75);
	position: relative;
	margin-bottom: 18px;
	border: 1px solid #dfdcd6;
	background: #fbfbfb;
}
.comment-body:before, .comment-body:after {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	top: 14px;
	left: -8px;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 7px solid #dfdcd6;
}
.comment-body:after {
	left: -6px;
	border-right-color: #fbfbfb;
}
.comment-avatar {
	position: absolute;
	top: 0;
	left: -80px;
	width: 65px;
	height: 65px;
	background: #fbfbfb;
	border-radius: 100%;
	-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.comment-avatar img {
	display: block;
	width: 57px;
	height: 57px;
	margin: 5px;
	border-radius: 100%;
}
.comment-author {
	margin-bottom: 11px;
}
.comment-author .link-author {
	float: left;
	font-size: 18px;
	color: #3e362b;
}
.comment-author .comment-meta {
	float: right;
	font-size: 12px;
	color: #a4a4a4;
	text-align: right;
	margin-top: 4px;
}
.comment-author .comment-meta .link-reply {
	color: #a4a4a4;
}
.comment-entry {
	line-height: 19px;
}

@media (max-width: 479px) {
.comment-list .children li.comment {
	margin-left: -80px;
}
.comment-list .children li.comment:before {
	display: none;
}
.link-add-comment {
	top: 30px;
	left: 0;
	right: auto;
}
.comment-author .link-author,  .comment-author .comment-meta {
	float: none;
	text-align: left;
	display: block;
}
.comment-body {
	padding: 10px;
}
}
/*-----------------------------------*/
/* Simple Message Field */
/*-----------------------------------*/

.message-field .comment-body {
	padding: 13px 14px;
}
.message-field .comment-author {
	margin-bottom: 5px;
}
.message-field .comment-author .link-author {
	float: none;
	font-size: 16px;
	color: #5a5a5a;
}
.message-field .comment-entry {
	font-size: 14px;
	color: #a5a5a5;
}
/*Mission states*/
/*.mission-states{
	vertical-align: middle!important;
	padding: 0!important;
}

.mission-states-title{
	width: 160px;
}*/

section {
	height: auto;
	display: flex;
}
.content {
	width: calc(80% - 0px);
	height: inherit;
	box-sizing: border-box;
	padding: 10px 20px 0px 20px;
	text-align: left;
}
.imgeBox {
	width: calc(40% + 0px);
	height: 100%;
	background: #f00;
	box-sizing: border-box;
	border-left: 100px solid rgba(255,255,255,1.00);
	border-bottom: 400px solid transparent;
	background: url('../img/PLANET-Y_planet-with-inhabitants.png');
	background-position: -140px -10px;
}

div.text-mission-des {
	text-align: left;
	padding: 6px 20px;
	line-height: 1.6;
	color: #333;
	font-size: 14px;
}

/*Mission Levels CSS*/

.accordion-item label {
	color: #666;
	font-size: 20px;
	cursor: pointer;
	padding: 0.8em 1em 0.8em 0;
}
.accordion-item label:hover {
	color: #90D400;
}
.accordion-item label:hover:before {
	background: #e3f1b5;
}
.accordion-item label:before {
	text-align: center;
	content: counter(li);
	border: 10px solid #90D400;
	border-radius: 40px;
	display: inline-block;
	width: 60px;
	height: 60px;
	line-height: 40px;
	font-size: 24px;
	margin: 0 0.5em 0 0;
	background: white;
	color: #90D400;
}
.css-accordion {
	list-style-type: none;
	counter-reset: li;/*padding: 20px;
  margin: 20px;*/
}
.accordion-item {
	counter-increment: li;
	padding: 0;
	margin-bottom: 10px;
}
.accordion-item .item-content-container {
	border-left: 10px solid #90D400;
	padding: 6px 0;
	margin: -26px 0 -26px 25px;
}
.accordion-item .item-content-container .item-content {
	background: #eee;
	padding: 0 1em;
	overflow: hidden;
	margin: 0 0 0 36px;
	border-radius: 2px;/* box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(255, 255, 255, 0.9);*/
}
.accordion-item .item-content-container .item-content li {
	margin-bottom: 20px;
}
.accordion-item .item-content-container .item-content p {
	margin: 0.5em 0;
	font-size: 14px;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
}
.accordion-item input[type=radio], [type=checkbox] {
	display: none;/*---- End &:checked ----*/
}
.accordion-item input[type=radio], [type=checkbox] ~ .item-content-container {
	overflow: hidden;
}
.accordion-item input[type=radio], [type=checkbox] ~ .item-content-container .item-content {
	height: 0;
	transition: all 0.3s linear;
}
.accordion-item input[type=radio], [type=checkbox]:checked ~ .item-content-container {
	height: auto;
	overflow: visible;
}
.accordion-item input[type=radio], [type=checkbox]:checked ~ .item-content-container .item-content {
	height: auto;
	overflow-y: auto;
	transition: all 0.5s linear;
}
.accordion-item input[type=radio], [type=checkbox]:checked + label {
	color: #90D400;
}
.accordion-item input[type=radio], [type=checkbox]:checked + label:before {
	background: #e3f1b5;
}
/*---- End .accordion-item ----*/
/*---- End .css-accordion ----*/





/*Edit mission contents*/
/*Add mission contents - task - add learning objects*/
.elem-block{
	border: 1px solid #e8e8e8;
	padding: 10px;
}

.mission-item{
	padding: 10px 0;
}

.mission-item p, .mission-item .mission-contents{
	padding-left: 35px;
}

.list-quest{
	list-style: none;
}
ul.list-quest li{
	margin: 10px 0;
}

.select-quest{
	margin: 10px 0;
}


/*Show challenge*/

.timer-count{
	height: 50px;
	vertical-align: middle;
    text-align: center;
    background:url('../img/Chat-Friends-Groups-BackGround.png');
    margin: 0 200px;
    border-radius: 5px;
    color: white;
	margin-bottom: 30px;
}

.timer-count h4{
	padding: 10px;
}

.multi-choice-wrap{
	margin: auto 0;
}

.multi-choice-title{
	font-size: 20px;
	font-weight: 400;
}

.quest-hint{
	padding: 0 70px;
}

.choices{
	padding: 0 70px;
}
.choices .choice {
	position: relative;
}
.choices .choice input {
	position: absolute;
	clip: rect(0, 0, 0, 0);

}
.choices .choice label {
	font-weight: normal;
	cursor: pointer;
	display: block;
	padding: 10px;
	border-radius: 5px;
	background: #e6e6e6;
}
.choices .choice label:hover {
	color: #ffffff;
    background: #F29B04;
}

.choices .choice input:checked + label {
	color: #ffffff;
    background: #ED730E;
}

.choices .choice label.ns-right-ans{
	color: #343a40;
	background: #e8e8e8!important;
}

.choices .choice label.right-ans {
	color: #ffffff;
	background: #90D400!important;
}

.choices .choice label.false-ans {
	color: #ffffff;
	background: #dc3545!important;
}

.show-result{
	border: dashed 1px #e8e8e8;
    padding: 10px;
    margin-bottom: 10px;
}

.custom-radio .custom-control-input:checked~.custom-control-label.right-choice::before {
    background-color: #90D400;
    border: 2px solid #90D400;
}

.custom-radio .custom-control-input:checked~.custom-control-label.wrong-choice::before {
    background-color: #dc3545;
    border: 2px solid #dc3545;
}