/*/////////////////////////////*/
/*///////////Buttons///////////*/
/*/////////////////////////////*/


.btn-orange {
	color: #ffffff!important;
	background-color: #ED730E;
	border-color: #F4A22B;
}
.btn-orange:hover {
	opacity: 0, 8;
	color: #ffffff;
	border: none;
	background-color: #F5B51C;
}
.btn-outline-orange {
	color: #F4A22B!important;
	background-color: transparent;
	background-image: none;
	border-color: #F4A22B;
}
.btn-outline-orange:hover {
	opacity: 0, 8;
	color: #ffffff!important;
	border: none;
	background-color: #F29B04;
}

/*/////////////////////////////*/
/*///////////Buttons///////////*/
/*/////////////////////////////*/



