
/*Featured resources*/


.res-container{
	position: relative;
	/*max-width: 800px;*/
	margin: 0 auto;
}

.res-container img{
	vertical-align: middle;
}

.res-container .res-overlay-left{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.5);
	overflow: hidden;
	color: #f1f1f1;
	width: 40%;
	height: 100%;
	transition: .5s ease;
	padding: 30px 20px 20px;
}

.res-container .res-overlay-left:hover{
	/*padding: 30px;*/
	width: 50%;
}

.res-container .res-overlay-bottom{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.5);
	overflow: hidden;
	color: #f1f1f1;
	width: 100%;
	height: 26%;
	transition: .5s ease;
	padding: 20px;
}

.res-container .res-overlay-bottom:hover{
	/*padding: 30px;*/
	height: 90%;
}