

@font-face {
	font-family: Roboto-Light;
	src: local("Roboto"), url("fonts/Roboto-Regular.ttf");
}

body {
	font-family: 'Roboto', sans-serif!important;
	font-weight: 400;
	background-color: #f0f3f5;
	font-size: 14px;
	color: #575756;
	line-height: inherit !important;
	margin-top: 80px;
	overflow: auto !important;
	padding-right: 0!important;
}

/*Scroll Bar custmise*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px #f8f8f8; 
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background:#f8f8f8;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #878787; 
}

h3,h4,h5,h6{
	font-family: 'roboto blod', sans-serif;
}

p{
	font-family: 'Roboto Regular',sans-serif;
}

.text-muted {
    color: #868e96!important;
    text-align: center;
    margin-top: 8px;
}

.text-title {
    font-size: 18px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

a {
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	color: #413E3E;
	text-decoration: none;
}
a.link {
	color: #007bff;
}
a:hover {
	color: #7F7C7C;
}
a.link:hover {
	color: #F29B04;
}

/*BTN Color*/

.btn-green {
	color: #ffffff!important;
	background-color: #90D400;
    /*border-color: #81B228;*/
    width: 25%;
}
.btn-green:hover {
	opacity: 0.8;
	color: #ffffff;
	border: none;
	background-color: #00983D;
}
.btn-outline-green {
	color: #90D400!important;
	background-color: transparent;
	background-image: none;
	border-color: #90D400;
}
.btn-outline-green:hover {
	opacity: 0.8;
	color: #ffffff!important;
	border: none;
	background-color: #00983D;
}
.btn-orange {
	color: #ffffff!important;
	background-color: #ED730E;
	/*border-color: #ED730E;*/
    width: 25%;
}
.btn-orange:hover {
	opacity: 0.8;
	color: #ffffff;
	border: none;
	background-color: #F29B04;
}
.btn-outline-orange {
	color: #F4A22B!important;
	background-color: transparent;
	background-image: none;
	border-color: #F4A22B;
}
.btn-outline-orange:hover {
	opacity: 0.8;
	color: #ffffff!important;
	border: none;
	background-color: #F29B04;
}
.btn-outline-pink {
	color: #eba2a2!important;
	background-color: transparent;
	background-image: none;
	border-color: #eba2a2;
}
.btn-outline-pink:hover {
	opacity: 0.8;
	color: #ffffff!important;
	border: none;
	background-color: #EDB5B6;
}
.btn-purple {
	color: #ffffff!important;
	background-color: #3b5998;
	border-color: #3b5998;
}
.btn-purple:hover {
	opacity: 0.8;
	color: #4F5880;
	background-color: #323D6B;
}

.btn-parent {
	color: #ffffff!important;
	background-color: #fa5977;
	border-color: #fa5977;
}
.btn-parent:hover {
	opacity: 0.8;
	color: #ffffff;
	border: none;
	background-color: #be272c;
}

.btn-orga {
	color: #ffffff!important;
	background-color: #00b3be;
	border-color: #00b3be;
}
.btn-orga:hover {
	opacity: 0.8;
	color: #ffffff;
	border: none;
	background-color: #037AA0;
}

.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	cursor: inherit;
	display: block;
}

.btn-swal2-green{
    background-color: #90D400!important;
}

.btn-swal2-orange{
    background-color: #ED730E!important;
}

/*Button colors ends*/




.card-header {
	background: url("../img/CardHeaderBG.png");
	border-bottom: none!important;
}
.card-header-with-border {
	background: #ffffff;
	box-shadow: 0 2px 1px 0 #e8e8e8;
	padding-top: 18px;
	color: #5B5A5A;
}
.card-header-without-border {
	background: #ffffff;
	color: #5B5A5A;
}
/*/////CSS//////////////////*/
/* Create a custom checkbox and radio button*/
/*/////CSS//////////////////*/

/* The container */
.select-checkbox {
	display: block;
	position: relative;
	/*margin-bottom: 12px;*/
	cursor: pointer;
	/*font-size: 22px;*/
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* Hide the browser's default checkbox */
.select-checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
/* Create a custom checkbox */
.select-checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	border: 2px solid #ccc;
	border-radius: 2px;
	/*z-index: 2;*/
}
/* On mouse-over, add a grey background color */
.select-checkbox:hover input ~ .select-checkmark {
	background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.select-checkbox input:checked ~ .select-checkmark {
	background-color: #90D400;
	border: 2px solid #90D400;
}
/* Create the checkmark/indicator (hidden when not checked) */
.select-checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
/* Show the checkmark when checked */
.select-checkbox input:checked ~ .select-checkmark:after {
	display: block;
}
/* Style the checkmark/indicator */
.select-checkbox .select-checkmark:after {
	left: 4px;
	width: 8px;
	height: 14px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.checkbox-label {
	/*font-size: 14px;*/
	margin-left: 30px;
	line-height: 20px;
}
/*Radio Box*/
.custom-control-label::before {
	width: 20px;
	height: 20px;
	top: 0px;
	left: 0px;
	border: 2px solid #ccc;
	background-color: #ffffff;
}
.custom-control-label::after {
	width: 20px;
	height: 20px;
	top: 0;
	left: 0;
}
.custom-radio .custom-control-input:checked~.custom-control-label::before {
	background-color: #90D400;
	border: 2px solid #90D400;
}
.custom-control-input:checked~.custom-control-label::before {
	color: #fff;
	background-color: #90D400;
}
/*/////CSS//////////////////*/
/* Create a custom checkbox and radio button*/
/*/////CSS//////////////////*/

/*Table*/
table td, table th {
	border-top: none !important;
	border-bottom: 1px solid #dee2e6;
	vertical-align: middle!important;
}
/*Table*/


/*/////CSS//////////////////*/
/* Keywords/Hashtags*/
/*/////CSS//////////////////*/


.keywords a {
	color: #007bff;
	margin-right: 10px;
}
.keywords a:hover {
	/*color: #00B3BF;*/
	color: #F29B04;
}
/*<<<<<<<<>>>>>>>>>>>>*/
/*<<<Navigation>>>>>>*/
/*<<<<<<<<>>>>>>>>>>>>*/

/*Nav Color*/
.nav-fixed-top{
	border-top: 4px solid rgba(248, 223, 39, 1);
}

.navbar-dark .navbar-nav .nav-link {
	color: #ffffff;
	font-size: 16px;
	letter-spacing: 2px;
}
.navbar-nav .nav-item .active {
	color: #f5b51c!important;
}
.navbar-dark .navbar-toggler-icon {
	background-image: url("../img/btn-menu.png");
}
.navbar-dark .navbar-toggler {
	color: #323131;
	border-color: rgba(255,255,255,.5);
}
.bg-dark {
	background-color: #575756 !important;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 10px 0px;
}
.card {
	transition: all 0.5s ease;
	border-radius: 0px;
	border-width: 0px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 10px 0px;
}
.nav-item .input-group {
	padding: 6px 60px;
	margin-right: 160px;
}

.nav-item .nav-link .nav-text{
    display: none;
}

/*Tabs*/

.nav-tabs .nav-item.show .nav-link-s, .nav-tabs .nav-link-s.active {
	color: #90d400;
	border-bottom: 2px solid #90d400;
	background-color: none!important;
	border-color: none!important;
}
/*sub-menu*/

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	border-left: 6px solid #90d400;
}
.nav>li>a {
	position: relative;
	display: block;
	padding: 10px;
	font-weight: 500;/*font-size: 18px;*/
	/*width: 130px;*/
}
.nav-tabs>li>a {
	margin: 0 20px;/*width: 130px;*/
}
.list-group-item.active {
	border-left: 6px solid #90D400;
	z-index: 2;
	color: #222;
	background-color: #fff;
	border-color: #90D400;
}
ul.nav-list-info li {
	border-top: 1px solid #f8f8f8;
}
/*//////////////////////////*/
/*Img-cover-button-size*/
/*//////////////////////////*/
.btn-round {
	border-radius: 100%;
	width: 40px;
	height: 40px;
	text-align: center;
}
.btn-circle {
	width: 30px;
	height: 30px;
	padding: 6px 0;
	border-radius: 100%;
	text-align: center;
	font-size: 16px;
	line-height: 1.428571429;
}
.btn-circle img {
	width: 100%;
	margin-top: -10px;
}
.btn-avatar {
	width: 50px;
	height: 50px;
	padding: 1px;
	border-radius: 100%;
	text-align: center;
	font-size: 16px;
	line-height: 1.428571429;
}

.btn-avatar img {
    width: 100%;
    height: 46px;
    border-radius: 100%;
}

.btn-friend img {
	width: 86px;
	height: 86px;
	border-radius: 50%;
}

.btn-points {
	width: 80px;
	height: 80px;
	padding: 1px;
	border-radius: 100%;
	text-align: center;
	font-size: 16px;
	line-height: 1.428571429;
}

.btn-points img{
    width: 100%;
    height: 58px;
    border-radius: 100%;
}

.btn-badges {
	width: 100px;
	height: 100px;
	padding: 1px;
	border-radius: 100%;
	text-align: center;
	font-size: 16px;
	line-height: 1.428571429;
}

.btn-badges img{
    width: 100%;
    height: 96px;
    border-radius: 100%;
}

.btn-certificates {
	width: 120px;
	height: 120px;
	padding: 1px;
	border-radius: 100%;
	text-align: center;
	font-size: 16px;
	line-height: 1.428571429;
}
.btn-avatar img, .btn-points img, .btn-badges img, .btn-certificates img {
	width: 100%;
}
.btn-rect {
	width: 50px;
	height: 50px;
	padding: 6px;
	border-radius: 4px;
	border: 1px solid #C9C7C7;
	position: relative;
}
/*.btn-rect img{
	height: 130%;  
    width: 150%;  
    left:50%;  
    position: relative; 
    border-radius: 3px;
	top: 15%;
    -webkit-transform: translateX(-50%);  
    -ms-transform: translateX(-50%);  
    -moz-transform: translateX(-50%);
}*/

.btn-rect-md {
	width: 160px;
	height: 160px;
	padding: 0px;
	border-radius: 15px;
	/*border: 1px solid #C9C7C7;*/
	overflow: hidden;
	position: relative;
}

.btn-rect-lg {
	width: 100%;
	height: 180px;
	padding: 10px;
	border-radius: 15px;
	border: 1px solid #C9C7C7;
	overflow: hidden;
	position: relative;
}
.btn-rect-lg img {
	border-radius: 15px;
	position: absolute;
	/*top: 0%;
    height: 120%;
    left: 0%;*/
	transform: translate(-50%, -10%);/*transform: scale(1.2);*/
}
.btn-nav {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	text-align: center;
	font-size: 16px;
	line-height: 1.428571429;
}

.btn-nav img{
    border-radius: 100%;
    width: 100%;
}

.btn-set-point {
	float: right;
}



/*<<<<<<<<>>>>>>>>>>>>*/
/*<<<Left side menu >>>*/

/*<<<Nav Bar>>>*/
/*<<<<<<<<>>>>>>>>>>>>*/

.nav-stacked li a:hover {
	/*background-color: #90D400 ;
	color: #ffffff !important;*/
	transform: scale(0.99);
	opacity: .8;
}
.nav-stacked li {
	border-bottom: 1px solid #ededed;
	border-radius: 2px;
}
/*<<<<<<<<>>>>>>>>>>>>*/
/*Daily Goal*/
/*<<<<<<<<>>>>>>>>>>>>*/

blockquote.bubble {
	font: inherit;
	padding: 10px;
	color: #ffffff;
	background: #E0B036;
	background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);
	background: linear-gradient(to right, #C9941F, #E0B036);
	border-radius: 15px;
	letter-spacing: .082em;
}
blockquote.bubble:before {
	content: '';
	position: absolute;
	left: 90%;
	top: -30px;
	width: 21px;
	height: 64px;
	border-width: 0;
	border-style: solid;
	border-color: transparent;
	border-bottom-width: 14px;
	border-bottom-color: currentColor;
	border-radius: 0 0 128px 0;
	color: #E0B036;
}
blockquote.bubble:after {
	content: '';
	position: absolute;
	left: 90%;
	top: -30px;
	width: 21px;
	height: 64px;
	border-width: 0;
	border-style: solid;
	border-color: transparent;
	border-bottom-width: 14px;
	border-bottom-color: currentColor;
	border-radius: 0 0 128px 0;
	color: #E0B036;
}
.robot-box {
	display: inline-block;
	width: 40px;
	height: 60px;
	padding: 4px 0;
	margin-left: 9px;
	border-radius: 15px;
	text-align: center;
}


/*<<<<<<<<>>>>>>>>>>>>*/
/*Daily Goal - Modal*/
/*<<<<<<<<>>>>>>>>>>>>*/
.modal-body{
    text-align: left;
}

/*<<<<<<<<>>>>>>>>>>>>*/
/*Announcement*/
/*<<<<<<<<>>>>>>>>>>>>*/


.carousel-item {
	height: 65vh;
	min-height: 300px;
	/*background: no-repeat center center scroll;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.carousel-indicators li {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	color: #000000;
	background-color: rgba(98,97,97,0.8);
}
.carousel-indicators .active {
	background-color: #90D400;
}
.carousel-caption {
	top: 20px;
	color: #2E2E2E;
}
.carousel-control-next, .carousel-control-prev {
	color: #3D3D3D;
}
.carousel-control-next:hover, .carousel-control-prev:hover {
	color: #3D3D3D;
}
/*<<<<<<<<>>>>>>>>>>>>*/
/*Chat-Message*/
/*<<<<<<<<>>>>>>>>>>>>*/

.text-message {
	color: #868e96;
	font-size: 12px;
}
/*<<<<<<<<>>>>>>>>>>>>*/
/*<<<Radio>>>*/
/*<<<<<<<<>>>>>>>>>>>>*/

.radio-player {
/*position: relative;
	min-height: 20em;
	overflow: hidden;
	background-color: #eee;
	border-radius: 0.25em;
	box-shadow: 0 1.5em 2em -1em rgba(0,0,0,0.8),  inset 0 0.0625em 0 rgba(255,255,255,1),  inset 0 -0.125em 0.0625em rgba(0,0,0,0.3);*/
}
.radio-album {
	position: relative;
	left: 50%;
	width: 10em;
	height: 10em;
	margin-bottom: -13%;
	overflow: hidden;
	transform: translate(-50%, 6%);
	background-color: #111;
	border: 1px solid #111;
	border-radius: 50%;
	box-shadow: 0 0.0625em 0.1875em rgba(0,0,0,0.5), 0 0 0.125em 0.3125em #ddd, 0 0.0625em 0 0.375em #bbb, 0 0 0.375em 0.325em rgba(0,0,0,0.3), 0 0 0.5em 0.375em rgba(0,0,0,0.3), 0 0.25em 1em 0.5em rgba(0,0,0,0.15), inset 0 0 0 0.0625em rgba(0,0,0,0.5), inset 0 0 0 0.1875em rgba(255,255,255,1), inset 0 0 0 0.375em rgba(0,0,0,0.5), inset 0 0 0 0.4375em rgba(255,255,255,0.2), inset 0 0 0 0.5em rgba(0,0,0,0.5), inset 0 0 0 0.5625em rgba(255,255,255,0.3), inset 0 0 0 0.625em rgba(0,0,0,0.5), inset 0 0 0 0.6875em rgba(255,255,255,0.2), inset 0 0 0 0.75em rgba(0,0,0,0.5), inset 0 0 0 0.8125em rgba(255,255,255,0.3), inset 0 0 0 0.875em rgba(0,0,0,0.5), inset 0 0 0 0.9375em rgba(255,255,255,0.3), inset 0 0 0 1em rgba(0,0,0,0.5), inset 0 0 0 1.0625em rgba(255,255,255,0.2), inset 0 0 0 1.125em rgba(0,0,0,0.5), inset 0 0 0 1.1875em rgba(255,255,255,0.3), inset 0 0 0 1.25em rgba(0,0,0,0.5), inset 0 0 0 1.3125em rgba(255,255,255,0.2), inset 0 0 0 1.375em rgba(255,255,255,0.2), inset 0 0 0 1.4375em rgba(0,0,0,0.5), inset 0 0 0 1.5em rgba(255,255,255,0.3), inset 0 0 0 1.5625em rgba(0,0,0,0.5), inset 0 0 0 1.625em rgba(255,255,255,0.3), inset 0 0 0 1.6875em rgba(0,0,0,0.5), inset 0 0 0 1.75em rgba(255,255,255,0.2), inset 0 0 0 1.8125em rgba(0,0,0,0.5), inset 0 0 0 1.875em rgba(255,255,255,0.2), inset 0 0 0 1.9375em rgba(0,0,0,0.5), inset 0 0 0 2em rgba(255,255,255,0.3), inset 0 0 0 2.0625em rgba(0,0,0,0.5), inset 0 0 0 2.125em rgba(0,0,0,0.5), inset 0 0 0 2.1875em rgba(255,255,255,0.1), inset 0 0 0 2.25em rgba(0,0,0,0.5), inset 0 0 0 2.3125em rgba(255,255,255,0.2), inset 0 0 0 2.375em rgba(255,255,255,0.1), inset 0 0 0 2.4375em rgba(0,0,0,0.5), inset 0 0 0 2.5em rgba(255,255,255,0.3), inset 0 0 0 2.5625em rgba(0,0,0,0.5), inset 0 0 0 2.625em rgba(255,255,255,0.2), inset 0 0 0 2.6875em rgba(0,0,0,0.5), inset 0 0 0 2.75em rgba(255,255,255,0.2), inset 0 0 0 2.8125em rgba(0,0,0,0.5), inset 0 0 0 2.875em rgba(255,255,255,0.2), inset 0 0 0 2.9375em rgba(0,0,0,0.5), inset 0 0 0 3em rgba(255,255,255,0.3), inset 0 0 0 3.0625em rgba(0,0,0,0.5), inset 0 0 0 3.125em rgba(0,0,0,0.5), inset 0 0 0 3.1875em rgba(255,255,255,0.2), inset 0 0 0 3.25em rgba(0,0,0,0.5), inset 0 0 0 3.3125em rgba(255,255,255,0.2), inset 0 0 0 3.375em rgba(255,255,255,0.1), inset 0 0 0 3.4375em rgba(0,0,0,0.5), inset 0 0 0 3.5em rgba(255,255,255,0.3);
}
.radio-album::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	transform: translate(-50%, -50%);
	background-image: linear-gradient( -45deg, rgba(255,255,255,0) 30%, rgba(255,255,255,0.125), rgba(255,255,255,0) 70% ), linear-gradient( -48deg, rgba(255,255,255,0) 45%, rgba(255,255,255,0.075), rgba(255,255,255,0) 55% ), linear-gradient( -42deg, rgba(255,255,255,0) 45%, rgba(255,255,255,0.075), rgba(255,255,255,0) 55% ), radial-gradient( circle at top left, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 80% ), radial-gradient( circle at bottom right, rgba(0,0,0,1) 20%, rgba(0,0,0,0) 80% );
}
.radio-cover, .radio-cover div {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	width: 6em;
	height: 6em;
	overflow: hidden;
	transform-origin: 0 0;
	transform: rotate(0) translate(-50%, -50%);
	border-radius: 50%;
	animation: spin 4s linear infinite paused;
}
.ffing .radio-cover {
	animation-play-state: running;
}
.radio-cover div {
	border-radius: 0;
	animation: spin 2s linear infinite reverse paused;
}
.rwing .radio-cover div {
	animation: spin 2s linear infinite reverse running;
}
.radio-cover::before, .radio-cover::after {
	content: '';
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	transform-origin: 0 0;
	transform: rotate(0) translate(-50%, -50%);
	border-radius: 50%;
	box-shadow: inset 0 0.0625em rgba(255,255,255,0.3);
	animation: spin 4s linear infinite reverse paused;
}
.radio-cover::after {
	width: 0.25em;
	height: 0.3125em;
	margin-top: -0.0625em;
	background-color: #eee;
	border-radius: 0.125em;
	box-shadow: inset 0 -0.0625em 0.0625em rgba(0,0,0,0.5), inset 0.0625em -0.0625em 0.125em rgba(255,255,255,0.15), inset -0.0625em -0.0625em 0.125em rgba(255,255,255,0.15), inset 0 -0.125em 0.125em rgba(0,0,0,0.8), 0 0.0625em 0.0625em rgba(0,0,0,0.5), 0 0.0625em 0.25em 0.0625em rgba(0,0,0,0.15), 0 0 0.25em 0.125em rgba(0,0,0,0.15);
}
.ffing .radio-cover::before, .ffing .radio-cover::after {
	animation-play-state: running;
}
.radio-cover img {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	transform-origin: 0 0;
	transform: rotate(0) translate(-50%, -50%);
	animation: spin 4s linear infinite paused;
}
.paused .radio-cover img {
	animation-play-state: paused;
}
.playing .radio-cover img {
	animation-play-state: running;
}
.radio-info {
	text-align: center;
	text-shadow: 0 0.0625em rgba(255,255,255,1);
}
.radio-time {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 0.5em;
	margin-top: 30%;
	margin-bottom: 0.5em;
}
.radio-time > * {
	margin: 0 0.5em;
}
.radio-progress {
	flex-grow: 2;
	height: 0.125em;
	background-color: #999;
	border-radius: 0.0625em;
	box-shadow: 0 0.0625em rgba(255,255,255,1);
	cursor: pointer;
}
.radio-progress span {
	display: block;
	width: 0;
	height: 100%;
	background-color: #666;
}
.s-radio-actions {
	position: relative;
	width: 100%;
	padding: 1em 0 1.125em;
	display: flex;
	justify-content: center;
	align-items: center;
}
.s-radio-actions button {
	appearance: none;
	outline: none;
	position: relative;
	padding: 0;
	font-size: 100%;
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.s-radio-button {
	width: 3em;
	height: 3em;
	background-color: transparent;
	background-image: linear-gradient(#ddd, #f6f6f6);
	border: none;
	border-radius: 50%;
}
.s-radio-button::before {
	content: '';
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	width: 80%;
	height: 80%;
	transform: translate(-50%, -50%);
	background-color: #f4f4f4;
	border: 0.125em solid #d5d5d5;
	border-radius: 50%;
	box-shadow: inset 0 0.25em 1em -0.25em rgba(255,255,255,0.75);
}
.s-radio-button:hover::before {
	background-color: #fcfcfc;
}
.play-pause {
	width: 4em;
	height: 4em;
}
.rw {
	right: -0.25em;
	margin-left: 0.375em;
	transform: scaleX(-1);
}
.ff {
	left: -0.25em;
	margin-right: 0.375em;
}
.s-radio-button .radio-arrow {
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	width: 30%;
	height: 30%;
	overflow: hidden;
	transform: translate(-50%, -50%);
}
.s-radio-button .radio-arrow::before, .s-radio-button .radio-arrow::after {
	content: '';
	position: absolute;
	left: -50%;
	width: 100%;
	height: 100%;
	transform: scale(1.2, 0.7) rotate(45deg);
	background-color: #ddd;
	box-shadow: inset 0 0.125em 0.125em -0.0625em rgba(0,0,0,0.15), 0.0625em 0.0625em 0.125em rgba(255,255,255,1);
}
.s-radio-button .radio-arrow::after {
	left: 0;
	transform: none;
	background-color: transparent;
	box-shadow: inset 0.0625em 0 0.125em -0.0625em rgba(0,0,0,0.1);
}
.paused .play-pause .radio-arrow {
	margin-left: 0.1875em;
}
.playing .play-pause .radio-arrow::before, .playing .play-pause .radio-arrow::after {
	left: 0;
	width: 0.4375em;
	transform: none;
	background-color: #ddd;
	box-shadow: inset 0.0625em 0.125em 0.125em -0.0625em rgba(0,0,0,0.15), 0.0625em 0.0625em 0.125em rgba(255,255,255,1);
}
.playing .play-pause .radio-arrow::after {
	left: auto;
	right: 0;
}
.rw .radio-arrow, .ff .radio-arrow {
	width: 20%;
	height: 20%;
	margin-left: 12%;
}
.rw .radio-arrow:first-child, .ff .radio-arrow:first-child {
	margin-left: -4%;
}
.s-radio-button:active .radio-arrow::before, .playing .play-pause .radio-arrow::before, .playing .play-pause .radio-arrow::after {
	background-color: #cef;
}
.radio-shuffle {
	width: 1.375em;
	height: 1.375em;
	color: #d5d5d5;
}
.radio-shuffle .radio-arrow {
	position: absolute;
	top: 0.1875em;
	left: 0;
	width: 0.375em;
	height: 0.125em;
	color: inherit;
	background-color: currentColor;
}
.radio-shuffle .radio-arrow::before {
	content: '';
	position: absolute;
	top: 0;
	left: calc(100% + 0.125em);
	width: 0.5em;
	height: 1em;
	transform: skewX(30deg);
	border-bottom: 0.125em solid;
	border-left: 0.125em solid;
	box-shadow: -0.3125em 0em 0 -0.1875em #eee, inset 0.375em 0.25em 0 -0.25em #eee;
}
.radio-shuffle .radio-arrow::after {
	content: '';
	position: absolute;
	top: 0.6875em;
	left: calc(100% + 0.625em);
	border: 0.25em solid transparent;
	border-left-width: 0.375em;
	border-left-color: currentColor;
}
.radio-shuffle .radio-arrow:first-child {
	transform-origin: 0 0.5em;
	transform: scaleY(-1);
}
.radio-shuffle.active {
	color: #bde;
}
 @keyframes spin {
 100% {
transform: rotate(360deg) translate(-50%, -50%);
}
}
/*default-states for community, discussion, ......*/
.default-states {
	padding: 100px;
	border: 1px dashed #e8e8e8;
}
/*<<<<<<<<>>>>>>>>>>>>*/
/*Footer*/
/*<<<<<<<<>>>>>>>>>>>>*/


a:hover {
	text-decoration: none;
}

/*@media only screen and (min-width: 1120px) {
    .footer{
        padding: 100px 70px!important;
    }
}

@media only screen and (min-width: 1400px) {
    .footer{
        padding: 100px 140px!important;
    }
}*/



.footer {
	border-top: 2px solid #ededed;
	padding: 100px 140px;
	/*color: #ccc;*/
	background-color: #ffffff;
}
.footer h3 {
	/*color: #FFF;*/
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;/*color: #7F8C8D;*/
}
.footer ul li p, .footer ul li a {
	/*padding: 10px 0px;*/
	/*display: block;*/
	/*color: #ccc;*/
	font-weight: 600;
	font-size: 14px;
	line-height: 1.8;
}
.footer ul li a:hover {
	color: #F5B51C;
}
.footer-bottom {
	background-color: #575756;
	color: #282c2d;
	font-size: 12px;
	text-align: center;
	height: 50px;
	line-height: 50px;
}
.footer-bottom p {
	font-size: 13px;
	color: #FFF;
}
.logo {
	color: #FFF;
	font-size: 30px;
	font-weight: 600;
}
