

/*Nav CSS*/
ul.nav-pyh li.nav-item{
	margin-left: 20px;
}

ul.nav-pyh  li.nav-item button{
	width: 120px;
}
/*Nav CSS*/
.phy-param{
	list-style: none;
	padding-left: 5px;
}
.phy-param li{
	margin-bottom: 10px;
}

.phy-param li button{
	width: 90%;
}

.phy-param li i{
	float: right;
	margin-top: 10px;
	color: #e9e8e8;
}

.phy-param li i:hover{
	color: #333333;
}

#page-wrapper {
	padding: 0 15px;
	min-height: 568px;
}
@media (min-width: 768px) {
	#page-wrapper {
	position: inherit;
	margin: 0 0 0 250px;
	/*padding: 0 0 0 30px;*/
	border-left: 1px solid #e7e7e7;
  }
}

@media (min-width: 768px) {
	.sidebar {
		z-index: 1;
		position: absolute;
		left: 0;
		width: 250px;
		/*margin-top: 66px;*/
	}
	.navbar-top-links .dropdown-messages,
	.navbar-top-links .dropdown-tasks,
	.navbar-top-links .dropdown-alerts {
		margin-left: auto;
	}
}


.card-phy{
	height: 480px;
    overflow-y: scroll;
    z-index: 400;
}