.addon {
	background: #fff;
	/*border: 1px solid #C0CAE3;*/
	margin-bottom: 20px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.addon li {
	padding: 10px;
	border-bottom: 1px solid #eee;
	/*overflow: hidden;*/
}
.addon li {
	list-style:none;
}



li {
	display: list-item;
	text-align: -webkit-match-parent;
} 
ul {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 ul {
	list-style: none;
}

.round {
	border-radius:100%;
	display: block;
	height: 60px;
	width: 60px;
}

.addon p {
	font-size: 12px;
	padding: 2px 0px;
	margin: 0;
}
p {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

.btn-add-ep{
    margin-top: 15%;
}

