/*!
 * Dashboard

 * 
 * 
 */

.dropdown-dashboard {
	position: absolute;
	top: auto;
	right: 0;
	left: auto;
}
.dropdown-show-list {
	min-width: 300px;
	position: absolute;
	top: auto;
	right: 0;
	left: auto;
}
.dropdown-show-list-left {
	min-width: 300px;
	position: absolute;
	top: auto;
	left: 23%;
	right: auto;
}
.dropdown-show-list-statusupdate {
	min-width: 300px;
	position: absolute;
	top: auto;
	left: auto;
	right: auto;
}
.dropdown-show-list li, .dropdown-show-list-left li {
	padding: 5px 0;
	border-bottom: 1px solid #ededed;
}
/*!
 * Profiles

 * 
 * 
 */

/*==============================*/
/*====== siderbar user profile =====*/
/*==============================*/
.nav>li>a.userdd {
	padding: 5px 15px
}

/*User Avatar Image*/
.btn-profile-avatar{
	width: 180px;
	height: 180px;
	padding: 1px;
	border-radius: 100%;
	margin: -160px 0 0;
}


.st-profile img.st-image-lg {
	z-index: 0;
	width: 100%;
	height: 391px;
	margin-bottom: 10px;
}

/*User Avatar Image*/
/*.st-image-profile {
	margin: -140px 10px 0px 340px;
	z-index: 9;
	width: 20%;
}*/


.userprofile {
	width: 100%;
	float: left;
	clear: both;
	margin: 40px auto
}


/*.userpic .st-image-profile {
	opacity: 1;
	display: block;
	transition: .5s ease;
	backface-visibility: hidden;
}*/


.userpic .cover-card {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 68.5%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

/*.userpic:hover .btn-profile-avatar {
	opacity: 0.8;
}*/

.userpic:hover .cover-card {
	opacity: 1;
}

.cover-pic-set {
	display: inline-block;
	position: absolute;
	margin: 340px -50px;
	opacity: 0.6;
}
.cover-pic-set:hover {
	opacity: 1;
}
.username {
	font-weight: 400;
	font-size: 26px;
	line-height: 36px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.user-level {
	color: #F5B51C;
	font-weight: 600;
	margin-right: 15px;
}
.user-role {
	opacity: 0.8;
}
/*My Achievements - Level and points*/

.progress-outer {
	background: #fff;
	border-radius: 50px;
	/*
	padding: 12px;
	margin: 10px 0;
	box-shadow: 0 0 10px rgba(209, 219, 231,0.7);
	*/
}
.progress {
	height: 24px;
	margin: 0;
	overflow: visible;
	border-radius: 50px;
	background: #eaedf3;
	box-shadow: inset 0 10px 10px rgba(244, 245, 250,0.9);
}
.progress .progress-bar {
	border-radius: 50px;
}
.progress .progress-value {
	position: relative;
	left: -75px;
	top: 4px;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 2px;
}
.progress .progress-value-language {
    position: absolute;
    margin: 0 80px;
    color: #222222;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 2px;
}
.progress-bar.active {
/*animation: reverse progress-bar-stripes 0.40s linear infinite, animate-positive 2s;*/
}

@-webkit-keyframes animate-positive {
 0% {
width: 0%;
}
}

@keyframes animate-positive {
 0% {
width: 0%;
}
}

/*.settingbtn {
	height: 30px;
	width: 30px;
	border-radius: 30px;
	display: block;
	position: absolute;
	bottom: 0px;
	right: 0px;
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
	padding: 0;
	box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
}*/

.userprofile.small {
	width: auto;
	clear: both;
	margin: 0px auto;
}
.userprofile.small .userpic {
	height: 40px;
	width: 40px;
	margin: 0 10px 0 0;
	display: block;
	border-radius: 100%;
	box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
	position: relative;
	float: left;
}
.userprofile.small .textcontainer {
	float: left;
	max-width: 100px;
	padding: 0
}
.userprofile.small .userpic .userpicimg {
	min-height: 100%;
	width: 100%;
	border-radius: 100%;
}
.userprofile.small .username {
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	color: #000000;
	margin: 0px;
	float: left;
	width: 100%;
}
.userprofile.small .username+p {
	color: #607d8b;
	font-size: 13px;
	float: left;
	width: 100%;
	margin: 0;
}



/*==============================*/
/*====== Sub-Tab =====*/
/*==============================*/
/* Change background color of buttons on hover */

/* Style the tab */
div.tab {
	/*overflow: hidden;*/
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}
/* Style the buttons inside the tab */
div.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
}
div.tab button:hover {
	background-color: #ddd;
}
/* Create an active/current tablink class */
div.tab button.active {
	background-color: #ccc;
}


/*==============================*/
/*====== Recently connected  heading =====*/
/*==============================*/

.memberblock {
	width: 100%;
	float: left;
	clear: both;
	margin-bottom: 15px
}
.member {
	width: 24%;
	float: left;
	margin: 2px 1% 2px 0;
	background: #ffffff;
	border: 1px solid #d8d0c3;
	padding: 3px;
	position: relative;
	overflow: hidden
}
.memmbername {
	position: absolute;
	bottom: -30px;
	background: rgba(0, 0, 0, 0.8);
	color: #ffffff;
	line-height: 30px;
	padding: 0 5px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 100%;
	font-size: 11px;
	transition: 0.5s ease all;
}
.member:hover .memmbername {
	bottom: 0
}
.member img {
	width: 100%;
	transition: 0.5s ease all;
}
.member:hover img {
	opacity: 0.8;
	transform: scale(1.2)
}
.panel-default>.panel-heading {
	color: #607D8B;
	background-color: #ffffff;
	font-weight: 400;
	font-size: 15px;
	border-radius: 0;
	border-color: #e1eaef;
}
/*Daily goal Bubble words and robot*/


.btn-orbs {
	width: 180px;
	padding: 6px;
	border-radius: 15px;
	text-align: center;
}
/*.progress-circle.green .progress-circle-bar{
    border-color: #1abc9c;
}
.progress-circle.green .progress-circle-left .progress-circle-bar{
    animation: loading-5 1.2s linear forwards 1.8s;
}*/


.tooltiptext {
	visibility: hidden;
	width: 318px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 5px;
	position: absolute;
	z-index: 1;
    top: 100%;
    left: 20%;
	opacity: 0;
	transition: opacity 1s;
}
.rcustom-control-inline .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
    left: 50%;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}
.custom-control-inline:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}


/*Profile blocks*/

.bg-profile {
	background: white;
}
.well-profile-block {
	border-bottom: 1px solid #B3ACAC;
}


/*skills*/

.profile-tags{
	margin:0;
	padding:0;
	margin-left: 20px;
	list-style:none;
}

.profile-tags li, .profile-tags a{
	float:left;
	height:28px;
	line-height:24px;
	position:relative;
	margin-bottom: 10px;
}

.profile-tags a{
	margin-left:26px;
	padding:0 10px 0 12px;
	
	color:#fff;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;	
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;	
	border-top-right-radius:4px;	
}

.skills a{
	background:#00B3BF;
}

.hobby a{
	background:#F29100;
}

.profile-tags a:before{
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-14px;
	width:0;
	height:0;
	
	border-style:solid;
	border-width:14px 14px 14px 0;		
}

.skills a:before{
	border-color:transparent #00B3BF transparent transparent;
}

.hobby a:before{
	border-color:transparent #F29100 transparent transparent;
}

.profile-tags a:after{
	content:"";
	position:absolute;
	top:10px;
	left:0;
	float:left;
	width:6px;
	height:6px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:4px;
	background:#fff;
	
}

.skills a:after{
	-moz-box-shadow:-1px -1px 2px #037AA0;
	-webkit-box-shadow:-1px -1px 2px #037AA0;
	box-shadow:-1px -1px 2px #037AA0;
}


.hobby a:after{
	-moz-box-shadow:-1px -1px 2px #ED730E;
	-webkit-box-shadow:-1px -1px 2px #ED730E;
	box-shadow:-1px -1px 2px #ED730E;
}

.skills a:hover {
	background:#037AA0;
}

.skills a:hover:before {
	border-color:transparent #037AA0 transparent transparent;
}

.hobby a:hover {
	background:#F5B51C;
}

.hobby a:hover:before {
	border-color:transparent #F5B51C transparent transparent;
}


.profile-tags .close{
  position: absolute;
  background: inherit;
  left: -4px;
  z-index: 3;
  visibility: hidden;
}

.profile-tags:hover .close{
  visibility: visible;
  
}

.close:hover {
  color: rgba(0,0,0,.5);
}




/*Modal windows*/

.modal-footer .btn-group button {
	height: 40px;
	border-top-left-radius : 0;
	border-top-right-radius : 0;
	border: none;
	border-right: 1px solid #ddd;
}
.modal-footer .btn-group:last-child > button {
	border-right: 0;
}
.form-group {
	padding: 0 24px;
}
/*.form-group input[type='checkbox'] {
    width: 20px;
    height: 20px;
    border: 1px solid #575756;
}*/

.btn-blocks {
	position: relative;
	width: 90%;
	color: #575756;
	border: 1px solid rgba(107,107,107,0.9);
	border-radius: 5px;
	cursor: pointer;
	margin-left: 12px;
	padding: 0;
	height: 40px;
	background: white;
}
.btn-blocks:hover {
	border: 2px solid #90D400;
	color: #9F9E9E;
	opacity: 0, 8;
}

.page-header.small {
	position: relative;
	line-height: 22px;
	font-weight: 400;
	font-size: 20px;
}
.favorite i {
	color: #eb3147;
}
.btn i {
	font-size: 17px;
}
.panel {
	box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
	-ms-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
	transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-webkit-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	/*margin-bottom: 35px;*/
	border-radius: 0px;
	position: relative;
	border: 0;
	display: inline-block;
	width: 100%;
}
.panel-footer {
	padding: 10px 15px;
	background-color: #ffffff;
	border-top: 1px solid #eef2f4;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	color: #019D90;
}
.panel-blue {
	color: #ffffff;
	background-color: #00B3BF;
}
.panel-red.userlist .username, .panel-green.userlist .username, .panel-yellow.userlist .username, .panel-blue.userlist .username {
	color: #ffffff;
}
.panel-red.userlist p, .panel-green.userlist p, .panel-yellow.userlist p, .panel-blue.userlist p {
	color: rgba(255, 255, 255, 0.8);
}
.panel-red.userlist p a, .panel-green.userlist p a, .panel-yellow.userlist p a, .panel-blue.userlist p a {
	color: rgba(255, 255, 255, 0.8);
}
.progress-bar-native {
	color: white;
	background-color: #00983D;
}
.progress-bar-fluent {
	color: white;
	background-color: #81B228;
}

.progress-bar-good {
	color: white;
	background-color: #93C01F;
}
.progress-bar-basic {
	color: white;
	background-color: #A2C52B;
}
.progress-bar-brain {
	color: white;
	background-color: #e1af10;
	box-shadow:-1px 10px 10px rgba(240, 173, 78,0.57);
}
.progress-bar-heart {
	color: white;
	background-color: #5ab8c7;
	box-shadow:-1px 10px 10px rgba(128, 209, 222,0.5);
}
.progress-bar-spirit {
	color: white;
	background-color: #d84040;
	box-shadow:-1px 10px 10px rgba(222, 92, 92,0.5);
}
.progress-bar-blue {
	color: white;
	background-color: #5ab8c7;
	box-shadow:-1px 10px 10px rgba(128, 209, 222,0.5);
}
.progress-bar-silver {
	color: white;
	background-color: #d3d3d6;
	box-shadow:-1px 10px 10px rgba(204, 202, 202,0.5);
}
.progress-bar-gold {
	color: white;
	background-color:#e1af10;
	box-shadow:-1px 10px 10px rgba(240, 173, 78,0.57);
}
.progress-bar-diamand {
	color: white;
	background-color:#d84040;
	box-shadow:-1px 10px 10px rgba(222, 92, 92,0.5);
}

.media-object {
	max-width: 50px;
	border-radius: 50px;
	box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
}

.media{
    display: -webkit-inline-box !important;
    width: 100%;
}


.media:first-child {
	margin-top: 15px;
}
.media-object {
	display: block;
}
.dotbtn {
	height: 40px;
	width: 40px;
	background: none;
	border: 0;
	line-height: 40px;
	vertical-align: middle;
	padding: 0;
	margin-right: -15px;
}
.dots {
	height: 4px;
	width: 4px;
	position: relative;
	display: block;
	background: rgba(0,0,0,0.5);
	border-radius: 2px;
	margin: 0 auto;
}
.dots:after, .dots:before {
	content: " ";
	height: 4px;
	width: 4px;
	position: absolute;
	display: inline-block;
	background: rgba(0,0,0,0.5);
	border-radius: 2px;
	top: -7px;
	left: 0;
}
.dots:after {
	content: " ";
	top: auto;
	bottom: -7px;
	left: 0;
}
.photolist img {
	width: 100%;
}
.photolist {
	background: #e1eaef;
	padding-top: 15px;
	padding-bottom: 15px;
}
.profilegallery .grid-item a {
	height: 100%;
	display: block;
}
.grid a {
	width: 100%;
	display: block;
	float: left;
}
.media-body {
	color: #607D8B;
	overflow: visible;
}


/*>>>>>>>>>>*/
/*Bookmark*/
/*>>>>>>>>>>*/

.bm-tags button{
	margin-right: 3px;
	margin-bottom: 5px;
}

/*PEN STYLES*/

.blog-card {
  transition: height 0.3s ease;
  -webkit-transition: height 0.3s ease;
  background: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 7px 1px #dee2e6;
          box-shadow: 0 3px 7px 1px #dee2e6;
  margin: 0 auto 1.6%;
  overflow: hidden;
  position: relative;
  font-size: 14px;
  line-height: 1.45em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.blog-card:hover .details {
  left: 0;
}
.blog-card:hover.alt .details {
  right: 0;
}
.blog-card.alt .details {
  right: -100%;
  left: inherit;
}
.blog-card .photo {
  height: 200px;
  position: relative;
}
.blog-card .photo.photo1 {
  background: url("../img/CRASH-PLANET-stars.png") center no-repeat;
  background-size: cover;
}
.blog-card .photo.photo2 {
  background: url("../img/community.jpg") center no-repeat;
  background-size: cover;
}
.blog-card .details {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  background: rgba(0, 0, 0, 0.6);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  font-family: "Open Sans";
  list-style: none;
  margin: 0;
  padding: 10px 15px;
  height: 200px;
  /*POSITION*/
  position: absolute;
  top: 0;
  left: -100%;
}
.blog-card .details > li {
  padding: 3px 0;
}
.blog-card .details li:before, .blog-card .details .tags ul:before {
  font-family: FontAwesome;
  margin-right: 10px;
  vertical-align: middle;
}
.blog-card .details .author:before {
  content: "\f007";
}

.blog-card .details .date:before {
  content: "\f133";
}

.blog-card .details .tags ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.blog-card .details .tags ul:before {
  content: "\f02b";
}

.blog-card .details .tags li {
  display: inline-block;
  margin-right: 3px;
}

.blog-card .details .note:before {
  content: "\f0f6";
}

.blog-card .details a {
  color: inherit;
  border-bottom: 1px dotted;
}
.blog-card .details a:hover {
  color: #75D13B;
}
.blog-card .description {
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
.blog-card .description h6 {
  line-height: 1em;
  margin: 0 0 10px 0;
}
.blog-card .description h2 {
  color: #9b9b9b;
  line-height: 1.2em;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 400;
  margin: 1.2% 0;
}
.blog-card .description p {
  position: relative;
  margin: 0;
  padding-top: 20px;
}
.blog-card .description p:after {
  content: "";
  background: #75D13B;
  height: 6px;
  width: 40px;
  /*POSITION*/
  position: absolute;
  top: 6px;
  left: 0;
}
.blog-card .description a.link-more {
  color: #75D13B;
  margin-bottom: 10px;
  float: right;
}
.blog-card .description a.link-more:after {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  content: "\f061";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
}
.blog-card .description a.link-more:hover:after {
  margin-left: 5px;
  opacity: 1;
}

@media screen and (min-width: 600px) {
  .blog-card {
    height: 200px;
   /* max-width: 600px;*/
  }
  .blog-card:hover .photo {
    -webkit-transform: rotate(5deg) scale(1.3);
            transform: rotate(5deg) scale(1.3);
  }
  .blog-card:hover.alt .photo {
    -webkit-transform: rotate(-5deg) scale(1.3);
            transform: rotate(-5deg) scale(1.3);
  }
  .blog-card.alt .details {
    padding-left: 30px;
  }
  .blog-card.alt .description {
    float: right;
  }
  .blog-card.alt .description:before {
    -webkit-transform: skewX(5deg);
            transform: skewX(5deg);
    right: -15px;
    left: inherit;
  }
  .blog-card.alt .photo {
    float: right;
  }
  .blog-card .photo {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    float: left;
    height: 100%;
    width: 40%;
  }
  .blog-card .details {
    width: 40%;
  }
  .blog-card .description {
    float: left;
    width: 60%;
	height: inherit;
    z-index: 0;
  }
  .blog-card .description:before {
    -webkit-transform: skewX(-5deg);
            transform: skewX(-5deg);
    content: "";
    background: #fff;
    width: 100%;
    z-index: -1;
    /*POSITION*/
    position: absolute;
    left: -15px;
    top: 0;
    bottom: 0;
  }
}


/*>>>>>>>>>>*/
/*CSS of Bookmark end*/
/*>>>>>>>>>>*/


/*>>>>>>>>>>*/
/*CSS of Netwrok*/
/*>>>>>>>>>>*/

.transition {
  transition: .3s cubic-bezier(.3, 0, 0, 1.3)
}


.network-list {
  list-style: none;
  padding: 0;
  /*margin: 100px 0;*/
}

.network-list > li {
  background: #FFFFFF;
  border: 1px solid rgba(150,150,150,0.29);
  -moz-box-shadow: 0px 0px 18px 0px rgba(103,85,85,0.39);
  box-shadow: 0px 0px 18px 0px rgba(103,85,85,0.39);
  width: 160px;
  height: 200px;
  display: inline-block;
  margin: 0 16px 16px 16px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}

.network-search-list > li {
  height: 264px;
}

.network-list .wrapper {
  position: relative;
  height: 100%;
}

.network-list .social {
  list-style: none;
  text-align: center;
  position: absolute;
  bottom: 10px;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  opacity: 0;
}
.network-list .social li {
  display: inline-block;
  margin: 0 2px;
}

.network-list .social li img {
  width: 24px;
}

.network-list .social li img:hover {
  opacity: 0.5;
}

.network-list > li:hover .social {
  bottom: 16px;
  opacity: 1;
}

.network-list span {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  height: 250px;
  width: 250px;
  display: block;
  position: absolute;
  bottom: 90px;
  left: -45px;
}

.network-search-list span{
  bottom: 149px;
}

.students-list span{
  background: #78CACE;
}

.teachers-list span{
  background: #ECD16B;
}

.bussiness-list span{
background: #2F7ABE;
}

.network-list > li:hover span {
  bottom: 130px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.network-search-list > li:hover span {
  bottom: 160px;
}

.network-list span img {
  position: absolute;
  bottom: 10px;
  left: 83px;
}


.network-list > li:hover span img {
  bottom: -20px;
}



.network-list h6 {
  position: absolute;
  top: 120px;
  width: 100%;
}

.network-search-list h6 {
  top: 125px;
}

.network-list h6 em {
  color: #444;
  font-size: 12px;
  font-style: normal;
  display: block;
  margin-top: 2px;
  opacity: 0.8;
}
.network-list > li:hover h6 {
  top: 90px;
}

.network-search-list > li:hover h6 {
  top: 124px;
}

.network-list .trigger {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}
/*.network-list .trigger i {
  width: 45px;
  height: 45px;
  color: #fff;
  font-weight: 600;
  display: block;
  background: #FFE08E;
  font-style: normal;
  font-size: 26px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin: 0 auto;
}
.network-list > li:hover .trigger i {
  width: 30px;
  height: 30px;
  margin-bottom: -40px;
  font-size: 18px;
}*/

.btn-text-overflow {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden !important;
}



 @-webkit-keyframes arrow {
 0% {
background-position: center top;
}
 50% {
background-position: center 10px;
}
 100% {
background-position: center top;
}
}
 @-moz-keyframes arrow {
 0% {
background-position: center top;
}
 50% {
background-position: center 10px;
}
 100% {
background-position: center top;
}
}
 @keyframes arrow {
 0% {
background-position: center top;
}
 50% {
background-position: center 10px;
}
 100% {
background-position: center top;
}
}
