.timeline {
	list-style: none;
	padding: 20px 0 20px;
	position: relative;
}
.timeline:before {
	top: 0;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 3px;
	background-color: #eeeeee;
	left: 25px;
	margin-right: -1.5px;
}
.timeline > li {
	margin-bottom: 20px;
	position: relative;
}
.timeline > li:before, .timeline > li:after {
	content: " ";
	display: table;
}
.timeline > li:after {
	clear: both;
}
.timeline > li:before, .timeline > li:after {
	content: " ";
	display: table;
}
.timeline > li:after {
	clear: both;
}
.timeline > li > .timeline-panel {
	width: calc( 100% - 75px );
	float: right;
	border: 1px solid #d4d4d4;
	border-radius: 2px;
	padding: 20px;
	position: relative;
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
	position: absolute;
	top: 26px;
	left: -15px;
	display: inline-block;
	border-top: 15px solid transparent;
	border-right: 15px solid #ccc;
	border-left: 0 solid #ccc;
	border-bottom: 15px solid transparent;
	content: " ";
}
.timeline > li > .timeline-panel:after {
	position: absolute;
	top: 27px;
	left: -14px;
	display: inline-block;
	border-top: 14px solid transparent;
	border-right: 14px solid #fff;
	border-left: 0 solid #fff;
	border-bottom: 14px solid transparent;
	content: " ";
}
.timeline > li > .timeline-badge {
	color: #fff;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 1.4em;
	text-align: center;
	position: absolute;
	top: 16px;
	left: 0px;
	margin-right: -25px;
	/*background-color: #ffffff;*/
	z-index: 100;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
	float: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
	border-right-width: 0;
	border-left-width: 15px;
	right: -15px;
	left: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
	border-right-width: 0;
	border-left-width: 14px;
	right: -14px;
	left: auto;
}
.timeline-badge.primary {
	background-color: #2e6da4 !important;
}
.timeline-badge.success {
	background-color: #3f903f !important;
}
.timeline-badge.warning {
	background-color: #f0ad4e !important;
}
.timeline-badge.danger {
	background-color: #d9534f !important;
}
.timeline-badge.info {
	background-color: #5bc0de !important;
}
.timeline-title {
	margin-top: 0;
	color: inherit;
}
.timeline-body > p, .timeline-body > ul {
	margin-bottom: 0;
}
.timeline-body > p + p {
	margin-top: 5px;
}
.timeline-body {
/*display: none;*/
}
/*.btn-tl {
	width: 70px;
	margin: -8px;
}*/
/** timeline content **/
.tl-heading {
	height: 40px;
	padding-bottom: 20px;
}
.tl-heading time {
	color: #888;
}
.tl-heading .day {
	line-height: normal;
}
.tl-heading .day {
	float: left;
	font-size: 35px;
	color: #333;
	font-weight: 700;
	margin: -6px 0 0;
	width: 45px;
}
.tl-heading .time-right {
	float: left;
	width: 40px;
}
.tl-heading .month, .tl-heading .year {
	font-size: 12px;
	color: #888;
}
.tl-heading span {
	display: block;
}
.tl-heading h5 {
	margin: 0;/* color: #c25b4e;*/
}
