	 
/*Gamification page CSS*/	 
	 
	 
.badges-list{
	list-style: none;
 }

.badges-list li{
	display: inline-block;
}

.disable-badge{
	opacity: 0.6;
}
	 
.lb-header{
	font-size: 18px;
}
.lb-host{
	padding: 10px 0;
	margin: 10px 0;
	font-size: 20px;
	border: solid 4px #057bff;
	/*color: #ffffff;
	background-color: #ffffff;*/
	/*-webkit-box-shadow: 0px 0px 18px 5px rgba(255,153,0,0.95);
	-moz-box-shadow: 0px 0px 18px 5px rgba(255,153,0,0.95);
	box-shadow: 0px 0px 18px 5px rgba(255,153,0,0.95);*/
}

/*Archivement - leaderboard*/
.table .thead-dark th {
    background-color: #565655!important;
    border-color: #565655!important;
}
	 
	 