
/* Extra small devices (portrait phones, less than 576px)*/
/*No media query for `xs` since this is the default in Bootstrap*/

@media (max-width: 575.98px) {
	.nav-item .input-group {
		padding: 6px 0;
	}
	
	.nav-item .nav-link .nav-text{
		display: inline;
	}
	
	.btn-nav img{
		width: 75%;
	}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and  (max-width: 991.98px){ 
	.nav-item .input-group {
		padding: 6px 20px;
		margin-right: 60px;
	}
	
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
	
}



