
 .wrap-home{
        margin-top: -20px;
    }

 .carousel-caption-robot{
     text-align: left;
     width: 18%;
     height: 40%;
     left: 70%;
     top: 20%!important;
 }

 .carousel-caption-slogan{
     text-align: left!important;
     width: 50%;
     left: 68px;
     top: 24%!important;
 }
 .sec-banner-infos{
     display: none;
 }

 .video iframe{
     width: 1100px;
     height: 600px;
 }

 /* Landscape phones and down */
 @media (max-width: 600px) {
     .section-banners{
         margin-top: 60px!important;
     }

     .world-y img{
         display: none!important;
     }

     .world-crash img{
         display: none!important;
     }

     .world-factory img{
         display: none!important;
     }

     .world-y{
         background-image:url("../img/banner-app-y.png");
     }

     .world-crash{
         background-image:url("../img/banner-app-crash.png");
     }

     .world-factory{
         background-image:url("../img/banner-app-factory.png");
     }

     .carousel-caption-robot{
         display: none!important;
     }

     .carousel-caption-slogan{
         display: none!important;
     }

     .sec-banner-infos{
         display: inline-block;
         position: absolute;
         top: 112px;
         left: 48%;
         width: 42%;
     }
     /*Section 2 - video*/
     .sec-video{
         padding: 30px 20px!important;
     }
     .sec-infos h2{
         font-size: 24px!important;
         margin-bottom: 0!important;
     }

     .sec-infos p{
         margin-top: 10px!important;
         font-size: 16px!important;
     }

     .video{
         position: relative;
     }

     .video iframe{
         width: 310px!important;
         height: 220px!important;
     }

     /*section 3 - features*/
     .sec-features{
         height: auto!important;
         padding: 30px 20px!important;
     }

     /*Section 4 -register*/
     .sec-register{
         padding: 20px!important;
     }
    /* .sec-register .container h4{
         font-size: 22px!important;
     }*/

     .sec-register .container h4 button{
         margin: 30px 0;
         padding: .25rem .5rem;
         font-size: .875rem;
         line-height: 1.5;
         border-radius: .2rem;
         width: 75%!important;
     }

     /*Section 5 - role*/
     .sec-roles{
         padding: 30px 20px 40px!important;
         background-color: #ffffff;
     }

     div.col{
         margin-top: 10px!important;
     }

     .footer{
         padding: 60px 30px!important;
     }


     /*Login*/
     .wrapper-info{
         width: 90%!important;
     }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media screen and (min-width: 601px) {

     .carousel-caption{
         display: inline-block!important;
     }

     .carousel-caption-robot h6{
         font-size: 10px!important;
     }

     .carousel-caption-slogan h3{
         font-size: 18px!important;
     }

     .video iframe{
         width: 500px!important;
         height: 380px!important;
     }

     .footer{
         padding: 100px 70px!important;
     }
 }

 /* Medium devices (landscape tablets, 768px and up) */
 @media screen and (min-width: 768px) {

     .carousel-caption-robot h6{
         font-size: 10px!important;
     }

     .carousel-caption-slogan h3{
         font-size: 18px!important;
     }

     .video iframe{
         width: 670px!important;
         height: 480px!important;
     }

     .footer{
         padding: 100px 70px!important;
     }
 }

 @media screen and (min-width: 992px) {

     .carousel-caption-robot h6{
         font-size: 12px!important;
     }

     .carousel-caption-slogan h3{
         font-size: 20px!important;
     }

     .video iframe{
         width: 830px!important;
         height: 540px!important;
     }

     .footer{
         padding: 100px 70px!important;
     }

     .footer div ul li a{
         width: 30px!important;
         height: 30px!important;
     }
 }

 @media screen and (min-width: 1200px) {

     .carousel-caption-robot h6{
         font-size: 16px!important;
     }

     .carousel-caption-slogan h3{
         font-size: 24px!important;
     }

     .video iframe{
         width: 1100px!important;
         height: 600px!important;
     }

     .footer{
         padding: 100px 70px!important;
     }

     .footer div ul li a{
         width: 50px!important;
         height: 50px!important;
     }
 }

 @media screen and (min-width: 1500px) {

     .carousel-caption-robot h6{
         font-size: 18px!important;
     }

     .carousel-caption-slogan h3{
         font-size: 26px!important;
     }

     .video iframe{
         width: 1100px!important;
         height: 600px!important;
     }

     .footer{
         padding: 100px 70px!important;
     }

     .footer div ul li a{
         width: 50px!important;
         height: 50px!important;
     }
 }




.sec-infos{
	text-align: center;
	margin: 10px 0;
}

.sec-infos h2{
	/*letter-spacing: .082em;*/
	text-transform: uppercase;
	color: #f5b51c;
	margin-bottom: 30px;
}

.sec-infos h5{
	/*letter-spacing: .082em;*/	
	color: #575756;
	margin-bottom: 40px;
}

/*Section 2 - video*/
.sec-video{
	padding: 60px 40px;
}

/*Section 3 - features*/
.sec-features{
	/*height: 580px;*/
	padding: 60px 40px;
	background-color: #ffffff;
	
}


/*Section 4 - sign up*/
.sec-register{
	padding: 40px;
	/*background-color: #ffffff;*/
}

/*Section 5 - roles*/
.sec-roles{
	/*height: 580px;*/
	padding: 60px 40px 80px;
	background-color: #ffffff;
}

/*////////////////////////////////////////*/
/*//////////////Sign Up Page//////////////*/
/*////////////////////////////////////////*/
.bg-card{
	min-height: 580px;
	width: 100%;
	-webkit-background-size: cover;
}

.bg-card-student{
	background: rgba(44, 62, 80, 0.8)url("../img/PLANET_S_Landscape_01.png") 40% 0 fixed repeat;
}

.bg-card-teacher{
	background: rgba(44, 62, 80, 0.8)url('../img/PLANET-Y_Landscape_03.png') 40% 0 fixed repeat;
}

.bg-card-parent{
	background: rgba(44, 62, 80, 0.8)url("../img/CRASH-PLANET_Landscape_02.png") 40% 0 fixed repeat;
}

.bg-card-orga{
	background: rgba(44, 62, 80, 0.8)url('../img/PLANET-T_Landscape_02.png') 40% 0 fixed repeat;
}

.bg-card-login{
	background: rgba(44, 62, 80, 0.8)url("../img/OCEAN_PLANET-Landscape_01.png") 40% 0 fixed repeat;
}

.bg-star{
	/* background: rgba(40, 170, 157, 0.3) url(../../assets/img/stars_layer.png) 0% -70% repeat; */
    background: url('../img/stars_layer.png') 0% -70% repeat;
    min-height: 100%;
    height: 100%;
    width: 100%;
    display: block;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}


@media only screen and (min-width: 1400px) {
	.wrapper-info{
	width: 36%!important;
}
	
}
.wrapper-info{
	width: 50%;
	background: none/*#ECF0F1*/;
	padding: 100px 0;
	margin: 0 auto;
    z-index: 2;
    position: relative;
	border-radius: 10px;
}


.card-info{
	width: 520px;
	height: 500px;
	background-color: #ffffff;
	text-align: center;
}


.field-icon {
  float: right;
  margin-right: 10px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}