blockquote.bubble-worlds-crash {
    font: inherit;
    text-align: left;
    padding: 10px;
    color: #ffffff;
    background: #bccaea;
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);
    background: linear-gradient(to right, #5873cb, #8da5dc);
    border-radius: 15px;
    letter-spacing: .082em;
}
blockquote.bubble-worlds-crash:before {
    left: 100%;
    color: #bccaea;
}
blockquote.bubble-worlds-crash:after {
    left: 100%;
    color: #8da5db;
}


.worlds-robot-box {
    display: inline-block;
    width: 160px;
    padding: 4px 0;
}

.worlds-infos{
    list-style: none;
}

.worlds-infos li{
    display: inline-block;
    margin-right: 30px;
}
/*Pictures Mouse Over*/