<template>
  <div class="wrapper" :class="classOfUserCard">
    <span class="transition">
      <a :href="'/profiles/' + state.profile.userid" class="btn-friend">
        <img
          v-if="state.profile.avatarImageId == null"
          class="transition"
          src="../../../../img/user.png"
          style="height: 86px; width: 86px"
        />
        <img
          v-else
          :src="getAvatarImageUrl"
          :alt="$t('profiles_network.alt_setting')"
          class="transition"
          style="border-radius: 50%; height: 84px; width: 84px"
        />
      </a>
    </span>
    <slot name="moreOptions"></slot>
    <h6 class="transition">
      {{ state.profile.username
      }}<em>
        <a class="btn btn-circle"> <img class="clearfix w-100" src="../../../../img/level.png" /> </a>
        <template v-if="state.profile.usertype === 'student'">{{ $t('profiles_network.explorer') }}</template>
        <template v-else-if="state.profile.usertype === 'teacher'">{{
          $t('profiles_network.mission_leader')
        }}</template>
        <template v-else-if="state.profile.usertype === 'incubator'">{{ $t('profiles_network.incubator') }}</template>
        <template v-else-if="state.profile.usertype === 'ambassador'">{{ $t('profiles_network.ambassador') }}</template>
        <template v-else-if="state.profile.usertype === 'admin'">Administrator</template>
        <template v-else
          >user type error</template
        ></em
      >
      <slot name="visibleButtonList"></slot>
    </h6>
    <div class="trigger"></div>
    <slot name="buttonList"></slot>
  </div>
</template>

<script>
import { storage_getURL } from '../../../../js/global.js';
import { isFollowing, areFriends } from './networkingFunctions';

export default {
  name: 'UserCard',
  props: {
    profile: {
      type: Object,
      required: true
    },
  },
  watch: {
    profile: {
      handler: function(val) {
        this.state.profile = val;
      },
      immediate: true
    }
  },
  data() {
    return {
      state: {
        profile: {}
      }
    };
  },
  computed: {
    classOfUserCard() {
      switch (this.state.profile.usertype) {
        case 'teacher': {
          return 'teachers-list';
        }
        case 'student': {
          return 'students-list';
        }
        case 'incubator': {
          return 'bussiness-list';
        }
        default:
          return '';
      }
    },
    showAddFriendButton() {
      if (!this.isSearchResultUserList) return false;
      if (this.state.profile.usertype === 'incubator') return false;
      if (areFriends(this.$store.profile, this.state.profile)) return false;
      if (this.state.profile.usertype === this.$store.currentUser.usertype) return true;
      if (this.$store.currentUser.usertype === 'ambassador' && this.state.profile.userType === 'teacher') return true;
      if (this.$store.currentUser.usertype === 'teacher' && this.state.profile.userType === 'ambassador') return true;
      return false;
    },
    showFollowButton() {
      return !isFollowing(this.$store.profile, this.state.profile);
    },
    getAvatarImageUrl() {
      return `${storage_getURL('FILES')}/api/files/${this.state.profile.avatarImageId}`;
    },
    linkToChat() {
      return `/chat?userid=${this.state.profile.userid}`;
    }
  },
  methods: {
    isFollowing,
    areFriends,
    gotToChat() {
      this.$router.push(this.linkToChat);
    }
  }
};
</script>

<style scoped></style>
