<template>
  <div class="card mt-3">
    <div class="card-header card-header-with-border">
      <h6 class="text-left">
        Resources
        <CreateResourceModal
          :initial-selected-relevance="selectedRelevance"
          :relevances="relevances"
          v-on:emitCreateResourceModalSave="handleResourceCreated"
        ></CreateResourceModal>
      </h6>
    </div>
    <div class="card-body">
      <ResourceTable :resource-id-to-relevance-map="resourceIdToRelevanceMapping"> </ResourceTable>

      <br />

      <!-- When user click this button, they will see the "search Input" in the following. -->
      <button
        type="button"
        class="btn btn-green w-50 mb-3"
        data-toggle="collapse"
        data-target="#collapseSearchLab"
        aria-expanded="false"
        aria-controls="collapseSearchLab"
      >
        {{ $t('addResources.findMoreResources') }}
      </button>

      <div class="collapse" id="collapseSearchLab">
        <form role="form" class="mt-4 mb-4">
          <div class="input-group p-0">
            <div class="input-group-prepend"><label class="input-group-text"> Search </label></div>
            <input
              type="text"
              v-model="searchQuery"
              class="form-control"
              placeholder="Enter keywords, resource names to search resources!"
            />
            <div class="input-group-append">
              <button @click="searchResources" class="btn btn-default" type="button">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </form>
        <h6 class="text-left">We find the following resources for you</h6>
        <hr />
        <ResourceList
          :resources="this.resourcesSearchResult"
          :already-added-resources="alreadyAddedResources"
          v-on:addResourceClicked="handleAddResourceClicked"
        ></ResourceList>
      </div>
    </div>
  </div>
</template>

<script>
import { getResourceEndpoint, getMissionsEndpoint, getLearningObjectsEndpoint } from '../../../../../js/global.js';
import CreateResourceModal from '../../../lab/CreateResourceModal';
import ResourceTable from '../../common/resources/ResourceTable';
import ResourceList from '../../common/resources/ResourceList';
export default {
  name: 'AddResources',
  components: {
    CreateResourceModal,
    ResourceTable,
    ResourceList
  },
  props: {
    missionId: {
      type: String,
      required: true
    },
    selectedRelevance: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      relevances: [],
      searchQuery: '',
      resourcesSearchResult: [],
      resourceIdToRelevanceMapping: new Map()
    };
  },
  computed: {
    alreadyAddedResources() {
      return Array.from(this.resourceIdToRelevanceMapping.keys());
    }
  },
  created() {
    this.fetchResources();
  },
  methods: {
    fetchResources() {
      return axios.get(`${getMissionsEndpoint('API_GATEWAY_STORAGE')}/${this.missionId}/resources`).then(response => {
        this.relevances = response.data.relevances;
        this.resourceIdToRelevanceMapping = new Map(Object.entries(response.data.resourceIdToRelevanceMapping));
        if (this.selectedRelevance[Object.keys(this.selectedRelevance)[0]] === 'General') {
          return;
        }
        let resourceIdToSelectedRelevanceMap = new Map();
        this.resourceIdToRelevanceMapping.forEach((value, key) => {
          if (JSON.stringify(value) === JSON.stringify(this.selectedRelevance))
            resourceIdToSelectedRelevanceMap.set(key, value);
        });
        this.resourceIdToRelevanceMapping = resourceIdToSelectedRelevanceMap;
      });
    },
    addResource(resource, relevance) {
      let requestConfig = {
        headers: {
          'Content-Type': 'text/plain'
        }
      };
      let relevanceKey = Object.keys(relevance)[0];
      let apiUrl = '';
      if (relevance[relevanceKey] === 'General') {
        apiUrl = getMissionsEndpoint('API_GATEWAY_STORAGE');
      } else {
        apiUrl = getLearningObjectsEndpoint('API_GATEWAY_STORAGE');
      }
      return axios.post(`${apiUrl}/${relevanceKey}/resources`, resource._id.$oid, requestConfig);
    },
    handleResourceCreated(resourceAndRelevance) {
      this.addResource(resourceAndRelevance.resource, resourceAndRelevance.relevance).then(() => {
        this.fetchResources().then(() => {
          //this.searchResources();
        });
      });
    },
    handleAddResourceClicked(resource) {
      this.addResource(resource, this.selectedRelevance).then(() => {
        this.fetchResources().then(() => {
          //this.searchResources();
        });
      });
    },
    searchResources() {
      return axios.get(`${getResourceEndpoint('API_GATEWAY_STORAGE')}?q=${this.searchQuery}`).then(response => {
        this.resourcesSearchResult = response.data;
      });
    }
  }
};
</script>

<style scoped></style>
