<template>
  <div>
    <!-- ////////////////////////////////// -->
    <!-- ////////////////////////////////// -->
    <!-- //////Modal Windows/////// -->
    <!-- ////////////////////////////////// -->
    <!-- ////////////////////////////////// -->
    <!-- Modal of modal-add-robot-action -->
    <div class="modal fade" id="modal-add-video-robot-action" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ $t('editRobotActions.modalTitle') }}</h5>
            <a
              class="btn btn-circle ml-2"
              title="Hint"
              data-toggle="popover"
              data-content="And here's some amazing content. It's very engaging. Right?"
              data-placement="bottom"
              tabindex="0"
              data-trigger="focus"
            >
              <img src="../../../../../img/ICON-Info.png" alt="hint" class="clearfix" />
            </a>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <div class="modal-body">
            <form>
              <!-- Input of select which youtube iframe video -->
              <div class="form-group">
                <label
                  ><h6 class="mb-0">{{ $t('editRobotActions.labelSelectForWhichVideo') }}</h6></label
                >
                <select class="form-control  d-inline-flex" v-model="state.selectedVideoId" style="width: 90%;">
                  <option value="">{{ $t('editRobotActions.selectNone') }}</option>
                  <option v-for="(videoId, index) in videoIds" :value="videoId">{{ index }}</option>
                </select>
              </div>

              <div v-if="state.selectedVideoId !== ''">
                <!-- Input group for robot action that gets triggered when video starts-->
                <div v-if="selectedVideoTriggers.onStart" class="form-group">
                  <label for="onStart"><h6 class="mb-0">Do the following action when the video starts</h6></label>
                  <select id="onStart" class="form-control" v-model="selectedVideoTriggers.onStart.id">
                    <option value="">None</option>
                    <option v-for="action in state.robotActionTeacherHasCreated" :value="action.id">{{
                      action.name
                    }}</option>
                  </select>
                </div>

                <!-- Input group for timed robot actions-->
                <div
                  v-if="selectedVideoTriggers.timerTrigger"
                  v-for="(timedRobotAction, index) in selectedVideoTriggers.timerTrigger"
                >
                  <div class="form-group">
                    <label><h6 class="mb-0">When the video reaches</h6></label>
                    <TimerInput
                      class="d-inline-flex"
                      style="width: 90%;"
                      :show-seconds="true"
                      :minutes-text="'minutes'"
                      :seconds-text="'seconds'"
                      :minutes="timedRobotAction.timeToTriggerMinutes"
                      :seconds="timedRobotAction.additionalSeconds"
                      @timerValueChanged="handleTimerValueChanged($event, timedRobotAction)"
                    ></TimerInput>
                    <a
                      v-if="!isTimerTriggerDefaultValue"
                      @click="removeTimedRobotAction(index)"
                      class="btn btn-circle"
                      title="Remove idle action"
                      style="margin-left: 0.48rem;"
                    >
                      <img src="../../../../../img/ICON_Delete-Post.png" alt="add" class="clearfix" />
                    </a>
                  </div>

                  <div class="form-group">
                    <label><h6 class="mb-0">Do the following action</h6></label>
                    <select class="form-control  d-inline-flex" v-model="timedRobotAction.id" style="width: 90%;">
                      <option value="">None</option>
                      <option v-for="action in state.robotActionTeacherHasCreated" :value="action.id">{{
                        action.name
                      }}</option>
                    </select>
                  </div>
                </div>

                <!-- input group for adding new timed robot actions -->

                <div v-if="isLastTimedTriggerValid" class="form-group">
                  <div class="d-flex">
                    <hr class="ml-0" style="width: 92%;" />
                    <a
                      @click="addTimerTrigger"
                      class="btn btn-circle"
                      title="Add idle action"
                      style="margin-left: 0.48rem;"
                    >
                      <img src="../../../../../img/BTN-Add-circle.png" alt="add" class="clearfix" />
                    </a>
                  </div>
                </div>

                <!-- Input group for robot action that gets triggered when video ends-->
                <div v-if="selectedVideoTriggers.onEnd" class="form-group">
                  <label for="onEnd"
                    ><h6 class="mb-0">{{ $t('editRobotActions.labelVideoEnds') }}</h6></label
                  >
                  <select id="onEnd" class="form-control" v-model="selectedVideoTriggers.onEnd.id">
                    <option value="">{{ $t('editRobotActions.none') }}</option>
                    <option v-for="action in state.robotActionTeacherHasCreated" :value="action.id">{{
                      action.name
                    }}</option>
                  </select>
                </div>
              </div>
            </form>
            <a target="_blank" href="/robot" class="link ml-4" @click="closeModal"
              ><span>{{ $t('editRobotActions.customizeRobotActionLink') }}</span>
            </a>
          </div>
          <div class="modal-footer">
            <button @click="save" type="button" class="btn btn-green w-25" data-dismiss="modal">
              {{ $t('editRobotActions.save') }}
            </button>
            <button ref="closeModalButton" type="button" class="btn btn-orange w-25" data-dismiss="modal">
              {{ $t('editRobotActions.cancel') }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TimerInput from './TimerInput';

const defaultTimedRobotAction = {
  id: '',
  timeToTriggerMinutes: 0,
  additionalSeconds: 0
};

export default {
  name: 'EditVideoRobotActions',
  components: { TimerInput },
  props: {
    videoIdToRobotactionMap: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      state: {
        videoIdToRobotactionMap: {},
        selectedVideoId: '',
        videoRobotActionsOfSelectedVideo: {},
        robotActionTeacherHasCreated: []
      }
    };
  },
  computed: {
    videoIds() {
      return Object.keys(this.state.videoIdToRobotactionMap);
    },
    selectedVideoTriggers() {
      return this.state.videoIdToRobotactionMap[this.state.selectedVideoId];
    },
    isTimerTriggerDefaultValue() {
      return (
        this.selectedVideoTriggers.timerTrigger.length === 1 &&
        this.selectedVideoTriggers.timerTrigger[0].id === '' &&
        this.selectedVideoTriggers.timerTrigger[0].timeToTriggerMinutes === 0 &&
        this.selectedVideoTriggers.timerTrigger[0].additionalSeconds === 0
      );
    },
    isLastTimedTriggerValid() {
      if (!this.selectedVideoTriggers.timerTrigger) return false;
      return this.selectedVideoTriggers.timerTrigger[this.selectedVideoTriggers.timerTrigger.length - 1].id !== '';
    }
  },
  watch: {
    videoIdToRobotactionMap: function(val) {
      if (val) this.state.videoIdToRobotactionMap = val;
    }
  },
  methods: {
    closeModal() {
      this.$refs.closeModalButton.click();
    },
    getActionsTeacherHasCreated() {
      let robotApiUrl = `${storage_getURL('API_GATEWAY_STORAGE')}/api-proxy/robot/api`;
      let robotActionsUrl = `${robotApiUrl}/robot/activities`;
      axios
        .get(robotActionsUrl)
        .then(response => {
          this.state.robotActionTeacherHasCreated = response.data.activities;
        })
        .catch(() => {
          return [];
        });
    },
    handleTimerValueChanged(event, timedRobotAction) {
      timedRobotAction.timeToTriggerMinutes = event.minutes;
      timedRobotAction.additionalSeconds = event.seconds;
    },
    addTimerTrigger() {
      this.selectedVideoTriggers.timerTrigger.push(Object.assign({}, defaultTimedRobotAction));
    },
    removeTimedRobotAction(index) {
      this.selectedVideoTriggers.timerTrigger.splice(index, 1);
      if (this.selectedVideoTriggers.timerTrigger.length === 0) {
        this.selectedVideoTriggers.timerTrigger.push(Object.assign({}, defaultTimedRobotAction));
      }
    },
    save() {
      this.$emit('videoRobotActionsChanged', this.state.videoIdToRobotactionMap);
    }
  },
  updated() {
    console.log(this.state.videoIdToRobotactionMap);
  },
  created() {
    this.getActionsTeacherHasCreated();
  }
};
</script>

<style scoped></style>
