<template>
  <div>
    <!-- ////////////////////////////////// -->
    <!-- ////////////////////////////////// -->
    <!-- //////Modal Windows/////// -->
    <!-- ////////////////////////////////// -->
    <!-- ////////////////////////////////// -->
    <!-- Modal of modal-add-robot-action -->
    <div class="modal fade" id="modal-add-robot-action" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ $t('editRobotActions.modalTitle') }}</h5>
            <a
              class="btn btn-circle ml-2"
              title="Hint"
              data-toggle="popover"
              data-content="And here's some amazing content. It's very engaging. Right?"
              data-placement="bottom"
              tabindex="0"
              data-trigger="focus"
            >
              <img src="../../../../../img/ICON-Info.png" alt="hint" class="clearfix" />
            </a>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <div class="modal-body">
            <form>
              <!-- Input group for onLoad-robot-action -->
              <div v-if="state.robotActions.onLoad" class="form-group">
                <label for="onLoad"
                  ><h6 class="mb-0">{{ $t('editRobotActions.onLoadLabel') }}</h6></label
                >
                <autocomplete
                  id="onLoad"
                  v-model="state.robotActions.onLoad.id"
                  :source="state.robotActionTeacherHasCreated"
                  :initialDisplay=getChoosenRobotActionName(state.robotActions.onLoad.id)
                  input-class="form-control"
                ></autocomplete>
              </div>

              <!-- Input group for on discussion-post-robot-action -->
              <div v-if="state.robotActions.onDiscussionPost" class="form-group">
                <label for="onDiscussionPost"
                  ><h6 class="mb-0">{{ $t('editRobotActions.onDiscussionPostLabel') }}</h6></label
                >
                <autocomplete
                  id="onDiscussionPost"
                  v-model="state.robotActions.onDiscussionPost.id"
                  :source="state.robotActionTeacherHasCreated"
                  :initialDisplay=getChoosenRobotActionName(state.robotActions.onDiscussionPost.id)
                  input-class="form-control"
                ></autocomplete>
              </div>

              <!-- Input group for idle-robot-actions -->
              <div v-if="state.robotActions.idleActions" v-for="(idleAction, index) in state.robotActions.idleActions">
                <div class="form-group">
                  <label
                    ><h6 class="mb-0">{{ $t('editRobotActions.idleLabel1') }}</h6></label
                  >
                  <div class="input-group d-inline-flex" style="width: 90%;">
                    <input
                      class="form-control"
                      v-model="idleAction.timeToTriggerMinutes"
                      type="number"
                      min="0"
                      max="240"
                    />
                    <div class="input-group-append">
                      <span class="input-group-text">{{ $t('editRobotActions.min') }}</span>
                    </div>
                  </div>
                  <a
                    v-if="!isIdleActionDefaultValue"
                    @click="removeIdleAction(index)"
                    class="btn btn-circle"
                    title="Remove idle action"
                    style="margin-left: 0.48rem;"
                  >
                    <img src="../../../../../img/ICON_Delete-Post.png" alt="add" class="clearfix" />
                  </a>
                </div>

                <div class="form-group">
                  <label
                    ><h6 class="mb-0">{{ $t('editRobotActions.idleLabel2') }}</h6></label
                  >
                  <autocomplete
                    v-model="idleAction.id"
                    :source="state.robotActionTeacherHasCreated"
                    :initialDisplay=getChoosenRobotActionName(idleAction.id)
                    input-class="form-control d-inline-flex"
                  ></autocomplete>
                </div>
              </div>

              <!-- input group for adding new idle-robot-action -->
              <div v-if="state.robotActions.idleActions" class="form-group">
                <div class="d-flex">
                  <hr class="ml-0" style="width: 92%;" />
                  <a
                    v-if="isLastIdleActionValid"
                    @click="addIdleAction"
                    class="btn btn-circle"
                    title="Add idle action"
                    style="margin-left: 0.48rem;"
                  >
                    <img src="../../../../../img/BTN-Add-circle.png" alt="add" class="clearfix" />
                  </a>
                </div>
              </div>

              <!-- Input group for scheduled-robot-actions -->
              <div
                v-if="state.robotActions.scheduledRobotActions"
                v-for="(scheduledRobotAction, index) in state.robotActions.scheduledRobotActions"
              >
                <div class="form-group">
                  <label
                    ><h6 class="mb-0">{{ $t('editRobotActions.scheduleLabel') }}</h6></label
                  >

                  <autocomplete
                    v-model="scheduledRobotAction.id"
                    :source="state.robotActionTeacherHasCreated"
                    :initialDisplay=getChoosenRobotActionName(scheduledRobotAction.id)
                    input-class="form-control d-inline-flex"
                  ></autocomplete>
                  <a
                    v-if="!isScheduledRobotActionDefaultValue"
                    @click="removeScheduledAction(index)"
                    class="btn btn-circle"
                    title="Remove idle action"
                    style="margin-left: 0.48rem;"
                  >
                    <img src="../../../../../img/ICON_Delete-Post.png" alt="Remove" class="clearfix" />
                  </a>
                </div>
                <!--</div>-->

                <div class="form-group">
                  <!--v-if="scheduledRobotAction.id"-->
                  <label
                    ><h6 class="mb-0">{{ $t('editRobotActions.scheduleLabelonDate') }}</h6></label
                  >
                  <input
                    @input="handleScheduledRobotActionDateChanged($event, index)"
                    class="form-control"
                    :disabled="scheduledRobotAction.id === ''"
                    :value="getDate(index)"
                    type="datetime-local"
                  />
                </div>
              </div>

              <!-- input group for adding new scheduled-robot-action -->
              <div v-if="state.robotActions.scheduledRobotActions" class="form-group">
                <div class="d-flex">
                  <hr class="ml-0" style="width: 90%;" />
                  <a
                    v-if="isLastScheduledActionValid"
                    @click="addScheduledRobotAction"
                    class="btn btn-circle"
                    title="Remove idle action"
                    style="margin-left: 0.48rem;"
                  >
                    <img src="../../../../../img/BTN-Add-circle.png" alt="add" class="clearfix" />
                  </a>
                </div>
              </div>

              <!-- Input group for onNext-robot-action -->
              <div v-if="state.robotActions.onNext" class="form-group">
                <label for="onNext"
                  ><h6 class="mb-0">{{ $t('editRobotActions.onNextClickLabel') }}</h6></label
                >
                <autocomplete
                  id="onNext"
                  v-model="state.robotActions.onNext.id"
                  :source="state.robotActionTeacherHasCreated"
                  :initialDisplay=getChoosenRobotActionName(state.robotActions.onNext.id)
                  input-class="form-control d-inline-flex"
                ></autocomplete>
              </div>

              <!-- Input group for missionFinished-robot-action -->
              <div v-if="state.robotActions.onMissionFinished" class="form-group">
                <label for="onMissionFinished"
                  ><h6 class="mb-0">{{ $t('editRobotActions.onFinishLabel') }}</h6></label
                >
                <autocomplete
                  id="onMissionFinished"
                  v-model="state.robotActions.onMissionFinished.id"
                  :source="state.robotActionTeacherHasCreated"
                  :initialDisplay=getChoosenRobotActionName(state.robotActions.onMissionFinished.id)
                  input-class="form-control"
                ></autocomplete>
              </div>

              <!-- Input group for notification-robot-action -->
              <div v-show="false" v-if="state.robotActions.onNotificationSend" class="form-group">
                <label for="onNotificationSend"
                  ><h6 class="mb-0">{{ $t('editRobotActions.onNotificationSentLabel') }}</h6></label
                >
                <autocomplete
                  id="onNotificationSend"
                  v-model="state.robotActions.onNotificationSend.id"
                  :source="state.robotActionTeacherHasCreated"
                  :initialDisplay=getChoosenRobotActionName(state.robotActions.onNotificationSend.id)
                  input-class="form-control"
                ></autocomplete>
              </div>
            </form>
            <a class="link ml-4" target="_blank" href="/robot">
              <span>{{ $t('editRobotActions.customizeRobotActionLink') }}</span>
            </a>
          </div>
          <div class="modal-footer">
            <button @click="save" type="button" class="btn btn-green w-25" data-dismiss="modal">Save</button>
            <button id="closeModalButton" type="button" class="btn btn-orange w-25" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { storage_getURL } from '../../../../../js/global.js';
import Autocomplete from 'vuejs-auto-complete';

const defaultIdleAction = {
  id: '',
  timeToTriggerMinutes: 0
};

const defaultScheduledRobotActions = {
  id: '',
  date: null
};

export default {
  name: 'EditRobotActions',
  components: { Autocomplete },
  props: {
    robotActions: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      state: {
        robotActions: {},
        robotActionTeacherHasCreated: []
      }
    };
  },
  computed: {
    isIdleActionDefaultValue() {
      return (
        this.state.robotActions.idleActions.length === 1 &&
        this.state.robotActions.idleActions[0].id === '' &&
        this.state.robotActions.idleActions[0].timeToTriggerMinutes === 0
      );
    },
    isScheduledRobotActionDefaultValue() {
      console.log(this.state.robotActions.scheduledRobotActions);
      return (
        this.state.robotActions.scheduledRobotActions.length === 1 &&
        this.state.robotActions.scheduledRobotActions[0].id === ''
        //&& this.state.robotActions.scheduledRobotActions[0].date === null
      );
    },
    isLastScheduledActionValid() {
      if (!this.state.robotActions.scheduledRobotActions) return false;
      return (
        this.state.robotActions.scheduledRobotActions[this.state.robotActions.scheduledRobotActions.length - 1].id !==
        ''
      );
    },
    isLastIdleActionValid() {
      if (!this.state.robotActions.idleActions) return false;
      return this.state.robotActions.idleActions[this.state.robotActions.idleActions.length - 1].id !== '';
    },
  },
  watch: {
    robotActions: function(val) {
      if (val) {
        this.state.robotActions = val;
      }
    }
  },
  methods: {
    getActionsTeacherHasCreated() {
      let robotApiUrl = `${storage_getURL('API_GATEWAY_STORAGE')}/api-proxy/robot/api`;
      let robotActionsUrl = `${robotApiUrl}/robot/activities/short`;
      axios
        .get(robotActionsUrl)
        .then(response => {
          let activitiesWithPropnames = response.data.map(activity => {
            return { name: Object.keys(activity)[0], id: activity[Object.keys(activity)[0]] };
          });
          this.state.robotActionTeacherHasCreated = activitiesWithPropnames;
        })
        .catch(() => {
          return [];
        });
    },
    addIdleAction() {
      this.state.robotActions.idleActions.push(Object.assign({}, defaultIdleAction));
    },
    removeIdleAction(index) {
      this.state.robotActions.idleActions.splice(index, 1);
      if (this.state.robotActions.idleActions.length === 0) {
        this.state.robotActions.idleActions.push(Object.assign({}, defaultIdleAction));
      }
    },
    addScheduledRobotAction() {
      this.state.robotActions.scheduledRobotActions.push(Object.assign({}, defaultScheduledRobotActions));
    },
    removeScheduledAction(index) {
      this.state.robotActions.scheduledRobotActions.splice(index, 1);
      if (this.state.robotActions.scheduledRobotActions.length === 0) {
        this.state.robotActions.scheduledRobotActions.push(Object.assign({}, defaultScheduledRobotActions));
      }
    },
    getDate(scheduledRobotActionIndex) {
      let scheduledRobotAction = this.state.robotActions.scheduledRobotActions[scheduledRobotActionIndex];
      let date = scheduledRobotAction.date;

      if (date == null) {
        let dateNow = new Date();
        let nowDateIso = dateNow.toISOString();
        let newDate = {
          $numberLong: dateNow.getTime()
        };
        scheduledRobotAction.date = newDate;
        return nowDateIso.split('.')[0]; //substring(0, nowDateIso.length - 1);
      }
      let timestamp = date.$numberLong;
      let dateIsoString = new Date(new Number(timestamp)).toISOString();
      return dateIsoString.split('.')[0]; //.substring(0, dateIsoString.length - 1);
    },
    handleScheduledRobotActionDateChanged(event, index) {
      let inputDateValue = event.target.value;
      inputDateValue += 'Z';
      let timestamp = new Date(inputDateValue).getTime();
      let newDate = {
        $numberLong: timestamp
      };
      this.robotActions.scheduledRobotActions[index].date = newDate;
    },
    save() {
      this.$emit('robotActionsChanged', this.state.robotActions);
    },
      getChoosenRobotActionName(id){
          let i = 0;
          let size = this.state.robotActionTeacherHasCreated.length;
          let name;
          for(i = 0; i < size; i++){
              if(this.state.robotActionTeacherHasCreated[i].id===id){
                  name = this.state.robotActionTeacherHasCreated[i].name;
              }
          }
          return name;
      }
  },
  created() {
    this.getActionsTeacherHasCreated();
    setInterval(this.getActionsTeacherHasCreated, 5000);
  },
  mounted() {
    $('[data-toggle="popover"]').popover();
  }
};
</script>

<style scoped></style>