<template>
  <a href="#" class="float-left">
    <button @click="goBack()" type="button" class="btn btn-small btn-outline-green w-100 mt-2" data-dismiss="modal">
      <i class="fa fa-backward"></i> {{ $t('editLearningObject.goBack') }}
    </button>
  </a>
</template>

<script>
export default {
  name: 'GoBackButton',
    methods: {
        goBack() {
            this.$router.go(-1);
        }
    }
};
</script>

<style scoped></style>