<template>
  <!-- Basic Block -->
  <div class="card mt-3 text-left">
    <div class="card-header card-header-with-border">
      <h6>
        {{ $t('learningObjectBasicBlock.basicBlock') }}

        <a class="btn btn-circle btn-set-point" data-toggle="modal" data-target="#modal-add-robot-action">
          <img
            src="../../../../../img/ICON_ROBOT_circle.png"
            class="clearfix"
            :alt="$t('generalmissionmetadatacard.title_edit_robot_actions')"
          />
        </a>
      </h6>
    </div>
    <!-- In the basic Block: Required is only Task Name. -->
    <div class="card-body">
      <form role="form">
        <!--
                  Task name: If there is already a task name from last step, this name should be shown here, in oder that teachers can change name if they want to.
                -->
        <div class="form-group p-0">
          <label for="enterMissTaskName">
            <h6 class="mb-0">{{ $t('learningObjectBasicBlock.missionName') }}</h6>
          </label>
          <br />
          <input id="enterMissTaskName" v-model="learningObject.title" type="text" class="form-control" />
        </div>

        <div v-if="learningObject.progressiveInquiryModelPhase > -1">
          <!-- Choose learning phases from Pedagogical Model Template -->
          <!-- If this is chosen in last step, here they should be able to rechoose. -->
          <div class="form-group p-0">
            <label for="formMissTaskPhaSelect">
              <h6 class="mb-0">{{ $t('learningObjectBasicBlock.phases') }}</h6>
            </label>
            <!-- This is from the learning objects automaticly -->
            <select
              v-model="learningObject.progressiveInquiryModelPhase"
              class="form-control"
              id="formMissTaskPhaSelect"
            >
              <option value="0">{{ $t('learningObjectBasicBlock.phase0') }}</option>
              <option value="1">{{ $t('learningObjectBasicBlock.phase1') }}</option>
              <option value="2">{{ $t('learningObjectBasicBlock.phase2') }}</option>
              <option value="3">{{ $t('learningObjectBasicBlock.phase3') }}</option>
              <option value="4">{{ $t('learningObjectBasicBlock.phase4') }}</option>
              <option value="5">{{ $t('learningObjectBasicBlock.phase5') }}</option>
              <option value="6">{{ $t('learningObjectBasicBlock.phase6') }}</option>
            </select>
          </div>
        </div>

        <!-- Set dates: start date and end date -->
        <div v-if="!learningObject.selfPaced" class="form-group p-0">
          <label>
            <h6 class="mb-0">{{ $t('learningObjectBasicBlock.visibilityDates') }}</h6>
          </label>
          <div class="form-inline justify-content-start">
            <input class="form-control" ref="startDateInput" type="date" :value="startDateIso" />
            <span class="pl-3 pr-3">{{ $t('learningObjectBasicBlock.to') }}</span>
            <input class="form-control" ref="endDateInput" type="date" :value="endDateIso" />
          </div>
        </div>
        <div v-else>
          <!-- Suggest learning Time: Teacher should give the students suggest learning hour -->
          <div class="form-group p-0">
            <label>
              <h6 class="mb-0">{{ $t('learningObjectBasicBlock.suggestTime') }}</h6>
            </label>
            <div class="d-flex">
              <input
                id="formMissTaskSuggTimeInput"
                v-model.number="learningObject.suggestedTime"
                class="form-control w-25"
                type="number"
                step="0.1"
              />
              <h6 class="ml-2 mt-2">Hours</h6>
            </div>
            <small>{{ $t('learningObjectBasicBlock.suggestTimeTip') }}</small>
          </div>
        </div>

        <!-- Task Introducation: use summernote Text. -->
        <div class="form-group p-0">
          <label>
            <h6 class="mb-0">{{ $t('learningObjectBasicBlock.introduction') }}</h6>
          </label>
          <textarea
            disabled
            id="formMissTaskIntrTextarea"
            v-model="learningObject.introduction"
            class="form-control"
            rows="3"
            placeholder="Tell students about the main contents in this task. Eg. in this task there is a video, from the video you will learn ..."
          ></textarea>
        </div>
        <!-- Learning Advice: use summernote Text. -->
        <div class="form-group p-0">
          <label> <h6 class="mb-0">Teacher's Advice</h6> </label>
          <textarea
            disabled
            id="formMissTaskAdviceTextarea"
            v-model="learningObject.teachersAdvice"
            class="form-control"
            rows="3"
            placeholder="Tell students how to lean this task more effective."
          ></textarea>
        </div>
      </form>
      <form class="text-right"><button @click="save()" type="button" class="btn btn-green w-25">Save</button></form>
    </div>

    <EditRobotActions
      :robot-actions="learningObject.robotActions"
      v-on:robotActionsChanged="handleRobotActionsChanged"
    ></EditRobotActions>
  </div>
</template>

<script>
import { getLearningObjectsEndpoint } from '../../../../../js/global.js';
import { successToast } from '../../../common/sweetAlertConfigs.js';
import EditRobotActions from './EditRobotActions';
export default {
  name: 'LearningObjectBasicBlock',
  components: { EditRobotActions },
  props: {
    initialLearningObject: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      learningObject: {
        robotActions: {}
      }
    };
  },
  watch: {
    initialLearningObject: {
      handler: function(newVal) {
        this.learningObject = newVal;
      }
    }
  },
  computed: {
    startDateIso() {
      if (!this.learningObject.startDate || $.isEmptyObject(this.learningObject))
        return this.dateToIso(new Date(Date.now()));
      return this.dateToIso(new Date(new Number(this.learningObject.startDate.$numberLong)));
    },
    endDateIso() {
      if (!this.learningObject.endDate || $.isEmptyObject(this.learningObject))
        return this.dateToIso(new Date(Date.now()));
      return this.dateToIso(new Date(new Number(this.learningObject.endDate.$numberLong)));
    }
  },
  methods: {
    dateToIso(date) {
      return date.toISOString().split('T')[0];
    },
    save() {
      if (this.learningObject.isSelfPaced) {
        this.learningObject.startDate = null;
        this.learningObject.endDate = null;
      } else {
        let startDateInputVal = $(this.$refs.startDateInput).val();
        this.learningObject.startDate = {
          $numberLong: new Date(startDateInputVal).getTime()
        };
        let endDateInputVal = $(this.$refs.endDateInput).val();
        this.learningObject.endDate = {
          $numberLong: new Date(endDateInputVal).getTime()
        };
      }
      axios
        .post(getLearningObjectsEndpoint('API_GATEWAY_STORAGE') + '/' + this.learningObjectId, this.learningObject)
        .then(() => {
          this.$swal(successToast(this.$t('sweetAlert.learningObjectSaved')));
        });
    },
    handleRobotActionsChanged(e) {
      this.learningObject.robotActions = e;
      this.save();
    }
  }
};
</script>

<style scoped></style>