<template>
  <div>
    <!-- Timer for Challenge: Just keep minutes, but for count down, please show also seconds. -->
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" for="inputMinutes">{{ minutesText }}</span>
      </div>
      <input
        id="inputMinutes"
        type="number"
        @blur="handleBlur"
        :value="state.minutes"
        @keypress="validateMinutes"
        @input="validateMinutes"
        class="form-control"
        min="0"
        aria-label="Minutes"
      />
      <!-- <label for="inputSeconds" class="input-group-text">{{secondsText}}:</label> -->
      <!--
        <input id="inputSeconds" type="number" v-model.number="state.seconds" class="form-control" min="0" max="59" aria-label="Seconds">
      -->
    </div>
    <br />
    <div v-if="showSeconds" class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" for="inputSeconds">{{ secondsText }}</span>
      </div>
      <input
        id="inputSeconds"
        type="number"
        @blur="handleBlur"
        :value="state.seconds"
        @keypress="validateSeconds"
        @input="validateSeconds"
        class="form-control"
        min="0"
        aria-label="Minutes"
      />
      <!-- <label for="inputSeconds" class="input-group-text">{{secondsText}}:</label> -->
      <!--
        <input id="inputSeconds" type="number" v-model.number="state.seconds" class="form-control" min="0" max="59" aria-label="Seconds">
      -->
    </div>
  </div>
</template>

<script>
export default {
  name: 'TimerInput',
  props: {
    showSeconds: {
      type: Boolean
    },
    minutesText: String,
    secondsText: String,
    minutes: {
      type: Number,
      default: 0
    },
    seconds: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      state: {
        minutes: 0,
        seconds: 0
      }
    };
  },
  watch: {
    minutes: {
      handler: function(newVal) {
        this.state.minutes = newVal;
      },
      immediate: true
    },
    seconds: {
      handler: function(newVal) {
        this.state.seconds = newVal;
      },
      immediate: true
    }
  },
  methods: {
    isInteger(number) {
      return !isNaN(number) && number % 1 == 0;
    },
    deleteDecimals(number) {
      return ~~number;
    },
    isEmptyString(input) {
      return typeof input === 'string' && input.length === 0;
    },
    removeLeadingZeros(number) {
      return +number;
    },
    handleBlur() {
      this.$emit('timerValueChanged', this.state);
    },
    validateMinutes(e) {
      this.state.minutes = e.target.value;
      if (this.isEmptyString(this.state.minutes) || this.state.minutes < 0) {
        this.state.minutes = 0;
      }
      if (!this.isInteger(this.state.minutes)) {
        this.state.minutes = this.deleteDecimals(this.state.minutes);
      }
      this.state.minutes = this.removeLeadingZeros(this.state.minutes);
    },
    validateSeconds(e) {
      this.state.seconds = e.target.value;
      if (this.isEmptyString(this.state.seconds) || this.state.seconds < 0) {
        this.state.seconds = 0;
      }
      if (!this.isInteger(this.state.seconds)) {
        this.state.seconds = this.deleteDecimals(this.state.seconds);
      }
      this.state.seconds = this.removeLeadingZeros(this.state.seconds);
    }
  }
};
</script>

<style scoped></style>
