<template>
  <div class="tab-pane fade show active" id="comm-discussion" role="tabpanel" aria-labelledby="comm-discussion-tab">
    <!-- Publish Posts -->
    <div class="card">
      <div class="card-body text-left">
        <p class="text-left textColor" v-if="inputError">Please type in a status update first!</p>

        <AdvancedTextarea
          v-on:textinputUpdate="textinputUpdate"
          :textInputValue="statusUpdate.text"
          :placeholderText="$t('createStatusupdate.placeholderText')"
          v-on:enterPressed="submitStatusUpdate"
        ></AdvancedTextarea>

        <div v-if="fileChosen || photoFileChosen">
          <br />
          <u>Attached files</u> <br v-if="photoFileChosen || fileChosen" />
          <br v-if="photoFileChosen || fileChosen" />

          <span v-if="photoFileChosen && !fileChosen">
            <img class="imgStatusupdate" :src="photoSrc" /> <br />
            <b>{{ $t('createStatusupdate.image') }}</b> {{ chosenPhotoFileName }}
            <a class="btn btn-circle report" @click.prevent="resetChosenPhoto" href="#">
              <img src="../../../../img/ICON_Delete-Post.png" class="clearfix w-50" alt="Report post" />
            </a>
          </span>

          <span v-if="fileChosen && !photoFileChosen"
            ><b>{{ $t('createStatusupdate.file') }}</b> {{ chosenFileName }}
            <a class="btn btn-circle report" @click.prevent="resetChosenFile" href="#">
              <img src="../../../../img/ICON_Delete-Post.png" class="clearfix w-50" alt="Report post" />
            </a>
          </span>
          <input
            v-if="fileChosen && !photoFileChosen"
            v-model="fileDescription"
            type="text"
            class="form-control"
            placeholder="Enter a file description"
            maxlength="140"
          />
        </div>
      </div>
      <div class="card-footer p-0">
        <nav class="navbar navbar-light bg-light justify-content-between">
          <div>
            <FileUpload
              v-if="!fileChosen"
              :uploadNow="processPhotoUpload"
              :removeFileSelection="resetPhotoUploadSelection"
              :onlyImageFile="true"
              :showOnlyButton="true"
              v-on:uploaded="photoUploadProcessed"
              v-on:fileChosen="setPhotoFileChosen"
            ></FileUpload>

            <FileUpload
              v-if="!photoFileChosen"
              :uploadNow="processFileUpload"
              :removeFileSelection="resetFileUploadSelection"
              :showOnlyButton="true"
              v-on:uploaded="fileUploadProcessed"
              v-on:fileChosen="setFileChosen"
            ></FileUpload>
          </div>

          <button @click.prevent="submitStatusUpdate" class="btn btn-green w-25">
            {{ $t('createStatusupdate.post') }}
          </button>
        </nav>
      </div>
    </div>
  </div>
</template>

<script>
// Use component like this:
// <CreateStatusUpdate v-on:created="statusUpdateCreated"></CreateStatusUpdate>
// where statusUpdateCreated is a function with the returned ID and the object
// of the created StatusUpdate as parameters: "statusUpdateCreated(statusUpdateId, statusUpdateObj)"

//TODO: 3. implement "hashtag" functionality

import { getStatusUpdateApiUrl, storage_getdashboardApiUrl } from '../../../../js/global';
import FileUpload from '../FileUpload';

import AdvancedTextarea from '../AdvancedTextarea';

export default {
  name: 'CreateStatusUpdate',
  components: { FileUpload, AdvancedTextarea },
  props: {
    category: {
      type: String,
      required: true
    }
  },
  watch: {
    category: function(val) {
      this.statusUpdate.category = val;
    }
  },
  data: function() {
    return {
      statusUpdate: {
        text: '',
        photoId: '',
        fileId: '',
        fileName: '',
        fileDescription: '',
        category: this.category
      },
      fileDescription: '',

      processPhotoUpload: false,
      resetPhotoUploadSelection: false,
      photoFileChosen: false,
      chosenPhotoFileName: '',
      photoSrc: null,

      processFileUpload: false,
      resetFileUploadSelection: false,
      fileChosen: false,
      chosenFileName: '',

      inputError: false,
    };
  },
  methods: {
    resetFormData: function() {
      this.statusUpdate.text = '';
      this.statusUpdate.photoId = '';
      this.statusUpdate.fileId = '';
      this.statusUpdate.fileName = '';
      this.statusUpdate.fileDescription = '';
      this.fileDescription = '';
      this.photoFileChosen = false;
      this.fileChosen = false;
    },
    submitStatusUpdate: function() {
      if (this.statusUpdate.text == '') {
        this.inputError = true;
      } else {
        this.inputError = false;

        if (this.photoFileChosen) {
          this.processPhotoUpload = true;terminal
        } else if (this.fileChosen) {
          this.processFileUpload = true;
        } else {
          this.postStatusUpdate();
        }
      }
    },
    postStatusUpdate() {
      axios.post(getStatusUpdateApiUrl('API_GATEWAY_STORAGE'), this.statusUpdate).then(
        response => {
          console.log(response.data);
          this.resetFormData();
          this.resetTextinput = true;
          this.$emit('created', response.data.statusUpdateId, response.data);
        },
        error => {
          console.log(error);
        }
      );
      this.resetTextinput = false;
    },
    photoUploadProcessed: function(fileId, fileName, contentType) {
      this.statusUpdate.photoId = fileId;
      this.processPhotoUpload = false;

      if (this.fileChosen) {
        this.processFileUpload = true;
      } else {
        this.postStatusUpdate();
      }
    },
    fileUploadProcessed: function(fileId, fileName) {
      this.statusUpdate.fileId = fileId;
      this.statusUpdate.fileName = fileName;
      this.statusUpdate.fileDescription = this.fileDescription;

      this.processFileUpload = false;

      this.postStatusUpdate();
    },
    setFileChosen: function(fileIsChosen, filename) {
      this.chosenFileName = filename;
      this.fileChosen = fileIsChosen;
      this.resetFileUploadSelection = false;
    },
    setPhotoFileChosen: function(fileIsChosen, filename, photoSrc) {
      this.chosenPhotoFileName = filename;
      this.photoFileChosen = fileIsChosen;
      this.resetPhotoUploadSelection = false;
      if (!fileIsChosen) {
        this.photoSrc = null;
      } else {
        this.photoSrc = photoSrc;
      }
    },
    resetChosenFile: function() {
      this.resetFileUploadSelection = true;
    },
    resetChosenPhoto: function() {
      this.resetPhotoUploadSelection = true;
    },
    textinputUpdate: function(textinput) {
      this.statusUpdate.text = textinput;
      //console.log(this.statusUpdate.text);
    },
    test: function() {
      //alert(this.statusUpdate.text);
      this.statusUpdate.text = '';
    }
  },
};
</script>

<style scoped>

.textColor {
  color: red;
}

.imgStatusupdate {
  max-width: 180px;
}
</style>
