<template>
    <div class="card " v-if="loaded">
        <!-- <div v-html="shareSwalHtml" ref="swalShare"></div> -->

        <div v-if="isDiscussion">
            <div class="card-header card-header-with-border">
                <ul class="nav">
                    <li class="nav-item justify-content-between">
                        <a class="btn btn-points" href="#" title="Avatar">
                            <DisplayImageFile
                                    v-if="
                  statusUpdate.userIdsWhoInteractedWithPost != null && getAvatarFileId(statusUpdate.creatorId) != null
                "
                                    mode="statusupdate"
                                    :imageFileId="getAvatarFileId(statusUpdate.creatorId)"
                            >
                            </DisplayImageFile>

                            <img v-else src="../../../../img/user.png" class="clearfix w-100" alt="avatar"/>
                        </a>
                        <div>
                            <a href="profile-wall-bookmark-eportfolio-connection-about.html">
                                <h6>{{ statusUpdate.creatorName }}</h6>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item text-left pt-1 mt-1 ml-4">
                        <h5>{{ this.title }}</h5>
                        <p class="card-text">
                            <strong>Topic:</strong> <a href="#" class="link">{{ this.topic }}</a>
                        </p>
                        <p class="text-message">
                            <span>{{ creationDate }}</span> {{ $t('viewStatusupdate.dateConnectorAt') }}
                            <span>{{ creationTime }}</span>
                        </p>
                    </li>
                </ul>
            </div>
        </div>

        <div v-else-if="isStatusUpdateFromEPortfolio === 'album'" class="card-header p-0">
            <ul class="nav">
                <li class="nav-item d-flex justify-content-between">
                    <a
                            style="width: 60px; height: 60px"
                            class="btn btn-points"
                            :href="'profiles/' + statusUpdate.creatorId"
                            :title="$t('viewStatusupdate.profilePicHover')"
                    >
                        <DisplayImageFile
                                v-if="
                statusUpdate.userIdsWhoInteractedWithPost != null && getAvatarFileId(statusUpdate.creatorId) != null
              "
                                style="width: 38px; height: 38px"
                                :imageFileId="getAvatarFileId(statusUpdate.creatorId)"
                        ></DisplayImageFile>

                        <img v-else src="../../../../img/user.png" class="clearfix w-100" alt="avatar"/>
                    </a>
                    <div class="text-left mt-1">
                        <a :href="'profiles/' + statusUpdate.creatorId">
                            <h6>{{ statusUpdate.creatorName }}</h6>
                        </a>
                        <p class="text-message">
                            <span>{{ creationDate }}</span> {{ $t('viewStatusupdate.dateConnectorAt') }}
                            <span>{{ creationTime }}</span>
                        </p>
                    </div>
                </li>
            </ul>
        </div>

        <div v-else-if="isStatusUpdateFromEPortfolio !== 'journal'" class="card-header p-0">
            <ul class="nav">
                <li class="nav-item d-flex justify-content-between">
                    <a
                            class="btn btn-points"
                            :href="'profiles/' + statusUpdate.creatorId"
                            :title="$t('viewStatusupdate.profilePicHover')"
                    >
                        <DisplayImageFile
                                v-if="
                statusUpdate.userIdsWhoInteractedWithPost != null && getAvatarFileId(statusUpdate.creatorId) != null
              "
                                mode="statusupdate"
                                :imageFileId="getAvatarFileId(statusUpdate.creatorId)"
                        ></DisplayImageFile>

                        <img v-else src="../../../../img/user.png" class="clearfix w-100" alt="avatar"/>
                    </a>
                    <div class="mt-1 text-left" :class="{ 'mt-3': isStatusUpdateFromEPortfolio !== 'album' }">
                        <a :href="'profiles/' + statusUpdate.creatorId">
                            <h6>{{ statusUpdate.creatorName }}</h6>
                        </a>
                        <p class="text-message">
                            <span>{{ creationDate }}</span> {{ $t('viewStatusupdate.dateConnectorAt') }}
                            <span>{{ creationTime }}</span> <br/>
                            <span v-if="statusUpdate.category == 'mission'">{{ $t('viewStatusupdate.postedInMission') }}</span>
                            <span v-if="statusUpdate.category == 'community'"> {{ $t('viewStatusupdate.postedInCommunity') }}</span>
                        </p>
                    </div>
                </li>
<!--                <li class="nav-item ml-md-auto show-on-hover mt-4 mr-4">-->
<!--                    <i class="fa fa-angle-down fa-2x" data-toggle="dropdown"></i>-->
<!--                    <ul class="dropdown-menu pl-3 pr-3 dropdown-dashboard" role="menu">-->
<!--                        <li>-->
<!--                            <a href="#">{{ $t('viewStatusupdate.hidePost') }}</a>-->
<!--                            <p class="text-message">{{ $t('viewStatusupdate.hidePostMessage') }}</p>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a href="#">{{ $t('viewStatusupdate.hideUser') }}</a>-->
<!--                            <p class="text-message">{{ $t('viewStatusupdate.hideUserMessage') }}</p>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </li>-->
            </ul>
        </div>

        <div class="card-body text-left" :class="{ 'pb-1': isStatusUpdateFromEPortfolio === 'album' }">
            <div class="feed-content">
                <span v-if="isStatusUpdateFromEPortfolio === 'album'" v-html="statusUpdate.statusUpdateText"></span>
                <p v-else><span v-html="statusUpdate.statusUpdateText"></span></p>

                <!-- keywords rendern -->
                <!-- <a href="#" class="topic">#surfsup</a> -->

                <DisplayImageFile
                        v-if="photoId"
                        :imageFileId="photoId"
                        mode="statusupdate"
                        style="max-width: auto;"
                ></DisplayImageFile>

                <div v-if="fileId">
                    <hr/>
                    <u>Attachment:</u> <br/>
                    <FileDownload :fileId="fileId" :fileName="fileName" :showDownloadIcon="false"></FileDownload>
                    <br/>
                    <span
                    ><i>{{ fileDescription }}</i></span
                    >
                </div>
            </div>

            <hr class="my-0"/>
            <!-- Comment, report, save, like, share -->
            <div class="card-body py-2 small pl-0 pr-0" v-if="isStatusUpdateFromEPortfolio !== 'journal'">
                <ul class="list-inline p-1 mb-1">
                    <li class="list-inline-item show-on-hover ml-0 ">
                        <div data-togFgle="dropdown">
                            <a @click.prevent="likeStatusUpdate" class="btn btn-circle" href="#">
                                <img src="../../../../img/ICON_Like.png" class="clearfix w-100"/>
                            </a>
                            <span>({{ statusUpdate.likesByUser.length }})</span>
                        </div>
                        <!-- List of likes -->
                        <ul
                                v-if="statusUpdate.likesByUser.length > 0"
                                class="dropdown-menu p-3 dropdown-show-list-statusupdate"
                                role="menu"
                        >
                            <li v-for="like in statusUpdate.likesByUser">
                                <a href="#" class="btn btn-circle">
                                    <DisplayImageFile
                                            v-if="statusUpdate.userIdsWhoInteractedWithPost != null && getAvatarFileId(like.userid) != null"
                                            mode="statusupdate"
                                            :imageFileId="getAvatarFileId(like.userid)"
                                    ></DisplayImageFile>

                                    <img v-else src="../../../../img/user.png" class="clearfix w-100" alt="avatar"/>
                                </a>
                                <span class="text-muted">{{ like.username }} {{ $t('viewStatusupdate.likedPost') }}</span>
                            </li>
                        </ul>
                    </li>

                    <li class="list-inline-item">·</li>

                    <li class="list-inline-item">
                        <div>
                            <a
                                    @click="focusTextarea(statusUpdate.statusUpdateId)"
                                    class="btn btn-circle"
                                    :title="$t('viewStatusupdate.comment')"
                            >
                                <img src="../../../../img/ICON_Comments.png" class="clearfix w-100" alt="comment"/>
                            </a>
                        </div>
                    </li>

                    <li class="list-inline-item">·</li>

                    <li class="list-inline-item show-on-hover mr-0">
                        <div class="ml-0" data-toggle="dropdown">
                            <a
                                    class="btn btn-circle"
                                    @click.prevent="shareStatusUpdate"
                                    href="#"
                                    :title="$t('viewStatusupdate.sharePost')"
                            >
                                <img src="../../../../img/ICON_Share.png" class="clearfix w-100"/>
                            </a>
                            <!-- <span>({{ statusUpdate.sharesByUser.length }})</span> -->
                        </div>

                        <!-- List of shares -->
                        <!-- <ul v-if="statusUpdate.sharesByUser.length > 0" -->
                        <!-- class="dropdown-menu p-3 dropdown-show-list-statusupdate" -->
                        <!-- role="menu"> -->
                        <!-- <li v-for="share in statusUpdate.sharesByUser"> -->
                        <!-- <a href="#" class="btn btn-circle"> -->
                        <!-- <img src="../../../../img/user6.png" class="clearfix w-100" alt="Avatar"> -->
                        <!-- </a> -->
                        <!-- <span class="text-muted">{{share.username}} shared this post.</span> -->
                        <!-- </li> -->
                        <!-- </ul> -->
                    </li>

                    <li class="list-inline-item pull-right">
                        <div>
                            <a
                                    class="btn btn-circle bookmark-save"
                                    @click.prevent="showBookmarkAlert"
                                    href="#"
                                    :title="$t('viewStatusupdate.saveBookmark')"
                            >
                                <img src="../../../../img/ICON-E-PORTFOLIO_circle.png" class="clearfix w-100"
                                     alt="Save to Bookmark"/>
                            </a>
                            <span class="ml-1 mr-1">.</span>

                            <a
                                    v-if="checkModerators()"
                                    class="btn btn-circle report"
                                    @click.prevent="showDeleteAlert(-1, -1)"
                                    href="#"
                                    title="Delete post"
                            >
                                <img src="../../../../img/ICON_Delete-Post.png" class="clearfix w-100"
                                     alt="Delete post"/>
                            </a>
                            <a
                                    v-else-if="!(this.$store.currentUser.userid === statusUpdate.creatorId)"
                                    class="btn btn-circle report"
                                    @click.prevent="showReportAlert"
                                    href="#"
                                    :title="$t('viewStatusupdate.reportPost')"
                            >
                                <img src="../../../../img/ICON_Report.png" class="clearfix w-100" alt="Report post"/>
                            </a>
                            <a
                                    v-else-if="isStatusUpdateFromEPortfolio !== 'album'"
                                    class="btn btn-circle report"
                                    @click.prevent="showDeleteAlert(-1, -1)"
                                    href="#"
                                    title="Delete post"
                            >
                                <img src="../../../../img/ICON_Delete-Post.png" class="clearfix w-100"
                                     alt="Delete post"/>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>

            <hr class="my-0"/>

            <!-- social feedbacks -->
            <div :class="{ scrollable: isStatusUpdateFromEPortfolio === 'album' }">
                <!-- First comment -->
                <div
                        class="media mt-1"
                        :class="{ 'mt-3': isStatusUpdateFromEPortfolio !== 'album' }"
                        v-for="(socialFeedback, index) in statusUpdate.socialFeedbacks"
                >
                    <a
                            class="btn btn-avatar mr-2"
                            :href="'profiles/' + socialFeedback.creatorId"
                            :title="$t('viewStatusupdate.profilePicHover')"
                    >
                        <DisplayImageFile
                                v-if="
                statusUpdate.userIdsWhoInteractedWithPost != null && getAvatarFileId(socialFeedback.creatorId) != null
              "
                                mode="statusupdate"
                                :imageFileId="getAvatarFileId(socialFeedback.creatorId)"
                        ></DisplayImageFile>

                        <img v-else src="../../../../img/user.png" class="clearfix w-100" alt="avatar"/>
                    </a>
                    <div class="media-body" style="max-width: 90%;">
                        <h6 class="mt-0 mb-1">
                            <a :href="'profiles/' + socialFeedback.creatorId">{{ socialFeedback.creatorName }}</a>
                        </h6>

                        <span
                                v-if="isStatusUpdateFromEPortfolio === 'album'"
                                class="mb-1"
                                v-html="socialFeedback.socialFeedbackText"
                        ></span>
                        <p v-else><span v-html="socialFeedback.socialFeedbackText"></span></p>

                        <ul class="list-inline p-1 mb-1">
                            <li class="list-inline-item show-on-hover">
                                <div data-toggle="dropdown">
                                    <a @click.prevent="likeASocialfeedback(index, -1)" class="btn btn-circle" href="#">
                                        <img src="../../../../img/ICON_Like.png" class="clearfix w-100"/>
                                    </a>
                                    <span>({{ socialFeedback.likesByUser.length }})</span>
                                </div>
                                <ul
                                        v-if="socialFeedback.likesByUser.length > 0"
                                        class="dropdown-menu p-3 dropdown-show-list-statusupdate"
                                        role="menu"
                                >
                                    <li v-for="like in socialFeedback.likesByUser">
                                        <a href="#" class="btn btn-circle">
                                            <DisplayImageFile
                                                    v-if="statusUpdate.userIdsWhoInteractedWithPost != null && getAvatarFileId(like.userid) != null"
                                                    mode="statusupdate"
                                                    :imageFileId="getAvatarFileId(like.userid)"
                                            ></DisplayImageFile>

                                            <img v-else src="../../../../img/user.png" class="clearfix w-100"
                                                 alt="avatar"/>
                                        </a>
                                        <span class="text-muted">{{ like.username }} {{ $t('viewStatusupdate.likedPost') }}</span>
                                    </li>
                                </ul>
                            </li>

                            <li class="list-inline-item">·</li>

                            <li class="list-inline-item">
                                <a
                                        @click="showReplyTextfield(index, -1)"
                                        class="btn btn-circle"
                                        :title="$t('viewStatusupdate.comment')"
                                >
                                    <img src="../../../../img/ICON_Comments.png" class="clearfix w-100" alt="comment"/>
                                </a>
                            </li>
                            <li class="list-inline-item">·</li>

                            <li class="list-inline-item">
                                <a
                                        v-if="checkModerators()"
                                        class="btn btn-circle report"
                                        @click.prevent="showDeleteAlert(index, -1)"
                                        href="#"
                                        title="Delete post"
                                >
                                    <img src="../../../../img/ICON_Delete-Post.png" class="clearfix w-100"
                                         alt="Delete post"/>
                                </a>
                                <a
                                        v-else-if="!($store.currentUser.userid === socialFeedback.creatorId)"
                                        class="btn btn-circle report"
                                        @click.prevent="showReportAlert"
                                        href="#"
                                        :title="$t('viewStatusupdate.reportPost')"
                                >
                                    <img src="../../../../img/ICON_Report.png" class="clearfix w-100"
                                         alt="Report post"/>
                                </a>
                                <a
                                        v-else
                                        class="btn btn-circle report"
                                        @click.prevent="showDeleteAlert(index, -1)"
                                        href="#"
                                        title="Delete post"
                                >
                                    <img src="../../../../img/ICON_Delete-Post.png" class="clearfix w-100"
                                         alt="Delete post"/>
                                </a>
                            </li>
                        </ul>

                        <div v-if="replyTextareaState[index][firstLevelTextAreaShow]" class="mb-5">
                            <AdvancedTextarea
                                    v-on:textinputUpdate="textinputUpdate($event, index, -1)"
                                    :textInputValue="replyTextareaState[index][firstLevelTextAreaInputText]"
                                    :focusOnRender="true"
                                    :placeholderText="$t('viewStatusupdate.placeholderText')"
                                    :textAreaRows="2"
                                    v-on:enterPressed="postSocialFeedbackToASocialFeedback(index, -1)"
                            ></AdvancedTextarea>

                            <p class="text-left textColor" v-if="replyTextareaState[index][2]">Please type in a text
                                first!</p>
                            <br/>
                            <button @click="postSocialFeedbackToASocialFeedback(index, -1)"
                                    class="btn btn-green pull-right">
                                {{ $t('viewStatusupdate.post') }}
                            </button>
                        </div>

                        <hr class="my-0"/>

                        <!-- comment to comment - reply -->
                        <div
                                class="media mt-1"
                                :class="{ 'mt-3': isStatusUpdateFromEPortfolio !== 'album' }"
                                v-for="(socialFeedbackOfSocialFeedback, childIndex) in socialFeedback.socialFeedbacks"
                        >
                            <a
                                    class="btn btn-avatar mr-1"
                                    :href="'profiles/' + socialFeedbackOfSocialFeedback.creatorId"
                                    title="Avatar"
                            >
                                <DisplayImageFile
                                        v-if="
                    statusUpdate.userIdsWhoInteractedWithPost != null &&
                      getAvatarFileId(socialFeedbackOfSocialFeedback.creatorId) != null
                  "
                                        mode="statusupdate"
                                        :imageFileId="getAvatarFileId(socialFeedbackOfSocialFeedback.creatorId)"
                                ></DisplayImageFile>

                                <img v-else src="../../../../img/user.png" class="clearfix w-100" alt="avatar"/>
                            </a>
                            <div class="media-body" style="max-width: 90%">
                                <h6 class="mt-0 mb-1">
                                    <a :href="'profiles/' + socialFeedbackOfSocialFeedback.creatorId">{{
                                        socialFeedbackOfSocialFeedback.creatorName
                                        }}</a>
                                </h6>

                                <span
                                        v-if="isStatusUpdateFromEPortfolio === 'album'"
                                        v-html="socialFeedbackOfSocialFeedback.socialFeedbackText"
                                        class="mb-1"
                                ></span>
                                <p v-else><span v-html="socialFeedbackOfSocialFeedback.socialFeedbackText"></span></p>

                                <ul class="list-inline p-1 mb-1">
                                    <li class="list-inline-item show-on-hover">
                                        <div data-toggle="dropdown">
                                            <a @click.prevent="likeASocialfeedback(index, childIndex)"
                                               class="btn btn-circle" href="#">
                                                <img src="../../../../img/ICON_Like.png" class="clearfix w-100"/>
                                            </a>
                                            <span>({{ socialFeedbackOfSocialFeedback.likesByUser.length }})</span>
                                        </div>
                                        <ul
                                                v-if="socialFeedbackOfSocialFeedback.likesByUser.length > 0"
                                                class="dropdown-menu p-3 dropdown-show-list-statusupdate"
                                                role="menu"
                                        >
                                            <li v-for="like in socialFeedbackOfSocialFeedback.likesByUser">
                                                <a href="#" class="btn btn-circle">
                                                    <DisplayImageFile
                                                            v-if="
                              statusUpdate.userIdsWhoInteractedWithPost != null && getAvatarFileId(like.userid) != null
                            "
                                                            mode="statusupdate"
                                                            :imageFileId="getAvatarFileId(like.userid)"
                                                    ></DisplayImageFile>

                                                    <img v-else src="../../../../img/user.png" class="clearfix w-100"
                                                         alt="avatar"/>
                                                </a>
                                                <span class="text-muted">{{ like.username }} {{ $t('viewStatusupdate.likedPost') }}</span>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="list-inline-item">·</li>

                                    <li class="list-inline-item">
                                        <a
                                                @click="showReplyTextfield(index, childIndex)"
                                                class="btn btn-circle"
                                                :title="$t('viewStatusupdate.comment')"
                                        >
                                            <img src="../../../../img/ICON_Comments.png" class="clearfix w-100"
                                                 alt="comment"/>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">·</li>
                                    <li class="list-inline-item">
                                        <a
                                                v-if="checkModerators()"
                                                class="btn btn-circle report"
                                                @click.prevent="showDeleteAlert(index, childIndex)"
                                                href="#"
                                                title="Delete post"
                                        >
                                            <img src="../../../../img/ICON_Delete-Post.png" class="clearfix w-100"
                                                 alt="Delete post"/>
                                        </a>
                                        <a
                                                v-else-if="!($store.currentUser.userid === socialFeedbackOfSocialFeedback.creatorId)"
                                                class="btn btn-circle report"
                                                @click.prevent="showReportAlert"
                                                href="#"
                                                :title="$t('viewStatusupdate.reportPost')"
                                        >
                                            <img src="../../../../img/ICON_Report.png" class="clearfix w-100"
                                                 alt="Report post"/>
                                        </a>
                                        <a
                                                v-else
                                                class="btn btn-circle report"
                                                @click.prevent="showDeleteAlert(index, childIndex)"
                                                href="#"
                                                title="Delete post"
                                        >
                                            <img src="../../../../img/ICON_Delete-Post.png" class="clearfix w-100"
                                                 alt="Delete post"/>
                                        </a>
                                    </li>
                                </ul>

                                <div
                                        v-if="replyTextareaState[index][secondLevelTextAreaState][childIndex][secondLevelTextAreaShow]"
                                        class="mb-5"
                                >
                                    <AdvancedTextarea
                                            ref="rootTextarea"
                                            v-on:textinputUpdate="textinputUpdate($event, index, childIndex)"
                                            :textInputValue="
                      replyTextareaState[index][secondLevelTextAreaState][childIndex][secondLevelTextAreaInputText]
                    "
                                            :focusOnRender="true"
                                            :placeholderText="$t('viewStatusupdate.placeholderText')"
                                            :textAreaRows="2"
                                            v-on:enterPressed="postSocialFeedbackToASocialFeedback(index, childIndex)"
                                    ></AdvancedTextarea>

                                    <p class="text-left textColor" v-if="replyTextareaState[index][3][childIndex][2]">
                                        Please type in a text first!
                                    </p>
                                    <br/>
                                    <button
                                            @click="postSocialFeedbackToASocialFeedback(index, childIndex)"
                                            class="btn btn-green pull-right"
                                    >
                                        {{ $t('viewStatusupdate.post') }}
                                    </button>
                                </div>

                                <hr class="my-0"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="my-0"/>

        <div class="card-footer" :class="{ 'ptb-0': isStatusUpdateFromEPortfolio === 'album' }">
            <div class="media">
                <a
                        class="btn btn-avatar"
                        href="profile-wall-bookmark-eportfolio-connection-about.html"
                        :title="$t('viewStatusupdate.profilePicHover')"
                >
                    <!-- <DisplayImageFile -->
                    <!-- v-if=" -->
                    <!-- statusUpdate.userIdsWhoInteractedWithPost != null && -->
                    <!-- getAvatarFileId(this.$store.currentUser.userid) != null -->
                    <!-- " -->
                    <!-- mode="statusupdate" -->
                    <!-- :imageFileId="getAvatarFileId(this.$store.currentUser.userid)" -->
                    <!-- &gt;</DisplayImageFile> -->

                    <!-- <DisplayImageFile -->
                    <!--
                      v-if="(currentUserProfileImage != null) && (currentUserProfileImage[this.$store.currentUser.userid] != null)"
                    -->
                    <!-- mode="statusupdate" -->
                    <!-- :imageFileId="currentUserProfileImage[this.$store.currentUser.userid]" -->
                    <!-- &gt;</DisplayImageFile> -->

                    <DisplayImageFile
                            v-if="avatarImgId != null"
                            mode="statusupdate"
                            :imageFileId="avatarImgId"
                    ></DisplayImageFile>

                    <img v-else src="../../../../img/user.png" class="clearfix w-100" alt="avatar"/>
                </a>
                <div class="media-body ml-2" style="max-width: 90%">
                    <p class="text-left textColor" v-if="inputErrorRootTextarea">Please type in a text first!</p>

                    <div v-if="isStatusUpdateFromEPortfolio === 'album'">
                        <AdvancedTextarea
                                ref="rootTextarea"
                                v-on:textinputUpdate="textinputUpdate($event, -1, -1)"
                                :textInputValue="rootSocialFeedbackText"
                                :textareaid="statusUpdate.statusUpdateId"
                                :textAreaRows="2"
                                :placeholderText="$t('viewStatusupdate.placeholderText')"
                                v-on:enterPressed="postRootSocialFeedback"
                        ></AdvancedTextarea>
                    </div>
                    <div v-else>
                        <AdvancedTextarea
                                ref="rootTextarea"
                                v-on:textinputUpdate="textinputUpdate($event, -1, -1)"
                                :textInputValue="rootSocialFeedbackText"
                                :textareaid="statusUpdate.statusUpdateId"
                                :placeholderText="$t('viewStatusupdate.placeholderText')"
                                v-on:enterPressed="postRootSocialFeedback"
                        ></AdvancedTextarea>
                    </div>

                    <nav class="navbar navbar-light bg-light justify-content-between">
                        <div></div>
                        <button @click="postRootSocialFeedback" class="btn btn-green pull-right">
                            {{ $t('viewStatusupdate.post') }}
                        </button>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    /*
          TODO fetching profile images is just quick and dirty. Absolute garbage code. Later: fetch just once and only refetch if user is not in fetched hashmap
               best would be to fetch globally e.g. in activitystream, instead of in each component for itself
          **/
    /*
          TODO: if to many social feedbacks, dont show all, instead show for example first 5 and then show link "show more" to display all remaining
                 with infinit scrolling
          **/

    /*
          TODO: cache profile pictures
          **/

    /*
          TODO: Put image blob in hashmap with userid as key,
                 so every profile picture will be just fetched once per ViewStatusUpdate component
          **/

    /*
          TODO: IF creating Social Feedback, then delete it, create another one, and post a social feedback to it
                 it is not possible to delete this second level social feedback

           **/

    import {getStatusUpdateApiUrl, getStatusUpdateUrl} from '../../../../js/global';
    import DisplayImageFile from '../DisplayImageFile';
    import AdvancedTextarea from '../AdvancedTextarea';
    import FileDownload from '../FileDownload';
    import {gamificationToast} from '../gamificationAlertConfigs.js';
    import * as EVENTS from '../../../../js/gamification';

    const firstLevelTextAreaShow = 0;
    const firstLevelTextAreaInputText = 1;
    const firstLevelTextAreaInputError = 2;
    const secondLevelTextAreaState = 3;

    const secondLevelTextAreaShow = 0;
    const secondLevelTextAreaInputText = 1;
    const secondLevelTextAreaInputError = 2;

    export default {
        name: 'ViewStatusUpdate',
        props: {
            moderators: {
                type: Array,
                required: false
            },
            title: {
                type: String,
                required: false
            },
            topic: {
                type: String,
                required: false
            },
            statusUpdateId: {
                type: String,
                required: true
            },
            statusUpdateObj: {
                type: Object,
                required: false
            },
            isStatusUpdateFromEPortfolio: {
                type: String,
                required: false
            }
        },
        components: {
            DisplayImageFile,
            AdvancedTextarea,
            FileDownload
        },
        data: function () {
            return {
                moderators_: this.moderators != null ? this.moderators : [],
                statusUpdate: [],
                loaded: false,

                replyTextareaState: [],
                firstLevelTextAreaShow: firstLevelTextAreaShow,
                firstLevelTextAreaInputText: firstLevelTextAreaInputText,
                firstLevelTextAreaInputError: firstLevelTextAreaInputError,
                secondLevelTextAreaState: secondLevelTextAreaState,

                secondLevelTextAreaShow: secondLevelTextAreaShow,
                secondLevelTextAreaInputText: secondLevelTextAreaInputText,
                secondLevelTextAreaInputError: secondLevelTextAreaInputError,

                inputErrorRootTextarea: false,
                rootSocialFeedbackText: '',
                intervalId: null,
                friendList: []
            };
        },
        watch: {
            //TODO: dont rebuild "replyTextareaState" after each update in statusUpdate, instead just push new states of SocialFeedbacks directly into "replyTextareaState"
            statusUpdate: {
                handler: function () {
                    let endOuter = this.statusUpdate.socialFeedbacks.length;

                    this.resetRootTextinput = false;
                    this.replyTextareaState = [];

                    for (let i = 0; i < endOuter; i++) {
                        this.replyTextareaState.push(this.getTextAreaStateObj(false));
                        let endInner = this.statusUpdate.socialFeedbacks[i].socialFeedbacks.length;

                        for (let j = 0; j < endInner; j++) {
                            this.replyTextareaState[i][this.secondLevelTextAreaState].push(this.getTextAreaStateObj(true));
                        }
                    }
                },
                deep: true
            },
            title: function (newVal) {
                console.log(newVal);
            },
            topic: function (newVal) {
                console.log(newVal);
            },
        },
        computed: {
            photoId: function () {
                return this.statusUpdate.photoFileId;
            },
            fileId: function () {
                return this.statusUpdate.fileId;
            },
            fileName: function () {
                return this.statusUpdate.fileName;
            },
            fileDescription: function () {
                return this.statusUpdate.fileDescription;
            },
            isDiscussion: function () {
                return this.title && this.topic;
            },
            avatarImgId: function () {
                return (this.avatarImageId = this.$store.profile.avatarImageId);
            },
            creationTime: function () {
                let date = new Date(this.statusUpdate.timestamp);
                let hour = (date.getHours() < 10 ? '0' : '') + date.getHours();
                let min = (date.getMinutes() < 10 ? '0' : '') + date.getMinutes();
                let time = hour + ':' + min;

                return time;
            },
            creationDate: function () {
                let date = new Date(this.statusUpdate.timestamp);
                let year = date.getFullYear();
                let month = date.getMonth() + 1;
                let day = (date.getDate() < 10 ? '0' : '') + date.getDate();
                let time = day + '.' + month + '.' + year;

                return time;
            }
        },
        mounted() {
            console.log(this.moderators);

            if (this.statusUpdateObj != null) {
                this.statusUpdate = this.statusUpdateObj;
                this.loaded = true;
            } else {
                this.getStatusUpdate();
            }

            /*
                TODO refresh only social feedback instead of whole statusupdate object. For example create new endpoint, which
                     polls for new social feedback. If there is one, return only this specific social feedback and append it to the
                     existing statusupdate in this component. That way one does not need to rebuild the complete state of this
                     component
               **/

            //refreshing the statusupdates every 10 seconds as long as no comment input field is open (because user may potentially still
            // writing. Not really a good way, but whatever
            this.intervalId = setInterval(this.refreshStatusUpdate, 10000);
        },
        beforeDestroy() {
            //when deleting a status update, make sure to clear the running timer
            clearInterval(this.intervalId);
        },
        methods: {
            checkModerators: function () {
                let result = false;

                if (this.moderators_ != null && this.moderators_.includes(this.$store.currentUser.userid))
                    result = true;

                console.log(result);
                return result;
            },
            refreshStatusUpdate: function () {
                if (this.checkIfCurrentlyNotWriting()) {
                    this.getStatusUpdate();
                }
            },
            checkIfCurrentlyNotWriting: function () {
                //checks if no textinput is open, which might indicate that a user is still typing. Later on a better check is
                //needed, instead of iterating thru the 2d array
                let refresh = true;
                for (let i = 0; i < this.replyTextareaState.length; i++) {
                    if (this.replyTextareaState[i][this.firstLevelTextAreaShow]) {
                        refresh = false;
                        break;
                    }

                    for (let j = 0; j < this.replyTextareaState[i][this.secondLevelTextAreaState].length; j++) {
                        if (this.replyTextareaState[i][this.secondLevelTextAreaState][j][this.secondLevelTextAreaShow]) {
                            refresh = false;
                            break;
                        }
                    }
                }
                return refresh;
            },
            getTextAreaStateObj: function (isInnerState) {
                let state = [];
                let textAreaShow = false;
                let textAreaInputText = '';
                let inputError = false;
                let resetTextarea = false;

                state.push(textAreaShow);
                state.push(textAreaInputText);
                state.push(inputError);

                if (isInnerState == false) {
                    let secondLevelTextAreaState = [];
                    state.push(secondLevelTextAreaState);
                }
                return state;
            },
            getStatusUpdate: function () {
                axios.get(getStatusUpdateApiUrl('API_GATEWAY_STORAGE') + '/' + this.statusUpdateId).then(
                    response => {
                        // console.log(this.statusUpdate);
                        this.statusUpdate = response.data;
                        this.loaded = true;
                        this.$forceUpdate();
                    },
                    error => {
                        if (error.response.status === 404) {
                            let eventData = {};
                            eventData.statusUpdateId = this.statusUpdateId;
                            eventData.topic = this.topic;
                            this.$emit('statusUpdateDoesNotExist', eventData);
                        }
                        console.log(error);
                    }
                );
            },
            deleteStatusUpdate: function () {
                axios.delete(getStatusUpdateApiUrl('API_GATEWAY_STORAGE') + '/' + this.statusUpdateId).then(
                    response => {
                        console.log('deleted statusupdate');
                        this.$emit('deleted');
                    },
                    error => {
                        console.log(error);
                    }
                );
            },
            //TODO delete also files, if attached
            deleteSocialFeedback: function (index, childIndex) {
                // alert(
                //   "not implemented yet. Index= " + index + ", Childindex= " + childIndex
                // );
                axios
                    .delete(
                        getStatusUpdateApiUrl('API_GATEWAY_STORAGE') +
                        '/socialfeedback/' +
                        this.statusUpdateId +
                        '?index=' +
                        index +
                        '&childIndex=' +
                        childIndex
                    )
                    .then(
                        response => {
                            this.statusUpdate = response.data;

                            this.$forceUpdate();
                        },
                        error => {
                            console.log(error);
                        }
                    );
            },

            inputValid: function (index, childIndex) {
                let valid = true;

                if (childIndex < 0 && index >= 0) {
                    if (this.replyTextareaState[index][this.firstLevelTextAreaInputText] == '') {
                        this.replyTextareaState[index][this.firstLevelTextAreaInputError] = true;
                        this.$forceUpdate();
                        valid = false;
                    }
                } else if (childIndex >= 0 && index >= 0) {
                    if (
                        this.replyTextareaState[index][this.secondLevelTextAreaState][childIndex][
                            this.secondLevelTextAreaInputText
                            ] == ''
                    ) {
                        this.replyTextareaState[index][this.secondLevelTextAreaState][childIndex][
                            this.secondLevelTextAreaInputError
                            ] = true;
                        this.$forceUpdate();
                        valid = false;
                    }
                } else {
                    valid = false;
                }
                return valid;
            },
            postRootSocialFeedback: function () {
                if (this.rootSocialFeedbackText == '') {
                    this.inputErrorRootTextarea = true;
                } else {
                    let text = this.rootSocialFeedbackText;
                    this.inputErrorRootTextarea = false;
                    this.submitSocialFeedback(-1, text);
                }
            },
            postSocialFeedbackToASocialFeedback: function (index, childIndex) {
                if (this.inputValid(index, childIndex)) {
                    let text = '';

                    if (childIndex < 0 && index >= 0) {
                        text = this.replyTextareaState[index][this.firstLevelTextAreaInputText];
                    } else if (childIndex >= 0 && index >= 0) {
                        text = this.replyTextareaState[index][this.secondLevelTextAreaState][childIndex][
                            this.secondLevelTextAreaInputText
                            ];
                    }
                    this.submitSocialFeedback(index, text, childIndex);
                }
            },
            //TODO: very basic for now. Later need to save the mention in an appropriated way and display as link to user in text
            addMention: function (userId, userName) {
                let mention = '@' + userName + ': ';

                return mention;
            },
            submitSocialFeedback: function (index, text, childIndex) {
                let config = {
                    headers: {
                        'Content-Type': 'text/plain'
                    }
                };

                if (typeof childIndex === 'undefined') {
                    childIndex = -1;
                }

                axios
                    .post(
                        getStatusUpdateApiUrl('API_GATEWAY_STORAGE') +
                        '/socialfeedback/' +
                        this.statusUpdateId +
                        '?index=' +
                        index +
                        '&childIndex=' +
                        childIndex,
                        text,
                        config
                    )
                    .then(
                        response => {
                            // console.log(response.data);
                            this.statusUpdate = response.data;

                            if ((index = -1)) {
                                this.rootSocialFeedbackText = '';
                            }
                            this.$forceUpdate();
                            //Tobias:
                            //For the bonus task in mission I need to know what a user has posted.
                            // Therefore I need this event
                            //Event data is the statusUpdateId + the text to identify the socialfeedback later on
                            //Or is there a way to get the socialFeebackId that the user posted?
                            let eventData = {};
                            eventData.statusUpdateId = this.statusUpdate.statusUpdateId;
                            eventData.text = text;
                            this.$emit('socialFeedbackSubmitted', eventData);
                        },
                        error => {
                            console.log(error);
                        }
                    );
            },
            showReplyTextfield: function (index, childIndex) {
                if (childIndex < 0) {
                    if (this.replyTextareaState[index][this.firstLevelTextAreaShow] == false) {
                        this.replyTextareaState[index][this.firstLevelTextAreaShow] = true;
                    } else {
                        this.replyTextareaState[index][this.firstLevelTextAreaShow] = false;
                        this.replyTextareaState[index][this.firstLevelTextAreaInputText] = '';
                    }
                } else {
                    if (
                        this.replyTextareaState[index][this.secondLevelTextAreaState][childIndex][this.secondLevelTextAreaShow] ==
                        false
                    ) {
                        this.replyTextareaState[index][this.secondLevelTextAreaState][childIndex][
                            this.secondLevelTextAreaShow
                            ] = true;

                        let userName = this.statusUpdate.socialFeedbacks[index].socialFeedbacks[childIndex].creatorName;
                        let text =
                            '@' +
                            userName +
                            ' ' +
                            this.replyTextareaState[index][this.secondLevelTextAreaState][childIndex][
                                this.secondLevelTextAreaInputText
                                ];
                        this.replyTextareaState[index][this.secondLevelTextAreaState][childIndex][
                            this.secondLevelTextAreaInputText
                            ] = text;
                    } else {
                        this.replyTextareaState[index][this.secondLevelTextAreaState][childIndex][
                            this.secondLevelTextAreaShow
                            ] = false;
                        this.replyTextareaState[index][this.secondLevelTextAreaState][childIndex][this.secondLevelTextAreaInputText] =
                            '';
                    }
                }
                this.$forceUpdate();
            },
            focusTextarea(id) {
                $('#advancedTextArea_' + id).focus();
            },
            likeStatusUpdate: function () {
                axios.put(getStatusUpdateApiUrl('API_GATEWAY_STORAGE') + '/like/' + this.statusUpdateId).then(
                    response => {
                        this.statusUpdate = response.data;
                        this.$forceUpdate();

                        let userId = this.$store.currentUser.userid;
                        //alert(userId)
                        /*
                        if(this.statusUpdate.likesByUser.indexOf(userId) > -1){
                          alert("test")
                        }
                        */

                        this.sendGamificationEvent(EVENTS.COMMUNITY_LIKE_SHARE_UPDATE);
                    },
                    error => {
                        console.log(error);
                    }
                );
            },
            likeASocialfeedback: function (index, childindex) {
                axios
                    .put(
                        getStatusUpdateApiUrl('API_GATEWAY_STORAGE') +
                        '/like/socialfeedback/' +
                        this.statusUpdateId +
                        '?index=' +
                        index +
                        '&childIndex=' +
                        childindex
                    )
                    .then(
                        response => {
                            this.statusUpdate = response.data;
                            this.$forceUpdate();
                        },
                        error => {
                            console.log(error);
                        }
                    );
            },
            shareStatusUpdate: function () {
                this.showShareAlert();
                // axios.put(getStatusUpdateApiUrl('API_GATEWAY_STORAGE') + '/share/' + this.statusUpdateId).then(response => {
                //
                //         this.statusUpdate = response.data;
                //         this.$forceUpdate();
                //         this.showShareAlert();
                //     },
                //     (error) => {
                //       console.log(error);
                //     },
                // );
            },
            showShareAlert: function () {
                let url = window.location.origin + '/statusupdate/' + this.statusUpdateId;
                let self = this;
                this.$swal({
                    html:
                        '<h6>' +
                        self.$t('viewStatusupdate.sharePostAlertMessage') +
                        '</h6>' +
                        '<input id="shareInput_' +
                        this.statusUpdateId +
                        '"readonly class="form-control" type="text" ' +
                        ' value="' +
                        url +
                        '">',

                    width: '34rem',
                    showCancelButton: true,
                    showConfirmButton: true,
                    confirmButtonColor: '#90d400',
                    cancelButtonColor: '#ed730e',
                    confirmButtonText: self.$t('viewStatusupdate.sharePostAlertMessageConfirmBtn'),
                    cancelButtonText: self.$t('viewStatusupdate.sharePostAlertMessageCancelBtn')
                }).then(isConfirm => {
                    if (isConfirm.value) {
                        this.copyUrlToClipboard();

                        this.$swal({
                            title: self.$t('viewStatusupdate.sharePostAlertrmMsgTitle'),
                            text: self.$t('viewStatusupdate.sharePostAlertrmMsgText'),
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonColor: '#90d400'
                        });
                    }
                });
            },
            copyUrlToClipboard: function () {
                var copyText = document.getElementById('shareInput_' + this.statusUpdateId);

                /* Select the text field */
                copyText.select();

                /* Copy the text inside the text field */
                document.execCommand('copy');
            },
            textinputUpdate: function (text, index, childIndex) {
                if (index == -1) {
                    this.rootSocialFeedbackText = text;
                }
                if (index >= 0 && childIndex == -1) {
                    this.replyTextareaState[index][this.firstLevelTextAreaInputText] = text;
                }

                if (index >= 0 && childIndex >= 0) {
                    this.replyTextareaState[index][this.secondLevelTextAreaState][childIndex][
                        this.secondLevelTextAreaInputText
                        ] = text;
                }
            },
            showReportAlert: function () {
                let self = this;
                this.$swal({
                    title: self.$t('viewStatusupdate.reportPostAlertTitle'),
                    text: self.$t('viewStatusupdate.reportPostAlertMessage'),
                    type: 'success',
                    showCancelButton: false,
                    confirmButtonColor: '#90d400'
                });
            },
            showBookmarkAlert: function () {
                let self = this;
                this.$swal({
                    title: self.$t('viewStatusupdate.saveBookmarkAlertTitle'),
                    text: self.$t('viewStatusupdate.saveBookmarkAlertMessage'),
                    type: 'success',
                    showCancelButton: false,
                    confirmButtonColor: '#90d400'
                });
            },
            showDeleteAlert: function (index, childindex) {
                let self = this;
                this.$swal({
                    text: self.$t('viewStatusupdate.deletePostAlertQuestion'),

                    type: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#90d400',
                    cancelButtonColor: '#ed730e',
                    confirmButtonText: self.$t('viewStatusupdate.deletePostAlertConfirmBtn'),
                    cancelButtonText: self.$t('viewStatusupdate.deletePostAlertCancelBtn')
                }).then(result => {
                    if (result.value) {
                        if (index < 0) {
                            this.deleteStatusUpdate();
                        } else {
                            this.deleteSocialFeedback(index, childindex);
                        }
                        this.$swal({
                            title: self.$t('viewStatusupdate.deletePostAlertConfirmMsgTitle'),
                            text: self.$t('viewStatusupdate.deletePostAlertConfirmMsgText'),
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonColor: '#90d400'
                        });

                        //swal("Deleted!", "Your post has been deleted.", "success");
                    }
                });
            },
            getAvatarFileId: function (userid) {
                let result = null;

                if (this.statusUpdate.userIdsWhoInteractedWithPost[userid] != null) {
                    result = this.statusUpdate.userIdsWhoInteractedWithPost[userid];
                }
                return result;
            },
            //TODO: remove because unused?
            /*
            fetchAvatarFileIdByUserId(userid) {
              let fileId = '';
              let userids = [];
              userids.push(userid);

              const useridsParam = jQuery.param({
                userids
              });

              axios.get(storage_getdashboardApiUrl('API_GATEWAY_STORAGE') + '/profile/image?' + useridsParam).then(
                response => {
                  //console.log(response);
                  fileId = response.data;
                },
                error => {
                  console.log(error);
                }
              );
              return fileId[userid];
            },
            */
            fetchAvatarImageBlobByFileId(fileId) {
                axios
                    .get(storage_getURL('FILES') + '/api/files/' + this.imageFileId, {
                        responseType: 'blob',
                        headers: {Accept: 'application/octet-stream'}
                    })
                    .then(
                        response => {
                            // console.log(response);

                            this.url = window.URL.createObjectURL(new Blob([response.data], {type: 'application/octet-stream'}));
                        },
                        error => {
                            console.log(error);
                        }
                    );
            },
            saveAvatarImageBlobInSessionStore: function (userid, blob) {
                sessionStorage.setItem('statusupdate_' + userid, blob);
            },
            getAvatarImageBlobFromSessionStoreIfExist(userid) {
                console.log(sessionStorage.getItem('statusupdate_' + userid));
            },
            sendGamificationEvent: function (eventId) {
                let params = $.param({
                    userid: this.$store.currentUser.userid,
                    eventid: eventId
                });
                axios
                    .get(storage_getURL('API_GATEWAY_STORAGE') + '/api-proxy/achievements/api/gamification?' + params)
                    .then(response => {
                        gamificationToast(this, response);
                        this.$dailyGoalBus.$emit('points');
                    });
            }
        }
    };
</script>

<style scoped>
    .textColor {
        color: red;
    }

    .scrollable {
        max-height: 500px;
        overflow-y: auto;
    }

    .ptb-0 {
        padding-top: 0;
        padding-bottom: 0;
    }

    .pb-1 {
        padding-bottom: 5px;
    }

    p {
        max-width: 100%;
        word-wrap: break-word;
    }
</style>