<template>
  <div>
    <ViewStatusUpdate
      v-if="loaded"
      :title="discussion.title"
      :topic="discussion.topic"
      :status-update-id="discussion.statusUpdateId"
      v-on:socialFeedbackSubmitted="handleSocialFeedbackSubmitted"
    >
    </ViewStatusUpdate>
  </div>
</template>

<script>
import ViewStatusUpdate from '../../common/statusupdate/ViewStatusUpdate';
import { getDiscussionsEndpoint, getStudentsEndpoint } from '../../../../js/global.js';

export default {
  name: 'BonusTask',
  props: {
    missionId: {
      type: String,
      required: true
    }
  },
  components: {
    ViewStatusUpdate
  },
  data() {
    return {
      loaded: false,
      discussion: {}
    };
  },
  created() {
    axios.get(`${getDiscussionsEndpoint('API_GATEWAY_STORAGE')}?missionId=${this.missionId}`).then(response => {
      this.discussion = response.data;
      this.loaded = true;
    });
  },
  methods: {
    handleSocialFeedbackSubmitted(e) {
      let bonusTaskState = {};
      bonusTaskState.messageRequestAccepted = true;
      bonusTaskState.done = true;
      bonusTaskState.discussionId = this.discussion._id.$oid;
      bonusTaskState.socialFeedbackText = e.text;
      axios
        .put(
          `${getStudentsEndpoint('API_GATEWAY_STORAGE')}/${this.$store.currentUser.userid}/missions/${
            this.missionId
          }/bonusTaskState`,
          bonusTaskState
        )
        .then(() => {
          let $this = this;
          this.$swal({
            title: $this.$t('bonusTask.congratulation'),
            text: $this.$t('bonusTask.congratulationText'),
            type: 'success',
            timer: 1500
          }).then(() => {
            this.$router.push(`/missions/${this.missionId}/overview`);
          });
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>

<style scoped></style>
