<template>
  <div>
    <div v-if="this.$store.currentUser.usertype === 'teacher' || this.$store.currentUser.usertype === 'incubator'">
      <TeacherMission></TeacherMission>
    </div>

    <div v-else>
      <StudentMission></StudentMission>
    </div>
  </div>
</template>

<script>
  import TeacherMission from './TeachersMissions.vue';
  import StudentMission from './StudentsMissions.vue';

  export default {
    name: 'Missions',
    components: {
      TeacherMission,
      StudentMission
    },
  };
</script>

<style scoped>
  @import url('../../../../css/courses.css');
</style>
