<template>
  <div>
    <!-- Sub tabs -->
    <div class="card mt-3">
      <div class="card-header pl-0 pr-0 pb-0">
        <ul class="nav nav-tabs nav-fill" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link-s active"
              id="Missions-contents-tab"
              data-toggle="tab"
              href="#Missions-contents"
              role="tab"
              data-controls="Missions-contents"
              aria-selected="false"
            >
              <h6>{{ $t('missionViewContent.contents') }}</h6>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link-s"
              id="Missions-discussion-tab"
              data-toggle="tab"
              href="#Missions-discussion"
              role="tab"
              data-controls="Missions-discussion"
              aria-selected="false"
            >
              <h6>{{ $t('missionViewContent.discussion') }}</h6>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link-s"
              id="Missions-resources-tab"
              data-toggle="tab"
              href="#Missions-resources"
              role="tab"
              data-controls="Missions-resources"
              aria-selected="false"
            >
              <h6>{{ $t('missionViewContent.resources') }}</h6>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link-s"
              id="Missions-community-tab"
              data-toggle="tab"
              href="#Missions-community"
              role="tab"
              data-controls="Missions-community"
              aria-selected="false"
            >
              <h6>{{ $t('missionViewContent.communities') }}</h6>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link-s"
              id="Missions-info-tab"
              data-toggle="tab"
              href="#Missions-info"
              role="tab"
              data-controls="Missions-info"
              aria-selected="false"
            >
              <h6>{{ $t('missionViewContent.information') }}</h6>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Navigation breadcrumb -->
    <nav class="mt-3" aria-label="breadcrumb">
      <!-- current content is a level -->
      <ol v-if="!state.content.type" class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">{{ state.content.title }}</li>
      </ol>

      <!-- current content is a learning object -->
      <ol v-else class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">{{ getLevelTitleOfLearningObject(state.content) }}</li>
        <li class="breadcrumb-item active" aria-current="page">{{ state.content.title }}</li>
      </ol>
    </nav>

    <!-- Content of sub tabs -->
    <div class="tab-content mt-3">
      <!-- Tab of content-->
      <div
        class="tab-pane fade show active"
        id="Missions-contents"
        role="tabpanel"
        aria-labelledby="Missions-contents-tab"
      >
        <div v-if="!state.content.type || state.content.type === 'Task' || state.content.type === 'Assignment'">
          <div class="card mt-3">
            <div class="card-header card-header-with-border">
              <h6 class="text-left">{{ state.content.title }}</h6>
            </div>
            <div class="card-body text-left" v-html="state.content.html"></div>
          </div>
          <div class="row">
            <div class="col">
              <div v-if="showPreviousButton" class="text-left mt-3">
                <button @click="previousContentPage" type="button" class="btn btn-green w-50">
                  {{ $t('missionViewContent.previous') }}
                </button>
              </div>
            </div>
            <div class="col">
              <div v-if="showNextButton" class="text-right mt-3">
                <button @click="nextContentPage" type="button" class="btn btn-green w-50">
                  {{ $t('missionViewContent.next') }}
                </button>
              </div>
            </div>
          </div>
        </div>
        <div v-else>
          <div v-if="state.content.type === 'Challenge'">
            <Challenge
              :challenge="state.content"
              v-on:challengeSubmitted="nextContentPage"
              v-on:studentClickedNext="nextContentPage"
              v-on:studentClickedPrevious="previousContentPage"
            ></Challenge>
          </div>
          <div v-else><h1>something went wrong :(</h1></div>
        </div>
      </div>

      <!-- Tab of mission Discussion -->
      <div class="tab-pane fade" id="Missions-discussion" role="tabpanel" aria-labelledby="Missions-discussion-tab">
        <Discussions
                :moderators="state.moderators"
          :learning-objects="state.learningObjects"
          :discussions="state.allDiscussions"
          v-on:socialFeedbackSubmitted="handleSocialFeedbackSubmitted"
          v-on:statusUpdateDoesNotExist="handleStatusUpdateDoesNotExist"
          v-on:statusUpdateDeleted="handleStatusUpdateDeleted"
        ></Discussions>
      </div>

      <!-- Tab of mission resources -->
      <!-- 1. Teacher can upload resources and add to lab -->
      <!-- 2. They can choose from the levels, where to put this file. -->
      <!-- 3. They can only upload one file for once -->
      <!--
              4. They can upload file with pdf, ppt, doc..., and images with jpg, png, jpeg, and videos with aiv, mp4.., and zip, rar, and url.
            -->
      <div class="tab-pane fade" id="Missions-resources" role="tabpanel" aria-labelledby="Missions-resources-tab">
        <div class="card">
          <div class="card-header card-header-with-border">
            <h6 class="text-left">{{ $t('missionViewContent.resources') }}</h6>
          </div>
          <div class="card-body">
            <ResourceTable :resource-id-to-relevance-map="this.state.resourceIdToRelevanceMapping"></ResourceTable>
          </div>
        </div>
      </div>

      <!-- Tab of community -->
      <div class="tab-pane fade" id="Missions-community" role="tabpanel" aria-labelledby="Missions-community-tab">
        <div class="card">
          <MissionCommunities ref="missionCommunities" :mission-i-d="this.missionId"></MissionCommunities>
        </div>
      </div>

      <!-- Tab of informations -->
      <div class="tab-pane fade" id="Missions-info" role="tabpanel" aria-labelledby="Missions-info-tab">
        <div class="card">
          <div class="card-header card-header-with-border">
            <h6 class="text-left">
              {{ $t('missionViewContent.description') }}
            </h6>
          </div>
          <div class="card-body">
            <div class="text-mission-des">
              <div v-html="state.mission.missionMetadata.informationAboutMission.description"></div>
            </div>
          </div>
        </div>

        <div class="card mt-3">
          <div class="card-header card-header-with-border">
            <h6 class="text-left">
              {{ $t('missionViewContent.objectives') }}
            </h6>
          </div>
          <div class="card-body">
            <div class="text-mission-des">
              <div v-html="state.mission.missionMetadata.informationAboutMission.objectives"></div>
            </div>
          </div>
        </div>

        <div class="card mt-3">
          <div class="card-header card-header-with-border">
            <h6 class="text-left">
              {{ $t('missionViewContent.requirements') }}
            </h6>
          </div>
          <div class="card-body">
            <div class="text-mission-des">
              <div v-html="state.mission.missionMetadata.informationAboutMission.requirements"></div>
            </div>
          </div>
        </div>

        <div class="card mt-3">
          <div class="card-header card-header-with-border">
            <h6 class="text-left">
              {{ $t('missionViewContent.result') }}
            </h6>
          </div>
          <div class="card-body">
            <div class="text-mission-des">
              <div v-html="state.mission.missionMetadata.informationAboutMission.resultOfMission"></div>
            </div>
          </div>
        </div>

        <div class="card mt-3">
          <div class="card-header card-header-with-border">
            <h6 class="text-left">
              {{ $t('missionViewContent.rewards') }}
              <a href="#" class="btn btn-circle btn-set-point" title="Info about reward rules">
                <img src="../../../../img/ICON_Newest-Answer.png" class="clearfix" alt="edit" />
              </a>
            </h6>
          </div>
          <div class="card-body">
            <div class="table-responsive pl-2 pr-2 mb-3">
              <table class="table table-hover text-center">
                <thead>
                  <th>{{ $t('missionViewContent.rewardsResources') }}</th>
                  <th>
                    <img src="../../../../img/ICONS-Knowledge-Points-Yellow-White-circle.png" style="width: 38%;" />
                  </th>
                  <th><img src="../../../../img/ICONS-Social-Points-Blue-White-circle.png" style="width: 38%;" /></th>
                  <th>
                    <img src="../../../../img/ICONS-Creativity-Points-Red-White-circle.png" style="width: 38%;" />
                  </th>
                  <th>Total</th>
                </thead>
                <tbody>
                  <tr>
                    <td class="mission-states mission-states-title">
                      <span>{{ $t('missionViewContent.taskCompletion') }}</span>
                    </td>
                    <td class="mission-states"><p>100</p></td>
                    <td class="mission-states"><p>20</p></td>
                    <td class="mission-states"><p>40</p></td>
                    <td>8 Tasks</td>
                  </tr>
                  <tr>
                    <td class="mission-states mission-states-title">
                      <span>{{ $t('missionViewContent.assignmentCompletion') }}</span>
                    </td>
                    <td class="mission-states"><p>60</p></td>
                    <td class="mission-states"><p>20</p></td>
                    <td class="mission-states"><p>50</p></td>
                    <td>4 Assignments including Coops</td>
                  </tr>
                  <tr>
                    <td class="mission-states mission-states-title">
                      <span>{{ $t('missionViewContent.challengeCompletion') }}</span>
                    </td>
                    <td class="mission-states"><p>80</p></td>
                    <td class="mission-states"><p>20</p></td>
                    <td class="mission-states"><p>60</p></td>
                    <td>1 Challenge</td>
                  </tr>
                  <tr>
                    <td class="mission-states mission-states-title">
                      <span>{{ $t('missionViewContent.levelCompletion') }}</span>
                    </td>
                    <td class="mission-states"><p>50</p></td>
                    <td class="mission-states"><p>20</p></td>
                    <td class="mission-states"><p>30</p></td>
                    <td>5 Levels</td>
                  </tr>
                  <tr>
                    <td class="mission-states mission-states-title">
                      <span>{{ $t('missionViewContent.extraRewards') }}</span>
                    </td>
                    <td class="mission-states"><p>Suprise</p></td>
                    <td class="mission-states"><p>Suprise</p></td>
                    <td class="mission-states"><p>Suprise</p></td>
                    <td>{{ $t('missionViewContent.goToExplore') }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <CreateCommunityModal
      v-on:newCommunityCreated="handleNewCommunityCreated"
      :mission-i-d="this.missionId"
    ></CreateCommunityModal>
  </div>
</template>

<script>
import {
  getStatusUpdateApiUrl,
  getLearningObjectsEndpoint,
  getDiscussionsEndpoint,
  getMissionsEndpoint,
  getStudentsEndpoint
} from '../../../../js/global.js';
import Discussions from './common/Discussions';
import Challenge from './common/Challenge.vue';
import MissionCommunities from '../common/MissionCommunities';
import CreateCommunityModal from '../common/CreateCommunityModal';
import ResourceTable from '../common/resources/ResourceTable';
import { gamificationToast } from '../../common/gamificationAlertConfigs.js';
import * as EVENTS from '../../../../js/gamification';

export default {
  name: 'MissionViewContent',
  props: {
    missionId: String,
    studentProgress: {
      type: String
    }
  },
  components: {
    Challenge,
    Discussions,
    MissionCommunities,
    CreateCommunityModal,
    ResourceTable
  },
  data() {
    return {
      state: {
          moderators: [],
        mission: {
          missionMetadata: {
            generalMetadata: {},
            educationalMetadata: {},
            informationAboutMission: {
              description: '',
              objectives: '',
              requirements: '',
              resultOfMission: ''
            }
          }
        },
        missionState: {},
        content: {},
        learningObjects: [],
        allDiscussions: [],
        resources: [],
        learningObjectTitleToResourceIdsMapping: {},
        resourceIdToRelevanceMapping: new Map(),
        youtubeIframeApiLoaded: false,
        contentLoaded: false
      }
    };
  },
  computed: {
    showPreviousButton() {
      return this.state.missionState.currentProgress > 0;
    },
    showNextButton() {
      return this.state.missionState.currentProgress <= this.state.missionState.maxProgress;
    },
    learningObjectIds() {
      if (this.state.levels.length === 0) return [];
      //return this.state.levels.map(level => level.learningObjectIds).flat();
      return this.state.levels.map(level => level.learningObjectIds).reduce((acc, val) => acc.concat(val), []);
    },
    contentAndYoutubeApiLoaded() {
      return this.state.contentLoaded && this.state.youtubeIframeApiLoaded;
    }
  },
  watch: {
    contentAndYoutubeApiLoaded: function(val) {
      if (!val) return;
      if (!this.state.content.videoIdToRobotactionMap) return;

      console.log('content and youtube iframe api ready');

      let $this = this;
      window.onYoutubeIframePlayerStateChange = function(e) {
        let videoId = e.target.a.id;
        let allVideoTriggers = $this.state.content.videoIdToRobotactionMap;
        let triggersForThisVideo = allVideoTriggers[videoId];
        console.log(triggersForThisVideo);

        if (e.data === YT.PlayerState.UNSTARTED) {
          let onStartRobotActionId = triggersForThisVideo.onStart.id;
          if (onStartRobotActionId !== '') {
            $this.executeRobotAction(onStartRobotActionId);
          }
        }
        if (e.data === YT.PlayerState.ENDED) {
          let onEndRobotActionId = triggersForThisVideo.onEnd.id;
          if (onEndRobotActionId !== '') {
            $this.executeRobotAction(onEndRobotActionId);
          }
        }
        if (e.data === YT.PlayerState.PLAYING) {
          let timerTriggers = triggersForThisVideo.timerTrigger;
          let validTimerTriggers = timerTriggers.filter(timerTrigger => timerTrigger.id !== '');
          validTimerTriggers.map(validTimerTrigger => {
            setTimeout(
              function() {
                $this.executeRobotAction(idleAction.id);
              }.bind(this),
              validTimerTrigger.timeToTriggerMinutes * 60 * 1000 + validTimerTrigger.additionalSeconds * 1000
            );
          });
        }
      };

      let videoIds = Object.keys(this.state.content.videoIdToRobotactionMap);
      if (videoIds.length === 0) {
        console.log('no videos in this content');
        return;
      }
      videoIds.map(videoId => {
        new YT.Player(videoId, {
          events: {
            onStateChange: onYoutubeIframePlayerStateChange
          }
        });
      });
    }
  },
  methods: {
    nextContentPage() {
      this.state.contentLoaded = false;
      axios
        .post(
          `${getStudentsEndpoint('API_GATEWAY_STORAGE')}/${this.$store.currentUser.userid}/activeMissions/${
            this.missionId
          }/increaseProgress`
        )
        .then(response => {
          //update content based on current progress
          this.state.missionState = response.data;

          if (
            this.state.missionState.missionFinished &&
            this.state.missionState.currentProgress == this.state.missionState.maxProgress
          ) {
          	 			// Gamification -> for daily login
                        let params = $.param({
          	              userid: this.$store.currentUser.userid,
          	              eventid: EVENTS.COMPLETE_100_PERCENT_COURSE,
          	            });

          	            axios.get(storage_getURL('API_GATEWAY_STORAGE') + '/api-proxy/achievements/api/gamification?' + params)
	                    .then(response => {
	                      gamificationToast(this, response);
	                      this.$dailyGoalBus.$emit('points');
	                    });
          
          
            if (this.state.mission.robotActions && this.state.mission.robotActions.onMissionFinished.id !== '') {
              this.executeRobotAction(this.state.mission.robotActions.onMissionFinished.id);
            }
            this.$router.push(`/missions/${this.missionId}/overview`);
          } else {
            this.update().then(() => {
              if (this.state.content.robotActions && this.state.content.robotActions.onNext.id !== '') {
                this.executeRobotAction(this.state.content.robotActions.onNext.id);
              }
            });
          }
        });
    },
    previousContentPage() {
      this.state.contentLoaded = false;
      axios
        .post(
          `${getStudentsEndpoint('API_GATEWAY_STORAGE')}/${this.$store.currentUser.userid}/activeMissions/${
            this.missionId
          }/decreaseProgress`
        )
        .then(response => {
          this.state.missionState = response.data;
          this.update();
        });
    },
    update() {
      return axios
        .get(
          `${getMissionsEndpoint('API_GATEWAY_STORAGE')}/${this.missionId}/${this.state.missionState.currentProgress}`
        )
        .then(response => {
          if (response.status === 204) {
            this.$router.push(`/missions/${this.missionId}/overview`);
            return;
          }
          this.state.content = response.data;
          this.state.contentLoaded = true;
          if (this.state.content.robotActions && this.state.content.robotActions.onLoad.id !== '') {
            this.executeRobotAction(this.state.content.robotActions.onLoad.id);
          }
          this.scheduleRobotIdleActionTimers(this.state.content);
          this.updateResources();
          this.updateLearningObjects();
          this.updateDiscussions();
          window.scrollTo(0, 0);
        });
    },
    updateResources() {
      let learningObjectIds = [];
      if (this.state.content.type) {
        learningObjectIds.push(this.state.content._id.$oid);
      } else {
        learningObjectIds = this.state.content.learningObjectIds;
      }
      let learningObjectIdsQueryParam = { learningObjectIds: learningObjectIds };
      axios
        .get(`${getLearningObjectsEndpoint('API_GATEWAY_STORAGE')}/resources?${$.param(learningObjectIdsQueryParam)}`)
        .then(response => {
          this.state.resourceIdToRelevanceMapping = new Map(Object.entries(response.data.resourceIdToRelevanceMapping));
        });
    },
    updateDiscussions() {
      axios.get(`${getMissionsEndpoint('API_GATEWAY_STORAGE')}/${this.missionId}/discussions`).then(response => {
        if (response.status === 204) {
          this.state.allDiscussions = [];
        } else {
          this.state.allDiscussions = response.data.discussions;
        }
      });
    },
    updateLearningObjects() {
      let params = { id: this.learningObjectIds };
      axios.get(`${getLearningObjectsEndpoint('API_GATEWAY_STORAGE')}?${$.param(params)}`).then(response => {
        this.state.learningObjects = response.data.learningObjects;
      });
    },
    scheduleRobotIdleActionTimers(content) {
      for (let idleAction of content.robotActions.idleActions) {
        if (idleAction.id !== '') {
          setTimeout(
            function() {
              this.executeRobotAction(idleAction.id);
            }.bind(this),
            idleAction.timeToTriggerMinutes * 60 * 1000
          );
        }
      }
    },
    scheduleRobotDateActions(scheduledRobotActions) {
      for (let scheduledAction of scheduledRobotActions) {
        if (scheduledAction.id === '') continue;
        let timestampToStart = new Number(scheduledAction.date.$numberLong);
        let timestampNow = new Date().getTime();
        let millisecondsUntilExecute = timestampToStart - timestampNow;
        if (millisecondsUntilExecute <= 0) continue;
        setTimeout(
          function() {
            this.executeRobotAction(scheduledAction.id);
          }.bind(this),
          millisecondsUntilExecute
        );
      }
    },
    executeRobotAction(robotActionId) {
      return axios
        .post(`${storage_getURL('API_GATEWAY_STORAGE')}/api-proxy/robot/api/robot/${robotActionId}/${this.missionId}`)
        .then(response => {})
        .catch(() => {});
    },
    getLevelOfLearningObject(learningObject) {
      for (let level of this.state.levels) {
        if (level.learningObjectIds.includes(learningObject._id.$oid)) {
          return level;
        }
      }
      return null;
    },
    getLevelTitleOfLearningObject(learningObject) {
      let level = this.getLevelOfLearningObject(learningObject);
      if (level == null) return '???';
      return this.getLevelOfLearningObject(learningObject).title;
    },
    handleNewCommunityCreated(e) {
      this.$refs.missionCommunities.addCommunity(e);
    },
    handleStatusUpdateDeleted(discussion) {
      axios
        .delete(`${getMissionsEndpoint('API_GATEWAY_STORAGE')}/${this.missionId}/discussions/${discussion._id.$oid}`)
        .then(response => {
          this.updateDiscussions();
        })
        .catch(err => {
          console.log(err);
        });
    },
    handleSocialFeedbackSubmitted(socialFeedback) {
      if (!this.state.content.robotActions.onDiscussionPost) return;
      this.executeRobotAction(content.robotActions.onDiscussionPost.id);
    },
    handleStatusUpdateDoesNotExist(discussion) {
      this.handleStatusUpdateDeleted(discussion);
    }
  },
  created() {
    axios
      .get(`${getMissionsEndpoint('API_GATEWAY_STORAGE')}/${this.missionId}`)
      .then(response => {
        this.state.mission = response.data;
          this.state.moderators = response.data.moderators;
        this.state.generalMetadata = response.data.missionMetadata.generalMetadata;
        this.state.educationalMetadata = response.data.missionMetadata.educationalMetadata;
        this.state.levels = response.data.levels;
      })
      .then(() => {
        this.scheduleRobotDateActions(this.state.mission.robotActions.scheduledRobotActions);
      });
    axios
      .get(`${getStudentsEndpoint('API_GATEWAY_STORAGE')}/${this.$store.currentUser.userid}/missions/${this.missionId}`)
      .then(response => {
        this.state.missionState = response.data;
        if (this.state.missionState.maxProgress < 0) {
          this.$router.push(`/missions/${this.missionId}/overview`);
          return;
        }
        this.update();
      });
  },
  beforeCreate() {
    let $this = this;
    window.onYouTubeIframeAPIReady = function() {
      console.log('api loaded');
      $this.state.youtubeIframeApiLoaded = true;
    };
  },
  mounted() {
    //Load Youtbe iframe api asynchonously
    let tag = document.createElement('script');
    tag.src = 'https://www.youtube.com/iframe_api';
    let firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  }
};
</script>

<style scoped>
@import url('../../../../css/main.css');
@import url('../../../../css/courses.css');
</style>