<template>
  <div>
    <!-- The middle Contents -->
    <!-- Cover and basic information -->
    <GeneralMissionMetadata
      :mission-id="this.missionId"
      :general-metadata="mission.missionMetadata.generalMetadata"
      :educational-metadata="mission.missionMetadata.educationalMetadata"
      :editable="false"
    >
      <a v-if="showFinishButton" slot="button1">
        <button disabled type="button" class="btn btn-orange w-50 mr-2">
          {{ $t('generalmissionmetadatacard.finished') }}
        </button>
      </a>
      <a v-if="showEnrollButton" slot="button1">
        <button @click="this.enroll" type="button" class="btn btn-orange w-50 mr-2">
          {{ $t('generalmissionmetadatacard.enroll') }}
        </button>
      </a>
      <a v-if="showContinueButton" slot="button1">
        <button @click="this.continueLearning" type="button" class="btn btn-green w-50 mr-2">
          {{ $t('generalmissionmetadatacard.learning') }}
        </button>
      </a>
    </GeneralMissionMetadata>

    <!-- Sub tabs -->
    <div class="card mt-3">
      <div class="card-header pl-0 pr-0 pb-0">
        <ul class="nav nav-tabs nav-fill" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link-s active"
              id="Missions-info-tab"
              data-toggle="tab"
              href="#Missions-info"
              role="tab"
              data-controls="Missions-info"
              aria-selected="false"
            >
              <h6>{{ $t('missionOverview.informations') }}</h6>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link-s"
              id="Missions-levels-tab"
              data-toggle="tab"
              href="#Missions-levels"
              role="tab"
              data-controls="Missions-levels"
              aria-selected="false"
            >
              <h6>{{ $t('missionOverview.levels') }}</h6>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link-s"
              id="Missions-discussion-tab"
              data-toggle="tab"
              href="#Missions-discussion"
              role="tab"
              data-controls="Missions-discussion"
              aria-selected="false"
            >
              <h6>{{ $t('missionOverview.discussions') }}</h6>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link-s"
              id="Missions-resources-tab"
              data-toggle="tab"
              href="#Missions-resources"
              role="tab"
              data-controls="Missions-resources"
              aria-selected="false"
            >
              <h6>{{ $t('missionOverview.resources') }}</h6>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link-s"
              id="Missions-community-tab"
              data-toggle="tab"
              href="#Missions-community"
              role="tab"
              data-controls="Missions-community"
              aria-selected="false"
            >
              <h6>{{ $t('missionOverview.communities') }}</h6>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Content of sub tabs -->
    <div class="tab-content mt-3">
      <!-- Tab of informations -->
      <div class="tab-pane fade show active" id="Missions-info" role="tabpanel" aria-labelledby="Missions-info-tab">
        <div class="card">
          <div class="card-header card-header-with-border">
            <h6 class="text-left">{{ $t('missionOverview.description') }}</h6>
          </div>
          <div class="card-body">
            <!--
                          For the conetents edit, Once they click the edit icon, they can just edit in the original text place.
                        -->
            <!-- After editing, they can save. -->
            <div class="text-mission-des">
              <div v-html="mission.missionMetadata.informationAboutMission.description"></div>
            </div>
          </div>
        </div>

        <div class="card mt-3">
          <div class="card-header card-header-with-border">
            <h6 class="text-left">{{ $t('missionOverview.objectives') }}</h6>
          </div>
          <div class="card-body">
            <!--
                          For the conetents edit, Once they click the edit icon, they can just edit in the original text place.
                        -->
            <!-- After editing, they can save. -->
            <div class="text-mission-des">
              <div v-html="mission.missionMetadata.informationAboutMission.objectives"></div>
            </div>
          </div>
        </div>

        <div class="card mt-3">
          <div class="card-header card-header-with-border">
            <h6 class="text-left">{{ $t('missionOverview.requirements') }}</h6>
          </div>
          <div class="card-body">
            <!--
                          For the conetents edit, Once they click the edit icon, they can just edit in the original text place.
                        -->
            <!-- After editing, they can save. -->
            <div class="text-mission-des">
              <div v-html="mission.missionMetadata.informationAboutMission.requirements"></div>
            </div>
          </div>
        </div>

        <div class="card mt-3">
          <div class="card-header card-header-with-border">
            <h6 class="text-left">{{ $t('missionOverview.result') }}</h6>
          </div>
          <div class="card-body">
            <!--
                          For the conetents edit, Once they click the edit icon, they can just edit in the original text place.
                        -->
            <!-- After editing, they can save. -->
            <div class="text-mission-des">
              <div v-html="mission.missionMetadata.informationAboutMission.resultOfMission"></div>
            </div>
          </div>
        </div>

        <!-- Mission rewards -->
        <MissionRewardsTable></MissionRewardsTable>
      </div>

      <!-- Tab of mission levels -->
      <div class="tab-pane fade" id="Missions-levels" role="tabpanel" aria-labelledby="Missions-levels-tab">
        <MissionLevels
          :student-is-enrolled="isEnrolled"
          :levels="mission.levels"
          :learning-objects="learningObjects"
          v-on:learningObjectClicked="goToLearningObject"
        ></MissionLevels>
      </div>

      <!-- Tab of mission Discussion -->
      <div class="tab-pane fade" id="Missions-discussion" role="tabpanel" aria-labelledby="Missions-discussion-tab">
        <div v-if="this.$store.currentUser.usertype === 'student' && !isEnrolled">
          <!-- For default states -  This is for student-view-before-enroling. -->
          <div class="card mb-3">
            <div class="card-body">
              <div class="default-states mb-3">
                <h5>{{ $t('missionOverview.after_enrolling_more') }}</h5>
                <button @click="enroll" type="button" class="btn btn-green w-50 mb-2">
                  {{ $t('missionOverview.enroll') }}
                </button>
              </div>
            </div>
          </div>
        </div>
        <div v-else>
          <Discussions
                  :moderators="moderators"
            :learning-objects="learningObjects"
            :discussions="discussions"
            v-on:statusUpdateDoesNotExist="handleStatusUpdateDoesNotExist"
            v-on:statusUpdateDeleted="handleStatusUpdateDeleted"
          ></Discussions>
        </div>
      </div>

      <!-- Tab of mission resources -->
      <!-- 1. Teacher can upload resources and add to lab -->
      <!-- 2. They can choose from the levels, where to put this file. -->
      <!-- 3. They can only upload one file for once -->
      <!--
              4. They can upload file with pdf, ppt, doc..., and images with jpg, png, jpeg, and videos with aiv, mp4.., and zip, rar, and url.
            -->
      <div class="tab-pane fade" id="Missions-resources" role="tabpanel" aria-labelledby="Missions-resources-tab">
        <!-- For default states -  This is for student-view-before-enroling. -->
        <div v-if="this.$store.currentUser.usertype === 'student' && !isEnrolled" class="card mb-3">
          <div class="card-body">
            <div class="default-states mb-3">
              <h5>{{ $t('missionOverview.after_enrolling_more') }}</h5>
              <button @click="enroll" type="button" class="btn btn-green w-50 mb-2">
                {{ $t('missionOverview.enroll') }}
              </button>
            </div>
          </div>
        </div>

        <div v-else class="card">
          <div class="card-header card-header-with-border">
            <h6 class="text-left">{{ $t('missionOverview.resources') }}</h6>
          </div>
          <div class="card-body">
            <ResourceTable :resource-id-to-relevance-map="this.resourceIdToRelevanceMapping"> </ResourceTable>
          </div>
        </div>
      </div>

      <!-- Tab of community -->
      <div class="tab-pane fade" id="Missions-community" role="tabpanel" aria-labelledby="Missions-community-tab">
        <!-- For default states -  This is for student-view-before-enroling. -->
        <!-- If there is no community, this will be shown. -->
        <div v-if="this.$store.currentUser.usertype === 'student' && !isEnrolled" class="card mb-3">
          <div class="card-body">
            <div class="default-states mb-3">
              <h5>{{ $t('missionOverview.after_enrolling_more') }}</h5>
              <button @click="enroll" type="button" class="btn btn-green w-50 mb-2">
                {{ $t('missionOverview.enroll') }}
              </button>
            </div>
          </div>
        </div>
        <div v-else>
          <div class="card">
            <MissionCommunities ref="missionCommunities" :mission-i-d="this.missionId"></MissionCommunities>
          </div>
        </div>
      </div>
    </div>

    <CreateCommunityModal
      v-on:newCommunityCreated="handleNewCommunityCreated"
      :mission-i-d="this.missionId"
    ></CreateCommunityModal>
  </div>
</template>

<script>
import {
  storage_getURL,
  getMissionsEndpoint,
  getStudentsEndpoint,
  getLearningObjectsEndpoint,
  getNotificationApiUrl
} from '../../../../js/global.js';
import GeneralMissionMetadata from '../common/GeneralMissionMetadataCard';
import MissionLevels from './common/MissionLevels';
import Discussions from './common/Discussions';
import MissionCommunities from '../common/MissionCommunities';
import CreateCommunityModal from '../common/CreateCommunityModal';
import ResourceTable from '../common/resources/ResourceTable';
import MissionRewardsTable from '../common/MissionRewardsTable';

export default {
  name: 'MissionOverview',
  components: {
    ResourceTable,
    MissionLevels,
    GeneralMissionMetadata,
    MissionCommunities,
    CreateCommunityModal,
    Discussions,
    MissionRewardsTable
  },
  props: {
    missionId: String
  },
  data() {
    return {
      isEnrolled: false,
      isMissionFinished: false,
        moderators: [],
      mission: {
        missionMetadata: {
          generalMetadata: {},
          educationalMetadata: {},
          informationAboutMission: {
            description: '',
            objectives: '',
            requirements: '',
            resultOfMission: ''
          }
        },
        levels: []
      },
      learningObjects: [],
      resourceIdToRelevanceMapping: new Map(),
      discussions: [],
      statusUpdateContent: ''
    };
  },
  computed: {
    showEnrollButton() {
      return !this.isEnrolled && !this.isMissionFinished;
    },
    showContinueButton() {
      return this.isEnrolled && !this.isMissionFinished;
    },
    showFinishButton() {
      return this.isEnrolled && this.isMissionFinished;
    }
  },
  methods: {
    fetchData() {
      //fetch mission
      axios.get(`${getMissionsEndpoint('API_GATEWAY_STORAGE')}/${this.missionId}`).then(response => {
        this.mission = response.data;
        this.moderators = response.data.moderators;
        //fetch learning objects
        let learningObjectIds = this.mission.levels
          .map(level => level.learningObjectIds)
          .reduce((acc, val) => acc.concat(val), []);
        let params = {
          id: learningObjectIds
        };
        axios.get(getLearningObjectsEndpoint('API_GATEWAY_STORAGE') + '?' + $.param(params)).then(response => {
          this.learningObjects = response.data.learningObjects;
        });
      });
      axios
        .get(
          `${getStudentsEndpoint('API_GATEWAY_STORAGE')}/${this.$store.currentUser.userid}/missions/${this.missionId}`
        )
        .then(response => {
          this.isEnrolled = true;
          this.isMissionFinished = response.data.missionFinished;
          //fetch discussions
          axios.get(`${getMissionsEndpoint('API_GATEWAY_STORAGE')}/${this.missionId}/discussions`).then(response => {
            if (response.status === 204) return;
            this.discussions = response.data.discussions;
            this.statusUpdates = JSON.parse(response.data.statusUpdates);
          });
          //fetch resourceId to relevance mapping
          axios.get(`${getMissionsEndpoint('API_GATEWAY_STORAGE')}/${this.missionId}/resources`).then(response => {
            this.resourceIdToRelevanceMapping = new Map(Object.entries(response.data.resourceIdToRelevanceMapping));
          });
        })
        .catch(error => {
          this.isEnrolled = false;
          this.isMissionFinished = false;
        });
    },
    enroll() {
      let config = {
        headers: {
          'Content-Type': 'text/plain'
        }
      };
      axios
        .post(
          `${getStudentsEndpoint('API_GATEWAY_STORAGE')}/${this.$store.currentUser.userid}/activeMissions`,
          this.missionId,
          config
        )
        .then(() => {
          this.isEnrolled = true;
          if (this.mission.robotActions && this.mission.robotActions.onLoad.id !== '') {
            this.executeRobotAction(this.mission.robotActions.onLoad.id);
          }
          this.fetchData();
        });
      //subscribe to announcements
      axios
        .get(
          `${getNotificationApiUrl('API_GATEWAY_STORAGE')}/announcement/subscribe/${this.$store.currentUser.userid}/${
            this.missionId
          }`
        )
        .then(response => {})
        .catch(() => {});
    },
    goToLearningObject(e) {
      let config = {
        headers: {
          'Content-Type': 'text/plain'
        }
      };
      axios
        .post(
          `${getStudentsEndpoint('API_GATEWAY_STORAGE')}/${this.$store.currentUser.userid}/missions/${
            this.missionId
          }/progress`,
          e,
          config
        )
        .then(() => {
          this.$router.push(`/missions/${this.missionId}/viewContent`);
        });
    },
    continueLearning() {
      this.$router.push(`/missions/${this.missionId}/viewContent`);
    },
    goToCommunities() {
      this.$router.push(`/communities`);
    },
    updateLearningObjects() {
      let params = { id: this.learningObjectIds };
      return axios.get(`${getLearningObjectsEndpoint('API_GATEWAY_STORAGE')}?${$.param(params)}`).then(response => {
        this.learningObjects = response.data.learningObjects;
        this.discussionToCreate.topic = this.learningObjects[0]._id.$oid;
      });
    },
    handleNewCommunityCreated(e) {
      this.$refs.missionCommunities.addCommunity(e);
    },
    handleStatusUpdateDeleted(discussion) {
      axios
        .delete(`${getMissionsEndpoint('API_GATEWAY_STORAGE')}/${this.missionId}/discussions/${discussion._id.$oid}`)
        .then(() => {
          this.fetchData();
        })
        .catch(err => {
          console.log(err);
        });
    },
    handleStatusUpdateDoesNotExist(discussion) {
      this.handleStatusUpdateDeleted(discussion);
    },
    executeRobotAction(robotActionId) {
      return axios
        .post(`${storage_getURL('API_GATEWAY_STORAGE')}/api-proxy/robot/api/robot/${robotActionId}/${this.missionId}`)
        .then(response => {})
        .catch(() => {});
    }
  },
  created() {
    this.fetchData();
  }
};
</script>

<style scoped>
@import url('../../../../css/main.css');
@import url('../../../../css/courses.css');
</style>
