<template>
  <div>
    <!--The middle Contents -->
    <div class="card">
      <div class="card-header pl-0 pr-0 pb-0">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a
              ref="studentsMissionsTabAnchor"
              aria-selected="true"
              class="nav-link-s active"
              data-controls="my-missions-overview"
              data-toggle="tab"
              href="#my-missions-overview"
              id="my-missions-tab"
              role="tab"
            >
              <h5>{{ $t('studentsmissions.missions') }}</h5>
            </a>
          </li>
          <li class="nav-item">
            <a
              ref="studentsDiscoverTabAnchor"
              aria-selected="false"
              class="nav-link-s"
              data-controls="missions-discover"
              data-toggle="tab"
              href="#missions-discover"
              id="discovers-tab"
              role="tab"
            >
              <h5>{{ $t('studentsmissions.discover') }}</h5>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="tab-content mt-3">
      <!--Tab of my missions-->
      <div
        aria-labelledby="my-missions-tab"
        class="tab-pane fade show active"
        id="my-missions-overview"
        role="tabpanel"
      >
        <div v-if="hasNoMissions">
          <div class="card">
            <div class="card-header card-header-with-border">
              <h6 class="text-left">{{ $t('studentsmissions.missions_active') }}</h6>
            </div>
            <div class="card-body">
              <div class="default-states mb-3">
                <h5>{{ $t('studentsmissions.mission_have') }}</h5>
                <button
                  @click="makeDiscoverActiveTab"
                  class="btn btn-green w-50 mb-2"
                  data-target="#modal-create-new-mission"
                  data-toggle="modal"
                >
                  {{ $t('studentsmissions.discover') }}
                </button>
              </div>
            </div>
          </div>
        </div>

        <!--Active Missions - Courses-->
        <div class="card mt-3" v-if="state.activeMissions.length > 0">
          <div class="card-header card-header-with-border">
            <h6 class="text-left">{{ $t('studentsmissions.missions_active') }}</h6>
          </div>
          <div class="card-body text-left">
            <MissionList
              :mission-card-button-text="$t('missionList.continueExploring')"
              :missions="state.activeMissions"
            />
          </div>
        </div>
        <!--Completed Missions - Courses-->
        <div class="card mt-3" v-if="state.completedMissions.length > 0">
          <div class="card-header card-header-with-border">
            <h6 class="text-left">{{ $t('studentsmissions.missions_completed') }}</h6>
          </div>
          <div class="card-body text-left">
            <MissionList :mission-card-button-text="$t('missionList.explore')" :missions="state.completedMissions" />
          </div>
        </div>
      </div>
      <!--Tab of missions discover-->
      <div aria-labelledby="discovers-tab" class="tab-pane fade" id="missions-discover" role="tabpanel">
        <Discover />
      </div>
    </div>
  </div>
</template>

<script>
import { getStudentsEndpoint } from '../../../../js/global';
import MissionList from './common/MissionList';
import Discover from './common/Discover';

export default {
  name: 'StudentMission',
  components: {
    MissionList,
    Discover
  },
  data: function() {
    return {
      state: {
        activeMissions: [],
        completedMissions: []
      }
    };
  },
  created() {
    this.fetchMissions();
  },
  computed: {
    month: function() {
      return ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'];
    },
    hasNoMissions() {
      return this.state.activeMissions.length === 0 && this.state.completedMissions.length === 0;
    }
  },
  methods: {
    fetchMissions() {
      axios
        .get(getStudentsEndpoint('API_GATEWAY_STORAGE') + '/' + this.$store.currentUser.userid + '/missions')
        .then(response => {
          this.state.activeMissions = response.data.activeMissions;
          this.state.completedMissions = response.data.completedMissions;
        });
    },
    makeDiscoverActiveTab() {
      this.$refs.studentsDiscoverTabAnchor.click();
    }
  }
};
</script>
<style></style>
