<template>
  <!-- *************************************** -->
  <!-- Overview missions teacher page: My missions + Discover -->
  <!-- Pending Invitations, saved missions, active missions, completed missions + create missions -->
  <!-- *************************************** -->

  <div>
    <!-- The middle Contents -->
    <div class="card">
      <div class="card-header pl-0 pr-0 pb-0">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a
              aria-selected="true"
              class="nav-link-s active"
              data-controls="my-missions-overview"
              data-toggle="tab"
              href="#my-missions-overview"
              id="my-missions-tab"
              role="tab"
            >
              <h5>{{ $t('teachersmissions.missions') }}</h5>
            </a>
          </li>
          <li class="nav-item">
            <a
              aria-selected="false"
              class="nav-link-s"
              data-controls="missions-discover"
              data-toggle="tab"
              href="#missions-discover"
              id="discovers-tab"
              role="tab"
            >
              <h5>{{ $t('teachersmissions.discover') }}</h5>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="tab-content mt-3">
      <!-- Tab of my missions -->
      <div
        aria-labelledby="my-missions-tab"
        class="tab-pane fade show active"
        id="my-missions-overview"
        role="tabpanel"
      >
        <!-- Default state: If there is no missions -->
        <div v-if="!state.hasMissions">
          <div class="card">
            <div class="card-header card-header-with-border">
              <h6 class="text-left">
                {{ $t('teachersmissions.missions_active') }}
                <a
                  class="btn btn-circle btn-set-point"
                  data-target="#modal-create-new-mission"
                  data-toggle="modal"
                  href="#"
                  title="Create a new mission"
                >
                  <img
                    alt="$t('teachersmissions.alt_mission_add')"
                    class="clearfix"
                    src="../../../../img/BTN-Add-circle.png"
                  />
                </a>
              </h6>
            </div>
            <div class="card-body">
              <div class="default-states mb-3">
                <h5>{{ $t('teachersmissions.mission_have') }}</h5>
                <button class="btn btn-green w-50 mb-2" data-target="#modal-create-new-mission" data-toggle="modal">
                  {{ $t('teachersmissions.mission_create') }}
                </button>
              </div>
            </div>
          </div>
        </div>

        <div v-if="state.pendingModeratorInvitation.length > 0">
          <!-- Pending Invatations Missions - Courses -->
          <!-- If there is no invitation, this block will be hidden. -->
          <div class="card mt-3">
            <div class="card-header card-header-with-border">
              <h6 class="text-left">{{ $t('teachersmissions.invivations_pending') }}</h6>
            </div>
            <div class="card-body text-left">
              <p>
                {{ $t('teachersmissions.get') }} <span>{{ $t('teachersmissions.0') }}</span>
                {{ $t('teachersmissions.invitation_moderator') }}
              </p>
              <MissionList
                :mission-card-button-text="$t('missionList.moderator')"
                :missions="state.pendingModeratorInvitation"
              ></MissionList>
            </div>
          </div>
        </div>
        <div v-if="state.savedMissions.length > 0">
          <!-- be saved but not published Missions - Courses -->
          <!-- If there is no invitation, this block will be hidden. -->
          <div class="card mt-3">
            <div class="card-header card-header-with-border">
              <h6 class="text-left">
                {{ $t('teachersmissions.missions_saved') }}
                <a
                  class="btn btn-circle btn-set-point"
                  data-target="#modal-create-new-mission"
                  data-toggle="modal"
                  href="#"
                  title="$t('teachersmissions.title_mission_create')"
                >
                  <img
                    alt="$t('teachersmissions.alt_mission_add')"
                    class="clearfix"
                    src="../../../../img/BTN-Add-circle.png"
                  />
                </a>
              </h6>
            </div>
            <div class="card-body text-left">
              <MissionList
                :mission-card-button-text="$t('missionList.editMission')"
                :missions="state.savedMissions"
              ></MissionList>
            </div>
          </div>
        </div>
        <div v-if="state.activeMissions.length > 0">
          <!-- Active Missions - Courses -->
          <div class="card mt-3">
            <div class="card-header card-header-with-border">
              <h6 class="text-left">
                {{ $t('teachersmissions.missions_active') }}
                <a
                  class="btn btn-circle btn-set-point"
                  data-target="#modal-create-new-mission"
                  data-toggle="modal"
                  href="#"
                  title="$t('teachersmissions.title_mission_create')"
                >
                  <img
                    alt="$t('teachersmissions.alt_mission_add')"
                    class="clearfix"
                    src="../../../../img/BTN-Add-circle.png"
                  />
                </a>
              </h6>
            </div>
            <div class="card-body text-left">
              <MissionList
                :mission-card-button-text="$t('missionList.continueEditing')"
                :missions="this.state.activeMissions"
              ></MissionList>
            </div>
          </div>
        </div>
        <div v-if="state.completedMissions.length > 0">
          <!-- Completed Missions - Courses -->
          <div class="card mt-3">
            <div class="card-header card-header-with-border">
              <h6 class="text-left">{{ $t('teachersmissions.missions_completed') }}</h6>
            </div>
            <div class="card-body text-left">
              <MissionList
                :mission-card-button-text="$t('missionList.explore')"
                :missions="this.state.completedMissions"
              ></MissionList>
            </div>
          </div>
        </div>
      </div>
      <!-- Tab of missions discover -->
      <div aria-labelledby="discovers-tab" class="tab-pane fade" id="missions-discover" role="tabpanel">
        <Discover />
      </div>
    </div>
    <!-- ////////////////////////////////// -->
    <!-- ////////////////////////////////// -->
    <!-- //////Modal Windows/////// -->
    <!-- ////////////////////////////////// -->
    <!-- ////////////////////////////////// -->
    <!-- Modal of Create new Missions -->
    <!-- Here is an Example: The funktion should similar to this example. -->
    <!-- https://codepen.io/aniket/pen/WxByVp -->
    <CreateMissionModal
      id="modal-create-new-mission"
      v-on:createMissionModalSubmitted="this.handleCreateMissionModalSubmitted"
    />
    <!-- ////////////////////////////////// -->
    <!-- ////////////////////////////////// -->
    <!-- //////Modal Windows/////// -->
    <!-- ////////////////////////////////// -->
    <!-- ////////////////////////////////// -->
  </div>
</template>

<script>
import CreateMissionModal from '../common/CreateMissionModal';
import Discover from './common/Discover';
import { getTeachersEndpoint, getMissionApiUrl } from '../../../../js/global.js';
import MissionList from './common/MissionList';

export default {
  name: 'TeacherMissions',
  components: {
    MissionList,
    CreateMissionModal,
    Discover
  },
  data: function() {
    return {
      state: {
        pendingModeratorInvitation: [],
        savedMissions: [],
        completedMissions: [],
        activeMissions: [],
        hasMissions: false
      }
    };
  },
  computed: {
    month: function() {
      return ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'];
    }
  },
  created() {
    this.fetchMissions();
  },
  methods: {
    handleCreateMissionModalSubmitted(e) {
      let createMissionData = {};
      createMissionData['generalMetadata'] = e.generalMetadata;
      createMissionData['educationalMetadata'] = e.educationalMetadata;
      axios.post(getMissionApiUrl('API_GATEWAY_STORAGE') + '/missions', createMissionData).then(response => {
        let newMission = {};
        newMission.mission = response.data;
        newMission.authorName = this.$store.currentUser.username;
        this.state.savedMissions.push(newMission);
        this.$router.push('/missions/' + newMission.mission._id.$oid + '/editOverview');
      });
    },
    fetchMissions() {
      axios
        .get(`${getTeachersEndpoint('API_GATEWAY_STORAGE')}/${this.$store.currentUser.userid}/missions`)
        .then(response => {
          if (response.status === 204) {
            this.state.hasMissions = false;
            return;
          }
          this.state.hasMissions = true;
          this.state.pendingModeratorInvitation = response.data.pendingModeratorInvitations;
          this.state.savedMissions = response.data.savedMissions;
          this.state.completedMissions = response.data.completedMissions;
          this.state.activeMissions = response.data.activeMissions;
        });
    }
  }
};
</script>

<style scoped></style>
