<template>
  <div style="display: inline;">
    <!-- Icon add -->
    <span>
      <a
        :data-target="'#modal-add-resources' + _uid"
        class="btn btn-circle btn-set-point"
        data-toggle="modal"
        href="#"
        :title="$t('createresourcemodal.title_resources_add')"
        @click="initModal"
      >
        <img :alt="$t('createresourcemodal.alt_add')" class="clearfix" src="../../../img/BTN-Add-circle.png" />
      </a>
    </span>

    <!-- Add resources modal windows -->
    <div :id="'modal-add-resources' + _uid" class="modal fade" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body text-left">
            <form class="mt-2 was-validated" id="createMissionForm" novalidate role="form">
              <!-- Lab category select -->
              <div class="setup-content" id="resource-step-1">
                <div class="modal-header">
                  <h5 class="modal-title">{{ $t('createresourcemodal.resources_upload') }}</h5>
                  <button class="close" data-dismiss="modal" id="closeCreateModalWindow" type="button">&times;</button>
                </div>

                <div class="modal-body">
                  <div class="form-group">
                    <label
                      ><h6 class="mb-0">{{ $t('createresourcemodal.resource_category') }}</h6></label
                    >
                    <div class="list-group mt-3 mb-2">
                      <div
                        class="list-group-item list-group-item-action flex-column align-items-start"
                        v-bind:class="{ active: interfaceStateData.libraryChosen }"
                        v-on:click="chooseActiveCategory(true, false, false, false);"
                      >
                        <div class="d-flex w-100">
                          <a class="btn btn-avatar" :title="$t('createresourcemodal.title_file')">
                            <img
                              alt="$t('createresourcemodal.alt_avatar')"
                              class="clearfix"
                              src="../../../img/ICON_Link_Circle.png"
                            />
                          </a>
                          <div class="text-left ml-3 w-75">
                            <h6 class="mb-1 mt-2">{{ $t('createresourcemodal.library') }}</h6>
                            <small class="mb-1">
                              {{ $t('createresourcemodal.category_library') }}
                              <span class="font-weight-bold"> {{ $t('createresourcemodal._doc__pdf') }} </span>
                              {{ $t('createresourcemodal.resources_external') }}
                            </small>
                          </div>
                        </div>
                      </div>

                      <div
                        class="list-group-item list-group-item-action flex-column align-items-start"
                        v-bind:class="{ active: interfaceStateData.mediaChosen }"
                        v-on:click="chooseActiveCategory(false, true, false, false);"
                      >
                        <div class="d-flex w-100">
                          <a class="btn btn-avatar" :title="$t('createresourcemodal.title_file2')">
                            <img
                              :alt="$t('createresourcemodal.alt_avatar2')"
                              class="clearfix"
                              src="../../../img/ICON_Video_Circle.png"
                            />
                          </a>
                          <div class="text-left w-75 ml-3">
                            <h6 class="mb-1">{{ $t('createresourcemodal.media') }}</h6>
                            <small class="mb-1">
                              {{ $t('createresourcemodal.category_library2') }}
                              <span class="font-weight-bold"> {{ $t('createresourcemodal.images_videos') }} </span>
                              {{ $t('createresourcemodal.resources_external2') }}
                            </small>
                          </div>
                        </div>
                      </div>

                      <div
                        class="list-group-item list-group-item-action flex-column align-items-start"
                        v-bind:class="{ active: interfaceStateData.toolChosen }"
                        v-on:click="chooseActiveCategory(false, false, false, true);"
                      >
                        <div class="d-flex w-100">
                          <a class="btn btn-avatar" :title="$t('createresourcemodal.title_file2')">
                            <img
                              :alt="$t('createresourcemodal.alt_avatar2')"
                              class="clearfix"
                              src="../../../img/ICON-LAB_circle.png"
                            />
                          </a>
                          <div class="text-left ml-3 w-75">
                            <h6 class="mb-1">{{ $t('createresourcemodal.tool') }}</h6>
                            <small class="mb-1">
                              {{ $t('createresourcemodal.category_library2') }}
                              <span class="font-weight-bold"> {{ $t('createresourcemodal.url') }} </span>
                              {{ $t('createresourcemodal.resources_external2') }}
                            </small>
                          </div>
                        </div>
                      </div>

                      <div
                        class="list-group-item list-group-item-action flex-column align-items-start"
                        v-bind:class="{ active: interfaceStateData.gameChosen }"
                        v-on:click="chooseActiveCategory(false, false, true, false);"
                      >
                        <div class="d-flex w-100">
                          <a class="btn btn-avatar" :title="$t('createresourcemodal.title_file2')">
                            <img
                              :alt="$t('createresourcemodal.alt_avatar2')"
                              class="clearfix"
                              src="../../../img/ICON-SERIOUS-GAMES_circle.png"
                            />
                          </a>
                          <div class="text-left ml-3 w-75">
                            <h6 class="mb-1">{{ $t('createresourcemodal.game') }}</h6>
                            <small class="mb-1">
                              {{ $t('createresourcemodal.category_library2') }}
                              <span class="font-weight-bold"> {{ $t('createresourcemodal.url2') }} </span>
                              {{ $t('createresourcemodal.resources_external2') }}
                            </small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Infos for lab -->
              <div class="setup-content" id="resource-step-2">
                <div class="modal-header">
                  <h5 class="modal-title">{{ $t('createresourcemodal.resources_upload2') }}</h5>
                  <button class="close" data-dismiss="modal" type="button">&times;</button>
                </div>
                <div class="modal-body">
                  <h6 class="text-left mb-3" v-show="!interfaceStateData.onlyExternalResource">
                    {{ $t('createresourcemodal.files_address') }}
                  </h6>

                  <h6 class="text-center mb-3" v-show="interfaceStateData.onlyExternalResource">
                    {{ $t('createresourcemodal.address_resource') }}
                  </h6>

                  <form role="form">
                    <div class="form-group">
                      <label for="enterLabResName">
                        <h6 class="mb-0">{{ $t('createresourcemodal.name') }}</h6>
                      </label>
                      <input
                        class="form-control "
                        v-bind:class="{ 'is-invalid': nameInputIsInvalid }"
                        id="enterLabResName"
                        maxlength="100"
                        :placeholder="$t('createresourcemodal.input_placeholder_enter_resources')"
                        type="text"
                        v-model="formInputs.name"
                      />

                      <div class="invalid-feedback">{{ $t('createresourcemodal.please_display') }}</div>
                    </div>
                    <div class="form-group">
                      <label for="formLabResStageSelect">
                        <h6 class="mb-0">{{ $t('createresourcemodal.stage') }}</h6>
                      </label>
                      <!-- This is from the learning objects automaticly -->
                      <select class="form-control" id="formLabResStageSelect" v-model="formInputs.stage">
                        <option v-for="item in dropDownLists.stages"> {{ item.stage }}</option>
                      </select>
                    </div>
                    <!-- Relevance for Missions -->
                    <div class="form-group" v-if="relevances.length > 0">
                      <label for="formLabResRelevanceSelect">
                        <h6 class="mb-0">{{ $t('createresourcemodal.relevance') }}</h6>
                      </label>
                      <select class="form-control" id="formLabResRelevanceSelect" v-model="selectedRelevance">
                        <option :value="relevance" v-for="relevance in relevances">
                          {{ relevance[Object.keys(relevance)[0]] }}
                        </option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="formLabResDiffSelect">
                        <h6 class="mb-0">{{ $t('createresourcemodal.difficulty') }}</h6>
                      </label>
                      <!-- This is from the learning objects automaticly -->
                      <select class="form-control" id="formLabResDiffSelect" v-model="formInputs.difficulty">
                        <option v-for="item in dropDownLists.difficulties"> {{ item.difficulty }} </option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="enterLabResKeywords">
                        <h6 class="mb-0">{{ $t('createresourcemodal.keywords') }}</h6>
                      </label>
                      <br />
                      <input
                        class="form-control"
                        id="enterLabResKeywords"
                        pattern="^#[\w-]+(?:,\s+#[\w-]+)*$"
                        :placeholder="$t('createresourcemodal.input_placeholder_enter')"
                        type="text"
                        v-model="formInputs.keywords"
                      />
                      <small class="mt-1 text-left form-text text-muted">
                        {{ $t('createresourcemodal.words_mission') }}
                      </small>
                    </div>
                    <div class="form-group">
                      <label for="enterLabResDes">
                        <h6 class="mb-0">{{ $t('createresourcemodal.description') }}</h6>
                      </label>
                      <textarea
                        class="form-control"
                        id="enterLabResDes"
                        placeholder="write something about the resource..."
                        rows="3"
                        v-model="formInputs.description"
                      ></textarea>
                      <br />

                      <div class="form-group pl-0 pr-0" v-show="!interfaceStateData.showFileSelectButton">
                        <label for="enterLabResUrl">
                          <h6 class="mb-0">{{ $t('createresourcemodal.address_url') }}</h6>
                        </label>
                        <!-- pattern="https?://.+" -->
                        <input
                          class="form-control"
                          v-bind:class="{ 'is-invalid': urlInputIsInvalid }"
                          id="enterLabResUrl"
                          maxlength="100"
                          :placeholder="$t('createresourcemodal.input_placeholder_http')"
                          type="url"
                          v-model="formInputs.externalUrl"
                        />
                        <div class="invalid-feedback">{{ $t('createresourcemodal.please_start') }}</div>
                        <!--
                          1. If user click this link, url-input file will be replace by the following upload button.
                        -->
                        <!-- 2. Only for library and media resources -->
                        <p
                          class="text-muted text-left"
                          v-show="!interfaceStateData.showFileSelectButton & !interfaceStateData.onlyExternalResource"
                        >
                          <a class="link" v-on:click="showFileSelectButton">
                            {{ $t('createresourcemodal.upload_files') }}
                          </a>
                        </p>
                      </div>

                      <!-- Upload button, default state - hidden -->
                      <div class="form-group pl-0 pr-0" v-show="interfaceStateData.showFileSelectButton">
                        <FileUpload
                          :removeFileSelection="resetFileUploadSelection"
                          :uploadNow="processUpload"
                          v-on:fileChosen="setFileChosen"
                          v-on:uploaded="uploadProcessed"
                        />
                        <p class="text-muted text-left">
                          <a class="link" href="#" v-on:click="hideFileSelectButton">{{
                            $t('createresourcemodal.resource_add')
                          }}</a>
                        </p>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </form>
            <div class="modal-footer">
              <button
                class="btn btn-orange w-25"
                type="button"
                @click="showFirstWindowOfResourceCreateModal"
                v-show="interfaceStateData.showPreviousButton"
              >
                {{ $t('createresourcemodal.previous') }}
              </button>
              <button
                class="btn btn-green w-25"
                type="button"
                @click="showSecondWindowOfResourceCreateModal"
                v-show="!interfaceStateData.showPreviousButton"
              >
                {{ $t('createresourcemodal.next') }}
              </button>
              <button
                class="btn btn-green w-25"
                type="button"
                @click="submitForm"
                v-show="interfaceStateData.showPreviousButton"
              >
                {{ $t('createresourcemodal.upload') }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FileUpload from '../common/FileUpload';
import { getResourceEndpoint } from '../../../js/global';

export default {
  name: 'CreateResourceModal',

  components: { FileUpload },

  /**
     Example for prop relevance:
     relevanceTest: {
id0: 'Stage 1',
id1: 'Stage 1.1', // ...
}, */
  props: {
    relevances: {
      type: Array,
      required: false,
      default: () => []
    },
    initialSelectedRelevance: {
      type: Object,
      required: false
    }
  },
  watch: {
    relevances: function() {
      if (this.initialSelectedRelevance) {
        this.selectedRelevance = this.initialSelectedRelevance;
      } else {
        if (this.relevances.length > 0) this.selectedRelevance = this.relevances[0];
      }
    }
  },
  data: function() {
    return {
      interfaceStateData: {
        libraryChosen: false,
        mediaChosen: false,
        gameChosen: false,
        toolChosen: false,
        showPreviousButton: false,
        showFileSelectButton: false,
        onlyExternalResource: false,
        fileChosen: false
      },

      dropDownLists: {
        stages: [{ stage: 'Basic' }, { stage: 'Primary' }, { stage: 'Intermediate' }, { stage: 'Advanced' }],
        difficulties: [
          { difficulty: 'Easy' },
          { difficulty: 'Medium' },
          { difficulty: 'Difficult' },
          { difficulty: 'Challenge' }
        ]
      },
      processUpload: false,
      resetFileUploadSelection: false,
      formInputValid: true,
      selectedRelevance: {},

      formInputs: {
        name: '',
        category: '',
        stage: '',
        difficulty: '',
        keywords: '',
        description: '',
        isExternalResource: '',
        externalUrl: '',
        uploadedFile: {
          fileId: '',
          fileName: ''
        }
      },
      nameInputIsInvalid: false,
      urlInputIsInvalid: false
    };
  },
  methods: {
    initModal: function() {
      this.setDefaultFormData();
      this.interfaceStateData.libraryChosen = true;
      this.showFirstWindowOfResourceCreateModal();
    },
    setDefaultFormData: function() {
      this.interfaceStateData.libraryChosen = false;
      this.interfaceStateData.mediaChosen = false;
      this.interfaceStateData.gameChosen = false;
      this.interfaceStateData.toolChosen = false;
      this.interfaceStateData.showPreviousButton = false;
      this.interfaceStateData.showFileSelectButton = false;
      this.interfaceStateData.onlyExternalResource = false;
      this.formInputs.name = '';
      this.formInputs.category = 'Library';
      this.formInputs.stage = 'Basic';
      this.formInputs.difficulty = 'Easy';
      this.formInputs.keywords = '';
      this.formInputs.description = '';
      this.formInputs.isExternalResource = true;
      this.formInputs.externalUrl = '';
      this.formInputs.uploadedFile.fileId = '';
      this.formInputs.uploadedFile.fileName = '';
    },
    showFirstWindowOfResourceCreateModal: function() {
      $('#modal-add-resources' + this._uid + ' .setup-content').hide();
      var $target = $('#resource-step-1');
      $target.show();
      this.interfaceStateData.showPreviousButton = false;
    },
    showSecondWindowOfResourceCreateModal: function() {
      $('#modal-add-resources' + this._uid + ' .setup-content').hide();
      var $target = $('#resource-step-2');
      $target.show();
      this.interfaceStateData.showPreviousButton = true;

      if (this.interfaceStateData.gameChosen || this.interfaceStateData.toolChosen) {
        this.interfaceStateData.onlyExternalResource = true;
        this.formInputs.isExternalResource = true;
      }
    },
    chooseActiveCategory: function(library, media, game, tool) {
      this.initModal();
      this.interfaceStateData.libraryChosen = library;
      this.interfaceStateData.mediaChosen = media;
      this.interfaceStateData.gameChosen = game;
      this.interfaceStateData.toolChosen = tool;

      if (library) {
        this.formInputs.category = 'Library';
      }
      if (media) {
        this.formInputs.category = 'Media';
      }
      if (game) {
        this.formInputs.category = 'Games';
      }
      if (tool) {
        this.formInputs.category = 'Tools';
      }
    },
    permitFileUpload: function() {
      this.processUpload = true;
    },
    uploadProcessed: function(fileId, fileName) {
      this.formInputs.uploadedFile.fileId = fileId;
      this.formInputs.uploadedFile.fileName = fileName;

      // alert(this.formInputs.uploadedFile.fileName)

      this.processUpload = false;
      this.saveToDatabase();
    },
    handleSubmitForm: function() {
      this.permitFileUpload();
    },
    setFileChosen: function() {
      this.interfaceStateData.fileChosen = true;
    },
    saveToDatabase: function() {
      axios.post(getResourceEndpoint('API_GATEWAY_STORAGE') + '/', this.formInputs).then(
        response => {
          console.log(response);

          let returnValue = {};
          returnValue.resource = response.data;

          if (!this.isEmpty(this.selectedRelevance)) returnValue.relevance = this.selectedRelevance;

          this.$emit('emitCreateResourceModalSave', returnValue);
          this.closeModal();
        },
        error => {
          console.log(error);
        }
      );
    },
    submitForm: function(event) {
      let isValid = true;

      if (document.getElementById('enterLabResName').value == '') {
        isValid = false;
        this.nameInputIsInvalid = true;
      } else {
        this.nameInputIsInvalid = false;
      }

      // if (!document.getElementById("enterLabResKeywords").validity.valid) {
      //     isValid = false;
      // }

      // If file upload is chosen (only in Library and Media), check if a file was selected in FileUpload.vue.
      // FileUpload.vue emits "fileChosen" if a file was chosen.
      // If a file is chosen, then start the file upload by permitting FileUpload.vue to upload. After the upload
      // finished, the fileId and fileName will be emitted back to this component. After this,
      // the form can be submitted to the database
      if (!this.interfaceStateData.onlyExternalResource & !this.formInputs.isExternalResource) {
        //alert('test');
        if (!this.interfaceStateData.fileChosen) {
          alert('Please choose a file before submitting the resource!');
        } else {
          if (isValid) {
            this.permitFileUpload();
          }
        }
        // else external URL is chosen. Check if an URL was put in before submitting the form.
        // if it is valid, save the form to database. Sending a probe to FileUpload.vue is not necessary, because
        // no file is suppose to be uploaded
      } else {
        let expression = new RegExp(
          '(http|ftp|https)://[\\w-]+(\\.[\\w-]+)+([\\w.,@?^=%&amp;:/~+#-]*[\\w@?^=%&amp;/~+#-])?'
        );
        let url = document.getElementById('enterLabResUrl').value;

        if (url.match(expression) == null) {
          isValid = false;
          this.urlInputIsInvalid = true;
        }
        if (isValid) {
          this.urlInputIsInvalid = false;
          this.saveToDatabase();
        }
      }
    },
    closeModal: function() {
      $('#closeCreateModalWindow').click();
    },
    showFileSelectButton: function() {
      this.interfaceStateData.showFileSelectButton = true;
      this.formInputs.isExternalResource = false;
    },
    hideFileSelectButton: function() {
      this.interfaceStateData.showFileSelectButton = false;
      this.formInputs.isExternalResource = true;
      this.resetFileUpload();
    },
    resetFileUpload: function() {
      if (this.interfaceStateData.fileChosen) {
        this.resetFileUploadSelection = true;
      }
    },
    isEmpty: function(obj) {
      for (var key in obj) {
        if (obj.hasOwnProperty(key)) return false;
      }
      return true;
    }
  },
  created() {
    if (this.initialSelectedRelevance) this.selectedRelevance = this.initialSelectedRelevance;
  },
  mounted() {
    this.initModal();
  }
};
</script>

<style scoped></style>
