<template>
  <div :data-lablist-id="'labList-' + modalWindowId" class="card mt-3 labList">
    <div class="card-header card-header-with-border" v-if="title">
      <h6 class="text-left">
        {{ title
        }}<a
          class="btn btn-circle btn-set-point"
          href="#"
          :title="$t('resourcelisticard.title_check_library')"
          @click="showResourceOverviewByCategory"
          v-if="showCategory === true"
        >
          <img
            :alt="$t('resourcelisticard.alt_more')"
            class="clearfix"
            src="../../../img/ICON_Go.png"
          />
        </a>
      </h6>
    </div>
    <div class="card-body text-left">
      <!--
        FIXME: The following li's needs data from Backend!
        <ul class="nav text-right">
        <li class="nav-item">
        <a class="nav-link active" href="#">New</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Hot</a>
        </li>
        </ul>
      -->
      <div class="row" v-for="(item, index) in items">
        <div class="col-lg-1">
          <a
            class="btn btn-avatar"
            href="#"
            :title="$t('resourcelisticard.title_library_resource')"
          >
            <!--
              <img v-if="areaIcon" v-bind:src="areaIcon" class="clearfix w-100" alt="avatar"></img>
              <div v-else>
            -->
            <div>
              <img
                :alt="$t('resourcelisticard.alt_avatar')"
                class="clearfix w-100"
                src="../../../img/ICON_Article_Circle.png"
                v-if="item.category === 'Library'"
              />
              <img
                :alt="$t('resourcelisticard.alt_avatar2')"
                class="clearfix w-100"
                src="../../../img/ICON_Video_Circle.png"
                v-else-if="item.category === 'Media'"
              />
              <img
                :alt="$t('resourcelisticard.alt_avatar2')"
                class="clearfix w-100"
                src="../../../img/ICON-LAB_circle.png"
                v-else-if="item.category === 'Tools'"
              />
              <img
                :alt="$t('resourcelisticard.alt_avatar2')"
                class="clearfix w-100"
                src="../../../img/ICON-SERIOUS-GAMES_circle.png"
                v-else-if="item.category === 'Games'"
              />
            </div>
          </a>
        </div>
        <div class="col-lg-9 text-left">
          <div class="">
            <a
              :data-target="'#modal-view-res-detail' + _uid"
              data-toggle="modal"
              href="#"
              :title="$t('resourcelisticard.title_click_details')"
              @click="showResourceDetailViewModal(item.resourceId);"
            >
              <span class="text-title">{{ item.resourceName }}</span>
              <!--
                FIXME: The following span's needs Data from Backend!
                <span class="badge badge-light">{{item.amountOfViews}} Viewers</span>
                <span class="badge badge-light ml-3">23 download</span>
              -->
            </a>
            <br />
          </div>
          <div class="keywords mt-1 mb-1">
            <a href="#" v-for="hashtag in item.keywords">#{{ hashtag }}</a>
          </div>
          <p class="text-message">
            <span>{{ $t("resourcelisticard.uploaded") }}</span>
            <span class="mr-2"
              ><a href="#">{{ item.authorName }}</a></span
            >
            <span class="ml-3">{{ item.creationDate }}</span>
          </p>
        </div>
        <div class="col-lg-1 pr-1 float-right">
          <div
               v-if="resourceButton === 'add'"
               @click="addItem(item.resourceId)"
               class="btn btn-orange w-100">add</div>
          <div
               v-else-if="resourceButton === 'remove'"
               @click="removeItem(item.resourceId)"
               class="btn btn-orange w-100">remove</div>
        </div>
        <div class="col-lg-1" v-if="resourceButton === ''">
          <div class="float-right show-on-hover mr-0 ml-md-auto">
            <i class="fa fa-ellipsis-h mr-3" data-toggle="dropdown"></i>
            <ul class="dropdown-menu pl-3 pr-3 dropdown-dashboard" role="menu">
              <li>
                <a class="bookmark-save" href="#">{{
                  $t("resourcelisticard.bookmark")
                }}</a>
              </li>
              <li>
                <a
                  data-target="#modal-share-resource"
                  data-toggle="modal"
                  href="#"
                  >{{ $t("resourcelisticard.share") }}</a
                >
              </li>
              <li>
                <a class="report" href="#">{{
                  $t("resourcelisticard.report")
                }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div v-show="showModal">
      <ResourceDetailsViewModal
        :id="'modal-view-res-detail' + _uid"
        :resource="resourceToShow"
        :showModal="showModal"
        v-on:emitModalClose="closeModal"
        v-on:resetDetailViewModal="resetResourceDetailViewModal"
        v-on:resourceDelete="handleResourceDelete"
      />
    </div>
  </div>
</template>

<script>
import ResourceDetailsViewModal from "./ResourceDetailsViewModal";

export default {
  name: "LabResourceListView",

  components: {
    ResourceDetailsViewModal: ResourceDetailsViewModal
  },

  props: {
    items: {
      type: Object,
      required: false,
      default: {}
    },
    title: {
      type: String,
      required: false
    },
    areaIcon: {
      type: String,
      required: false
    },
    showCategory: {
      type: Boolean,
      required: false,
      default: false
    },
    limit: {
      type: String,
      required: false
    },
    resourceButton: {
      type: String,
      required: false,
      default: ''
    },
  },

  created() {
    //console.log(this.items);
  },

  data: function() {
    return {
      resourceToShow: {},
      showModal: false,
      modalWindowId: "",
      icon: ""
    };
  },

  methods: {
    closeModal: function() {
      this.resetResourceDetailViewModal();
    },
    showResourceDetailViewModal: function(resourceId) {
      for (let x = 0; x < Object.keys(this.items).length; x++) {
        if (this.items[x].resourceId === resourceId)
          this.resourceToShow = this.items[x];
      }
      this.showModal = true;
    },
    handleResourceDelete(e) {
      //TODO when resource is deleted, refresh the view, so the item actually disappears. Right now we have to refresh the page to see the change
      this.$emit("resourceDelete", e);
    },
    /** Fetch new List, Refresh and hide other Categories */
    showResourceOverviewByCategory: function() {
      this.$parent.showResourceOverviewByCategory(this.title);
    },
    resetResourceDetailViewModal: function() {
      this.resourceToShow = {};
      this.showModal = false;
    },
    addItem: function(resourceId) {
      this.$emit("addResource", resourceId)
    },
    removeItem: function(resourceId) {
      this.$emit("removeResource", resourceId)
    }
  }
};
</script>

<style scoped>
@import "../../../css/lab.css";
@import "../../../css/profiles.css";
@import "../../../css/community.css";
</style>
