<template>
  <div class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            {{ $t("resourcedetailsviewmodal.resource_details") }}
          </h5>
          <button
            class="close"
            data-dismiss="modal"
            type="button"
            @click="closeModalWindow"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <table class="table w-100 mb-3">
            <tbody class="text-left">
              <tr>
                <th class="font-weight-bold w-25">
                  <span>{{ $t("resourcedetailsviewmodal.name") }}</span>
                </th>
                <td class="w-75">
                  <span>{{ resource.resourceName }}</span>
                </td>
              </tr>
              <tr>
                <th class="font-weight-bold w-25">
                  <span>{{ $t("resourcedetailsviewmodal.by_upload") }}</span>
                </th>
                <td class="w-75">
                  <span>{{ resource.authorName }}</span>
                </td>
              </tr>
              <tr>
                <th class="font-weight-bold w-25">
                  <span>{{ $t("resourcedetailsviewmodal.upload_date") }}</span>
                </th>
                <td class="w-75">
                  <span>{{ resource.creationDate }}</span>
                </td>
              </tr>
              <tr>
                <th class="font-weight-bold w-25">
                  <span>{{ $t("resourcedetailsviewmodal.stage") }}</span>
                </th>
                <td class="w-75">
                  <span>{{ resource.stage }}</span>
                </td>
              </tr>
              <tr>
                <th class="font-weight-bold w-25">
                  <span>{{ $t("resourcedetailsviewmodal.difficulty") }}</span>
                </th>
                <td class="w-75">
                  <span>{{ resource.difficulty }}</span>
                </td>
              </tr>
              <tr>
                <th class="font-weight-bold w-25">
                  <span>{{ $t("resourcedetailsviewmodal.category") }}</span>
                </th>
                <td class="w-75">
                  <span>{{ resource.category }}</span>
                </td>
              </tr>
              <tr>
                <th class="font-weight-bold w-25">
                  <span>{{ $t("resourcedetailsviewmodal.description") }}</span>
                </th>
                <td class="w-75">
                  <span>{{ resource.description }}</span>
                </td>
              </tr>
              <tr>
                <th class="font-weight-bold w-25">
                  <span>{{ $t("resourcedetailsviewmodal.keywords") }}</span>
                </th>
                <td class="w-75">
                  <div class="keywords mt-1 mb-1">
                    <a href="#" v-for="hashtag in resource.keywords"
                      >#{{ hashtag }}</a
                    >
                  </div>
                </td>
              </tr>
              <tr>
                <th class="font-weight-bold w-25">
                  <span>{{ $t("resourcedetailsviewmodal.source") }}</span>
                </th>
                <td class="w-75">
                  <a class="link" v-bind:href="resource.externalUrl">{{
                    resource.externalUrl
                  }}</a>
                  <span>{{ resource.fileNameWithExtension }}</span>
                </td>
              </tr>
              <tr>
                <th class="font-weight-bold w-25">
                  <span>{{ $t("resourcedetailsviewmodal.action") }}</span>
                </th>
                <td class="w-75">
                  <!-- 1. preview the coentents of the resources. -->
                  <!--
                    2. If the resources are pdf,doc,images etc., just preview as "overlay".
                  -->
                  <!--
                    3. If the resources are zip or any format that can not be previewed, just show "It is not possible to preview."
                  -->
                  <!--
                    4. If the resources are url, just open the link in a new window.
                  -->
                  <!--
                    PS: If above (e.g. overlay based on format) can not be done, just make all preview as "preview in a new window."
                  -->
                  <a
                    class="btn btn-circle"
                    href="#"
                    :title="$t('resourcedetailsviewmodal.title_view')"
                    @click="viewResource"
                  >
                    <img
                      :alt="$t('resourcedetailsviewmodal.alt_view')"
                      class="clearfix"
                      src="../../../img/view.png"
                    />
                  </a>
                  <!--
                    1. If the resources can not be download, hide download icon.
                  -->
                  <!--
                    PS: If this icon can not be hidden based on format, just leave it here, if the resources can not be download, just show them "This is an external link, you can download, click the link to open it."
                  -->
                  <span class="ml-2 mr-2" v-if="!resource.isExternalResource"
                    >|</span
                  >
                  <FileDownload
                    :fileId="this.resource.fileId"
                    v-if="!resource.isExternalResource"
                  />
                  <!-- Save to nookmark is always here. -->
                  <span class="ml-2 mr-2">|</span>
                  <a
                    class="btn btn-circle bookmark-save"
                    href="#"
                    :title="$t('resourcedetailsviewmodal.title_bookmark')"
                  >
                    <img
                      :alt="$t('resourcedetailsviewmodal.alt_bookmark')"
                      class="clearfix"
                      src="../../../img/ICON-Bookmark.png"
                    />
                  </a>
                  <!--
                    Only for Teachers and organisations: use the resources to add to missions and worlds.
                  -->
                  <span class="ml-2 mr-2">|</span>
                  <a
                    class="btn btn-circle"
                    data-dismiss="modal"
                    data-target="#modal-use-resource"
                    data-toggle="modal"
                    href="#"
                    :title="$t('resourcedetailsviewmodal.title_resources_add')"
                  >
                    <img
                      :alt="$t('resourcedetailsviewmodal.alt_resources_add')"
                      class=" clearfix"
                      src="../../../img/BTN-Add-circle.png"
                    />
                  </a>
                  <span
                    class="ml-2 mr-2"
                    v-show="
                      this.$store.currentUser.userid === resource.authorId
                    "
                    >|</span
                  >
                  <a
                    class="btn btn-circle"
                    @click="deleteResource"
                    v-if="this.$store.currentUser.userid === resource.authorId"
                  >
                    <img
                      :alt="$t('resourcedetailsviewmodal.alt_delete')"
                      class="clearfix"
                      src="../../../img/ICON_Delete-Post.png"
                    />
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button
            class="btn btn-orange w-25"
            data-dismiss="modal"
            type="button"
            @click="closeModalWindow"
          >
            {{ $t("resourcedetailsviewmodal.close") }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getResourceEndpoint } from "../../../js/global";
import FileDownload from "../common/FileDownload";

export default {
  name: "ResourceDetailsViewModal",

  components: { FileDownload },

  props: {
    resource: {
      type: Object,
      required: true
    },
    showModal: {
      type: Boolean,
      default: false
    }
  },
  computed: {},
  methods: {
    closeModalWindow: function() {
      //this.resetDetailViewModal();
      this.$emit("resetDetailViewModal");
      this.$emit("closeModal");
    },
    resetDetailViewModal: function() {
      this.resource = {};
    },
    saveToBookmark: function() {},

    openWindow: url => window.open(url, "_blank"),

    viewResource: function() {
      // Open (Opens as a link in a new page for 3rd party website, or in-page for STIMEY Games)
      switch (this.resource.category) {
        case "Tools":
          this.openWindow(this.resource.externalUrl);
          break;
        case "Games":
          this.openWindow(this.resource.externalUrl);
          break;
        case "Library":
          this.openWindow(this.resource.externalUrl);
          break;
        case "Media":
          this.openWindow(this.resource.externalUrl);
          break;
        default:
          console.log("Unknown Resource-Type!");
          break;
      }
    },
    deleteResource: function() {
      if (!this.resource.isExternalResource) {
        this.deleteFile();
      }

      axios
        .delete(
          getResourceEndpoint("API_GATEWAY_STORAGE") +
            "/" +
            this.resource.resourceId
        )
        .then(
          data => {
            $(".modal-backdrop").remove();
            this.closeModalWindow();
            this.$emit("resourceDelete", this.resource.resourceId);
          },
          error => {
            console.log(error);
          }
        );
    },
    deleteFile: function() {
      axios
        .delete(storage_getURL("FILES") + "/api/files/" + this.resource.fileId)
        .then(
          data => {
            $(".modal-backdrop").remove();
            this.closeModalWindow();
            this.$emit("resourceDelete", this.resource.resourceId);
          },
          error => {
            console.log(error);
          }
        );
    }
  }
};
</script>

<style scoped></style>
