<template>
    <div class="main-wrapper">
        <div class="container">
            <div class="card mt-3">
                <div class="card-header">
                    <form role="form">
                        <div class="input-group p-0">
                            <div class="input-group-prepend">
                                <label class="input-group-text">
                                    {{ $t('search') }}
                                </label>
                            </div>
                            <input type="text" class="form-control" :placeholder=" $t('lab.enterKeywords') "
                                   v-model="searchInput">
                            <div class="input-group-append">
                                <button class="btn btn-default" type="button" @click="fetchSearchResults">
                                    <MagnifierLogo/>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="card-body row text-left">
                    <div class="col-4">
                        <div class="form-group">
                            <label><h6 class="mb-0">{{ $t('lab.subject') }}</h6></label>
                            <select class="form-control" id="formLabDisSubjectSelect" v-model="selectedSubjectID">
                                <option></option>
                                <option v-for="item in dropDownLists.subjects" :value="item.termId">
                                    {{item.term.charAt(0).toUpperCase() + item.term.slice(1)}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label><h6 class="mb-0">{{ $t('lab.minAge') }}</h6></label>
                            <select class="form-control" id="formLabDisMinageSelect" v-model="selectedMinAge">
                                <option></option>
                                <option v-for="item in dropDownLists.minAge">{{item}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label><h6 class="mb-0">{{ $t('lab.maxAge') }}</h6></label>
                            <select class="form-control" id="formLabDisMaxageSelect" v-model="selectedMaxAge">
                                <option></option>
                                <option v-for="item in dropDownLists.maxAge">{{item}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label><h6 class="mb-0">{{ $t('lab.type') }}</h6></label>
                            <select class="form-control" id="formLabDisTypeSelect"
                                    v-model="selectedLearningResourceTypeID">
                                <option></option>
                                <option v-for="item in dropDownLists.learningResourceType" :value="item.termId">
                                    {{item.term.charAt(0).toUpperCase() + item.term.slice(1)}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label><h6 class="mb-0">{{ $t('lab.languages') }}</h6></label>
                            <select class="form-control" id="formLabDisLanguageSelect" v-model="selectedLanguageID">
                                <option></option>
                                <option v-for="item in dropDownLists.languages" :value="item.termId">{{item.term}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <span class="text-center">
					Powered by
					<a class="link" href="https://www.stimey.eu/" target="_blank">STIMEY</a>
					and
					<a class="link" href="http://www.scientix.eu" target="_blank">Scientix</a>
					<br><br>
				</span>
            </div>

            <!--Search results list-->
            <div class="card mt-3" v-show="guiState.showSearchResult">
                <div class="card-header card-header-with-border">
                    <h6 class="text-left">{{ $t('lab.foundResourcesMessage') }}</h6>
                </div>

                <div class="card-body text-left scrolling" id="searchResults">
                    <ul class="list-unstyled">

                        <div v-if="searchResults.length === 0">{{ $t('lab.nothingFound') }}</div>
                        <li class="media mb-3" v-for="item in searchResults">
                            <div>
                                <img class="mr-3" :src="imageUrlToHTTPS(item.thumbnail)" alt="Generic placeholder image"
                                     width="100">
                            </div>

                            <div class="media-body">
                                <h5 class="mt-0 mb-1"><a href="#"
                                                         @click.prevent="fetchResourceDetails(item.resourceID)">{{item.title}}</a>
                                </h5>
                                <p>{{item.description.substr(0, 200)}}</p>
                                <hr>
                            </div>
                        </li>
                    </ul>

                    <!-- Continues Scrolling/Loading -->
                    <infinite-loading @infinite="infiniteHandler" spinner="waveDots" ref="infiniteLoading">
                        <span slot="no-more">No more data</span>
                        <span slot="no-results"></span>
                    </infinite-loading>
                </div>
            </div>
            <br><br>

            <!--Modal of modal-view-res-detail-->
            <b-modal :title="resourceDetails.title" v-model="guiState.showModal">
                <div class="modal-body">
                    <div class="media mb-3">
                        <div>
                            <img class="mr-3" :src="resourceDetails.thumbnail" alt="Generic placeholder image"
                                 width="100">
                        </div>

                        <div class="media-body">
                            <ul class="pl-0" style="list-style: none;">
                                <li>
                                    <span class="font-weight-bold">{{ $t('lab.description') }}</span>
                                    <br>
                                    <div class="scrollingResourceDetails mr-1">{{ resourceDetails.description }}</div>
                                </li>
                                <br>
                                <li>
                                    <span class="font-weight-bold">{{ $t('lab.resourceCategory') }}</span>
                                    <span>{{ resourceDetails.freeTextKeywords }} </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div slot="modal-footer">
                    <button type="button" @click="openResource" class="btn btn-primary w-100">{{ $t('lab.openResourceBtn')}}
                    </button>
                </div>
            </b-modal>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import MagnifierLogo from '-!vue-svg-loader!./../../../img/magnifying-glass.svg';
    import InfiniteLoading from 'vue-infinite-loading';
    import VueJsonp from 'vue-jsonp';
    Vue.use(VueJsonp, 5000);
    import BootstrapVue from 'bootstrap-vue';

    Vue.use(BootstrapVue);

    const widgetConstData = {
        scientixResourceByIdUrl: 'http://www.scientix.eu/resources/details?resourceId=',
        scientixAPIUrl: 'https://resources.scientix.eu',
        maxAgeRange: 25,
        pageSize: 20,
        dropDownListRefreshLocalStorageTimeInHours: 12,
    };

    export default {
        name: 'ScientixWidget',
        props: ['languageCode'],
        components: {
            InfiniteLoading,
            MagnifierLogo,
            VueJsonp,
			BootstrapVue
        },
        data: function () {
            return {
                state: widgetConstData,
                timestampLastLocalStorageRefresh: 0,

                dropDownLists: {
                    subjects: [],
                    languages: [],
                    learningResourceType: [],
                    minAge: [],
                    maxAge: [],
                },

                selectedSubjectID: '',
                selectedLanguageID: '',
                selectedLearningResourceTypeID: '',
                selectedMinAge: '',
                selectedMaxAge: '',
                searchInput: '',
                searchQuery: '',

                searchResults: [],
                allSearchResultsIds: [],

                resourceDetails: {
                    resourceID: '',
                    title: '',
                    description: '',
                    freeTextKeywords: '',
                    thumbnail: '',
                },

                guiState: {
                    showSearchResult: false,
                    currentSearchResultPage: 1,
                    searchResultAmountPages: 0,
                    showModal: false,
                },
            };
        },
        created() {
        },
        beforeMount() {
        },
        mounted() {
            this.fetchDropdownLists();
            this.initializeAgeRangeLists(this.state.maxAgeRange);
        },
        watch: {},
        beforeDestroy() {
        },
        destroyed() {
        },
        computed: {},
        methods: {
            fetchDropdownLists: function () {
                let refreshLocalStorage = false;
                let count = 0;

                //Refresh dropdown lists (local storage) if the language of the widget changed
                if (!localStorage.getItem('guiLanguage') || localStorage.getItem('guiLanguage') != this.languageCode) {
                    refreshLocalStorage = true;
                    localStorage.guiLanguage = this.languageCode;
                }

                //Refresh dropdown lists (local storage) if the current timestamp is bigger
                if (localStorage.getItem('timestampLastLocalStorageRefresh')) {
                    let nextRefreshTimeStamp = parseInt(localStorage.timestampLastLocalStorageRefresh) +
                        (((this.state.dropDownListRefreshLocalStorageTimeInHours * 1000) * 60) * 60);

                    if (Date.now() >= nextRefreshTimeStamp) {
                        refreshLocalStorage = true;
                    }
                } else {
                    refreshLocalStorage = true;
                }

                if (localStorage.getItem('subjects') && !refreshLocalStorage) {
                    this.dropDownLists.subjects = JSON.parse(localStorage.getItem('subjects'));
                } else {
                    this.fetchDropdownData('/vocabs/subjects', 'LRE-0001', this.dropDownLists, 'subjects');
                    count++;
                }

                if (localStorage.getItem('languages') && !refreshLocalStorage) {
                    this.dropDownLists.languages = JSON.parse(localStorage.getItem('languages'));
                } else {
                    this.fetchDropdownData('/vocabs/languages', 'EUN.languageListValues', this.dropDownLists, 'languages');
                    count++;
                }

                if (localStorage.getItem('learningResourceType') && !refreshLocalStorage) {
                    this.dropDownLists.learningResourceType = JSON.parse(localStorage.getItem('learningResourceType'));
                } else {
                    this.fetchDropdownData('/vocabs/learningResourceType', 'LRE.learningResourceTypeValues', this.dropDownLists,
                        'learningResourceType');
                    count++;
                }

                if (count == 3) {
                    localStorage.timestampLastLocalStorageRefresh = Date.now();
                }
            },

            fetchDropdownData: function (endpoint, arrayName, dropDownListObj, resultArray) {
                let url = this.state.scientixAPIUrl + endpoint + '?langCode=' + this.languageCode;

                this.$jsonp(url).then(json => {
                    console.log(json);
                    dropDownListObj[resultArray] = json[arrayName];

                    dropDownListObj[resultArray].sort(function (a, b) {
                        return a.term.toUpperCase() > b.term.toUpperCase();
                    });

                    localStorage[resultArray] = JSON.stringify(dropDownListObj[resultArray]);
                }).catch(err => {
                    console.log(err);
                });
            },

            initializeAgeRangeLists: function (maxAge) {
                let i;
                for (i = 1; i < maxAge + 1; i++) {
                    if (i < maxAge) {
                        this.dropDownLists.minAge.push(i);
                        this.dropDownLists.maxAge.push(i);
                    } else {
                        this.dropDownLists.minAge.push(i + '+');
                        this.dropDownLists.maxAge.push(i + '+');
                    }
                }
            },

            buildSearchQuery: function () {
                let query = this.state.scientixAPIUrl + '/search?pageSize=' + this.state.pageSize + '&uiLangCode=' +
                    this.languageCode;
                if (this.searchInput != '') {
                    query += '&ft=' + this.searchInput;
                }
                if (this.selectedSubjectID != '') {
                    query += '&subjectID=' + this.selectedSubjectID;
                }
                if (this.selectedLanguageID != '') {
                    query += '&languageID=' + this.selectedLanguageID;
                }
                if (this.selectedLearningResourceTypeID != '') {
                    query += '&learningResourceType=' + this.selectedLearningResourceTypeID;
                }
                if (this.selectedMinAge != '') {
                    let minAge = this.selectedMinAge;
                    if (this.selectedMinAge == '25+') {
                        minAge = 25;
                    }
                    query += '&minAge=' + minAge;
                }
                if (this.selectedMaxAge != '') {
                    let maxAge = this.selectedMaxAge;
                    if (this.selectedMaxAge == '25+') {
                        maxAge = 25;
                    }
                    query += '&maxAge=' + maxAge;
                }
                this.searchQuery = query;
            },

            fetchSearchResults: function () {
                this.buildSearchQuery();

                this.$jsonp(this.searchQuery).then(json => {
                    this.searchResults = json['results'];
                    this.allSearchResultsIds = json['ids'];
                    this.calculateSearchResultAmountPages();
                    this.guiState.currentSearchResultPage = 1;
                    this.guiState.showSearchResult = true;
                    document.getElementById('searchResults').scrollTop = 0;
                    this.$refs.infiniteLoading.$emit('$InfiniteLoading:reset');
                }).catch(err => {
                    console.log(err);
                });
            },

            //Fetch further search results when scrolling reached the last item (depending on page Size)
            //and if further ids are available (searchResults.length > pageSize)
            fetchFurtherSearchResults: function (startIndex, infiniteScrollState) {
                let url = this.state.scientixAPIUrl + '/dataForIds?uiLangCode=' + this.languageCode + '&ids=';
                let ids = '';
                let endIndex;
                let reachedEnd = false;

                if ((startIndex + (this.state.pageSize - 1)) <= this.allSearchResultsIds.length - 1) {
                    endIndex = startIndex + (this.state.pageSize - 1);
                } else {
                    endIndex = this.allSearchResultsIds.length - 1;
                    reachedEnd = true;
                }

                let i;
                for (i = startIndex; i < endIndex + 1; i++) {
                    ids = ids + this.allSearchResultsIds[i];
                    if (i < (endIndex)) {
                        ids = ids + ',';
                    }
                }

                this.$jsonp(url + ids).then(json => {

                    const temp = [] = json['results'];
                    this.searchResults = this.searchResults.concat(temp);
                    infiniteScrollState.loaded();

                    if (reachedEnd) {
                        infiniteScrollState.complete();
                    }

                }).catch(err => {
                    console.log(err);
                });
            },

            fetchResourceDetails: function (resourceID) {
                let url = this.state.scientixAPIUrl + '/details?uiLangCode=' + this.languageCode + '&resourceID=' + resourceID;
                this.$jsonp(url).then(json => {

                    this.resourceDetails.thumbnail = json['details'].thumbnail;

                    if ((json['details'].transAvailableIn).indexOf(this.languageCode) > -1) {
                        this.getResourceDetailsByLanguage(json, this.languageCode);
                    } else {
                        this.getResourceDetailsByLanguage(json, 'en');
                    }

                    this.guiState.showModal = true;
                }).catch(err => {
                    console.log(err);
                });
            },

            getResourceDetailsByLanguage(json, language) {
                this.resourceDetails.resourceID = json['details'].resourceID;
                this.resourceDetails.title = json['details'].translations[language].title;
                this.resourceDetails.description = json['details'].translations[language].description;
                let freeTextKeywords = json['details'].translations[language].freeTextKeywords[0] + ' ' +
                    json['details'].translations[language].freeTextKeywords[1];

                this.resourceDetails.freeTextKeywords = freeTextKeywords;
            },

            calculateSearchResultAmountPages: function () {
                this.guiState.searchResultAmountPages = Math.floor(this.allSearchResultsIds.length / this.state.pageSize);
                if ((this.allSearchResultsIds.length % this.state.pageSize) > 0) {
                    this.guiState.searchResultAmountPages++;
                }
            },

            infiniteHandler: function ($state) {
                if (this.guiState.currentSearchResultPage < this.guiState.searchResultAmountPages) {
                    this.guiState.currentSearchResultPage++;
                    this.fetchFurtherSearchResults(this.state.pageSize, $state);
                } else {
                    $state.complete();
                }
            },
            openResource: function () {
                let win = window.open(this.state.scientixResourceByIdUrl + this.resourceDetails.resourceID, '_blank');
                win.focus();
            },
            imageUrlToHTTPS: function (urlWithHTTP) {
                return urlWithHTTP.replace(/^http:\/\//i, 'https://');
            },
        },
    };
</script>

-<!-- Add "scoped" attribute to limit SCSS to this component only (with Deep Selectors) -->
<!-- https://medium.com/@BjornKrols/integrating-and-customising-bootstrap-4-in-vue-js-cbc29ba7688e -->
<!-- https://stackoverflow.com/questions/49653931/scope-bootstrap-css-in-vue -->
<style>
        .modal-backdrop {
            opacity: 0.5 !important;
        }

        .scrollingResourceDetails {
            max-height: 200px;
            overflow-y: auto;
        }

        img {
            vertical-align: bottom;
        }


    /*}*/
</style>
