<template>
    <div>
        <div>
            <!--The middle Contents -->
            <div>
                <div class="card">
                    <div class="card-header pl-0 pr-0 pb-0">
                        <ul class="nav nav-tabs float-left" role="tablist">
                            <li class="nav-item"><a aria-selected="true" class="nav-link-s active"
                                                    data-controls="gamification-achivement" data-toggle="tab"
                                                    href="#gamification-achivement" id="gamification-achivement-tab"
                                                    role="tab"><h5>{{ $t('achievement.achievements') }}</h5></a></li>
                            <!--<li class="nav-item">
                                               <a  class="nav-link-s" id="gamification-progress-tab" data-toggle="tab" href="#gamification-progress"  role="tab" data-controls="gamification-progress" aria-selected="false">
                                                   <h5>Progress</h5>
                                               </a>
                                           </li>-->
                            <li class="nav-item"><a aria-selected="false" class="nav-link-s"
                                                    data-controls="gamification-leadboard" data-toggle="tab"
                                                    href="#gamification-leadboard" id="gamification-leadboard-tab"
                                                    role="tab"><h5>{{ $t('achievement.leaderboard') }}</h5></a></li>
                            <li class="nav-item"><a aria-selected="false" class="nav-link-s"
                                                    data-controls="gamification-store" data-toggle="tab"
                                                    href="#gamification-store" id="gamification-store-tab" role="tab">
                                <h5>{{ $t('achievement.stimeystore') }}</h5></a></li>
                        </ul>
                        <div class="float-right mt-2 mr-3">
                            <div class="btn btn-circle btn-set-point">
                                <img src="../../img/ICON_Newest-Answer.png" class="float-right" @click="showHelp" alt="Help" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content mt-3">
                    <div class="card mt-3" v-if="help">
                        <div class="card-header card-header-with-border">
                            <h6 class="text-left">{{ $t('achievement.help_title') }}</h6>
                        </div>
                        <div class="card-body text-left">
                            <div style="white-space: pre-wrap; word-wrap: break-word; font-size: 1rem;" v-if="usertype === 'student'">{{$t('achievement.help_explorer_description')}}</div>
                            <div style="white-space: pre-wrap; word-wrap: break-word; font-size: 1rem;" v-if="usertype === 'teacher'">{{$t('achievement.help_leader_description')}}</div>
                            <div style="white-space: pre-wrap; word-wrap: break-word; font-size: 1rem;" v-if="usertype === 'incubator'">{{$t('achievement.help_incubator_description')}}</div>
                            <div style="white-space: pre-wrap; word-wrap: break-word; font-size: 1rem;" v-if="usertype === 'ambassador'">{{$t('achievement.help_ambassador_description')}}</div>
                           <!--<h6 v-else>{{$t('achievement.help_description')}}</h6>-->
                            <br/>
                            <button type="button" class="btn btn-green w-25 mb-2" @click="showHelp">OK</button>
                        </div>
                    </div>
                    <!--Tab of gamification-achivement-->
                    <div aria-labelledby="gamification-achivement-tab" class="tab-pane fade show active"
                         id="gamification-achivement" role="tabpanel">
                        <!--My Achivement-->
                        <!--If there is no invitation, this block will be hidden.-->

                        <div v-if="$store.currentUser.usertype === 'student' || $store.currentUser.usertype ==='teacher'" class="card mt-3">
                            <div class="card-header card-header-with-border">
                                <h6 class="text-left">{{ $t('achievement.achivements') }}<a
                                        class="btn btn-circle btn-set-point" data-target="#modal-points-rules"
                                        data-toggle="modal" href="#" :title="$t('achievement.title_check_rule')"> <img
                                        :alt="$t('achievement.alt_mission_add')" class="clearfix"
                                        src="../../img/ICON-Info.png"> </a></h6>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <div class="card h-100">
                                            <div class="card-body">
                                                <a class="btn btn-badges mb-2" href="#"
                                                   :title="$t('achievement.title_check_rule2')">
                                                    <!--  <img src="../../img/level.png" class="clearfix w-100" :alt="Add new mission"></img>-->
                                                    <img v-bind:src="getImgUrl(state.level)"
                                                         :alt="$t('achievement.alt_mission_add2')"
                                                         class="clearfix w-100"
                                                    >
                                                </a>
                                                <h5>{{ $t('achievement.hello_officer') }}</h5>
                                                <p class="mt-2 mb-2">{{state.feedback}}</p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card h-100">
                                            <div class="card-body">
                                                <!--Knowledge Points (KP) is Brain Points-->
                                                <!--Social Points (SP) is Heart Points-->
                                                <!--Creativity Points (CP) is Spirit Points-->
                                                <h6>{{ $t('achievement.brain_points') }}</h6>
                                                <div class="progress mb-4">
                                                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="60"
                                                         class="progress-bar progress-bar-brain progress-bar-striped active"
                                                         role="progressbar" v-bind:style="style.knowledge">
                                                        <div class="progress-value-language">
                                                            {{state.points.knowledgePoints}}/{{state.limits.knowledge}}
                                                        </div>
                                                    </div>

                                                </div>
                                                <h6>{{ $t('achievement.heart_points') }}</h6>
                                                <div class="progress mb-4">
                                                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="60"
                                                         class="progress-bar progress-bar-heart progress-bar-striped active"
                                                         role="progressbar" v-bind:style="style.social">
                                                        <div class="progress-value-language">
                                                            {{state.points.socialPoints}}/{{state.limits.social}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <h6>{{ $t('achievement.spirit_points') }}</h6>
                                                <div class="progress mb-4">
                                                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="60"
                                                         class="progress-bar progress-bar-spirit progress-bar-striped active"
                                                         role="progressbar" v-bind:style="style.creativity">
                                                        <div class="progress-value-language">
                                                            {{state.points.creativityPoints}}/{{state.limits.creativity}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card h-100">
                                            <div class="card-body">
                                                <!--<div class="mb-2">
                                                      <a class="btn btn-avatar ml-3" :title="KP">
                                                          <img src="../../img/ICONS-Knowledge-Points-Yellow-White-circle.png" class="clearfix w-100"></img>
                                                      </a>
                                                      <span class="text-muted">446</span>
                                                  </div>
                                                  <div class="mb-2">
                                                      <a class="btn btn-avatar ml-3" :title="KP">
                                                          <img src="../../img/ICONS-Social-Points-Blue-White-circle.png" class="clearfix w-100"></img>
                                                      </a>
                                                      <span class="text-muted">300</span>
                                                  </div>
                                                  <div class="mb-2">
                                                      <a class="btn btn-avatar ml-3" :title="KP">
                                                          <img src="../../img/ICONS-Creativity-Points-Red-White-circle.png" class="clearfix w-100"></img>
                                                      </a>
                                                      <span class="text-muted">420</span>
                                                  </div>-->
                                                <div class="mb-2">
                                                    <h6 class="font-weight-bold">{{ $t('achievement.energy_orbs')
                                                        }}</h6>
                                                    <a class="btn btn-badges" :title="$t('achievement.title_level')">
                                                        <img class="clearfix w-100" src="../../img/ICON_Energy-orb.png">
                                                    </a>
                                                    <h6 class="text-muted">{{state.points.energyOrbs}}</h6>
                                                    <p>{{ $t('achievement.points_energy') }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Teachers View -->
                        <div v-if="$store.currentUser.usertype === 'none'" class="card mt-3">
                            <div class="card-header card-header-with-border">
                                <h6 class="text-left">Students Achievements<a
                                        class="btn btn-circle btn-set-point" data-target="#modal-points-rules"
                                        data-toggle="modal" href="#" :title="$t('achievement.title_check_rule')"> <img
                                        :alt="$t('achievement.alt_mission_add')" class="clearfix"
                                        src="../../img/ICON-Info.png"> </a></h6>
                            </div>
                            <div class="card-body">
                                <div class="row">

                                    <div class="col">
                                        <div class="card h-100">
                                            <div class="card-body">

                                                <!--Knowledge Points (KP) is Brain Points-->
                                                <!--Social Points (SP) is Heart Points-->
                                                <!--Creativity Points (CP) is Spirit Points-->
                                                <div v-for="course in state.studentprogress">
                                                    <h6>{{ course.coursename }}</h6>
                                                    <div class="progress mb-4">
                                                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="60"
                                                             class="progress-bar progress-bar-brain progress-bar-striped active"
                                                             role="progressbar" v-bind:style="course.style">
                                                            <div class="progress-value-language">
                                                                {{course.points}}/{{course.total}}
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!--Daily Goal progress statistic-->
                        <div class="card mt-3">
                            <div class="card-header card-header-with-border">
                                <h6 class="text-left">{{ $t('achievement.goal_daily') }}
                                    <a
                                        class="btn btn-circle btn-set-point" data-target="#modal-points-rules"
                                        data-toggle="modal" href="#" :title="$t('achievement.title_check_rule2')"> <img
                                        :alt="$t('achievement.alt_mission_add2')" class="clearfix"
                                        src="../../img/ICON-Info.png">
                                    </a>
                                </h6>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="card">
                                            <div class="card-body">
                                                <!--The procentage of daily goal is: e.g. My Daily Goal is KP-40, SP-35, CP-20.-->
                                                <!--I finished today KP-30, SP-30, CP-10. Then the procentage of completting daily goal is: (30/40 + 30/35 + 10/20 ) / 3 = 70% -->
                                                <h6>{{ $t('achievement.goal_come') }}</h6>
                                                <!--If the user finished the goal.-->
                                                <!--<h6>Well done, you've completed goal today!</h6>-->
                                                <div class="statChartHolder">
                                                    <!-- <div class="progress-pie-chart" data-percent="50"> -->
                                                    <!--                                                     <div class="progress-pie-chart" v-bind:data-percent="state.goalpercent"> -->
                                                    <div class="progress-pie-chart" >
                                                        <!-- Pie Chart -->
                                                        <div class="ppc-progress">
                                                            <div class="ppc-progress-fill"></div>
                                                        </div>
                                                        <div class="ppc-percents">
                                                            <div class="pcc-percents-wrapper">
                                                                <span>%</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--End Chart -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div class="card">
                                            <div class="card-body">
                                                <!--Please create a Line chart for the daily goal to record the completion progress for a week-->
                                                <!--Yellow Line for KP, Blue Line for SP, Red Line for CP-->
                                                <h6>{{ $t('achievement.goal_progress') }}</h6>
                                                <canvas id="myChart"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Badges-->
                        <div class="card mt-3">
                            <div class="card-header card-header-with-border">
                                <h6 class="text-left">{{ $t('achievement.badges') }}
                                    <!--<a class="btn btn-circle btn-set-point" data-target="#modal-badges-rules"
                                        data-toggle="modal" href="#" :title="$t('achievement.title_click_rules')">
                                        <img :alt="$t('achievement.alt_get')" class="clearfix"
                                        src="../../img/ICON-Info.png">
                                    </a>-->
                                </h6>
                            </div>
                            <div class="card-body">
                                <h6 class="text-left">{{ $t('achievement.badges_earned') }}</h6>
                                <ul class="badges-list">
                                    <li><a class="btn btn-badges" href="#" :title="$t('achievement.title_badges')"> <img
                                            :alt="$t('achievement.alt_get2')" class="clearfix w-100"
                                            src="../../img/Badges01.png"> </a>
                                        <p>{{ $t('achievement.badge_officer') }}</p></li>
                                    <li><a class="btn btn-badges" href="#" :title="$t('achievement.title_badges2')">
                                        <img
                                                :alt="$t('achievement.alt_get2')" class="clearfix w-100"
                                                src="../../img/Badges02.png"> </a>
                                        <p>{{ $t('achievement.badge_officer2') }}</p></li>
                                    <li><a class="btn btn-badges" href="#" :title="$t('achievement.title_badges2')">
                                        <img
                                                :alt="$t('achievement.alt_get2')" class="clearfix w-100"
                                                src="../../img/Badges07.png"> </a>
                                        <p>{{ $t('achievement.planet_science') }}</p></li>
                                </ul>
                                <h6 class="text-left">{{ $t('achievement.badges_possible') }}</h6>
                                <ul class="badges-list" style="list-style: none;">
                                    <li><a class="btn btn-badges disable-badge" href="#"
                                           :title="$t('achievement.title_badges2')"> <img
                                            :alt="$t('achievement.alt_get2')" class="clearfix w-100"
                                            src="../../img/Badges03.png"> </a>
                                        <p>{{ $t('achievement.martini_city') }}</p></li>
                                    <li><a class="btn btn-badges disable-badge" href="#"
                                           :title="$t('achievement.title_badges2')"> <img
                                            :alt="$t('achievement.alt_get2')" class="clearfix w-100"
                                            src="../../img/Badges04.png"> </a>
                                        <p>{{ $t('achievement.martini_city2') }}</p></li>
                                    <li><a class="btn btn-badges disable-badge" href="#"
                                           :title="$t('achievement.title_badges2')"> <img
                                            :alt="$t('achievement.alt_get2')" class="clearfix w-100"
                                            src="../../img/Badges08.png"> </a>
                                        <p>{{ $t('achievement.photographer') }}</p></li>
                                    <li><a class="btn btn-badges disable-badge" href="#"
                                           :title="$t('achievement.title_badges2')"> <img
                                            :alt="$t('achievement.alt_get2')" class="clearfix w-100"
                                            src="../../img/Badges01.png"> </a>
                                        <p>{{ $t('achievement.martini_city2') }}</p></li>
                                    <li><a class="btn btn-badges disable-badge" href="#"
                                           :title="$t('achievement.title_badges2')"> <img
                                            :alt="$t('achievement.alt_get2')" class="clearfix w-100"
                                            src="../../img/Badges02.png"> </a>
                                        <p>{{ $t('achievement.photographer2') }}</p></li>
                                </ul>
                            </div>
                        </div>
                        <!--certificates-->
                        <div class="card mt-3">
                            <div class="card-header card-header-with-border">
                                <h6 class="text-left">{{ $t('achievement.certificates') }}
                                    <!--<a class="btn btn-circle btn-set-point" data-target="#modal-certificates-rules"
                                        data-toggle="modal" href="#" :title="$t('achievement.title_check_rule2')">
                                        <img
                                        :alt="$t('achievement.alt_mission_add2')" class="clearfix"
                                        src="../../img/ICON-Info.png">
                                    </a>-->
                                </h6>
                            </div>
                            <div class="card-body">
                                <ul class="badges-list" style="list-style: none;">
                                    <li @click='exportPDF'><a class="btn btn-certificates" href="#"
                                           :title="$t('achievement.title_badges2')"> <img
                                            :alt="$t('achievement.alt_get2')" class="clearfix w-100"
                                            src="../../img/Certificate01.png"> </a>
                                        <p>{{ $t('achievement.crash_mission') }}</p></li>
									<!--
                                    <li><a class="btn btn-certificates" href="#"
                                           :title="$t('achievement.title_badges2')"> <img
                                            :alt="$t('achievement.alt_get2')" class="clearfix w-100"
                                            src="../../img/Certificate01.png"> </a>
                                        <p>{{ $t('achievement.crash_mission2') }}</p></li>
                                    <li><a class="btn btn-certificates" href="#"
                                           :title="$t('achievement.title_badges2')"> <img
                                            :alt="$t('achievement.alt_get2')" class="clearfix w-100"
                                            src="../../img/Certificate01.png"> </a>
                                        <p>{{ $t('achievement.crash_mission2') }}</p></li>
                                    <li><a class="btn btn-certificates" href="#"
                                           :title="$t('achievement.title_badges2')"> <img
                                            :alt="$t('achievement.alt_get2')" class="clearfix w-100"
                                            src="../../img/Certificate01.png"> </a>
                                        <p>{{ $t('achievement.crash_mission2') }}</p></li>
									-->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--Tab of missions discover-->
                    <!--<div class="tab-pane fade" id="gamification-progress" role="tabpanel" aria-labelledby="gamification-progress-tab">

                             </div>-->
                    <!--Tab of leaderboard -->
                    <div aria-labelledby="gamification-leadboard-tab" class="tab-pane fade" id="gamification-leadboard"
                         role="tabpanel">
                        <div class="card text-center">
                            <div class="card-header card-header-with-border pl-0 pr-0 pb-0">
                                <ul class="nav nav-tabs justify-content-center" role="tablist">
									<!--
                                    <li class="nav-item"><a aria-selected="true" class="nav-link-s active"
                                                            data-controls="leadboard-daily" data-toggle="tab"
                                                            href="#leadboard-daily" id="leadboard-daily-tab" role="tab">
                                        <h6>{{ $t('achievement.daily') }}</h6></a></li>
                                    <li class="nav-item"><a aria-selected="false" class="nav-link-s"
                                                            data-controls="leadboard-weekly" data-toggle="tab"
                                                            href="#leadboard-weekly" id="leadboard-weekly-tab"
                                                            role="tab"><h6>{{ $t('achievement.weekly') }}</h6></a></li>
                                    <li class="nav-item"><a aria-selected="false" class="nav-link-s"
                                                            data-controls="leadboard-monthly" data-toggle="tab"
                                                            href="#leadboard-monthly" id="leadboard-monthly-tab"
                                                            role="tab"><h6>{{ $t('achievement.monthly') }}</h6></a></li>
									-->
                                    <li class="nav-item"><a aria-selected="false" class="nav-link-s active"
                                                            data-controls="leadboard-alltime" data-toggle="tab"
                                                            href="#leadboard-alltime" id="leadboard-alltime-tab"
                                                            role="tab"><h6>{{ $t('achievement.time') }}</h6></a></li>
                                </ul>
                            </div>
                            <div class="tab-content mt-3">
                                <div aria-labelledby="leadboard-daily-tab" class="tab-pane fade"
                                     id="leadboard-daily" role="tabpanel">
                                    <div class="card-body pt-0">
                                        <table class="table">
                                            <thead class="thead-dark">
                                            <tr class="lb-header">
                                                <th scope="col">#</th>
                                                <th scope="col">{{ $t('achievement.explorer_name') }}</th>
                                                <th scope="col">{{ $t('achievement.levels') }}</th>
                                                <th scope="col">{{ $t('achievement.brain_points2') }}</th>
                                                <th scope="col">{{ $t('achievement.heart_points2') }}</th>
                                                <th scope="col">{{ $t('achievement.spirit_points2') }}</th>
                                                <th scope="col">{{ $t('achievement.country') }}</th>
                                            </tr>
                                            </thead>
                                            <tbody class="">
                                            <tr class="lb-host" v-for="user in state.leaderboard.daily"
                                                v-if="user.userid === $store.currentUser.userid">
                                                <th scope="row">{{user.position}}</th>
                                                <td><a class="btn btn-avatar" data-target="#modal-user-info"
                                                       data-toggle="modal" href="#">
                                                    <DisplayImageFile
                                                            v-if="state.test != null"
                                                            mode="statusupdate"
                                                            :imageFileId="state.test"
                                                    ></DisplayImageFile>

                                                    <!--                                                        <img class="w-100" -->
                                                    <!--                                                                                           src="../../img/user.png"> -->
                                                    {{user.username}}</a>
                                                </td>
                                                <td><a class="btn btn-avatar"> <img :alt="$t('achievement.alt_level')"
                                                                                    class="w-100"
                                                                                    v-bind:src="getImgUrl(user.level)">

                                                </a>{{ $t('achievement.officer') }}
                                                </td>
                                                <td>{{ user.kp }}</td>
                                                <td>{{ user.sp}}</td>
                                                <td>{{ user.cp }}</td>
                                                <td><a class="btn btn-avatar"> <img class="w-100"
                                                                                    src="../../img/Icon_German_Language.png">
                                                </a></td>
                                            </tr>
                                            <tr class="table-danger font-weight-bold"
                                                v-for="user in state.leaderboard.daily" v-if="user.position === 1">
                                                <th scope="row"><h3>1</h3></th>
                                                <td><a class="btn btn-circle" data-target="#modal-user-info"
                                                       data-toggle="modal" href="#"> <img
                                                        :alt="$t('achievement.alt_avatar')" src="../../img/user3.png">{{user.username}}</a>
                                                </td>
                                                <td><a class="btn btn-circle"> <img :alt="$t('achievement.alt_level2')"
                                                                                    class="w-100"
                                                                                    v-bind:src="getImgUrl(user.level)">
                                                </a>{{ $t('achievement.lieutenant_senior') }}
                                                </td>
                                                <td>{{ user.kp }}</td>
                                                <td>{{ user.sp }}</td>
                                                <td>{{ user.cp }}</td>
                                                <td><a class="btn btn-avatar"> <img class="w-100"
                                                                                    src="../../img/Greek.png"> </a></td>
                                            </tr>
                                            <tr class="table-success font-weight-bold"
                                                v-for="user in state.leaderboard.daily" v-if="user.position === 2">
                                                <th scope="row"><h4>2</h4></th>
                                                <td><a class="btn btn-circle" data-target="#modal-user-info"
                                                       data-toggle="modal" href="#">

                                                    <img
                                                            :alt="$t('achievement.alt_avatar2')" src="../../img/user4.png">
                                                    <!--                                                         <DisplayImageFile -->
                                                    <!-- 												            v-if="user.userid != null" -->
                                                    <!-- 												            mode="statusupdate" -->
                                                    <!-- 												            :imageFileId="user.userid" -->
                                                    <!-- 												          ></DisplayImageFile> -->
                                                    {{user.username}}</a>
                                                </td>
                                                <td><a class="btn btn-circle"> <img :alt="$t('achievement.alt_level2')"
                                                                                    class="w-100"
                                                                                    v-bind:src="getImgUrl(user.level)">
                                                </a>{{ $t('achievement.lieutenant_junior') }}
                                                </td>
                                                <td>{{user.kp}}</td>
                                                <td>{{user.sp}}</td>
                                                <td>{{user.cp}}</td>
                                                <td><a class="btn btn-avatar"> <img class="w-100"
                                                                                    src="../../img/Greek.png"> </a></td>
                                            </tr>
                                            <tr class="table-warning font-weight-bold"
                                                v-for="user in state.leaderboard.daily" v-if="user.position === 3">
                                                <th scope="row"><h5>3</h5></th>
                                                <td><a class="btn btn-circle" data-target="#modal-user-info"
                                                       data-toggle="modal" href="#"> <img
                                                        :alt="$t('achievement.alt_avatar2')" src="../../img/user5.png">{{user.username}}</a>
                                                </td>
                                                <td><a class="btn btn-circle"> <img :alt="$t('achievement.alt_level2')"
                                                                                    class="w-100"
                                                                                    v-bind:src="getImgUrl(user.level)">
                                                </a>{{ $t('achievement.lieutenant_junior2') }}
                                                </td>
                                                <td>{{user.kp}}</td>
                                                <td>{{user.sp}}</td>
                                                <td>{{user.cp}}</td>
                                                <td><a class="btn btn-avatar"> <img class="w-100"
                                                                                    src="../../img/Greek.png"> </a></td>
                                            </tr>
                                            <tr v-for="user in state.leaderboard.daily" v-if="user.position > 3">
                                                <th scope="row">{{user.position}}</th>
                                                <td><a class="btn btn-circle" data-target="#modal-user-info"
                                                       data-toggle="modal" href="#"> <img
                                                        :alt="$t('achievement.alt_avatar2')" src="../../img/user5.png">{{user.username}}</a>
                                                </td>
                                                <td><a class="btn btn-circle"> <img :alt="$t('achievement.alt_level2')"
                                                                                    class="w-100"
                                                                                    v-bind:src="getImgUrl(user.level)">
                                                </a>{{ $t('achievement.officer2') }}
                                                </td>
                                                <td>{{user.kp}}</td>
                                                <td>{{user.sp}}</td>
                                                <td>{{user.cp}}</td>
                                                <td><a class="btn btn-avatar"> <img class="w-100"
                                                                                    src="../../img/Greek.png"> </a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div aria-labelledby="leadboard-weekly-tab" class="tab-pane fade" id="leadboard-weekly"
                                     role="tabpanel">
                                    <div class="card-body pt-0">
                                        <table class="table">
                                            <thead class="thead-dark">
                                            <tr class="lb-header">
                                                <th scope="col">#</th>
                                                <th scope="col">{{ $t('achievement.explorer_name2') }}</th>
                                                <th scope="col">{{ $t('achievement.levels2') }}</th>
                                                <th scope="col">{{ $t('achievement.brain_points2') }}</th>
                                                <th scope="col">{{ $t('achievement.heart_points2') }}</th>
                                                <th scope="col">{{ $t('achievement.spirit_points2') }}</th>
                                                <th scope="col">{{ $t('achievement.country2') }}</th>
                                            </tr>
                                            </thead>
                                            <tbody class="">
                                            <tr class="lb-host" v-for="user in state.leaderboard.weekly"
                                                v-if="user.userid === $store.currentUser.userid">
                                                <th scope="row">{{user.position}}</th>
                                                <td><a class="btn btn-avatar" data-target="#modal-user-info"
                                                       data-toggle="modal" href="#"> <img class="w-100"
                                                                                          src="../../img/user.png">{{user.username}}</a>
                                                </td>
                                                <td><a class="btn btn-avatar"> <img :alt="$t('achievement.alt_level2')"
                                                                                    class="w-100"
                                                                                    v-bind:src="getImgUrl(user.level)">
                                                </a>{{ $t('achievement.officer2') }}
                                                </td>
                                                <td>{{user.kp}}</td>
                                                <td>{{user.sp}}</td>
                                                <td>{{user.cp}}</td>
                                                <td><a class="btn btn-avatar"> <img class="w-100"
                                                                                    src="../../img/Icon_German_Language.png">
                                                </a></td>
                                            </tr>
                                            <tr class="table-danger font-weight-bold"
                                                v-for="user in state.leaderboard.weekly" v-if="user.position === 1">
                                                <th scope="row"><h3>1</h3></th>
                                                <td><a class="btn btn-circle" data-target="#modal-user-info"
                                                       data-toggle="modal" href="#"> <img
                                                        :alt="$t('achievement.alt_avatar2')" src="../../img/user3.png">{{user.username}}</a>
                                                </td>
                                                <td><a class="btn btn-circle"> <img :alt="$t('achievement.alt_level2')"
                                                                                    class="w-100"
                                                                                    v-bind:src="getImgUrl(user.level)">
                                                </a>{{ $t('achievement.lieutenant_senior2') }}
                                                </td>
                                                <td>{{user.kp}}</td>
                                                <td>{{user.sp}}</td>
                                                <td>{{user.cp}}</td>
                                                <td><a class="btn btn-avatar"> <img class="w-100"
                                                                                    src="../../img/Greek.png"> </a></td>
                                            </tr>
                                            <tr class="table-success font-weight-bold"
                                                v-for="user in state.leaderboard.weekly" v-if="user.position === 2">
                                                <th scope="row"><h4>2</h4></th>
                                                <td><a class="btn btn-circle" data-target="#modal-user-info"
                                                       data-toggle="modal" href="#"> <img
                                                        :alt="$t('achievement.alt_avatar2')" src="../../img/user4.png">{{user.username}}</a>
                                                </td>
                                                <td><a class="btn btn-circle"> <img :alt="$t('achievement.alt_level2')"
                                                                                    class="w-100"
                                                                                    v-bind:src="getImgUrl(user.level)">
                                                </a>{{ $t('achievement.lieutenant_junior2') }}
                                                </td>
                                                <td>{{user.kp}}</td>
                                                <td>{{user.sp}}</td>
                                                <td>{{user.cp}}</td>
                                                <td><a class="btn btn-avatar"> <img class="w-100"
                                                                                    src="../../img/Greek.png"> </a></td>
                                            </tr>
                                            <tr class="table-warning font-weight-bold"
                                                v-for="user in state.leaderboard.weekly" v-if="user.position === 3">
                                                <th scope="row"><h5>3</h5></th>
                                                <td><a class="btn btn-circle" data-target="#modal-user-info"
                                                       data-toggle="modal" href="#"> <img
                                                        :alt="$t('achievement.alt_avatar2')" src="../../img/user5.png">{{
                                                    user.username}}</a></td>
                                                <td><a class="btn btn-circle"> <img :alt="$t('achievement.alt_level2')"
                                                                                    class="w-100"
                                                                                    v-bind:src="getImgUrl(user.level)">
                                                </a>{{ $t('achievement.lieutenant_junior2') }}
                                                </td>
                                                <td>{{user.kp}}</td>
                                                <td>{{user.sp}}</td>
                                                <td>{{user.cp}}</td>
                                                <td><a class="btn btn-avatar"> <img class="w-100"
                                                                                    src="../../img/Greek.png"> </a></td>
                                            </tr>
                                            <tr v-for="user in state.leaderboard.weekly" v-if="user.position > 3">
                                                <th scope="row">{{user.position}}</th>
                                                <td><a class="btn btn-circle" data-target="#modal-user-info"
                                                       data-toggle="modal" href="#"> <img
                                                        :alt="$t('achievement.alt_avatar2')" src="../../img/user5.png">{{
                                                    user.username}}</a></td>
                                                <td><a class="btn btn-circle"> <img :alt="$t('achievement.alt_level2')"
                                                                                    class="w-100"
                                                                                    v-bind:src="getImgUrl(user.level)">
                                                </a>{{ $t('achievement.officer2') }}
                                                </td>
                                                <td>{{user.kp}}</td>
                                                <td>{{user.sp}}</td>
                                                <td>{{user.cp}}</td>
                                                <td><a class="btn btn-avatar"> <img class="w-100"
                                                                                    src="../../img/Greek.png"> </a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div aria-labelledby="leadboard-monthly-tab" class="tab-pane fade"
                                     id="leadboard-monthly" role="tabpanel">
                                    <div class="card-body pt-0">
                                        <table class="table">
                                            <thead class="thead-dark">
                                            <tr class="lb-header">
                                                <th scope="col">#</th>
                                                <th scope="col">{{ $t('achievement.explorer_name2') }}</th>
                                                <th scope="col">{{ $t('achievement.levels2') }}</th>
                                                <th scope="col">{{ $t('achievement.brain_points2') }}</th>
                                                <th scope="col">{{ $t('achievement.heart_points2') }}</th>
                                                <th scope="col">{{ $t('achievement.spirit_points2') }}</th>
                                                <th scope="col">{{ $t('achievement.country2') }}</th>
                                            </tr>
                                            </thead>
                                            <tbody class="">
                                            <tr class="lb-host" v-for="user in state.leaderboard.monthly"
                                                v-if="user.userid === $store.currentUser.userid">
                                                <th scope="row">{{user.position}}</th>
                                                <td><a class="btn btn-avatar" data-target="#modal-user-info"
                                                       data-toggle="modal" href="#"> <img class="w-100"
                                                                                          src="../../img/user.png">{{
                                                    user.username}}</a></td>
                                                <td><a class="btn btn-avatar"> <img :alt="$t('achievement.alt_level2')"
                                                                                    class="w-100"
                                                                                    v-bind:src="getImgUrl(user.level)">
                                                </a>{{ $t('achievement.officer2') }}
                                                </td>
                                                <td>{{user.kp}}</td>
                                                <td>{{user.sp}}</td>
                                                <td>{{user.cp}}</td>
                                                <td><a class="btn btn-avatar"> <img class="w-100"
                                                                                    src="../../img/Icon_German_Language.png">
                                                </a></td>
                                            </tr>
                                            <tr class="table-danger font-weight-bold"
                                                v-for="user in state.leaderboard.monthly" v-if="user.position === 1">
                                                <th scope="row"><h3>1</h3></th>
                                                <td><a class="btn btn-circle" data-target="#modal-user-info"
                                                       data-toggle="modal" href="#"> <img
                                                        :alt="$t('achievement.alt_avatar2')" src="../../img/user3.png">{{
                                                    user.username}}</a></td>
                                                <td><a class="btn btn-circle"> <img :alt="$t('achievement.alt_level2')"
                                                                                    class="w-100"
                                                                                    v-bind:src="getImgUrl(user.level)">
                                                </a>{{ $t('achievement.lieutenant_senior2') }}
                                                </td>
                                                <td>{{user.kp}}</td>
                                                <td>{{user.sp}}</td>
                                                <td>{{user.cp}}</td>
                                                <td><a class="btn btn-avatar"> <img class="w-100"
                                                                                    src="../../img/Greek.png"> </a></td>
                                            </tr>
                                            <tr class="table-success font-weight-bold"
                                                v-for="user in state.leaderboard.monthly" v-if="user.position === 2">
                                                <th scope="row"><h4>2</h4></th>
                                                <td><a class="btn btn-circle" data-target="#modal-user-info"
                                                       data-toggle="modal" href="#"> <img
                                                        :alt="$t('achievement.alt_avatar2')" src="../../img/user4.png">{{
                                                    user.username}}</a></td>
                                                <td><a class="btn btn-circle"> <img :alt="$t('achievement.alt_level2')"
                                                                                    class="w-100"
                                                                                    v-bind:src="getImgUrl(user.level)">
                                                </a>{{ $t('achievement.lieutenant_junior2') }}
                                                </td>
                                                <td>{{user.kp}}</td>
                                                <td>{{user.sp}}</td>
                                                <td>{{user.cp}}</td>
                                                <td><a class="btn btn-avatar"> <img class="w-100"
                                                                                    src="../../img/Greek.png"> </a></td>
                                            </tr>
                                            <tr class="table-warning font-weight-bold"
                                                v-for="user in state.leaderboard.monthly" v-if="user.position === 3">
                                                <th scope="row"><h5>3</h5></th>
                                                <td><a class="btn btn-circle" data-target="#modal-user-info"
                                                       data-toggle="modal" href="#"> <img
                                                        :alt="$t('achievement.alt_avatar2')" src="../../img/user5.png">{{
                                                    user.username}}</a></td>
                                                <td><a class="btn btn-circle"> <img :alt="$t('achievement.alt_level2')"
                                                                                    class="w-100"
                                                                                    v-bind:src="getImgUrl(user.level)">
                                                </a>{{ $t('achievement.lieutenant_junior2') }}
                                                </td>
                                                <td>{{user.kp}}</td>
                                                <td>{{user.sp}}</td>
                                                <td>{{user.cp}}</td>
                                                <td><a class="btn btn-avatar"> <img class="w-100"
                                                                                    src="../../img/Greek.png"> </a></td>
                                            </tr>
                                            <tr v-for="user in state.leaderboard.monthly" v-if="user.position > 3">
                                                <th scope="row">{{user.position}}</th>
                                                <td><a class="btn btn-circle" data-target="#modal-user-info"
                                                       data-toggle="modal" href="#"> <img
                                                        :alt="$t('achievement.alt_avatar2')" src="../../img/user5.png">{{
                                                    user.username}}</a></td>
                                                <td><a class="btn btn-circle"> <img :alt="$t('achievement.alt_level2')"
                                                                                    class="w-100"
                                                                                    v-bind:src="getImgUrl(user.level)">
                                                </a>{{ $t('achievement.officer2') }}
                                                </td>
                                                <td>{{user.kp}}</td>
                                                <td>{{user.sp}}</td>
                                                <td>{{user.cp}}</td>
                                                <td><a class="btn btn-avatar"> <img class="w-100"
                                                                                    src="../../img/Greek.png"> </a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div aria-labelledby="leadboard-alltime-tab" class="tab-pane fade show active"
                                     id="leadboard-alltime" role="tabpanel">
                                    <div class="card-body pt-0">
                                        <table class="table">
                                            <thead class="thead-dark">
                                            <tr class="lb-header">
                                                <th scope="col">#</th>
                                                <th scope="col">{{ $t('achievement.explorer_name2') }}</th>
                                                <th scope="col">{{ $t('achievement.levels2') }}</th>
                                                <th scope="col">{{ $t('achievement.brain_points2') }}</th>
                                                <th scope="col">{{ $t('achievement.heart_points2') }}</th>
                                                <th scope="col">{{ $t('achievement.spirit_points2') }}</th>
                                                <!--<th scope="col">{{ $t('achievement.country2') }}</th>-->
                                            </tr>
                                            </thead>
                                            <tbody class="">
                                            <tr class="lb-host" v-for="user in state.leaderboard.alltime"
                                                v-if="user.userid === $store.currentUser.userid">
                                                <th scope="row">{{user.position}}</th>
                                                <td><a class="btn btn-avatar" data-target="#modal-user-info"
                                                       data-toggle="modal" href="#"> <img class="w-100"
                                                                                          src="../../img/user.png">{{
                                                    user.username}}</a></td>
                                                <td><a class="btn btn-avatar"> <img :alt="$t('achievement.alt_level2')"
                                                                                    class="w-100"
                                                                                    v-bind:src="getImgUrl(user.level)">
                                                </a>{{ $t('achievement.officer2') }}
                                                </td>
                                                <td>{{user.kp}}</td>
                                                <td>{{user.sp}}</td>
                                                <td>{{user.cp}}</td>
                                                <!--<td><a class="btn btn-avatar"> <img class="w-100"
                                                                                    src="../../img/Icon_German_Language.png">
                                                </a></td>-->
                                            </tr>
                                            <tr class="table-danger font-weight-bold"
                                                v-for="user in state.leaderboard.alltime" v-if="user.position === 1">
                                                <th scope="row"><h3>1</h3></th>
                                                <td><a class="btn btn-circle" data-target="#modal-user-info"
                                                       data-toggle="modal" href="#"> <img
                                                        :alt="$t('achievement.alt_avatar2')" src="../../img/user3.png">{{
                                                    user.username}}</a></td>
                                                <td><a class="btn btn-circle"> <img :alt="$t('achievement.alt_level2')"
                                                                                    class="w-100"
                                                                                    v-bind:src="getImgUrl(user.level)">
                                                </a>{{ $t('achievement.lieutenant_senior2') }}
                                                </td>
                                                <td>{{user.kp}}</td>
                                                <td>{{user.sp}}</td>
                                                <td>{{user.cp}}</td>
                                                <!--<td><a class="btn btn-avatar"> <img class="w-100"
                                                                                    src="../../img/Greek.png"> </a></td>-->
                                            </tr>
                                            <tr class="table-success font-weight-bold"
                                                v-for="user in state.leaderboard.alltime" v-if="user.position === 2">
                                                <th scope="row"><h4>2</h4></th>
                                                <td><a class="btn btn-circle" data-target="#modal-user-info"
                                                       data-toggle="modal" href="#"> <img
                                                        :alt="$t('achievement.alt_avatar2')" src="../../img/user4.png">{{
                                                    user.username}}</a></td>
                                                <td><a class="btn btn-circle"> <img :alt="$t('achievement.alt_level2')"
                                                                                    class="w-100"
                                                                                    v-bind:src="getImgUrl(user.level)">
                                                </a>{{ $t('achievement.lieutenant_junior2') }}
                                                </td>
                                                <td>{{user.kp}}</td>
                                                <td>{{user.sp}}</td>
                                                <td>{{user.cp}}</td>
                                                <!--<td><a class="btn btn-avatar"> <img class="w-100"
                                                                                    src="../../img/Greek.png"> </a></td>-->
                                            </tr>
                                            <tr class="table-warning font-weight-bold"
                                                v-for="user in state.leaderboard.alltime" v-if="user.position === 3">
                                                <th scope="row"><h5>3</h5></th>
                                                <td><a class="btn btn-circle" data-target="#modal-user-info"
                                                       data-toggle="modal" href="#"> <img
                                                        :alt="$t('achievement.alt_avatar2')" src="../../img/user5.png">{{
                                                    user.username}}</a></td>
                                                <td><a class="btn btn-circle"> <img :alt="$t('achievement.alt_level2')"
                                                                                    class="w-100"
                                                                                    v-bind:src="getImgUrl(user.level)">
                                                </a>{{ $t('achievement.lieutenant_junior2') }}
                                                </td>
                                                <td>{{user.kp}}</td>
                                                <td>{{user.sp}}</td>
                                                <td>{{user.cp}}</td>
                                                <!--<td><a class="btn btn-avatar"> <img class="w-100"
                                                                                    src="../../img/Greek.png"> </a></td>-->
                                            </tr>
                                            <tr v-for="user in state.leaderboard.alltime" v-if="user.position > 3">
                                                <th scope="row">{{user.position}}</th>
                                                <td><a class="btn btn-circle" data-target="#modal-user-info"
                                                       data-toggle="modal" href="#"> <img
                                                        :alt="$t('achievement.alt_avatar2')" src="../../img/user5.png">{{
                                                    user.username}}</a></td>
                                                <td><a class="btn btn-circle"> <img :alt="$t('achievement.alt_level2')"
                                                                                    class="w-100"
                                                                                    v-bind:src="getImgUrl(user.level)">
                                                </a>{{ $t('achievement.officer2') }}
                                                </td>
                                                <td>{{user.kp}}</td>
                                                <td>{{user.sp}}</td>
                                                <td>{{user.cp}}</td>
                                                <!--<td><a class="btn btn-avatar"> <img class="w-100"
                                                                                    src="../../img/Greek.png"> </a></td>-->
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Tab of missions discover-->
                    <div aria-labelledby="gamification-store-tab" class="tab-pane fade" id="gamification-store"
                         role="tabpanel">
                        <div class="card">
                            <div class="default-states">
                                <h5>Welcome to the STIMEY Store! </h5>
                                <h6>Here you can use your Energy Orbs to buy items such as Robot Upgrades or cool merchandise from Incubators.</h6>
                                <h6 class="font-weight-bold">The store is still under development.</h6>
                                <h6>Bonne Chance!</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--//////////////////////////////////-->
            <!--//////////////////////////////////-->
            <!--//////Modal Windows///////-->
            <!--//////////////////////////////////-->
            <!--//////////////////////////////////-->

            <!--<--Modal of modal-points-rules-->
            <div class="modal fade" id="modal-points-rules" role="dialog">
                <div class="modal-dialog" role="document">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header pb-1">
                            <h5 class="modal-title">{{ $t('achievement.rules_points') }}</h5>
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <p>The three STIMEY point systems are a record of your journey on STIMEY. They are:</p>
                            <ul>
                                <li>
                                    <b>Brain Points</b>, which you gain from knowledge activities like exploring Missions.
                                </li>
                                <li>
                                    <b>Heart Points</b>, which you gain from social activities like posting in Communities and Discussions.
                                </li>
                                <li>
                                    <b>Spirit Points</b>, which you gain from creative activities like playing Rocket Scientist or the Mental Calculator.
                                </li>
                            </ul>
                           <p>“Brain, Heart, and Spirit” are three important elements of growing as an explorer, so be sure to collect all three to advance to new levels!</p>
                            <p>As you advance in levels and collect more points, you will also earn "Energy Orbs". You can use your Energy Orbs to buy items from the *STIMEY store* (put a link to the Stimey Store that opens in a new tab)!</p>
                        </div>
                        <div class="modal-footer">
                            <!--<button class="btn btn-green" data-dismiss="modal" type="button">{{ $t('achievement.save2')
                                }}
                            </button>-->
                            <button class="btn btn-orange" data-dismiss="modal" type="button">Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Modal of modal-badges-rules-->
            <div class="modal fade" id="modal-badges-rules" role="dialog">
                <div class="modal-dialog" role="document">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header pb-1">
                            <h5 class="modal-title">{{ $t('achievement.rules_badges') }}</h5>
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <!--<button class="btn btn-green" data-dismiss="modal" type="button">{{ $t('achievement.save2')
                                }}
                            </button>-->
                            <button class="btn btn-orange" data-dismiss="modal" type="button">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Modal of modal-certificates-rules-->
            <div class="modal fade" id="modal-certificates-rules" role="dialog">
                <div class="modal-dialog" role="document">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header pb-1">
                            <h5 class="modal-title">{{ $t('achievement.rules_certificates') }}</h5>
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                                    aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                           <!-- <button class="btn btn-green" data-dismiss="modal" type="button">{{ $t('achievement.save2')
                                }}
                            </button>-->
                            <button class="btn btn-orange" data-dismiss="modal" type="button">Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Modal of user-info-->
            <div class="modal fade" id="modal-user-info" role="dialog">
                <div class="modal-dialog" role="document">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <!--<div class="modal-header pb-1">
                                        <h5 class="modal-title">The rules of certificates in Stiemy</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>-->
                        <div class="modal-body text-center mb-3">
                            <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                                    aria-hidden="true">&times;</span></button>
                            <br>
                            <div class="mt-3">
                                <a class="btn btn-points"
                                   href="profile-wall-bookmark-eportfolio-connection-about-for-visitor.html"> <img
                                        class="w-100" src="../../img/user4.png"> </a>
                                <h5 class="mt-1">{{ $t('achievement.username') }}</h5>
                            </div>
                            <p>{{ $t('achievement.user_profile') }}</p>
                            <div>
                                <h5 class="mt-2">{{ $t('achievement.certificates2') }}</h5>
                                <ul class="badges-list" style="list-style: none;">
                                    <li><a class="btn btn-certificates" href="#"
                                           :title="$t('achievement.title_badges2')"> <img
                                            :alt="$t('achievement.alt_get2')" class="clearfix w-100"
                                            src="../../img/Certificate01.png"> </a>
                                        <p>{{ $t('achievement.crash_mission2') }}</p></li>
									<!--
                                    <li><a class="btn btn-certificates" href="#"
                                           :title="$t('achievement.title_badges2')"> <img
                                            :alt="$t('achievement.alt_get2')" class="clearfix w-100"
                                            src="../../img/Certificate01.png"> </a>
                                        <p>{{ $t('achievement.crash_mission2') }}</p></li>
                                    <li><a class="btn btn-certificates" href="#"
                                           :title="$t('achievement.title_badges2')"> <img
                                            :alt="$t('achievement.alt_get2')" class="clearfix w-100"
                                            src="../../img/Certificate01.png"> </a>
                                        <p>{{ $t('achievement.crash_planet') }}</p></li>
                                    <li><a class="btn btn-certificates" href="#"
                                           :title="$t('achievement.title_badges2')"> <img
                                            :alt="$t('achievement.alt_get2')" class="clearfix w-100"
                                            src="../../img/Certificate01.png"> </a>
                                        <p>{{ $t('achievement.crash_planet2') }}</p></li>
									-->
                                </ul>
                            </div>
                            <hr class="mt-3 mb-3">
                            <div class="text-center">
                                <button class="btn btn-green w-25 mr-4" type="button">{{ $t('achievement.friend_add')
                                    }}
                                </button>
                                <!--After targeting-->
                                <!--<button type="button" class="btn btn-secondary w-25 mr-4 disabled>wrapper sent</button>-->
                                <button class="btn btn-orange w-25 ml-3" type="button">{{ $t('achievement.view_profile')
                                    }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--//////////////////////////////////-->
            <!--//////////////////////////////////-->
            <!--//////Modal Windows///////-->
            <!--//////////////////////////////////-->
            <!--//////////////////////////////////-->
        </div>
		<!--//////////////////////////////////-->
        <!--//////////////////////////////////-->
        <!--//////Certificates Templates///////-->
        <!--//////////////////////////////////-->
        <!--//////////////////////////////////-->
		<div v-show='false'>
			<div id="pdf_template_student"> 
				<img src="../../img/Certificate_Student_NoBadge.png" style="max-height: 100%; max-width: 100%; display: block; margin: auto">
			</div>
			<div id="pdf_template_teacher"> 
				<img src="../../img/Certificate_Teacher_NoBadge.png" style="max-height: 100%; max-width: 100%; display: block; margin: auto">
			</div>
		</div>
    </div>
</template>


<script>

    import DisplayImageFile from './common/DisplayImageFile';
    import { storage_getURL, getTeachersEndpoint, getMissionApiUrl, storage_getdashboardApiUrl } from '../../js/global.js';

    export default {
        name: 'Achievement',
        components: {
            DisplayImageFile
        },
        data: function () {
            return {
                state: {
				    completedMissions: 0,
                    level: 1,
                    limits: {knowledge: 0, social: 0, creativity: 0},
                    points: {knowledgePoints: 0, socialPoints: 0, creativityPoints: 0, totalPoints: 0, energyOrbs: 0},
                    goalpercent: 0,
                    country: null,
                    feedback: null,
                    leaderboard: {alltime: [], monthly: [], weekly: [], daily: []},
                    progress: {
                        goals: [],
                        reached: []
                    },
                    dailyGoal: {
                        "knowledgeGoal": "",
                        "socialGoal": "",
                        "creativityGoal": "",
                    },
                    test: this.$store.profile.avatarImageId,
                    studentprogress: []

                },
                style: {
                    knowledge: {width: 0 + '%', 'box-shadow': '-1px 10px 10px rgba(240, 173, 78,0.57)'},
                    social: {width: 0 + '%', 'box-shadow': '-1px 10px 10px rgba(128, 209, 222,0.5)'},
                    creativity: {width: 0 + '%', 'box-shadow': '-1px 10px 10px rgba(222, 92, 92,0.5)'}
                },
                usertype: null,
                help: false
            }
        },
        created() {
            console.log("USER: " + this.$store.currentUser.username);
            this.usertype = this.$store.currentUser.usertype;
            this.initUserGamificationData();
            this.initLeaderboardData();
            //this.initStudentsProgress();
			
			axios.get(storage_getURL("API_GATEWAY_STORAGE") + "/api-proxy/courses/api/students/"+this.$store.currentUser.userid+"/missions")
                .then(response => {
                    if (response.data != null) {
                        this.state.completedMissions = response.data.completedMissions.length;
                    }
                });
        },
        mounted() {

            $(window).load(function () {
                $('.post-module').hover(function () {
                    $(this).find('.description').stop().animate({
                        height: "toggle",
                        opacity: "toggle"
                    }, 300);
                });
            });

        },


        methods: {
			exportPDF(){
			let userType = this.$store.currentUser.usertype;
			
			if (userType === 'student')
				axios
					.get(storage_getdashboardApiUrl('API_GATEWAY_STORAGE') + '/portfolio?userid=' + this.$store.currentUser.userid)
					.then(response => {
						let eportfolioid = response.data.ePortfolioId;
		
						axios
							.get(storage_getdashboardApiUrl('API_GATEWAY_STORAGE') + '/portfolio?eportfolioid=' + eportfolioid)
							.then(response => {
								let realName = response.data.realName;
								
								this.generatePDF(realName);
							})
							.catch(error => {
								console.log(error);
							});
					})
					.catch(error => {
						console.log(error);
					});
			else if (userType === 'teacher')
				this.generatePDF(this.$store.currentUser.username);
			},
			generatePDF(userName){
				let pdfName = 'STIMEY - Certificate';
                //let userName = this.$store.currentUser.username;
				let userType = this.$store.currentUser.usertype;
				
				let element = null;
				if (userType === 'student')
					element = document.getElementById('pdf_template_student');
				else if (userType === 'teacher')
					element = document.getElementById('pdf_template_teacher');
				
				let opt = {
					margin:       1,
					filename:     pdfName+'.pdf',
					image:        { type: 'jpg', quality: 0.95 },
					html2canvas:  { dpi: 300, letterRendering: true, useCORS: true},
					jsPDF:        { unit: 'in', format: 'letter', orientation: 'landscape' }, 
				};
				
				let infoText = '(Completed '+this.state.level+' Levels, '+this.state.completedMissions+' Missions and achieved '+this.state.points.knowledgePoints+' Brain points, '+this.state.points.socialPoints+' Heart points and '+this.state.points.creativityPoints+' Spirit points.)';

                html2pdf()
					.set(opt)
					.from(element)
					.toPdf().get('pdf').then(function(pdf){
						pdf.setPage(1);
						pdf.setFontSize(20);
						pdf.setTextColor(0);
						var textWidth = pdf.getTextWidth(userName);
						var textHeight = 0;
						if (userType === 'student')
							textHeight = -0.1;
						pdf.text(userName, pdf.internal.pageSize.getWidth()/2 - textWidth/2, pdf.internal.pageSize.getHeight()/2 + textHeight);
						if (userType === 'student') {
							pdf.setFontSize(10);
							pdf.setTextColor(0);
							textWidth = pdf.getTextWidth(infoText);
							textHeight = 0.1;
							pdf.text(infoText, pdf.internal.pageSize.getWidth()/2 - textWidth/2, pdf.internal.pageSize.getHeight()/2 + textHeight);
						}
					})
					.save();
            },
            showHelp() {
                this.help = !this.help;
            },
            initUserGamificationData() {
                axios.get(storage_getURL("API_GATEWAY_STORAGE") + "/api-proxy/achievements/api/achievements")
                    .then(response => {
                        if (response.data != "") {
                            this.state.level = response.data.level;
                            this.state.points.knowledgePoints = response.data.knowledgePoints;
                            this.state.points.socialPoints = response.data.socialPoints;
                            this.state.points.creativityPoints = response.data.creativityPoints;
                            this.state.points.energyOrbs = response.data.energyOrbs;
                            this.state.limits.knowledge = response.data.knowledgeLimit;
                            this.state.limits.social = response.data.socialLimit;
                            this.state.limits.creativity = response.data.creativityLimit;
                            this.state.feedback = response.data.feedback;
                            this.state.goalpercent = response.data.dailyGoalPercent;
                            this.state.progress.goals = response.data.dailyGoalProgress.goals;
                            this.state.progress.reached = response.data.dailyGoalProgress.reached;

                            this.style.knowledge.width = response.data.knowledgePercent + '%';
                            this.style.social.width = response.data.socialPercent + '%';
                            this.style.creativity.width = response.data.creativityPercent + '%';

                            this.initDailyGoalPercent();
                            this.initProgress();

                        }
                    });
            },
            initLeaderboardData() {
                axios.get(storage_getURL("API_GATEWAY_STORAGE") + "/api-proxy/achievements/api/achievements/leaderboard")
                    .then(response => {
                        this.state.leaderboard.alltime = response.data.alltime;
                        this.state.leaderboard.monthly = response.data.monthly;
                        this.state.leaderboard.weekly = response.data.weekly;
                        this.state.leaderboard.daily = response.data.daily;
                    });
            },
            submitDailyGoalForm() {
                axios.post(storage_getURL("API_GATEWAY_STORAGE") + "/api-proxy/achievements/api/achievements/dailygoal/" + this.$store.currentUser.userid, this.state.dailyGoal)
                    .then(response => {
                        //swal(response.data.title, response.data.message, response.data.type);
                        this.state.dailyGoal.knowledgeGoal = "";
                        this.state.dailyGoal.socialGoal = "";
                        this.state.dailyGoal.creativityGoal = "";
                    });
            },
            initProgress() {
                var ctx = $("#myChart")[0].getContext('2d');

                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
                        datasets: [{
                            data: [this.state.progress.goals[0], this.state.progress.goals[1], this.state.progress.goals[2], this.state.progress.goals[3], this.state.progress.goals[4], this.state.progress.goals[5], this.state.progress.goals[6]],
                            //data: ["35", 80, 50, 70, 60],
                            label: "Goals",
                            borderColor: "#3e95cd",
                            fill: false
                        },
                            {
                                data: [this.state.progress.reached[0], this.state.progress.reached[1], this.state.progress.reached[2], this.state.progress.reached[3], this.state.progress.reached[4], this.state.progress.reached[5], this.state.progress.reached[6]],
                                //data: [35, 55, 75, 75],
                                label: "Reached Points",
                                borderColor: "#c45850",
                                fill: false
                            }]
                    },
                    options: {
                        elements: {
                            line: {
                                tension: 0, // disables bezier curves
                            }
                        },
                        scales: {
                            yAxes: [{
                                display: true,
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    },
                });
            },

            initDailyGoalPercent() {
                var $ppc = $j('.progress-pie-chart'),
                    percent = this.state.goalpercent,
                    deg = 360 * percent / 100;

                if (percent > 50) {
                    $ppc.addClass('gt-50');
                }
                $j('.ppc-progress-fill').css('transform', 'rotate(' + deg + 'deg)');
                $j('.ppc-percents span').html(percent + '%');
            },

            getImgUrl(level) {
                return require(`../../img/ICON-LEVEL-${level}-Badge.png`);
            },

            initStudentsProgress() {
                var courses = [];

//             	axios.get(`${getTeachersEndpoint('API_GATEWAY_STORAGE')}/${this.$store.currentUser.userid}/overAllStudents`)
                axios.get(`${storage_getURL("API_GATEWAY_STORAGE")}/api-proxy/achievements/api/achievements/${this.$store.currentUser.userid}/overAllStudents`)
                    .then(response => {

                        var m = new Map();
                        m = response.data;

                        for (var key in m) {

                            let params = $.param({ ids: m[key] });

                            axios.get(`${storage_getURL("API_GATEWAY_STORAGE")}/api-proxy/achievements/api/achievements/mission/${key}?${params}`)
                                .then((response) => {
                                    var points = response.data;
                                    axios.get(`${storage_getURL("API_GATEWAY_STORAGE")}/api-proxy/achievements/api/achievements/${key}/overAllGamificationPoints`)
                                        .then(response => {
                                            var kp = parseInt(response.data.knowledge);
                                            var sp = parseInt(response.data.social);
                                            var cp = parseInt(response.data.creativity);
                                            var total = kp + sp + cp;
                                            var percent = 100/(parseInt(total)/(parseInt(points)));

                                            this.state.studentprogress.push({
                                                coursename: "COURSENAME",
                                                points: points,
                                                total: total,
                                                style: {width: percent + '%', 'box-shadow': '-1px 10px 10px rgba(240, 173, 78,0.57)'}
                                            });
                                        });
                                });
                        }
                    });
            }
        }
    }


</script>

<style scoped>
    @import url("../../css/main.css");
    @import url("../../css/profiles.css");
    @import url("../../css/community.css");
    @import url("../../css/courses.css");
    @import url("../../css/progress.css");
    @import url("../../css/course-progress-bar.css");


</style>
