<template>
  <div class="text-center">
    <div class="card">
      <div class="card-header pl-0 pr-0 pb-0">
        <div class="float-right mt-2 mr-3">
          <div class="btn btn-circle btn-set-point">
            <img src="../../img/ICON_Newest-Answer.png" class="float-right" @click="showHelp" alt="Help" />
          </div>
        </div>
      </div>
    </div>
    <div class="card mt-3 mb-3" v-if="help">
      <div class="card-header card-header-with-border">
        <h6 class="text-left">{{ $t('activity_stream.help_title') }}</h6>
      </div>
      <div class="card-body text-left">
        <div style="white-space: pre-wrap; word-wrap: break-word; font-size: 1rem;" v-if="usertype === 'student'">{{$t('activity_stream.help_explorer_description')}}</div>
        <div style="white-space: pre-wrap; word-wrap: break-word; font-size: 1rem;" v-if="usertype === 'teacher'">{{$t('activity_stream.help_leader_description')}}</div>
        <div style="white-space: pre-wrap; word-wrap: break-word; font-size: 1rem;" v-if="usertype === 'incubator'">{{$t('activity_stream.help_incubator_description')}}</div>
        <div style="white-space: pre-wrap; word-wrap: break-word; font-size: 1rem;" v-if="usertype === 'ambassador'">{{$t('activity_stream.help_ambassador_description')}}</div>
        <!--<h6 v-else>{{$t('activity_stream.help_description')}}</h6>-->
        <br/>
        <button type="button" class="btn btn-green w-25 mb-2" @click="showHelp">OK</button>

      </div>

    </div>
    <!-- AdvancedTextarea.vue -->
    <CreateStatusUpdate v-on:created="statusUpdateCreated" category="myWall"></CreateStatusUpdate>

    <div v-if="fetched" class="card mt-3 mb-3">
      <div class="card-header card-header-without-border">
        <!-- Default state: Sort by time -->
        <span class="font-weight-bold pull-left">{{ $t('activity_stream.recent_stories') }}</span>

        <!-- If check, sort by likes and comments ect. -->
        <div class="form-group form-inline pull-right mb-0">
          <label class="select-checkbox mb-0">
            <input v-model="orderTopStories" type="checkbox" value="top-stories" />
            <span class="select-checkmark"></span>
            <span class="checkbox-label">{{ $t('activity_stream.top_stories') }}</span>
          </label>
        </div>
      </div>
    </div>

    <!-- with ids, component will fetch data itself -->

    <!-- <div v-for="id in statusUpdateIDs"> -->
    <!-- <ViewStatusUpdate :statusUpdateId="id"></ViewStatusUpdate> -->
    <!-- </div> -->

    <!-- pass object directly to component, for example after a StatusUpdate was created. -->
    <!-- The response of the POST contains the object already, so no need to fetch again. -->
    <!-- Or fetch a list of StatusUpdates and pass to component, instead of letting each component -->
    <!-- make deticated api calls -->
    <!-- :key necessary for Vue to update the DOM correctly when doing -->
    <!-- unshift to array (add element at beginning instead of push when new statusupdate created) -->

    <div class="card mt-3 mb-3" v-for="(statusupdate, index) in statusUpdateObjects" :key="statusupdate.statusUpdateId">
      <ViewStatusUpdate
        :statusUpdateId="statusupdate.statusUpdateId"
        :statusUpdateObj="statusupdate"
        v-on:deleted="statusUpdateDeleted(index)"
      >
      </ViewStatusUpdate>
    </div>
    <br />
    <br />
  </div>
</template>

<script>
//import ActivityStreamActivities from "./ActivityStreamActivities.vue";
import CreateStatusUpdate from './common/statusupdate/CreateStatusUpdate';
import ViewStatusUpdate from './common/statusupdate/ViewStatusUpdate';
import { getStatusUpdateApiUrl } from '../../js/global';
import { gamificationToast } from './common/gamificationAlertConfigs.js';
import * as EVENTS from '../../js/gamification';

export default {
  name: 'ActivityStream',
  components: {
    //"activity-stream-activities": ActivityStreamActivities,
    CreateStatusUpdate,
    ViewStatusUpdate
  },
  data: function() {
    return {
      orderTopStories: false,
      fetched: false,

      statusUpdateIDs: [],
      statusUpdateObjects: [],
        usertype: null,
        help: false
    };
  },
  mounted() {
    //this.fetchStatusUpdateIDs();

    //If cookies were not messageRequestAccepted directly, but user logs in anyway, he automatically accepts to using cookies
    if (!localStorage.getItem('cookie:messageRequestAccepted')) {
      localStorage.setItem('cookie:messageRequestAccepted', 'true');
    }

    this.showChronological();
  },
  watch: {
    orderTopStories(newVal, oldVal) {
      if (newVal === false) this.showChronological();
      else this.showRanked();
    }
  },
  methods: {
      showHelp: function() {
          this.help = !this.help;
      },
    showChronological: function() {
      var url = getActivityStreamApiUrl('API_GATEWAY_STORAGE') + '/user/chronological';
      axios.get(url).then(
        response => {
          if (!response.data) {
            return;
          }
          if (response.data[0].statusUpdateId != null && !(response.data[0].statusUpdateId === '')) {
            this.statusUpdateObjects = response.data;
            this.fetched = true;
          }
        },
        error => {
          console.log(error);
        }
      );
    },
    showRanked: function() {
      var url = getActivityStreamApiUrl('API_GATEWAY_STORAGE') + '/user/relevance';
      axios.get(url).then(
        response => {
          this.statusUpdateObjects = response.data;
          // look inside: ranked points
          // console.log(response.data)
        },
        error => {
          console.log(error);
        }
      );
    },
    statusUpdateCreated: function(statusUpdateId, statusUpdateObj) {
      this.statusUpdateObjects.unshift(statusUpdateObj);
      this.fetched = true;

      let params = $.param({
        userid: this.$store.currentUser.userid,
        eventid: EVENTS.COMMUNITY_PUBLISH_UPDATE_ONLY_TEXT
      });
      axios
        .get(storage_getURL('API_GATEWAY_STORAGE') + '/api-proxy/achievements/api/gamification?' + params)
        .then(response => {
          gamificationToast(this, response);
          this.$dailyGoalBus.$emit('points');
        });
    },
    statusUpdateDeleted: function(index) {
      this.statusUpdateObjects.splice(index, 1);

      if (this.statusUpdateObjects.length == 0) {
        this.fetched = false;
      }
      this.$forceUpdate();
    },
    fetchStatusUpdateIDs: function() {
      let userIds = [];
      // userIds.push("5b90d93dfb24ce3454829a4c");
      // userIds.push("5a156e3a394d09ca9f4f7847");

      let statusUpdateIds = [];
      // statusUpdateIds.push("5bd87050876d3c254493693b");
      // statusUpdateIds.push("5bd87063876d3c254493693c")

      let categories = [];
      categories.push('myWall');
      // statusUpdateIds.push("5bd87063876d3c254493693c")

      const userIdsParam = jQuery.param({
        userIds
      });

      const statusUpdateIdsParam = jQuery.param({
        statusUpdateIds
      });

      const categoriesParam = jQuery.param({
        categories
      });

      let searchQuery = '?onlyIds=false&order=dec' + '&offset=0&limit=0';

      if (userIdsParam.length > 0) {
        searchQuery += '&' + userIdsParam;
      }
      if (statusUpdateIdsParam.length > 0) {
        searchQuery += '&' + statusUpdateIdsParam;
      }
      if (categoriesParam.length > 0) {
        searchQuery += '&' + categoriesParam;
      }

      axios.get(getStatusUpdateApiUrl('API_GATEWAY_STORAGE') + searchQuery).then(
        response => {
          //console.log(response);
          if (response.data[0].statusUpdateId != null && !(response.data[0].statusUpdateId === '')) {
            this.statusUpdateObjects = response.data;
            this.fetched = true;
          }
          //this.statusUpdateIDs = response.data;
        },
        error => {
          console.log(error);
        }
      );
    }
  },
  created() {
      this.usertype = this.$store.currentUser.usertype;
    axios
      .get(
        `${storage_getdashboardApiUrl('API_GATEWAY_STORAGE')}/profiles/${
          this.$store.currentUser.userid
        }/friends/usernames`
      )
      .then(response => {
        this.$store.friendList = response.data;
        localStorage.setItem('friendList', JSON.stringify(response.data));
      });
  }
};
</script>

<style scoped>
@import url('../../css/main.css');
@import url('../../css/profiles.css');
@import url('../../css/community.css');
</style>
