<template>
    <!------------------------ Acitivities ---------------------------->

    <!--Post 1 with Pictures-->
    <div v-bind:id="'activity_' + activity.id" class="card mt-3">

        <!-- Activity header: user name and time stamp-->
        <div class="card-header p-0">
            <ul class="nav">
                <li class="nav-item d-flex justify-content-between">
                    <a class="btn btn-points" href="#" title="Profiles">
                        <img src="img/user.png" class="clearfix w-100" alt="avatar">
                    </a>
                    <div class="mt-3 text-left">
                        <a href="#">
                            <!-- key is the user name-->
                            <h6>{{activity.key}}</h6>
                        </a>
                        <p class="text-message">
                            <span>{{activity.timestamp | formatDate1}}</span>
                            at
                            <span>{{activity.timestamp | formatDate2}}</span>
                        </p>
                    </div>
                </li>

                <!-- ------------------Hide area--------------------------- -->
                <li v-if="activity.userId != userID" class="nav-item ml-md-auto show-on-hover mt-4 mr-4">
                    <i class="fa fa-angle-down fa-2x" data-toggle="dropdown"></i>
                    <ul class="dropdown-menu pl-3 pr-3 dropdown-dashboard" role="menu">
                        <!--When user click to hide user or hide post, a feedback should be offered-->
                        <!--Alert window: 1. "Are you sure to hide this post (User)? Then you will not see this post any more". Button ("Yes", "No")-->
                        <!--Alert window: 2. After choose "yes" or "No", show a successful state - "This post is hidden." Button ("Okay")-->

                        <!-- hide this Activity -->
                        <li @click="hideActivity(activity.id)">
                            <a href="#">Hide post</a>
                            <p class="text-message">you will never see this post any more.</p>
                        </li>

                        <!-- hide this user's activities -->
                        <li @click="hideUser(activity.userId, activity.key)">
                            <a href="#">Hide user</a>
                            <p class="text-message">you will never see posts from this user.</p>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <!-- Activity body: published test, files, images, comments -->
        <div class="card-body text-left">
            <div class="feed-content">
                <!-- text -->
                <p class="card-text">
                    {{activity.value}}
                    <a href="#" class="topic">{{activity.activityTag}}</a>
                </p>

                <!-- image -->
                <a v-if="activity.images" >
                    <img class="card-img-top img-fluid w-100" src="https://unsplash.it/700/450?image=610" alt="img">
                </a>

                <!-- file -->
                <a v-if="activity.files" class="btn btn-circle" href="#">
                    <img src="img/eport-export-pdf.png" class="clearfix" alt="file">
                    {{activity.files[0]}}
                </a>
            </div>

            <!-- Symbols: Comment, Bookmark, report, like, share-->
            <hr class="my-0">
            <!--Comment, report, save, like, share-->
            <div class="card-body py-2 small pl-0 pr-0">
                <ul class="nav">
                    <!-- Comment, Bookmark, report -->
                    <li class="nav-item d-flex justify-content-between m-0">
                        <div>
                            <!--Comment-->
                            <a class="btn btn-circle" href="#" title="Comment">
                                <img src="img/ICON_Comments.png" class="clearfix w-100" alt="comment">
                            </a>

                            <!--Bookmark-->
                            <span class="ml-1 mr-1">.</span>
                            <a class="btn btn-circle bookmark-save" href="#" title="Save to Bookmark">
                                <img src="img/ICON-E-PORTFOLIO_circle.png" class="clearfix w-100" alt="Save to Bookmark">
                            </a>

                            <!--Report-->
                            <span class="ml-1 mr-1">.</span>
                            <a class="btn btn-circle report" href="#" title="Report post">
                                <img src="img/ICON_Report.png" class="clearfix w-100" alt="Report post">
                            </a>
                        </div>
                    </li>

                    <!--Like-->
                    <li class="nav-item ml-md-auto show-on-hover mr-0">
                        <div data-toggle="dropdown">
                            <a class="btn btn-circle" href="#" title="Like">
                                <@click:"addRemoveActivityLikes(activity.id)" img src="img/ICON_Like.png" class="clearfix w-100" alt="Like">
                            </a>
                            <span>({{activity.likes.length}})</span>
                        </div>
                        <!--List of likes-->
                        <ul class="dropdown-menu p-3 dropdown-show-list" role="menu">
                            <li>
                                <a href="#" class="btn btn-circle">
                                    <img src="img/user6.png" class="clearfix w-100" alt="Avatar">
                                </a>
                                <span class="text-muted">Username liked this post.</span>
                            </li>
                            <li>
                                <a href="#" class="btn btn-circle">
                                    <img src="img/user5.png" class="clearfix w-100" alt="Avatar">
                                </a>
                                <span class="text-muted">Username liked this post.</span>
                            </li>
                            <li>
                                <a href="#" class="btn btn-circle">
                                    <img src="img/user3.png" class="clearfix w-100" alt="Avatar">
                                </a>
                                <span class="text-muted">Username liked this post.</span>
                            </li>
                        </ul>
                    </li>

                    <!--Share-->
                    <li class="nav-item show-on-hover m-0">
                        <div class="ml-3" data-toggle="dropdown">
                            <a class="btn btn-circle" href="#" title="Report post">
                                <@click:"shareActivity(activity.id)" img src="img/ICON_Share.png" class="clearfix w-100" alt="Report post">
                            </a>
                            <span>({{activity.shares.length}})</span>
                        </div>
                        <!--List of shares-->
                        <ul class="dropdown-menu p-3 dropdown-show-list" role="menu">
                            <li>
                                <a href="#" class="btn btn-circle">
                                    <img src="img/user3.png" class="clearfix w-100" alt="Avatar">
                                </a>
                                <span class="text-muted">Username shared this post.</span>
                            </li>
                            <li>
                                <a href="#" class="btn btn-circle">
                                    <img src="img/user2.png" class="clearfix w-100" alt="Avatar">
                                </a>
                                <span class="text-muted">Username shared this post.</span>
                            </li>
                            <li>
                                <a href="#" class="btn btn-circle">
                                    <img src="img/user4.png" class="clearfix w-100" alt="Avatar">
                                </a>
                                <span class="text-muted">Username shared this post.</span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <hr class="my-0">

            <!----------------------------- Comment area ------------------------>
            <!--First comment-->
            <div v-bind:id="'comment_' + comment.id" class="media mt-3">
                <a class="btn btn-avatar mr-2" href="profile-wall-bookmark-eportfolio-connection-about.html" title="Profiles">
                    <img src="img/user3.png" class="clearfix w-100" alt="avatar">
                </a>
                <div class="media-body">
                    <h6 class="mt-0 mb-1"><a href="#">John Smith</a></h6>
                    <p>Very nice! I wish I was there! That looks amazing!</p>

                    <ul class="list-inline p-1 mb-1">
                        <li class="list-inline-item">
                            <a class="btn btn-circle" href="#" title="Comment">
                                <img src="img/ICON_Comments.png" class="clearfix w-100" alt="comment">
                            </a>
                        </li>
                        <li class="list-inline-item">·</li>
                        <li class="list-inline-item">
                            <a class="btn btn-circle report" href="#" title="Report post">
                                <img src="img/ICON_Report.png" class="clearfix w-100" alt="Report post">
                            </a>
                        </li>
                        <li class="list-inline-item">·</li>
                        <li class="list-inline-item show-on-hover">
                            <div data-toggle="dropdown">
                                <a class="btn btn-circle" href="#" title="Like">
                                    <img src="img/ICON_Like.png" class="clearfix w-100" alt="Like">
                                </a>
                                <span>(2)</span>
                            </div>
                            <ul class="dropdown-menu p-3 dropdown-show-list-left" role="menu">
                                <li>
                                    <a href="#" class="btn btn-circle">
                                        <img src="img/user6.png" class="clearfix w-100" alt="Avatar">
                                    </a>
                                    <span class="text-muted">Username liked this post.</span>
                                </li>
                                <li>
                                    <a href="#" class="btn btn-circle">
                                        <img src="img/user5.png" class="clearfix w-100" alt="Avatar">
                                    </a>
                                    <span class="text-muted">Username liked this post.</span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <hr class="my-0">

                    <!--comment to comment - reply-->
                    <div class="media mt-3">
                        <a class="btn btn-avatar mr-1" href="profile-wall-bookmark-eportfolio-connection-about.html" title="Avatar">
                            <img src="img/user6.png" class="clearfix w-100" alt="avatar">
                        </a>
                        <div class="media-body">
                            <h6 class="mt-0 mb-1"><a href="#">David Miller</a></h6>
                            <p>Next time for sure!</p>

                            <ul class="list-inline p-1 mb-1">
                                <li class="list-inline-item">
                                    <a class="btn btn-circle" href="#" title="Comment">
                                        <img src="img/ICON_Comments.png" class="clearfix w-100" alt="comment">
                                    </a>
                                </li>
                                <li class="list-inline-item">·</li>
                                <li class="list-inline-item">
                                    <a class="btn btn-circle report" href="#" title="Report post">
                                        <img src="img/ICON_Report.png" class="clearfix w-100" alt="Report post">
                                    </a>
                                </li>
                                <li class="list-inline-item">·</li>
                                <li class="list-inline-item show-on-hover">
                                    <div data-toggle="dropdown">
                                        <a class="btn btn-circle" href="#" title="Like">
                                            <img src="img/ICON_Like.png" class="clearfix w-100" alt="Like">
                                        </a>
                                        <span>(1)</span>
                                    </div>
                                    <ul class="dropdown-menu p-3 dropdown-show-list-left" role="menu">
                                        <li>
                                            <a href="#" class="btn btn-circle">
                                                <img src="img/user6.png" class="clearfix w-100" alt="Avatar">
                                            </a>
                                            <span class="text-muted">Username liked this post.</span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="card-footer">
            <div class="media">
                <a class="btn btn-avatar" href="profile-wall-bookmark-eportfolio-connection-about.html" title="Profiles">
                    <img src="img/user.png" class="clearfix w-100" alt="avatar">
                </a>
                <div class="media-body ml-2">
                    <form>
                        <textarea class="form-control w-100" rows="2" placeholder="Leave a comment..."></textarea>
                        <nav class="navbar navbar-light bg-light justify-content-between">
                            <div>
                                <a class="btn btn-circle mr-0" href="#" title="Emotion">
                                    <img src="img/ICON_Add-Emotion.png" class="clearfix" alt="post">
                                </a>
                                <a class="btn btn-circle mr-0" href="#" title="Tag user">
                                    <img src="img/ICON_Add-Tag.png" class="clearfix" alt="Tag">
                                </a>
                                <a class="btn btn-circle" href="#" title="Add topic">
                                    <img src="img/ICON_Add-Topic.png" class="clearfix" alt="topic">
                                </a>
                            </div>
                            <form class="form-inline">
                                <button class="btn btn-green" type="submit">Post</button>
                            </form>
                        </nav>
                    </form>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    // dont use moment, build date yourself!
    // import moment from 'moment'

    // Vue.filter('formatDate1', function(value) {
    //   if (value) {
    //     return moment(String(value)).format('YYYY.MM.DD');
    //   }
    // });
    //
    // Vue.filter('formatDate2', function(value) {
    //   if (value) {
    //     return moment(String(value)).format('hh:mm')
    //   }
    // });
    // props: {
    //   userID: String,
    //   activity: Object
    // }

    export default {
        name: 'ActivityStreamActivities',
        components: {
        },

        data: function () {
            return {
                loading: {
                    user: false,
                    planets: { active: false, explored: false, hot: false, new: false }
                },
                messages: {
                    loading: "Loading...",
                    nouser: "No user...",
                    noactivities: "No activities...",
                    noresults: "No results..."
                },
                state: {
                    user: { id: null, name: null, type: null },
                },



            }
        },

        methods: {
            created: function() {
                this.initActivitiesData();
            },

            mounted() {


            },
        }
    }

</script>

<style scoped>
    @import "/css/courses.css";
</style>