<template>
<div class="v-autocomplete form-control">
	<input class="form-control" type="text" :name="name" :placeholder="placeholder" :disabled="disabled" autocomplete="off" v-model="search" 
	    @input="changeInput" @keyup.enter="pressEnter" @keyup.esc="pressEsc" @keyup.down="pressDown" @keyup.up="pressUp" />
	<div class="v-autocomplete-suggestions" v-show="opened">
	    <div class="v-autocomplete-loading" v-if="loading">
		    Loading...
		</div>
		<div class="v-autocomplete-suggestion" :class="{'active' : i === selected}" v-else v-for="(suggestion, i) in suggestions" :key="i" 
            @click="clickSelected(suggestion)">
			{{ suggestion }}
		</div>
	</div>
</div>
</template>

<script>
export default {
  name: "v-autocomplete",
  props: {
    name: { type: String, required: false, default: "v-autocomplete" },
    placeholder: { type: String, required: false, default: "" },
    disabled: { type: Boolean, required: false, default: false },
    source: { type: [String, Array], required: true },
    filtered: { type: Boolean, required: false, default: false }
  },
  data: function() {
    return {
      search: "",
      suggestions: [],
      opened: false,
      loading: false,
      selected: -1
    };
  },
  methods: {
    changeInput() {
      this.$emit("input", this.search);
      if (this.search.length > 0) {
        switch (true) {
          case Array.isArray(this.source):
            this.filterSuggestions();
            break;
          case typeof this.source === "string":
            this.requestSuggestions();
            break;
        }
        this.open();
      } else {
        this.clear();
        this.close();
      }
    },
    pressEnter() {
      if (this.opened) {
        if (this.selected > -1) this.search = this.suggestions[this.selected];
        this.$emit("input", this.search);
        this.clear();
        this.close();
      }
    },
    pressEsc() {
      if (this.opened) this.close();
    },
    pressUp() {
      if (this.opened) {
        if (this.selected === -1) this.selected = this.suggestions.length - 1;
        else this.selected = this.selected - 1;
      } else {
        if (this.suggestions.length > 0) this.open();
      }
    },
    pressDown() {
      if (this.opened) {
        if (this.selected === this.suggestions.length - 1) this.selected = -1;
        else this.selected = this.selected + 1;
      } else {
        if (this.suggestions.length > 0) this.open();
      }
    },
    clickOutside(event) {
      if (!this.$el.contains(event.target)) this.close();
    },
    clickSelected(suggestion) {
      this.search = suggestion;
      this.$emit("input", this.search);
      this.clear();
      this.close();
    },
    filterSuggestions() {
      this.suggestions = this.source.filter(item => {
        return item.toLowerCase().indexOf(this.search.toLowerCase()) > -1;
      });
    },
    requestSuggestions() {
      this.loading = true;
      if (this.filtered) {
        axios
          .get(
            storage_getURL("API_GATEWAY_STORAGE") +
              this.source +
              this.search.toLowerCase().replace(" ", "+")
          )
          .then(response => {
            this.suggestions = Object.assign([], response.data);
          })
          .catch(error => {
            console.log(error);
          });
      } else {
        axios
          .get(storage_getURL("API_GATEWAY_STORAGE") + this.source)
          .then(response => {
            this.suggestions = Object.assign([], response.data).filter(
              item => item.toLowerCase().indexOf(this.search.toLowerCase()) > -1
            );
          })
          .catch(error => {
            console.log(error);
          });
      }
      this.loading = false;
    },
    open() {
      this.opened = true;
    },
    clear() {
      this.suggestions = [];
      this.selected = -1;
    },
    close() {
      this.opened = false;
    }
  },
  mounted: function() {
    document.addEventListener("click", this.clickOutside);
  },
  destroyed: function() {
    document.removeEventListener("click", this.clickOutside);
  }
};
</script>

<style scoped>
.v-autocomplete {
  position: relative;
  display: inline-block;
  text-align: left;
  padding: 0;
}
.v-autocomplete-suggestions {
  border: 1px solid #d4d4d4;
  position: absolute;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}
.v-autocomplete-loading {
  padding: 2px 10px;
  cursor: pointer;
  background-color: #808080;
}
.v-autocomplete-suggestion {
  padding: 2px 10px;
  background-color: #ffffff;
}
.v-autocomplete-suggestion.active,
.v-autocomplete-suggestion:hover {
  background-color: #e9e9e9;
}
</style>
