<template>
    <div>
        <!-- ########### -->
        <!-- Tab-Topics-->
        <!-- ########### -->

        <div class="card-header pl-0 pr-0 pb-0">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item"><a aria-selected="true" class="nav-link-s active" data-controls="label-achivement"
                                        data-toggle="tab" href="#label-achievement" id="label-achievement-tab"
                                        role="tab"><h5>{{ $t('badges.achievement') }}</h5></a></li>
                <li class="nav-item"><a aria-selected="false" class="nav-link-s" data-controls="label-guidline"
                                        data-toggle="tab" href="#label-guideline" id="label-guidline-tab" role="tab">
                    <h5>{{ $t('badges.guideline') }}</h5></a></li>
            </ul>
            <div class="float-right mt-2 mr-3" v-if="usertype !== 'student'">
                <div class="btn btn-circle btn-set-point">
                    <img src="../../img/ICON_Newest-Answer.png" class="float-right" @click="showHelp" alt="Help" />
                </div>
            </div>
        </div>
        <!-- ########### -->
        <!-- Tab-Content -->
        <!-- ########### -->

            <div class="tab-content mt-3">
                <div class="card mt-3 mb-3" v-if="help">
                    <div class="card-header card-header-with-border">
                        <h6 class="text-left">{{$t('badges.help_title')}}</h6>
                    </div>
                    <div class="card-body text-left">
                        <div style="white-space: pre-wrap; word-wrap: break-word; font-size: 1rem;" v-if="usertype === 'student'">{{$t('badges.help_explorer_description')}}</div>
                        <div style="white-space: pre-wrap; word-wrap: break-word; font-size: 1rem;" v-if="usertype === 'teacher'">{{$t('badges.help_leader_description')}}</div>
                        <div style="white-space: pre-wrap; word-wrap: break-word; font-size: 1rem;" v-if="usertype === 'incubator'">{{$t('badges.help_incubator_description')}}</div>
                        <div style="white-space: pre-wrap; word-wrap: break-word; font-size: 1rem;" v-if="usertype === 'ambassador'">{{$t('badges.help_ambassador_description')}}</div>
                        <br/>
                        <button type="button" class="btn btn-green w-25 mb-2" @click="showHelp">OK</button>
                    </div>
                </div>
                <!--Achievement-Page -->

                <div aria-labelledby="label-achievement-tab" class="tab-pane fade show active"
                     id="label-achievement"
                     role="tabpanel"> <!-- Panel des Achievements -->
                    <!--Current State Card -->
                    <div id="accordion">

                    <div class="card mt-3">
                        <div class="card-header card-header-with-border">
                            <h6 class="text-left">{{ $t('badges.state_current') }}</h6>
                        </div>
                        <div class="card-body p-5">
                            <div>
                                <a class="btn btn-badges mb-2" href="#" title="$t('badges.title_check_rule')">
                                    <img
                                            :id="this.state.badge"
                                            :src=getPicture(this.state.badge) :alt="$t('badges.alt_mission_add')"
                                            class="clearfix w-100"> </a>
                                <h5>{{ $t('badges.school') }}{{this.state.username}}</h5>
                                <p class="mt-2 mb-2">{{getLabelName(this.state.badge)}}{{
                                    $t('badges.this_state_badge_label') }}</p>
                            </div>

                            <!--Once user click "check last badge", the last badge state and its progressing will be shown-->

                            <button class="btn btn-outline-orange" type="button" data-toggle="collapse"
                                    data-target="#lastBadge"
                                    v-if="state.badge != 0 && state.badge != 1">
                                {{ $t('badges.check_badge') }}
                            </button>

                            <!--Once user click "Current badge", the current badge will be shown... -->

                            <button class="btn btn-outline-info" type="button" data-toggle="collapse"
                                    data-target="#currentBadge"
                                    v-if="state.badge!=0">
                                {{$t('badges.check_badge1')}}
                            </button>

                            <!--Once user click "check next badge", the next badge state and its progressing will be shown-->
                            <button class="btn btn-outline-green" type="button" data-toggle="collapse"
                                    data-target="#nextBadge"
                                    v-if="state.badge!=4">
                                {{$t('badges.check_badge2') }}
                            </button>
                        </div>
                    </div>



                <!--check CurrentBadge-->

                <div class="card-body p-5">


                        <div id="currentBadge" class="collapse show" data-parent="#accordion">
                            <div v-if="state.badge!=0">
                                <div class="card mt-3">

                                <div class="card-header card-header-with-border">
                                    <h6 class="text-left">{{ $t('badges.progressing_current') }}</h6>
                                </div>
                                <div class="card-body">
                                    <h6 class="mt-4">{{ $t('badges.labelling_one') }}</h6>
                                    <LabelHandler :badgeparameter="this.state.badge"
                                                  :current-school-data="this.state.schoolData"
                                                  showProgressToNext="true"
                                                  :school-requirement="this.state.schoolRequirement"/>
                                </div>
                                <div class="card">
                                    <LabelHandler :badgeparameter="this.state.badge"
                                                  :current-school-data="this.state.schoolData"
                                                  show-data1="true"
                                                  :school-requirement="this.state.schoolRequirement"/>
                                </div>
                            </div>
                        </div>
                    </div>



                        <!--check NextBadge -->


                        <div id="nextBadge" class="collapse" data-parent="#accordion">
                            <div v-if="state.badge !=4">
                                <div class="card mt-3">


                                    <div class="card-header card-header-with-border">
                                        <h6 class="text-left">{{ $t('badges.progressing_next') }}</h6>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="mt-4">{{ $t('badges.labelling_one2') }}</h6>
                                        <LabelHandler :badgeparameter="this.state.badge+1"
                                                      :current-school-data="this.state.schoolData"
                                                      showProgressToNext="true"
                                                      :school-requirement="this.state.schoolRequirement"/>
                                    </div>
                                    <div class="card">
                                        <LabelHandler :badgeparameter="this.state.badge+1"
                                                      :current-school-data="this.state.schoolData"
                                                      show-data1="true"
                                                      :school-requirement="this.state.schoolRequirement"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--check LastBadge-->

                        <div id="lastBadge" class="collapse" data-parent="#accordion">
                            <div class="card mt-3">
                                <div v-if="state.badge != 0 && state.badge != 1">


                                    <div class="card-header card-header-with-border">
                                        <h6 class="text-left">{{ $t('badges.progressing_last') }}</h6>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="mt-4">{{ $t('badges.label_completed') }}</h6>
                                        <LabelHandler :badgeparameter="this.state.badge-1"
                                                      :current-school-data="this.state.schoolData"
                                                      showProgressToNext="true"
                                                      :school-requirement="this.state.schoolRequirement"/>
                                    </div>
                                    <div class="card">>
                                        <LabelHandler :badgeparameter="this.state.badge-1"
                                                      :current-school-data="this.state.schoolData"
                                                      show-data1="true"
                                                      :school-requirement="this.state.schoolRequirement"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>


                <div aria-labelledby="label-achievement-tab" class="tab-pane fade" id="label-guideline" role="tabpanel">
                    <!--Label System Card -->
                    <div class="card mt-3">
                        <div class="card-header card-header-with-border">
                            <h6 class="text-left">{{ $t('badges.label_system') }}</h6>
                        </div>
                        <div class="card-body text-left">
                            <img alt="ls" class="clearfix w-100" src="../../img/LS.png">
                            <h6 class="mt-3">{{ $t('badges.rules_introductions_informations_label') }}</h6>
                            <ul class="mt-3">
                                <li><p>{{ $t('badges.label_upgrade') }}</p></li>
                                <li><span class="font-weight-bold">{{ $t('badges.label_blue') }}</span> <span>{{ $t('badges.information_label') }}</span>
                                </li>
                                <li><span class="font-weight-bold">{{ $t('badges.silver_label') }}</span> <span>{{ $t('badges.information_label2') }}</span>
                                </li>
                                <li><span class="font-weight-bold">{{ $t('badges.gold_label') }}</span> <span>{{ $t('badges.information_label3') }}</span>
                                </li>
                                <li><span class="font-weight-bold">{{ $t('badges.dim&label') }}</span> <span>{{ $t('badges.information_label4') }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--Guidelines for Blue Label Card -->
                    <div class="card mt-3">
                        <div class="card-header card-header-with-border">
                            <h6 class="text-left">{{ $t('badges.guidlines_label') }}</h6>
                        </div>
                        <div class="card-body text-left">
                            <div class="row">
                                <div class="col-2">
                                    <a class="btn btn-badges"> <img alt="labelBluePicture" class="w-100"
                                                                    src="../../img/Blue_Label.png">
                                    </a>
                                </div>
                                <div class="col-10">
                                    <h6>{{ $t('badges.profits_label') }}</h6>
                                    <ul class="mb-4">
                                        <li><p>{{ $t('badges.user_label') }}</p></li>
                                        <li><p>{{ $t('badges.user_label2') }}</p></li>
                                        <li><p>{{ $t('badges.user_label3') }}</p></li>
                                        <li><p>{{ $t('badges.user_label4') }}</p></li>
                                    </ul>
                                </div>
                            </div>
                            <h6>{{ $t('badges.label_get') }}</h6>
                            <div class="card">
                                <!-- show Table with description information -->
                                <LabelHandler :current-school-data="this.state.schoolData"
                                              badgeparameter="1"
                                              show-data2="true"
                                              :school-requirement="this.state.schoolRequirement"/>
                            </div>
                        </div>
                    </div>
                    <!--Guidelines for Silver Label Card -->
                    <div class="card mt-3">
                        <div class="card-header card-header-with-border">
                            <h6 class="text-left">{{ $t('badges.guidlines_silver') }}</h6>
                        </div>
                        <div class="card-body text-left">
                            <div class="row">
                                <div class="col-2">
                                    <a class="btn btn-badges"> <img alt="labelSilverPicture" class="w-100"
                                                                    src="../../img/Silver_Label.png">
                                    </a>
                                </div>
                                <div class="col-10">
                                    <h6>{{ $t('badges.profits_silver') }}</h6>
                                    <ul class="mb-4">
                                        <li><p>{{ $t('badges.user_silver') }}</p></li>
                                        <li><p>{{ $t('badges.user_silver1') }}</p></li>
                                        <li><p>{{ $t('badges.user_silver2') }}</p></li>
                                        <li><p>{{ $t('badges.user_silver3') }}</p></li>
                                    </ul>
                                </div>
                            </div>
                            <h6>{{ $t('badges.silver_label2') }}</h6>
                            <div class="card">
                                <!-- show Table with description information -->
                                <LabelHandler :current-school-data="this.state.schoolData"
                                              badgeparameter="2"
                                              show-data2="true"
                                              :school-requirement="this.state.schoolRequirement"/>
                            </div>
                        </div>
                    </div>
                    <!--Guidelines for Gold Label Card -->
                    <div class="card mt-3">
                        <div class="card-header card-header-with-border">
                            <h6 class="text-left">{{ $t('badges.guidlines_gold') }}</h6>
                        </div>
                        <div class="card-body text-left">
                            <div class="row">
                                <div class="col-2">
                                    <a class="btn btn-badges"> <img alt="labelGoldPicture" class="w-100"
                                                                    src="../../img/Gold_Label.png">
                                    </a>
                                </div>
                                <div class="col-10">
                                    <h6>{{ $t('badges.profits_gold') }}</h6>
                                    <ul class="mb-4">
                                        <li><p>{{ $t('badges.user_gold') }}</p></li>
                                        <li><p>{{ $t('badges.user_gold1') }}</p></li>
                                        <li><p>{{ $t('badges.user_gold3') }}</p></li>
                                        <li><p>{{ $t('badges.user_gold2') }}</p></li>
                                    </ul>
                                </div>
                            </div>
                            <h6>{{ $t('badges.gold_label2') }}</h6>
                            <div class="card">
                                <!-- show Table with description information -->
                                <LabelHandler :current-school-data="this.state.schoolData"
                                              badgeparameter="3"
                                              show-data2="true"
                                              :school-requirement="this.state.schoolRequirement"/>
                            </div>
                        </div>
                    </div>
                    <!--Guidelines for Diamond Label Card -->
                    <div class="card mt-3">
                        <div class="card-header card-header-with-border">
                            <h6 class="text-left">{{ $t('badges.guidlines_diamond') }}</h6>
                        </div>
                        <div class="card-body text-left">
                            <div class="row">
                                <div class="col-2">
                                    <a class="btn btn-badges"> <img alt="$t('badges.alt_label2')" class="w-100"
                                                                    src="../../img/Diamond_Label.png">
                                    </a>
                                </div>
                                <div class="col-10">
                                    <h6>{{ $t('badges.profits_diamond') }}</h6>
                                    <ul class="mb-4">
                                        <li><p>{{ $t('badges.user_diamond') }}</p></li>
                                        <li><p>{{ $t('badges.user_diamond1') }}</p></li>
                                        <li><p>{{ $t('badges.user_diamond2') }}</p></li>
                                        <li><p>{{ $t('badges.user_diamond3') }}</p></li>
                                    </ul>
                                </div>
                            </div>
                            <h6>{{ $t('badges.diamond_label') }}</h6>
                            <div class="card">
                                <!-- show Table with description information -->
                                <LabelHandler :current-school-data="this.state.schoolData"
                                              badgeparameter="4"
                                              show-data2="true"
                                              :schoolRequirement="this.state.schoolRequirement"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>


</template>

<script>
    import {storage_getURL} from '../../js/global.js'
    import LabelHandler from './label/LabelHandler';


    export default {
        name: 'Badges',
        components: {
            LabelHandler
        },
        props: [
            'schoolId'
        ],
        data: function () {
            return {
                state: {
                    badge: -1,
                    progress: 0.0,
                    schoolid: 0,
                    schoolData: {},
                    schoolRequirement: {},
                    username: "bob ross",
                },
                "usertype": null,
                "help": false
            }
        },

        created: function () {
            this.usertype = this.$store.currentUser.usertype;
            axios.get(storage_getURL('API_GATEWAY_STORAGE') + '/api-proxy/badges/api/v1/badges/' + this.schoolId)//+ this.$store.currentUser.userid)
                .then((response) => {
                    //console.log(response.data.progress);
                    this.state.schoolRequirement = {
                        listMinBlue: response.data.currentSchoolData.listMinBlue,
                        listMinSilver: response.data.currentSchoolData.listMinSilver,
                        listMinGold: response.data.currentSchoolData.listMinGold,
                        listMinDiamond: response.data.currentSchoolData.listMinDiamond,
                    };

                    this.state.schoolData = {
                        listBlue: response.data.currentSchoolData.listBlue,
                        listSilver: response.data.currentSchoolData.listSilver,
                        listGold: response.data.currentSchoolData.listGold,
                        listDiamond: response.data.currentSchoolData.listDiamond,
                    };

                    $.each(this.state.schoolRequirement.listMinBlue, (key, value) => {
                        if (this.state.schoolData.listBlue[key] > value) {
                            this.state.schoolData.listBlue[key] = value;
                        }
                    });
                    $.each(this.state.schoolRequirement.listMinSilver, (key, value) => {
                        if (this.state.schoolData.listSilver[key] > value) {
                            this.state.schoolData.listSilver[key] = value;
                        }
                    });
                    $.each(this.state.schoolRequirement.listMinGold, (key, value) => {
                        if (this.state.schoolData.listGold[key] > value) {
                            this.state.schoolData.listGold[key] = value;
                        }
                    });
                    $.each(this.state.schoolRequirement.listMinDiamond, (key, value) => {
                        if (this.state.schoolData.listDiamond[key] > value) {
                            this.state.schoolData.listDiamond[key] = value;
                        }
                    });

                    this.state.badge = response.data.badge;
                    this.state.schoolid = response.data.schoolid;
                    this.state.username = response.data.username;
                    this.state.progress = response.data.progress;

                    console.log("created");

                });
        },

        watch: {
            currentSchoolData: function (newVal) {
                this.state.currentSchoolData = newVal;
            },
            schoolRequirement: function (newVal) {
                this.state.schoolRequirement = newVal;
            }
        },
        methods: {
            showHelp() {
                this.help = !this.help;
            },
            getPicture: function (picNumber) {
                if (picNumber == 0) {
                    return "http://placehold.it/140x140/fff/000/badge0.png?text=O";
                }
                if (picNumber == 1) {
                    return require('../../img/Blue_Label.png');
                }
                if (picNumber == 2) {
                    return require('../../img/Silver_Label.png');
                }
                if (picNumber == 3) {
                    return require('../../img/Gold_Label.png');
                }
                if (picNumber == 4) {
                    return require('../../img/Diamond_Label.png');
                }
                if (picNumber == 5) {
                    return "../../img/ICON_E-portfolio_About_1_blue.png";
                }
                if (picNumber == 6) {
                    return "../../img/ICON_E-portfolio_About_1_blue.png";
                }
                if (picNumber == 7) {
                    return "../../img/ICON_E-portfolio_About_1_blue.png";
                }
                if (picNumber == 8) {
                    return "./../../img/ICON_E-portfolio_About_1_blue.png";
                }
                return "";
            },
            getLabelName(labelLevel) {

                if (labelLevel == 0) {
                    return "No";
                }
                if (labelLevel == 1) {
                    return "Blue";
                }
                if (labelLevel == 2) {
                    return "Silver";
                }
                if (labelLevel == 3) {
                    return "Gold";
                }
                if (labelLevel == 4) {
                    return "Diamond";
                }
                return "";
            }
        }
    }

    //Event-methods
    /*
        $(document).on('click', 'a[href^="#"]', function (event) {
            event.preventDefault();

            $('html, body').animate({
                scrollTop: $($.attr(this, 'href')).offset().top - 75
            }, 1000);
        });
    */
</script>

<style scoped>
    @import url("../../css/course-progress-bar.css");
    @import url("../../css/main.css");
    @import url("../../css/profiles.css");
    @import url("../../css/community.css");
    @import url("../../css/courses.css");
    @import url("../../css/progress.css");
    @import url("../../css/course-progress-bar.css");
</style>

