
<template>
    <div>
        <div class="card mt-3">
            <div class="card-header card-header-with-border">
                <h5 class="text-left">
                    Contact Request
                </h5>
            </div>



            <div class="card-body text-left">
                <div class="form-group">
                    <h6 class="text-left" for="Select">
                        Select Request
                    </h6>
                    <select v-model="state.messageRequest.messageRequest" id="Select" class="form-control">
                        <option>Voice Chat Meeting</option>
                        <option>Video Chat Meeting</option>
                        <option>Personal Meeting</option>
                        <option>Visit</option>
                        <option>Badge Sponsorship</option>

                    </select>


                </div>
                <div v-if="state.messageRequest.messageRequest != 'Badge Sponsorship' && state.messageRequest.messageRequest != '' ">
                    <input v-model="state.messageRequest.date" id="time" type="datetime-local" name="requestdate" value="2017-06-01T08:30">

                </div>



                <br><br>



                <div class="form-group" >
                    <h6 class="text-left">
                        Advanced Details
                    </h6>
                    <textarea v-model="state.messageRequest.text" class="form-control" rows="3"></textarea>
                </div>

                <button @click="submitrequest()" type="submit" class="btn btn-default">Submit Button</button>

            </div>
        </div>

        <span> TEST: {{ state.messageRequest }}</span>
    </div>



</template>


<script>
    export default {
        name: 'Chat',
        components: {},
        data: function () {
            return {
                state: {
                    messageRequest: {
                        "messageRequest": "",
                        "date": "",
                        "text": "",
                        "userinfo":""
                    },
                    friends: {},
                    test: {}
                },
            }
        },
        created() {

            axios.get("http://localhost:8080/platform-microservice-api-gateway-storage/api-proxy/chat/api/chat/friends-list")
                .then(response => {
                    this.state.friends = response;
                    this.state.test = "";
                })
                .catch(error => {
                    console.log(error);
                    this.state.friends = error;
                });


        },
        methods: {
            submitrequest(){
            }

        }
    }

</script>
