﻿<template>
  <div>
    <!--The middle Contents -->
    <div>
      <!--Cover and basic information-->
      <div class="card">
        <div class="card-header">
          <div class="row">
            <!--Mission Cover Image-->
            <div class="col-4">
              <div class="mission-cover">
                <a class="btn btn-rect-lg">
                  <img
                    class="clearfix"
                    src="../../img/Platform_homepage-BG-01.png"
                    alt="avatar"
                    v-if="state.communityPhoto == null"
                  />
                  <img
                    class="clearfix"
                    v-bind:src="state.communityPhoto"
                    style="width: 239px; height: 210px"
                    alt="avatar"
                    v-else
                  />
                </a>
                <div class="cover-card">
                  <a v-if="state.memberType == 'creator'" @click="choosePhoto()" title="Upload Photos">
                    <img src="../../img/ICON_Add-Picture.png" class="w-50" alt="add" title="add" />
                  </a>
                </div>
                <input type="file" id="commPhoto" style="visibility:hidden" @change="editPhoto" />
              </div>
            </div>
            <div class="col-8 text-left">
              <a
                v-if="state.memberType == 'creator'"
                class="btn btn-circle btn-set-point"
                data-toggle="modal"
                data-target="#modal-edit-comm"
                title="Edit community name and keywords"
              >
                <img src="../../img/BTN-Edit-circle.png" class="clearfix" alt="Edit" />
              </a>
              <a
                v-if="state.memberType == 'creator'"
                @click.prevent="showDeleteAlert"
                class="btn btn-circle btn-set-point"
                title="Delete Community"
              >
                <img src="../../img/ICON_Delete-Post.png" class="clearfix" alt="Delete" />
              </a>

              <div class="cover-detail mt-4">
                <h3>
                  {{ state.communityName }}
                </h3>
                <span class="ml-1 text-muted"
                  >{{ $t('community.created_by') }}
                  <a v-bind:href="'/profiles/' + state.creatorID">{{ state.creatorName }}</a></span
                >

                <div v-if="state.courseID == null" class="mt-2">
                  <!--Public or private mission-->
                  <a class="btn btn-circle">
                    <img
                      v-if="state.privacy == 'PUBLIC'"
                      src="../../img/ICON_Privacy-Public.png"
                      class="clearfix"
                      alt="privacy"
                    />
                    <img
                      v-else-if="state.privacy == 'PRIVATE'"
                      src="../../img/ICON_Privacy-Private.png"
                      class="clearfix"
                      alt="privacy"
                    />
                    <img v-else src="../../img/ICON_Privacy-Secret.png" class="clearfix" alt="privacy" />
                  </a>
                  {{ state.privacy }}
                </div>
                <div v-else class="mt-2">
                  <!--Public or private mission-->
                  <a class="btn btn-circle">
                    <img
                      v-if="state.privacy == 'PUBLIC'"
                      src="../../img/ICON_Privacy-Public.png"
                      class="clearfix"
                      alt="privacy"
                    />
                    <img
                      v-else-if="state.privacy == 'PRIVATE'"
                      src="../../img/ICON_Privacy-Private.png"
                      class="clearfix"
                      alt="privacy"
                    />
                    <img v-else src="../../img/ICON_Privacy-Secret.png" class="clearfix" alt="privacy" />
                  </a>
                  {{ state.privacy }}
                  <span>|</span>
                  <span class="comm-creater"
                    >{{ $t('community.connected') }}
                    <a v-bind:href="'/missions/' + state.courseID + '/overview'">{{ state.courseName }}</a></span
                  >
                </div>
                <div class="missions-keywords mt-2">
                  <a v-for="keyword in state.keywords" v-bind:href="'#' + keyword">#{{ keyword }}</a>
                </div>
              </div>
              <div class="clearfix"></div>
              <br />
            </div>
          </div>
        </div>
      </div>

      <div v-if="!showTab()" class="card mt-3">
        <div class="card-header card-header-with-border">
          <h6 class="text-left">
            This is a private Community. To see the content you need to join!
          </h6>
        </div>
      </div>

      <!--Sub tabs-->
      <div v-if="showTab()" class="card mt-3">
        <div class="card-header pl-0 pr-0 pb-0">
          <ul class="nav nav-tabs nav-fill" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link-s active"
                id="comm-discussion-tab"
                data-toggle="tab"
                href="#comm-discussion"
                role="tab"
                data-controls="comm-discussion"
                aria-selected="false"
              >
                <h6>{{ $t('community.discussion') }}</h6>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link-s"
                id="comm-member-tab"
                data-toggle="tab"
                href="#comm-member"
                role="tab"
                data-controls="comm-member"
                aria-selected="false"
              >
                <h6>{{ $t('community.members') }}</h6>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link-s"
                id="comm-desc-tab"
                data-toggle="tab"
                href="#comm-desc"
                role="tab"
                data-controls="comm-desc"
                aria-selected="false"
              >
                <h6>{{ $t('community.description') }}</h6>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div v-if="showTab()" class="tab-content mt-3">
        <!-- Tab of Discussions -->
        <div
          class="tab-pane fade show active"
          id="comm-discussion"
          role="tabpanel"
          aria-labelledby="comm-discussion-tab"
        >
          <CreateStatusUpdate v-on:created="statusUpdateCreated" category="community"></CreateStatusUpdate>

          <div v-for="(statusupdate, index) in state.statusUpdateObjects" :key="statusupdate.statusUpdateId">
            <ViewStatusUpdate
              :moderators="state.moderators_ids"
              :statusUpdateId="statusupdate.statusUpdateId"
              :statusUpdateObj="statusupdate"
              v-on:deleted="statusUpdateDeleted(index)"
            ></ViewStatusUpdate>
          </div>
        </div>

        <!-- Tab of members -->
        <div class="tab-pane fade" id="comm-member" role="tabpanel" aria-labelledby="comm-member-tab">
          <div class="card mt-3">
            <div class="card-header card-header-with-border">
              <h6 class="text-left">
                {{ $t('community.moderator') }}
                <a
                  v-if="state.memberType == 'creator' || state.memberType == 'mod'"
                  class="btn btn-circle btn-set-point"
                  data-toggle="modal"
                  data-target="#modal-manage-members"
                  title="Manage Members"
                >
                  <img src="../../img/BTN-Edit-circle.png" class="clearfix" alt="edit" />
                </a>
              </h6>
            </div>
            <div class="card-body text-left">
              <ul class="network-list network-search-list mt-4 text-left">
                <li v-for="mod in modUserList" class="transition teachers-list">
                  <div class="wrapper">
                    <span class="transition">
                     <img
                        class="transition"
                        src="../../img/user.png"
                        style="height: 86px; width: 86px"
                        v-if="mod.avatarImageId == null"
                      />
                      <img
                        :alt="$t('profiles_network.alt_setting')"
                        class="transition"
                        style="border-radius: 50%; height: 84px; width: 84px"
                        v-bind:id="'image-' + mod.avatarImageId"
                        v-else
                      />

                      <h4 class="transition">Contact me</h4>
                    </span>

                    <h6 class="transition">
                      <a v-bind:href="'/profiles/' + mod.userid">
                        {{ mod.username }}
                      </a>
                      <em>
                        <a class="btn btn-circle">
                          <img src="../../img/ICON-LEVEL-4-Badge.png" class="clearfix w-100" />
                        </a>
                        Explorer
                        <!-- 													{{mod.usertype}} -->
                      </em>
                      <button
                        class="btn btn-sm btn-orange mt-2 w-75"
                        type="button"
                        @click="addFriend(mod)"
                        v-if="mod.usertype === $store.currentUser.usertype && !mod.alreadyConnected"
                      >
                        {{ $t('profiles_network.friend_add') }}
                      </button>
                      <button
                        class="btn btn-sm btn-orange mt-2 w-75"
                        type="button"
                        @click="followUser(mod)"
                        v-else-if="mod.usertype === $store.currentUser.usertype && !mod.alreadyConnected"
                      >
                        {{ $t('profiles_network.follow') }}
                      </button>
                      <router-link to="../../chat" tag="button" class="btn btn-sm btn-green mt-2 w-75">
                        {{ $t('profiles_network.message_send') }}</router-link
                      >
					</h6>
                    <div class="trigger"></div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="card mt-3">
            <div class="card-header card-header-with-border">
              <h6 class="text-left">
                {{ $t('community.members') }}
                <a
                  href="#"
                  class="btn btn-circle btn-set-point"
                  data-toggle="modal"
                  data-target="#modal-add-members"
                  title="Invite Users"
                >
                  <img src="../../img/BTN-Add-circle.png" class="clearfix" alt="edit" />
                </a>
              </h6>
            </div>
            <div class="card-body text-left">
            <ul class="network-list network-search-list mt-4 text-left">
          <li v-for="profile in friendList" class="mb-2">
            <UserCard class="transition" :profile="profile">
              <div slot="visibleButtonList">
                <button
                  @click="handleRemoveFriendClicked(state.profile.userid, profile.userid)"
                  class="btn btn-sm btn-orange mt-2 w-75"
                  type="button"
                >
                  {{ $t('profiles_network.remove_friend') }}
                </button>
              </div>
            </UserCard>
          </li>
          <li v-for="profile in followingList" class="mb-2">
            <UserCard class="transition" :profile="profile">
              <div slot="visibleButtonList">
                <button
                  v-if="showAddFriendButton(profile)"
                  @click="handleAddFriendClicked(state.profile.userid, profile.userid)"
                  class="btn btn-sm btn-orange mt-2 w-75"
                  type="button"
                >
                  {{ $t('profiles_network.friend_add') }}
                </button>
                <button
                  v-if="isFriend(profile)"
                  @click="handleRemoveFriendClicked(state.profile.userid, profile.userid)"
                  class="btn btn-sm btn-orange mt-2 w-75"
                  type="button"
                >
                  {{ $t('profiles_network.remove_friend') }}
                </button>
                <button
                  v-if="isFriendRequestSent(state.profile, profile)"
                  class="btn btn-sm btn-orange btn-text-overflow mt-2 w-75"
                  type="button"
                  disabled="true"
                  :title="$t('profiles_network.request_sent')"
                >
                  {{ $t('profiles_network.request_sent') }}
                </button>
                <button
                  @click="handleUnFollowClicked(state.profile.userid, profile.userid)"
                  class="btn btn-sm btn-orange mt-2 w-75"
                  type="button"
                >
                  {{ $t('profiles_network.remove_following') }}
                </button>
              </div>
            </UserCard>
          </li>
          <li v-for="profile in unrelatedList" class="mb-2">
            <UserCard class="transition" :profile="profile">
              <div slot="visibleButtonList">
                <button
                  v-if="showAddFriendButton(profile)"
                  @click="handleAddFriendClicked(state.profile.userid, profile.userid)"
                  class="btn btn-sm btn-orange mt-2 w-75"
                  type="button"
                >
                  {{ $t('profiles_network.friend_add') }}
                </button>
                <button
                  v-if="isFriendRequestSent(state.profile, profile)"
                  class="btn btn-sm btn-orange btn-text-overflow mt-2 w-75"
                  type="button"
                  disabled="true"
                  :title="$t('profiles_network.request_sent')"
                >
                  {{ $t('profiles_network.request_sent') }}
                </button>
                <button
                  v-if="isFriend(profile)"
                  @click="handleRemoveFriendClicked(state.profile.userid, profile.userid)"
                  class="btn btn-sm btn-orange mt-2 w-75"
                  type="button"
                >
                  {{ $t('profiles_network.remove_friend') }}
                </button>
                <button
                  v-if="showFollowButton(profile)"
                  @click="handleFollowClicked(state.profile.userid, profile.userid)"
                  class="btn btn-sm btn-orange mt-2 w-75"
                  type="button"
                >
                  {{ $t('profiles_network.follow') }}
                </button>
                <button
                  v-else
                  @click="handleUnFollowClicked(state.profile.userid, profile.userid)"
                  class="btn btn-sm btn-orange mt-2 w-75"
                  type="button"
                >
                  {{ $t('profiles_network.remove_following') }}
                </button>
              </div>
            </UserCard>
          </li>
        </ul>
<!--               <ul class="network-list network-search-list mt-4 text-left"> -->
<!--                 <li v-for="member in memUserList" class="transition teachers-list"> -->
<!--                   <div class="wrapper"> -->
<!--                     <span class="transition"> -->
<!--                       <img -->
<!--                         class="transition" -->
<!--                         src="../../img/user.png" -->
<!--                         style="height: 86px; width: 86px" -->
<!--                         v-if="member.avatarImageId == null" -->
<!--                       /> -->
<!--                       <img -->
<!--                         :alt="$t('profiles_network.alt_setting')" -->
<!--                         class="transition" -->
<!--                         style="border-radius: 50%; height: 84px; width: 84px" -->
<!--                         v-bind:id="'image-' + member.avatarImageId" -->
<!--                         v-else -->
<!--                       /> -->
<!--                     </span> -->
<!--                     <h6 class="transition"> -->
<!--                       <a v-bind:href="'/profiles/' + member.username"> -->
<!--                         {{ member.username }} -->
<!--                       </a> -->
<!--                       <em> -->
<!--                         <a class="btn btn-circle"> -->
<!--                           <img src="../../img/ICON-LEVEL-4-Badge.png" class="clearfix w-100" /> -->
<!--                         </a> -->
<!--                         Explorer -->
<!--                         {{member.usertype}} -->
<!--                       </em> -->
<!--                       <button -->
<!--                         class="btn btn-sm btn-orange mt-2 w-75" -->
<!--                         type="button" -->
<!--                         @click="addFriend(member)" -->
<!--                         v-if="member.usertype === $store.currentUser.usertype && !member.alreadyConnected" -->
<!--                       > -->
<!--                         {{ $t('profiles_network.friend_add') }} -->
<!--                       </button> -->
<!--                       <button -->
<!--                         class="btn btn-sm btn-orange mt-2 w-75" -->
<!--                         type="button" -->
<!--                         @click="followUser(member)" -->
<!--                         v-else-if="member.usertype !== $store.currentUser.usertype && !member.alreadyConnected" -->
<!--                       > -->
<!--                         {{ $t('profiles_network.follow') }} -->
<!--                       </button> -->
<!--                       <router-link to="../../chat" tag="button" class="btn btn-sm btn-green mt-2 w-75"> -->
<!--                         {{ $t('profiles_network.message_send') }}</router-link -->
<!--                       > -->
<!--                     </h6> -->
<!--                     <div class="trigger"></div> -->
<!--                   </div> -->
<!--                 </li> -->
<!--               </ul> -->
            </div>
          </div>

          <div v-if="state.memberType == 'creator' || state.memberType == 'mod'" class="card mt-3">
            <div class="card-header card-header-with-border">
              <h6 class="text-left">
                {{ $t('community.join_request') }}
              </h6>
            </div>
            <div class="card-body text-left">
              <ul class="network-list network-search-list mt-4 text-left">
                <li v-for="req in state.requests" class="transition teachers-list">
                  <div class="wrapper">
                    <span class="transition">
                      <img class="transition" src="http://dooreight.com/codepen/people/img_06.png" />
                      <!--<h4 class="transition">Contact me</h4>-->
                    </span>
                    <h6 class="transition">
                      <a v-bind:href="'/profiles/' + req.username">
                        {{ req.username }}
                      </a>

                      <em>
                        <a class="btn btn-circle">
                          <img src="../../img/ICON-LEVEL-4-Badge.png" class="clearfix w-100" />
                        </a>
                        {{ req.usertype }}
                      </em>
                      <button
                        @click="handleUser('add', req.userid)"
                        type="button"
                        class="btn btn-sm btn-orange mt-2 w-75"
                      >
                        Accept
                      </button>
                      <button
                        @click="handleUser('decline', req.userid)"
                        type="button"
                        class="btn btn-sm btn-green mt-2 w-75"
                      >
                        Decline
                      </button>
                    </h6>

                    <div class="trigger"></div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!--Tab of description-->
        <div class="tab-pane fade" id="comm-desc" role="tabpanel" aria-labelledby="comm-desc-tab">
          <div class="card">
            <div class="card-header card-header-with-border">
              <h6 class="text-left">{{ $t('community.description') }}</h6>
            </div>
            <div class="card-body">
              {{ state.description }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--//////////////////////////////////-->
    <!--//////////////////////////////////-->
    <!--//////Modal Windows///////-->
    <!--//////////////////////////////////-->
    <!--//////////////////////////////////-->

    <!--Modal of edit the community-->
    <div class="modal fade" id="modal-edit-comm" role="dialog">
      <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header pb-1">
            <h5 class="modal-title">{{ $t('community.edit_comm') }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- content goes here -->

            <form>
              <div class="form-group form-inline">
                <div class="custom-control custom-radio custom-control-inline mr-5">
                  <input
                    v-model="state.edit.privacy"
                    type="radio"
                    id="ComPravicyPublic"
                    class="custom-control-input"
                    name="customRadio"
                    value="PUBLIC"
                  />
                  <label class="custom-control-label" for="ComPravicyPublic">
                    {{ $t('community.public') }}
                  </label>
                  <span class="tooltiptext">
                    {{ $t('community.public_tip') }}
                  </span>
                </div>
                <div class="custom-control custom-radio custom-control-inline mr-5">
                  <input
                    v-model="state.edit.privacy"
                    type="radio"
                    id="ComPravicyPrivate"
                    class="custom-control-input"
                    name="customRadio"
                    value="PRIVATE"
                  />
                  <label class="custom-control-label" for="ComPravicyPrivate">
                    {{ $t('community.private') }}
                  </label>
                  <span class="tooltiptext">
                    {{ $t('community.private_tip') }}
                  </span>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input
                    v-model="state.edit.privacy"
                    type="radio"
                    id="ComPravicyOnlyMe"
                    class="custom-control-input"
                    name="customRadio"
                    value="CLOSED"
                  />
                  <label class="custom-control-label" for="ComPravicyOnlyMe">
                    {{ $t('community.closed') }}
                  </label>
                  <span class="tooltiptext">
                    {{ $t('community.closed_tip') }}
                  </span>
                </div>
              </div>
            </form>
            <form>
              <div class="form-group">
                <label for="formenterCommNameInput"
                  ><h6 class="mb-0">{{ $t('community.name') }}</h6></label
                >
                <input
                  v-model="state.edit.communityName"
                  type="text"
                  class="form-control"
                  id="formenterCommNameInput"
                  v-bind:placeholder="$t('community.name_placeholder')"
                />
              </div>
              <div class="form-group">
                <label for="enterCommKeywords"
                  ><h6 class="mb-0">{{ $t('community.keywords') }}</h6></label
                >
                <!-- 									<input v-model="state.edit.newkeywords" type="text" class="form-control" id="enterCommKeywords" v-bind:placeholder="$t('community.keywords_placeholder')"> -->
                <KeywordSearchBar
                  :id="'inputKeywords'"
                  v-on:keywordsChanged="handleKeywordChanged"
                  :initial-keywords="state.edit.keywords"
                  class="form-control"
                >
                </KeywordSearchBar>
              </div>
              <div class="form-group">
                <label for="community-description"
                  ><h6 class="mb-0">{{ $t('community.description') }}</h6></label
                >
                <textarea
                  v-model="state.edit.description"
                  class="form-control"
                  rows="5"
                  id="commDescription"
                  name="community-description"
                  v-bind:placeholder="$t('community.description_placeholder')"
                ></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-orange w-25" data-dismiss="modal">{{ $t('community.cancel') }}</button>
            <button @click="editCommunity()" type="button" class="btn btn-green w-25" data-dismiss="modal">
              {{ $t('community.edit') }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--Modal of modal-manage-members-->
    <div class="modal fade" id="modal-manage-members" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ $t('community.manage_member') }}</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <table class="table table-hover">
              <!--Members should be listed by the time that this user join this community-->
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">{{ $t('community.members') }}</th>
                  <th scope="col">{{ $t('community.join_time') }}</th>
                  <th scope="col">{{ $t('community.action') }}</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td colspan="4">
                    <form>
                      <div class="input-group p-0">
                        <div class="input-group-prepend">
                          <label class="input-group-text">
                            {{ $t('community.search') }}
                          </label>
                        </div>
                        <input
                          type="text"
                          class="form-control"
                          v-bind:placeholder="$t('community.search_placeholder')"
                        />
                        <div class="input-group-append">
                          <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                        </div>
                      </div>
                    </form>
                  </td>
                </tr>

                <!-- For-Loop for Moderators -->

                <tr v-for="mod in state.moderators">
                  <th scope="row">1</th>
                  <td>
                    <a class="btn btn-avatar">
                      <img src="../../img/user6.png" class="clearfix w-100" />
                    </a>
                    <span>{{ mod.username }}</span>
                  </td>
                  <td>
                    08.01.2017
                  </td>
                  <td>
                    <a @click="handleUser('mod2member', mod.userid)" class="btn btn-circle" title="Remove as Moderator">
                      <img src="../../img/ICON-community.png" class="clearfix" alt="2Mem" />
                    </a>
                    <a @click="handleUser('remove', mod.userid)" class="btn btn-circle" title="Remove Members">
                      <img src="../../img/ICON_Delete-Post.png" class="clearfix" alt="delete" />
                    </a>
                    <a @click="handleUser('block', mod.userid)" class="btn btn-circle" title="Block Members">
                      <img src="../../img/ICON_Report.png" class="clearfix" alt="block" />
                    </a>
                  </td>
                </tr>

                <!-- For-Loop for Members -->

                <tr v-for="member in state.members">
                  <th scope="row">1</th>
                  <td>
                    <a class="btn btn-avatar">
                      <img src="../../img/user6.png" class="clearfix w-100" />
                    </a>
                    <span>{{ member.username }}</span>
                  </td>
                  <td>
                    08.01.2017
                  </td>
                  <td>
                    <a @click="handleUser('member2mod', member.userid)" class="btn btn-circle" title="Set as Moderator">
                      <img src="../../img/ICON-PROFILE_circle.png" class="clearfix" alt="2Mod" />
                    </a>
                    <a @click="handleUser('remove', member.userid)" class="btn btn-circle" title="Remove Members">
                      <img src="../../img/ICON_Delete-Post.png" class="clearfix" alt="delete" />
                    </a>
                    <a @click="handleUser('block', member.userid)" class="btn btn-circle" title="Block Members">
                      <img src="../../img/ICON_Report.png" class="clearfix" alt="block" />
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-orange w-25" data-dismiss="modal">{{ $t('community.close') }}</button>
          </div>
        </div>
      </div>
    </div>

    <!--Modal of modal-manage-members-->
    <div class="modal fade" id="modal-add-members" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ $t('community.invite_user_2') }}</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <form>
              <div class="input-group p-0">
                <div class="input-group-prepend">
                  <label class="input-group-text">
                    <i class="fa fa-plus-circle"></i>
                  </label>
                </div>
				<input
	              class="form-control"
	              :placeholder="$t('profiles_network.input_placeholder_enter_username')"
	              type="text"
	              @keyup.enter="findUsers"
	              v-model="state.network.searchQuery"
	            />
	            <div class="input-group-append">
	              <button class="btn btn-default" type="button" @click="findUsers"><i class="fa fa-search"></i></button>
	            </div>
              </div>
            </form>
            
            <div v-if="state.network.profilesOfSearchResult.length > 0">
            
            <h6 class="mt-3">{{ $t('community.suggest_member') }}</h6>
            <table class="table table-hover">
              <!--Members should be listed by the time that this user join this community-->
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">{{ $t('community.friends') }}</th>
                  <th scope="col">{{ $t('community.action') }}</th>
                </tr>
              </thead>

              <!-- Add Member: @click="handleUser('invite', mod.userid);" -->

              <tbody>
                <tr v-for="(friend, index) in searchResults">
                  <th scope="row">{{ index + 1 }}</th>
                  <td>
                    <a class="btn btn-avatar">
                      <img src="../../img/user6.png" class="clearfix w-100" />
                    </a>
                    <span>{{ friend.username }}</span>
                  </td>
                  <td>
                    <button
                      @click="handleUser('invite', friend.userid)"
                      type="button"
                      class="btn btn-green btn-sm w-50"
                    >
                      {{ $t('community.add_member') }}
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-orange w-25" data-dismiss="modal">{{ $t('community.close') }}</button>
          </div>
        </div>
      </div>
    </div>

    <!--//////////////////////////////////-->
    <!--//////////////////////////////////-->
    <!--//////Modal Windows///////-->
    <!--//////////////////////////////////-->
    <!--//////////////////////////////////-->
  </div>
</template>

<script>
import SweetAlertImage from './common/SweetAlertImage';
import FileUpload from './common/FileUpload';
import KeywordSearchBar from './common/KeywordSearchBar';
import CreateStatusUpdate from './common/statusupdate/CreateStatusUpdate';
import ViewStatusUpdate from './common/statusupdate/ViewStatusUpdate';
import { getStatusUpdateApiUrl, getMissionsEndpoint, storage_getdashboardApiUrl } from '../../js/global';
import { gamificationToast } from './common/gamificationAlertConfigs.js';
import * as EVENTS from '../../js/gamification';
import UserCard from './profile/common/UserCard';
import {
	  followUser,
	  unFollow,
	  makeFriendRequest,
	  declineFriendRequest,
	  acceptFriendRequest,
	  deleteFriendship,
	  blockUser,
	  unBlock,
	  sendMessageRequest,
	  areFriends,
	  isFriendRequestSent,
	  messageRequestAccepted,
	  isMessageRequestPending,
	  makeConnectWithChildRequest,
	  isParentRequestSent,
	  acceptRequestFromParent
	} from './profile/common/networkingFunctions';

export default {
  name: 'Community',
  props: {
    id: {
    	type: String
    }
  },
  components: {
	  UserCard,
    FileUpload,
    KeywordSearchBar,
    CreateStatusUpdate,
    ViewStatusUpdate
  },
  data: function() {
    return {
      state: {
        communityName: '',
        creatorID: '',
        creatorName: '',
        courseID: '',
        courseName: '',
        privacy: '',
        description: '',
        communityPhoto: null,
        memberType: null,
        keywords: [],
        discussions: [],
        members: [],
          moderators_ids: [],
        moderators: [],
        blocked: [],
        requests: [],
        photos: [],
        files: [],

        network: {
          searchQuery: '',
          profilesOfSearchResult: []
        },
        edit: {
          privacy: '',
          communityName: '',
          keywords: [],
          description: ''
        },
        buttonID: '',
        photo: {
          keywords: '',
          file: '',
          fileId: '',
          contentType: '',
          fileName: 'No file chosen'
        },
        file: {
          description: '',
          file: '',
          fileId: '',
          contentType: '',
          fileName: 'No file chosen'
        },
        fileBool: false,
        photoBool: false,
        newkeywords: [],
        //friends: [],

        ////
        statusUpdateIDs: [],
        statusUpdateObjects: [],
        profile: {
            userid: '',
            username: '',
            usertype: '',
            avatarImageId: null,
            coverImageId: null,
            basicInfo: {},
            friends: [],
            following: [],
            follower: [],
            friendRequestsOutgoing: [],
            showcase: {
              images: []
            }
         },
         images: {
        	 kp: require('../../img/ICONS-Knowledge-Points-Blue.png')
         }
      },
    };
  },
  computed: {
    filesApi() {
      return storage_getURL('FILES');
    },
    
    
    searchResults() {
    	if (this.state.network.profilesOfSearchResult.length === 0) return [];
    	
    	var mems = [];
    	
    	for (var i = 0; i < this.state.members.length; i++) {
    		mems.push(this.state.members[i].userid);
    	}
    	for (var i = 0; i < this.state.moderators.length; i++) {
    		mems.push(this.state.moderators[i].userid);
    	}
    	for (var i = 0; i < this.state.invites.length; i++) {
    		mems.push(this.state.invites[i].userid);
    	}
    	
    	
    	
    	
        let searchResults = this.state.network.profilesOfSearchResult.filter(profile =>
          !mems.includes(profile.userid)
        );
        
        //let searchResult = this.state.network.profilesOfSearchResult;
        return searchResults;
    	
    },
    
    friendList() {
        if (this.state.members.length === 0) return [];
        let friendList = this.state.members.filter(profile =>
          this.state.profile.friends.includes(profile.userid)
        );
        return friendList;
      },
      followingList() {
        if (this.state.members.length === 0) return [];
        let followingList = this.state.members.filter(
          profile =>
            this.state.profile.following.includes(profile.userid) && !this.state.profile.friends.includes(profile.userid)
        );
        return followingList;
      },

      unrelatedList() {
        if (this.state.members.length === 0) return [];
        let unrelatedList = this.state.members.filter(
          profile =>
            !this.state.profile.friends.includes(profile.userid) && !this.state.profile.following.includes(profile.userid)
        );
        return unrelatedList;
      },
      isProfileOfCurrentUser() {
          return this.state.profile.userid === this.$store.currentUser.userid;
        },
  },
  created() {
    this.initCommunity();
    this.updateProfileData();
  },


  mounted() {
    $(document).ready(function() {
      var navListItems = $('div.setup-panel div a'),
        allWells = $('.setup-content'),
        allNextBtn = $('.nextBtn'),
        allPrevBtn = $('.prevBtn');

      allWells.hide();

      navListItems.click(function(e) {
        e.preventDefault();
        var $target = $($(this).attr('href')),
          $item = $(this);

        if (!$item.hasClass('disabled')) {
          navListItems.removeClass('btn-green').addClass('btn-default');
          $item.addClass('btn-green');
          allWells.hide();
          $target.show();
          $target.find('input:eq(0)').focus();
        }
      });

      allNextBtn.click(function() {
        var curStep = $(this).closest('.setup-content'),
          curStepBtn = curStep.attr('id'),
          nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]')
            .parent()
            .next()
            .children('a'),
          curInputs = curStep.find("input[type='text'],input[type='url']"),
          isValid = true;

        $('.form-group').removeClass('has-error');
        for (var i = 0; i < curInputs.length; i++) {
          if (!curInputs[i].validity.valid) {
            isValid = false;
            $(curInputs[i])
              .closest('.form-group')
              .addClass('has-error');
          }
        }

        if (isValid) nextStepWizard.removeAttr('disabled').trigger('click');
      });

      allPrevBtn.click(function() {
        var curStep = $(this).closest('.setup-content'),
          curStepBtn = curStep.attr('id'),
          prevStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]')
            .parent()
            .prev()
            .children('a');

        $('.form-group').removeClass('has-error');
        prevStepWizard.removeAttr('disabled').trigger('click');
      });

      $('div.setup-panel div a.btn-green').trigger('click');
    });
  },
  methods: {
    initCommunity() {
      axios.get(getCommunityApiUrl('API_GATEWAY_STORAGE') + '/community/' + this.id).then(response => {
        if (response.data != '') {
          this.state.communityName = response.data.communityName;
          this.state.edit.communityName = response.data.communityName;
          this.state.creatorID = response.data.creatorID;
          this.state.creatorName = response.data.creatorName;
          this.state.courseID = response.data.relatedCourseID;
          //this.state.courseName = response.data.relatedCourseName;
          this.state.privacy = response.data.privacySetting;
          this.state.edit.privacy = response.data.privacySetting;
          this.state.description = response.data.description;
          this.state.edit.description = response.data.description;
          this.state.keywords = response.data.keywords;
          this.state.edit.keywords = response.data.keywords;
          this.state.discussions = response.data.discussions;

          if (response.data.communityPhoto != null) {
            this.state.communityPhoto = response.data.communityPhoto;
            this.setCommPhoto(response.data.communityPhoto);
          }

          this.state.memberType = response.data.memberType;
          this.state.members = response.data.members;
          this.state.moderators = response.data.moderators;
            for (var i = 0; i < this.state.moderators.length; i++) {
                this.state.moderators_ids.push(this.state.moderators[i].userid);
            }
          
          console.log("MEMS: " + this.state.members.length);

          this.state.requests = response.data.requests;
          this.state.invites = response.data.invites;
          
          for (var i = 0; i < this.state.invites.length; i++) {
      		console.log("INV: " + this.state.invites[i]);
      	}

          if (this.state.discussions.length > 0) {
            this.initDiscussion();
          }
          
          for (var i = 0; i < this.state.members.length; i ++) {
        	  console.log(this.state.members[0].userid);
          }

          if (this.state.courseID != null) {
            axios.get(getMissionsEndpoint('API_GATEWAY_STORAGE') + '/' + this.state.courseID).then(response => {
              this.state.courseName = response.data.missionMetadata.generalMetadata.title;
            });
          }
        }
      });
    },
    
    initDiscussion() {
      let statusUpdateIds = this.state.discussions;

      const statusUpdateIdsParam = jQuery.param({
        statusUpdateIds
      });

      axios.get(getStatusUpdateApiUrl('API_GATEWAY_STORAGE') + '?' + statusUpdateIdsParam).then(
        response => {
          if (response.data[0].statusUpdateId != null && !(response.data[0].statusUpdateId === '')) {
            this.state.statusUpdateObjects = response.data;

            var ids = [];
            for (var i = 0; i < response.data.length; i++) {
              ids.push(response.data[i].statusUpdateId);
            }

            if (statusUpdateIds.length != ids.length) {
              let params = $.param({ ids: ids });
              axios.get(getCommunityApiUrl('API_GATEWAY_STORAGE') + '/community/update/' + this.id + '?' + params);
            }
          }
        },
        error => {
          console.log(error);
        }
      );
    },

    editCommunity() {
      axios
        .post(getCommunityApiUrl('API_GATEWAY_STORAGE') + '/community/edit/' + this.id, this.state.edit)
        .then(response => {
          this.state.communityName = response.data.communityName;
          this.state.privacy = response.data.privacySetting;
          this.state.description = response.data.description;
          this.state.keywords = response.data.keywords;
        });
    },
    
    postDiscussionOLD(statusUpdateId) {
    	this.$swal({
    	    toast: true,
    	    position: 'bottom',
    	    html:
    	    '<img src="https://stimey.eu/dist/ICONS-Knowledge-Points-Yellow-White-circle.png?5a34b62ddbc9cbc34ecf75e5857704e2" alt="Smiley face" height="42" width="42">'+
    	    '<label>12</label>'+
    	    '<img src="https://stimey.eu/dist/ICONS-Social-Points-Blue-White-circle.png?af16811a8c165362002c37d450b88a66" alt="Smiley face" height="42" width="42">'+
    	    '<label>12</label>'+
    	    '<img src="https://stimey.eu/dist/ICONS-Creativity-Points-Red-White-circle.png?e6398e07fe50a5017d2ca05e206c62b5" alt="Smiley face" height="42" width="42">'+
    	    '<label>12</label>',
    	    showConfirmButton: false,
    	    timer: 3000,
    	});
    	
    },
    
    

    postDiscussion(statusUpdateId) {
    	//alert("TEST");
    	
    	
      var status = { statusID: statusUpdateId };

      if (this.state.file.file != '') {
        this.save();
      } else {
    	  
        axios
          .post(getCommunityApiUrl('API_GATEWAY_STORAGE') + '/community/discussion/' + this.id, status)
          .then(response => {
        	  
            let params = $.param({
              userid: this.$store.currentUser.userid,
              eventid: EVENTS.POST_DISCUSSION,
            });
            
            axios.get(storage_getURL('API_GATEWAY_STORAGE') + '/api-proxy/achievements/api/gamification?' + params)
	            .then(response => {
	              gamificationToast(this, response);
	              this.$dailyGoalBus.$emit('points');
	            });

          //this.$store.dailyGoal.kp = 3;   
          });
      }
    },

    choosePhoto() {
      jQuery('#commPhoto').click();
    },

    editPhoto(e) {
      var formData = new FormData();
      formData.append('file', e.target.files[0]);
      var headers = { 'Content-Type': 'multipart/form-data' };
      var config = { headers };
      axios.post(this.filesApi + '/api/files', formData, config).then(
        response => {
          console.log(response);
          var file = { fileID: response.data };
          axios.post(getCommunityApiUrl('API_GATEWAY_STORAGE') + '/community/commphoto/' + this.id, file);
          this.setCommPhoto(response.data);
        },
        error => {
          console.log(error);
        }
      );
    },

    setCommPhoto(id) {
      axios
        .get(storage_getURL('FILES') + '/api/files/' + id, {
          responseType: 'blob',
          headers: { Accept: 'application/octet-stream' }
        })
        .then(
          response => {
            const url = window.URL.createObjectURL(new Blob([response.data], { type: 'application/octet-stream' }));
            this.state.communityPhoto = url;
          },
          error => {
            console.log(error);
          }
        );
    },

    showDeleteAlert() {
      let self = this;
      this.$swal({
        text: self.$t('community.delete_question'),
        type: 'question',
        showCancelButton: true,
        confirmButtonColor: '#90d400',
        cancelButtonColor: '#ed730e',
        confirmButtonText: self.$t('viewStatusupdate.deletePostAlertConfirmBtn'),
        cancelButtonText: self.$t('viewStatusupdate.deletePostAlertCancelBtn')
      }).then(result => {
        if (result.value) {
          this.deleteComm();
          this.$swal({
            title: self.$t('viewStatusupdate.deletePostAlertConfirmMsgTitle'),
            text: self.$t('community.delete_message'),
            type: 'success',
            showCancelButton: false,
            confirmButtonColor: '#90d400'
          });
        }
      });
    },

    deleteComm() {
      console.log(this.id);
      axios.get(getCommunityApiUrl('API_GATEWAY_STORAGE') + '/community/delete/' + this.id).then(response => {
        this.$router.push('/communities');
      });
    },

    resetFileInputState: function() {
      this.state.file.file = '';
      this.state.file.fileId = '';
      this.state.file.contentType = '';
      this.state.file.fileName = 'No file chosen';
    },

    handleFileChanged(e) {
      this.state.file.file = e.target.files[0];
      this.state.file.contentType = this.state.file.file.type;
      this.state.file.fileName = this.state.file.file.name;
    },

    save() {
      var formData = new FormData();
      console.log(this.state.file.fileName);
      formData.append('file', this.state.file.file);
      var headers = { 'Content-Type': 'multipart/form-data' };
      var config = { headers };
      axios.post(this.filesApi + '/api/files', formData, config).then(
        response => {
          this.state.discussion.photo = response.data;
          axios
            .post(getCommunityApiUrl('API_GATEWAY_STORAGE') + '/community/discussion/' + this.id, this.state.discussion)
            .then(response => {
              this.state.discussions = response.data.discussions;
            });
          this.resetFileInputState();
        },
        error => {
          console.log(error);
        }
      );
    },

    handleUser(action, id) {
      var user = { userid: id };
      axios
        .post(getCommunityApiUrl('API_GATEWAY_STORAGE') + '/community/' + action + '/' + this.id, user)
        .then(response => {
          this.state.members = response.data.members;
          this.state.moderators = response.data.moderators;
          this.state.requests = response.data.requests;
          this.state.invites = response.data.invites;
          this.state.friends = response.data.friends;
        });
    },

    creationTime: function(timestamp) {
      let date = new Date(timestamp);
      let hour = date.getHours();
      let min = (date.getMinutes() < 10 ? '0' : '') + date.getMinutes();
      let time = hour + ':' + min;

      return time;
    },
    creationDate: function(timestamp) {
      let date = new Date(timestamp);
      let year = date.getFullYear();
      let month = date.getMonth();
      let day = date.getDate();
      let time = day + '.' + month + '.' + year;

      return time;
    },

    statusUpdateCreated: function(statusUpdateId, statusUpdateObj) {
      this.state.discussions.unshift(statusUpdateId);
      this.postDiscussion(statusUpdateId);
      this.state.statusUpdateObjects.unshift(statusUpdateObj);
      //this.fetchStatusUpdateIDs();
    },
    statusUpdateDeleted: function(index) {
      this.state.statusUpdateObjects.splice(index, 1);
    },

    handleKeywordChanged(e) {
      this.state.edit.keywords = e;
      //this.$forceUpdate();
    },

    showTab() {
      if (this.state.privacy == 'PRIVATE') {
        for (var i = 0; i < this.state.moderators.length; i++) {
          if (this.state.moderators[i].userid == this.$store.currentUser.userid) {
            return true;
          }
        }
        for (var i = 0; i < this.state.members.length; i++) {
          if (this.state.members[i].userid == this.$store.currentUser.userid) {
            return true;
          }
        }
        return false;
      }
      return true;
    },

    setImage(user) {
      if (user.avatarImage != null) {
        jQuery('#follow-' + user.avatarImageId).attr('src', user.avatarImage);
      } else {
        axios
          .get(storage_getURL('FILES') + '/api/files/' + user.avatarImageId, {
            responseType: 'blob',
            headers: { Accept: 'application/octet-stream' }
          })
          .then(
            response => {
              const url = window.URL.createObjectURL(new Blob([response.data], { type: 'application/octet-stream' }));
              user.avatarImage = url;
              jQuery('#image-' + user.avatarImageId).attr('src', url);
            },
            error => {
              console.log(error);
            }
          );
      }
    },
    
    updateProfileData() {
    	
        axios
          .get(`${storage_getdashboardApiUrl('API_GATEWAY_STORAGE')}/profiles/${this.$store.currentUser.userid}`)
          .then(response => {
            localStorage.setItem('profile', JSON.stringify(response.data));
            this.$store.profile = response.data;
            if (this.isProfileOfCurrentUser) {
              this.state.profile = this.$store.profile;
            } else {
              axios
                .get(`${storage_getdashboardApiUrl('API_GATEWAY_STORAGE')}/profiles/${this.$store.currentUser.userid}`)
                .then(response => {
                  this.state.profile = response.data;
                });
            }
          });
      },
      
      isFriend(profile) {
          return this.state.profile.friends.includes(profile.userid);
        },
    
    findUsers() {
        this.find(this.state.network.searchQuery).then(response => {
          if (response.status === 204) {
            this.state.network.profilesOfSearchResult = [];
          } else {
            this.state.network.profilesOfSearchResult = response.data;
          }
        });
      },
    
    find(searchQuery, userType) {
        if (!userType) userType = '';
        return axios.get(
          `${storage_getdashboardApiUrl('API_GATEWAY_STORAGE')}/profiles?query=${searchQuery}&usertype=${userType}`
        );
      },
      
      
      isFriendRequestSent,
      isMessageRequestPending,
      isParentRequestSent,
      acceptRequestFromParent,

      handleAddFriendClicked(userId, userIdOfUserToBeFriendWith) {
        makeFriendRequest(userId, userIdOfUserToBeFriendWith).then(() => {
          this.fetchProfile().then(() => {
            this.fetchFriends();
            this.findUsers();
          });
        });
      },

      handleRemoveFriendClicked(userId, userIdOfUserToRemoveFromFriend) {
        deleteFriendship(userId, userIdOfUserToRemoveFromFriend).then(() => {
          this.fetchProfile().then(() => {
            this.fetchFriends();
          });
        });
      },

      handleFollowClicked(userId, userIdOfUsertoFollow) {
        followUser(userId, userIdOfUsertoFollow).then(() => {
          this.fetchProfile().then(() => {
            this.fetchFollowing();
          });
        });
      },

      handleUnFollowClicked(userId, userIdOfUsertoUnFollow) {
        unFollow(userId, userIdOfUsertoUnFollow).then(() => {
          this.fetchProfile().then(() => {
            this.fetchFollowing();
          });
        });
      },

      handleAcceptFriendRequestClicked(userId, userIdOfFriendRequestToAccept) {
        acceptFriendRequest(userId, userIdOfFriendRequestToAccept).then(() => {
          this.fetchProfile().then(() => {
            this.fetchFriends();
            this.fetchFriendRequests();
          });
        });
      },

      handleDeclineFriendRequestClicked(userId, userIdOfFriendRequestToDecline) {
        declineFriendRequest(userId, userIdOfFriendRequestToDecline).then(() => {
          this.fetchProfile().then(() => {
            this.fetchFriends();
            this.fetchFriendRequests();
          });
        });
      },

      handleAbortFriendRequestClicked(userId, userIdOfFriendRequestToAbort) {
        declineFriendRequest(userIdOfFriendRequestToAbort, userId).then(() => {
          this.fetchProfile().then(() => {
            this.fetchFriends();
          });
        });
      },

      handleBlockUserClicked(userId, userIdOfProfileToBlock) {
        blockUser(userId, userIdOfProfileToBlock).then(() => {
          this.state.blockModalData.userid = '';
          this.state.blockModalData.username = '';
          this.state.blockModalData.confirmUsername = '';
          $('#confirmBlockModalClose').click();
          this.fetchBlockedUsers();
          this.fetchFriends();
          this.fetchFollower();
          this.fetchFollowing();
        });
      },

      handleConnectWithChildClicked(userIdParent, userIdChild) {
        makeConnectWithChildRequest(userIdParent, userIdChild).then(() => {
          this.updateNetwork();
          this.findChilds();
        });
      },

      handleAcceptParentRequestClicked(userIdOfChild, userIdOfParent) {
        acceptRequestFromParent(userIdOfChild, userIdOfParent).then(response => {
          this.updateNetwork();
        });
      },

      showAddFriendButton(profile) {
        if (this.state.profile.friendRequestsOutgoing.includes(profile.userid)) return false;
        if (profile.usertype === 'incubator') return false;
        if (this.isFriend(profile)) return false;
        if (profile.usertype === this.$store.currentUser.usertype) return true;
        if (this.$store.currentUser.usertype === 'ambassador' && profile.userType === 'teacher') return true;
        if (this.$store.currentUser.usertype === 'teacher' && profile.userType === 'ambassador') return true;
        return false;
      },

      showFollowButton(profile) {
        return !this.state.profile.following.includes(profile.userid);
      },

      openBlockUserModal(profileToBlock) {
        this.state.blockModalData.username = profileToBlock.username;
        this.state.blockModalData.userid = profileToBlock.userid;
        $('#modal-confirm-block').modal();
      },

      handleUnBlockUserClicked(userId, userIdOfProfileToUnblock) {
        unBlock(userId, userIdOfProfileToUnblock).then(() => {
          this.updateNetwork();
        });
      },

      handleSendMessageClicked(profileFrom, profileTo) {
        if (areFriends(profileFrom, profileTo) || messageRequestAccepted(profileFrom, profileTo)) {
          //go directly to chat
          this.$router.push(`/chat?userid=${profileTo.userid}`);
          return;
        }
        if (profileTo.usertype === 'incubator') {
          //TODO: open modal window for contact request
          alert('contact request not implemented');
          return;
        }

        this.$swal.fire(sweetAlertMessageRequestConfig('test', 'test')).then(({ value: text }) => {
          sendMessageRequest(this.state.profile.userid, profileTo, text).then(() => {
            this.updateNetwork();
          });
        });
      },
  },

  watch: {
	  'state.profile': function(val) {
	      if (this.isProfileOfCurrentUser) {
	        localStorage.setItem('profile', JSON.stringify(val));
	        this.$store.profile = val;
	        console.log(this.$store.profile);
	        axios
	          .get(
	            `${storage_getdashboardApiUrl('API_GATEWAY_STORAGE')}/profiles/${
	              this.state.profile.userid
	            }/friends/usernames`
	          )
	          .then(response => {
	            this.$store.friendList = response.data;
	          });
	      }
	    },
	  
	    
  }
};
</script>

<style scoped>
@import url('../../css/courses.css');
@import url('../../css/road-map.css');
</style>
