<template>
	<div>
		<!--The middle Contents -->
		<div>
			<div class="card">
				<div class="card-header pl-0 pr-0 pb-0">
					<ul class="nav nav-tabs float-left" role="tablist">
						<li class="nav-item">
							<a class="nav-link-s active" id="community-tab" data-toggle="tab" href="#community-overview" role="tab" data-controls="community-overview" aria-selected="true">
								<h5>{{$t('community_overview.communities')}}</h5>
							</a>
						</li>
						<li class="nav-item">
							<a  class="nav-link-s" id="comm-discover-tab" data-toggle="tab" href="#comm-discover"  role="tab" data-controls="comm-discover" aria-selected="false">
								<h5>{{$t('community_overview.discover')}}</h5>
							</a>
						</li>
					</ul>
					<div class="float-right mt-2 mr-3">
						<div class="btn btn-circle btn-set-point">
							<img src="../../img/ICON_Newest-Answer.png" class="float-right" @click="showHelp" alt="Help" />
						</div>
					</div>
				</div>
			</div>
			
			<div class="tab-content mt-3">
				<!--Tab of my missions-->
				<div class="tab-pane fade show active" id="community-overview" role="tabpanel" aria-labelledby="community-tab">
					<div class="card mt-3" v-if="help">
						<div class="card-header card-header-with-border">
							<h6 class="text-left">{{$t('community_overview.help_title')}}</h6>
						</div>
						<div class="card-body text-left">
							<div style="white-space: pre-wrap; word-wrap: break-word; font-size: 1rem;" v-if="usertype === 'student'">{{$t('community_overview.help_explorer_description')}}</div>
							<div style="white-space: pre-wrap; word-wrap: break-word; font-size: 1rem;" v-if="usertype === 'teacher'">{{$t('community_overview.help_leader_description')}}</div>
							<div style="white-space: pre-wrap; word-wrap: break-word; font-size: 1rem;" v-if="usertype === 'incubator'">{{$t('community_overview.help_incubator_description')}}</div>
							<div style="white-space: pre-wrap; word-wrap: break-word; font-size: 1rem;" v-if="usertype === 'ambassador'">{{$t('community_overview.help_ambassador_description')}}</div>
							<br/>
							<button type="button" class="btn btn-green w-25 mb-2" @click="showHelp">OK</button>
						</div>
					</div>
					<!--Pending Invatations Missions - Courses-->
					<!--If there is no invitation, this block will be hidden.-->
					<div class="card mt-3">
						<div class="card-header card-header-with-border">
							<h6 class="text-left">
								{{$t('community_overview.pending_inv')}}
							</h6>
						</div>
							
						<div class="card-body text-left">
							<p v-if="state.comms.pending.length > 0">{{$t('community_overview.you_get')}}<span>{{state.comms.pending.length}}</span>{{$t('community_overview.invitation')}}</p>
							<div class="row">
								<div class="col-lg-4 mb-2" v-for="pending in state.comms.pending">
									<div class="card card-comm">									
										<a v-bind:href="'/community/' + pending.commID">
											<img v-if="pending.commPhoto == null" class="card-img-top" src="https://images.pexels.com/photos/247599/pexels-photo-247599.jpeg?h=350&auto=compress&cs=tinysrgb" alt="Card image cap" width="100%">
											<DisplayCardImage v-else :imageFileId="pending.commPhoto"></DisplayCardImage>	
										</a>
										<div class="card-body text-center">
											<a v-bind:href="'/community/' + pending.commID">
												<h5 class="card-title">{{pending.commName}}</h5>
											</a>
											<p class="card-text">
												{{$t('community_overview.created_by')}} <a v-bind:href="'/profiles/' + pending.creatorID"><span>{{pending.creatorName}}</span></a><br>
												<span>{{pending.friendsCount}}</span> {{$t('community_overview.friends')}}
												<span>|</span>
												<span>{{pending.membersCount}}</span> {{$t('community_overview.members')}}
											</p>
											<button type="button" @click="join(pending.commID)" class="btn btn-green btn-sm w-100">{{$t('community_overview.join')}}</button>
                        					<button type="button" @click="decline(pending.commID)" class="btn btn-orange btn-sm w-100 mt-2">{{$t('community_overview.decline')}}</button>
										</div>
									</div>
								</div>				
							</div>
						</div>
					</div>
						
				<!-- be saved but not published Missions - Courses-->
				<!-- If there is no invitation, this block will be hidden.-->
					<div class="card mt-3">
						<div class="card-header card-header-with-border">
							<h6 class="text-left">
								{{$t('community_overview.comm_2_manage')}}
								<a href="#" class="btn btn-circle btn-set-point" data-toggle="modal" data-target="#modal-create-community" title="Create new mission">
									<img src="../../img/add.png" class="clearfix" alt="create community">
								</a>
							</h6>
						</div>
							
						<div class="card-body text-left">
							<div class="row">
								<div class="col-lg-4 mb-2" v-for="manage in state.comms.managed">
									<div class="card card-comm">
										<a v-bind:href="'/community/' + manage.commID">
											<img v-if="manage.commPhoto == null" class="card-img-top" src="https://images.pexels.com/photos/247599/pexels-photo-247599.jpeg?h=350&auto=compress&cs=tinysrgb" alt="Card image cap" width="100%">
											<DisplayCardImage v-else :imageFileId="manage.commPhoto"></DisplayCardImage>	
										</a>
										<div class="card-body text-center">
											<a v-bind:href="'/community/' + manage.commID">
												<h5 class="card-title">{{manage.commName}}</h5>
											</a>
										<p class="card-text">
												{{$t('community_overview.created_by')}} <a v-bind:href="'/profiles/' + manage.creatorID"><span>{{manage.creatorName}}</span></a><br>
												<span>{{manage.friendsCount}}</span> {{$t('community_overview.friends')}}
												<span>|</span>
												<span>{{manage.membersCount}}</span> {{$t('community_overview.members')}}
											</p>
											<button @click="manageComm(manage.commID)" type="button" class="btn btn-green btn-sm w-100">{{$t('community_overview.manage')}}</button>
                       						<button @click="leave(manage.commID)" type="button" class="btn btn-orange btn-sm w-100 mt-2">{{$t('community_overview.leave')}}</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
						
					<div class="card mt-3">
						<div class="card-header card-header-with-border">
							<h6 class="text-left">
								{{$t('community_overview.comm_joined')}}
							</h6>
						</div>
						<div class="card-body text-left">
							<div class="row">
								<div class="col-lg-4 mb-2" v-for="member in state.comms.member">
									<div class="card card-comm">
										<a v-bind:href="'/community/' + member.commID">
											<img v-if="member.commPhoto == null" class="card-img-top" src="https://images.pexels.com/photos/247599/pexels-photo-247599.jpeg?h=350&auto=compress&cs=tinysrgb" alt="Card image cap">
											<DisplayCardImage v-else :imageFileId="member.commPhoto"></DisplayCardImage>	
										</a>
										<div class="card-body text-center">
											<a v-bind:href="'/community/' + member.commID">
												<h5 class="card-title">{{member.commName}}</h5>
											</a>
											<p class="card-text">
												{{$t('community_overview.created_by')}} <a v-bind:href="'/profiles/' + member.creatorID"><span>{{member.creatorName}}</span></a><br>
												<span>{{member.friendsCount}}</span> {{$t('community_overview.friends')}}
												<span>|</span>
												<span>{{member.membersCount}}</span> {{$t('community_overview.members')}}
											</p>
                       						<button @click="leave(member.commID)" type="button" class="btn btn-orange btn-sm w-100 mt-2">Leave</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
					
				<!--Tab of community discover-->
				<div class="tab-pane fade" id="comm-discover" role="tabpanel" aria-labelledby="comm-discover-tab">
					<div class="card">
						<div class="card-body">
							<h5 class="mb-2">{{$t('community_overview.discover_comms')}}</h5>
							<form>
								<div class="input-group p-0">
<!--           								<div class="input-group-prepend"> -->
<!--             								<select class="form-control" v-model="state.selectedLanguage"> -->
<!--               								<option value="Any">Languages</option> -->
<!--               								<option v-for="(language, key) in $t('languages', { returnObjects: true })" :value="key">{{language}}</option> -->
<!--             								</select> -->
<!--           								</div> -->
         								<input
           								v-model="state.searchString"
           								@keydown.enter="handleEnter"
           								@keyup="handleSearch"
           								type="text"
           								class="form-control"
           								placeholder="Enter keywords or name to search for Community!"
         								/>
          							<div class="input-group-append">
            							<button disabled class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
          							</div>
       							</div>
							</form>
						</div>
					</div>
					<!--///////////////////////////-->
					<!--Hier for the search result-->
					<!--///////////////////////////-->
					
					<div v-if="state.foundComms.length > 0"" class="card mt-3" >
						<div class="card-header card-header-with-border">
							<h6 class="text-left">
								{{$t('community_overview.comm_found')}}
							</h6>
						</div>
						<div class="card-body text-left">
							<div class="row">
								<div class="col-lg-4 mb-2" v-for="found in state.foundComms">
									<div class="card card-comm">
										<a v-bind:href="'/community/' + found.commID">
											<img v-if="found.commPhoto == null" class="card-img-top" src="https://images.pexels.com/photos/247599/pexels-photo-247599.jpeg?h=350&auto=compress&cs=tinysrgb" alt="Card image cap">
											<DisplayCardImage v-else :imageFileId="found.commPhoto"></DisplayCardImage>	
										</a>
										<div class="card-body text-center">
											<a v-bind:href="'/community/' + found.commID">
												<h5 class="card-title">{{found.commName}}</h5>
											</a>
											<p class="card-text">
												{{$t('community_overview.created_by')}} <a v-bind:href="'/profiles/' + found.creatorID"><span>{{found.creatorName}}</span></a><br>
												<span>{{found.friendsCount}}</span> {{$t('community_overview.friends')}}
												<span>|</span>
												<span>{{found.membersCount}}</span> {{$t('community_overview.members')}}
											</p>
											<button v-if="found.members_mods.includes($store.currentUser.userid)" @click="leave(found.commID)" type="button" class="btn btn-orange btn-sm w-100 mt-2">{{$t('community_overview.leave')}}</button>
											<button v-else type="button" @click="join(found.commID)" class="btn btn-green btn-sm w-100">{{$t('community_overview.join')}}</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!--///////////////////////////-->
					<!--Hier for the search result-->
					<!--///////////////////////////-->

					<!--Communities that you might be intersted in-->
					<div class="card mt-3">
						<div class="card-header card-header-with-border">
							<h6 class="text-left">
								{{$t('community_overview.comm_int')}}
							</h6>
						</div>
						<div class="card-body text-left">
							<div class="row">
							 	<div class="col-lg-4 mb-2" v-for="inter in state.comms.interesting">
									<div class="card card-comm">
										<a v-bind:href="'/community/' + inter.commID">
											<img v-if="inter.commPhoto == null" class="card-img-top" src="https://images.pexels.com/photos/247599/pexels-photo-247599.jpeg?h=350&auto=compress&cs=tinysrgb" alt="Card image cap" width="100%">
											<DisplayCardImage v-else :imageFileId="inter.commPhoto"></DisplayCardImage>	
										</a>
										<div class="card-body text-center">
											<a v-bind:href="'/community/' + inter.commID">
												<h5 class="card-title">{{inter.commName}}</h5>
											</a>
											<p class="card-text">
												{{$t('community_overview.created_by')}} <a v-bind:href="'/profiles/' + inter.creatorID"><span>{{inter.creatorName}}</span></a><br>
												<span>{{inter.friendsCount}}</span> {{$t('community_overview.friends')}}
												<span>|</span>
												<span>{{inter.membersCount}}</span> {{$t('community_overview.members')}}
											</p>
											<button type="button" @click="join(inter.commID)" class="btn btn-green btn-sm w-100">{{$t('community_overview.join')}}</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!--Popular Communities for Courses-->
					<div class="card mt-3">
						<div class="card-header card-header-with-border">
							<h6 class="text-left">
								{{$t('community_overview.comm_pop')}}
							</h6>
						</div>
						<div class="card-body text-left">
							<div class="row">
								<div class="col-lg-4 mb-2" v-for="popular in state.comms.popular">
									<div class="card card-comm">
										<a href="community-homepage.html">
											<img class="card-img-top" src="https://images.pexels.com/photos/247599/pexels-photo-247599.jpeg?h=350&auto=compress&cs=tinysrgb" alt="Card image cap" width="100%">
										</a>
										<div class="card-body text-center">
											<a href="community-homepage.html">
												<h5 class="card-title">{{popular.commName}}</h5>
											</a>
											<p class="card-text">
												{{$t('community_overview.created_by')}} <a v-bind:href="'/profiles/' + popular.creatorID"><span>{{popular.creatorName}}</span></a><br>
												<span>{{popular.friendsCount}}</span> {{$t('community_overview.friends')}}
												<span>|</span>
												<span>{{popular.membersCount}}</span> {{$t('community_overview.members')}}
											</p>
											<button type="button" @click="join(popular.commID)" class="btn btn-green btn-sm w-100">{{$t('community_overview.join')}}</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="modal-create-community" role="dialog">
			<div class="modal-dialog" role="document">
	        <!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header pb-1">
						<h5 class="modal-title">{{$t('community_overview.create_a_comm')}}</h5>
						<button id="x_button" type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
					<!-- content goes here -->              
						<form id="createCommForm" novalidate role="form">
							<div class="form-group form-inline">
								<div class="custom-control custom-radio custom-control-inline mr-5">
									<input v-model="state.newCommunity.privacy" type="radio" id="ComPravicyPublic" class="custom-control-input" name="customRadio" value="Public">
									<label class="custom-control-label" for="ComPravicyPublic">
										{{$t('community_overview.public')}}
									</label>
									<span class="tooltiptext">
										{{$t('community_overview.public_tip')}}	
									</span>
								</div>
								<div class="custom-control custom-radio custom-control-inline mr-5">
									<input v-model="state.newCommunity.privacy" type="radio" id="ComPravicyPrivate" class="custom-control-input" name="customRadio" value="Private">
									<label class="custom-control-label" for="ComPravicyPrivate">
										{{$t('community_overview.private')}}
									</label>
									
									<span class="tooltiptext">
										{{$t('community_overview.private_tip')}}
									</span>
								</div>
								<div class="custom-control custom-radio custom-control-inline">
									<input v-model="state.newCommunity.privacy" type="radio" id="ComPravicyOnlyMe" class="custom-control-input" name="customRadio" value="Closed">
									<label class="custom-control-label" for="ComPravicyOnlyMe">
										{{$t('community_overview.closed')}}
									</label>
									<span class="tooltiptext">
										{{$t('community_overview.closed_tip')}}	
									</span>
								</div>
							</div>	
							<div class="form-group">
								<label for="formenterCommNameInput"><h6 class="mb-0">{{$t('community_overview.name')}}</h6></label>
								<input v-model="state.newCommunity.communityName" type="text" class="form-control" id="formenterCommNameInput" required v-bind:placeholder="$t('community_overview.name_placeholder')">
								<div id="no_name" class="invalid-feedback">{{$t('community_overview.no_name')}}</div>
							</div>
							<div class="form-group">
								<label for="enterCommKeywords"><h6 class="mb-0">{{$t('community_overview.keywords')}}</h6></label>
								<!--  <input v-model="state.newComm.keywords" type="text" class="form-control" id="enterCommKeywords" placeholder="Enter # to add keywords..."> -->
								<KeywordSearchBar :id="'inputKeywords'"
                                                 v-on:keywordsChanged="handleKeywordChanged"
                                                 :initial-keywords="state.newCommunity.keywords" class="form-control">
                               	</KeywordSearchBar>
							</div>
							<div class="form-group">
								<label for="community-description"><h6 class="mb-0">{{$t('community_overview.description')}}</h6></label>
								<textarea v-model="state.newCommunity.description" class="form-control" rows="5" id="commDescription" name="community-description" v-bind:placeholder="$t('community_overview.description_placeholder')"></textarea>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button @click="clearCreate()" type="button" class="btn btn-orange w-25" data-dismiss="modal">{{$t('community_overview.cancel')}}</button>
						<button @click="createCommunity()" type="button" class="btn btn-green w-25" >{{$t('community_overview.create')}}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

	import KeywordSearchBar from "./common/KeywordSearchBar";
	import DisplayCardImage from "./communities/DisplayCardImage";
	import { gamificationToast } from './common/gamificationAlertConfigs.js';
	import * as EVENTS from '../../js/gamification';
	
    export default {
        name: 'CommunityOverview',
        props: [
        	'newCommunity'
        ],
        components: {
        	KeywordSearchBar,
        	DisplayCardImage
        },
        data: function() {
            return {
                state: {
                	userid: this.$store.userid,
                	comms: {
                		all: {
							},
						pending: {
							},
						managed: {
							}, 
						member: {
							}, 
						interesting: {
							},
						popular: {
							}
					},
					newCommunity: {
						privacy: "Public"
					},
					selectedLanguage: 'Any',
			        searchString: '',
			        allLanguages: [],
			        foundComms: [],

				},
                usertype: null,
                help: false
            }
        },
        created() {
        	this.initCommunities();
            this.usertype = this.$store.currentUser.usertype;
        },
        updated() {
            //this.$emit('keywordsChanged', this.state.newCommunity.keywords);
        },
        mounted() {
        	
        	this.allLanguages = Object.values(this.$t('languages', { returnObjects: true }));
        	this.$i18n.i18next.on('loaded', () => {
        		this.allLanguages = Object.values(this.$t('languages', { returnObjects: true }));
        	});
        	
        	$(window).load(function() {
      		  $('.post-module').hover(function() {
      			$(this).find('.description').stop().animate({
      			  height: "toggle",
      			  opacity: "toggle"
      			}, 300);
      		  });
      		});
      		
      		
      		/*For Create Mission - select multi mission topic*/
//       		$(document).ready(function () {

//       			var navListItems = $('div.setup-panel div a'),
//       					allWells = $('.setup-content'),
//       					allNextBtn = $('.nextBtn'),
//       					allPrevBtn = $('.prevBtn');

//       			allWells.hide();

//       			navListItems.click(function (e) {
//       				e.preventDefault();
//       				var $target = $($(this).attr('href')),
//       						$item = $(this);

//       				if (!$item.hasClass('disabled')) {
//       					navListItems.removeClass('btn-green').addClass('btn-default');
//       					$item.addClass('btn-green');
//       					allWells.hide();
//       					$target.show();
//       					$target.find('input:eq(0)').focus();
//       				}
//       			});

//       			allNextBtn.click(function(){
//       				var curStep = $(this).closest(".setup-content"),
//       					curStepBtn = curStep.attr("id"),
//       					nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
//       					curInputs = curStep.find("input[type='text'],input[type='url']"),
//       					isValid = true;

//       				$(".form-group").removeClass("has-error");
//       				for(var i=0; i<curInputs.length; i++){
//       					if (!curInputs[i].validity.valid){
//       						isValid = false;
//       						$(curInputs[i]).closest(".form-group").addClass("has-error");
//       					}
//       				}

//       				if (isValid)
//       					nextStepWizard.removeAttr('disabled').trigger('click');
//       			});

//       			allPrevBtn.click(function(){
//       				var curStep = $(this).closest(".setup-content"),
//       					curStepBtn = curStep.attr("id"),
//       					prevStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().prev().children("a");

//       				$(".form-group").removeClass("has-error");
//       				prevStepWizard.removeAttr('disabled').trigger('click');
//       			});

//       			$('div.setup-panel div a.btn-green').trigger('click');
//       		});
        	
        },
        watch: {

        },
        methods: {
            showHelp() {
                this.help = !this.help;
            },
        	initCommunities() {
        		axios.get(getCommunityApiUrl("API_GATEWAY_STORAGE") + "/communities")
        			.then(response => {
        				
        				if(response.data != "") {
        					this.state.comms.all = response.data.allComms;
        					this.state.comms.pending = response.data.pendingComms;
        					this.state.comms.managed = response.data.managedComms;
        					this.state.comms.member = response.data.memberComms;
        					this.state.comms.interesting = response.data.interestingComms;
        					this.state.comms.popular = response.data.popularComms;
        					
        				}
        			});
        	},
        	
        	createCommunity() {
        		let valid = $('#formenterCommNameInput')[0].validity.valid;
        		
        		if(valid) {
        			axios.post(getCommunityApiUrl("API_GATEWAY_STORAGE") + "/communities/", this.state.newCommunity)
        			.then(response => {
        				this.state.comms.all = response.data.allComms;
    					this.state.comms.pending = response.data.pendingComms;
    					this.state.comms.managed = response.data.managedComms;
    					this.state.comms.member = response.data.memberComms;
    					this.state.comms.interesting = response.data.interestingComms;
    					this.state.comms.popular = response.data.popularComms;
    					
    					$('#x_button').trigger('click');
    					this.clearCreate();
    					
    					let params = $.param({
   			              userid: this.$store.currentUser.userid,
   			              eventid: EVENTS.CREATE_COMMUNITY,
   			            });

   			            axios.get(storage_getURL('API_GATEWAY_STORAGE') + '/api-proxy/achievements/api/gamification?' + params)
 			            .then(response => {
 			            	gamificationToast(this, response);
 			            	this.$dailyGoalBus.$emit('points');
 			            });
    					
        			});
        		} else {
        			$('#createCommForm').addClass('was-validated');
        			$('#no_name').show();
        			
        		}
        	},
        	
        	join(id) {
        		axios.get(getCommunityApiUrl("API_GATEWAY_STORAGE") + "/communities/join/" + id)
        			.then(response => {
        				this.state.comms.all = response.data.allComms;
    					this.state.comms.pending = response.data.pendingComms;
    					this.state.comms.managed = response.data.managedComms;
    					this.state.comms.member = response.data.memberComms;
    					this.state.comms.interesting = response.data.interestingComms;
    					this.state.comms.popular = response.data.popularComms;
    					
    					let params = $.param({
     			              userid: this.$store.currentUser.userid,
     			              eventid: EVENTS.JOIN_COMMUNITY,
     			            });

     			            axios.get(storage_getURL('API_GATEWAY_STORAGE') + '/api-proxy/achievements/api/gamification?' + params)
   			            .then(response => {
   			            	gamificationToast(this, response);
   			            	this.$dailyGoalBus.$emit('points');
   			            });
        			});
        	},
        	
        	decline(id) {
        		axios.get(getCommunityApiUrl("API_GATEWAY_STORAGE") + "/communities/decline/" + id)
    			.then(response => {
    				this.state.comms.all = response.data.allComms;
					this.state.comms.pending = response.data.pendingComms;
					this.state.comms.managed = response.data.managedComms;
					this.state.comms.member = response.data.memberComms;
					this.state.comms.interesting = response.data.interestingComms;
					this.state.comms.popular = response.data.popularComms;
					
    			});
        	},
        	
        	leave(id) {
        		axios.get(getCommunityApiUrl("API_GATEWAY_STORAGE") + "/communities/leave/" + id)
	    			.then(response => {
	    				this.state.comms.all = response.data.allComms;
    					this.state.comms.pending = response.data.pendingComms;
    					this.state.comms.managed = response.data.managedComms;
    					this.state.comms.member = response.data.memberComms;
    					this.state.comms.interesting = response.data.interestingComms;
    					this.state.comms.popular = response.data.popularComms;
    					
	    			});
        	},
        	
        	manageComm(id) {
                location.href='/community/' + id;
            },
            
            handleKeywordChanged(e) {
                this.state.newCommunity.keywords = e;
                //this.$forceUpdate();
            }, 
            
            clearCreate() {
            	this.state.newCommunity.privacy = "Public";
            	this.state.newCommunity.communityName = "";
            	this.state.newCommunity.keywords = [];
            	this.state.newCommunity.description = "";
            	$('#createCommForm').removeClass('was-validated');
                $('#createCommForm').addClass('needs-validated');
                $('#no_name').hide();
            },
            
            handleEnter(e) {
            	e.preventDefault();
            },
            
            handleSearch(e) {
            	
            	if(this.state.searchString === "") {
            		this.state.foundComms = [];
            	} else {
            		
	            	let params = $.param({
	            		query: this.state.searchString,
	            		//selectedLanguage: this.state.selectedLanguage
	            	});
	            	axios.get(getCommunityApiUrl("API_GATEWAY_STORAGE") + "/communities/search?" + params)
	            	.then(response => {
	                	if (response.status == 204) {
	                		this.state.foundComms = [];
	                		return;
	                    }
	                    this.state.foundComms = response.data.foundComms;
	
	                });
	            }	
            }
        }
    }

</script>

<style scoped>

	@import url("../../css/main.css");
	@import url("../../css/profiles.css");
	@import url("../../css/community.css");
	@import url("../../css/courses.css");

</style>