<template>
	<cookie-law theme="stimeyTheme"
	            position="bottom"
	            buttonText="Got It!"
	            message="This website uses cookies to ensure you get the best experience on our website.">
	</cookie-law>
</template>

<script>
  import CookieLaw from 'vue-cookie-law';

  export default {
    name: 'CookieMessage',
    components: {
      CookieLaw,
    },
    data: function() {
      return {};
    },
  };
</script>

<style scoped>

</style>