<template>
  <div>
    <!--The middle Contents -->
    <div>
      <div class="card">
        <div class="card-header pl-0 pr-0 pb-0">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link-s active"
                id="community-tab"
                data-toggle="tab"
                href="#community-overview"
                role="tab"
                data-controls="community-overview"
                aria-selected="true"
              >
                <h5>{{ $t('creativityTest.creativity') }}</h5>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="tab-content mt-3">
        <!--Tab of my missions-->
        <div class="tab-pane fade show active" id="community-overview" role="tabpanel" aria-labelledby="community-tab">
          <!--Pending Invatations Missions - Courses-->
          <!--If there is no invitation, this block will be hidden.-->
          <div class="card mt-3">
            <div class="card-body text-left">
              <div class="row">
                <div class="age">
                  <h1 id="selectAge">{{ $t('creativityTest.selectAge') }}</h1>
                  <div class="select">
                    <!--  select v-model="state.lang" id="lang">            
						                    <option value="de" selected><a href="&lang=de">Deutsch</a></option>
						                    <option value="en"><a href="&lang=en">English</a></option>
						                    <option value="es"><a href="&lang=es">Español</a></option>
						                    <option value="fi"><a href="&lang=fi">Suomalainen</a></option>
						                    <option value="gr"><a href="&lang=gr">Greece</a></option>
						                    <option value="ru"><a href="&lang=ru">Русский</a></option>                
						                </select> -->

                    <select v-model="age" id="age">
                      <option value="10-12" selected><a href="&age=10-12">10-12</a></option>
                      <option value="13-15"><a href="&age=13-15">13-15</a></option>
                      <option value="16-18"><a href="&age=16-18">16-18</a></option>
                    </select>

                    <select v-model="state.gender" id="gender">
                      <option value="male">M</option>
                      <option value="female" selected>F</option>
                    </select>
                    <button href="theTask" class="nextPage">{{ $t('creativityTest.next') }}</button>
                  </div>

                  <div v-if="state.username === 'teacher'">
                    <button @click="downloadData">Download Data</button>
                  </div>
                </div>
                <div class="theTask">
                  <h1 id="now">{{ $t('creativityTest.describe1') }}</h1>
                  <button href="limitations" class="nextPage center">{{ $t('creativityTest.next') }}</button>
                </div>
                <div class="limitations">
                  <h1 id="Describe"></h1>
                  <p class="question">{{ question1 }}</p>
                  <div v-for="find in state.finds">
                    <p><input v-model="find.answer" class="0" type="text" /></p>
                  </div>
                  <button @click="addFind">+</button>
                  <!-- 						                <div class="question-block"> -->
                  <!-- 						                    <p><input class="0" type="text"></p> -->
                  <!-- 						                </div> -->
                  <!-- 						                <button class="plus">+</button> -->
                  <button href="how-to-fix" class="nextPage bottom">{{ $t('creativityTest.next') }}</button>
                  <p class="timer"></p>
                </div>

                <div class="how-to-fix">
                  <h1 id="shortcomings"></h1>
                  <p class="question">{{ question1 }}</p>
                  <div class="how-to-fix-main">
                    <div v-for="find in state.finds">
                      <p>{{ find.answer }}</p>
                      <div v-for="sugg in find.suggestions">
                        <p><input v-model="sugg.value" class="0" type="text" /></p>
                      </div>
                      <button @click="addSugg(find)">+</button>
                    </div>
                  </div>
                  <button href="theTask" @click="store" class="nextPage bottom">{{ $t('creativityTest.next') }}</button>
                  <p class="timer"></p>
                </div>

                <div class="succes">
                  <h1 id="Thanks">{{ $t('creativityTest.thanks') }}</h1>
                  <button id="reload" class=" center">{{ $t('creativityTest.reload') }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="display: none" id="describe1" v-model="state.none.describe1">{{ $t('creativityTest.describe1') }}</div>
    <div style="display: none" id="shortcomings1" v-model="state.none.shortcomings1">
      {{ $t('creativityTest.shortcomings1') }}
    </div>
    <div style="display: none" id="describe2" v-model="state.none.describe2">{{ $t('creativityTest.describe2') }}</div>
    <div style="display: none" id="shortcomings2" v-model="state.none.shortcomings2">
      {{ $t('creativityTest.shortcomings2') }}
    </div>

    <div style="display: none" id="q1_1" v-model="state.none.question1_1">{{ $t('creativityTest.question1_1') }}</div>
    <div style="display: none" id="q1_2" v-model="state.none.question1_2">{{ $t('creativityTest.question1_2') }}</div>
    <div style="display: none" id="q1_3" v-model="state.none.question1_3">{{ $t('creativityTest.question1_3') }}</div>
    <div style="display: none" id="q2_1" v-model="state.none.question2_1">{{ $t('creativityTest.question2_1') }}</div>
    <div style="display: none" id="q2_2" v-model="state.none.question2_2">{{ $t('creativityTest.question2_2') }}</div>
    <div style="display: none" id="q2_3" v-model="state.none.question2_3">{{ $t('creativityTest.question2_3') }}</div>
  </div>
</template>

<script>
import { getResourceEndpoint } from '../../js/global';
//import jsPDF from 'jspdf';

export default {
  name: 'CreativityTest',

  created() {
    //console.log(this.items);
  },

  data: function() {
    return {
      state: {
        //lang: "de",
        userid: this.$store.currentUser.userid,
        username: this.$store.currentUser.username,

        gender: '',
        finds: [
          {
            answer: '',
            suggestions: []
          }
        ],
        counter: 0,

        firstfinds: [],

        json: null,

        none: {}
      },
      age: '',
      question1: '',
      question2: ''
    };
  },
  created() {},

  methods: {
    addFind: function() {
      this.state.finds.push({ answer: '', suggestions: [] });
    },

    addSugg: function(e) {
      e.suggestions.push({ value: '' });
    },
    store() {
      if (this.state.counter == 0) {
        this.state.firstfinds = this.state.finds;
        this.state.finds = [];
        this.question1 = this.question2;

        this.state.counter++;
      } else {
        var params = {
          //'lang': this.state.lang,
          age: this.age,
          gender: this.state.gender,
          first: this.state.firstfinds,
          second: this.state.finds
        };

        axios.post(getResourceEndpoint('API_GATEWAY_STORAGE') + '/creativity/', params).then(response => {});
      }
    },

    downloadData() {
      axios.get(getResourceEndpoint('API_GATEWAY_STORAGE') + '/create/').then(response => {
        var filename = 'CreativityTestData1.csv';
        var text = 'Date;Age;Gender;Question 1;Question 2;\r\n';

        for (let i = 0; i < response.data.length; i++) {
          //text = text.concat(response.data[i]);

          var id = response.data[i].userid;
          //var lang = response.data[i].lang;
          var age = response.data[i].age;
          var gender = response.data[i].gender;
          var first = response.data[i].first;
          var second = response.data[i].second;
          var date = response.data[i].date;
          var newdate = new Date(date).toISOString();

          var f = '';
          var s = '';

          for (let j = 0; j < first.length; j++) {
            f = f.concat('Answer ' + (j + 1) + ': ' + first[j].answer + ' -> ');
            for (let l = 0; l < first[j].suggestions.length; l++) {
              f = f.concat('Suggestion ' + (l + 1) + ': ' + first[j].suggestions[l].value + ', ');
            }
          }
          //f = f.concat(";");

          for (let k = 0; k < second.length; k++) {
            s = s.concat('Answer ' + (k + 1) + ': ' + second[k].answer + ' -> ');
            for (let m = 0; m < second[k].suggestions.length; m++) {
              s = s.concat('Suggestion ' + (m + 1) + ': ' + second[k].suggestions[m].value + ', ');
            }
          }
          //s = s.concat(";");

          text = text.concat(newdate + ';' + age + ';' + gender + ';' + f + ';' + s + ';\r\n');
        }

        var element = document.createElement('a');
        element.setAttribute('href', 'data:text/csv;charset=utf-8,' + encodeURIComponent(text));
        element.setAttribute('download', filename);

        element.style.display = 'none';
        document.body.appendChild(element);

        element.click();

        document.body.removeChild(element);

        // 		    	let filename = 'CreativityTestData.pdf';
        // 	            let xhr = new XMLHttpRequest();
        // 	            xhr.open("GET", getResourceEndpoint("API_GATEWAY_STORAGE") + "/create/");
        // 	            xhr.responseType = 'arraybuffer';
        // 	            xhr.addEventListener('load', function () {
        // 	                if (xhr.status === 200) {
        // 	                    let a = document.createElement('a');
        // 	                    let url = window.URL.createObjectURL(new Blob([xhr.response]));

        // 	                    a.href = url;
        // 	                    a.download = filename;
        // 	                    a.click();
        // 	                    window.URL.revokeObjectURL(url);
        // 	                }
        // 	            });
        // 	            xhr.send();
      });
    }
  },
  watch: {
    age: function(newval, oldval) {
      if (newval == '10-12') {
        this.question1 = $('#q1_1').text();
        this.question2 = $('#q2_1').text();
      } else if (newval == '13-15') {
        this.question1 = $('#q1_2').text();
        this.question2 = $('#q2_2').text();
      } else {
        this.question1 = $('#q1_3').text();
        this.question2 = $('#q2_3').text();
      }
    }
  },
  mounted() {
    //this.question1 = $('#q1_1').text();
    //this.question2 = $('#q2_1').text();

    (function($) {
      var dataTime1 = '300',
        dataTime2 = '600',
        //lang = "de",
        age = '10-12',
        gender = 'female',
        dataObject = 'ein Ball',
        dataAction = 'das Bett machen',
        dataObjectId = '44',
        dataActionId = '45',
        dataAge = '10-12';

      // $(window).on('load', function() {
      //     $("#preload").animate({
      //         opacity: '0',
      //     }, 1000);
      //     setTimeout(function() {
      //         $("#preload").css("display", "none");
      //     }, 1000);
      // });

      var $gender = $('select#gender').val();
      $(document).on('change', 'select#gender', function() {
        $gender = $(this)
          .find('option:selected')
          .val();
      });

      // 		    function changeSelectAge() {
      // 		        $(document).on('change', 'select#age', function() {
      // 		            var val = $(this).find('option:selected').val();
      // 		            let stringSome = document.location.href;
      // 		            if (stringSome.indexOf('?') >= 0) {
      // 		                if (stringSome.indexOf("age=") >= 0) {
      // 		                    let newString = stringSome.replace('age=' + age, 'age=' + val);
      // 		                    var url = newString;
      // 		                } else {
      // 		                    var url = document.location.href + "&age=" + val;
      // 		                }
      // 		            } else {
      // 		                var url = document.location.href + "?age=" + val;
      // 		            }
      // 		            document.location = url;
      // 		        });
      // 		    }
      // 		    changeSelectAge();

      // 		    function changeLanguage() {
      // 		        $(document).on('change', 'select#lang', function() {
      // 		            let val = $(this).find('option:selected').val();
      // 		            let stringSome = document.location.href;
      // 		            if (stringSome.indexOf('?') >= 0) {
      // 		                if (stringSome.indexOf('lang=') >= 0) {
      // 		                    let newString = stringSome.replace('lang=' + lang, 'lang=' + val);
      // 		                    var url = newString;
      // 		                } else {
      // 		                    var url = document.location.href + "&lang=" + val;
      // 		                }
      // 		            } else {
      // 		                var url = document.location.href + "?lang=" + val;
      // 		            }
      // 		            document.location = url;
      // 		        });
      // 		    }
      // 		    changeLanguage();

      // 		    function changeGender() {
      // 		        $(document).on('change', 'select#gender', function() {
      // 		            let val = $(this).find('option:selected').val();
      // 		            let stringSome = document.location.href;
      // 		            if (stringSome.indexOf('?') >= 0) {
      // 		                if (stringSome.indexOf('gender=') >= 0) {
      // 		                    let newString = stringSome.replace('gender=' + gender, 'gender=' + val);
      // 		                    var url = newString;
      // 		                } else {
      // 		                    var url = document.location.href + "&gender=" + val;
      // 		                }
      // 		            } else {
      // 		                var url = document.location.href + "?gender=" + val;
      // 		            }
      // 		            document.location = url;
      // 		        });
      // 		    }
      // 		    changeGender();

      function langshooce(lang) {
        // 		    	$('.nextPage').text("Weiter");
        // 		    	$('.succes p').text("Neustarten");
        // 		    	$('#selectAge').text("Alter");
        // 		    	$('#now').text("Du wirst gleich mehrere Aufgaben bekommen. Jede Aufgabe hat ein Zeitlimit. Bist du bereit?");
        // 		    	$('#Thanks').text("DANKE!");
        // 		    	$('#reload').text("Neustarten");
        // 		        $.getJSON("de.json", function(data) {
        // 		            $.each(data, function(key, val) {
        // 		                if (key == 'Next')
        // 		                    $('.nextPage').text(val);
        // 		                if (key == 'Thanks')
        // 		                    $('.succes p').text(val);
        // 		                if (key == 'selectAge')
        // 		                    $('#selectAge').text(val);
        // 		                if (key == 'now')
        // 		                    $('#now').text(val);
        // 		                if (key == 'Thanks')
        // 		                    $('#Thanks').text(val);
        // 		                if (key == 'reload')
        // 		                    $('#reload').text(val);
        // 		            });
        // 		        });
      }

      let flagExit = 0,
        flagQestion = 0,
        timerOne,
        timerTwo;

      function remove() {
        flagQestion = 0;
        $('.question-block').empty();
        $('.question-block').append('<p><input class="' + flagQestion + '" type="text"></p>');
        $('.how-to-fix-main').empty();
      }

      function exitBlock() {
        $('.age').css('display', 'none');
        $('.limitations').css('display', 'none');
        $('.theTask').css('display', 'none');
        $('.how-to-fix').css('display', 'none');
      }

      // 		    function save(id) {
      // 		        var $dataAge = $('select#age').val();
      // 		        let array = {};
      // 		        array['problem'] = [];
      // 		        array['id'] = id;
      // 		        array['gender'] = $gender;
      // 		        array['age'] = $dataAge;
      // 		        array['lang'] = lang;
      // 		        $('.how-to-fix-block').each(function() {
      // 		            let problemName = $(this).find('.quest').text(),
      // 		                listProblem = [];
      // 		            $(this).find('.how-to-fix-block-list p').each(function() {
      // 		                listProblem.push({
      // 		                    answer: $(this).find('input').val(),

      // 		                });
      // 		            });
      // 		            array['problem'].push({
      // 		                problemName: problemName,
      // 		                problemList: listProblem
      // 		            });
      // 		        });
      // 		        $.ajax({
      // 		            type: "post",
      // 		            url: "/save-problem.php",
      // 		            data: array,
      // 		            success: function(data) {
      // 		                console.log(data);
      // 		            }
      // 		        });
      // 		    }

      function nextPage(x) {
        clearTime();
        flagExit++;
        console.log(flagExit);
        if (flagExit >= 7) {
          //save(dataActionId);
          exitBlock();
          $('.succes').css('display', 'block');
        } else {
          if (flagExit == 4) {
            //$('.question').text(dataAction);
            //save(dataObjectId);
            remove();
          }
          if (flagExit == 2) {
            var one = $('#describe1').text();
            var two = $('#shortcomings1').text();

            $('#Describe').text(one);
            $('#shortcomings').text(two);

            //$('#Describe').text("Nenne innerhalb des Zeitlimits so viele Mängel, Unzulänglichkeiten und Nachteile des gegebenen Objektes, wie du kannst.");
            //$('#shortcomings').text("Wie können wir dies verbessern? (spezifiziere innerhalb des Zeitlimits so viele Alternativen, wie du kannst)");

            // 		                $.getJSON('languages/' + lang + '.json', function(data) {
            // 		                    $.each(data, function(key, val) {
            // 		                        if (key == 'Describe1')
            // 		                            $('#Describe').text(val);
            // 		                        if (key == 'shortcomings1')
            // 		                            $('#shortcomings').text(val);
            // 		                    });
            // 		                });
          }
          if (flagExit == 5) {
            var one = $('#describe2').text();
            var two = $('#shortcomings2').text();

            $('#Describe').text(one);
            $('#shortcomings').text(two);

            //$('#Describe').text("Nenne innerhalb des Zeitlimits so viele Mängel, Unzulänglichkeiten und Nachteile des gegebenen Prozesses, wie du kannst.");
            //$('#shortcomings').text("Wie können wir dies verbessern? (spezifiziere innerhalb des Zeitlimits so viele Alternativen, wie du kannst)");
            // 		                $.getJSON('languages/' + lang + '.json', function(data) {
            // 		                    $.each(data, function(key, val) {
            // 		                        if (key == 'Describe2')
            // 		                            $('#Describe').text(val);
            // 		                        if (key == 'shortcomings2')
            // 		                            $('#shortcomings').text(val);
            // 		                    });
            // 		                });
          }

          if (flagExit == 2 || flagExit == 5) {
            timer(dataTime1 * 1000);
            //$('.plus').css('display', 'block');
            //$('.question-block').css('display', 'block');
            //$('.how-to-fix-block-list').css('display', 'block');
          }
          if (flagExit == 3 || flagExit == 6) {
            timer(dataTime2 * 1000);
          }

          let href = $(x).attr('href');
          exitBlock();

          $('.' + href).css('display', 'block');
        }
      }

      function clearTime() {
        clearInterval(timerOne);
        clearTimeout(timerTwo);
      }

      function timer(time) {
        $('.timer').empty;
        let timer = time / 1000,
          seconds = Math.floor(timer % 60),
          minutes = Math.floor((timer / 60) % 60);
        if (seconds > 9) $('.timer').text(minutes + '.' + seconds);
        else $('.timer').text(minutes + '.0' + seconds);
        timerOne = setInterval(function() {
          timer--;
          seconds = Math.floor(timer % 60);
          minutes = Math.floor((timer / 60) % 60);
          if (seconds > 9) $('.timer').text(minutes + '.' + seconds);
          else $('.timer').text(minutes + '.0' + seconds);
          if (timer <= 0) {
            clearTime();
          }
        }, 1000);
        timerTwo = setTimeout(function() {
          $('.plus-how-to-fix').remove();
          $('.plus').css('display', 'none');
          $('.question-block input[type=text]').attr('disabled', 'disabled');
          $('.how-to-fix-block-list input[type=text]').attr('disabled', 'disabled');
        }, time - 1);
      }
      $('.nextPage').on('click', function() {
        nextPage(this);
      });

      $('.plus').on('click', function() {
        var flagBrea = 1;
        $('.question-block p input').each(function(index) {
          if ($(this).val() == '') flagBrea = 0;
        });
        if (flagBrea) {
          flagQestion++;
          $('.question-block').append('<p><input class="' + flagQestion + '" type="text"></p>');
        }
      });

      $(document).on('click', '.plus-how-to-fix', function() {
        var flagBrea = 1;
        $(this)
          .siblings('.how-to-fix-block-list')
          .children()
          .children('input')
          .each(function(index) {
            if ($(this).val() == '') flagBrea = 0;
          });
        if (flagBrea) {
          $(this)
            .siblings('.how-to-fix-block-list')
            .append('<p><input type="text"></p>');
        }
      });

      $('button[href=how-to-fix]').on('click', function() {
        for (let i = 0; i <= flagQestion; i++) {
          let question = '';
          question = $('.question-block input[class=' + i + ']').val();
          if (question != '') {
            //$('.how-to-fix-main').append('<div class="how-to-fix-block"><p  class="' + i + ' quest">' + question + '</p><div class="how-to-fix-block-list" id="list' + i + '"><p><input type="text"></p></div><button class="plus-how-to-fix">+</button></div>');
          }
        }
      });
      $('#reload').on('click', function() {
        location.reload();
      });
      //langshooce(lang);
    })(jQuery);
  }
};
</script>

<style scoped>
@import '../../css/lab.css';
@import '../../css/profiles.css';
@import '../../css/community.css';
@import '../../css/courses.css';
@import '../../css/main.css';

#preload {
  display: block;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: #ffffff url(http://hello-site.ru//main/images/preloads/tail-spin.svg) center center no-repeat; */
  background-size: 41px;
}

.age {
  min-width: 600px;
}

.limitations,
.limitations2,
.succes,
.how-to-fix,
.how-to-fix2,
.theTask,
.theTask2 {
  width: 75%;
}

.center {
  margin: 0 auto;
}

.limitations,
.limitations2,
.succes,
.how-to-fix,
.how-to-fix2,
.theTask,
.theTask2 {
  display: none;
}

.select {
  display: flex;
  align-items: center;
}

p {
  color: #212529;
}

main {
  width: 100%;
  min-height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

select {
  width: 30%;
  height: 40px;
  margin-bottom: 15px;
  color: #212529;
  border-radius: 3px;
  padding-left: 15px;
  border: 1px solid #212529;
  font-size: 14px;
  margin-right: 20px;
}

option {
  background: white;
  height: 35px;
}

select option:hover {
  color: #212529;
  background: #eeeeee !important;
}

select:focus {
  outline-color: #181a1d;
}

button {
  cursor: pointer;
  color: #fff;
  background-color: #90d400;
  border: 0px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  font-size: 18px;
  width: 30%;
  max-width: 1346px;
  height: 40px;
  transition: 0.5s;
}

button:hover {
  background-color: #75ac00;
}

input {
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
  color: #212529;
  border-radius: 3px;
  padding-left: 15px;
  border: 1px solid #212529;
  font-size: 14px;
}

input:focus {
  outline-color: #181a1d;
}

h1 {
  color: #212529;
  font-size: 1.5vw;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.question {
  color: #212529;
  font-size: 1vw;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.quest {
  color: #212529;
  font-size: 1vw;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.timer {
  width: 4%;
  color: #212529;
  font-size: 1vw;
  text-transform: uppercase;
  position: absolute;
  top: 1%;
  right: 1%;
}

.bottom {
  margin-top: 40px;
}
</style>