<template>
    <div>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <!--Logo and EU-Logo : Promostimey-->
                    <div class="col-lg-3 col-xs-12">
                        <ul>
                            <li>
                                <span class="logo">
                                    <img alt="STIMEY-Logo" src="../../img/Logo-STIMEY.png" width="200">
                                </span>
                            </li>
                            <li>
                                <p class="pl-2 mt-1">
                                    {{ $t('home.stimey_learning2') }}
                                </p>
                            </li>
                            <li>
                                <a class="link pl-2" href="http://promostimey.uca.es/?lang=de" target="_blank">
                                    {{ $t('home.project_website') }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--Contact, support discussion, blog, radio-->
                    <div class="col-lg-3 col-xs-12">
                        <ul>
                            <li class="mt-2"> <span class="logo"><img alt="EU-Logo" src="../../img/eu-logo-text.jpg" width="200"></span> </li>
                            <li> <p class="pl-2 pr-3 mt-1">{{ $t('home.project_funding') }}</p> </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-xs-12 mt-4">
                        <a href="mailto:info@stimey.eu">
                            <h5>{{ $t('home.contact_us') }}</h5>
                        </a>
                        <a href="/community/5d822f175b1fac0001ac6ceb">
                            <h5>{{ $t('home.support_discussion') }}</h5>
                        </a>
                        <a href="/imprint">
                            <h5>{{ $t('home.imprint') }}</h5>
                        </a>
                        <a href="/disclaimer">
                            <h5>{{ $t('home.disclaimer') }}</h5>
                        </a>
                        <a href="/privacyPolicy">
                            <h5>{{ $t('home.privacy') }}</h5>
                        </a>
                    </div>

                    <div class="col-lg-3 col-xs-12 mt-4">
                        <h3 class="mb-1">{{ $t('home.media_social') }}</h3>
                        <ul class="d-inline-flex m-0">
                            <li>
                                <a class="btn btn-circle" href="https://www.facebook.com/StimeyOn/" target="_blank" title="Facebook">
                                    <img alt="Facebook" class="clearfix" src="../../img/ICON_Facebook_2.png">
                                </a>
                            </li>
                            <li>
                                <a class="btn btn-circle" href="https://twitter.com/StimeyOn" target="_blank" title="Twitter">
                                    <img alt="Twitter" class="clearfix" src="../../img/ICON_Twitter_2.png">
                                </a>
                            </li>
                            <li>
                                <a class="btn btn-circle" href="https://www.instagram.com/stimeyon/" target="_blank" title="Instagram">
                                    <img alt="Instagram" class="clearfix" src="../../img/ICON_Instagram_2.png">
                                </a>
                            </li>
                            <li>
                                <a class="btn btn-circle" href="https://www.linkedin.com/company/stimey/" target="_blank" title="Linkedin">
                                    <img alt="Linkedin" class="clearfix" src="../../img/ICON_Linked-In.png">
                                </a>
                            </li>
                            <li>
                                <a class="btn btn-circle" href="https://www.youtube.com/channel/UCq3Bu2ANEoBLyeyk99KzBjw" target="_blank" title="Youtube">
                                    <img alt="Youtube" class="clearfix" src="../../img/ICON_Youtube_2.png">
                                </a>
                            </li>
                        </ul>
                        <!--Multi languages-->
                        <h3 class="mb-1 mt-4">{{ $t('home.language') }}</h3>
                        <ul class="d-inline-flex m-0">
                            <li>
                                <a class="btn btn-circle" href="#" title="English" @click="language('en')">
                                    <img alt="English" class="clearfix" src="../../img/ICON_Language_English.png">
                                </a>
                            </li>
                            <li>
                                <a class="btn btn-circle" href="#" title="Español" @click="language('es')">
                                    <img alt="Español" class="clearfix" src="../../img/ICON_Language_Spanish.png">
                                </a>
                            </li>
                            <li>
                                <a class="btn btn-circle" href="#" title="Deutsch" @click="language('de')">
                                    <img alt="Deutsch" class="clearfix" src="../../img/ICON_Language_German.png">
                                </a>
                            </li>
                            <li>
                                <a class="btn btn-circle" href="#" title="Русский" @click="language('ru')">
                                    <img alt="Русский" class="clearfix" src="../../img/ICON_Language_Russian.png">
                                </a>
                            </li>
                            <li>
                                <a class="btn btn-circle" href="#" title="Ελληνικά" @click="language('gr')">
                                    <img alt="Ελληνικά" class="clearfix" src="../../img/ICON_Language_Greek.png">
                                </a>
                            </li>
                            <li>
                                <a class="btn btn-circle" href="#" title="Suomi" @click="language('fi')">
                                    <img alt="Suomi" class="clearfix" src="../../img/ICON_Language_Finnish.png">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <div class="footer-bottom">
            <p class="m-0 text-center text-white">{{ $t('home.copyright') }}</p>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'Footer',
        methods: {
            language(value) {
                axios.post("/language?language="+value)
                    .then(response => {
                        this.$i18n.i18next.changeLanguage(value);
                    })
                    .catch(error => {
                        console.log(error.data);
                    });
            }
        }
    }

</script>

<style>
</style>
