<template>
  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
      <!--LOGO-->
      <router-link
        to="/activitystream"
        class="navbar-brand"
        style="color:rgba(245, 245, 245, 1); font-size: small; font-family:Roboto;"
      >
        <img src="../../img/Logo-STIMEY.png" height="34" style="vertical-align:text-top" />
        {{ $t('home.beta') }}
      </router-link>

      <!--Responsive Icon: For APP Version and screen < 990px-->
      <button
        class="navbar-toggler navbar-toggler-right"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!--Nav Contents-->
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <!--Search Input-->
          <li class="nav-item">
            <div class="input-group">
              <input type="text" class="form-control" :placeholder="$t('home.global_search')" />
              <div class="input-group-append">
                <button class="btn btn-default" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </li>

          <!--Avatar - go to Profiles page-->
          <li class="nav-item">
            <router-link
              :to="`/profiles/${this.$store.currentUser.userid}`"
              class="nav-link btn btn-nav"
              :title="$t('home.profile')"
            >
              <img
                width="32"
                height="32"
                v-if="$store.profile.avatarImageId != null"
                :src="getAvatarImageUrl"
                class="clearfix"
                alt="avatar"
              />
              <img v-else src="../../img/user.png" class="clearfix" alt="avatar" />
              <!--<span class="nav-text">Username</span>-->
            </router-link>
          </li>

          <!--Go to STIMEYverse-->
          <!--
                    <li class="nav-item">
                      <a class="nav-link btn btn-nav" href="#" title="Stimeyverse">
                        <img src="../../img/ICON_STIMEYVERSE_circle.png" class="clearfix" alt="Stimeyverse">
                        <span class="nav-text">StimeyVerse</span>
                      </a>
                    </li>
                    -->
          <!--Go to Robot Homepage-->
          <li class="nav-item">
            <router-link to="/robot" class="nav-link btn btn-nav" title="Robot">
              <img src="../../img/ICON_ROBOT_circle.png" class="clearfix" :alt="$t('home.stimeyRobot')" />
            </router-link>
          </li>
          <!--Radio-->
          <li class="nav-item">
            <router-link to="/radio" class="nav-link btn btn-nav" title="Radio">
              <img class="clearfix" src="../../img/ICON_RADIO_circle.png" :alt="$t('home.stimeyRadio')" />
            </router-link>
          </li>
          <!--Chat Tool-->
          <li class="nav-item">
            <router-link to="/chat" class="nav-link btn btn-nav" :title="$t('home.messages')">
              <div v-if="unreadMessagesCount == 0">
                <img src="../../img/ICON_CHAT_circle.png" class="clearfix w-100" :alt="$t('home.unreadMessages')" />
              </div>
              <div id="ex4" v-else>
                <span class="p1 fa-stack has-badge" :data-count="unreadMessagesCount">
                  <img src="../../img/ICON_CHAT_circle.png" class="clearfix w-100" :alt="$t('home.unreadMessages')" />
                </span>
              </div>
            </router-link>
          </li>

          <!--System Notification-->
          <li class="nav-item dropdown">
            <!--<a class="nav-link btn btn-nav" href="#" title="Notification">-->
            <a
              class="nav-link btn btn-nav"
              id="navbarDropdownNotifications"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              :title="$t('home.notifications')"
            >
              <div v-if="notificationCount == 0">
                <img src="../../img/ICON_NOTIFICATIONS_circle.png" class="clearfix w-100" />
              </div>

              <div v-else id="ex3">
                <span class="p1 fa-stack has-badge" :data-count="notificationCount">
                  <img src="../../img/ICON_NOTIFICATIONS_circle.png" class="clearfix w-100" />
                </span>
              </div>
            </a>
            <div
              style="min-width: 500px;"
              class="dropdown-menu dropdown-menu-right"
              aria-labelledby="navbarDropdownNotifications"
            >
              <!--<a class="dropdown-item" href="/notifications">All Notifications</a>-->
              <div style="text-align:center; height: 50px;">
                <a style="font-size: 16px;" class="link font-weight-bold" href="/notifications">Show all</a>
              </div>
              <hr />
              <Notifications
                :fetch-only-new="true"
                :use-callback="true"
                @onRetrieveNotifications="onRetrieveNotifications"
              ></Notifications>

            </div>
          </li>

          <!--Multi-Language-->
          <li class="nav-item dropdown">
            <a
              class="nav-link btn btn-nav"
              href="#"
              id="navbarDropdownLanguages"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              :title="$t('home.changeLanguage')"
            >
              <img src="../../img/ICON_LANGUAGE.png" class="clearfix" alt="languages" />
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownLanguages">
              <a class="dropdown-item" href="#" @click="language('en')">English</a>
              <a class="dropdown-item" href="#" @click="language('es')">Español</a>
              <a class="dropdown-item" href="#" @click="language('de')">Deutsch</a>
              <a class="dropdown-item" href="#" @click="language('ru')">Русский</a>
              <a class="dropdown-item" href="#" @click="language('gr')">Ελληνικά</a>
              <a class="dropdown-item" href="#" @click="language('fi')">Suomi</a>
            </div>
          </li>
          <!--System Setting and Logout-->
          <li class="nav-item dropdown">
            <a
              class="nav-link btn btn-nav"
              href="#"
              id="navbarDropdownSetting"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              :title="$t('home.settings')"
            >
              <img src="../../img/ICON_SETTINGS_circle.png" class="clearfix" alt="setting" />
              <span class="nav-text">Settings</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownSetting">
              <a class="dropdown-item" href="#">{{ $t('home.account_settings') }}</a>
              <!--<a class="dropdown-item" href="setting.html">Pravicy Setting</a>-->
              <hr />
              <a class="dropdown-item" href="#" @click="logout()">{{ $t('home.logout') }}</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
import { storage_getURL } from '../../js/global.js';
import Notifications from './Notifications';

import { chatMessageBus } from '../main';

export default {
  name: 'Header',

  components: {
    Notifications
  },

  computed: {
    getAvatarImageUrl() {
      return `${storage_getURL('FILES')}/api/files/${this.currentProfile.avatarImageId}`;
    },
    currentProfile: function() {
      return this.$store.profile;
    }
  },

  data: function() {
    return {
      //Contains the number of notifications for the hint on the icon
      notificationCount: 0,
      unreadMessagesCount: 0
    };
  },

  created: function() {
    this.timer = setInterval(() => this.fetchUnreadMessagesCount(), 1500);
  },

  methods: {
    //Gets called by the Notifications component to set the number of notifications available
    onRetrieveNotifications(count) {
      this.notificationCount = count;
    },

    fetchUnreadMessagesCount() {
      axios
        .get(storage_getURL('API_GATEWAY_STORAGE') + '/api-proxy/chat/api/chat/get-unread-messages-count')
        .then(response => {
          if (response.status == 200) this.unreadMessagesCount = response.data;
          else this.unreadMessagesCount = 0;
        })
        .catch(error => {
          this.unreadMessagesCount = 0;
        });
    },

    language(value) {
      axios
        .post('/language?language=' + value)
        .then(response => {
          this.$i18n.i18next.changeLanguage(value);
          console.log(this.$i18n.i18next.language);
        })
        .catch(error => {
          console.log(error.data);
        });
    },
    logout() {
      axios
        .post(
          storage_getURL('API_GATEWAY_STORAGE') + '/api-proxy/auth/api/v1/user/language/' + this.$i18n.i18next.language
        )
        .then(response => {
          axios
            .get(storage_getURL('API_GATEWAY_STORAGE') + '/api-proxy/auth/api/v1/logout')
            .then(response => {
              console.log(response.data);
              this.$store.currentUser = null;
              this.$forceUpdate();
              localStorage.removeItem('currentUser');
              localStorage.removeItem('profile');
              this.$router.push('/home');
            })
            .catch(error => {
              console.log(error);
            });
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>

<style>
/*CSS for the notification badge, the number hint*/
#ex3 .fa-stack[data-count]:after {
  position: absolute;
  right: 0%;
  top: 1%;
  content: attr(data-count);
  font-size: 60%;
  padding: 0.6em;
  border-radius: 50%;
  line-height: 0.8em;
  color: white;
  background: rgba(255, 0, 0, 1);
  text-align: center;
  min-width: 1em;
  font-weight: bold;
}
#ex4 .fa-stack[data-count]:after {
  position: absolute;
  right: 0%;
  top: 1%;
  content: attr(data-count);
  font-size: 60%;
  padding: 0.6em;
  border-radius: 50%;
  line-height: 0.8em;
  color: white;
  background: rgba(255, 0, 0, 1);
  text-align: center;
  min-width: 1em;
  font-weight: bold;
}
</style>