<template> <!-- Navigation -->
<div>
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<!--LOGO-->
			<a class="navbar-brand" href="/activitystream" style="color:rgba(245, 245, 245, 1); font-size: small; font-family:Roboto;">
				<img src="../../img/Logo-STIMEY.png" height="34" style="vertical-align:text-top"> Beta
			</a>
		</div>
	</nav>
</div>
</template>

<script>
  export default {
    name: 'HeaderNotFound',
  }
</script>

<style>
</style>
