<template>
  <!-- Navigation before login or sign up -->
  <div>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top nav-fixed-top justify-content-between">
      <!--LOGO: click - stay in SZIMEY-home-->
      <a
        class="navbar-brand ml-5"
        href="/home"
        style="color:rgba(245, 245, 245, 1); font-size: small; font-family:Roboto;"
      >
        <img height="34" src="../../img/Logo-STIMEY.png" style="vertical-align:text-top" />
        Beta
      </a>

      <!--Responsive Icon-->

      <button
        class="navbar-toggler navbar-toggler-right"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!--Nav Contents-->
      <div class="collapse navbar-collapse mr-5" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ml-3">
            <a class="nav-link" href="/login">
              <button class="btn btn-orange w-100" style="width: 120px;" type="button">{{ $t('home.login') }}</button>
            </a>
          </li>

          <li class="nav-item ml-3">
            <a class="nav-link" data-target="#modal-ask-user-age" data-toggle="modal" href="/signup">
              <button class="btn btn-green w-100" style="width: 120px;" type="button">{{ $t('home.sign') }}</button>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!--//////////////////////////////////-->
    <!--//////////////////////////////////-->
    <!--//////Modal Windows///////-->
    <!--//////////////////////////////////-->
    <!--//////////////////////////////////-->

    <!--Modal of ask ages, if user is under 13 years old-->
    <div class="modal fade" id="modal-ask-user-age" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ $t('home.students_join') }}</h5>
            <button class="close" data-dismiss="modal" type="button">{{ $t('home.') }}</button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <h6 class="mb-0">
                  <label for="formBinfoBirthInput">{{ $t('home.are_old') }}</label>
                </h6>
                <input
                  class="form-control mb-1"
                  id="formBinfoBirthInput"
                  type="date"
                  value="2001-01-01"
                  @change="updateAge"
                />
                <small>{{ $t('home.years_parents') }}</small>
              </div>
            </form>

            <hr />
            <h5 class="text-center">{{ $t('home.sign2') }}</h5>

            <ul class="navbar mb-0 text-center">
              <li class="nav-link">
                <a class="btn btn-badges" href="/signup/leader">
                  <img alt="teacher" src="../../img/IconRoleLeader.png" />
                </a>
                <p class="mt-2">{{ $t('login.leader') }}</p>
                <p class="mt-2">{{ $t('login.leader_additional') }}</p>
              </li>
              <li class="nav-link">
                <a class="btn btn-badges" href="/signup/ambassador">
                  <img alt="parent" src="../../img/IconRoleAmbassador.png" />
                </a>
                <p class="mt-2">{{ $t('login.ambassador') }}</p>
                <p class="mt-2">{{ $t('login.ambassador_additional') }}</p>
              </li>
              <li class="nav-link">
                <a class="btn btn-badges" href="/signup/incubator">
                  <img alt="business" src="../../img/IconRoleIncubator.png" />
                </a>
                <p class="mt-2">{{ $t('login.incubator') }}</p>
                <p class="mt-2">{{ $t('login.incubator_additional') }}</p>
              </li>
            </ul>

            <div class="text-center form-group">
              <a href="/signup">
                <button class="btn btn-green w-100" type="button">{{ $t('home.student_sign') }}</button>
              </a>
              <h6 class="m-3 text-muted">
                <a class="link" href="/login">{{ $t('home.account_have') }}</a>
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HeaderDefault',
  data: function() {
    return {};
  },
  methods: {
    updateAge(e) {
      let birthday = new Date(e.target.value);
      let today = new Date();

      let under13 = true;
      if (today.getFullYear() - birthday.getFullYear() == 13) {
        if (today.getMonth() == birthday.getMonth()) under13 = today.getDate() >= birthday.getDate();
        else under13 = today.getMonth() > birthday.getMonth();
      } else under13 = today.getFullYear() - birthday.getFullYear() > 13;

      under13 = !under13;

      console.log('under13:' + under13);
      console.log('birthday:' + e.target.value);

      sessionStorage.setItem('under13', JSON.stringify({ status: under13, birthday: e.target.value }));
    }
  },
  mounted() {
    if (sessionStorage.getItem('under13') === null)
      sessionStorage.setItem('under13', JSON.stringify({ status: false, birthday: '2001-01-01' }));
  }
};
</script>

<style></style>