<template>
  <div class="wrap-home">
    <!--Section 1 : Banners Planets-->
    <section class="section-banners">
      <div class="container-fluid p-0">
        <div id="carouselbanners" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators mt-1">
            <li data-target="#carouselbanners" data-slide-to="0" class="active"></li>
            <li data-target="#carouselbanners" data-slide-to="1"></li>
            <li data-target="#carouselbanners" data-slide-to="2"></li>
          </ol>

          <div class="carousel-inner" role="listbox">
            <!-- Slide 1 - Planet Y Kid, character - Zimbir-->
            <div class="carousel-item h-100 world-y active">
              <img alt="planet" class="d-block img-fluid w-100" src="../../img/Banners-for-Homepage_Planet-Y.png" />
              <div class="carousel-caption carousel-caption-robot d-none d-md-block">
                <h6>
                  {{ $t('home.journey_world') }}
                  <span class="font-weight-bold">{{ $t('home.zimbir') }}</span>
                  {{ $t('home.knowledge_skills') }}
                </h6>
              </div>

              <div class="carousel-caption d-none d-md-block carousel-caption-slogan">
                <h3>{{ $t('home.worlds_technology') }}</h3>
                <!--<h5>{{ $t('home.join') }}</h5>-->
                <button class="btn btn-green w-50" data-target="#modal-ask-user-age" data-toggle="modal" type="button">
                  {{ $t('home.start_exploring') }}
                </button>
              </div>
            </div>

            <!--Slide 2: Planet Crash, character - Sulfur -->
            <div class="carousel-item world-crash h-100">
              <img alt="planet" class="d-block img-fluid w-100" src="../../img/Banners-for-Homepage_Crash-Planet.png" />
              <div class="carousel-caption carousel-caption-robot d-none d-md-block">
                <h6>{{ $t('home.friends_world') }}</h6>
              </div>

              <div class="carousel-caption d-none d-md-block carousel-caption-slogan">
                <h3>{{ $t('home.worlds_technology') }}</h3>
                <!--<h5>{{ $t('home.join') }}</h5>-->
                <button class="btn btn-green w-50" data-target="#modal-ask-user-age" data-toggle="modal" type="button">
                  {{ $t('home.start_exploring') }}
                </button>
              </div>
            </div>

            <!--Slide 3: Planet T - Factory, character: Cyberbot -->
            <div class="carousel-item world-factory h-100">
              <img alt="planet" class="d-block img-fluid w-100" src="../../img/Banners-for-Homepage_Planet-T.png" />
              <div class="carousel-caption carousel-caption-robot d-none d-md-block">
                <h6>
                  {{ $t('home.master_language') }}
                  <span class="font-weight-bold">{{ $t('home.cyberia') }}</span>
                  {{ $t('home.realms_use') }}
                </h6>
              </div>

              <div class="carousel-caption d-none d-md-block carousel-caption-slogan">
                <h3>{{ $t('home.worlds_technology') }}</h3>
                <!--<h5>{{ $t('home.join') }}</h5>-->
                <button class="btn btn-green w-50" data-target="#modal-ask-user-age" data-toggle="modal" type="button">
                  {{ $t('home.start_exploring') }}
                </button>
              </div>
            </div>
			
			<!--Slide 4: Planet T - Factory, character: Cyberbot -->
            <div class="carousel-item world-factory h-100">
              <img alt="planet" class="d-block img-fluid w-100" src="../../img/2021_Banner-EU-STIMEY3.png" />
              <div class="carousel-caption carousel-caption-robot d-none d-md-block">
                <h6>
                   <span onclick="window.location.href='https://www.youtube.com/watch?v=5NWbqMwRjHA';"><span class="font-weight-bold" style="text-decoration:underline" >STIMEY LE</span> Educational Tools were supported and financed by the <span class="font-weight-bold">European Commission</span> to make STEM Education Scientifically Fun.</span>
                </h6>
              </div>

              <div class="carousel-caption d-none d-md-block carousel-caption-slogan">
                <h3 style="color:#ffffff;"><span class="font-weight-bold">STIMEY LE</span> Platform embedded Social Media, Serious Games, Entrepreneurial Tools, STEM Radio and Robotic Artefacts.</h3>
                <!--<h5>{{ $t('home.join') }}</h5>-->
                <button class="btn btn-green w-50" data-target="#modal-ask-user-age" data-toggle="modal" type="button">
                  {{ $t('home.start_exploring') }}
                </button>
              </div>
            </div>
          </div>

          <!--left button and right button for slide-->
          <a class="carousel-control-prev" href="#carouselbanners" role="button" data-slide="prev">
            <i class="fa fa-angle-left fa-4x" aria-hidden="true"></i>
            <span class="sr-only">{{ $t('home.previous') }}</span>
          </a>
          <a class="carousel-control-next" href="#carouselbanners" role="button" data-slide="next">
            <i class="fa fa-angle-right fa-4x" aria-hidden="true"></i>
            <span class="sr-only">{{ $t('home.next') }}</span>
          </a>
        </div>

        <!--slogan: welcome to stimey-->
        <div class="sec-banner-infos">
          <p class="font-weight-bold mb-4">{{ $t('home.worlds_technology') }}</p>
          <!--<h5>{{ $t('home.join') }}</h5>-->
          <button class="btn btn-green btn-sm w-75" data-target="#modal-ask-user-age" data-toggle="modal" type="button">
            {{ $t('home.start_exploring') }}
          </button>
        </div>
      </div>
    </section>

    <!--Section 2: Video - What is STIMEY-->
    <section class="sec-video">
      <div class="container">
        <div class="sec-infos">
          <h2>{{ $t('home.stimey_stem') }}</h2>
          <p class="lead">{{ $t('home.stimey_learning') }}</p>

          <!--Link to Promostimey page-->
          <a class="h5 link" href="http://promostimey.uca.es/?lang=de" target="_blank">
            <p>
              <u>Learn More About Project STIMEY </u>
              <i class="fa fa-angle-double-right"></i>
            </p>
          </a>
          <a class="h5 link" href="/pedagogical_framework.pdf" target="_blank">
            <p>
              <u>Learn More About STIMEY Pedagogical Framework </u>
              <i class="fa fa-angle-double-right"></i>
            </p>
          </a>
        </div>
        <div class="video mt-4 text-center">
          <iframe
            allowfullscreen="true"
            frameborder="0"
            allow="autoplay"
            width="1100"
            height="600"
            src="https://www.youtube.com/embed/KhzN-1CRm64"
          ></iframe>
        </div>
      </div>
    </section>

    <!--Section 3: Features - Why STIMEY-->
    <section class="sec-features">
      <div class="container">
        <div class="sec-infos">
          <h2 class="animated fadeInDownBig">{{ $t('home.stimey') }}</h2>
          <p class="lead">{{ $t('home.stimey_web') }}</p>
        </div>

        <div class="row mt-5 text-center">
          <div class="col">
            <a class="btn btn-rect-md">
              <img alt="robot" class="w-100 clearfix" src="../../img/ICON_ROBOT_square.png" />
            </a>
            <h5 class="mt-3">{{ $t('home.robot_learning') }}</h5>
            <p style="margin-top: 32px;">{{ $t('home.friends_world2') }}</p>
          </div>

          <div class="col">
            <a class="btn btn-rect-md">
              <img alt="Radio" class="w-100 clearfix" src="../../img/ICON_RADIO_square.png" />
            </a>
            <h5 class="mt-3">{{ $t('home.radio_channel') }}</h5>
            <p>{{ $t('home.channel_close') }}</p>
          </div>

          <div class="col">
            <a class="btn btn-rect-md">
              <img alt="serious game" class="w-100 clearfix" src="../../img/ICON_SERIOUS-GAMES_square.png" />
            </a>
            <h5 class="mt-3">{{ $t('home.tools_games') }}</h5>
            <p>{{ $t('home.skills_fun') }}</p>
          </div>

          <div class="col">
            <a class="btn btn-rect-md">
              <img alt="social media" class="w-100 clearfix" src="../../img/ICON_SHARE_square.png" />
            </a>
            <h5 class="mt-3">{{ $t('home.media_tools') }}</h5>
            <p>{{ $t('home.friends_network') }}</p>
          </div>
        </div>
      </div>
    </section>

    <!--Section 4: register-->
    <section class="sec-register text-center">
      <div class="container">
        <h4>
          {{ $t('home.join_start') }}
          <button class="btn btn-green w-25 ml-4" data-target="#modal-ask-user-age" data-toggle="modal" type="button">
            {{ $t('home.sign2') }}
          </button>
        </h4>
      </div>
    </section>

    <!--Section 5: Roles - -->
    <section class="sec-roles">
      <div class="container">
        <div class="sec-infos">
          <h2>{{ $t('home.stimey_world') }}</h2>
          <p class="lead">{{ $t('home.stimey_students') }}</p>
        </div>

        <div class="row mt-5">
          <!--Role Teachers-->
          <div class="col">
            <div class="card card-comm h-100">
              <img alt="Card image cap" class="card-img-top w-100" src="../../img/role-teacher.png" />
              <div class="card-body">
                <a href="/signup/leader">
                  <h5 class="card-title">{{ $t('home.teachers_students') }}</h5>
                </a>
                <p class="card-text">{{ $t('home.guide_students') }}</p>
              </div>
              <div class="card-footer">
                <a href="/signup/leader">
                  <button class="btn btn-green w-100" type="button">{{ $t('home.sign2') }}</button>
                </a>
              </div>
            </div>
          </div>

          <!--Role Parents and Professionals-->
          <div class="col">
            <div class="card card-comm h-100">
              <img alt="Card image cap" class="card-img-top w-100" src="../../img/role-parents.png" />
              <div class="card-body">
                <a href="/signup/ambassador">
                  <h5 class="card-title">{{ $t('home.parents_professionals') }}</h5>
                </a>
                <p class="card-text">{{ $t('home.part_journey') }}</p>
              </div>
              <div class="card-footer">
                <a href="/signup/ambassador">
                  <button class="btn btn-green w-100" type="button">{{ $t('home.sign2') }}</button>
                </a>
              </div>
            </div>
          </div>

          <!--Role organisations-->
          <div class="col">
            <div class="card card-comm h-100">
              <img alt="Card image cap" class="card-img-top w-100" src="../../img/role-business.png" />
              <div class="card-body">
                <a href="/signup/incubator">
                  <h5 class="card-title">{{ $t('home.organizations_future') }}</h5>
                </a>
                <p class="card-text">{{ $t('home.support_growth') }}</p>
              </div>
              <div class="card-footer">
                <a href="/signup/incubator">
                  <button class="btn btn-green w-100" type="button">{{ $t('home.sign2') }}</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--//////////////////////////////////-->
    <!--//////////////////////////////////-->
    <!--//////Modal Windows///////-->
    <!--//////////////////////////////////-->
    <!--//////////////////////////////////-->

    <!--Modal of ask ages, if user is under 13 years old-->
    <div class="modal fade" id="modal-ask-user-age" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ $t('home.students_join') }}</h5>
            <button class="close" data-dismiss="modal" type="button">{{ $t('home.') }}</button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <h6 class="mb-0">
                  <label for="formBinfoBirthInput">{{ $t('home.are_old') }}</label>
                </h6>
                <input class="form-control mb-1" id="formBinfoBirthInput" type="date" />
                <small>{{ $t('home.years_parents') }}</small>
              </div>
            </form>
            <hr />
            <h5 class="text-center">{{ $t('home.sign2') }}</h5>
            <ul class="navbar mb-0 text-center">
              <li class="nav-link">
                <a class="btn btn-badges" href="/signup/leader">
                  <img alt="teacher" src="../../img/IconRoleLeader.png" />
                </a>
                <p class="mt-2">{{ $t('login.leader') }}</p>
                <p class="mt-2">{{ $t('login.leader_additional') }}</p>
              </li>
              <li class="nav-link">
                <a class="btn btn-badges" href="/signup/ambassador">
                  <img alt="parent" src="../../img/IconRoleAmbassador.png" />
                </a>
                <p class="mt-2">{{ $t('login.ambassador') }}</p>
                <p class="mt-2">{{ $t('login.ambassador_additional') }}</p>
              </li>
              <li class="nav-link">
                <a class="btn btn-badges" href="/signup/incubator">
                  <img alt="business" src="../../img/IconRoleIncubator.png" />
                </a>
                <p class="mt-2">{{ $t('login.incubator') }}</p>
                <p class="mt-2">{{ $t('login.incubator_additional') }}</p>
              </li>
            </ul>

            <div class="text-center form-group">
              <a href="/signup">
                <button class="btn btn-green w-100" type="button">{{ $t('home.student_sign') }}</button>
              </a>
              <h6 class="m-3 text-muted">
                <a class="link" href="/login">{{ $t('home.account_have') }}</a>
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Home',
  components: {},
  data: function() {
    return {
      state: {}
    };
  },
  mounted() {
    //this.$i18n.locale = "en";
    //this.$forceUpdate();
  }
};
</script>

<style scoped>
@import url('../../css/stimey-home.css');
</style>