<template>
	<div class="card mb-lg-5">
		<div class="card-body">
			<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 3pt; text-align: justify;"><span style="font-size: 26pt; font-family: Arial; color: #0000ff; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Imprint</span></p>
			<h1 style="line-height: 1.38; margin-top: 20pt; margin-bottom: 6pt;"><span style="font-size: 12pt; font-family: Arial; color: #4a86e8; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">According to &sect; 5 TMG</span></h1>
			<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Project STIMEY</span></p>
			<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Calle Ancha 16</span></p>
			<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">1001 C&aacute;diz</span></p>
			<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Spain</span></p>
			<p>&nbsp;</p>
			<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">E-Mail: info@stimey.eu</span></p>
			<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: right;"><a style="text-decoration: none;" href="https://www.ratgeberrecht.eu/leistungen/muster-impressum-generator.html"><span style="font-size: 8pt; font-family: Arial; color: #1155cc; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: underline; -webkit-text-decoration-skip: none; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;">Impressum-Generator</span></a><span style="font-size: 8pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;"> for </span><a style="text-decoration: none;" href="https://www.ratgeberrecht.eu/"><span style="font-size: 8pt; font-family: Arial; color: #1155cc; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: underline; -webkit-text-decoration-skip: none; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;">Anwaltskanzlei Wei&szlig; &amp; Partner</span></a></p>
			<p>&nbsp;</p>
			<h1 style="line-height: 1.38; margin-top: 20pt; margin-bottom: 6pt; text-align: justify;"><span style="font-size: 12pt; font-family: Arial; color: #4a86e8; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Information about the project</span></h1>
			<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Project duration: 01.09.2016 bis 31.08.2019</span></p>
			<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Client: European Commission</span></p>
			<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Reference: 709515</span></p>
			<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Funded by: H2020-EU.5. - SCIENCE WITH AND FOR SOCIETY</span></p>
			<h1 style="line-height: 1.38; margin-top: 20pt; margin-bottom: 6pt; text-align: justify;"><span style="font-size: 12pt; font-family: Arial; color: #4a86e8; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Partner</span></h1>
			<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><a style="text-decoration: none;" href="http://www.uca.es"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: underline; -webkit-text-decoration-skip: none; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;">University of Cadiz aus Spanien (Koordinator)</span></a></p>
			<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><a style="text-decoration: none;" href="https://www.hs-emden-leer.de"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: underline; -webkit-text-decoration-skip: none; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;">Hochschule Emden/Leer aus Deutschland</span></a></p>
			<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><a style="text-decoration: none;" href="http://www.psu.by/index.php/en"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: underline; -webkit-text-decoration-skip: none; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;">Polotsk State University aus Wei&szlig;russland</span></a></p>
			<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><a style="text-decoration: none;" href="http://www.uom.gr/index.php?newlang=eng"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: underline; -webkit-text-decoration-skip: none; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;">University of Macedonia aus Griechenland</span></a></p>
			<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><a style="text-decoration: none;" href="https://www.jyu.fi/en"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: underline; -webkit-text-decoration-skip: none; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;">University of Jyvaskyla aus Finnland</span></a></p>
			<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><a style="text-decoration: none;" href="https://www.mlsinnovation.com/en"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: underline; -webkit-text-decoration-skip: none; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;">MLS Multimedia AE aus Griechenland</span></a></p>
			<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><a style="text-decoration: none;" href="https://babyradio.es"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: underline; -webkit-text-decoration-skip: none; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;">Babyradio aus Spanien</span></a></p>
			<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><a style="text-decoration: none;" href="https://www.kompetenzz.de"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: underline; -webkit-text-decoration-skip: none; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;">Kompetenzzentrum Technik Diversity Chancengleichheit E.V. aus Deutschland</span></a></p>
		</div>
	</div>
</template>

<script>

  export default {
    name: 'Imprint',
    props: {},
    components: {},
    data: function() {
      return {};
    },
    mounted() {

    },
    methods: {},
  };
</script>

<style scoped></style>
