<template>
  <div>
    <!--
		  Iframe will be loaded into the div after clicking on rocket scientist or mental calculation, or will be removed after exit
		-->
    <div v-html="iFrameHTML" v-show="!showLab"></div>
    <div v-show="!showLab">
      <br />
      <br />
      <button align="left" class="btn btn-green w-25" type="button" @click="showLabView">{{ $t('lab.lab') }}</button>
    </div>
    <div v-show="showLab">
      <div class="card">
        <div class="card-header pl-0 pr-0 pb-0">
          <ul class="nav nav-tabs float-left" role="tablist">
            <li class="nav-item">
              <a
                aria-selected="false"
                class="nav-link-s"
                data-controls="lab-featured"
                data-toggle="tab"
                href="#lab-featured"
                id="lab-featured-tab"
                role="tab"
                v-bind:class="{ active: !showOverviewByCategory }"
                @click="showOverviewState"
                v-show="!showOverviewByCategory"
                ><h5>{{ $t('lab.featured') }}</h5></a
              >
            </li>
            <li class="nav-item">
              <a
                aria-selected="true"
                class="nav-link-s"
                data-controls="lab-overview"
                data-toggle="tab"
                href="#lab-overview"
                id="lab-overview-tab"
                role="tab"
                v-bind:class="{ active: showOverviewByCategory }"
                v-show="showOverviewByCategory"
                ><h5>{{ overviewCategoryLabel }}</h5></a
              >
            </li>
            <li class="nav-item">
              <a
                aria-selected="false"
                class="nav-link-s"
                data-controls="lab-discovers"
                data-toggle="tab"
                href="#lab-discovers"
                id="lab-discovers-tab"
                role="tab"
                @click="resetDataStore"
                ><h5>{{ $t('lab.discover') }}</h5></a
              >
            </li>
          </ul>
          <div class="float-right mt-2 mr-3">
            <div class="btn btn-circle btn-set-point">
              <img src="../../img/ICON_Newest-Answer.png" class="float-right" @click="showHelp" alt="Help" />
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content mt-3">
        <!-- Help -->
        <div class="card mt-3" v-if="help">
          <div class="card-header card-header-with-border">
            <h6 class="text-left">{{ $t('lab.help_title') }}</h6>
          </div>
          <div class="card-body text-left">
            <div style="white-space: pre-wrap; word-wrap: break-word; font-size: 1rem;" v-if="usertype === 'student'">{{$t('lab.help_explorer_description')}}</div>
            <div style="white-space: pre-wrap; word-wrap: break-word; font-size: 1rem;" v-if="usertype === 'teacher'">{{$t('lab.help_leader_description')}}</div>
            <div style="white-space: pre-wrap; word-wrap: break-word; font-size: 1rem;" v-if="usertype === 'incubator'">{{$t('lab.help_incubator_description')}}</div>
            <div style="white-space: pre-wrap; word-wrap: break-word; font-size: 1rem;" v-if="usertype === 'ambassador'">{{$t('lab.help_ambassador_description')}}</div>
            <br/>
            <button type="button" class="btn btn-green w-25 mb-2" @click="showHelp">OK</button>
          </div>
        </div>
        <div
          aria-labelledby="lab-featured-tab"
          class="tab-pane fade"
          id="lab-featured"
          role="tabpanel"
          v-bind:class="{ 'show active': !showOverviewByCategory }"
          v-if="!showOverviewByCategory"
        >
          <!-- Recommandation resources from STIMEY -->
          <div class="card mt-3">
            <div class="card-header card-header-with-border">
              <h6 class="text-left">
                {{ $t('lab.resources_hot') }}
                <CreateResourceModal v-on:emitCreateResourceModalSave="emitCreateResourceModalClose" />
              </h6>
            </div>
            <div class="card-body">

              <div class="row">
                <div class="col-6">
                  <div class="res-container">
                    <img :alt="$t('lab.alt_banner')" class="w-100" src="../../img/PLANET S_Landscape_01.png" />
                    <div class="res-overlay-left">
                      <h4 class="">STOC Testing</h4>
                      <button class="btn btn-small btn-outline-green mt-2" type="button" @click="showToolsView('test')">
                        {{ $t('lab.experience') }}
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="res-container">
                    <img :alt="$t('lab.alt_banner')" class="w-100" src="../../img/PLANET S_Landscape_02.png" />
                    <div class="res-overlay-left">
                      <h4 class="">Issue Market</h4>
                      <button class="btn btn-small btn-outline-green mt-2" type="button" @click="showIssueMarketView()">
                        {{ $t('lab.experience') }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt-3">
                <div class="col-6">
                  <div class="res-container">
                    <img :alt="$t('lab.alt_banner')" class="w-100" src="../../img/PLANET S_Landscape_01.png" />
                    <div class="res-overlay-left">
                      <h4 class="">Fantasy</h4>
                      <button class="btn btn-small btn-outline-green mt-2" type="button" @click="showFantasyView()">
                        {{ $t('lab.experience') }}
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="res-container">
                    <img :alt="$t('lab.alt_banner')" class="w-100" src="../../img/PLANET S_Landscape_02.png" />
                    <div class="res-overlay-left">
                      <h4 class="">Rocket Scientist</h4>
                      <button class="btn btn-small btn-outline-green mt-2" type="button" @click="showToolsView('rocket')">
                        {{ $t('lab.experience') }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt-3">
                <div class="col-6">
                  <div class="res-container">
                    <img :alt="$t('lab.alt_banner')" class="w-100" src="../../img/PLANET S_Landscape_01.png" />
                    <div class="res-overlay-left">
                      <h4 class="">Business Incubator</h4>
                      <button class="btn btn-small btn-outline-green mt-2" type="button" @click="showToolsView('business')">
                        {{ $t('lab.experience') }}
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="res-container">
                    <img :alt="$t('lab.alt_banner')" class="w-100" src="../../img/PLANET S_Landscape_02.png" />
                    <div class="res-overlay-left">
                      <h4 class="">Game Plugin</h4>
                      <button class="btn btn-small btn-outline-green mt-2" type="button" @click="showPluginView()">
                        {{ $t('lab.experience') }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="res-container mt-3">
                <!-- MentalCalculator banner -->
                <img :alt="$t('lab.alt_banner2')" class="w-100" src="../../img/PLANET-Y_Landscape_02_h446.png" />
                <div class="res-overlay-bottom">
                  <h4 class="">{{ $t('lab.calculator_mental') }}</h4>
                  <!-- Introducation about MentalCalculator -->
                  <p></p>
                  <!-- From this button, go to the MentalCalculator page. -->
                  <button
                    class="btn btn-outline-green mt-2"
                    data-dismiss="modal"
                    type="button"
                    @click="showMentalCalculator"
                  >
                    {{ $t('lab.experience2') }}
                  </button>
                </div>
              </div>

              <div class="row mt-3">
                <div class="col-6">
                  <div class="res-container">
                    <!-- Physic Engine banner -->
                    <img :alt="$t('lab.alt_banner2')" class="w-100" src="../../img/OCEAN-PLANET_Landscape_01.png" />
                    <div class="res-overlay-bottom">
                      <h4 class="">{{ $t('lab.physics_engine') }}</h4>
                      <!-- Introducation about Physic Engine -->
                      <p></p>
                      <!-- From this button, go to the Physic Engine page. -->
                      <button
                        class="btn btn-outline-green mt-2"
                        data-dismiss="modal"
                        onclick="window.open('/physics', '_blank')"
                        type="button"
                      >
                        {{ $t('lab.experience2') }}
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="res-container">
                    <!-- Chemistry Engine banner -->
                    <img :alt="$t('lab.alt_banner2')" class="w-100" src="../../img/OCEAN-PLANET_Landscape_02.png" />
                    <div class="res-overlay-bottom">
                      <h4 class=""> {{ $t('lab.chemistryEngine') }}</h4>
                      <!-- Introducation about Chemistry Engine -->
                      <p></p>
                      <!-- From this button, go to the Chemistry Engine overview page. -->
                      <button
                        class="btn btn-outline-green mt-2"
                        data-dismiss="modal"
                        onclick="window.open('/chemistryengine', '_blank')"
                        type="button"
                      >
                        {{ $t('lab.experience2') }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Library resource : Files or links -->
          <LabResourceListView
            :showCategory="true"
            areaIcon="../../../img/ICON_Article_Circle.png"
            :title="$t('lab.title_library')"
            v-bind:items="state.labOverviewLibrary.data"
            v-if="state.labOverviewLibrary.data[0]"
          />
          <!-- Media Resources : images or videos or links -->
          <LabResourceListView
            :showCategory="true"
            areaIcon="../../../img/ICON_Video_Circle.png"
            :title="$t('lab.title_media')"
            v-bind:items="state.labOverviewMedia.data"
            v-if="state.labOverviewMedia.data[0]"
          />
          <!-- Tools Resources : Only links -->
          <LabResourceListView
            :showCategory="true"
            areaIcon="../../../img/ICON-LAB_circle.png"
            :title="$t('lab.title_tools')"
            v-bind:items="state.labOverviewTools.data"
            v-if="state.labOverviewTools.data[0]"
          />
          <!-- Games Resources : Only links -->
          <LabResourceListView
            :showCategory="true"
            areaIcon="../../../img/ICON-SERIOUS-GAMES_circle.png"
            :title="$t('lab.title_games')"
            v-bind:items="state.labOverviewGames.data"
            v-if="state.labOverviewGames.data[0]"
          />
        </div>
        <div
          aria-labelledby="lab-overview-tab"
          class="tab-pane fade"
          id="lab-overview"
          role="tabpanel"
          v-bind:class="{ 'show active': showOverviewByCategory }"
          v-if="showOverviewByCategory"
        >
          <div class="tab-content mt-3">
            <!-- Tab of my missions -->
            <div
              aria-labelledby="lab-featured-tab"
              class="tab-pane fade show active"
              id="lab-featured-tab-list"
              role="tabpanel"
            >
              <div class="text-left ml-3">
                <a class="text-left" href="#">
                  <button
                    class="btn btn-small btn-outline-green mt-2"
                    data-dismiss="modal"
                    type="button"
                    @click="showFeaturedResources"
                  >
                    <i class="fa fa-backward"></i> {{ $t('lab.features') }}
                  </button>
                </a>
              </div>
              <!-- Library resource : Files or links -->
              <div class="card mt-3">
                <div class="card-header card-header-with-border">
                  <h6 class="text-left">
                    {{ overviewCategoryLabel }}
                    <CreateResourceModal v-on:emitCreateResourceModalSave="emitCreateResourceModalClose" />
                  </h6>
                </div>
                <!-- 1. New resources: base on upload time/date. -->
                <!-- 2. Hot resources: base on view number. -->
                <LabResourceListView
                  v-bind:items="state.labOverviewFullList.data"
                  v-if="state.labOverviewFullList.data[0]"
                />
              </div>
            </div>
          </div>
        </div>
        <div aria-labelledby="lab-discovers-tab" class="tab-pane fade" id="lab-discovers" role="tabpanel">
          <br />
          <div>
            <div class="custom-control custom-radio custom-control-inline">
              <input
                checked
                class="custom-control-input"
                id="searchInside"
                name="customRadio"
                type="radio"
                value="searchInside"
                v-model="chosenSearchOption"
              />
              <label class="custom-control-label" for="searchInside">{{ $t('lab.search_stimey') }}</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input
                class="custom-control-input"
                id="searchOutside"
                name="customRadio"
                type="radio"
                value="searchOutside"
                v-model="chosenSearchOption"
              />
              <label class="custom-control-label" for="searchOutside">{{ $t('lab.search_scientix') }}</label>
            </div>
          </div>
          <div v-show="chosenSearchOption === 'searchInside'">
            <!-- Discover resources -->
            <div class="card mt-3">
              <div class="card-header card-header-with-border">
                <form role="form">
                  <div class="input-group p-0">
                    <div class="input-group-prepend">
                      <label class="input-group-text">{{ $t('lab.search') }}</label>
                    </div>
                    <input
                      class="form-control"
                      :placeholder="$t('lab.input_placeholder_enter_keywords')"
                      type="text"
                      v-model="searchTextInput"
                    />
                    <div class="input-group-append">
                      <button class="btn btn-default" type="button" @click="searchResource">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- Select box : Only for "Search in STIMEY" -->
              <div class="card-body row">
                <div class="col-sm">
                  <table class="table table-hover text-left">
                    <thead>
                      <tr>
                        <th colspan="2" scope="col">{{ $t('lab.category') }}</th>
                      </tr>
                    </thead>
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <label class="select-checkbox mb-0">
                            <input
                              id="CatCheckLibrary"
                              name="cbCategory"
                              type="checkbox"
                              :value="$t('lab.input_value_library')"
                              v-model="checkedCategories"
                            />
                            <span class="select-checkmark"></span>
                            <span class="checkbox-label">{{ $t('lab.library') }}</span>
                          </label>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label class="select-checkbox mb-0">
                            <input
                              id="CatCheckMedia"
                              name="cbCategory"
                              type="checkbox"
                              :value="$t('lab.input_value_media')"
                              v-model="checkedCategories"
                            />
                            <span class="select-checkmark"></span>
                            <span class="checkbox-label">{{ $t('lab.media') }}</span>
                          </label>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label class="select-checkbox mb-0">
                            <input
                              id="CatCheckTool"
                              name="cbCategory"
                              type="checkbox"
                              :value="$t('lab.input_value_tools')"
                              v-model="checkedCategories"
                            />
                            <span class="select-checkmark" id="TopicCheckInno" value="topic-inno"></span>
                            <span class="checkbox-label">{{ $t('lab.tools') }}</span>
                          </label>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label class="select-checkbox mb-0">
                            <input
                              id="CatCheckGame"
                              name="cbCategory"
                              type="checkbox"
                              :value="$t('lab.input_value_games')"
                              v-model="checkedCategories"
                            />
                            <span class="select-checkmark"></span>
                            <span class="checkbox-label">{{ $t('lab.games') }}</span>
                          </label>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-sm">
                  <table class="table table-hover text-left">
                    <thead>
                      <tr>
                        <th colspan="2" scope="col">{{ $t('lab.stage') }}</th>
                      </tr>
                    </thead>
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <label class="select-checkbox mb-0">
                            <input
                              id="StageCheckBasic"
                              type="checkbox"
                              :value="$t('lab.input_value_basic')"
                              v-model="checkedStage"
                            />
                            <span class="select-checkmark"></span>
                            <span class="checkbox-label">{{ $t('lab.basic') }}</span>
                          </label>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label class="select-checkbox mb-0">
                            <input
                              id="StageCheckPrim"
                              type="checkbox"
                              :value="$t('lab.input_value_primary')"
                              v-model="checkedStage"
                            />
                            <span class="select-checkmark"></span>
                            <span class="checkbox-label">{{ $t('lab.primary') }}</span>
                          </label>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label class="select-checkbox mb-0">
                            <input
                              id="StageCheckInterm"
                              type="checkbox"
                              :value="$t('lab.input_value_intermediate')"
                              v-model="checkedStage"
                            />
                            <span class="select-checkmark"></span>
                            <span class="checkbox-label">{{ $t('lab.intermediate') }}</span>
                          </label>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label class="select-checkbox mb-0">
                            <input
                              id="StageCheckAdvan"
                              type="checkbox"
                              :value="$t('lab.input_value_advanced')"
                              v-model="checkedStage"
                            />
                            <span class="select-checkmark"></span>
                            <span class="checkbox-label">{{ $t('lab.advanced') }}</span>
                          </label>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-sm">
                  <table class="table table-hover text-left">
                    <thead>
                      <tr>
                        <th colspan="2" scope="col">{{ $t('lab.difficulty') }}</th>
                      </tr>
                    </thead>
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <label class="select-checkbox mb-0">
                            <input
                              id="DiffCheckEasy"
                              type="checkbox"
                              :value="$t('lab.input_value_easy')"
                              v-model="checkedDifficulty"
                            />
                            <span class="select-checkmark"></span>
                            <span class="checkbox-label">{{ $t('lab.easy') }}</span>
                          </label>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label class="select-checkbox mb-0">
                            <input
                              id="DiffCheckMed"
                              type="checkbox"
                              :value="$t('lab.input_value_medium')"
                              v-model="checkedDifficulty"
                            />
                            <span class="select-checkmark"></span>
                            <span class="checkbox-label">{{ $t('lab.medium') }}</span>
                          </label>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label class="select-checkbox mb-0">
                            <input
                              id="DiffCheckDiff"
                              type="checkbox"
                              :value="$t('lab.input_value_difficult')"
                              v-model="checkedDifficulty"
                            />
                            <span class="select-checkmark"></span>
                            <span class="checkbox-label">{{ $t('lab.difficult') }}</span>
                          </label>
                        </td>
                      </tr>
                      <tr></tr>
                      <tr>
                        <td>
                          <label class="select-checkbox mb-0">
                            <input
                              id="DiffCheckChall"
                              type="checkbox"
                              :value="$t('lab.input_value_challenge')"
                              v-model="checkedDifficulty"
                            />
                            <span class="select-checkmark"></span>
                            <span class="checkbox-label">{{ $t('lab.challenge') }}</span>
                          </label>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- Tools Resources : Only links -->
            <LabResourceListView
              v-bind:items="state.labOverviewFullList.data"
              v-if="state.labOverviewFullList.data[0]"
            />
            <!--
						  Recomendations Resources based on this user's tastes (data analysis), like search recording, keywords and so on.
						-->
            <LabResourceListView
              limit="3"
              :title="$t('lab.title_resources_interested')"
              v-bind:items="state.labTasteList.data"
              v-if="state.labTasteList.data[0]"
            />
          </div>
          <div v-if="toggle" class="card mt-3" v-show="chosenSearchOption === 'searchOutside'">
<!--            <div id="scientix-widget"></div>-->
            <scientix-widget></scientix-widget>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
//TODO only teacher should be able to create resource check here and backend and hide/show the button

import CreateResourceModal from './lab/CreateResourceModal';
import { getResourceEndpoint } from '../../js/global';
import LabResourceListView from './lab/ResourceListICard';
import ResourceDetailsViewModal from './lab/ResourceDetailsViewModal';

import ScientixWidget from './lab/ScientixWidget';

const labStore = {
  labOverviewLibrary: new Data(),
  labOverviewMedia: new Data(),
  labOverviewTools: new Data(),
  labOverviewGames: new Data(),
  labOverviewFullList: new Data(),
  labTasteList: new Data(),
  labOverviewTemp: new Data()
};

export default {
  name: 'Lab',

  components: {
    CreateResourceModal,
    LabResourceListView,
    ResourceDetailsViewModal,
    ScientixWidget
  },
  data: function() {
    return {
      state: labStore,
      showOverviewByCategory: false,
      showOverviewLibrary: false,
      showOverviewMedia: false,
      showOverviewTools: false,
      showOverviewGames: false,
      overviewCategoryLabel: '',
      chosenSearchOption: 'searchInside',

      showLab: true,
      iFrameHTML: '',

      searchTextInput: '',
      checkedCategories: [],
      checkedStage: [],
      checkedDifficulty: [],
      toggle: true,

        usertype: null,
        help: false
    };
  },

  mounted() {
    this.getOverviewData();

    // this.toggle = false;
    // this.$forceUpdate();

    // this.scientixWidgetState.sw = require.resolve('../../js/scientix-widget');
    // delete require.cache[name];
    // require('../../js/scientix-widget');
    // this.toggle = true;
    // this.$forceUpdate();
  },
  watch: {

    currentLanguageOption: {
      handler: function() {
        localStorage.guiLanguage = this.currentLanguageOption;
        this.toggle = false;
        this.$forceUpdate();
        this.toggle = true;
        this.$forceUpdate();
      },
      deep: true
    }
  },
  beforeMount() {},
  created() {
      this.usertype = this.$store.currentUser.usertype;
  },
  beforeUpdate() {},
  updated() {},
  beforeDestroy() {
    console.log("before destroy");
  },
  computed: {
    currentLanguageOption: function() {
      return this.$t('lab.chosenLanguageScientixWidget');
    }
  },
  methods: {
      showHelp: function() {
          this.help = !this.help;
      },
    emitCreateResourceModalClose: function(dataFromCreatedResource) {
      if (!this.showOverviewByCategory) {
        this.resetDataStore();
        this.getOverviewData();
      } else {
        let string = dataFromCreatedResource.resource.category;
        string = string.charAt(0).toUpperCase() + string.slice(1).toLowerCase();

        if (this.overviewCategoryLabel === string) this.showResourceOverviewByCategory(string);
      }
      this.$forceUpdate();
    },
    getOverviewData: function() {
      this.fetchResourceList(labStore.labOverviewLibrary, '', 'Library', 'any', 'any', 3, 0);
      this.fetchResourceList(labStore.labOverviewMedia, '', 'Media', 'any', 'any', 3, 0);
      this.fetchResourceList(labStore.labOverviewTools, '', 'Tools', 'any', 'any', 3, 0);
      this.fetchResourceList(labStore.labOverviewGames, '', 'Games', 'any', 'any', 3, 0);

      /** FIXME: Needs data for Taste-List, just for this view: limit: 3, offset: 2 */
      this.fetchResourceList(labStore.labTasteList, '', 'any', 'any', 'any', 3, 2);
    },
    fetchResourceList: function(dataStore, queryKeywords, category, stage, difficulty, limit, offset) {
      let query =
        getResourceEndpoint('API_GATEWAY_STORAGE') +
        '/?q=' +
        queryKeywords +
        '&c=' +
        category +
        '&s=' +
        stage +
        '&d=' +
        difficulty;

      if (limit !== 'default') {
        query += '&l=' + limit;
      }
      if (offset !== 'default') {
        query += '&o=' + offset;
      }

      dataStore.get(query).then(
        data => {
          this.$forceUpdate();
        },
        error => {
          console.log(error);
        }
      );
    },
    showResourceOverviewByCategory: function(category) {
      labStore.labOverviewFullList = new Data();
      this.fetchResourceList(labStore.labOverviewFullList, '', category, 'any', 'any', 'default', 'default');
      this.resetOverviewState();
      this.overviewCategoryLabel = category;

      switch (category) {
        case 'Library':
          this.showOverviewLibrary = true;
          break;
        case 'Media':
          this.showOverviewMedia = true;
          break;
        case 'Tools':
          this.showOverviewTools = true;
          break;
        case 'Games':
          this.showOverviewGames = true;
          break;
      }

      this.showOverviewByCategory = true;
    },
    showFeaturedResources: function() {
      this.resetDataStore();
      this.resetOverviewState();
      this.getOverviewData();
      this.$forceUpdate();
    },
    resetOverviewState: function() {
      this.showOverviewLibrary = false;
      this.showOverviewMedia = false;
      this.showOverviewTools = false;
      this.showOverviewGames = false;
      this.showOverviewByCategory = false;
    },
    showOverviewState: function() {
      this.resetDataStore();
      this.getOverviewData();
    },
    searchResource: function() {
      this.resetDataStore();
      this.fetchResourceList(
        labStore.labOverviewFullList,
        this.searchTextInput,
        this.checkedCategories,
        this.checkedStage,
        this.checkedDifficulty,
        20,
        0
      );
    },
    resetDataStore: function() {
      labStore.labOverviewLibrary = new Data();
      labStore.labOverviewMedia = new Data();
      labStore.labOverviewGames = new Data();
      labStore.labOverviewTools = new Data();
      labStore.labOverviewFullList = new Data();
    },
    showLabView: function() {
      this.showLab = true;
      this.iFrameHTML = '';
    },
    showToolsView: function(param) {
      //location.href = '/rocket/';
        console.log(param);
      location.href = '/tools/'+param;
    },
      showPluginView: function() {
          location.href = 'https://stimey7.hs-emden-leer.de/plugin'+this.userQueryString();
      },
      showFantasyView: function() {
          location.href = 'http://stimey8.hs-emden-leer.de/'+this.userQueryString();
      },
      showIssueMarketView: function() {
          location.href = 'https://stimey7.hs-emden-leer.de/issue-market'+this.userQueryString();
      },
    showMentalCalculator: function() {
      location.href = '/mentalcalc/';
    },
    startCreativityTest() {
      location.href = '/creativity/';
    },
    userQueryString() {
    	let username = this.$store.currentUser.username;
    	let usertype = this.$store.currentUser.usertype;
    	return "?username="+username+"&usertype="+usertype;
    }
  }
};
</script>

<style scoped>
@import '../../css/lab.css';
@import '../../css/profiles.css';
@import '../../css/community.css';
</style>