<template>
<div class="bg-card bg-card-login wrap-home">
	<div class="bg-star"></div>

	<div class="wrapper-info">
		<div class="card card-comm h-100">
			<div class="card-body p-4">
				<h5 class="text-center">{{ $t('login.login_stimey') }}</h5>
				<hr>
				<form class="mt-3" role="form">
                    <!--Username or email address-->
					<div class="form-group">
						<label for="enterInputSignUpSUid">
							<h6 class="mb-0">{{ $t('login.username_email_address') }}</h6>
						</label>

                        <input class="form-control" v-bind:class="{'is-invalid': error.usernameInvalid}" id="enterInputSignUpSUid"
							v-bind:placeholder="$t('login.input_placeholder_username_email')"
							type="text" v-model="user.name" @keydown.enter="login">
							<div class="invalid-feedback">{{ error.username }}</div>
					</div>
                    <!--Password and validation-->
					<div class="form-group">
						<label for="password-field">
							<h6 class="mb-0">{{ $t('login.password') }}</h6>
						</label>
                        <input class="form-control" v-bind:class="{'is-invalid': error.passwordInvalid}" id="password-field" name="password"
							v-bind:placeholder="$t('login.input_placeholder_password_give')"
							type="password" v-model="user.password" @keydown.enter="login"/>
                        <i class="fa fa-eye field-icon toggle-password" toggle="#password-field" @click="togglePassword()"></i>
                        <div class="invalid-feedback">{{ error.password }}</div>
					</div>

					<div class="form-group mt-4">
						<a href="#">
							<button class="btn btn-green w-100 mb-2" type="button" @click="login()">{{ $t('login.login') }}</button>
						</a>

						<div class="form-group form-inline pl-0 pr-0 justify-content-between">
                            <!--"Remember me" - TO DO, once user check this, for next login, direct go to activity stream. -->
							<label class="select-checkbox mb-0">
								<input type="checkbox" id="TopicCheckEngineer" value="topic-engineer">
								<span class="select-checkmark"></span>
								<span class="checkbox-label"><h6>Remember me</h6></span>
							</label>

                            <!--"forget password" - Validation, They have to enter a valid E-mail address, then they can click the button-->
							<a class="link forgot-pass" href="#" @click="resetForm()">
								<h6>{{ $t('login.password_forgot') }}</h6>
							</a>

						</div>
					</div>
				</form>

				<hr>
				<h5 class="text-center">{{ $t('login.dont_account') }}</h5>

				<ul class="navbar mb-0 text-center">
					<li class="nav-link">
                        <a class="btn btn-badges" data-target="#modal-ask-user-age" data-toggle="modal" href="#">
							<img src="../../img/IconRoleExplore.png" alt="student">
					    </a>
                        <p class="mt-2">{{ $t('login.explorer') }}</p>
						<p class="mt-2">{{ $t('login.explorer_additional') }}</p>
                    </li>
					<li class="nav-link">
                        <a class="btn btn-badges" href="/signup/leader">
                            <img src="../../img/IconRoleLeader.png" alt="teacher">
					    </a>
                        <p class="mt-2">{{ $t('login.leader') }}</p>
						<p class="mt-2">{{ $t('login.leader_additional') }}</p>
                    </li>
					<li class="nav-link">
                        <a class="btn btn-badges" href="/signup/ambassador">
                            <img src="../../img/IconRoleAmbassador.png" alt="patent">
					    </a>
                        <p class="mt-2">{{ $t('login.ambassador') }}</p>
						<p class="mt-2">{{ $t('login.ambassador_additional') }}</p>
                    </li>
					<li class="nav-link">
                        <a class="btn btn-badges" href="/signup/incubator">
                            <img src="../../img/IconRoleIncubator.png" alt="business">
					    </a>
                        <p class="mt-2">{{ $t('login.incubator') }}</p>
						<p class="mt-2">{{ $t('login.incubator_additional') }}</p>
                    </li>
				</ul>
			</div>
		</div>
	</div>
</div>
</template>

<script>
  import {storage_getURL, storage_getdashboardApiUrl} from '../../js/global.js';
  import { gamificationToast } from './common/gamificationAlertConfigs.js';
  import * as EVENTS from '../../js/gamification';
  
  export default {
    name: 'Login',
    components: {},
    data: function () {
    	return {
    	 	state: this.$store,
    	 	user: {
    	 		name: '',
    	 		password: '',
    	 		rememberMe: false,
    	 	},
    	 	error: {
    	 		usernameInvalid: false,
    	 		passwordInvalid: false,
    	 		username: '',
    	 		password: ''
    	 	}
      	}
    },
    methods: {
    	login() {
    		var user = {username:this.user.name, password:this.user.password};
            axios.post(storage_getURL('API_GATEWAY_STORAGE')+"/api-proxy/auth/api/v1/login", user).then(response => {
            	this.error.usernameInvalid = false;
      	    	this.error.passwordInvalid = false;
          		this.state.currentUser = response.data.data;
          		this.$forceUpdate();
          		localStorage.setItem("currentUser", JSON.stringify(this.state.currentUser));

                axios.get(`${storage_getdashboardApiUrl('API_GATEWAY_STORAGE')}/profiles/${this.state.currentUser.userid}`)
                    .then(response => {
                        this.state.profile = response.data;
                        this.$store.profile = response.data;
						localStorage.setItem("profile", JSON.stringify(this.state.profile));
                        this.$router.push('/activitystream');
                        
                        // Gamification -> for daily login
                        let params = $.param({
          	              userid: this.$store.currentUser.userid,
          	              eventid: EVENTS.DAILY_LOGIN,
          	            });

          	            axios.get(storage_getURL('API_GATEWAY_STORAGE') + '/api-proxy/achievements/api/gamification?' + params)
	                    .then(response => {
	                      gamificationToast(this, response);
	                      this.$dailyGoalBus.$emit('points');
	                    });
                    })
                    .catch(error =>{
                        console.log(error);
                        this.$router.push('/activitystream');
                    })


          	})
          	.catch(error => {
          		console.log(error);
                this.error.usernameInvalid = false;
                this.error.passwordInvalid = false;
          		switch(error.response.data.message) {
          			case "login_already_exists":
          	    	case "login_not_found":
          	    		this.error.username = 'Username or email address not found';
          	    		this.error.usernameInvalid = true;
          	        	break;
          	    	case "password_was_not_accepted":
          	    		this.error.password = 'Password is wrong';
          	    		this.error.passwordInvalid = true;
          	        	break;
          	    	case "login_is_locked":
          	    		this.loginLocked();
          	    		break;
					case "email_is_not_confirmed":
                        this.emailNotConfirmed();
					    break;
          	    	case "validation":
                        let map =error.response.data.data;
                        if (map.hasOwnProperty('username')) {
                            this.error.username = map.username[1];
                            this.error.usernameInvalid = true;
                        }
                        if (map.hasOwnProperty('password')) {
                            this.error.password = map.password[1];
                            this.error.passwordInvalid = true;
                        }
                        break;
          	    	default:
          	       		;
          		}
                //window.alert(error.response.data.message);
          	});
    	},
        emailNotConfirmed() {
            swal("Email not confirmed", "Please confirm your email, before first login!");
        },
    	loginLocked() {
    		swal("Temporrary blocked", "You reached the maximum allowed attempts for login. Retry later!");
    	},
    	togglePassword() {
    		$(".toggle-password").toggleClass("fa-eye fa-eye-slash");
			  var input = $($(".toggle-password").attr("toggle"));
			  if (input.attr("type") == "password") {
				input.attr("type", "text");
			  } else {
				input.attr("type", "password");
			  }
    	},
    	resetForm() {
    		swal(this.$i18n.t('login.enter_email'), {
				  content: "input",
				  button: {
					text: this.$i18n.t('login.reset_password'),
					closeModal: false,
				  },
				})
				.then((value) => {
				  console.log(value);
				  swal(this.$i18n.t('login.sent_email'));
				  if (value.length > 0) {
				  	  this.reset(value);
				  }
				})
    	},
    	reset(value) {
    		var user = {username:value};
    		axios.post(storage_getURL('API_GATEWAY_STORAGE')+"/api-proxy/auth/api/v1/password/reset", user)
          	.then(response => {
          		this.$router.push('home');
          	})
          	.catch(error => {
          		console.log(error.data);
          	});
    	}
    }
  }
</script>

<style scoped>
@import url("../../css/stimey-home.css");
</style>