<template>
    <div>
        <iframe src='/mental/' height='557' width='93%'></iframe>
        <div>
            <br /><br />
            <button type="button" class="btn btn-green w-25" @click="backToLab">Back to Lab</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "MentalCalculator",

        methods: {
            backToLab: function() {
                location.href = '/lab/';
            }
        }
    }
</script>

<style scoped>

</style>