<template>
  <div>
    <!--Left menu-->
    <div class="card">
      <ul class="nav nav-pills nav-stacked d-inline-block text-left">
        <router-link
          :class="$route.path.startsWith('/activitystream') ? 'active' : '' + 'm-0'"
          tag="li"
          to="/activitystream"
        >
          <a class="p-3">
            <span class="btn-circle btn ml-2">
              <img alt="mission" class="clearfix" src="../../img/ICON-DASHBOARD_circle.png" />
              <span>{{ $t('menu.home') }}</span>
            </span>
          </a>
        </router-link>

        <router-link
          v-if="worldTesting === false"
          :class="$route.path.startsWith('/planets') ? 'active' : '' + 'm-0'"
          tag="li"
          to="/planets"
        >
          <a class="p-3">
            <span class="btn-circle btn ml-2">
              <img alt="mission" class="clearfix" src="../../img/icon-planets.png" />
              <span>{{ $t('menu.planets') }}</span>
            </span>
          </a>
        </router-link>

        <router-link
          v-else-if="worldTesting === true"
          :class="$route.path.startsWith('/worlds') ? 'active' : '' + 'm-0'"
          tag="li"
          to="/worlds"
        >
          <a class="p-3">
            <span class="btn-circle btn ml-2">
              <img alt="mission" class="clearfix" src="../../img/icon-planets.png" />
              <span>{{ $t('menu.planets') }}</span>
            </span>
          </a>
        </router-link>

        <router-link :class="$route.path.startsWith('/missions') ? 'active' : '' + 'm-0'" tag="li" to="/missions">
          <a class="p-3">
            <span class="btn-circle btn ml-2">
              <img alt="mission" class="clearfix" src="../../img/ICON-MISSION-1-Orange.png" />
              <span>{{ $t('menu.missions') }}</span>
            </span>
          </a>
        </router-link>

        <router-link :class="$route.path.startsWith('/communities') ? 'active' : '' + 'm-0'" tag="li" to="/communities">
          <a class="p-3">
            <span class="btn-circle btn ml-2">
              <img alt="mission" class="clearfix" src="../../img/ICON-COMMUNITIES_circle.png" />
              <span>{{ $t('menu.communities') }}</span>
            </span>
          </a>
        </router-link>

        <router-link :class="$route.path.startsWith('/lab') ? 'active' : '' + 'm-0'" tag="li" to="/lab">
          <a class="p-3">
            <span class="btn-circle btn ml-2">
              <img alt="lab" class="clearfix" src="../../img/ICON-LAB_circle.png" />
              <span>{{ $t('menu.lab') }}</span>
            </span>
          </a>
        </router-link>


<!--  This needs to change if the user-type is a school  so here "if"-->
        <router-link v-if="$store.profile.usertype === 'incubator'" :class="$route.path.startsWith('/badges') ? 'active' : '' + 'm-0'" tag="li" :to="{path: '/badges/' + $store.profile.userid}">
          <a class="p-3">
            <span class="btn-circle btn ml-2">
              <img alt="badges" class="clearfix" src="../../img/_Labels-01.png" />
              <span>{{ $t('menu.badges') }}</span>
            </span>
          </a>
        </router-link>

         <router-link v-if="$store.profile.usertype === 'student' || $store.profile.usertype === 'teacher'" :class="$route.path.startsWith('/achievements') ? 'active' : '' + 'm-0'" tag="li" to="/achievements">
          <a class="p-3">
            <span class="btn-circle btn ml-2">
              <img alt="achievements" class="clearfix" src="../../img/ICON-Progress_Flag-mountain.png" />
              <span>{{ $t('menu.achievement') }}</span>
            </span>
          </a>
        </router-link>

        <router-link v-if="$store.profile.usertype === 'student'" :class="$route.path.startsWith('/eportfolio') ? 'active' : '' + 'm-0'" tag="li" :to="{path:'/eportfolio/' + ePortfolioId}">
          <a class="p-3">
            <span class="btn-circle btn ml-2">
              <img alt="eportfolio" class="clearfix" src="../../img/ICON-E-PORTFOLIO_circle.png" />
              <span> E-Portfolio</span>
            </span>
          </a>
        </router-link>

      </ul>
    </div>
    <div class="clearfix"></div>

    <!--My daily Goal-->
    <div v-if="$store.profile.usertype === 'student'" class="card mt-3">
      <h5 class="card-header text-center">
        {{ $t('menu.daily_goal') }}
        <a
          href="#"
          class="btn btn-circle btn-set-point"
          data-toggle="modal"
          data-target="#modal-set-daily-goal"
          title="Setting"
        >
          <img src="../../img/ICON_SETTINGS_circle.png" class="clearfix" alt="setting" />
        </a>
      </h5>
      <div class="card-body">
        <div class="col-lg-12 text-center">
          <div class="userpic">
            <a :href="'/profiles/' + state.currentUser.userid" class="btn btn-badges">
              <DisplayImageFile
                v-if="$store.profile.avatarImageId != null"
                :image-file-id="$store.profile.avatarImageId"
                :mode="'avatar'"
              ></DisplayImageFile>
              <img v-else src="../../img/user.png" class="clearfix" alt="avatar" />
            </a>
            <div class="clearfix"></div>
            <h5 class="username mb-0">{{ state.currentUser.username }}</h5>
            <div>
              <a href="progress-leaderboard-gamification.html" class="btn btn-circle">
                <img src="../../img/ICON-LEVEL-1-Badge.png" class="clearfix" alt="level" />
              </a>
              <span v-if="$store.profile.usertype === 'student'">{{ $t('profiles.explorer') }}</span>
              <span v-else-if="$store.profile.usertype === 'teacher'">{{ $t('profiles.leader') }}</span>
              <span v-else-if="$store.profile.usertype === 'incubator'">{{ $t('profiles.incubator') }}</span>
              <span v-else-if="$store.profile.usertype === 'ambassador'">{{ $t('profiles.ambassador') }}</span>
            </div>
          </div>
        </div>
        <hr />
        <div class="clearfix"></div>
        <div class="col-lg-9 float-left">
          <blockquote class="bubble animated rubberBand">{{ $t('menu.perseverance') }}</blockquote>
        </div>
        <div class="col-lg-3 robot-box">
          <img src="../../img/ROBOT-HELPER-YOUNG_01.png" class="clearfix w-100" alt="setting" />
        </div>

        <div class="clearfix"></div>
        <hr class="mt-4" />
        <!--Three points-->
        <div class="mt-3">
          <h6>{{ $t('menu.brain_points') }}</h6>
          <div class="progress mb-4">
            <div
              class="progress-bar progress-bar-brain active"
              role="progressbar"
              aria-valuenow="90"
              aria-valuemin="0"
              aria-valuemax="100"
              v-bind:style="style.knowledge"
            >
              <div class="progress-value-language">{{ dailyGoal.kp }}/{{ dailyGoal.kpGoal }}</div>
            </div>
          </div>
          <h6>{{ $t('menu.heart_points') }}</h6>
          <div class="progress mb-4">
            <div
              class="progress-bar progress-bar-heart active"
              role="progressbar"
              aria-valuenow="60"
              aria-valuemin="0"
              aria-valuemax="100"
              v-bind:style="style.social"
            >
              <div class="progress-value-language">{{ dailyGoal.sp }}/{{ dailyGoal.spGoal }}</div>
            </div>
          </div>
          <h6>{{ $t('menu.spirit_points') }}</h6>
          <div class="progress mb-4">
            <div
              class="progress-bar progress-bar-spirit active"
              role="progressbar"
              aria-valuenow="60"
              aria-valuemin="0"
              aria-valuemax="100"
              v-bind:style="style.creativity"
            >
              <div class="progress-value-language">{{ dailyGoal.cp }}/{{ dailyGoal.cpGoal }}</div>
            </div>
          </div>
        </div>

        <!--<div class="row mt-3">
                    <div class="col-lg-4 col-sm-4">
                        <div class="progress-circle yellow">
                            <span class="progress-circle-left">
                                <span class="progress-circle-bar"></span>
                            </span>
                            <span class="progress-circle-right">
                                <span id="test" class="progress-circle-bar"></span>
                            </span>
                            <div class="progress-circle-value">30/40</div>
                        </div>
                        <div class="clearfix"></div>
                        <img src="../../img/ICONS-Knowledge-Points-Yellow-White-circle.png" class="ml-2 w-75" title="Brain - Knowledge Points" alt="Knowledge-Points">
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <div class="progress-circle blue">
                            <span class="progress-circle-left">
                                <span class="progress-circle-bar"></span>
                            </span>
                            <span class="progress-circle-right">
                                <span class="progress-circle-bar"></span>
                            </span>
                            <div class="progress-circle-value">30/35</div>
                        </div>
                        <div class="clearfix"></div>
                        <img src="../../img/ICONS-Social-Points-Blue-White-circle.png" class="ml-2 w-75" title="Heart - Social Points" alt="Social-Points">
                    </div>

                    <div class="col-lg-4 col-sm-4">
                        <div class="progress-circle pink">
                            <span class="progress-circle-left">
                                <span class="progress-circle-bar"></span>
                            </span>
                            <span class="progress-circle-right">
                                <span class="progress-circle-bar"></span>
                            </span>
                            <div class="progress-circle-value">10/20</div>
                        </div>
                        <div class="clearfix"></div>
                        <img src="../../img/ICONS-Creativity-Points-Red-White-circle.png" class="ml-2 w-75" title="Sprint - Social Points" alt="Creativity-Points">
                    </div>
                </div>-->
      </div>
    </div>

    <div class="clearfix"></div>

    <!--Important announcement from missions and worlds-->
    <div class="card mt-3">
      <!-- style="background-image: url('img/Chat-Friends-Groups-BackGround.png')"-->
      <h5 class="card-header">
        <a href="#" class="btn btn-circle" title="Courses anncouncements">
          <img src="../../img/ICON_Announcements.png" class="clearfix" alt="announcement" />
        </a>
        {{ $t('menu.announcements') }}
      </h5>
      <div class="card-body">
        <div class="row">
          <div class="col-8 text-left">
            <h3 class="font-weight-normal">{{ announcements.length }}</h3>
            <p>{{ $t('menu.new_announcements') }}</p>
          </div>
          <div class="col-4">
            <a href="announcement.html">
              <router-link class="btn btn-circle" to="/notifications">
                <img src="../../img/ICON_Go.png" class="clearfix" alt="more"
              /></router-link>
              <div class="clearfix"></div>
            </a>
          </div>
        </div>
        <hr class="m-0" />
        <!--Silder-->
        <div id="carouselAnnounce" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators mt-1">
            <li
              v-for="(item, index) in announcements"
              data-target="#carouselAnnounce"
              v-bind:data-slide-to="index"
              :class="index === 0 ? 'active' : ''"
            ></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <!--Slide One - Set the background image for this slide in the line below -->
            <div
              v-for="(item, index) in announcements"
              class="carousel-item h-100"
              :class="index === 0 ? 'active' : ''"
            >
              <div class="carousel-caption d-none d-md-block">
                <h6>{{ $t(item.title) }}</h6>
                <p>
                  <i>{{ item.description }}</i>
                  <br />
                  <span class="text-muted">{{ millisecondsToDateString(item.createDate) }}</span>
                </p>
                <a class="btn btn-avatar mb-1" href="profile-for-visit.html" title="Profiles">
                  <img v-if="item.contentAvatarID != null" :src="getImageFileUrl(item.contentAvatarID)" alt="avatar" />
                  <img v-else src="../../img/user.png" alt="avatar" />
                </a>
                <a :href="getAnnouncementContentRef(item)" class="link font-weight-bold">{{ item.contentName }}</a>
              </div>
            </div>
          </div>
          <a
            v-if="announcements.length > 1"
            class="carousel-control-prev"
            href="#carouselAnnounce"
            role="button"
            data-slide="prev"
          >
            <i class="fa fa-angle-left fa-2x" aria-hidden="true"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a
            v-if="announcements.length > 1"
            class="carousel-control-next"
            href="#carouselAnnounce"
            role="button"
            data-slide="next"
          >
            <i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <!--Chat message-->
    <div class="card mt-3">
      <h5 class="card-header">
        <a href="#" class="btn btn-circle" title="Chat messages">
          <img src="../../img/ICON_CHAT_circle.png" class="clearfix" alt="messages" />
        </a>
        {{ $t('menu.messages') }}
      </h5>

      <div class="card-body">
        <div class="row">
          <div class="col-8 text-left">
            <h3 class="font-weight-normal">{{ unreadMessagesCount }}</h3>
            <p>{{ $t('menu.new_messages') }}</p>
          </div>
          <div class="col-4">
            <a href="/chat">
<!--              <span>More</span>-->
              <router-link class="btn btn-circle ml-2" to="/chat" title="Check more messages">
                <img src="../../img/ICON_Go.png" class="clearfix" alt="more information" />
              </router-link>
              <div class="clearfix"></div>
            </a>
          </div>
        </div>
        <hr class="m-0" />
        <div class="container pt-3 pl-2 pr-2">
          <div v-for="value in lastUnreadMessages.slice(0, 3)" class="row pb-3">
            <div class="col-lg-3">
              <a class="btn btn-avatar" v-bind:href="getChatUrl(value)" title="View profiles">
                <img
                  v-if="value['isGroupChat']"
                  src="../../img/science.png"
                  class="clearfix w-100"
                  v-bind:alt="$t('chat.alt_avatar')"
                />
                <img
                  v-else-if="value['avatarId'] == null"
                  src="../../img/user.png"
                  class="clearfix w-100"
                  alt="avatar"
                />
                <DisplayImageFile v-else :image-file-id="value['avatarId']" :mode="avatar"></DisplayImageFile>
              </a>
            </div>
            <div class="col-lg-9 text-left">
              <a v-bind:href="getChatUrl(value)">
                <h6 v-if="value['isGroupChat']">{{ value['username'] }} : {{ value['groupname'] }}</h6>
                <h6 v-else>{{ value['username'] }}</h6>
                <p class="text-message">{{ value['shortMessage'] }}</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <!--Radio-->
    <div class="card mt-3">
      <h5 class="card-header">
        <a href="#" class="btn btn-circle" title="Radio STIMEY">
          <img src="../../img/ICON_RADIO_circle.png" class="clearfix" alt="setting" />
        </a>
        {{ $t('menu.radio') }}
      </h5>
      <div class="card-body">
        <p class="text-center">
          <span>{{ $t('menu.moreInfoAboutRadio') }}</span>
          <router-link class="btn btn-circle ml-2" to="/radio" :title="$t('menu.moreInfoAboutRadio')">
            <img src="../../img/ICON_Go.png" class="clearfix" alt="more information" />
          </router-link>
        </p>

        <div class="clearfix"></div>
        <hr class="mt-2" />
        <!--Radio Player-->
        <div class="radio-player paused mb-4" v-if="this.showRadio">
          <RadioFrame id="secondRadio" width="200" height="160"></RadioFrame>
        </div>
        <div class="radio-player paused mb-4" v-else>
          You are on the radio page already.
        </div>
      </div>
    </div>

    <!--//////////////////////////////////-->
    <!--//////////////////////////////////-->
    <!--//////Modal Windows///////-->
    <!--//////////////////////////////////-->
    <!--//////////////////////////////////-->

    <!--Modal of Set Daily Goal - Gamification-->
    <div class="modal fade" id="modal-set-daily-goal" role="dialog">
      <div class="modal-dialog">
        <!--  Modal content -->
        <div class="modal-content">
          <div class="modal-header pb-1">
            <h5 class="modal-title">Set your daily goal</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h6>* After you achieve your daily goal, you will get a reward!</h6>
            <form id="dailyGoalForm" role="form">
              <div class="form-group form-inline">
                <label class="btn btn-points mr-3">
                  <img
                    src="../../img/ICONS-Knowledge-Points-Yellow-White-circle.png"
                    alt="Knowledge-Points"
                    class="w-100"
                  />
                </label>
                <div class="custom-control custom-radio custom-control-inline">
                  <input
                    v-model="setGoal.knowledgeGoal"
                    type="radio"
                    id="DailyGoalRadioKP1"
                    class="custom-control-input"
                    name="customRadio"
                    value="30"
                  />
                  <label class="custom-control-label" for="DailyGoalRadioKP1">
                    30
                  </label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input
                    v-model="setGoal.knowledgeGoal"
                    type="radio"
                    id="DailyGoalRadioKP2"
                    class="custom-control-input"
                    name="customRadio"
                    value="50"
                  />
                  <label class="custom-control-label" for="DailyGoalRadioKP2">
                    50
                  </label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input
                    v-model="setGoal.knowledgeGoal"
                    type="radio"
                    id="DailyGoalRadioKP3"
                    class="custom-control-input"
                    name="customRadio"
                    value="70"
                  />
                  <label class="custom-control-label" for="DailyGoalRadioKP3">
                    70
                  </label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input
                    v-model="setGoal.knowledgeGoal"
                    type="radio"
                    id="DailyGoalRadioKP4"
                    class="custom-control-input"
                    name="customRadio"
                    value="100"
                  />
                  <label class="custom-control-label" for="DailyGoalRadioKP4">
                    100
                  </label>
                </div>
                <!--  <div class="custom-control custom-radio custom-control-inline mr-0">
                                    <input v-model="setGoal.knowledgeGoal" type="radio" id="DailyGoalRadioKP5" class="custom-control-input" name="customRadio" >
                                    <label class="custom-control-label" for="DailyGoalRadioKP5">
                                    </label>
                                </div> -->
                <input
                  v-model="setGoal.knowledgeGoal"
                  type="text"
                  class="form-control form-control-sm w-25"
                  id="DailyGoalInputKP"
                  placeholder="Give your Goal"
                />
              </div>
            </form>
            <form role="form">
              <div class="form-group form-inline">
                <label class="btn btn-points mr-3">
                  <img src="../../img/ICONS-Social-Points-Blue-White-circle.png" alt="Knowledge-Points" class="w-100" />
                </label>
                <div class="custom-control custom-radio custom-control-inline">
                  <input
                    v-model="setGoal.socialGoal"
                    type="radio"
                    id="DailyGoalRadioSP1"
                    class="custom-control-input"
                    name="customRadio"
                    value="30"
                  />
                  <label class="custom-control-label" for="DailyGoalRadioSP1">
                    30
                  </label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input
                    v-model="setGoal.socialGoal"
                    type="radio"
                    id="DailyGoalRadioSP2"
                    class="custom-control-input"
                    name="customRadio"
                    value="50"
                  />
                  <label class="custom-control-label" for="DailyGoalRadioSP2">
                    50
                  </label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input
                    v-model="setGoal.socialGoal"
                    type="radio"
                    id="DailyGoalRadioSP3"
                    class="custom-control-input"
                    name="customRadio"
                    value="70"
                  />
                  <label class="custom-control-label" for="DailyGoalRadioSP3">
                    70
                  </label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input
                    v-model="setGoal.socialGoal"
                    type="radio"
                    id="DailyGoalRadioSP4"
                    class="custom-control-input"
                    name="customRadio"
                    value="100"
                  />
                  <label class="custom-control-label" for="DailyGoalRadioSP4">
                    100
                  </label>
                </div>
                <!--   <div class="custom-control custom-radio custom-control-inline mr-0">
                                    <input type="radio" id="DailyGoalRadioSP5" class="custom-control-input" name="customRadio" value="DailyGoalRadioSP5">
                                    <label class="custom-control-label" for="DailyGoalRadioSP5">
                                    </label>
                                </div> -->
                <input
                  v-model="setGoal.socialGoal"
                  type="text"
                  class="form-control form-control-sm w-25"
                  id="DailyGoalInputSP"
                  placeholder="Give your Goal"
                />
              </div>
            </form>
            <form role="form">
              <div class="form-group form-inline">
                <label class="btn btn-points mr-3">
                  <img
                    src="../../img/ICONS-Creativity-Points-Red-White-circle.png"
                    alt="Knowledge-Points"
                    class="w-100"
                  />
                </label>
                <div class="custom-control custom-radio custom-control-inline">
                  <input
                    v-model="setGoal.creativityGoal"
                    type="radio"
                    id="DailyGoalRadioCP1"
                    class="custom-control-input"
                    name="customRadio"
                    value="30"
                  />
                  <label class="custom-control-label" for="DailyGoalRadioCP1">
                    30
                  </label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input
                    v-model="setGoal.creativityGoal"
                    type="radio"
                    id="DailyGoalRadioCP2"
                    class="custom-control-input"
                    name="customRadio"
                    value="50"
                  />
                  <label class="custom-control-label" for="DailyGoalRadioCP2">
                    50
                  </label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input
                    v-model="setGoal.creativityGoal"
                    type="radio"
                    id="DailyGoalRadioCP3"
                    class="custom-control-input"
                    name="customRadio"
                    value="70"
                  />
                  <label class="custom-control-label" for="DailyGoalRadioCP3">
                    70
                  </label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input
                    v-model="setGoal.creativityGoal"
                    type="radio"
                    id="DailyGoalRadioCP4"
                    class="custom-control-input"
                    name="customRadio"
                    value="100"
                  />
                  <label class="custom-control-label" for="DailyGoalRadioCP4">
                    100
                  </label>
                </div>
                <!--   <div class="custom-control custom-radio custom-control-inline mr-0">
                                    <input type="radio" id="DailyGoalRadioCP5" class="custom-control-input" name="customRadio" value="DailyGoalRadioCP5">
                                    <label class="custom-control-label" for="DailyGoalRadioCP5">
                                    </label>
                                </div>  -->
                <input
                  v-model="setGoal.creativityGoal"
                  type="text"
                  class="form-control form-control-sm w-25"
                  id="DailyGoalInputCP"
                  placeholder="Give your Goal"
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button @click="submitDailyGoalForm" type="button" class="btn btn-green" data-dismiss="modal">Save</button>
            <button type="button" class="btn btn-orange" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import DisplayImageFile from './common/DisplayImageFile';
import { storage_getURL, storage_getdashboardApiUrl, getNotificationApiUrl } from '../../js/global';
import RadioFrame from "./radio/RadioFrame";

export default {
  name: 'Menu',
  components: {
    RadioFrame,
    DisplayImageFile
  },
  data: function() {
    return {
      state: this.$store,
      avatarImageId: null,
      ePortfolioId: null,

      // Change worldTesting to true for world-preview
      worldTesting: true,
      path: '' /*window.location.pathname*/,
      pathState: '',
      dailyGoal: {
        kp: 0,
        sp: 0,
        cp: 0,
        kpGoal: 0,
        spGoal: 0,
        cpGoal: 0
      },
      setGoal: {
        knowledgeGoal: '',
        socialGoal: '',
        creativityGoal: ''
      },
      style: {
        knowledge: { width: 0 + '%', 'box-shadow': '-1px 10px 10px rgba(240, 173, 78,0.57)' },
        social: { width: 0 + '%', 'box-shadow': '-1px 10px 10px rgba(128, 209, 222,0.5)' },
        creativity: { width: 0 + '%', 'box-shadow': '-1px 10px 10px rgba(222, 92, 92,0.5)' }
      },

      showRadio: false,

      // unread messages
      lastUnreadMessages: [],
      unreadMessagesCount: 0,

      //announcements
      announcements: []
    };
  },
  watch: {
    $route(to) {
      console.log(to);
    }
  },
  created() {
	  
	  var self = this;
	  this.$dailyGoalBus.$on('points', function () {
		  	self.initDailyGoal();
		});
	  
    axios
      .get(storage_getdashboardApiUrl('API_GATEWAY_STORAGE') + '/portfolio?userid=' + this.$store.profile.userid)
      .then(response => {
        this.ePortfolioId = response.data.ePortfolioId;
      })
      .catch(error => {
        console.log(error);
      });

    this.path = this.$route.path;
    //console.log(this.path);
    //console.log(this.path.includes("missions"));

    if (this.path.includes('/missions')) this.pathState = 'missions';
    else if (this.path.includes('/lab')) this.pathState = 'lab';
    else if (this.path.includes('/activitystream')) this.pathState = 'activitystream';
    else if (this.path.includes('/planets')) this.pathState = 'planets';
    else if (this.path.includes('/worlds')) this.pathState = 'worlds';
    else if (this.path.includes('/communities')) this.pathState = 'communities';
    else if (this.path.includes('/achievements')) this.pathState = 'achievements';
    else if (this.path.includes('../../badges/' + this.$store.profile.userid)) this.pathState = 'badges';

    this.avatarImageId = this.$store.profile.avatarImageId;

    this.initDailyGoal();

    this.getAnnouncements();
    if (typeof fetch_notifications_and_announcements !== 'undefined') {
      if (fetch_notifications_and_announcements()) {
        setInterval(() => this.getAnnouncements(), 10000);
      }
    } else {
      setInterval(() => this.getAnnouncements(), 10000);
    }

    this.timer = setInterval(() => this.fetchUnreadMessages(), 1500);
  },
  mounted() {
  },
  updated() {
    let currentUrl = window.location.pathname;

    if (currentUrl == '/radio') {
      this.showRadio = false;
    } else {
      this.showRadio = true;
    }
  },
  methods: {
    getStaticURL() {
      return storage_getURL('STATIC');
    },
    initDailyGoal() {
      axios
        .get(
          storage_getURL('API_GATEWAY_STORAGE') +
            '/api-proxy/achievements/api/achievements/dailygoal/' +
            this.$store.currentUser.userid
        )
        .then(response => {
          if (response.data != '') {
            this.dailyGoal.kp = response.data.kp;
            this.dailyGoal.sp = response.data.sp;
            this.dailyGoal.cp = response.data.cp;
            this.dailyGoal.kpGoal = response.data.kpGoal;
            this.dailyGoal.spGoal = response.data.spGoal;
            this.dailyGoal.cpGoal = response.data.cpGoal;
            this.style.knowledge.width = response.data.kpPercent + '%';
            this.style.social.width = response.data.spPercent + '%';
            this.style.creativity.width = response.data.cpPercent + '%';

            //                             console.log("TEST");
            //                             console.log("USER: " + this.$store.currentUser.username);
            //                             this.$store.dailyGoal.kp = 3;
            //                             console.log("KP: " + this.$store.dailyGoal.kp);
          }
        });
    },
    submitDailyGoalForm() {
      axios
        .post(
          storage_getURL('API_GATEWAY_STORAGE') +
            '/api-proxy/achievements/api/achievements/dailygoal/' +
            this.$store.currentUser.userid,
          this.setGoal
        )
        .then(response => {
          swal(response.data.title, response.data.message, response.data.type);
          this.setGoal.knowledgeGoal = '';
          this.setGoal.socialGoal = '';
          this.setGoal.creativityGoal = '';
          this.initDailyGoal();
        });
    },

    fetchUnreadMessages: function() {
      axios
        .get(storage_getURL('API_GATEWAY_STORAGE') + '/api-proxy/chat/api/chat/get-last-unread-messages')
        .then(response => {
          if (response.status == 200) {
            this.lastUnreadMessages = response.data;
            this.unreadMessagesCount = response.data.length;
          } else {
            this.lastUnreadMessages = [];
            this.unreadMessagesCount = 0;
          }
        })
        .catch(error => {
          this.lastUnreadMessages = [];
          this.unreadMessagesCount = 0;
        });
    },

    getChatUrl: function(chat) {
      if (!chat) return '#';

      if (chat['isGroupChat']) {
        return '/chat?groupid=' + chat['userId'];
      } else {
        return '/chat?userid=' + chat['userId'];
      }
    },

    getAnnouncements() {
      axios.get(getNotificationApiUrl('API_GATEWAY_STORAGE') + '/announcement/retrieve').then(
        response => {
          if (response.status === 200 && Array.isArray(response.data)) {
            this.announcements = response.data;
          }
        },
        error => {
          console.log(error);
        }
      );
    },

    getImageFileUrl(imageID) {
      return storage_getURL('FILES') + '/api/files/' + imageID;
    },

    millisecondsToDateString(ms) {
      return new Date(parseInt(ms)).toLocaleDateString(this.state.currentUser.language, {
        year: 'numeric',
        month: 'numeric',
        day: 'numeric',
        hour: 'numeric',
        minute: 'numeric',
        second: 'numeric'
      });
    },

    getAnnouncementContentRef(announcement) {
      switch (announcement.source) {
        case 'community':
          return window.location.origin + '/' + 'community/' + announcement.contentID;
        case 'mission':
          return window.location.origin + '/' + 'missions/' + announcement.contentID + '/overview';
        case 'world':
          return window.location.origin + '/' + 'worlds/preview/' + announcement.contentID;
        default:
          return '#';
      }
    }
  }
};
</script>

<style scoped>
@import url('../../css/main.css');
@import url('../../css/profiles.css');
@import url('../../css/community.css');
</style>