<template>
    <div class="bg-card bg-card-login">
        <div class="bg-star"></div>
        <div class="wrapper-info">
            <div class="card card-comm h-100">
                <div class="card-body p-4 pt-4 mt-3">
                    <h5 class="text-center">Whoops, the page was not found! We are working... Your STIMEY Team.</h5>
                    <hr>
                    <form class="mt-3" role="form">
                        <div class="form-group">

                        </div>
                        <div class="form-group mt-4">
                            <a href="/activitystream"><button class="btn btn-green w-100" type="button">Go back</button></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    name: 'NotFound',
    components: {},
    data: function () {
      return {
        state: {
        }
      }
    }
  }
</script>

<style scoped>
    @import url("../../css/stimey-home.css");
</style>
