<template>
  <div>
    <div v-if="!useCallback">
      <div class="card">
        <div class="card-header pl-0 pr-0 pb-0">
          <ul class="nav nav-tabs float-left" role="tablist">
            <li class="nav-item">
              <a
                v-bind:class="'nav-link-s ' + (hasAnchorAnnouncements() ? '' : 'active show')"
                id="notifications-tab"
                data-toggle="tab"
                href="#notifications"
                role="tab"
                data-controls="notifications"
                aria-selected="true"
              >
                <h5>Notifications</h5>
              </a>
            </li>
            <li class="nav-item">
              <a
                v-bind:class="'nav-link-s ' + (hasAnchorAnnouncements() ? 'active show' : '')"
                id="announcements-tab"
                data-toggle="tab"
                href="#announcements"
                role="tab"
                data-controls="announcements"
                aria-selected="false"
              >
                <h5>Announcements</h5>
              </a>
            </li>
          </ul>
          <div class="float-right mt-2 mr-3">
            <div class="btn btn-circle btn-set-point">
              <img src="../../img/ICON_Newest-Answer.png" class="float-right" @click="showHelp" alt="Help" />
            </div>
          </div>
        </div>
      </div>

      <div class="tab-content mt-3">
        <div class="card mt-3" v-if="help">
          <div class="card-header card-header-with-border">
            <h6 class="text-left">{{ $t('notification.help_title') }}</h6>
          </div>
          <div class="card-body text-left">
            <div style="white-space: pre-wrap; word-wrap: break-word; font-size: 1rem;" v-if="usertype === 'student'">{{$t('notification.help_explorer_description')}}</div>
            <div style="white-space: pre-wrap; word-wrap: break-word; font-size: 1rem;" v-if="usertype === 'teacher'">{{$t('notification.help_leader_description')}}</div>
            <div style="white-space: pre-wrap; word-wrap: break-word; font-size: 1rem;" v-if="usertype === 'incubator'">{{$t('notification.help_incubator_description')}}</div>
            <div style="white-space: pre-wrap; word-wrap: break-word; font-size: 1rem;" v-if="usertype === 'ambassador'">{{$t('notification.help_ambassador_description')}}</div>
            <br/>
            <button type="button" class="btn btn-green w-25 mb-2" @click="showHelp">OK</button>
          </div>
        </div>
        <!--Tab of All notifications-->
        <!--Notifications-->
        <div
          v-bind:class="'tab-pane fade ' + (hasAnchorAnnouncements() ? '' : 'active show')"
          id="notifications"
          role="tabpanel"
          aria-labelledby="notifications-tab"
        >
          <div class="card mt-3">
            <div class="card-header card-header-with-border">
              <!--Settings drowdown-->
              <a
                class="btn btn-circle pull-right"
                href="#"
                id="notificationDropdownSetting"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <img src="../../img/ICON_SETTINGS_circle.png" class="clearfix w-100" alt="notification_settings" />
              </a>

              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="notificationDropdownSetting">
                <a class="dropdown-item" v-on:click="markSelectedAsRead">{{ $t('notification.mark_selected_read') }}</a>
                <a class="dropdown-item" v-on:click="markSelectedAsUnRead">{{
                  $t('notification.mark_selected_unread')
                }}</a>
                <hr />
                <a class="dropdown-item" v-on:click="markAllAsRead">{{ $t('notification.mark_all_read') }}</a>
                <a class="dropdown-item" v-on:click="markAllAsUnRead">{{ $t('notification.mark_all_unread') }}</a>
                <hr />
                <a class="dropdown-item" v-on:click="deleteSelectedNotifications">{{
                  $t('notification.delete_selected')
                }}</a>
                <hr />
                <a class="dropdown-item" v-on:click="deleteAllNotifications">{{ $t('notification.delete_all') }}</a>
              </div>
              <!--Settings drowdown end-->
            </div>

            <div class="card-body text-left">
              <ul class="list-group list-group-flush">
                <!--for selected items style="background-color: lightblue;"-->
                <li
                  v-for="item in notificationArr"
                  :key="item.date"
                  :style="getBackgroundColor(item)"
                  class="list-group-item d-flex"
                  v-on:click="onClickCallback($event.currentTarget, item)"
                >
                  <a class="btn btn-avatar" href="#">
                    <span v-html="getHtmlUserImage(item.userData)"></span>
                  </a>

                  <div class="ml-3">
                    <p class="mb-0">
                      <span v-html="getHtmlUserProfileLinks(item.userData)"></span>
                      {{ $t(item.text) }}
                      <a class="link font-weight-bold" v-bind:href="getContentLink(item.postContentRef)">{{
                        $t(item.postContentText)
                      }}</a>
                    </p>
                    <a v-if="item.icon != null && item.icon !== ''" class="btn btn-circle" href="#">
                      <img :src="'/dist/' + item.icon" alt="profile" />
                    </a>
                    <span class="text-message">{{ millisecondsToDateString(item.date) }}</span>
                  </div>

                  <a
                    class="fa fa-angle-down fa-2x pull-right ml-md-auto"
                    href="#"
                    id="notificationRightSetting"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  ></a>

                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="notificationRightSetting">
                    <a
                      v-if="!item.isMarkedAsRead"
                      class="dropdown-item"
                      v-on:click="onClickMarkAsReadNotification(item)"
                      >{{ $t('notification.mark_read') }}</a
                    >
                    <a v-else class="dropdown-item" v-on:click="onClickMarkAsUnReadNotification(item)">{{
                      $t('notification.mark_unread')
                    }}</a>
                    <hr />
                    <a class="dropdown-item" v-on:click="onClickDeleteNotification(item)">{{
                      $t('notification.delete')
                    }}</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!--Notifications end-->

        <!--Announcements-->
        <div
          v-bind:class="'tab-pane fade ' + (hasAnchorAnnouncements() ? 'active show' : '')"
          id="announcements"
          role="tabpanel"
          aria-labelledby="announcements-tab"
        >
          <div class="card mt-3">
            <div class="card-header card-header-with-border">
              <!--Settings drowdown-->
              <a
                class="btn btn-circle pull-right"
                href="#"
                id="announcementDropdownSetting"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <img src="../../img/ICON_SETTINGS_circle.png" class="clearfix w-100" />
              </a>

              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="announcementDropdownSetting">
                <a class="dropdown-item" v-on:click="markSelectedAsReadAnnouncements">{{
                  $t('announcement.mark_selected_read')
                }}</a>
                <a class="dropdown-item" v-on:click="markSelectedAsUnReadAnnouncements">{{
                  $t('announcement.mark_selected_unread')
                }}</a>
                <hr />
                <a class="dropdown-item" v-on:click="markAllAnnouncementsAsRead">{{
                  $t('announcement.mark_all_read')
                }}</a>
                <a class="dropdown-item" v-on:click="markAllAnnouncementsAsUnRead">{{
                  $t('announcement.mark_all_unread')
                }}</a>
                <hr />
                <a class="dropdown-item" v-on:click="deleteSelectedAnnouncements">{{
                  $t('announcement.delete_selected')
                }}</a>
                <hr />
                <a class="dropdown-item" v-on:click="deleteAllAnnouncements">{{ $t('announcement.delete_all') }}</a>
              </div>
              <!--Settings drowdown end-->
            </div>

            <div class="card-body text-left">
              <ul class="list-group list-group-flush">
                <li
                  v-for="item in this.announcementArr"
                  :key="item.announcementID"
                  :style="getBackgroundColor(item)"
                  align="left"
                  class="list-group-item d-flex"
                  v-on:click="onClickCallback($event.currentTarget, item)"
                >
                  <div>
                    <router-link :to="{ path: '/profiles/' + item.creatorID }" tag="a" class="btn btn-avatar">
                      <img :src="getImageRef(item)" alt="avatar" />
                    </router-link>
                  </div>
                  <div class="ml-3">
                    <router-link :to="{ path: '/profiles/' + item.creatorID }" tag="a" class="link font-weight-bold">
                      {{ item.userName }}
                    </router-link>

                    <router-link :to="{ path: getAnnouncementContentRef(item) }" tag="a" class="link font-weight-bold">
                      {{ item.title }}
                    </router-link>

                    <h6>
                      <i>{{ item.description }}</i>
                    </h6>
                    <span class="text-message">{{ millisecondsToDateString(item.createDate) }}</span>
                  </div>

                  <a
                    class="fa fa-angle-down fa-2x pull-right ml-md-auto"
                    href="#"
                    id="announcementRightSetting"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  ></a>

                  <div class="dropdown-menu dropdown-menu-left" aria-labelledby="announcementRightSetting">
                    <a
                      v-if="!item.isMarkedAsRead"
                      class="dropdown-item"
                      v-on:click="onClickMarkAsReadAnnouncement(item)"
                      >{{ $t('announcement.mark_read') }}</a
                    >
                    <a v-else class="dropdown-item" v-on:click="onClickMarkAsUnReadAnnouncement(item)">{{
                      $t('announcement.mark_unread')
                    }}</a>
                    <hr />
                    <a class="dropdown-item" v-on:click="onClickDeleteAnnouncement(item)">{{
                      $t('announcement.delete')
                    }}</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!--Announcements end-->
      </div>
    </div>

    <ul v-else class="list-group list-group-flush">
      <li v-for="item in notificationArr" class="list-group-item d-flex">
        <a class="btn btn-avatar" href="#">
          <span v-html="getHtmlUserImage(item.userData)"></span>
        </a>
        <div class="ml-3">
          <p class="mb-0">
            <span v-html="getHtmlUserProfileLinks(item.userData)"></span>
            {{ $t(item.text) }}
            <a class="link font-weight-bold" v-bind:href="getContentLink(item.postContentRef)">{{
              $t(item.postContentText)
            }}</a>
          </p>
          <a v-if="item.icon != null && item.icon !== ''" class="btn btn-circle" href="#">
            <img :src="'/dist/' + item.icon" alt="mission" />
          </a>
          <span class="text-message">{{ millisecondsToDateString(item.date) }}</span>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import { getNotificationApiUrl, storage_getURL, storage_getdashboardApiUrl } from '../../js/global';
import { followUser, unFollow, isFollowing } from './profile/common/networkingFunctions';

//For the Vue emit function
const parentCallbackName = 'onRetrieveNotifications';

/**
 * Object prototype for a notification request
 * (notification response has slightly different properties)
 *
 * @param origin
 * @param userIDs
 * @param postContentText
 * @param postContentRef
 * @param text
 * @param icon
 * @constructor
 */
function Notification(origin, userIDs, postContentText, postContentRef, text, icon) {
  this.origin = origin;
  this.userIDs = [].concat(userIDs);
  this.postContentText = postContentText;
  this.postContentRef = postContentRef;
  this.text = text;
  this.icon = icon;
}

/**
 * Object prototype for an announcement request
 * (announcement response has slightly different properties)
 *
 * @param source
 * @param contentID
 * @param creatorID
 * @param title
 * @param description
 * @param contentText
 * @param contentRef
 * @constructor
 */
function Announcement(source, contentID, creatorID, title, description, contentText, contentRef) {
  this.source = source;
  this.contentID = contentID;
  this.creatorID = creatorID;
  this.title = title;
  this.description = description;
  this.contentText = contentText;
  this.contentRef = contentRef;
}

export default {
  name: 'Notifications',
  props: {
    fetchOnlyNew: {
      type: Boolean,
      required: false
    },
    //If true then Notifications is a childcomponent like in a dropdown menu
    useCallback: {
      type: Boolean,
      required: false
    }
  },

  data: function() {
    return {
      state: this.$store,

      path: window.location.hash,

      notificationArr: [],
      announcementArr: [],
        usertype: null,
        help: false
    };
  },
    created() {
        this.usertype = this.$store.currentUser.usertype;
    },
  mounted() {
    this.getNewNotifications();

    if (typeof fetch_notifications_and_announcements !== 'undefined') {
      if (!fetch_notifications_and_announcements()) {
        return;
      }
    }

    //Poll for notifications all 10 seconds
    if (this.useCallback) {
      this.timer = setInterval(() => this.getNewNotifications(), 10000);
    } else {
      this.timer = setInterval(() => {
        this.getNewNotifications();
        this.getAnnouncements();
      }, 10000);
      this.getAnnouncements();
    }
  },

  methods: {
      showHelp() {
          this.help = !this.help;
      },
    getImageRef(announcement) {
      return (
        storage_getdashboardApiUrl('API_GATEWAY_STORAGE') +
        '/profiles/' +
        announcement.creatorID +
        '/avatarImageRedirect'
      );
    },
    /**
     * Called when clicked on notification
     *
     * @param notification The notification that got clicked
     */
    onClickCallback(element, notification) {
      //Check if <li> tag
      if (element.nodeName === 'LI') {
        if (notification.selected) {
          notification.selected = false;
          element.style.backgroundColor = 'white';
        } else {
          notification['selected'] = true;
          element.style.backgroundColor = 'lightblue';
        }
      }
    },

    onClickMarkAsReadNotification(notification) {
      notification.isMarkedAsRead = true;
      this.markAsRead(notification.date);
    },

    onClickMarkAsUnReadNotification(notification) {
      notification.isMarkedAsRead = false;
      this.markAsUnRead(notification.date);
    },

    onClickDeleteNotification(notification) {
      this.deleteNotifications(notification.date);
      this.notificationArr.splice(this.notificationArr.indexOf(notification), 1);
    },

    onClickMarkAsReadAnnouncement(announcement) {
      announcement.isMarkedAsRead = true;
      this.markAnnouncementsAsRead(announcement.announcementID);
    },

    onClickMarkAsUnReadAnnouncement(announcement) {
      announcement.isMarkedAsRead = false;
      this.markAnnouncementsAsUnRead(announcement.announcementID);
    },

    onClickDeleteAnnouncement(announcement) {
      this.deleteAnnouncements(announcement.announcementID);
      this.announcementArr.splice(this.announcementArr.indexOf(announcement), 1);
    },

    /**
     * Checks if the url has an anchor announcements
     *
     * @returns True if it has otherwise false
     */
    hasAnchorAnnouncements() {
      return window.location.hash === '#announcements';
    },

    /**
     * Creates html for the user image of the first user in the notificaiton
     *
     * @param userData The ID map
     *
     * @returns {string} The html
     */
    getHtmlUserImage(userData) {
      //<img v-if="item.userImageID != null" :src="getImageFileUrl(item.userImageID)" alt="avatar">
      //<img v-else src="../../img/user.png" alt="avatar">

      //userData is a map, the loop is iterating over its keyset
      for (let key in userData) {
        if (userData[key] != null) {
          let userImageID = userData[key][1];

          if (userImageID != null) {
            return '<img src="' + this.getImageFileUrl(userImageID) + '" alt="avatar">';
          } else {
            return '<img src="/dist/user.png" alt="avatar">';
          }
        }
      }

      return '';
    },

    /**
     * Creates html links from a map of userIDs and their data
     *
     * @param userData The ID map
     *
     * @returns {string} The html
     */
    getHtmlUserProfileLinks(userData) {
      let htmlOut = '';
      let count = 0;

      //userData is a map, the loop is iterating over its keyset
      for (let key in userData) {
        //only first three users get mentioned in the notification
        if (count++ < 3) {
          if (userData[key] != null) {
            let userName = userData[key][0];

            if (userName != null) {
              htmlOut += ", <a href='/profiles/" + key + "' class='link font-weight-bold'>" + userName + '</a>';
            }
          }
        }
      }

      //remove first comma
      htmlOut = htmlOut.substring(1);
      htmlOut += ' ';

      count -= 3;
      if (count > 0) {
        if (count == 1) {
          htmlOut += this.$t('notification.other');
        } else {
          htmlOut += this.$t('notification.others').replace('{n}', count);
        }
      }

      return htmlOut;
    },

    /**
     * Returns the style for an Html element
     * based on if it is selected or read
     *
     * @param item The item to check
     *
     * @returns {string} The style attributes
     */
    getBackgroundColor(item) {
      let style = '';
      if (item['selected'] === true) {
        style += 'background-color:lightblue;';
      } else {
        style += 'background-color:white;';
      }
      if (item.isMarkedAsRead) {
        style += 'filter:brightness(95%);';
      }
      return style;
    },

    /**
     * Returns the image url for an ID
     *
     * @param imageID The image id
     *
     * @returns {string} The url
     */
    getImageFileUrl(imageID) {
      return storage_getURL('FILES') + '/api/files/' + imageID;
    },

    /**
     * Returns a link
     *
     * @param contentRef The location where the link is refered to
     *
     * @returns {string} The link
     */
    getContentLink(contentRef) {
      return window.location.origin + '/' + contentRef;
    },

    /**
     * Returns a formatted String representing the time
     *
     * @param ms Date in milliseconds
     *
     * @returns {string} The formatted date
     */
    millisecondsToDateString(ms) {
      //08.09.2018 at 9:00 am
      return new Date(parseInt(ms)).toLocaleDateString(this.state.currentUser.language, {
        year: 'numeric',
        month: 'numeric',
        day: 'numeric',
        hour: 'numeric',
        minute: 'numeric',
        second: 'numeric'
      });
    },

    /**
     * Returns a formatted String representing the time
     *
     * @param ms Date in milliseconds
     *
     * @returns {string} The formatted date
     */
    millisecondsToShortDateString(ms) {
      //08.09.2018
      return new Date(parseInt(ms)).toLocaleDateString(this.state.currentUser.language, {
        year: 'numeric',
        month: 'numeric',
        day: 'numeric'
      });
    },

    /**
     * Retrieves notifications
     */
    getNewNotifications() {
      //plus is boolean to int
      this.getNotifications(0, -1, +this.fetchOnlyNew);
    },

    /**
     * Retreives the specified amount of notifications for a user
     *
     * @param start Startpostion of the messages in NotificationList
     * @param count The count of how many messages to retrieve, -1 for everything from start to end
     * @param unRead unRead = 1, retrieve only new notifications
     */
    getNotifications(start, count, unRead) {
      if (typeof start === 'undefined') {
        start = 0;
      }
      if (typeof count === 'undefined') {
        count = -1;
      } //-1 = all notifications
      if (typeof unRead === 'undefined') {
        unRead = 0;
      } //0 = all, 1 = new

      axios
        .get(
          getNotificationApiUrl('API_GATEWAY_STORAGE') +
            '/notification/retrieve' +
            '?start=' +
            start +
            '&count=' +
            count +
            '&new=' +
            unRead
        )
        .then(
          response => {
            if (response.status === 200 && Array.isArray(response.data)) {
              let oldNotifications = this.notificationArr;
              this.notificationArr = response.data;

              //If Notifications is a childcomponent
              if (this.useCallback) {
                //Send number of notifications to the parent callback
                this.$emit(parentCallbackName, this.notificationArr.length);
                //only display first ten
                this.notificationArr = this.notificationArr.slice(0, 10);
              } else {
                //Iterate over selected notification
                for (let notification of oldNotifications) {
                  //Set the new notifications as selected if the ID matches
                  if (notification.selected) {
                    for (let n of this.notificationArr) {
                      if (n.date === notification.date) {
                        n['selected'] = true;
                      }
                    }
                  }
                }
              }
            }
          },
          error => {
            console.log(error);
          }
        );
    },

    /**
     * Sends a notification to a specified user
     *
     * @param userID User ID of the user who is to retrieve this notification
     * @param notification The notification
     */
    sendNotificationByUID(userID, notification) {
      console.log('Send notification to: ' + userID);
      console.log(notification);

      axios.post(getNotificationApiUrl('API_GATEWAY_STORAGE') + '/notification/send/' + userID, notification);
    },

    /**
     * Deletes selected notifications
     *
     * date will be used as ID because its unique
     */
    deleteSelectedNotifications() {
      this.deleteNotifications(this.notificationArr.filter(element => element.selected).map(element => element.date));
      this.notificationArr = this.notificationArr.filter(element => !element.selected);
    },

    /**
     * Deletes all notifications
     *
     * date will be used as ID because its unique
     */
    deleteAllNotifications() {
      this.deleteNotifications(this.notificationArr.map(element => element.date));
    },

    /**
     * Deletes notifications
     *
     * date will be used as ID because its unique
     *
     * @param notificationIDs An array with the IDs of the notifications
     */
    deleteNotifications(notificationIDs) {
      axios.post(getNotificationApiUrl('API_GATEWAY_STORAGE') + '/notification/delete', [].concat(notificationIDs));
    },

    /**
     * Marks selected notifications as read
     *
     * date will be used as ID because its unique
     */
    markSelectedAsRead() {
      this.markAsRead(
        this.notificationArr
          .filter(element => element.selected && !element.isMarkedAsRead)
          .map(element => {
            element.isMarkedAsRead = true;
            return element.date;
          })
      );
    },

    /**
     * Marks all notifications as read
     *
     * date will be used as ID because its unique
     */
    markAllAsRead() {
      let ids = [];

      this.notificationArr.forEach(element => {
        if (!element.isMarkedAsRead) {
          element.isMarkedAsRead = true;
          ids.push(element.date);
        }
      });

      this.markAsRead(ids);
    },

    /**
     * Sends request to mark notifications as read
     *
     * date will be used as ID because its unique
     *
     * @param notificationIDs Array of notification IDs
     */
    markAsRead(notificationIDs) {
      axios.post(getNotificationApiUrl('API_GATEWAY_STORAGE') + '/notification/read', [].concat(notificationIDs));
    },

    /**
     * Marks selected notifications as unread
     *
     * date will be used as ID because its unique
     */
    markSelectedAsUnRead() {
      this.markAsUnRead(
        this.notificationArr
          .filter(element => element.selected && element.isMarkedAsRead)
          .map(element => {
            element.isMarkedAsRead = false;
            return element.date;
          })
      );
    },

    /**
     * Marks all notifications as unread
     *
     * date will be used as ID because its unique
     */
    markAllAsUnRead() {
      let ids = [];

      this.notificationArr.forEach(element => {
        if (element.isMarkedAsRead) {
          element.isMarkedAsRead = false;
          ids.push(element.date);
        }
      });

      this.markAsUnRead(ids);
    },

    /**
     * Sends request to mark notifications as unread
     *
     * date will be used as ID because its unique
     *
     * @param notificationIDs Array of notification IDs
     */
    markAsUnRead(notificationIDs) {
      axios.post(getNotificationApiUrl('API_GATEWAY_STORAGE') + '/notification/unread', [].concat(notificationIDs));
    },

    filterNotificationOrigin(origin) {
      axios.post(getNotificationApiUrl('API_GATEWAY_STORAGE') + '/notification/filter', [].concat(origin));
    },

    //////////////////////////////////////////////// ANNOUNCEMENT METHODS

    /**
     * Returns a linke to the content of the announcement
     *
     * @param announcement The announcement
     *
     * @return {String} The link to the content of the announcement
     */
    getAnnouncementContentRef(announcement) {
      switch (announcement.source) {
        case 'community':
          return `/community/${announcement.contentID}`;
        case 'mission':
          return `/missions/${announcement.contentID}/overview`;
        case 'world':
          return `/worlds/preview/${announcement.contentID}`;
        default:
          return '#';
      }
    },

    /**
     * Retrieves announcements for a user
     */
    getAnnouncements() {
      axios.get(getNotificationApiUrl('API_GATEWAY_STORAGE') + '/announcement/retrieve').then(
        response => {
          if (response.status === 200 && Array.isArray(response.data)) {
            let oldAnnouncements = this.announcementArr;
            this.announcementArr = response.data;

            //Set new announcements as selected
            for (let announcement of oldAnnouncements) {
              //Set the new notifications as selected if the ID matches
              if (announcement.selected) {
                for (let a of this.announcementArr) {
                  if (a.announcementID === announcement.announcementID) {
                    a['selected'] = true;
                  }
                }
              }
            }
          }
        },
        error => {
          console.log(error);
        }
      );
    },

    /**
     * Sends an announcement
     *
     * @param userID
     * @param announcement
     */
    sendAnnouncement(userID, announcement) {
      console.log('ASend announcement to: ' + userID);
      console.log(announcement);

      axios.post(getNotificationApiUrl('API_GATEWAY_STORAGE') + '/announcement/send/' + userID, announcement);
    },

    /**
     * Subscribe user to announcement source
     *
     * @param userID
     * @param listID
     */
    subscribeUser(userID, listID) {
      axios.get(getNotificationApiUrl('API_GATEWAY_STORAGE') + '/announcement/subscribe/' + userID + '/' + listID);
    },

    /**
     * Unsubscribe user to announcement source
     *
     * @param userID
     * @param listID
     */
    unsubscribeUser(userID, listID) {
      axios.get(getNotificationApiUrl('API_GATEWAY_STORAGE') + '/announcement/unsubscribe/' + userID + '/' + listID);
    },

    /**
     * Deletes selected announcements
     *
     */
    deleteSelectedAnnouncements() {
      this.deleteAnnouncements(
        this.announcementArr.filter(element => element.selected).map(element => element.announcementID)
      );
      this.announcementArr = this.announcementArr.filter(element => !element.selected);
    },

    /**
     * Deletes all announcements for a user
     */
    deleteAllAnnouncements() {
      this.deleteAnnouncements(this.announcementArr.map(element => element.announcementID));
    },

    /**
     * Deletes announcements for a user
     *
     * @param announcementIDs An array with the IDs of the announcements
     */
    deleteAnnouncements(announcementIDs) {
      axios.post(getNotificationApiUrl('API_GATEWAY_STORAGE') + '/announcement/delete', [].concat(announcementIDs));
    },

    /**
     * Marks selected announcements as read
     */
    markSelectedAsReadAnnouncements() {
      this.markAnnouncementsAsRead(
        this.announcementArr
          .filter(element => element.selected && !element.isMarkedAsRead)
          .map(element => {
            element.isMarkedAsRead = true;
            return element.announcementID;
          })
      );
    },

    /**
     * Marks all announcements as read
     */
    markAllAnnouncementsAsRead() {
      let ids = [];

      this.announcementArr.forEach(element => {
        if (!element.isMarkedAsRead) {
          element.isMarkedAsRead = true;
          ids.push(element.announcementID);
        }
      });

      this.markAnnouncementsAsRead(ids);
    },

    /**
     * Sends request to mark announcements as read
     *
     * @param announcementIDs Array of announcement IDs
     */
    markAnnouncementsAsRead(announcementIDs) {
      axios.post(getNotificationApiUrl('API_GATEWAY_STORAGE') + '/announcement/read', [].concat(announcementIDs));
    },

    /**
     * Marks selected announcements as unread
     */
    markSelectedAsUnReadAnnouncements() {
      this.markAnnouncementsAsUnRead(
        this.announcementArr
          .filter(element => element.selected && element.isMarkedAsRead)
          .map(element => {
            element.isMarkedAsRead = false;
            return element.announcementID;
          })
      );
    },

    /**
     * Marks all announcements as unread
     */
    markAllAnnouncementsAsUnRead() {
      let ids = [];

      this.announcementArr.forEach(element => {
        if (element.isMarkedAsRead) {
          element.isMarkedAsRead = false;
          ids.push(element.announcementID);
        }
      });

      this.markAnnouncementsAsUnRead(ids);
    },

    /**
     * Sends request to mark announcements as unread
     *
     * @param announcementIDs Array of announcement IDs
     */
    markAnnouncementsAsUnRead(announcementIDs) {
      axios.post(getNotificationApiUrl('API_GATEWAY_STORAGE') + '/announcement/unread', [].concat(announcementIDs));
    },

    /**
     * Deletes a source of announcements, like a course or mission
     *
     * @param listID The ID of the source
     */
    deleteAnnouncementSource(listID) {
      axios.post(getNotificationApiUrl('API_GATEWAY_STORAGE') + '/announcement/delete/' + listID);
    },

    /**
     * Deletes a users subscription list
     */
    deleteSubscriptionList() {
      axios.post(getNotificationApiUrl('API_GATEWAY_STORAGE') + '/announcement/deleteuser');
    }
  }
};
</script>

<style scoped></style>
