<template>
<div>
    <!-- planet -->
    <div class="post-module">
        <!-- thumbnail-->
        <div class="thumbnail">
            <div class="date planet">
            <div class="day">{{ getDay(planet.creationDate) }}</div>
            <div class="month">{{ getMonth(planet.creationDate) }}</div>
            </div>
            <img src="img/CRASH PLANET_stars.png" class="rounded" alt="Planet Image"> 
        </div>
        <!-- post content-->
        <div class="post-content">
            <div class="category planet">{{ planet.difficulty }}</div>
            <h6 class="title">{{ planet.name }}</h6>
            <h2 class="sub-title pb-2">By {{ planet.owner }}</h2>
            <ul class="pl-3" style="list-style-type:circle">
            <li class="pb-1"><span class="font-weight-bold">{{ planet.missions.length }} Missions</span></li>
            <li class="pb-1"><span class="font-weight-bold">{{ planet.challenges.length}} Challenges</span></li>
            <li class="pb-1"><span class="font-weight-bold">{{ planet.games.length }} Game</span></li>
            </ul>
            <p class="description" v-for="(keyword, index) in planet.keywords" :key="index">
                <a href="#">#{{ keyword }}</a>
            </p>
            <div class="post-meta">
            <span class="text-muted">
                <a class="btn btn-circle">
                <img src="img/ICONS-Knowledge-Points-Yellow-White-circle.png" class="w-100" alt="KP">
                </a>
                <span>{{ planet.rewards.knowledge }}</span>
                <a class="btn btn-circle">
                <img src="img/ICONS-Social-Points-Blue-White-circle.png" class="w-100" alt="SP">
                </a>
                <span>{{ planet.rewards.social }}</span>
                <a class="btn btn-circle">
                <img src="img/ICONS-Creativity-Points-Red-White-circle.png" class="w-100" alt="CP">
                </a>
                <span>{{ planet.rewards.creativity }}</span>
            </span>
            </div>
            <div class="mt-3 text-center">
            <a href="courses-homepage.html"><button class="btn btn-green w-100">{{ buttonText }}</button></a>
            </div>
        </div>
    </div>
    <!-- planet -->
</div>
</template>

<script>
export default {
  name: "planet-showcase",
  props: {
    planet: { type: Object, required: true },
    "button-text": { type: String, required: false, default: "Planet" }
  },
  data: function() {
    return {
      months: [
        "Jan",
        "Feb",
        "Mar",
        "Apr",
        "May",
        "Jun",
        "Jul",
        "Aug",
        "Sept",
        "Oct",
        "Nov",
        "Dec"
      ]
    };
  },
  methods: {
    getDay(date) {
      return new Date(date).getDate();
    },
    getMonth(date) {
      return this.months[new Date(date).getMonth()];
    }
  }
};
</script>

<style scoped>
</style>
