<template>
<div>
  <!-- planets header -->
  <div class="card">
    <div class="card-header pl-0 pr-0 pb-0">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link-s active" id="my-planets-tab" data-toggle="tab" href="#my-planets-overview" role="tab" data-controls="my-planets-overview" aria-selected="true">
            <h5>My Planets</h5>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link-s" id="discovers-tab" data-toggle="tab" href="#planets-discover"  role="tab" data-controls="planets-overview" aria-selected="false">
            <h5>Discover</h5>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- planets content -->
  <div class="tab-content mt-3" v-if="loading.user"><h1>{{ messages.loading }}</h1></div>
  <div class="tab-content mt-3" v-else>
    <!-- myplanets tab -->
    <div class="tab-pane fade show active" id="my-planets-overview" role="tabpanel" aria-labelledby="my-planets-tab" v-if="state.user === null"><h1>{{ messages.nouser }}</h1></div>
    <div class="tab-pane fade show active" id="my-planets-overview" role="tabpanel" aria-labelledby="my-planets-tab" v-else>
      <!-- active planets -->
      <div class="card mt-3">
        <!-- active planets header -->
        <div class="card-header card-header-with-border">
          <h6 class="text-left">
            Active Planets
            <a href="#" class="btn btn-circle btn-set-point" data-toggle="modal" data-target="#modal-create-new-planet" title="Create new planet" v-if="state.user.type === 'teacher'">
              <img src="img/add.png" class="clearfix" alt="Add new planet">
            </a>
          </h6>
        </div>
        <!-- active planets content -->
        <div class="card-body text-left">
		  <div class="row" v-if="loading.planets.active"><h5>{{ messages.loading }}</h5></div>
		  <div class="row" v-else>
            <div class="col-4 mb-3 mr-6" v-if="state.planets.active === null || state.planets.active.length === 0"><h5>{{ messages.noplanets }}</h5></div>
            <div class="col-4 mb-3 mr-6" v-else v-for="(planet, index) in state.planets.active" :key="index">
              <planet-showcase :planet="planet" :button-text="(state.user.type === 'teacher') ? 'Edit Planet' : 'Continue Exploring'" />
            </div>
          </div>
        </div>
      </div>
      <!-- explored planets -->
      <div class="card mt-3">
        <!-- explored planets header -->
        <div class="card-header card-header-with-border">
          <h6 class="text-left">
            Explored Planets
          </h6>
        </div>
        <!-- explored planets content -->
        <div class="card-body text-left">
		  <div class="row" v-if="loading.planets.explored"><h5>{{ messages.loading }}</h5></div>
		  <div class="row" v-else>
            <div class="col-4 mb-3 mr-6" v-if="state.planets.explored === null || state.planets.explored.length === 0"><h5>{{ messages.noplanets }}</h5></div>
            <div class="col-4 mb-3 mr-6" v-else v-for="(planet, index) in state.planets.explored" :key="index">
              <planet-showcase :planet="planet" :button-text="'Check Planet'" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- discover tab -->
    <div class="tab-pane fade" id="planets-discover" role="tabpanel" aria-labelledby="discovers-tab">
      <div class="card mt-3">
        <!-- discover planets -->
        <div class="card-header card-header-with-border">
          <form @submit.prevent="">
            <div class="input-group p-0">
              <div class="input-group-prepend">
                <label class="input-group-text">Search</label>
              </div>
              <v-autocomplete name="planet-autocomplete" placeholder="Enter keywords, Invite code or username to search Planets and Missions!"
				  v-model="query" :source="'/api-proxy/courses/api/keywords?x=autocomplete&q='" :filtered="true" />
              <div class="input-group-append">
                <button class="btn btn-default" type="button" @click="filterPlanets()"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </form>
        </div>
        <!-- select boxes -->
        <div class="card-body row">
          <!-- select box for topics -->
          <div class="col-sm">
            <table class="table table-hover text-left">
              <thead>
                <tr>
                  <th scope="col" colspan="2">Topics</th>
                </tr>
              </thead>
              <tbody class="text-left">
                <tr v-for="(topic, index) in topics" :key="index">
                  <td>
                    <label class="select-checkbox mb-0">
                      <input :id="'TopicCheck' + topic.name" type="checkbox" :value="'Topic-' + topic.name" v-model="topic.checked">
                      <span class="select-checkmark"></span>
                      <span class="checkbox-label">{{ topic.name }}</span>
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- select box for stages -->
          <div class="col-sm">
            <table class="table table-hover text-left">
              <thead>
                <tr>
                  <th scope="col" colspan="2">Stages</th>
                </tr>
              </thead>
              <tbody class="text-left">
                <tr v-for="(stage, index) in stages" :key="index">
                  <td>
                    <label class="select-checkbox mb-0">
                      <input :id="'StageCheck' + stage.name" type="checkbox" :value="'Stage-' + stage.name" v-model="stage.checked">
                      <span class="select-checkmark"></span>
                      <span class="checkbox-label">{{ stage.name }}</span>
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- select box for topics -->
          <div class="col-sm">
            <table class="table table-hover text-left">
              <thead>
                <tr>
                  <th scope="col" colspan="2">Difficulties</th>
                </tr>
              </thead>
              <tbody class="text-left">
                <tr v-for="(difficulty, index) in difficulties" :key="index">
                  <td>
                    <label class="select-checkbox mb-0">
                      <input :id="'DifficultyCheck' + difficulty.name" type="checkbox" :value="'Difficulty-' + difficulty.name" v-model="difficulty.checked">
                      <span class="select-checkmark"></span>
                      <span class="checkbox-label">{{ difficulty.name }}</span>
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- planets to discover -->
      <div class="card mt-3">
        <!-- planets to discover header -->
        <div class="card-header card-header-with-border p-0 pt-2 mb-0">
          <ul class="nav nav-tabs mb-0" role="tablist">
            <li class="nav-item mb-0">
              <a class="nav-link-s active" id="hot-planets-tab" data-toggle="tab" href="#hot-planets-list" role="tab" data-controls="hot-planets-list" aria-selected="true">
                <h6>Hot Planets</h6>
              </a>
            </li>
            <li class="nav-item">
              <a  class="nav-link-s" id="new-planets-tab" data-toggle="tab" href="#new-planets-list" role="tab" data-controls="new-planets-list"   aria-selected="false" >
                <h6>New Planets</h6>
              </a>
            </li>
          </ul>	
        </div>
        <!-- -->
        <div class="card-body">
		  <div class="tab-content">
            <!-- hot planets -->
            <div class="tab-pane fade show active" id="hot-planets-list" role="tabpanel" aria-labelledby="hot-planets-tab">
		      <div class="row text-left" v-if="loading.planets.hot"><h5>{{ messages.loading }}</h5></div>
			  <div class="row text-left" v-else>
                <div class="col-4 mb-3 mr-6" v-if="state.planets.hot === null || state.planets.hot.length === 0"><h5>{{ messages.noresults }}</h5></div>
                <div class="col-4 mb-3 mr-6" v-else v-for="(planet, index) in state.planets.hot" :key="index">
                  <planet-showcase :planet="planet" :button-text="'Explore'" />
                </div>
              </div>
            </div>
            <!-- new planets -->
            <div class="tab-pane fade" id="new-planets-list" role="tabpanel" aria-labelledby="new-planets-tab">
		      <div class="row text-left" v-if="loading.planets.hot"><h5>{{ messages.loading }}</h5></div>
			  <div class="row text-left" v-else>
                <div class="col-4 mb-3 mr-6" v-if="state.planets.new === null || state.planets.new.length === 0"><h5>{{ messages.noresults }}</h5></div>
                <div class="col-4 mb-3 mr-6" v-else v-for="(planet, index) in state.planets.new" :key="index">
                  <planet-showcase :planet="planet" :button-text="'Explore'" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import PlanetShowcase from "./PlanetShowcase.vue";
import Autocomplete from "./Autocomplete.vue";

export default {
  name: "planets",
  components: {
    "planet-showcase": PlanetShowcase,
    "v-autocomplete": Autocomplete
  },
  data: function() {
    return {
      loading: {
        user: false,
        planets: { active: false, explored: false, hot: false, new: false }
      },
      messages: {
        loading: "Loading...",
        nouser: "No user...",
        noplanets: "No planets...",
        noresults: "No results..."
      },
      state: {
        user: { name: null, type: null },
        planets: { active: null, explored: null, hot: null, new: null }
      },
      topics: [
        { name: "Any", checked: true },
        { name: "Mathematics", checked: false },
        { name: "Science", checked: false },
        { name: "Engineer", checked: false },
        { name: "Innovation", checked: false },
        { name: "Technology", checked: false },
        { name: "Entrepreneurship", checked: false }
      ],
      stages: [
        { name: "Any", checked: true },
        { name: "Basic", checked: false },
        { name: "Primary", checked: false },
        { name: "Intermediate", checked: false },
        { name: "Advanced", checked: false }
      ],
      difficulties: [
        { name: "Any", checked: true },
        { name: "Easy", checked: false },
        { name: "Medium", checked: false },
        { name: "Difficult", checked: false },
        { name: "Challenge", checked: false }
      ],
      query: ""
    };
  },
  created: function() {
    this.initPlanetsData();
  },
  methods: {
    initPlanetsData() {
      this.loading.user = true;
      // TODO: create users/self/planets => response: id, name, type, planets
      axios
        .get(
          storage_getURL("API_GATEWAY_STORAGE") +
            "/api-proxy/courses/api/users/self"
        )
        .then(response => {
          this.state.user.name = response.data.name;
          this.state.user.type = response.data.type;
          this.loading.user = false;
        })
        .catch(error => {
          console.log(error);
        });
      this.requestHotPlanets("");
      this.requestNewPlanets("");
    },
    requestHotPlanets(param) {
      this.loading.planets.hot = true;
      axios
        .get(
          storage_getURL("API_GATEWAY_STORAGE") +
            "/api-proxy/courses/api/planets?x=any" +
            param +
            "&n=false"
        )
        .then(response => {
          this.state.planets.hot = response.data.planets;
          this.loading.planets.hot = false;
        })
        .catch(error => {
          console.log(error);
        });
    },
    requestNewPlanets(param) {
      this.loading.planets.new = true;
      axios
        .get(
          storage_getURL("API_GATEWAY_STORAGE") +
            "/api-proxy/courses/api/planets?x=any" +
            param +
            "&n=true"
        )
        .then(response => {
          this.state.planets.new = response.data.planets;
          this.loading.planets.new = false;
        })
        .catch(error => {
          console.log(error);
        });
    },
    filterPlanets() {
      // query
      var q =
        this.query.length === 0
          ? ""
          : "&q=" + this.query.toLowerCase().replace(" ", "+");
      // topics
      var t = "";
      this.topics.forEach(topic => {
        t += topic.checked ? topic.name + "+" : "";
      });
      t = t.length === 0 ? "" : "&t=" + t.substr(0, t.length - 1);
      // stages
      var s = "";
      this.stages.forEach(stage => {
        s += stage.checked ? stage.name + "+" : "";
      });
      s = s.length === 0 ? "" : "&s=" + s.substr(0, s.length - 1);
      // difficulties
      var d = "";
      this.difficulties.forEach(difficulty => {
        d += difficulty.checked ? difficulty.name + "+" : "";
      });
      d = d.length === 0 ? "" : "&d=" + d.substr(0, d.length - 1);
      this.requestHotPlanets(q + t + s + d);
      this.requestNewPlanets(q + t + s + d);
    }
  }
};
</script>

<style scoped>
@import url("../../css/courses.css");
</style>
