<template>
	<div class="card mb-lg-5">
		<div class="card-body">
			<TermsAndConditionsAndPrivacy/>
		</div>
	</div>
</template>

<script>
  import TermsAndConditionsAndPrivacy from './common/TermsAndConditionsAndPrivacy';

  export default {
    name: 'PrivacyPolicy',
    props: {},
    components: {TermsAndConditionsAndPrivacy},
    data: function() {
      return {};
    },
    mounted() {

    },
    methods: {},
  };
</script>

<style scoped></style>
