<template>
    <div>
        <div class="card">
            <div class="card-header pl-0 pr-0 pb-0">
                <ul class="nav nav-tabs float-left" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link-s active" id="my-robot-tab" data-toggle="tab" href="#my-robot" role="tab" data-controls="my-robot" aria-selected="true">
                            <h5>My Robot</h5>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link-s" id="robot-controls-tab" data-toggle="tab" href="#robot-controls"  role="tab" data-controls="robot-controls" aria-selected="false">
                            <h5>Controls</h5>
                        </a>
                    </li>
                </ul>
                <div class="float-right mt-2 mr-3">
                    <div class="btn btn-circle btn-set-point">
                        <img src="../../img/ICON_Newest-Answer.png" class="float-right" @click="showHelp" alt="Help" />
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-content mt-3">
            <div class="card mt-3" v-if="help">
                <div class="card-header card-header-with-border">
                    <h6 class="text-left">{{ $t('robot.help_title') }}</h6>
                </div>
                <div class="card-body text-left">
                    <div style="white-space: pre-wrap; word-wrap: break-word; font-size: 1rem;" v-if="usertype === 'student'">{{$t('robot.help_explorer_description')}}</div>
                    <div style="white-space: pre-wrap; word-wrap: break-word; font-size: 1rem;" v-if="usertype === 'teacher'">{{$t('robot.help_leader_description')}}</div>
                    <div style="white-space: pre-wrap; word-wrap: break-word; font-size: 1rem;" v-if="usertype === 'incubator'">{{$t('robot.help_incubator_description')}}</div>
                    <div style="white-space: pre-wrap; word-wrap: break-word; font-size: 1rem;" v-if="usertype === 'ambassador'">{{$t('robot.help_ambassador_description')}}</div>
                    <br/>
                    <button type="button" class="btn btn-green w-25 mb-2" @click="showHelp">OK</button>
                </div>
            </div>
            <!--Tab of my robot-->
            <div class="tab-pane fade show active" id="my-robot" role="tabpanel" aria-labelledby="my-robot-tab">

                <!--Robot basic infos-->
                <div class="card mt-3">
                    <div class="card-header card-header-with-border">
                        <h6 class="text-left">
                            My Robot
                            <a href="#" class="btn btn-circle btn-set-point" data-toggle="modal" data-target="#modal-robot-manual" title="Robot Stimey Manual">
                                <img src="../../img/ICON-Info.png" class="clearfix" alt="infos">
                            </a>
                        </h6>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <a href="#" class="btn">
                                            <img src="../../img/RobotGreen.png" class="clearfix w-100" alt="image">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card h-100">
                                    <div class="card-body text-left">
                                        <h6>Robot Name:</h6>
                                        <div class="editable-name w-100" contenteditable="true">Robot name</div><br><br>
										<h6>Tutorials:</h6>
										<a href="https://youtu.be/d_sd5Gv_ou0" style="color:#ff8800;text-decoration:underline;">Create STIMEY Mission</a><br>
										<a href="https://youtu.be/KdX3Q61p0Ps" style="color:#ff8800;text-decoration:underline;">STIMEY create robot commands</a><br>
										<a href="https://youtu.be/6USQCS31adE" style="color:#ff8800;text-decoration:underline;">STIMEY triggers of final Mission</a><br>
                                        <!--
                                        <h6 class="mt-3">Battery:</h6>
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                                        </div>
                                        <h6 class="mt-3">States:</h6>
                                        <a href="#" class="btn btn-circle">
                                            <img src="../../img/ICON_Adopted-Answer.png" class="clearfix w-100" alt="states">
                                            Connected
                                        </a>
                                        -->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!--Robot customization for appreance-->
                <div class="card mt-3">
                    <div class="card-header card-header-with-border">
                        <h6 class="text-left">
                            Customization
                        </h6>
                    </div>

                    <div class="card-body text-left">

                        <div class="mb-2">
                            <h6>Faceshape</h6>
                            <form>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="RobotFace1" class="custom-control-input pt-2" name="customRadio" value="RobotFace1" checked>
                                    <label class="custom-control-label" for="RobotFace1">
                                        <a class="btn btn-certificates" title="level">
                                            <img src="../../img/Robot-face-rect.png" class="clearfix w-100">
                                        </a>
                                    </label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="RobotFace2" class="custom-control-input pt-2" name="customRadio" value="RobotFace2">
                                    <label class="custom-control-label" for="RobotFace2">
                                        <a class="btn btn-certificates" title="level">
                                            <img src="../../img/Robot-face-round.png" class="clearfix w-100">
                                        </a>
                                    </label>
                                </div>
                            </form>
                        </div>

                        <div class="mb-2">
                            <h6>Eye color</h6>
                            <form>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="RobotEye1" class="custom-control-input pt-2" name="customRadio" value="RobotEye1" checked>
                                    <label class="custom-control-label" for="RobotEye1">
                                        <a class="btn btn-certificates">
                                            <img src="../../img/robot-eye-ashes-grey.jpg" class="clearfix w-100">
                                        </a>
                                    </label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="RobotEye2" class="custom-control-input pt-2" name="customRadio" value="RobotEye2">
                                    <label class="custom-control-label" for="RobotEye2">
                                        <a class="btn btn-certificates">
                                            <img src="../../img/robot-eye-electic-purple.jpg" class="clearfix w-100">
                                        </a>
                                    </label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="RobotEye3" class="custom-control-input pt-2" name="customRadio" value="RobotEye3">
                                    <label class="custom-control-label" for="RobotEye3">
                                        <a class="btn btn-certificates">
                                            <img src="../../img/robot-eye-indian-red.jpg" class="clearfix w-100">
                                        </a>
                                    </label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="RobotEye4" class="custom-control-input pt-2" name="customRadio" value="RobotEye4">
                                    <label class="custom-control-label" for="RobotEye4">
                                        <a class="btn btn-certificates">
                                            <img src="../../img/robot-eye-maya-blue.jpg" class="clearfix w-100">
                                        </a>
                                    </label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="RobotEye5" class="custom-control-input pt-2" name="customRadio" value="RobotEye5">
                                    <label class="custom-control-label" for="RobotEye5">
                                        <a class="btn btn-certificates">
                                            <img src="../../img/robot-eye-mellow-yellow.jpg" class="clearfix w-100">
                                        </a>
                                    </label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="RobotEye6" class="custom-control-input pt-2" name="customRadio" value="RobotEye6">
                                    <label class="custom-control-label" for="RobotEye6">
                                        <a class="btn btn-certificates">
                                            <img src="../../img/robot-eye-mint-green.jpg" class="clearfix w-100">
                                        </a>
                                    </label>
                                </div>
                            </form>
                        </div>

                        <div class="mb-2">
                            <h6>LED Strip</h6>
                            <form>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="RobotLed1" class="custom-control-input pt-2" name="customRadio" value="RobotLed1" checked>
                                    <label class="custom-control-label" for="RobotLed1">
                                        <a class="btn btn-certificates" title="level">
                                            <img src="../../img/RobotLEDGreen.png" class="clearfix w-100">
                                        </a>
                                    </label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="RobotLed2" class="custom-control-input pt-2" name="customRadio" value="RobotLed2">
                                    <label class="custom-control-label" for="RobotLed2">
                                        <a class="btn btn-certificates" title="level">
                                            <img src="../../img/RobotLEDOrange.png" class="clearfix w-100">
                                        </a>
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>

            <div class="tab-pane fade" id="robot-controls" role="tabpanel" aria-labelledby="robot-controls-tab">
                <!--Predefined sets Robot Activity-->
                <div class="card mt-3">
                    <div class="card-header card-header-with-border">
                        <h6 class="text-left">
                            Robot Actions
                            <a href="#" class="btn btn-circle btn-set-point" data-toggle="modal" data-target="#modal-robot-manual" title="How to set the robot action?">
                                <img src="../../img/ICON-Info.png" class="clearfix" alt="infos">
                            </a>
                        </h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <!--This would be the 3D rendering preview for later.-->
                                        <a href="#" class="btn">
                                            <img src="../../img/RobotGreen.png" class="clearfix w-100" alt="image">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card h-100">
                                    <div class="card-body text-left">
                                        <p>Here you can select what the Robot Actions are from predefined sets:</p>
                                        <form>
                                            <div class="form-group p-0">
                                                <label for="SelectRobotSets"><h6>Robot Activity</h6></label>

                                                <select class="form-control" id="SelectRobotSets" @change="changedActivity($event)">
                                                    <option  v-for="(activity, index) in state.activities">{{activity.name}}</option>
                                                </select>
                                            </div>
                                        </form>
                                        <h6>Activity Preview
                                            <a class="btn btn-circle btn-set-point">
                                                <img src="../../img/BTN-Edit-circle.png" @click="loadActivityModal()" class="clearfix" data-toggle="modal" data-target="#modal-edit-robot-activity"/>
                                            </a>
                                            <a class="btn btn-circle btn-set-point">
                                                <img class="clearfix" src="../../img/ICON_Delete-Post.png" @click="deleteActivity()"/>
                                            </a>
                                        </h6>
                                        <div class="modal fade" id="modal-edit-robot-activity" role="dialog">
                                            <div class="modal-dialog">
                                                <!-- Modal content -->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Edit Robot Activity</h5>
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group p-0">
                                                            <label for="SetActivityNameModal"><h6 class="mb-0">Activity Name</h6></label>
                                                            <input type="text" required="required" id="SetActivityNameModal" class="form-control">
                                                        </div>
                                                        <iframe id="iframe_robot_editor_modal" frameborder="no" src="/js/robot/editor.html"  height='590' width='100%'></iframe>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button @click="save_modal()" type="button" class="btn btn-green w-25" data-dismiss="modal">Save</button>
                                                        <button id="closeModalButton" type="button" class="btn btn-orange w-25" data-dismiss="modal">Cancel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Between paranthesis changes with the selected Robot Activity-->
                                        <ul v-if="state.actualActivity !== null">
                                            <li v-for="(action, index) in state.actualActivity.actions">{{action.name}} ({{printValue(action)}})</li>
                                        </ul>
                                        <button type="button" class="btn btn-green float-left w-60 mb-2" style="width:60%!important;" @click="executeActivity()">Execute robot activity</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Robot action set customization-->
                <div class="card mt-3">
                    <div class="card-header card-header-with-border">
                        <h6 class="text-left">
                            Customization
                        </h6>
                    </div>

                    <div class="card-body text-left">
                        <!--
                        <h6>Defined Activity</h6>

                        <div class="">
                            <a class="btn btn-outline-green w-25 m-2" data-toggle="collapse" href="#PreSetHello" aria-expanded="false" aria-controls="collapseExample">
                                Hello
                            </a>
                            <a class="btn btn-outline-green w-25 m-2" data-toggle="collapse" href="#PreSetWelcome" aria-expanded="false" aria-controls="collapseExample">
                                Welcome
                            </a>
                            <a class="btn btn-outline-green w-25 m-2" data-toggle="collapse" href="#PreSetWellDone" aria-expanded="false" aria-controls="collapseExample">
                                Well Done
                            </a>
                            <a class="btn btn-outline-green w-25 m-2" data-toggle="collapse" href="#PreSetTryAgain" aria-expanded="false" aria-controls="collapseExample">
                                Try Again
                            </a>
                            <a class="btn btn-outline-green w-25 m-2" data-toggle="collapse" href="#PreSetGoodbye" aria-expanded="false" aria-controls="collapseExample">
                                Goodbye
                            </a>
                        </div>

                        <div class="collapse" id="PreSetHello">
                            <div class="card card-body">
                                <h6>
                                    Activity Preview for Hello
                                    <a href="#" class="btn btn-circle pull-right" title="Delete">
                                        <img src="../../img/ICON_Delete-Post.png" class="clearfix" alt="icons">
                                    </a>
                                </h6>
                                <!--Between paranthesis changes with the selected Robot Activity-->
                        <!--
                                <ul>
                                    <li>Robot (waves left arm)</li>
                                    <li>Face is (happy)</li>
                                    <li>LED light blinks (green)</li>
                                    <li>Robot says (Hello, "Username")</li>
                                </ul>
                            </div>
                        </div>

                        <div class="collapse" id="PreSetWelcome">
                            <div class="card card-body">

                                <h6>
                                    Activity Preview for Welcome
                                    <a href="#" class="btn btn-circle pull-right" title="Delete">
                                        <img src="../../img/ICON_Delete-Post.png" class="clearfix" alt="icons">
                                    </a>
                                </h6>
                                <!--Between paranthesis changes with the selected Robot Activity-->
                        <!--
                                <ul>
                                    <li>Robot (waves left arm)</li>
                                    <li>Face is (happy)</li>
                                    <li>LED light blinks (green)</li>
                                    <li>Robot says (Hello, "Username")</li>
                                </ul>
                            </div>
                        </div>

                        <div class="collapse" id="PreSetWellDone">
                            <div class="card card-body">

                                <h6>
                                    Activity Preview for Welldone
                                    <a href="#" class="btn btn-circle pull-right" title="Delete">
                                        <img src="../../img/ICON_Delete-Post.png" class="clearfix" alt="icons">
                                    </a>
                                </h6>
                                <!--Between paranthesis changes with the selected Robot Activity-->
                        <!--
                                <ul>
                                    <li>Robot (waves left arm)</li>
                                    <li>Face is (happy)</li>
                                    <li>LED light blinks (green)</li>
                                    <li>Robot says (Hello, "Username")</li>
                                </ul>
                            </div>
                        </div>

						<!--
                        <div class="collapse" id="PreSetTryAgain">
                            <div class="card card-body">

                                <h6>
                                    Activity Preview for Try Again
                                    <a href="#" class="btn btn-circle pull-right" title="Delete">
                                        <img src="../../img/ICON_Delete-Post.png" class="clearfix" alt="icons">
                                    </a>
                                </h6>
                                <!--Between paranthesis changes with the selected Robot Activity-->
                                <!--
                                <ul>
                                    <li>Robot (waves left arm)</li>
                                    <li>Face is (happy)</li>
                                    <li>LED light blinks (green)</li>
                                    <li>Robot says (Hello, "Username")</li>
                                </ul>
                            </div>
                        </div>
                        -->
                        <!--
                        <div class="collapse" id="PreSetGoodbye">
                            <div class="card card-body">

                                <h6>
                                    Activity Preview for Goodbyte
                                    <a href="#" class="btn btn-circle pull-right" title="Delete">
                                        <img src="../../img/ICON_Delete-Post.png" class="clearfix" alt="icons">
                                    </a>
                                </h6>
                                <!--Between paranthesis changes with the selected Robot Activity-->
                                <!--
                                <ul>
                                    <li>Robot (waves left arm)</li>
                                    <li>Face is (happy)</li>
                                    <li>LED light blinks (green)</li>
                                    <li>Robot says (Hello, "Username")</li>
                                </ul>
                            </div>
                        </div>

						
                        <hr class="mt-3 mb-3 mr-0 ml-0">
                        <p class="mt-3">Here, you can create and save your own Robot Activity and to add them to predefined sets above:</p>
-->

                        <form role="form" class="mb-3">
                            <div class="form-group p-0">
                                <label for="SetActivityName"><h6 class="mb-0">Set Activity Name</h6></label>
                                <input type="text" v-model="createActivityName" required="required" class="form-control" id="SetActivityName" placeholder="Enter a Name for the predefined set">
                            </div>
                            
                            <iframe id="iframe_robot_editor" frameborder="no" src="/js/robot/editor.html"  height='590' width='100%'></iframe>

							<!--
                            <div class="form-group p-0">
                                <label for="DefineNewAction"><h6 class="mb-0">Define a new Action</h6></label>
                                <select class="form-control" id="DefineNewAction">
                                    <option>Action 1</option>
                                    <option>Action 2</option>
                                </select>
                            </div>

                            <div class="form-row">
                                <div class="col">
                                    <label for="enterValue1"><h6 class="mb-0">Value 1</h6></label>
                                    <input type="text" id="enterValue1" class="form-control" required="required"  placeholder="Enter a value">
                                </div>
                                <div class="col">
                                    <label for="enterValue2"><h6 class="mb-0">Value 2</h6></label>
                                    <input type="text" id="enterValue2" class="form-control" required="required"  placeholder="Enter a value">
                                </div>
                                <div class="col">
                                    <label for="enterValue3"><h6 class="mb-0">Value 3</h6></label>
                                    <input type="text" id="enterValue3" class="form-control" required="required"  placeholder="Enter a value">
                                </div>
                            </div>
							-->
                        </form>

                        <button type="button" class="btn btn-green float-right w-25 mb-2" @click="save()">Save</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</template>

<script>
  import {storage_getURL, storage_getdashboardApiUrl} from '../../js/global.js';
  import { confirmDeleteConfig } from './common/sweetAlertConfigs.js';

  export default {
    name: 'Robot',
    components: {},
    data: function () {
      return {
        state: {
            actualActivity: null,
            actualActivityIndex: 0,
            activities: [],
            createActivityName:''
        },
          usertype: null,
          help: false
      }
    },
    methods: {
        showHelp() {
        	window.open('/stimey_robots_user_guide.pdf', '_blank');
            //this.help = !this.help;
        },
        printValue(action) {
            let value = "";

            if (action.name!=="Manual") {
                if (action.value3 !== null)
                    value = action.value3;
                else if (action.value2 !== null)
                    value = action.value2;
                else if (action.value1 !== null)
                    value = action.value1;
            }
            else
                value = "...";

            return value;
        },
        save() {
            let action = document.getElementById('iframe_robot_editor').contentWindow.tinymce.activeEditor.getContent();
            console.log(action);
            let activityName = this.createActivityName;
            let activity = {name:activityName, id:'', actions:[{name:'Manual', value1:action, value2:null, value3:null}]};
            axios.post(storage_getURL('API_GATEWAY_STORAGE')+"/api-proxy/robot/api/robot/activity", activity)
                .then(response => {
                    activity.id = response.data.activityid;

                    this.state.activities.push(activity);
                    document.getElementById('SetActivityName').value = "";
                    document.getElementById('iframe_robot_editor').contentWindow.tinymce.activeEditor.setContent("");
                })
                .catch(error => {
                    console.log(error.data);
                });
        },
        save_modal() {
            if (this.state.activities !== null && this.state.activities.length > 0
                && this.state.actualActivity.actions.length > 0 && this.state.actualActivity.actions[0].name=="Manual") {
                let action = document.getElementById('iframe_robot_editor_modal').contentWindow.tinymce.activeEditor.getContent();
                console.log(action);
                let activityName = document.getElementById('SetActivityNameModal').value;
                let activity = {
                    name: activityName,
                    id: this.state.actualActivity.id,
                    actions: [{name: 'Manual', value1: action, value2: null, value3: null}]
                };
                axios.post(storage_getURL('API_GATEWAY_STORAGE') + "/api-proxy/robot/api/robot/activity", activity)
                    .then(response => {
                        //this.state.activities[this.state.actualActivityIndex] = activity;
                        this.state.actualActivity = activity;
                        this.$set( this.state.activities, this.state.actualActivityIndex, activity);
                        //this.$forceUpdate();
                    })
                    .catch(error => {
                        console.log(error.data);
                    });
            }
        },
        loadActivityModal() {
            if (this.state.activities !== null && this.state.activities.length > 0
                && this.state.actualActivity.actions.length > 0 && this.state.actualActivity.actions[0].name=="Manual") {
                document.getElementById('SetActivityNameModal').disabled = false;
                document.getElementById('SetActivityNameModal').value = this.state.actualActivity.name;
                document.getElementById('iframe_robot_editor_modal').contentWindow.tinymce.activeEditor.getBody().setAttribute('contenteditable', true);
                document.getElementById('iframe_robot_editor_modal').contentWindow.tinymce.activeEditor.setContent(this.state.actualActivity.actions[0].value1);
            }
            else {
                document.getElementById('SetActivityNameModal').value = this.state.actualActivity.name;
                document.getElementById('SetActivityNameModal').disabled = true;
                document.getElementById('iframe_robot_editor_modal').contentWindow.tinymce.activeEditor.setContent("Not editable...");
                document.getElementById('iframe_robot_editor_modal').contentWindow.tinymce.activeEditor.getBody().setAttribute('contenteditable', false);
            }
        },
        changedActivity(event) {
            this.state.actualActivity = this.state.activities[event.target.selectedIndex];
            this.state.actualActivityIndex = event.target.selectedIndex;
        },
        deleteActivity() {
            if (this.state.activities !== null && this.state.activities.length > 0
                && this.state.actualActivity.actions.length > 0 && this.state.actualActivity.actions[0].name=="Manual") {
                let self = this;
                this.$swal(
                    confirmDeleteConfig(
                        self.$t('sweetAlert.deleteModalTitle'),
                        self.$t('sweetAlert.confirmText'),
                        self.$t('sweetAlert.cancelText')
                    )
                ).then(result => {
                    if (result.value) {
                        let activityid = this.state.actualActivity.id;
                        let index = this.state.actualActivityIndex;

                        this.$delete(this.state.activities, index);
                        if (this.state.activities !== null && this.state.activities.length > 0)
                            this.state.actualActivity = this.state.activities[0];
                        else
                            this.state.actualActivity = null;
                        this.state.actualActivityIndex = 0;
                        axios.delete(storage_getURL('API_GATEWAY_STORAGE') + "/api-proxy/robot/api/robot/activities/"+activityid)
                            .then(response => {
                            })
                            .catch(error => {
                                console.log(error.data);
                            });
                    }
                });
            }
        },
        executeActivity() {
            if (this.state.activities !== null && this.state.activities.length > 0
                && this.state.actualActivity.actions.length > 0) {
                let activityid = this.state.actualActivity.id;
                axios.post(storage_getURL('API_GATEWAY_STORAGE') + "/api-proxy/robot/api/robot/"+activityid)
                    .then(response => {
                    })
                    .catch(error => {
                        console.log(error.data);
                    });
            }
        },
        initRobot() {
            axios.get(storage_getURL('API_GATEWAY_STORAGE')+"/api-proxy/robot/api/robot/activities")
                .then(response => {
                    this.state.activities = response.data.activities;
                    if (this.state.activities !== null && this.state.activities.length > 0)
                        this.state.actualActivity = this.state.activities[0];
                })
                .catch(error => {
                    console.log(error.data);
                });
        }
    },
      created() {
          this.initRobot();
          this.usertype = this.$store.currentUser.usertype;
      }
  }
</script>

<style scoped>
</style>
