<template>
    <div>
        <iframe :src="'https://stimey7.hs-emden-leer.de/'+tool" height='630' width='92%'></iframe>
        <div>
            <br/><br/>
            <button type="button" class="btn btn-green w-25" @click="backToLab">Back to Lab</button>
            <br><br>
            <button v-if="tool === 'test'" type="button" class="btn btn-green w-25" @click="openFeedbackForm">Leave
                Feedback
            </button>
        </div>

    </div>
</template>

<script>
    // former http://game.cloudtechnology.by
    export default {
        name: "RocketScientist",
        data: function () {
            return {
                tool: String
            };
        },
        created() {
            this.tool = this.$route.params.tool+this.userQueryString();
            console.log(this.tool);
        },
        methods: {
            backToLab: function () {
                location.href = '/lab/';
            },
            openFeedbackForm: function () {
                let lang = this.$i18n.i18next.language;
                console.log(lang);
                switch (lang) {

                    case "fi":
                        location.href = 'https://forms.gle/pmAhUFUyZwcptrQr5';
                        break;
                    case "en":
                        location.href = '/notfound'
                        break;
                    case "de":
                        location.href = '/notfound'
                        break;
                    case "es":
                        location.href = '/notfound'
                        break;
                    case "ru":
                        location.href = '/notfound'
                        break;
                    case "gr":
                        location.href = '/notfound'
                        break;
                }
            },
            userQueryString() {
    			let username = this.$store.currentUser.username;
    			let usertype = this.$store.currentUser.usertype;
    			return "?username="+username+"&usertype="+usertype;
    		}
        }
    }
</script>

<style scoped>

</style>