<template>
	<div v-bind:class="classObject" class=" wrap-home">
		<div class="bg-star"></div>
		<div class="wrapper-info">
			<div class="card card-comm h-100">
				<div class="card-body p-4 pt-4 mt-3">
					<h5 class="text-center" v-if="user.type == 'student'">{{ $t('signup.students_join') }}</h5>
					<h5 class="text-center" v-if="user.type == 'parent'">{{ $t('signup.parents_join') }}</h5>
					<h5 class="text-center" v-if="user.type == 'teacher'">{{ $t('signup.teachers_join') }}</h5>
					<h5 class="text-center" v-if="user.type == 'business'">{{ $t('signup.business_join') }}</h5>
					<hr/>
					
					<p class="text-message text-left m-2 pl-3" v-if="user.type == 'student'">{{
						$t('signup.students_stem') }}</p>
					<p class="text-message text-left m-2 pl-3" v-if="user.type == 'parent'">{{ $t('signup.parents_stem')
						}}</p>
					<p class="text-message text-left m-2 pl-3" v-if="user.type == 'teacher'">{{
						$t('signup.teachers_stem') }}</p>
					<p class="text-message text-left m-2 pl-3" v-if="user.type == 'business'">{{
						$t('signup.business_stem') }}</p>
					
					<form class="mt-3" role="form">
						<!-- Username -->
						<div class="form-group">
							<label for="enterInputSignUpSUid">
								<h6 class="mb-0">{{ $t('signup.username') }}</h6>
							</label>
							<br/>
							<input
									class="form-control"
									v-bind:class="{ 'is-invalid': error.usernameInvalid }"
									id="enterInputSignUpSUid"
									v-bind:placeholder="$t('signup.input_placeholder_enter_username')"
									type="text"
									v-model="user.name"
							/>
							<div class="invalid-feedback">{{ error.username }}</div>
						</div>
						<!-- Gender -->
						<div class="form-group" v-if="user.type !== 'business'">
							<label for="enterSelectSignUpGender"
							><h6 class="mb-0">{{ $t('signup.gender') }}</h6></label
							>
							<br/>
							<select
									class="form-control"
									id="enterSelectSignUpGender"

									v-bind:class="{ 'is-invalid': error.genderInvalid }"
									@change="selectedGender"
							>
								<option>{{ $t('signup.female') }}</option>
								<option>{{ $t('signup.male') }}</option>
								<option>{{ $t('signup.other') }}</option>
							</select>
							<div class="invalid-feedback">{{ error.gender }}</div>
						</div>
						<!-- Organization Type -->
						<div class="form-group" v-if="user.type == 'business'">
							<label for="enterSelectSignUpOrganizationType"
							><h6 class="mb-0">{{ $t('signup.usersubtype_incubator') }}</h6></label
							>
							<br/>
							<select
									class="form-control"
									id="enterSelectSignUpOrganizationType"

									v-bind:class="{ 'is-invalid': error.usersubtypeInvalid }"
									@change="selectedIncubatorSubtype"
							>
								<option>{{ $t('signup.usersubtype_organization') }}</option>
								<option>{{ $t('signup.usersubtype_school') }}</option>
							</select>
							<div class="invalid-feedback">{{ error.usersubtype }}</div>
						</div>
						
						<!-- TO DO: If users are under 13 years old, the text will be "Parent Email address" -->
						<div class="form-group">
							<label for="enterInputSignUpEmail"
							><h6 class="mb-0">{{ $t('signup.email_address') }}</h6>
							</label>
							<!-- <label for="enterInputSignUpEmail"><h6 class="mb-0">Parent Email address</h6></label> -->
							<input
									class="form-control"
									v-bind:class="{ 'is-invalid': error.emailInvalid }"
									id="enterInputSignUpEmail"
									v-bind:placeholder="$t('signup.input_placeholder_email')"
									type="email"
									v-model="user.email"
							/>
							<div class="invalid-feedback">{{ error.email }}</div>
						</div>
						<!-- Set Password -->
						<div class="form-group">
							<label for="password-field"
							><h6 class="mb-0">{{ $t('signup.password') }}</h6></label
							>
							<input
									class="form-control"
									v-bind:class="{ 'is-invalid': error.passwordInvalid }"
									id="password-field"
									name="password"
									v-bind:placeholder="$t('signup.input_placeholder_password_give')"
									type="password"
									v-model="user.password"
							/>
							<i class="fa fa-eye field-icon toggle-password" toggle="#password-field" @click="togglePassword();"></i>
							<div class="invalid-feedback">{{ error.password }}</div>
						</div>
						
						<!-- Check privacy -->
						<div class="form-group mt-4">
							<label class="select-checkbox mb-0">
								<input
										class="form-control"
										v-bind:class="{ 'is-invalid': error.termsNotAgreed }"
										type="checkbox"
										v-model="agreeTC"
								/>
								<span class="select-checkmark" id="TopicCheckInno" value="topic-inno"></span>
								<span class="checkbox-label">
									{{ $t('signup.stimey_agree') }}
									<a class="link" href="#" data-toggle="modal" data-target="#termsAndConditionsModal">{{
										$t('signup.terms_conditions_and_privacy')
										}}</a>
								</span>
								
								<div class="invalid-feedback">You must agree before submitting.</div>
							</label>
						</div>
					</form>
					
					<!--
					  <a href="#" class="input_title" v-if="showVerificationCodeInput === false && user.type !== 'business'"
						 @click="showVerificationCodeInput = true">Verification code</a>
					  <h6 class="input_title" v-if="showVerificationCodeInput === true && user.type !== 'business'">
						  Verification code</h6>
					  <input class="input_sign_up text_sign_up" type="text"
							 v-if="showVerificationCodeInput === true && user.type !== 'business'"
							 v-model="user.verificationCode"/>
					-->
					<hr/>
					<h5 class="text-center">{{ $t('signup.sign') }}</h5>
					<ul class="navbar text-center">
						<!--
						  <li class="nav-link" v-if="user.type !== 'student'">
							  <a class="btn btn-badges" href="#"
								  @click="user.type = 'student', classObject='bg-card bg-card-student', classObjectButton='btn btn-orange w-100'">
								  <img alt="teacher" src="../../img/ICON_I-am-a-student.png">
							  </a>
						  </li>
						  <li class="nav-link" v-if="user.type !== 'teacher'">
							  <a class="btn btn-badges" href="#"
								   @click="user.type = 'teacher', classObject='bg-card bg-card-teacher', classObjectButton='btn btn-green w-100'">
								   <img alt="teacher" src="../../img/ICON_I-am-a-teacher.png">
							   </a>
						   </li>
						  <li class="nav-link" v-if="user.type !== 'parent'">
							  <a class="btn btn-badges" href="#"
								 @click="user.type = 'parent', classObject='bg-card bg-card-parent', classObjectButton='btn btn-parent w-100'">
								 <img alt="parent" src="../../img/ICON_I-am-a-parent.png">
							 </a>
						  </li>
						  <li class="nav-link" v-if="user.type !== 'business'">
							  <a class="btn btn-badges" href="#"
									@click="user.type = 'business', classObject='bg-card bg-card-orga', classObjectButton='btn btn-org w-100'">
									<img alt="business" src="../../img/ICON_I-am-a-business.png">
							  </a>
						  </li>
						-->
						<li class="nav-link" v-if="user.type !== 'student'">
							<a class="btn btn-badges" href="/signup">
								<img alt="teacher" src="../../img/IconRoleExplore.png"/>
							</a>
                            <p class="mt-2">{{ $t('login.explorer') }}</p>
							<p class="mt-2">{{ $t('login.explorer_additional') }}</p>
						</li>
						<li class="nav-link" v-if="user.type !== 'teacher'">
							<a class="btn btn-badges" href="/signup/leader">
								<img alt="teacher" src="../../img/IconRoleLeader.png"/>
							</a>
                           <p class="mt-2">{{ $t('login.leader') }}</p>
							<p class="mt-2">{{ $t('login.leader_additional') }}</p>
						</li>
						<li class="nav-link" v-if="user.type !== 'parent'">
							<a class="btn btn-badges" href="/signup/ambassador">
								<img alt="parent" src="../../img/IconRoleAmbassador.png"/>
							</a>
                            <p class="mt-2">{{ $t('login.ambassador') }}</p>
							<p class="mt-2">{{ $t('login.ambassador_additional') }}</p>
						</li>
						<li class="nav-link" v-if="user.type !== 'business'">
							<a class="btn btn-badges" href="/signup/incubator">
								<img alt="business" src="../../img/IconRoleIncubator.png"/>
							</a>
                            <p class="mt-2">{{ $t('login.incubator') }}</p>
							<p class="mt-2">{{ $t('login.incubator_additional') }}</p>
						</li>
					</ul>
					
					<hr/>
					<form>
						<div class="form-group">
							<button v-bind:class="classObjectButton" type="button" @click="signup();">
								{{ $t('signup.sign2') }}
							</button>
							<h6 class="m-3 text-muted">
								<a class="link" href="/login">{{ $t('signup.account_have') }}</a>
							</h6>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- Modal -->
		<div id="termsAndConditionsModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content -->
				<div class="modal-content">
					<div class="modal-body scrolling">
						<p style="line-height: 1.38; margin-top: 18pt; margin-bottom: 4pt; text-align: justify;"><span style="font-size: 26pt; font-family: Arial; color: #0000ff; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Privacy Policy</span></p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Personal data (usually referred to just as "data" below) will only be processed by us to the extent necessary and for the purpose of providing a functional and user-friendly website, including its contents, and the services offered in the STIMEY Learning Environment (STIMEY LE), such as Radio STIMEY, serious games, entrepreneurial tools, and the robotic artifact.</span></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Per Art. 4 No. 1 of Regulation (EU) 2016/679, i.e. the General Data Protection Regulation (hereinafter referred to as the "GDPR"), "processing" refers to any operation or set of operations such as collection, recording, organization, structuring, storage, adaptation, alteration, retrieval, consultation, use, disclosure by transmission, dissemination, or otherwise making available, alignment, or combination, restriction, erasure, or destruction performed on personal data, whether by automated means or not.</span></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The following privacy policy is intended to inform you in particular about the type, scope, purpose, duration, and legal basis for the processing of such data either under our own control or in conjunction with others. We also inform you below about the third-party components we use to optimize our website and improve the user experience which may result in said third parties also processing data they collect and control.</span></p>
						<p><br /><br /></p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Our privacy policy is structured as follows:</span></p>
						<ol>
							<li style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Information about us as controllers of your data</span></li>
							<li style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The rights of users and data subjects</span></li>
						</ol>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">III.</span><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">&nbsp;&nbsp;&nbsp; </span><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Information about the data processing</span></p>
						<p>&nbsp;</p>
						<h1 style="line-height: 1.38; margin-top: 14pt; margin-bottom: 4pt; text-align: justify;"><span style="font-size: 16pt; font-family: Arial; color: #4a86e8; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">I.</span><span style="font-size: 16pt; font-family: Arial; color: #4a86e8; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">&nbsp;&nbsp;&nbsp; </span><span style="font-size: 16pt; font-family: Arial; color: #4a86e8; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Information about us as controllers of your data</span></h1>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The party responsible for this website (the "controller") for purposes of data protection law is:</span></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Project STIMEY</span></p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Calle Ancha 16</span></p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">1001 C&aacute;diz</span></p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Spain</span></p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">E-Mail: info@stimey.eu</span></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The controller's data protection officer is:</span></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Alecia Reid</span></p>
						<h1 style="line-height: 1.38; margin-top: 14pt; margin-bottom: 4pt; text-align: justify;"><span style="font-size: 16pt; font-family: Arial; color: #4a86e8; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">II.</span><span style="font-size: 16pt; font-family: Arial; color: #4a86e8; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">&nbsp;&nbsp;&nbsp; </span><span style="font-size: 16pt; font-family: Arial; color: #4a86e8; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The rights of users and data subjects</span></h1>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">With regard to the data processing to be described in more detail below, users and data subjects have the right</span></p>
						<p>&nbsp;</p>
						<ul style="margin-top: 0pt; margin-bottom: 0pt;">
							<li style="list-style-type: disc; font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">to confirmation of whether data concerning them is being processed, information about the data being processed, further information about the nature of the data processing, and copies of the data (cf. also Art. 15 GDPR);</span></li>
							<li style="list-style-type: disc; font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">to correct or complete incorrect or incomplete data (cf. also Art. 16 GDPR);</span></li>
							<li style="list-style-type: disc; font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">to the immediate deletion of data concerning them (cf. also Art. 17 DSGVO), or, alternatively, if further processing is necessary as stipulated in Art. 17 Para. 3 GDPR, to restrict said processing per Art. 18 GDPR;</span></li>
							<li style="list-style-type: disc; font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">to receive copies of the data concerning them and/or provided by them and to have the same transmitted to other providers/controllers (cf. also Art. 20 GDPR);</span></li>
							<li style="list-style-type: disc; font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">to file complaints with the supervisory authority if they believe that data concerning them is being processed by the controller in breach of data protection provisions (see also Art. 77 GDPR).</span></li>
						</ul>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">In addition, the controller is obliged to inform all recipients to whom it discloses data of any such corrections, deletions, or restrictions placed on processing the same per Art. 16, 17 Para. 1, 18 GDPR. However, this obligation does not apply if such notification is impossible or involves a disproportionate effort. Nevertheless, users have a right to information about these recipients.</span></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><strong><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Likewise, under Art. 21 GDPR, users and data subjects have the right to object to the controller's future processing of their data pursuant to Art. 6 Para. 1 lit. f) GDPR. In particular, an objection to data processing for the purpose of direct advertising is permissible.</span></strong></p>
						<h1 style="line-height: 1.38; margin-top: 14pt; margin-bottom: 4pt; text-align: justify;"><span style="font-size: 16pt; font-family: Arial; color: #4a86e8; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">III.</span><span style="font-size: 16pt; font-family: Arial; color: #4a86e8; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">&nbsp;&nbsp;&nbsp; </span><span style="font-size: 16pt; font-family: Arial; color: #4a86e8; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Information about the data processing</span></h1>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Your data processed when using our website will be deleted or blocked as soon as the purpose for its storage ceases to apply, provided the deletion of the same is not in breach of any statutory storage obligations or unless otherwise stipulated below.</span></p>
						<h2 style="line-height: 1.38; margin-top: 12pt; margin-bottom: 2pt; margin-left: 36pt; text-align: justify;"><span style="font-size: 13.999999999999998pt; font-family: Arial; color: #4a86e8; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Server data</span></h2>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; margin-left: 36pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">For technical reasons, the following data sent to us by your internet browser will be collected, especially to ensure a secure and stable website: These server log files record the type and version of your browser, operating system, the website from which you came (referrer URL), the webpages on our site visited, the date and time of your visit, as well as the IP address from which you visited our site.</span></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; margin-left: 36pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The data thus collected will be temporarily stored, but not in association with any other of your data.</span></p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; margin-left: 36pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The basis for this storage is Art. 6 Para. 1 lit. f) GDPR. Our legitimate interest lies in the improvement, stability, functionality, and security of our website.</span></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; margin-left: 36pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The data will be deleted within no more than seven days, unless continued storage is required for evidentiary purposes. In which case, all or part of the data will be excluded from deletion until the investigation of the relevant incident is finally resolved.</span></p>
						<h2 style="line-height: 1.38; margin-top: 12pt; margin-bottom: 2pt; text-align: justify;"><span style="font-size: 13.999999999999998pt; font-family: Arial; color: #4a86e8; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Cookies</span></h2>
						<h3 style="line-height: 1.38; margin-top: 11pt; margin-bottom: 2pt; text-align: justify;"><span style="font-size: 12pt; font-family: Arial; color: #4a86e8; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">a) Session cookies</span></h3>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">We use cookies on our website. Cookies are small text files or other storage technologies stored on your computer by your browser. These cookies process certain specific information about you, such as your browser, location data, or IP address. </span></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">This processing makes our website more user-friendly, efficient, and secure, allowing us, for example, to display our website in different languages.</span></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The legal basis for such processing is Art. 6 Para. 1 lit. b) GDPR, insofar as these cookies are used to collect data to initiate or process contractual relationships.</span></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">If the processing does not serve to initiate or process a contract, our legitimate interest lies in improving the functionality of our website. The legal basis is then Art. 6 Para. 1 lit. f) GDPR.</span></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">When you close your browser, these session cookies are deleted.</span></p>
						<h3 style="line-height: 1.38; margin-top: 11pt; margin-bottom: 2pt; text-align: justify;"><span style="font-size: 12pt; font-family: Arial; color: #4a86e8; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">b) Third-party cookies</span></h3>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">If necessary, our website may also use cookies from companies with whom we cooperate for the purpose of analyzing, or improving the features of our website.</span></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Please refer to the following information for details, in particular for the legal basis and purpose of such third-party collection and processing of data collected through cookies.</span></p>
						<h3 style="line-height: 1.38; margin-top: 11pt; margin-bottom: 2pt; text-align: justify;"><span style="font-size: 12pt; font-family: Arial; color: #4a86e8; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">c) Disabling cookies</span></h3>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">You can refuse the use of cookies by changing the settings on your browser. Likewise, you can use the browser to delete cookies that have already been stored. However, the steps and measures required vary, depending on the browser you use. If you have any questions, please use the help function or consult the documentation for your browser or contact its maker for support. Browser settings cannot prevent so-called flash cookies from being set. Instead, you will need to change the setting of your Flash player. The steps and measures required for this also depend on the Flash player you are using. If you have any questions, please use the help function or consult the documentation for your Flash player or contact its maker for support.</span></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">If you prevent or restrict the installation of cookies, not all of the functions on our site may be fully usable.</span></p>
						<h2 style="line-height: 1.38; margin-top: 12pt; margin-bottom: 2pt; text-align: justify;"><span style="font-size: 13.999999999999998pt; font-family: Arial; color: #4a86e8; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">User account/registration</span></h2>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">If you create a user account with us via our website, we will use the data you entered during registration (e.g. your username and email address) exclusively for our research purposes. </span><span style="font-size: 10pt; font-family: Arial; color: #333333; background-color: #ffffff; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">&nbsp;We also store your IP address and the date and time of your registration. </span><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">This data will not be transferred to third parties.</span></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">During the registration process, your consent will be obtained for this processing of your data, with reference made to this privacy policy. The data collected by us will be used exclusively to provide your customer account.</span></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">If you give your consent to this processing, Art. 6 Para. 1 lit. a) GDPR is the legal basis for this processing.</span></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">If the opening of the user account is also intended to lead to the initiation of a contractual relationship with us or to fulfill an existing contract with us, the legal basis for this processing is also Art. 6 Para. 1 lit. b) GDPR.</span></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">You may revoke your prior consent to the processing of your personal data at any time under Art. 7 Para. 3 GDPR with future effect. All you have to do is contact us and inform us that you are revoking your consent.</span></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The data previously collected will then be deleted as soon as processing is no longer necessary. However, we must observe any retention periods required under tax and commercial law.</span></p>
						<h2 style="line-height: 1.38; margin-top: 12pt; margin-bottom: 2pt; text-align: justify;"><span style="font-size: 13.999999999999998pt; font-family: Arial; color: #4a86e8; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Newsletter</span></h2>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">If you register for our free newsletter, the data requested from you for this purpose, i.e. your email address, will be sent to us. During the registration process, we will obtain your consent to receive this newsletter and the type of content it will offer, with reference made to this privacy policy. The data collected will be used exclusively to send the newsletter and will not be passed on to third parties.</span></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The legal basis for this is Art. 6 Para. 1 lit. a) GDPR.</span></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">You may revoke your prior consent to receive this newsletter under Art. 7 Para. 3 GDPR with future effect. All you have to do is inform us that you are revoking your consent or click on the unsubscribe link contained in each newsletter.</span></p>
						<h2 style="line-height: 1.38; margin-top: 12pt; margin-bottom: 2pt; text-align: justify;"><span style="font-size: 13.999999999999998pt; font-family: Arial; color: #4a86e8; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Contact</span></h2>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">If you contact us via email or the contact form, the data you provide will be used for the purpose of processing your messageRequest. We must have this data in order to process and answer your inquiry; otherwise we will not be able to answer it in full or at all.</span></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The legal basis for this data processing is Art. 6 Para. 1 lit. b) GDPR.</span></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Your data will be deleted once we have fully answered your inquiry and there is no further legal obligation to store your data, such as if an order or contract resulted therefrom.</span></p>
						<h2 style="line-height: 1.38; margin-top: 12pt; margin-bottom: 2pt; text-align: justify;"><span style="font-size: 13.999999999999998pt; font-family: Arial; color: #4a86e8; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">User posts</span></h2>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">We offer you the opportunity to post multimedia status updates and comments on our website, hereinafter referred to jointly as "posts." If you make use of this opportunity, we will process and publish your post, the date and time you submitted it, along with your username.</span></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The legal basis for this is Art. 6 Para. 1 lit. a) GDPR. You may revoke your prior consent under Art. 7 Para. 3 GDPR with future effect. All you have to do is inform us that you are revoking your consent.</span></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">In addition, we will also process your IP address and email address. The IP address is processed because we might have a legitimate interest in taking or supporting further action if your post infringes the rights of third parties and/or is otherwise unlawful.</span></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">In this case, the legal basis is Art. 6 Para. 1 lit. f) GDPR. Our legitimate interest lies in any legal defense we may have to mount.</span></p>
						<h2 style="line-height: 1.38; margin-top: 12pt; margin-bottom: 2pt; text-align: justify;"><span style="font-size: 13.999999999999998pt; font-family: Arial; color: #4a86e8; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Follow-up comments</span></h2>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">If you make posts on our website, we also offer you the opportunity to subscribe to any subsequent follow-up comments made by third parties. In order to be able to inform you about these follow-up comments, we will need to process your email address.</span></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The legal basis for this is Art. 6 Para. 1 lit. a) GDPR. You may revoke your prior consent to this subscription under Art. 7 Para. 3 GDPR with future effect. All you have to do is inform us that you are revoking your consent or click on the unsubscribe link contained in each email.</span></p>
						<h2 style="line-height: 1.38; margin-top: 12pt; margin-bottom: 2pt; text-align: justify;"><span style="font-size: 13.999999999999998pt; font-family: Arial; color: #4a86e8; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Google Analytics</span></h2>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">We use Google Analytics on our website. This is a web analytics service provided by Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043 (hereinafter: Google).</span></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Through certification according to the EU-US Privacy Shield</span></p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><a style="text-decoration: none;" href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&amp;status=Active"><span style="font-size: 10pt; font-family: Arial; color: #1155cc; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: underline; -webkit-text-decoration-skip: none; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;">https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&amp;status=Active</span></a></p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Google guarantees that it will follow the EU's data protection regulations when processing data in the United States.</span></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The Google Analytics service is used to analyze how our website is used. The legal basis is Art. 6 Para. 1 lit. f) GDPR. Our legitimate interest lies in the analysis, optimization, and economic operation of our site.</span></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Usage and user-related information, such as IP address, place, time, or frequency of your visits to our website will be transmitted to a Google server in the United States and stored there. However, we use Google Analytics with the so-called anonymization function, whereby Google truncates the IP address within the EU or the EEA before it is transmitted to the US.</span></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">The data collected in this way is in turn used by Google to provide us with an evaluation of visits to our website and what visitors do once there. This data can also be used to provide other services related to the use of our website and of the internet in general.</span></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Google states that it will not connect your IP address to other data. In addition, Google provides further information with regard to its data protection practices at</span></p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><a style="text-decoration: none;" href="https://www.google.com/intl/de/policies/privacy/partners"><span style="font-size: 10pt; font-family: Arial; color: #1155cc; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: underline; -webkit-text-decoration-skip: none; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;">https://www.google.com/intl/de/policies/privacy/partners,</span></a></p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">including options you can exercise to prevent such use of your data.</span></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">In addition, Google offers an opt-out add-on at</span></p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><a style="text-decoration: none;" href="https://tools.google.com/dlpage/gaoptout?hl=de"><span style="font-size: 10pt; font-family: Arial; color: #1155cc; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: underline; -webkit-text-decoration-skip: none; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;">https://tools.google.com/dlpage/gaoptout?hl=en</span></a></p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">in addition with further information. This add-on can be installed on the most popular browsers and offers you further control over the data that Google collects when you visit our website. The add-on informs Google Analytics' JavaScript (ga.js) that no information about the website visit should be transmitted to Google Analytics. However, this does not prevent information from being transmitted to us or to other web analytics services we may use as detailed herein.</span></p>
						<h2 style="line-height: 1.38; margin-top: 12pt; margin-bottom: 2pt; text-align: justify;"><span style="font-size: 13.999999999999998pt; font-family: Arial; color: #4a86e8; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">YouTube</span></h2>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">We use YouTube on our website. This is a video portal operated by YouTube LLC, 901 Cherry Ave, 94066 San Bruno, CA, USA, hereinafter referred to as "YouTube".</span></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">YouTube is a subsidiary of Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043 USA.</span></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Through certification according to the EU-US Privacy Shield</span></p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><a style="text-decoration: none;" href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&amp;status=Active"><span style="font-size: 10pt; font-family: Arial; color: #1155cc; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: underline; -webkit-text-decoration-skip: none; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;">https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&amp;status=Active</span></a></p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Google and its subsidiary YouTube guarantee that they will follow the EU's data protection regulations when processing data in the United States.</span></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">We use YouTube in its advanced privacy mode to show you videos. The legal basis is Art. 6 Para. 1 lit. f) GDPR. Our legitimate interest lies in improving the quality of our website. According to YouTube, the advanced privacy mode means that the data specified below will only be transmitted to the YouTube server if you actually start a video.</span></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Without this mode, a connection to the YouTube server in the USA will be established as soon as you access any of our webpages on which a YouTube video is embedded.</span></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">This connection is required in order to be able to display the respective video on our website within your browser. YouTube will record and process at a minimum your IP address, the date and time the video was displayed, as well as the website you visited. In addition, a connection to the DoubleClick advertising network of Google is established.</span></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">If you are logged in to YouTube when you access our site, YouTube will assign the connection information to your YouTube account. To prevent this, you must either log out of YouTube before visiting our site or make the appropriate settings in your YouTube account.</span></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">For the purpose of functionality and analysis of usage behavior, YouTube permanently stores cookies on your device via your browser. If you do not agree to this processing, you have the option of preventing the installation of cookies by making the appropriate settings in your browser. Further details can be found in the section about cookies above.</span></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><span style="font-size: 10pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;">Further information about the collection and use of data as well as your rights and protection options in Google's privacy policy found at</span></p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;"><a style="text-decoration: none;" href="https://policies.google.com/privacy"><span style="font-size: 10pt; font-family: Arial; color: #1155cc; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: underline; -webkit-text-decoration-skip: none; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;">https://policies.google.com/privacy</span></a></p>
						<p>&nbsp;</p>
						<p style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: right;"><a style="text-decoration: none;" href="https://www.ratgeberrecht.eu/leistungen/muster-datenschutzerklaerung.html"><span style="font-size: 8pt; font-family: Arial; color: #1155cc; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: underline; -webkit-text-decoration-skip: none; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;">Model Data Protection Statement</span></a><span style="font-size: 8pt; font-family: Arial; color: #000000; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: none; vertical-align: baseline; white-space: pre-wrap;"> for</span><a style="text-decoration: none;" href="https://www.ratgeberrecht.eu/"> <span style="font-size: 8pt; font-family: Arial; color: #1155cc; background-color: transparent; font-weight: 400; font-variant: normal; text-decoration: underline; -webkit-text-decoration-skip: none; text-decoration-skip-ink: none; vertical-align: baseline; white-space: pre-wrap;">Anwaltskanzlei Wei&szlig; &amp; Partner</span></a></p>
						<p><br /><br /></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
  import {storage_getURL} from '../../js/global.js';
  import { gamificationToast } from './common/gamificationAlertConfigs.js';
  import * as EVENTS from '../../js/gamification';

  export default {
    name: 'Signup',
    props: {
      usertype: String,
    },
    components: {},
    data: function() {
      return {
        state: this.$store,
        user: {
          name: '',
          type: 'student',
          subtype: '',
          gender: '',
          email: '',
          password: '',
          confirmedPassword: '',
          verificationCode: '',
        },
        agreeTC: false,
        showVerificationCodeInput: false,
        classObject: 'bg-card bg-card-student',
        classObjectButton: 'btn btn-orange w-100',
        error: {
          usernameInvalid: false,
          usersubtypeInvalid: false,
          genderInvalid: false,
          emailInvalid: false,
          passwordInvalid: false,
          termsNotAgreed: false,
          username: '',
          usersubtype: '',
          gender: '',
          email: '',
          password: '',
        },
      };
    },
    methods: {
      togglePassword() {
        $('.toggle-password').toggleClass('fa-eye fa-eye-slash');
        var input = $($('.toggle-password').attr('toggle'));
        if (input.attr('type') == 'password') {
          input.attr('type', 'text');
        } else {
          input.attr('type', 'password');
        }
      },
      afterSignup() {
        swal('You have successfully registered. Login now and start exploring STIMEY.', {
          button: 'Login',
        }).then(() => {
            // Gamification Event -> Points for signing up, disabled by david, currentUser is set only at login
            
//             let params = $.param({
//                 userid: this.$store.currentUser.userid,
//                 eventid: EVENTS.REGISTER,
//             });

//             axios.get(storage_getURL('API_GATEWAY_STORAGE') + '/api-proxy/achievements/api/gamification?' + params)
//                 .then(response => {
//                     gamificationToast(this, response);
// 						this.$dailyGoalBus.$emit('points');
//                 });
            
          this.$router.push('/login');
        });
      },
      selectedGender(e) {
          if(e.target.options.selectedIndex > -1) {
      	    var index = e.target.options.selectedIndex; 	
          	if (index===0)
        	  this.user.gender = 'Female';
            else if (index===1)
        	  this.user.gender = 'Male';
            else if (index===2)
        	  this.user.gender = 'Other';
            //alert('this is selected gender ' + this.user.gender)
         }
      },
      selectedIncubatorSubtype(e) {
          if(e.target.options.selectedIndex > -1) {
        	var index = e.target.options.selectedIndex; 	
            if (index===0)
          	  this.user.subtype = 'organization';
            else if (index===1)
          	  this.user.subtype = 'school';
      	  }
      },
      signup() {
        if (this.agreeTC == false) {
          this.error.termsNotAgreed = true;
        } else {
          if (this.user.type === 'business') this.user.gender = 'none';
          
          let under13 = JSON.parse(sessionStorage.getItem("under13"));
          console.log(under13);
          
          let user = {
            username: this.user.name,
            usertype: this.user.type,
            usersubtype: null,
            email: this.user.email,
            password: this.user.password,
            confirmedPassword: this.user.password,
            gender: this.user.gender,
            birthday: under13.birthday,
			under13: under13.status,
            verificationCode: this.user.verificationCode,
          };
          
          if (this.user.type == 'parent')
      	  	user.usertype = 'ambassador';
          else if (this.user.type == 'business') {
        	user.usertype = 'incubator';
        	user.usersubtype = this.user.subtype;
          }
          
          axios.post(storage_getURL('API_GATEWAY_STORAGE') + '/api-proxy/auth/api/v1/signup', user).then(response => {
            console.log(response.data);
            this.error.usernameInvalid = false;
            this.error.genderInvalid = false;
            this.error.emailInvalid = false;
            this.error.passwordInvalid = false;
            this.error.usersubtypeInvalid = false;
            this.error.termsNotAgreed = false;
			this.afterSignup();
          }).catch(error => {
            console.log(error);
            this.error.usernameInvalid = false;
            this.error.genderInvalid = false;
            this.error.emailInvalid = false;
            this.error.passwordInvalid = false;
            this.error.usersubtypeInvalid = false;
            this.error.termsNotAgreed = false;
            switch (error.response.data.message) {
              case 'login_already_exists':
                this.error.username = 'Username already exists';
                this.error.usernameInvalid = true;
                break;
              case 'email_is_not_email':
                this.error.email = 'Email is not valid';
                this.error.emailInvalid = true;
                break;
              case 'email_already_exists':
                this.error.email = 'Email already exists';
                this.error.emailInvalid = true;
                break;
              case 'email_was_not_sent':
                swal('We could not send you an email, try it again!');
                break;  
              case 'validation':
                let map = error.response.data.data;
                if (map.hasOwnProperty('username')) {
                  this.error.username = map.username[1];
                  this.error.usernameInvalid = true;
                }
                if (map.hasOwnProperty('gender')) {
                  this.error.gender = map.gender[1];
                  this.error.genderInvalid = true;
                }
                if (map.hasOwnProperty('email')) {
                  this.error.email = map.email[1];
                  this.error.emailInvalid = true;
                }
                if (map.hasOwnProperty('password')) {
                  this.error.password = map.password[1];
                  this.error.passwordInvalid = true;
                }
                if (map.hasOwnProperty('usersubtype')) {
                    this.error.usersubtype = map.usersubtype[1];
					this.error.usersubtypeInvalid = true;
				}
                break;
              default:
            }

            //window.alert(error.response.data.message);
          });
        }
      },
    },
    mounted() {
      this.user.type =
          this.usertype && this.usertype !== 'null' && this.usertype !== 'undefined' ? this.usertype : 'student';
      
      if (this.usertype == 'leader')
    	  this.user.type = 'teacher';
      else if (this.usertype == 'ambassador')
	  	this.user.type = 'parent';
      else if (this.usertype == 'incubator')
  	  	this.user.type = 'business';
      
      if (this.user.type == 'teacher') {
        (this.classObject = 'bg-card bg-card-teacher'), (this.classObjectButton = 'btn btn-green w-100');
      } else if (this.user.type == 'parent') {
        (this.classObject = 'bg-card bg-card-parent'), (this.classObjectButton = 'btn btn-parent w-100');
      } else if (this.user.type == 'business') {
        (this.classObject = 'bg-card bg-card-orga'), (this.classObjectButton = 'btn btn-orga w-100');
      } else this.user.type = 'student';

        this.user.gender = 'Female';
        this.user.subtype = 'organization';
    },
  };
</script>

<style scoped>
	@import url('../../css/stimey-home.css');
	
	.scrolling {
		/*height: 300px;*/
		max-height: 70vh;
		overflow-y: scroll;
	}
</style>
