<template>
  <span>
    <ViewStatusUpdate
      v-if="fetched"
      :statusUpdateId="statusUpdateObject.statusUpdateId"
      :statusUpdateObj="statusUpdateObject"
      v-on:deleted="statusUpdateDeleted();"
    ></ViewStatusUpdate>
  </span>
</template>

<script>
import ViewStatusUpdate from "./common/statusupdate/ViewStatusUpdate";
import { getStatusUpdateApiUrl } from "../../js/global";

export default {
  name: "Statusupdate",
  props: {
    statusupdateId: {
      type: String,
      required: true
    }
  },
  components: {
    ViewStatusUpdate
  },
  data: function() {
    return {
      statusUpdateObject: null,
      fetched: false
    };
  },
  mounted() {
    this.fetchStatusUpdate();
  },
  methods: {
    statusUpdateDeleted: function() {
      this.fetched = false;
      this.statusUpdateObject = null;
      window.location.href = "/activitystream/";
    },
    fetchStatusUpdate: function() {
      let statusUpdateIds = [];
      statusUpdateIds.push(this.statusupdateId);

      const statusUpdateIdsParam = jQuery.param({
        statusUpdateIds
      });

      let searchQuery = "?onlyIds=false&order=dec" + "&offset=0&limit=0";

      if (statusUpdateIdsParam.length > 0) {
        searchQuery += "&" + statusUpdateIdsParam;
      }

      axios
        .get(getStatusUpdateApiUrl("API_GATEWAY_STORAGE") + searchQuery)
        .then(
          response => {
            if (
              response.data[0].statusUpdateId != null &&
              !(response.data[0].statusUpdateId === "")
            ) {
              this.statusUpdateObject = response.data[0];
            }
            this.fetched = true;
          },
          error => {
            console.log(error);
          }
        );
    }
  }
};
</script>

<style scoped></style>
