<template>
    <div>
        <!--        HTMl code-->
        <h1>Template Demo Component</h1>

        <button @click="example_function()">Example Button</button>

        <example_-component></example_-component>
        <br>

        <h1>number from example_prop: {{example_prop}}</h1>
        <br>
        <h1>template_object: {{template_object}}</h1>
        <br>
        <h1>template_object access properties: {{ template_object.var1}}</h1>
        <br>
        <h1>access computed property/variable: {{ example_comp }}</h1>
    </div>
</template>

<script>
    import Example_Component from "./Example_Component";

    export default {
        name: "Template",

        components: {Example_Component},

        props: {
            example_prop: {
                type: number,
                required: true
            }
        },

        data: function () {
            return {
                template_object: {
                    var1: 'Test',
                    var2: 'Object',
                    var3: 1
                },
                var3: 23,
                var4: false,
                var5: "test",
                var6: null
            }
        },

        computed: {
            example_comp: function(){
                return this.var3 + this.example_prop;
            }
        },

        watch: {
            example_var: function (val) {
                console.log("passed prop example_var:" + val);
            }
        },

        methods: {
            example_function() {
                alert("button clicked");
            }
        },

        beforeCreate(){
            console.log("beforeCreate()");
        },

        created() {
            console.log("created");
        },

        beforeMount() {
            console.log("beforeMount()");
        },

        mounted(){
          console.log("mounted");
        },

        beforeUpdate() {
            console.log("beforeUpdate()");
        },

        updated() {
            console.log("updated()");
        },

        beforeDestroy() {
            console.log("beforeDestroy()");
        },

        destroyed() {
            console.log("destroyed()");
        }
    }
</script>

<style scoped>
    /*CSS*/
    /*Example: */
    .textColor {
        color: red;
    }
</style>