<template>
	<div class="card mb-lg-5 mr-lg-4">
		coming soon
	</div>
</template>

<script>

  export default {
    name: 'TermsAndCondition',
    props: {},
    components: {},
    data: function() {
      return {};
    },
    mounted() {

    },
    methods: {},
  };
</script>

<style scoped></style>
