<template>
    <!--Modal of Create new Planets-->
    <form class="modal fade" id="modal-create-new-planet" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header pb-1">
                    <h5 class="modal-title">Create a new world</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <!--Progress Bar-->
                    <div class="stepwizard">
                        <div class="stepwizard-row setup-panel">
                            <div class="stepwizard-step">
                                <a
                                        id="world-step1"
                                        @click="gotoStep"
                                        data-id="world-step-1"
                                        type="button"
                                        class="btn btn-default btn-green btn-round"
                                >1
                                </a>
                                <p>Basic Info</p>
                            </div>
                            <div class="stepwizard-step">
                                <a
                                        @click="gotoStep"
                                        data-id="world-step-2"
                                        type="button"
                                        class="btn btn-default btn-round"
                                >2
                                </a>
                                <p>Details</p>
                            </div>
                            <div class="stepwizard-step">
                                <a
                                        @click="gotoStep"
                                        data-id="world-step-3"
                                        type="button"
                                        class="btn btn-default btn-round"
                                >3
                                </a>
                                <p>Themes</p>
                            </div>
                            <div class="stepwizard-step">
                                <a
                                        @click="gotoStep"
                                        data-id="world-step-4"
                                        type="button"
                                        class="btn btn-default btn-round"
                                >4
                                </a>
                                <p>Permissions</p>
                            </div>
                        </div>
                    </div>

                    <form role="form" class="mt-2">

                        <!--Tab 01 - General Info: Name, Description -->
                        <div class="setup-content text-left" id="world-step-1">
                            <div class="form-group">
                                <label for="enterWorldName"><h6 class="mb-0">Name</h6></label>
                                <input
                                        v-model="state.createWorldData.title"
                                        type="text"
                                        maxlength="100"
                                        required="required"
                                        class="form-control"
                                        id="enterWorldName"
                                        placeholder="Enter a world Name">
                                <div id="worldTitleInvalid" class="invalid-feedback"
                                     v-if="state.createWorldData.title === ''">
                                    Please choose a world name.
                                </div>
                            </div>

                            <!--Worlds languages: just same as mission.-->
                            <div class="form-group">
                                <label for="selectLanguage">
                                    <h6 class="mb-0">Language</h6>
                                </label>
                                <select v-model="state.createWorldData.language" id="selectLanguage"
                                        class="form-control">
                                    <option v-for="(val, key) in languages" :value="key">{{val}}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="worldDescription"><h6 class="mb-0">Description</h6></label>
                                <textarea
                                        v-model="state.createWorldData.description"
                                        class="form-control"
                                        rows="3"
                                        maxlength="500"
                                        required
                                        id="worldDescription"
                                        name="world-description"
                                        placeholder="Introduce your World..."></textarea>
                            </div>
                            <div class="form-group">
                                <h6 class="mb-0">Keywords</h6><br>
                                <KeywordSearchBar
                                        :uidForWrapperID='true'
                                        id="inputWorldKeywordsWithData"
                                        :initial-keywords="state.createWorldData.keywords"
                                        v-on:keywordsChanged="handleKeywordWorldChanged"
                                        class="form-control"
                                />
                                <small class="mt-1 text-left form-text text-muted">You can put some words to sum up
                                    your world, let more people know. eg. #CrosscurricularSkill, #Creativity,
                                    #Mechanics...
                                </small>

                            </div>

                            <hr class="m-3">
                            <a
                                    @click="showNextStep"
                                    class="btn btn-green nextBtn pull-right w-25 mr-4"
                                    type="button">Next
                            </a>
                        </div>

                        <!--Tab 02 - Worlds themes-->
                        <div class="setup-content text-left" id="world-step-2">
                            <form>
                                <div class="form-group">
                                    <label for="formMCStageSelect"><h6 class="mb-0">Stage</h6></label>
                                    <select v-model="state.createWorldData.stage" class="form-control"
                                            id="formMCStageSelect">
                                        <option v-for="stage in stages">{{stage}}</option>
                                    </select>
                                </div>
                            </form>
                            <form>
                                <div class="form-group">
                                    <label for="formMCDiffSelect"><h6 class="mb-0">Difficulty</h6></label>
                                    <select v-model="state.createWorldData.difficulty" class="form-control"
                                            id="formMCDiffSelect">
                                        <option v-for="difficulty in difficulties">{{difficulty}}</option>
                                    </select>
                                </div>
                            </form>
                            <form>
                                <div class="form-group">
                                    <label for="formThemeSelect"><h6 class="mb-0">Theme</h6></label>
                                    <select v-model="state.createWorldData.theme" class="form-control"
                                            id="formThemeSelect">
                                        <option v-for="(theme, index) in themes" :value="index">{{theme.name}}</option>
                                    </select>
                                </div>
                            </form>
                            <form>
                                <div class="form-group mt-2 mb-2">
                                    <label><h6 class="mb-0">Fields of Study</h6></label>
                                    <!--Topic is Multi-choose.-->
                                    <div id="preserve-metadata">
                                        <ol class="shift-select-container">
                                            <li
                                                    @click="selectTopic(topic)"
                                                    v-for="topic in topics"
                                                    :class="'multi-choice-option shift-select-item btn' + (isTopicSelected(topic) ? ' checked' : '')"
                                                    data-index="topic-mathe"
                                            >
                                                {{topic}}
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </form>

                            <hr class="m-3"/>
                            <a
                                    @click="showPreviousWindowOfCreateWorldModal"
                                    class="btn btn-orange prevBtn pull-left w-25 ml-4"
                                    type="button"
                            >Prev
                            </a>
                            <a
                                    @click="showNextStep"
                                    class="btn btn-green nextBtn pull-right w-25 mr-4"
                                    type="button"
                            >Next
                            </a>
                        </div>

                        <!--Tab 03 - Mission template-->
                        <div class="setup-content text-left" id="world-step-3">
                            <form>
                                <div class="form-group">
                                    <div class="list-group mt-3 mb-2">
                                        <a href="#" @click="selectCharacter('1')"
                                           :class="'list-group-item list-group-item-action flex-column align-items-start' +
                                           (state.createWorldData.character === '1' ? ' active' : '')">
                                            <div class="d-flex w-100 justify-content-between">
                                                <blockquote
                                                        class="d-flex justify-content-start bubble bubble-worlds-crash animated rubberBand w-75 mr-5">
                                                    Donec id elit non mi porta gravida at eget metus. Maecenas
                                                    sed diam eget risus varius blandit.
                                                </blockquote>
                                                <img class="d-flex justify-content-end w-25 h-25"
                                                     src="../../../../img/OCEAN PLANET_Exocoetidae-01.png"
                                                     alt="avatar"/>
                                            </div>
                                        </a>
                                        <a href="#" @click="selectCharacter('2')"
                                           :class="'list-group-item list-group-item-action flex-column align-items-start' +
                                           (state.createWorldData.character === '2' ? ' active' : '')">
                                            <div class="d-flex w-100 justify-content-between">
                                                <blockquote
                                                        class="d-flex justify-content-start bubble bubble-worlds-crash animated rubberBand w-75 mr-5">
                                                    Donec id elit non mi porta gravida at eget metus. Maecenas
                                                    sed diam eget risus varius blandit.
                                                </blockquote>
                                                <div clasS="d-flex"></div>
                                                <img class="float-left d-flex justify-content-end w-25 h-25"
                                                     src="../../../../img/PLANET-Y_Zimbir-01_victory.png" alt="avatar"/>

                                            </div>
                                        </a>
                                        <a href="#" @click="selectCharacter('3')"
                                           :class="'list-group-item list-group-item-action flex-column align-items-start' +
                                           (state.createWorldData.character === '3' ? ' active' : '')">
                                            <div class="d-flex w-100 justify-content-between">
                                                <blockquote
                                                        class="d-flex justify-content-start bubble bubble-worlds-crash animated rubberBand w-75 mr-5">
                                                    Donec id elit non mi porta gravida at eget metus. Maecenas
                                                    sed diam eget risus varius blandit.
                                                </blockquote>
                                                <img class="d-flex justify-content-end w-25 h-25"
                                                     src="../../../../img/PLANET-T_Cyberbot-01.png" alt="avatar"/>

                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </form>

                            <hr class="m-3"/>
                            <button
                                    @click="showPreviousWindowOfCreateWorldModal"
                                    class="btn btn-orange prevBtn pull-left w-25 ml-4"
                                    type="button"
                            >Prev
                            </button>
                            <button
                                    @click="showNextStep"
                                    class="btn btn-green nextBtn pull-right w-25 mr-4"
                                    type="button"
                            >Next
                            </button>
                        </div>


                        <!--Tab 04 - World permission-->
                        <div class="setup-content text-left" id="world-step-4">
                            <form>
                                <div class="form-group">
                                    <label><h6 class="mb-0">Privacy</h6></label><br>
                                    <div class="custom-control custom-radio mr-5">
                                        <input v-model="state.createWorldData.privacy" type="radio"
                                               id="RdioPrivacyPublic"
                                               class="custom-control-input" name="customRadio" value="public">
                                        <label class="custom-control-label" for="RdioPrivacyPublic">
                                            Public World
                                        </label>
                                    </div>
                                    <small class="ml-4">
                                        Public World means that any STIMEY user can view and explore this world.
                                    </small>
                                    <br/>

                                    <div class="custom-control custom-radio mr-5 mt-3">
                                        <input v-model="state.createWorldData.privacy" type="radio"
                                               id="RdioPrivacyPrivate"
                                               class="custom-control-input" name="customRadio" value="private">
                                        <label class="custom-control-label" for="RdioPrivacyPrivate">
                                            Private World
                                        </label>
                                    </div>
                                    <small class="ml-4">
                                        Private World means that only users with invitation code can view and explore
                                        this
                                        world.
                                    </small>
                                </div>
                                <form>
                                    <div class="form-group">
                                        <label><h6 class="mb-0">Permissions</h6></label><br>
                                        <label class="select-checkbox mr-2">
                                            <input v-model="state.agree" type="checkbox" id="ChooseTopicCheckScience">
                                            <span class="select-checkmark"></span>
                                            <span class="checkbox-label">I agree with that.</span>
                                        </label>
                                        <div v-if="state.agree === false" id="agreeWarn" class="invalid-feedback">You
                                            must agree
                                        </div>

                                        <small class="ml-4">Grant access to other STIMEY teachers to use and edit a copy
                                            of
                                            this course. Credit will be given to the original creator in "Inspired By
                                            Username" under the "Mission Leader" box in the copy course.
                                        </small>
                                    </div>
                                </form>
                            </form>

                            <hr class="m-3">
                            <a
                                    @click="showPreviousWindowOfCreateWorldModal"
                                    class="btn btn-orange prevBtn pull-left w-25 ml-4"
                                    type="button"
                            >Prev
                            </a>
                            <a
                                    @click="submitCreateWorldForm"
                                    class="btn btn-green nextBtn pull-right w-25 mr-4"
                                    type="button"
                            >{{ (state.saved === true) ? 'Save' : 'Create' }}
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
    import KeywordSearchBar from "../../common/KeywordSearchBar"
    import {getPlanetsApiUrl} from '../../../../js/global'
    import store from '../common/data/store'

    export default {
        name: "ModalCreateWorld",

        components: {
            KeywordSearchBar
        },

        props: {
            worldId: {
                type: String,
                required: false
            },
            world: {
                type: Object,
                required: false
            }
        },

        watch: {
            world: function (world) {
                this.state.createWorldData = world;
                this.state.createWorldData.title = world.name;
                this.state.agree = true;
            }
        },

        data: function () {
            return {
                state: {
                    createWorldData: {
                        title: "",
                        description: "",
                        keywords: [],
                        topics: [],
                        stage: store.stages[0],
                        difficulty: store.difficulties[0],
                        language: Object.keys(store.languages)[0],
                        character: '1',
                        theme: 'forest',
                        privacy: 'public'
                    },
                    currentStep: {},
                    agree: false,
                    agreeWarn: false,
                    saved: false
                },
                topics: store.topics,
                stages: store.stages,
                difficulties: store.difficulties,
                languages: store.languages,
                themes: store.themes,

                keywords: []
            }
        },

        created() {
            this.resetDataForModal();
            this.initCreateWorldModal()
        },

        methods: {
            initCreateWorldModal() {
                let allWizards = $('div.setup-panel div a');
                let $target = $('#world-step-1');

                $('#modal-create-new-planet .setup-content').hide();
                for (let i = 0; i < allWizards.length; i++) {
                    $(allWizards[i]).removeClass('btn-green').addClass('btn-default');
                }
                $('div.setup-panel div a[data-id="world-step-1"]').addClass('btn-green');
                $('#agreePermission').prop('checked', false);
                this.state.currentStep = $target;
                $($target).show();
            },
            handleKeywordWorldChanged(e) {
                this.state.createWorldData.keywords = e;
            },
            isTopicSelected(topic) {
                return (this.state.createWorldData.topics.indexOf(topic) !== -1);
            },
            selectTopic(topic) {
                if ($(event.target).hasClass("checked")) {
                    $(event.target).removeClass("checked");
                    this.state.createWorldData.topics.splice(this.state.createWorldData.topics.indexOf(topic), 1);
                } else {
                    $(event.target).addClass("checked");
                    this.state.createWorldData.topics.push(topic);
                }
            },
            selectCharacter(char) {
                this.state.createWorldData.character = char;
                let eventSelector = $(event.target).closest('a');
                eventSelector.parent().find('a').removeClass('active');
                eventSelector.addClass('active');
            },
            showNextStepIfCurrentStepIsValid(event) {
                $('#enterWorldNameError').hide();
                this.showNextStep(event);
            },
            showNextStep(event) {
                let $this = event.target;
                let curStepFormGroup = $($this).closest('.setup-content');
                let nextStepFormGroup = $(curStepFormGroup).next('.setup-content');
                let currentStepFromDataId = curStepFormGroup.attr('id');
                let nextStepFromDataId = nextStepFormGroup.attr('id');
                let currentStepId = $('div.setup-panel div a[data-id="' + currentStepFromDataId + '"]');

                currentStepId.addClass('btn-default');
                currentStepId.removeClass('btn-green');
                $('div.setup-panel div a[data-id="' + nextStepFromDataId + '"]').addClass('btn-green');

                this.state.currentStep = nextStepFormGroup;
                curStepFormGroup.hide();
                nextStepFormGroup.show();
            },
            showPreviousWindowOfCreateWorldModal(event) {
                let $this = event.target;
                let curStepFormGroup = $($this).closest('.setup-content');
                let prevStepFormGroup = $(curStepFormGroup).prev('.setup-content');
                let currentStepFromDataId = curStepFormGroup.attr('id');
                let prevStepFromDataId = prevStepFormGroup.attr('id');
                let currentStepId = $('div.setup-panel div a[data-id="' + currentStepFromDataId + '"]');

                currentStepId.addClass('btn-default');
                currentStepId.removeClass('btn-green');
                $('div.setup-panel div a[data-id="' + prevStepFromDataId + '"]').addClass('btn-green');
                this.state.currentStep = prevStepFormGroup;

                curStepFormGroup.hide();
                prevStepFormGroup.show();
            },
            gotoStep(event) {
                let stepBreadcrumb = event.target;
                let allBreadcrumbs = $(stepBreadcrumb).parent().parent().find('a');
                for (let i = 0; i < allBreadcrumbs.length; i++) {
                    $(allBreadcrumbs[i]).removeClass('btn-green');
                    $(allBreadcrumbs[i]).addClass('btn-default');
                }
                $(stepBreadcrumb).removeClass('btn-default');
                $(stepBreadcrumb).addClass('btn-green');
                $(this.state.currentStep).hide();

                this.state.currentStep = $('#' + $(stepBreadcrumb).attr("data-id"));
                $(this.state.currentStep).show();
            },
            submitCreateWorldForm() {
                if (this.state.createWorldData.title === "") {
                    $('#worldTitleInvalid').show();
                    $('#world-step1')[0].click();
                    return;
                }

                // Maybe obsolete
                /*
                if (this.state.agree === false) {
                    $('#agreeWarn').show();
                    this.state.agreeWarn = true;
                    return;
                }
                */

                // Save
                if (this.worldId) {
                    let headers = {'Content-Type': 'application/json'};
                    axios.post(getPlanetsApiUrl("API_GATEWAY_STORAGE") + "/worlds/update/" + this.worldId, {
                        description: this.state.createWorldData.description,
                        character: this.state.createWorldData.character,
                        theme: this.state.createWorldData.theme,
                        privacy: this.state.createWorldData.privacy,
                        title: this.state.createWorldData.title,
                        keywords: this.state.createWorldData.keywords,
                        topics: this.state.createWorldData.topics,
                        stage: this.state.createWorldData.stage,
                        difficulty: this.state.createWorldData.difficulty,
                        language: this.state.createWorldData.language,
                    }, {headers: headers})
                        .then(response => {
                            this.$emit('worldSaved', this.state.createWorldData);
                            $(this.$el).modal('hide');
                        })
                        .catch(error => {
                            console.log(error);
                        });
                } else { // Create
                    let worldApiEndpoint = getPlanetsApiUrl("API_GATEWAY_STORAGE") + "/worlds/create";

                    axios.post(worldApiEndpoint, this.state.createWorldData)
                        .then(response => {
                            $('#enterWorldName').removeClass("is-invalid");

                            window.location.replace("/worlds/edit/" + response.data);

                            $(this.$el).modal('hide');
                            this.$emit('newWorldCreated');
                        })
                        .catch(error => {
                            if (error.status === 400) {
                                $('#world-step1')[0].click();
                                $('#enterWorldName').addClass("is-invalid");
                                $('#worldTitleInvalid').show();
                            }
                        });
                }
            },
            resetDataForModal() {
                if (this.worldId) {
                    this.state.saved = true;
                }
            },
            resetModal() {
                this.resetDataForModal();
                this.initCreateWorldModal();
            }
        },

        mounted() {
            this.initCreateWorldModal();
        }
    }
</script>

<style scoped>
    @import url("../../../../css/courses.css");
    @import url("../../../../css/worlds.css");
</style>
