<template>
    <!--Modal of Edit Description -->
    <form class="modal fade" id="modal-edit-description">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header pb-1">
                    <h5 class="modal-title">Edit announcement</h5>
                    <button type="button" class="close" data-dismiss="modal" @click="cancelCreateWorldForm">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="worldDescription"><h6 class="mb-0">Announcement</h6></label>
                        <textarea
                                v-model="state.createWorldData.description"
                                class="form-control"
                                rows="6"
                                maxlength="500"
                                required
                                id="worldDescription"
                                name="world-description"
                                placeholder="Introduce your World..."></textarea>
                    </div>
                    <a
                            @click="cancelCreateWorldForm"
                            class="btn btn-orange nextBtn pull-left w-25 ml-4"
                            type="button"
                    >Cancel
                    </a>

                    <a
                            @click="submitCreateWorldForm"
                            class="btn btn-green nextBtn pull-right w-25 mr-4"
                            type="button"
                    >Save
                    </a>
                </div>


            </div>
        </div>
    </form>
</template>

<script>
    import {getPlanetsApiUrl} from '../../../../js/global'

    export default {
        name: "EditDescriptionModal",

        props: {
            worldId: {
                type: String,
                required: false
            },
            world: {
                type: Object,
                required: false
            }
        },

        data: function () {
            return {
                state: {
                    createWorldData: {
                        description: '',
                    },
                    oldDescription: ''
                },
            }
        },


        methods: {
            submitCreateWorldForm: function() {
                let headers = {'Content-Type': 'application/json'};
                axios.post(getPlanetsApiUrl("API_GATEWAY_STORAGE") + "/worlds/updateDescription/" + this.worldId, {
                    description: this.state.createWorldData.description,
                }, {headers: headers})
                    .then(response => {
                        this.$emit('changeDescription', this.state.createWorldData.description);
                        $(this.$el).modal('hide');
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            cancelCreateWorldForm: function() {
                this.state.createWorldData.description = this.state.oldDescription
                $(this.$el).modal('hide');
            },
        },

        watch: {
            world: function (world) {
                this.state.createWorldData = world;
                this.state.oldDescription = this.state.createWorldData.description;
            }
        }
    }
</script>

<style scoped>
    @import url("../../../../css/courses.css");
    @import url("../../../../css/worlds.css");

</style>
