<template>
    <!-- world -->
    <div class="post-module" v-on:mouseenter="animateWorld" v-on:mouseleave="animateWorld" >

        <!-- thumbnail-->
        <div class="thumbnail">
            <div class="date planet">
                <div class="day">{{ created.day }}</div>
                <div class="month">{{ created.month }}</div>
            </div>
            <img v-if="world.theme === 'forest'" src="../../../../img/PLANET S_stars.png" alt="World Image" />
            <img v-else-if="world.theme === 'factory'" src="../../../../img/PLANET-T_stars.png" alt="World Image" />
            <img v-else-if="world.theme === 'crash'" src="../../../../img/CRASH PLANET_stars.png" alt="World Image" />
            <img v-else-if="world.theme === 'ocean'" src="../../../../img/OCEAN PLANET_stars.png" alt="World Image" />
            <img v-else-if="world.theme === 'young'" src="../../../../img/PLANET-Y_stars.png" alt="World Image" />

        </div>

        <!-- post content-->
        <div class="post-content" >
            <div class="category planet">{{ world.difficulty }}</div>
            <h6 class="title">
                {{ world.name }}
                    <template v-if="user.type === 'student' && action !== 'preview'">
                        <i class="fa fa-ellipsis-h float-right mt-2 mr-2" data-toggle="dropdown"></i>
                        <ul class="dropdown-menu dropdown-menu-right ml-2" role="menu">
                            <div class="dropdown-item" @click="quitWorld">Quit World</div>
                        </ul>
                    </template>
                    <template v-else-if="user.type === 'teacher' && action !== 'preview'">
                        <i class="fa fa-ellipsis-h float-right mt-2 mr-2" data-toggle="dropdown"></i>
                        <ul class="dropdown-menu dropdown-menu-right ml-2" role="menu">

                            <template v-if="area === 'saved'">
                                <li class="dropdown-item" @click="publishWorld">Publish</li>
                                <li class="dropdown-item" @click="archiveWorld">Archive</li>
                            </template>
                            <template v-else-if="area === 'archived'">
                                <li class="dropdown-item" @click="unarchiveWorld">Un-Archive</li>
                                <li class="dropdown-item" @click="deleteWorld">Delete</li>

                            </template>
                            <template v-else-if="area === 'active'">
                                <li class="dropdown-item" @click="archiveWorld">Archive</li>

                            </template>
                            <template v-else-if="area === 'moderated'">
                                <li class="dropdown-item" @click="unmoderateWorld">Quit</li>
                            </template>
                        </ul>
                    </template>
            </h6>

            <h2 class="sub-title pb-2">By {{ world.owner }}</h2>

            <ul class="pl-3" style="list-style-type:circle">
                <li class="pb-1">
                    <span class="font-weight-bold" v-if="world.missions !== '1'">{{ world.missions }} Missions</span>
                    <span class="font-weight-bold" v-else>{{ world.missions }} Mission</span>
                </li>
                <!--
                <li class="pb-1">
                    <span class="font-weight-bold">{{ world.challenges }} Challenges</span>
                </li>
                <li class="pb-1">
                    <span class="font-weight-bold">{{ world.games}} Games</span>
                </li>
                -->
                <li class="pb-1">
                    <span class="font-weight-bold" v-if="world.communities !== '1'">{{ world.communities }} Communities</span>
                    <span class="font-weight-bold" v-else>{{ world.communities }} Community</span>
                </li>
                <li class="pb-1">
                    <span class="font-weight-bold" v-if="world.resources !== '1'">{{ world.resources}} Resources</span>
                    <span class="font-weight-bold" v-else>{{ world.resources}} Resource</span>
                </li>
                <li class="pb-1">
                    <span class="font-weight-bold">{{ world.members}} Member</span>
                </li>
            </ul>

            <div class="description" v-for="(keyword, index) in world.keywords" :key="index">
                <a href="#">#{{ keyword }}</a>
            </div>

            <div class="post-meta">
                <span class="text-muted">
                    <a class="btn btn-circle">
                        <img src="../../../../img/ICONS-Knowledge-Points-Yellow-White-circle.png" class="w-100" alt="KP">
                    </a>
                    <span>{{ world.brainPoints }}</span>
                    <a class="btn btn-circle">
                        <img src="../../../../img/ICONS-Social-Points-Blue-White-circle.png" class="w-100" alt="SP">
                    </a>
                    <span>{{ world.heartPoints }}</span>
                    <a class="btn btn-circle">
                        <img src="../../../../img/ICONS-Creativity-Points-Red-White-circle.png" class="w-100" alt="CP">
                    </a>
                    <span>{{ world.spiritPoints }}</span>

                </span>
            </div>
            <div v-if="action === 'edit'" class="mt-3 text-center">
                <a v-bind:href="'/worlds/edit/' + world.id"><button class="btn btn-green w-100">Continue to edit</button></a>
            </div>
            <div v-if="action === 'preview'" class="mt-3 text-center">
                <a v-bind:href="'/worlds/preview/' + world.id"><button class="btn btn-green w-100">Preview</button></a>
            </div>
            <div v-if="action === 'exploring'" class="mt-3 text-center">
                <a v-bind:href="'/worlds/view/' + world.id"><button class="btn btn-green w-100">Check World</button></a>
            </div>
            <div v-if="action === 'moderate'" class="mt-3 text-center">
                <a v-bind:href="'/worlds/edit/' + world.id"><button class="btn btn-green w-100">Moderate World</button></a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "WorldsShowcase",

        props: {
            world: {
                type: Object,
                required: true
            },
            action: {
                type: String,
                required: true,
                default: "preview"
            },
            area: {
                type: String,
                default: 'preview',
                required: false
            }
        },

        data: function() {
            return {
                created: {
                    day: '',
                    month: ''
                },
                user: {
                    type: 'student'
                }
            };
        },

        methods: {
            animateWorld(e) {
                $(e.target).find('.description').stop().animate({
                    height: "toggle",
                    opacity: "toggle"
                }, 300);
            },
            quitWorld: function() {
                this.$emit('quitWorld', this.world.id);
            },
            archiveWorld: function() {
                this.$emit('archiveWorld', this.world.id);
            },
            unmoderateWorld: function() {
                this.$emit('unmoderateWorld', this.world.id);
            },
            deleteWorld: function() {
                this.$emit('deleteWorld', this.world.id);
            },
            publishWorld: function() {
                this.$emit('publishWorld', this.world.id);
            },
            unarchiveWorld: function() {
                this.$emit('unarchiveWorld', this.world.id);
            },
        },

        mounted: function(){
            let months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec"];
            let creationDate = new Date(parseInt(this.world.creationDate));
            this.created.day = creationDate.getDate();
            this.created.month = months[creationDate.getMonth()];
            this.user.type = this.$store.currentUser.usertype;
        },

        watch: {
            world: function(newVal) {},
            area: function(newVal) {}
        }
    };
</script>

<style scoped>
    @import url("../../../../css/courses.css");
    @import url("../../../../css/worlds.css");
</style>
