<template>
    <div>
        <div class="card-body text-left">
            <div class="row">
                <div v-for="column in photosSplitIntoColumns" class="col">
                    <div v-for="file in column" class="file">
                        <a v-if="fileAreRemoveable" @click="removePhotoClicked(file)">
                            <img class="mb-2 w-25" src="/dist/ICON_Delete-Post.png"/>
                        </a>
                        <img
                                v-if="albumType === 'images'"
                                @click="photoClicked(file)"
                                :src="getImageUrl(file)"
                                class="clearfix mb-2 w-100"
                        />
                        <video controls v-else :src="getImageUrl(file)" class="clearfix mb-2 w-100"></video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {getImageUrl, splitArrayIntoOrderedChunks} from './albumHelper';

    export default {
        name: 'PhotoAlbum',
        props: {
            files: {
                type: Array,
                default: () => []
            },
            albumType: {
                type: String,
                default: () => 'images'
            },
            columns: {
                type: Number,
                required: true
            },
            fileAreRemoveable: {
                type: Boolean,
                required: true
            }
        },
        computed: {
            photosSplitIntoColumns() {
                let threeColumns = this.splitArrayIntoOrderedChunks(this.files, this.columns);
                return threeColumns;
            }
        },
        methods: {
            splitArrayIntoOrderedChunks,
            getImageUrl,
            removePhotoClicked(photo) {
                this.$emit('removeFileClicked', photo);
            },
            photoClicked(photo) {
                this.$emit('fileClicked', photo);
            }
        }
    };
</script>

<style scoped>
    .file > a {
        display: none;
        top: 0;
        left: 0;
    }

    .file:hover img.clearfix {
        opacity: 0.5;
    }

    .file:hover > a {
        display: block;
    }
</style>
