<template>
    <div class="card-body text-left  p-0">
        <div class="row">

            <div class="col-lg-4 mb-3" v-for="manage in items">
                <div class="card card-comm">
                    <a v-bind:href="'/community/' + manage.commID">
                        <img v-if="!manage.commPhoto" class="card-img-top"
                             src="https://images.pexels.com/photos/247599/pexels-photo-247599.jpeg?h=350&auto=compress&cs=tinysrgb"
                             alt="Card image cap" width="100%">
                        <DisplayImgaeFile v-else
                              mode="community"
                              :imageFileId="manage.commPhoto" />
                    </a>

                    <div class="card-body text-center">
                        <a v-bind:href="'/community/' + manage.commID">
                            <h5 class="card-title">{{manage.commName}}</h5>
                        </a>
                        <p class="card-text">
                            Created by <a href="profiles-others.html"><span>{{manage.creatorName}}</span></a><br>
                            <span>{{manage.friendsCount}}</span> friends
                            <span>|</span>
                            <span>{{manage.membersCount}}</span> members
                        </p>
                        <div v-if="!onlyView && button === ''">
                            <button @click="locate(manage.commID)"
                                    type="button"
                                    class="btn btn-green btn-sm w-100">Manage
                            </button>
                                                    
                            <button @click="leave(manage.commID)"
                                    type="button"
                                    class="btn btn-orange btn-sm w-100 mt-2">
                                Leave
                            </button>
                        </div>
                        <div v-else-if="!onlyView && button !== ''">
                            <button v-if="button === 'add'"
                                    @click="add(manage.commID)"
                                    type="button"
                                    class="btn btn-green btn-sm w-100 mt-2">
                                Add
                            </button>
                            <button v-if="button === 'remove'"
                                    @click="remove(manage.commID)"
                                    type="button"
                                    class="btn btn-orange btn-sm w-100 mt-2">
                                Remove
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import DisplayImgaeFile from "../../../common/DisplayImageFile";

    export default {
        name: "CommunityList",

        components: {
            DisplayImgaeFile
        },

        props: {
            items: {
                type: Array,
                default: []
            },
            onlyView: {
                Type: Boolean,
                required: false,
                default: false
            },
            button: {
                Type: String,
                required: false,
                default: ''
            }
        },

        methods: {
            locate(communityId) {
                location.href = '/community/' + communityId;
            },
            leave(communityId) {
                axios.get(getCommunityApiUrl("API_GATEWAY_STORAGE") + "/communities/leave/" + communityId)
                    .then(response => {
                        this.$emit('leaveCommunity', communityId);
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            add(communityId) {
                this.$emit('addCommunity', communityId)
            },
            remove(communityId) {
                this.$emit('removeCommunity', communityId)
            }
        }
    }
</script>

<style scoped>

</style>