<template xmlns="http://www.w3.org/1999/html">
    <table class="table">
        <tbody>
        <tr v-for="manage in items">
            <th scope="row" class="w-25">
                <h5><a v-bind:href="'/community/' + manage.commID">
                    {{manage.commName}}</a></h5>
                Created by <span><a href="#">{{manage.creatorName}}</a></span>
            </th>
            <td class="w-25">
                {{manage.creatorName}}
            </td>
            <td class="w-25">
                <div class="missions-keywords mt-2">
                    <a href="#">#homework</a>
                    <a href="#">#ClassSeven</a>
                    <a href="#">#TeacherLisa</a>
                    <a href="#">#Creativity</a>
                    <a href="#">#Physics</a>
                </div>
            </td>
            <td class="w-25">
                <button class="btn btn-green w-100 mb-2" @click="add(manage.commID)">Join</button>
            </td>
        </tr>
        </tbody>
    </table>
</template>

<script>
    import DisplayImgaeFile from "../../../common/DisplayImageFile";

    export default {
        name: "CommunityList",

        components: {
            DisplayImgaeFile
        },

        props: {
            items: {
                type: Array,
                default: []
            },
            onlyView: {
                Type: Boolean,
                required: false,
                default: false
            },
            button: {
                Type: String,
                required: false,
                default: ''
            }
        },

        methods: {
            locate(communityId) {
                location.href = '/community/' + communityId;
            },
            leave(communityId) {
                axios.get(getCommunityApiUrl("API_GATEWAY_STORAGE") + "/communities/leave/" + communityId)
                    .then(response => {
                        this.$emit('leaveCommunity', communityId);
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            add(communityId) {
                this.$emit('addCommunity', communityId)
            },
            remove(communityId) {
                this.$emit('removeCommunity', communityId)
            }
        }
    }
</script>

<style scoped>

</style>