<template>
    <div>
        <div>
            <div class="modal fade" id="modal-create-community" role="dialog">
                <div class="modal-dialog" role="document">
                     <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header pb-1">
                            <h5 class="modal-title">Create a community</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- content goes here -->
                            <form>
                                <div class="form-group form-inline">
                                    <div class="custom-control custom-radio custom-control-inline mr-5">
                                        <input v-model="state.newCommunity.privacy" type="radio" id="ComPravicyPublic"
                                               class="custom-control-input" name="customRadio" value="Public">
                                        <label class="custom-control-label" for="ComPravicyPublic">
                                            Public
                                        </label>
                                        <span class="tooltiptext">
											Public means every users can find this community by searching and join it without messageRequest.
										</span>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline mr-5">
                                        <input v-model="state.newCommunity.privacy" type="radio" id="ComPravicyPrivate"
                                               class="custom-control-input" name="customRadio" value="Private">
                                        <label class="custom-control-label" for="ComPravicyPrivate">
                                            Private
                                        </label>
                                        <span class="tooltiptext">
											Public means every users can find this community by searching and join it without messageRequest.
										</span>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input v-model="state.newCommunity.privacy" type="radio" id="ComPravicyOnlyMe"
                                               class="custom-control-input" name="customRadio" value="Secret">
                                        <label class="custom-control-label" for="ComPravicyOnlyMe">
                                            Closed
                                        </label>
                                        <span class="tooltiptext">
											Closed means users can not find this community by searching.
										</span>
                                    </div>
                                </div>
                            </form>
                            <form>
                                <div class="form-group">
                                    <label for="formenterCommNameInput"><h6 class="mb-0">Name</h6></label>
                                    <input v-model="state.newCommunity.communityName" type="text" class="form-control"
                                           id="formenterCommNameInput" placeholder="Enter your Community Name">
                                </div>
                                <div class="form-group">
                                    <label for="inputKeywords"><h6 class="mb-0">Keywords</h6></label>
                                    <!--  <input v-model="state.newComm.keywords" type="text" class="form-control" id="enterCommKeywords" placeholder="Enter # to add keywords..."> -->
                                    <KeywordSearchBar :id="'inputKeywords'"
                                                      v-on:keywordsChanged="handleKeywordChanged"
                                                      :initial-keywords="state.newCommunity.keywords"
                                                      class="form-control">
                                    </KeywordSearchBar>
                                </div>
                                <div class="form-group">
                                    <label for="commDescription"><h6 class="mb-0">Description</h6></label>
                                    <textarea v-model="state.newCommunity.description" class="form-control" rows="5"
                                              id="commDescription" name="community-description"
                                              placeholder="Write something about this community..."></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-orange w-25" data-dismiss="modal">Canel</button>
                            <button @click="createCommunity()" type="button" class="btn btn-green w-25"
                                    data-dismiss="modal">Create
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import KeywordSearchBar from "../../../common/KeywordSearchBar";

    export default {
        name: "AddCommunityModal",

        components: {
            KeywordSearchBar
        },

        data: function () {
            return {
                newCommunity: true,

                state: {
                    newCommunity: {
                        privacy: "Public"
                    },
                },

            }
        },

        methods: {
            createCommunity() {
                if (this.state.newCommunity.communityName === "")
                    return;

                axios.post(getCommunityApiUrl("API_GATEWAY_STORAGE") + "/communities/", this.state.newCommunity)
                    .then(response => {
                        var searchedName = this.state.newCommunity.communityName;
                        let arr = response.data.allComms;

                        // Elem: New created Community
                        let elem = arr.find(x => x.commName === searchedName);
                        console.log(elem);
                        this.$emit('newCommunityCreated', elem.commID);
                    });
            },
            handleKeywordChanged(e) {
                this.state.newCommunity.keywords = e;
            },

        },
    }
</script>

<style scoped>

    .tooltiptext {
        visibility: hidden;
        width: 318px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 5px;
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 20%;
        opacity: 0;
        transition: opacity 1s;
    }

    .rcustom-control-inline .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

    .custom-control-inline:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

</style>