<template>
  <!-- The middle Contents -->
  <div>
    <!-- class="col-lg-9 col-md-9 mb-4 text-center" -->
    <div class="clearfix">
      <GoBackButton></GoBackButton>

      <!-- TO DO: Preview of this contents - the view of students, also for tasks, assignments and challenges -->
      <a class="float-right">
        <button
          v-if="state.editing"
          @click="handlePreviewClicked"
          type="button"
          class="btn btn-small btn-outline-green mt-2"
        >
          {{ $t('editLearningObject.preview') }}<i class="fa fa-forward"></i>>>
        </button>
        <button v-else @click="handleEditClicked" type="button" class="btn btn-small btn-outline-green  mt-2">
          &nbsp;&nbsp;&nbsp;&nbsp;Edit&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-forward"></i>
        </button>
      </a>
    </div>

    <!-- Basic Block -->
    <LearningObjectBasicBlock
      v-show="state.editing"
      :initial-learning-object="state.assignment"
    ></LearningObjectBasicBlock>

    <div v-show="state.editing" class="card mt-3 text-left">
      <div class="card-header card-header-with-border">
        <h6>
          Contents
          <a
            v-if="idOfFirstYoutubeIframe !== ''"
            ref="videoTrigger"
            class="btn btn-circle btn-set-point"
            data-toggle="modal"
            data-target="#modal-add-video-robot-action"
          >
            <img
              src="../../../../img/ICON_ROBOT_circle.png"
              class="clearfix"
              :alt="$t('generalmissionmetadatacard.title_edit_robot_actions')"
            />
          </a>
        </h6>
      </div>
      <div class="card-body">
        <!-- Content Editor -->
        <SummernoteEditor
          ref="contentEditor"
          :html="state.assignment.html"
          @saveHtml="updateHtmlState"
          @youtubeVideoAdded="handleYoutubeVideoAdded"
          @iframesChanged="handleIframesChanged"
        ></SummernoteEditor>
      </div>
    </div>

    <!--
          Add ressources: The resource is like externe learning materials as attachments for the students to download.
        -->
    <!-- Teacher can upload or search from lab in STIMEY and add to task. -->
    <AddResources v-show="state.editing" :mission-id="missionId" :selected-relevance="selectedRelevance">
    </AddResources>

    <!-- ////////////////////////////////// -->
    <!-- ////////////////////////////////// -->
    <!-- //////Modal Windows/////// -->
    <!-- ////////////////////////////////// -->
    <!-- ////////////////////////////////// -->
    <!-- Modal of modal-add-robot-action -->
    <div class="modal fade" id="modal-add-robot-action" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Set Robot Actions</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-green w-25" data-dismiss="modal">Save</button>
            <button type="button" class="btn btn-orange w-25" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <div v-show="!state.editing">
      <div class="card mt-3">
        <div class="card-header card-header-with-border">
          <h6 class="text-left">{{ state.assignment.title }}</h6>
        </div>
        <div class="card-body text-left" v-html="state.assignment.html"></div>
      </div>
    </div>

    <!-- Modal of modal-info-learning-elements -->
    <div class="modal fade" id="modal-info-learning-elements" role="dialog">
      <div class="modal-dialog text-left">
        <!-- Modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Tips about adding learning elements</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <h6>HTMLText</h6>
            <p class="text-message">
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
            </p>

            <h6>Media</h6>
            <p class="text-message">
              You can upload files in 25MB, with formats of .pdf, .ppt, .doc, images with .jpg, .png, audio with .mp3,
              video with .mp4, .avi.
            </p>

            <h6>Embed Object</h6>
            <p class="text-message">
              You can add some externe embed objects, such as Mindmap, Simulation, STIMEYRadio, Youtube or Vimeo videos,
              Codepen etc.
            </p>

            <h6>URL</h6>
            <p class="text-message">You can add url or link from outside platform.</p>
          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-green w-25" data-dismiss="modal">Save</button> -->
            <button type="button" class="btn btn-orange w-25" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <EditVideoRobotActions
      :video-id-to-robotaction-map="state.assignment.videoIdToRobotactionMap"
      @videoRobotActionsChanged="handleVideoRobotActionsChanged"
    >
    </EditVideoRobotActions>
    <!-- ////////////////////////////////// -->
    <!-- ////////////////////////////////// -->
    <!-- //////Modal Windows/////// -->
    <!-- ////////////////////////////////// -->
    <!-- ////////////////////////////////// -->
  </div>
</template>

<script>
import { getLearningObjectsEndpoint } from '../../../../js/global.js';
import { successToast } from '../../common/sweetAlertConfigs.js';
import SummernoteEditor from '../common/SummernoteContentEditor';
import AddResources from './common/AddResources';
import LearningObjectBasicBlock from './common/LearningObjectBasicBlock';
import EditVideoRobotActions from './common/EditVideoRobotActions';
import GoBackButton from './common/GoBackButton';

export default {
  name: 'EditAssignment',
  components: {
    GoBackButton,
    LearningObjectBasicBlock,
    SummernoteEditor,
    AddResources,
    EditVideoRobotActions
  },
  props: {
    learningObjectId: {
      type: String,
      required: true
    },
    missionId: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      state: {
        assignment: {
          type: 'Assignment',
          _id: {
            $oid: ''
          },
          title: '',
          introduction: '',
          reward: { knowledge: 0, social: 0, creativity: 0 },
          isSelfPaced: false,
          startDate: {
            $numberLong: ''
          },
          endDate: {
            $numberLong: ''
          },
          suggestedTime: -1,
          progressiveInquiryModelPhase: -1,
          teachersAdvice: '',
          html: '',
          resources: [],
          videoIdToRobotactionMap: {}
        },
        editing: true
      }
    };
  },
  computed: {
    selectedRelevance() {
      let selectedRelevance = {};
      selectedRelevance[this.state.assignment._id.$oid] = this.state.assignment.title;
      return selectedRelevance;
    },
    robotActionsOfFirstVideo() {
      if (!this.state.assignment.videoIdToRobotactionMap) return '';
      let videoIds = Object.keys(this.state.assignment.videoIdToRobotactionMap);
      if (videoIds.length === 0) return {};
      return this.level.videoIdToRobotactionMap[videoIds[0]];
    },
    idOfFirstYoutubeIframe() {
      let videoIds = Object.keys(this.state.assignment.videoIdToRobotactionMap);
      if (videoIds.length === 0) return '';
      return videoIds[0];
    }
  },
  methods: {
    goBack() {
      this.$router.go(-1);
    },
    updateHtmlState(e) {
      this.state.assignment.html = e;
      this.save().then(() => {
        this.refresh();
      });
    },
    handleYoutubeVideoAdded(e) {
      this.state.assignment.videoIdToRobotactionMap[e] = {};
    },
    handlePreviewClicked() {
      const $summernoteContentEditor = this.$refs.contentEditor;
      this.state.assignment.html = $summernoteContentEditor.getHtml();
      $summernoteContentEditor.closeSummernote();
      this.state.editing = false;
    },
    handleEditClicked() {
      const $summernoteContentEditor = this.$refs.contentEditor;
      $summernoteContentEditor.initSummernote();
      this.state.editing = true;
    },
    handleVideoRobotActionsChanged(e) {
      this.state.assignment.videoIdToRobotactionMap = e;
      this.save();
    },
    handleIframesChanged(e) {
      if (!e) {
        this.state.assignment.videoIdToRobotactionMap = {};
        return;
      }
      let iframeIds = Object.keys(this.state.assignment.videoIdToRobotactionMap);
      let removedIframes = iframeIds.filter(iframe => !e.includes(iframe));
      for (let removedIframe of removedIframes) {
        delete this.state.assignment.videoIdToRobotactionMap[removedIframe];
      }
      this.save().then(() => {
        this.refresh();
      });
    },
    save() {
      return axios
        .post(getLearningObjectsEndpoint('API_GATEWAY_STORAGE') + '/' + this.learningObjectId, this.state.assignment)
        .then(() => {
            this.$swal(successToast(this.$i18n.t('sweetAlert.activitySaved')));
        });
    },
    refresh() {
      return axios
        .get(getLearningObjectsEndpoint('API_GATEWAY_STORAGE') + '/' + this.learningObjectId)
        .then(response => {
          this.state.assignment = response.data;
        });
    }
  },

  created() {
    this.refresh();
  }
};
</script>

<style scoped></style>
