<template>
  <div>
    <!-- TO DO: The effect of "Go Back"  ---- Back to the page where the use in last click was. -->
    <div class="clearfix mb-3">
      <a href="#" class="float-left">
        <button v-if="this.editing" @click="goBack()" type="button" class="btn btn-small btn-outline-green w-100 mt-2">
          <i class="fa fa-backward"></i> Go Back
        </button>
      </a>

      <!-- TO DO: Preview of this contents - the view of students, also for tasks, assignments and challenges -->
      <a class="float-right">
        <button
          v-if="editing"
          @click="handlePreviewClicked"
          type="button"
          class="btn btn-small  btn-outline-green mt-2"
        >
          Preview <i class="fa fa-forward"></i>
        </button>
        <button v-else @click="handleEditClicked" type="button" class="btn btn-small  btn-outline-green  mt-2">
          &nbsp;&nbsp;&nbsp;&nbsp;Edit&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-forward"></i>
        </button>
      </a>
    </div>

    <div v-show="editing" class="card mt-3 text-left">
      <div class="card-header card-header-with-border">
        <h6>
          Basic Block

          <a class="btn btn-circle btn-set-point" data-toggle="modal" data-target="#modal-add-robot-action">
            <img
              src="../../../../img/ICON_ROBOT_circle.png"
              class="clearfix"
              :alt="$t('generalmissionmetadatacard.title_edit_robot_actions')"
            />
          </a>
        </h6>
      </div>
      <!-- In the basic Block: Required is only Task Name. -->
      <div class="card-body">
        <form role="form">
          <!--
                      Task name: If there is already a task name from last step, this name should be shown here, in oder that teachers can change name if they want to.
                    -->
          <div class="form-group p-0">
            <label for="enterMissLevelName"> <h6 class="mb-0">Name</h6> </label> <br />
            <input id="enterMissLevelName" v-model="level.title" type="text" class="form-control" />
          </div>
        </form>
      </div>
    </div>

    <div v-show="editing" class="card mt-3 text-left">
      <div class="card-header card-header-with-border">
        <h6>
          Contents
          <a
            v-if="idOfFirstYoutubeIframe !== ''"
            class="btn btn-circle btn-set-point"
            data-toggle="modal"
            data-target="#modal-add-video-robot-action"
          >
            <img
              src="../../../../img/ICON_ROBOT_circle.png"
              class="clearfix"
              :alt="$t('generalmissionmetadatacard.title_edit_robot_actions')"
            />
          </a>
        </h6>
      </div>
      <!-- In the basic Block: Required is only Task Name. -->
      <div class="card-body">
        <SummernoteEditor
          ref="contentEditor"
          :html="level.html"
          @saveHtml="updateHtmlState"
          @youtubeVideoAdded="handleYoutubeVideoAdded"
          @iframesChanged="handleIframesChanged"
        ></SummernoteEditor>
      </div>
    </div>

    <div v-show="!editing">
      <div class="card mt-3">
        <div class="card-header card-header-with-border">
          <h6 class="text-left">{{ level.title }}</h6>
        </div>
        <div class="card-body text-left" v-html="level.html"></div>
      </div>
    </div>

    <EditRobotActions
      :robot-actions="level.robotActions"
      v-on:robotActionsChanged="handleRobotActionsChanged"
    ></EditRobotActions>

    <EditVideoRobotActions
      :video-id-to-robotaction-map="level.videoIdToRobotactionMap"
      @videoRobotActionsChanged="handleVideoRobotActionsChanged"
    >
    </EditVideoRobotActions>
  </div>
</template>

<script>
import SummernoteEditor from '../common/SummernoteContentEditor';
import { getMissionsEndpoint } from '../../../../js/global.js';
import { successToast } from '../../common/sweetAlertConfigs.js';
import EditRobotActions from './common/EditRobotActions';
import EditVideoRobotActions from './common/EditVideoRobotActions';

export default {
  name: 'EditLevel',
  components: {
    EditVideoRobotActions,
    EditRobotActions,
    SummernoteEditor
  },
  props: {
    missionId: {
      type: String,
      required: true
    },
    levelIndex: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      level: {
        robotActions: {},
        videoIdToRobotactionMap: {}
      },
      editing: true
    };
  },
  computed: {
    robotActionsOfFirstVideo() {
      let videoIds = Object.keys(this.level.videoIdToRobotactionMap);
      if (videoIds.length === 0) return {};
      return this.level.videoIdToRobotactionMap[videoIds[0]];
    },
    idOfFirstYoutubeIframe() {
      let videoIds = Object.keys(this.level.videoIdToRobotactionMap);
      if (videoIds.length === 0) return '';
      return videoIds[0];
    }
  },
  created() {
    this.refresh();
  },
  methods: {
    goBack() {
      this.$router.go(-1);
    },
    updateHtmlState(e) {
      this.level.html = e;
      this.save().then(() => {
        this.refresh();
      });
    },
    handleYoutubeVideoAdded(e) {
      this.level.videoIdToRobotactionMap[e] = {};
    },
    handleVideoRobotActionsChanged(e) {
      this.level.videoIdToRobotactionMap = e;
      this.save();
    },
    handleIframesChanged(e) {
      if (!e) {
        this.level.videoIdToRobotactionMap = {};
        return;
      }
      let iframeIds = Object.keys(this.level.videoIdToRobotactionMap);
      let removedIframes = iframeIds.filter(iframe => !e.includes(iframe));
      for (let removedIframe of removedIframes) {
        delete this.level.videoIdToRobotactionMap[removedIframe];
      }
      this.save().then(() => {
        this.refresh();
      });
    },
    save() {
      return axios
        .post(`${getMissionsEndpoint('API_GATEWAY_STORAGE')}/${this.missionId}/levels/${this.levelIndex}`, this.level)
        .then(() => {
          this.$swal(successToast(this.$t('sweetAlert.levelSaved')));
        });
    },
    refresh() {
      return axios
        .get(`${getMissionsEndpoint('API_GATEWAY_STORAGE')}/${this.missionId}/levels/${this.levelIndex}`)
        .then(response => {
          this.level = response.data;
        });
    },
    handlePreviewClicked() {
      const $summernoteContentEditor = this.$refs.contentEditor;
      this.level.html = $summernoteContentEditor.getHtml();
      $summernoteContentEditor.closeSummernote();
      this.editing = false;
    },
    handleEditClicked() {
      const $summernoteContentEditor = this.$refs.contentEditor;
      $summernoteContentEditor.initSummernote();
      this.editing = true;
    },
    handleRobotActionsChanged(e) {
      this.level.robotActions = e;
      this.save();
    }
  }
};
</script>

<style scoped></style>
