<template>
  <div>
    <div class="clearfix">
      <GoBackButton></GoBackButton>

      <!-- TO DO: Preview of this contents - the view of students, also for tasks, assignments and challenges -->
      <a href="#" class="float-right">
        <button type="button" class="btn btn-small  btn-outline-green w-100 mt-2">
          Preview <i class="fa fa-forward"></i>
        </button>
      </a>

      <!-- <button -->
      <!-- disabled -->
      <!-- type="button" -->
      <!-- id="ShowLevelOverlay" -->
      <!-- class="btn btn-small btn-outline-orange mt-2 float-right" -->
      <!-- data-dismiss="modal" -->
      <!-- &gt; -->
      <!-- <i class="fa fa-align-left"></i> Show Levels -->
      <!-- </button> -->
    </div>
    <!-- Basic Block -->
    <div class="card mt-3 text-left">
      <div class="card-header card-header-with-border">
        <h6>
          Basic Block
          <a class="btn btn-circle btn-set-point" data-toggle="modal" data-target="#modal-add-robot-action">
            <img
              src="../../../../img/ICON_ROBOT_circle.png"
              class="clearfix"
              :alt="$t('generalmissionmetadatacard.title_edit_robot_actions')"
            />
          </a>
        </h6>
      </div>
      <!-- In the basic Block: Requiered is only Task Name. -->
      <div class="card-body">
        <form role="form">
          <!--
            Task name: If there is already a task name from last step, this name should be shown here, in oder that teachers can change name if they want to.
          -->
          <div class="form-group p-0">
            <label for="enterMissTaskName"> <h6 class="mb-0">Name</h6> </label> <br />
            <input id="enterMissTaskName" v-model="state.challenge.title" type="text" class="form-control" />
          </div>
          <!-- Learning Advice: use summernote Text. -->
          <div class="form-group p-0">
            <label> <h6 class="mb-0">Description</h6> </label>
            <textarea
              id="formMissTaskAdviceTextarea"
              v-model="state.challenge.introduction"
              class="form-control"
              rows="3"
            ></textarea>
          </div>

          <div class="form-group p-0">
            <label> <h6 class="mb-0">Timer</h6> </label>
            <TimerInput
              :minutes-text="'minutes'"
              :minutes="state.challenge.challengeDuration.minutes"
              v-on:timerValueChanged="handleTimerValueChanged"
            ></TimerInput>
          </div>
        </form>
        <form class="text-right">
          <button @click="saveChallenge" type="button" class="btn btn-green w-25">Save</button>
        </form>
      </div>
    </div>

    <!-- Add learning elements -->
    <div class="card mt-3">
      <div class="card-header card-header-with-border">
        <h6 class="text-left">
          Learning Elements
          <a
            href="#"
            class="btn btn-circle btn-set-point"
            data-toggle="modal"
            data-target="#modal-add-quest"
            title="Add learning elements"
          >
            <img src="../../../../img/BTN-Add-circle.png" class="clearfix" alt="info" />
          </a>
        </h6>
      </div>

      <div class="card-body">
        <!-- For default states. -->
        <!--
          <div class="default-states mb-3">
                      <h5>There is no learning objects now.</h5>
                      <button class="btn btn-green w-50 mb-2" data-toggle="modal" data-target="#modal-add-quest">Add learning objects in challenge.</button>
          </div>
        -->
        <ol class="mission-levels pl-0">
          <li v-for="(question, index) in state.questions" class="mb-5">
            <div class="mission-item mb-2">
              <span class="m-challenges-num"></span>
              <div
                @blur="updateQuestionTitle(index, $event)"
                contenteditable="true"
                class="editable-title m-chall-quest-title"
              >
                {{ question.title }}
              </div>
              <a @click="removeQuestion(question)" class="btn btn-circle ml-1" title="Delete">
                <img src="../../../../img/ICON_Delete-Post.png" alt="delete" class="clearfix w-100" />
              </a>
            </div>
            <div v-if="question.type === 'MultipleChoiceQuestion'" class="mission-item mb-2">
              <!-- Multiple Chice Template -->
              <ul class="list-quest">
                <li v-for="(answer, index) in question.answers">
                  <label class="select-checkbox mb-0">
                    <input type="checkbox" v-model="answer.isCorrect" />
                    <span class="select-checkmark select-quest"></span>
                  </label>
                  <input type="text" v-model="answer.answerText" class="editable-title m-chall-quest" />
                  <a
                    class="btn btn-circle ml-1"
                    data-toggle="collapse"
                    :href="`#collapse${question._id.$oid}${index}`"
                    aria-controls="`collapse${question._id.$oid}${index}`"
                    :title="$t('editChallenge.addExplanationForChoice')"
                  >
                    <img src="../../../../img/BTN-Add-circle.png" alt="add" class="clearfix w-100" />
                  </a>
                  <a @click="removeAnswer(question, index)" class="btn btn-circle ml-1" title="Delete">
                    <img src="../../../../img/ICON_Delete-Post.png" alt="delete" class="clearfix w-100" />
                  </a>
                  <div class="collapse mt-2" :id="`collapse${question._id.$oid}${index}`">
                    <div class="card card-body">
                      <div class="form-group p-0">
                        <textarea
                          v-model="answer.explanation"
                          class="form-control"
                          :placeholder="$t('editChallenge.explanationPlaceholder')"
                          rows="3"
                        ></textarea>
                        <small> {{ $t('editChallenge.tip') }}</small>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="mt-3">
                  <div class="mission-add-quest-ch">
                    <a>
                      <span @click="addDistractor(question)" class="text-uppercase">Add More Question Choices</span>
                    </a>
                  </div>
                </li>
                <li style="width: 98%;">
                  <hr />
                  <div class="form-group p-0">
                    <label>
                      <h6 class="mb-0">{{ $t('editChallenge.addHints') }}</h6>
                    </label>
                    <textarea
                      v-model="question.hint"
                      class="form-control"
                      :placeholder="$t('editChallenge.hintPlaceholder')"
                      rows="3"
                    ></textarea>
                  </div>
                </li>
                <li class="text-right">
                  <button @click="saveQuestion(question)" type="button" class="btn btn-green w-25">Save</button>
                </li>
              </ul>
            </div>

            <div v-else-if="question.type === 'OneChoiceQuestion'" class="mission-item mb-2">
              <ul class="list-quest">
                <li v-for="(answer, index) in question.answers">
                  <div class="custom-control custom-radio custom-control-inline" style="margin-right: 0.5rem;">
                    <input
                      :id="`${question._id.$oid}${index}`"
                      :name="`oneChoice${question._id.$oid}`"
                      class="custom-control-input"
                      type="radio"
                      :checked="answer.isCorrect"
                      @change="handleOneChoiceQuestionRadioChecked(question, index)"
                      v-bind:value="true"
                    />
                    <label class="custom-control-label mb-0" :for="`${question._id.$oid}${index}`"></label>
                  </div>

                  <input type="text" v-model="answer.answerText" class="editable-title m-chall-quest-btnradio" />

                  <a
                    class="btn btn-circle ml-1"
                    data-toggle="collapse"
                    :href="`#collapse${question._id.$oid}${index}`"
                    aria-controls="`collapse${question._id.$oid}${index}`"
                    :title="$t('editChallenge.addExplanationForChoice')"
                  >
                    <img src="../../../../img/BTN-Add-circle.png" alt="add" class="clearfix w-100" />
                  </a>

                  <a @click="removeAnswer(question, index)" class="btn btn-circle ml-1" title="Delete">
                    <img src="../../../../img/ICON_Delete-Post.png" alt="delete" class="clearfix w-100" />
                  </a>

                  <div class="collapse mt-2" :id="`collapse${question._id.$oid}${index}`">
                    <div class="card card-body">
                      <div class="form-group p-0">
                        <textarea
                          v-model="answer.explanation"
                          class="form-control"
                          :placeholder="$t('editChallenge.explanationPlaceholder')"
                          rows="3"
                        ></textarea>
                        <small>{{ $t('editChallenge.tip') }}</small>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="mt-3">
                  <div class="mission-add-quest-ch">
                    <a>
                      <span @click="addDistractor(question)" class="text-uppercase">Add More Question Choices</span>
                    </a>
                  </div>
                </li>
                <li style="width: 98%;">
                  <hr />
                  <div class="form-group p-0">
                    <label>
                      <h6 class="mb-0">{{ $t('editChallenge.addHints') }}</h6>
                    </label>
                    <textarea
                      v-model="question.hint"
                      class="form-control"
                      :placeholder="$t('editChallenge.hintPlaceholder')"
                      rows="3"
                    ></textarea>
                  </div>
                </li>
                <li class="text-right">
                  <button @click="saveQuestion(question)" type="button" class="btn btn-green w-25">Save</button>
                </li>
              </ul>
            </div>

            <div v-else class="mission-item mb-2">
              <!-- True and False Template -->
              <ul class="list-quest">
                <li class="ml-3">
                  <div class="form-group form-inline">
                    <div class="custom-control custom-radio custom-control-inline">
                      <input
                        type="radio"
                        :id="'radio' + index + 0"
                        v-model="question.answer.isCorrect"
                        class="custom-control-input"
                        v-bind:value="true"
                      />
                      <label :for="'radio' + index + 0" class="custom-control-label">
                        <h6 class="ml-2">True</h6>
                      </label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline ml-4">
                      <input
                        type="radio"
                        :id="'radio' + index + 1"
                        v-model="question.answer.isCorrect"
                        class="custom-control-input"
                        v-bind:value="false"
                      />
                      <label :for="'radio' + index + 1" class="custom-control-label">
                        <h6 class="ml-2">False</h6>
                      </label>
                    </div>
                  </div>
                </li>
                <small>{{ $t('editChallenge.tip') }}</small>
                <li style="width: 98%;">
                  <div class="form-group p-0">
                    <label>
                      <h6 class="mb-0">{{ $t('editChallenge.addExplanation') }}</h6>
                    </label>
                    <textarea
                      v-model="question.answer.explanation"
                      class="form-control"
                      :placeholder="$t('editChallenge.explanationPlaceholder')"
                      rows="3"
                    ></textarea>
                  </div>
                </li>
                <li style="width: 98%;">
                  <hr />
                  <div class="form-group p-0">
                    <label>
                      <h6 class="mb-0">{{ $t('editChallenge.addHints') }}</h6>
                    </label>
                    <!-- for="formMissTaskIntr" -->
                    <textarea
                      v-model="question.hint"
                      class="form-control"
                      :placeholder="$t('editChallenge.hintPlaceholder')"
                      rows="3"
                    ></textarea>
                  </div>
                </li>
                <li class="text-right">
                  <button @click="saveQuestion(question)" type="button" class="btn btn-green w-25">Save</button>
                </li>
              </ul>
            </div>
          </li>
        </ol>
      </div>
    </div>

    <!-- ////////////////////////////////// -->
    <!-- ////////////////////////////////// -->
    <!-- //////Modal Windows/////// -->
    <!-- ////////////////////////////////// -->
    <!-- ////////////////////////////////// -->
    <!-- Modal of modal-add-quest -->
    <div class="modal fade" id="modal-add-quest" role="dialog">
      <div class="modal-dialog text-left">
        <!-- Modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add new learning elements</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <div class="custom-control custom-radio">
                  <input
                    type="radio"
                    id="multipleChoiceQuestion"
                    class="custom-control-input"
                    name="customRadio"
                    v-model="state.questionToAdd"
                    value="MultipleChoiceQuestion"
                  />
                  <label class="custom-control-label" for="multipleChoiceQuestion">
                    <h6 class="ml-2">Multiple Choice Question</h6>
                  </label>
                </div>
                <small>
                  Multiple choice questions are composed of one question (stem) with multiple possible answers
                  (choices), including the correct answer and several incorrect answers (distractors)
                </small>
              </div>
              <div class="form-group">
                <div class="custom-control custom-radio">
                  <input
                    type="radio"
                    id="TrueFalseQuestion"
                    class="custom-control-input"
                    name="customRadio"
                    v-model="state.questionToAdd"
                    value="TrueFalseQuestion"
                  />
                  <label class="custom-control-label" for="TrueFalseQuestion">
                    <h6 class="ml-2">True or False Question</h6>
                  </label>
                </div>
                <small>A statement that has an automatic true or false answer options</small>
              </div>
              <div class="form-group">
                <div class="custom-control custom-radio">
                  <input
                    type="radio"
                    id="OneChoiceQuestion"
                    class="custom-control-input"
                    name="customRadio"
                    v-model="state.questionToAdd"
                    value="OneChoiceQuestion"
                  />
                  <label class="custom-control-label" for="OneChoiceQuestion">
                    <h6 class="ml-2">One Choice Question</h6>
                  </label>
                </div>
                <small
                  >One choice questions are composed of one question (stem) with one possible answers (choices),
                  including the correct answer and several incorrect answers (distractors)</small
                >
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              @click="handleAddQuestionButtonClicked"
              type="button"
              class="btn btn-green w-25"
              data-dismiss="modal"
            >
              Add
            </button>
            <button type="button" class="btn btn-orange w-25" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <EditRobotActions
      :robot-actions="state.challenge.robotActions"
      v-on:robotActionsChanged="handleRobotActionsChanged"
    ></EditRobotActions>
  </div>
</template>

<script>
import TimerInput from './common/TimerInput';
import EditRobotActions from './common/EditRobotActions';
import { getLearningObjectsEndpoint } from '../../../../js/global.js';
import { successToast, confirmDeleteConfig } from '../../common/sweetAlertConfigs.js';
import GoBackButton from './common/GoBackButton';

export default {
  name: 'EditChallenge',
  components: { GoBackButton, TimerInput, EditRobotActions },
  props: {
    learningObjectId: String
  },
  data() {
    return {
      state: {
        challenge: {
          title: '',
          introduction: '',
          challengeDuration: {
            minutes: 0,
            seconds: 0
          },
          robotActions: {}
        },
        questions: [],
        questionToAdd: 'MultipleChoiceQuestion'
      }
    };
  },
  created() {
    axios.get(getLearningObjectsEndpoint('API_GATEWAY_STORAGE') + '/' + this.learningObjectId).then(response => {
      this.state.challenge = response.data;
      let params = {
        id: this.state.challenge.learningObjectIds
      };
      axios.get(getLearningObjectsEndpoint('API_GATEWAY_STORAGE') + '?' + $.param(params)).then(response => {
        if (response.data.learningObjects.length === 0) {
          this.addQuestion('OneChoiceQuestion');
          this.addQuestion('TrueFalseQuestion');
          this.addQuestion('MultipleChoiceQuestion');
        } else {
          this.state.questions = response.data.learningObjects;
        }
      });
    });
  },
  methods: {
    handleRobotActionsChanged(e) {
      this.state.challenge.robotActions = e;
      this.saveChallenge();
    },
    handleTimerValueChanged(e) {
      this.state.challenge.challengeDuration.minutes = e.minutes;
      this.state.challenge.challengeDuration.seconds = e.seconds;
    },
    goBack() {
      this.$router.go(-1);
    },
    addQuestion(questionTypeToAdd) {
      let postData = {};
      postData.type = questionTypeToAdd;
      postData.selfPaced = true;
      axios
        .post(getLearningObjectsEndpoint('API_GATEWAY_STORAGE'), postData)
        .then(response => {
          let learningObjectTemplate = response.data;
          learningObjectTemplate.progressiveInquiryModelPhase = this.state.challenge.progressiveInquiryModelPhase;
          learningObjectTemplate.isSelfPaced = this.state.challenge.isSelfPaced;
          this.state.questions.push(learningObjectTemplate);
          this.state.challenge.learningObjectIds.push(learningObjectTemplate._id.$oid);
        })
        .then(() => {
          this.saveChallenge();
        });
    },
    handleAddQuestionButtonClicked() {
      this.addQuestion(this.state.questionToAdd);
    },
    handleOneChoiceQuestionRadioChecked(question, index) {
      for (let i = 0; i < question.answers.length; i++) {
        question.answers[i].isCorrect = false;
      }
      question.answers[index].isCorrect = true;
    },
    saveChallenge() {
      axios
        .post(
          getLearningObjectsEndpoint('API_GATEWAY_STORAGE') + '/' + this.state.challenge._id.$oid,
          this.state.challenge
        )
        .then(() => {
          this.$swal(successToast(this.$t('sweetAlert.challengeSaved')));
        });
    },
    addDistractor(question) {
      let answer = {};
      answer.answerText = 'Click to edit.';
      answer.explanation = null;
      answer.isCorrect = false;
      question.answers.push(answer);
    },
    removeAnswer(question, index) {
      this.$swal(
        confirmDeleteConfig(
          this.$t('sweetAlert.deleteModalTitle'),
          this.$t('sweetAlert.confirmText'),
          this.$t('sweetAlert.cancelText')
        )
      ).then(result => {
        if (result.value) {
          question.answers.splice(index, 1);
          this.saveQuestion(question);
        }
      });
    },
    removeQuestion(question) {
      this.$swal(
        confirmDeleteConfig(
          this.$t('sweetAlert.deleteModalTitle'),
          this.$t('sweetAlert.confirmText'),
          this.$t('sweetAlert.cancelText')
        )
      ).then(result => {
        if (result.value) {
          let indexOfQuestion = this.state.questions.indexOf(question);
          this.state.questions.splice(indexOfQuestion, 1);
          let idOfQuestion = question._id.$oid;
          indexOfQuestion = this.state.challenge.learningObjectIds.indexOf(idOfQuestion);
          this.state.challenge.learningObjectIds.splice(indexOfQuestion, 1);
          this.saveChallenge();
        }
      });
    },
    saveQuestion(question) {
      axios.post(getLearningObjectsEndpoint('API_GATEWAY_STORAGE') + '/' + question._id.$oid, question).then(() => {
        this.$swal(successToast(this.$t('sweetAlert.challengeSaved')));
      });
    },
    updateQuestionTitle(index, event) {
      let question = this.state.questions[index];
      question.title = event.target.innerText;
      this.state.questions[index] = question;
    }
  }
};
</script>

<style scoped>
@import url('../../../../css/main.css');
@import url('../../../../css/courses.css');
</style>
