<template>
  <div>
    <!-- The middle Contents -->
    <!-- Cover and basic information -->
    <GeneralMissionMetadataCard
      :mission-id="this.missionId"
      :editable="true"
      :general-metadata="mission.missionMetadata.generalMetadata"
      :educational-metadata="mission.missionMetadata.educationalMetadata"
      :robot-actions="mission.robotActions"
      :students="mission.students"
      v-on:robotActionsChanged="handleRobotActionsChanged"
    >
      <a slot="button1">
        <button @click="save" type="button" class="btn btn-orange w-50 mr-2">
          {{ $t('generalmissionmetadatacard.update') }}
        </button>
      </a>
    </GeneralMissionMetadataCard>

    <!-- Sub tabs -->
    <div class="card mt-3">
      <div class="card-header pl-0 pr-0 pb-0">
        <ul class="nav nav-tabs nav-fill" role="tablist">
          <li class="nav-item">
            <a
              @click="changeRoute(0)"
              class="nav-link-s active"
              id="Missions-info-tab"
              data-toggle="tab"
              href="#Missions-info"
              role="tab"
              data-controls="Missions-info"
              aria-selected="false"
            >
              <h6>{{ $t('missionOverview.informations') }}</h6>
            </a>
          </li>
          <li class="nav-item">
            <a
              @click="changeRoute(1)"
              class="nav-link-s"
              id="Missions-levels-tab"
              data-toggle="tab"
              href="#Missions-levels"
              role="tab"
              data-controls="Missions-levels"
              aria-selected="false"
            >
              <h6>{{ $t('missionOverview.levels') }}</h6>
            </a>
          </li>
          <li class="nav-item">
            <a
              @click="changeRoute(2)"
              class="nav-link-s"
              id="Missions-discussion-tab"
              data-toggle="tab"
              href="#Missions-discussion"
              role="tab"
              data-controls="Missions-discussion"
              aria-selected="false"
            >
              <h6>{{ $t('missionOverview.discussions') }}</h6>
            </a>
          </li>
          <li class="nav-item">
            <a
              @click="changeRoute(3)"
              class="nav-link-s"
              id="Missions-resources-tab"
              data-toggle="tab"
              href="#Missions-resources"
              role="tab"
              data-controls="Missions-resources"
              aria-selected="false"
            >
              <h6>{{ $t('missionOverview.resources') }}</h6>
            </a>
          </li>
          <li class="nav-item">
            <a
              @click="changeRoute(4)"
              class="nav-link-s"
              id="Missions-community-tab"
              data-toggle="tab"
              href="#Missions-community"
              role="tab"
              data-controls="Missions-community"
              aria-selected="false"
            >
              <h6>{{ $t('missionOverview.communities') }}</h6>
            </a>
          </li>
          <li class="nav-item">
            <a
              @click="changeRoute(5)"
              class="nav-link-s"
              id="Missions-students-results-tab"
              data-toggle="tab"
              href="#Missions-students-results"
              role="tab"
              data-controls="Missions-students-results"
              aria-selected="false"
            >
              <h6>Results</h6>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Content of sub tabs -->
    <div class="tab-content mt-3">
      <!-- Tab of informations -->
      <div class="tab-pane fade show active" id="Missions-info" role="tabpanel" aria-labelledby="Missions-info-tab">
        <!-- Mission Description -->
        <SummernoteTextEditor
          :id="'missionDescription'"
          :card-title="'Mission Description'"
          v-on:saved="save"
          v-on:editing="handleDescriptionEditing"
          ref="description"
        ></SummernoteTextEditor>

        <!-- Mission Objectives -->
        <SummernoteTextEditor
          :id="'missionObjectives'"
          :card-title="'Mission Objectives'"
          v-on:saved="save"
          v-on:editing="handleObjectivesEditing"
          ref="objectives"
        ></SummernoteTextEditor>

        <!-- Mission Requirements -->
        <SummernoteTextEditor
          :id="'missionRequirements'"
          :card-title="'Mission Requirements'"
          v-on:saved="save"
          v-on:editing="handleRequirementsEditing"
          ref="requirements"
        ></SummernoteTextEditor>

        <!-- Mission Result -->
        <SummernoteTextEditor
          :id="'missionResult'"
          :card-title="'Mission Result'"
          v-on:saved="save"
          v-on:editing="handleResultEditing"
          ref="result"
        ></SummernoteTextEditor>

        <!-- Mission rewards -->
        <div class="card mt-3">
          <div class="card-header card-header-with-border">
            <h6 class="text-left">{{ $t('missionOverview.evaluation_rewards') }}</h6>
          </div>
          <div class="card-body text-left">
            <p>{{ $t('missionOverview.evaluation_rewards') }}</p>
            <div class="table-responsive pl-2 pr-2 mb-3">
              <table class="table table-hover text-center">
                <thead>
                  <tr>
                    <th>{{ $t('missionOverview.rewards') }}</th>
                    <th>
                      <img src="../../../../img/ICONS-Knowledge-Points-Yellow-White-circle.png" style="width: 38%;" />
                    </th>
                    <th><img src="../../../../img/ICONS-Social-Points-Blue-White-circle.png" style="width: 38%;" /></th>
                    <th>
                      <img src="../../../../img/ICONS-Creativity-Points-Red-White-circle.png" style="width: 38%;" />
                    </th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="mission-states mission-states-title"><span>Brief completion</span></td>
                    <td class="mission-states"><p>100</p></td>
                    <td class="mission-states"><p>0</p></td>
                    <td class="mission-states"><p>0</p></td>
                    <td>TODO: make dynamic based on mission</td>
                  </tr>
                  <tr>
                    <td class="mission-states mission-states-title"><span>Activity completion</span></td>
                    <td class="mission-states"><p>50</p></td>
                    <td class="mission-states"><p>50</p></td>
                    <td class="mission-states"><p>50</p></td>
                    <td>TODO: make dynamic based on mission</td>
                  </tr>
                  <tr>
                    <td class="mission-states mission-states-title"><span>Challenge completion</span></td>
                    <td class="mission-states"><p>200</p></td>
                    <td class="mission-states"><p>0</p></td>
                    <td class="mission-states"><p>0</p></td>
                    <td>TODO: make dynamic based on mission</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- Tab of mission levels -->
      <div class="tab-pane fade" id="Missions-levels" role="tabpanel" aria-labelledby="Missions-levels-tab">
        <!-- Add Mission Levels -->
        <MissionLevelsEditable
          v-on:levelsChanged="this.handleLevelsChanged"
          :progressive-inquiry-model="
            mission.missionMetadata.educationalMetadata.template === 'PROGRESSIVE_INQUIRY_MODEL'
          "
          :self-paced="mission.missionMetadata.educationalMetadata.isSelfPaced"
          :levels="mission.levels"
          :mission-id="this.missionId"
        ></MissionLevelsEditable>
      </div>

      <!-- Tab of mission Discussion -->
      <div class="tab-pane fade" id="Missions-discussion" role="tabpanel" aria-labelledby="Missions-discussion-tab">
        <div class="card">
          <div class="card-header card-header-with-border">
            <button
              class="btn btn-link"
              type="button"
              data-toggle="collapse"
              data-target="#createDiscussion"
              aria-expanded="true"
              aria-controls="createDiscussion"
            >
              <h6 class="text-left">{{ $t('missionViewContent.create_discussion') }}</h6>
            </button>
          </div>
          <div id="createDiscussion" class="card-body collapse">
            <form role="form" class="text-left mt-3">
              <div class="form-group row">
                <label for="inputMDisTitle" class="col-sm-2 col-form-label">
                  <h6 class="mb-0">{{ $t('missionOverview.title') }}</h6>
                </label>
                <div class="col-sm-10">
                  <input
                    type="text"
                    v-model="discussionToCreate.title"
                    class="form-control"
                    id="inputMDisTitle"
                    placeholder="Title"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label for="formMDisTipicSelect" class="col-sm-2 col-form-label">
                  <h6 class="mb-0">{{ $t('missionOverview.topic') }}</h6>
                </label>
                <div class="col-sm-10">
                  <select class="form-control" id="formMDisTipicSelect" v-model="discussionToCreate.learningObject">
                    <option v-for="learningObject in learningObjects" :value="learningObject"
                      >{{ learningObject.title }}
                    </option>
                  </select>
                </div>
              </div>
              <!-- 1. In the contents, user can only post text. NO images, NO files. -->
              <SummernoteContentEditor
                :html="statusUpdateContent"
                v-on:saveHtml="createDiscussion"
              ></SummernoteContentEditor>
            </form>
          </div>
        </div>

        <div class="card mt-3">
          <div class="card-header card-header-with-border">
            <h6 class="d-inline-block float-left">{{ $t('missionOverview.discussions') }}</h6>
          </div>
          <div class="card-body">
            <div v-for="discussion in discussions">
              <ViewStatusUpdate
                      :moderators="moderators"
                :title="discussion.title"
                :topic="discussion.topic"
                :status-update-id="discussion.statusUpdateId"
                :status-update-obj="getStatusUpdateById(discussion.statusUpdateId)"
                v-on:deleted="handleStatusUpdateDeleted(discussion)"
                v-on:statusUpdateDoesNotExist="handleStatusUpdateDoesNotExist(discussion)"
              ></ViewStatusUpdate>
            </div>
          </div>
        </div>
      </div>

      <!-- Tab of mission resources -->
      <!-- 1. Teacher can upload resources and add to lab -->
      <!-- 2. They can choose from the levels, where to put this file. -->
      <!-- 3. They can only upload one file for once -->
      <!--
        4. They can upload file with pdf, ppt, doc..., and images with jpg, png, jpeg, and videos with aiv, mp4.., and zip, rar, and url.
      -->
      <div class="tab-pane fade" id="Missions-resources" role="tabpanel" aria-labelledby="Missions-resources-tab">
        <AddResources :mission-id="missionId" :selected-relevance="selectedRelevance"></AddResources>
      </div>

      <!-- Tab of community -->
      <div class="tab-pane fade" id="Missions-community" role="tabpanel" aria-labelledby="Missions-community-tab">
        <div class="card">
          <MissionCommunities ref="missionCommunities" :mission-i-d="this.missionId"></MissionCommunities>
        </div>
      </div>

      <!-- Tab of students results -->
      <div
        class="tab-pane fade"
        id="Missions-students-results"
        role="tabpanel"
        aria-labelledby="Missions-students-results-tab"
      >
        <div class="card">
          <MissionStudentsResults :mission-id="this.missionId"></MissionStudentsResults>
        </div>
      </div>
    </div>

    <CreateCommunityModal
      v-on:newCommunityCreated="handleNewCommunityCreated"
      :mission-i-d="this.missionId"
    ></CreateCommunityModal>
  </div>
</template>

<script>
import {
  getMissionApiUrl,
  getMissionsEndpoint,
  getLearningObjectsEndpoint,
  getStatusUpdateApiUrl,
  getDiscussionsEndpoint
} from '../../../../js/global.js';
import { successToast } from '../../common/sweetAlertConfigs.js';
import GeneralMissionMetadataCard from '../common/GeneralMissionMetadataCard';
import SummernoteTextEditor from '../common/SummernoteTextEditor';
import SummernoteContentEditor from '../common/SummernoteContentEditor';
import MissionLevelsEditable from './MissionLevelsEditable';
import ViewStatusUpdate from '../../common/statusupdate/ViewStatusUpdate';
import AddResources from './common/AddResources';
import MissionCommunities from '../common/MissionCommunities';
import MissionStudentsResults from './MissionStudentsResults';
import CreateCommunityModal from '../common/CreateCommunityModal';

export default {
  name: 'MissionEditingAfterPublishing',
  components: {
    GeneralMissionMetadataCard,
    SummernoteTextEditor,
    MissionLevelsEditable,
    SummernoteContentEditor,
    ViewStatusUpdate,
    AddResources,
    MissionCommunities,
    MissionStudentsResults,
    CreateCommunityModal
  },
  props: {
    missionId: {
      type: String,
      required: true
    }
  },
  data() {
    return {
        moderators: [],
      mission: {
        missionMetadata: {
          generalMetadata: {},
          educationalMetadata: {},
          informationAboutMission: {}
        },
        levels: []
      },
      learningObjects: [],
      resources: [],
      resourceIds: [],
      discussions: [],
      statusUpdates: [],
      discussionToCreate: {
        title: 'Type in title',
        learningObject: {},
        statusUpdateId: ''
      },
      statusUpdateContent: ''
    };
  },
  computed: {
    selectedRelevance() {
      let selectedRelevance = {};
      selectedRelevance[this.missionId] = 'General';
      return selectedRelevance;
    }
  },
  methods: {
    changeRoute(tabIndex) {
      this.$router.push({ path: `/missions/${this.missionId}/editAfterPublish`, query: { active: tabIndex } });
    },
    fetchMission() {
      return axios.get(`${getMissionsEndpoint('API_GATEWAY_STORAGE')}/${this.missionId}`);
    },
    fetchLearningObjects() {
      return this.fetchMission().then(response => {
        this.mission = response.data;
        //fetch learning objects
        let learningObjectIds = this.mission.levels
          .map(level => level.learningObjectIds)
          .reduce((acc, val) => acc.concat(val), []);
        let params = {
          id: learningObjectIds
        };
        axios.get(getLearningObjectsEndpoint('API_GATEWAY_STORAGE') + '?' + $.param(params)).then(response => {
          this.learningObjects = response.data.learningObjects;
          this.discussionToCreate.learningObject = this.learningObjects[0];
        });
      });
    },
    fetchDiscussions() {
      return axios.get(`${getMissionsEndpoint('API_GATEWAY_STORAGE')}/${this.missionId}/discussions`).then(response => {
        if (response.status === 204) return;
        this.discussions = response.data.discussions;
        this.statusUpdates = JSON.parse(response.data.statusUpdates);
      });
    },

    handleRobotActionsChanged(e) {
      this.mission.robotActions = e;
      this.save();
    },

    save() {
      this.saveMissionData().then(() => {
        this.$swal(this.successToast('Mission saved'));
      });
    },
    saveMissionData() {
      this.$refs.description.closeSummernote();
      this.$refs.objectives.closeSummernote();
      this.$refs.requirements.closeSummernote();
      this.$refs.result.closeSummernote();

      let saveData = JSON.parse(JSON.stringify(this.mission));
      //Reminder authorIf was replaced with authorName
      //Here we must replace authorName with authorId
      saveData.missionMetadata.generalMetadata.author = this.$store.currentUser.userid;
      saveData.missionMetadata.informationAboutMission.description = this.$refs.description.getHtml();
      saveData.missionMetadata.informationAboutMission.objectives = this.$refs.objectives.getHtml();
      saveData.missionMetadata.informationAboutMission.requirements = this.$refs.requirements.getHtml();
      saveData.missionMetadata.informationAboutMission.resultOfMission = this.$refs.result.getHtml();
      return axios.put(`${getMissionApiUrl('API_GATEWAY_STORAGE')}/missions`, saveData);
    },
    handleDescriptionEditing() {
      this.$refs.objectives.closeSummernote();
      this.$refs.requirements.closeSummernote();
      this.$refs.result.closeSummernote();
    },
    handleObjectivesEditing() {
      this.$refs.description.closeSummernote();
      this.$refs.requirements.closeSummernote();
      this.$refs.result.closeSummernote();
    },
    handleRequirementsEditing() {
      this.$refs.description.closeSummernote();
      this.$refs.objectives.closeSummernote();
      this.$refs.result.closeSummernote();
    },
    handleResultEditing() {
      this.$refs.description.closeSummernote();
      this.$refs.objectives.closeSummernote();
      this.$refs.requirements.closeSummernote();
    },
    save() {
      let $this = this;
      this.saveMissionData().then(() => {
        this.$swal(successToast($this.$t('sweetAlert.missionSaved')));
      });
    },

    handleLevelsChanged(e) {
      this.mission.levels = e;
      this.save();
    },
    createDiscussion(e) {
      this.statusUpdateContent = e;
      axios
        .post(`${getStatusUpdateApiUrl('API_GATEWAY_STORAGE')}`, {
          text: this.statusUpdateContent,
          category: 'mission'
        })
        .then(response => {
          this.discussionToCreate.statusUpdateId = response.data.statusUpdateId;
          this.statusUpdateContent = '';
          let postData = {};
          postData.title = this.discussionToCreate.title;
          postData.statusUpdateId = this.discussionToCreate.statusUpdateId;
          postData.topic = this.discussionToCreate.learningObject._id.$oid;
          axios
            .post(
              `${getDiscussionsEndpoint('API_GATEWAY_STORAGE')}/${this.discussionToCreate.learningObject._id.$oid}`,
              postData
            )
            .then(response => {
              this.discussions.push(response.data);
            });
        })
        .catch(err => {
          console.log(err);
        });
    },
    getStatusUpdateById(statusUpdateId) {
      return this.statusUpdates.find(statusUpdate => statusUpdate.statusUpdateId === statusUpdateId);
    },
    handleStatusUpdateDeleted(discussion) {
      axios
        .delete(`${getMissionsEndpoint('API_GATEWAY_STORAGE')}/${this.missionId}/discussions/${discussion._id.$oid}`)
        .then(() => {
          this.fetchDiscussions();
        })
        .catch(err => {
          console.log(err);
        });
    },
    handleStatusUpdateDoesNotExist(discussion) {
      this.handleStatusUpdateDeleted(discussion);
    },
    handleNewCommunityCreated(e) {
      this.$refs.missionCommunities.addCommunity(e);
    }
  },
  created() {
      axios.get(`${getMissionsEndpoint('API_GATEWAY_STORAGE')}/${this.missionId}`).then(
          response => {
              this.moderators = response.data.moderators;
          }
      )
    this.fetchDiscussions();
  },
  mounted() {
    //TODO: autosave every 5min
    this.fetchLearningObjects().then(() => {
      this.$refs.description.setHtml(this.mission.missionMetadata.informationAboutMission.description);
      this.$refs.objectives.setHtml(this.mission.missionMetadata.informationAboutMission.objectives);
      this.$refs.requirements.setHtml(this.mission.missionMetadata.informationAboutMission.requirements);
      this.$refs.result.setHtml(this.mission.missionMetadata.informationAboutMission.resultOfMission);
    });

    let active = parseInt(this.$route.query.active);
    switch (active) {
      case 0: {
        $('#Missions-info-tab').click();
        break;
      }
      case 1: {
        $('#Missions-levels-tab').click();
        break;
      }
      case 2: {
        $('#Missions-discussion-tab').click();
        break;
      }
      case 3: {
        $('#Missions-resources-tab').click();
        break;
      }
      case 4: {
        $('#Missions-community-tab').click();
        break;
      }
      default:
        $('#Missions-info-tab').click();
    }
  },
  updated() {
    console.log(this.mission);
  }
};
</script>

<style scoped>
@import url('../../../../css/main.css');
@import url('../../../../css/courses.css');
</style>
