<template>
  <!-- *************************************** -->
  <!-- missions editing before publishing - Add mission levels  before publishing. -->
  <!-- last file: MissionEditing.vue -->
  <!-- *************************************** -->

  <div>
    <!--
      Mission Levels: 1. Before publish, they can add and eidt the name of levels, tasks, assignments and challenges, and choose the model.
    -->
    <!-- 2. When they want to add the contents, It will take them to other pages (eg. task homepage.) -->
    <!-- 3. Once they publish the mission, it will occur in "Saved mission in Mission overview page". -->
    <!-- 4. Saved mission can be only seen by the user self. -->
    <!--
      5. Mission can be published, only when Description, objectives, requirement, result are filled and at least one level with level name (without contents is ok.)
    -->

    <div class="card mt-3">
      <div class="card-header card-header-with-border">
        <h6 class="text-left">
          Mission Levels
          <!--
          <EditRobotActions :robot-actions="{}" v-on:robotActionsChanged="handleRobotActionsChanged"></EditRobotActions>
          -->
        </h6>
      </div>
      <div class="card-body text-left pl-0 pr-5">
        <!-- Misson levels - category/Chapters -->
        <!--
          As default: we will provide 1 level with a task, an assignment and a challenge, and 1 level with an assignment and 1 level with a challenge.
        -->
        <ol class="mission-levels">
          <li v-for="(level, levelIndex) in this.state.levels" class="mb-4">
            <div class="mission-item">
              <!-- mb-3 -->
              <span class="m-levels-num"></span>
              <div
                @blur="updateLevelTitle(levelIndex, $event)"
                contenteditable="true"
                class="editable-title m-levels-title"
              >
                <!-- mr-1 -->
                {{ level.title }}
              </div>
              <a @click="goToEditLevel(levelIndex)" class="btn btn-circle ml-1" title="Go to add contents.">
                <img src="../../../../img/BTN-Edit-circle.png" alt="add" class="clearfix w-100" />
              </a>
              <!--
                <a @click="prepareProgressiveInquiryModalForLevel(levelIndex)" class="btn btn-circle ml-1"
                   data-toggle="modal" data-target="#modal-add-learning-phases"
                   title="Choose learning phases">
                    <img src="../../../../img/engineering.png" alt="model" class="clearfix w-100">
                </a>
              -->
              <a
                @click="state.currLevelToAddLearningObjects = levelIndex"
                class="btn btn-circle ml-1"
                data-toggle="modal"
                data-target="#modal-add-learning-object"
                title="Add learning objects"
              >
                <img src="../../../../img/BTN-Add-circle.png" alt="add" class="clearfix w-100" />
              </a>
              <a @click="deleteLevel(levelIndex)" class="btn btn-circle ml-1" :title="'Delete' + ' ' + level.title">
                <img src="../../../../img/ICON_Delete-Post.png" alt="delete" class="clearfix w-100" />
              </a>
            </div>

            <!-- Leaning objects under level 01: This is default -->
            <ol class="mission-tasks">
              <li v-for="(learningObjectId, learningObjectIndex) in level.learningObjectIds" class="mb-3">
                <div class="mission-item mb-3">
                  <span v-bind:class="getClassNameOfLevelCounter(learningObjectId)"></span>
                  <div
                    @blur="updateLearningObjectTitle(learningObjectId, $event)"
                    v-bind:class="getClassOfLearningObject(learningObjectId)"
                    class="editable-title mr-1"
                    contenteditable="true"
                  >
                    {{ getTitleOfLearningObject(learningObjectId) }}
                  </div>
                  <a
                    @click="goToEditLearningObject(learningObjectId)"
                    class="btn btn-circle ml-1"
                    title="Go to add contents."
                  >
                    <img src="../../../../img/BTN-Edit-circle.png" alt="add" class="clearfix w-100" />
                  </a>
                  <a
                    @click="deleteLearningObject(levelIndex, learningObjectIndex)"
                    class="btn btn-circle ml-1"
                    title="Delete"
                  >
                    <img src="../../../../img/ICON_Delete-Post.png" alt="delete" class="clearfix w-100" />
                  </a>
                </div>
              </li>
            </ol>
          </li>

          <li class="mb-4">
            <a @click="addLevel">
              <div class="mission-add-level">
                <span>{{ $t('missionLevels.addLevel') }}</span>
              </div>
            </a>
          </li>
        </ol>
      </div>
    </div>

    <!-- Modal of modal-add-learning-object -->
    <div class="modal fade" id="modal-add-learning-object" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ $t('missionLevels.addLearningObject') }}</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body text-left">
            <h6>{{ $t('missionLevels.whatToAdd') }}</h6>
            <form role="form mt-4">
              <div class="form-group">
                <div class="custom-control custom-radio mb-2">
                  <input
                    v-model="state.learningObjectTypeToAdd"
                    type="radio"
                    id="MissionLOTask"
                    class="custom-control-input"
                    name="customRadio"
                    value="Task"
                  />
                  <label class="custom-control-label" for="MissionLOTask">
                    <strong>Task:</strong>
                    <span class="ml-2">{{ $t('missionLevels.taskExplanation') }}</span>
                  </label>
                </div>
                <div class="custom-control custom-radio mb-2">
                  <input
                    v-model="state.learningObjectTypeToAdd"
                    type="radio"
                    id="MissionLOAssign"
                    class="custom-control-input"
                    name="customRadio"
                    value="Assignment"
                  />
                  <label class="custom-control-label" for="MissionLOAssign">
                    <strong>Assignment:</strong>
                    <span class="ml-2">
                      {{ $t('missionLevels.assignmentExplanation') }}
                    </span>
                  </label>
                </div>
                <div class="custom-control custom-radio mb-2">
                  <input
                    v-model="state.learningObjectTypeToAdd"
                    type="radio"
                    id="MissionLOChallenge"
                    class="custom-control-input"
                    name="customRadio"
                    value="Challenge"
                  />
                  <label class="custom-control-label" for="MissionLOChallenge">
                    <strong>Challenge:</strong>
                    <span class="ml-2"> {{ $t('missionLevels.challengeExplanation') }}</span>
                  </label>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button @click="addLearningObject" type="button" class="btn btn-green w-25" data-dismiss="modal">
              Add
            </button>
            <button type="button" class="btn btn-orange w-25" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { getMissionApiUrl, getLearningObjectsEndpoint } from '../../../../js/global.js';
//import EditRobotActions from './common/EditRobotActions';
import { confirmDeleteConfig } from '../../common/sweetAlertConfigs.js';

export default {
  name: 'MissionLevelsEditable',
  components: {
    //EditRobotActions
  },
  data() {
    return {
      state: {
        levels: [],
        learningObjects: [],
        currLevelToAddLearningObjects: -1,
        learningObjectTypeToAdd: 'Task'
      }
    };
  },
  props: {
    levels: {
      type: Array,
      required: true
    },
    progressiveInquiryModel: {
      type: Boolean,
      required: true,
      default: true
    },
    selfPaced: {
      type: Boolean,
      required: true,
      default: true
    },
    missionId: {
      type: String,
      required: true
    }
  },
  watch: {
    levels: {
      handler: function(newValue) {
        this.state.levels = newValue;
        if ($.isArray(this.state.levels) && this.state.learningObjects.length === 0) {
          let learningObjectIds = this.state.levels.map(level => level.learningObjectIds);
          learningObjectIds = learningObjectIds.reduce((acc, val) => acc.concat(val), []);
          let params = {
            id: learningObjectIds
          };
          axios.get(getLearningObjectsEndpoint('API_GATEWAY_STORAGE') + '?' + $.param(params)).then(response => {
            this.state.learningObjects = response.data.learningObjects;
          });
        }
      },
      deep: true
    }
  },
  methods: {
    getLearningObjectById(learningObjectId) {
      if (this.state.learningObjects.length == 0) return null;
      let learningObject = this.state.learningObjects.find(learningObject => {
        return learningObject._id.$oid === learningObjectId;
      });
      return learningObject;
    },
    getTitleOfLearningObject(learningObjectId) {
      let learningObject = this.getLearningObjectById(learningObjectId);
      if (learningObject === null) return '';
      return learningObject.title;
    },
    getClassNameOfLevelCounter(learningObjectId) {
      let learningObject = this.getLearningObjectById(learningObjectId);
      if (learningObject === null) return '';
      switch (learningObject.type) {
        case 'Assignment':
          return 'm-assigns-num';
        case 'Task':
          return 'm-tasks-num';
        case 'Challenge':
          return 'm-challenges-num';
        default:
          return '';
      }
    },
    getClassOfLearningObject(learningObjectId) {
      let learningObject = this.getLearningObjectById(learningObjectId);
      if (learningObject === null) return '';
      switch (learningObject.type) {
        case 'Assignment':
          return 'm-assigns-title';
        case 'Task':
          return 'm-tasks-title';
        case 'Challenge':
          return 'm-challenges-title';
        default:
          return '';
      }
    },
    updateLevelTitle(levelIndex, event) {
      this.state.levels[levelIndex].title = event.target.innerText;
      this.$emit('levelsChanged', this.state.levels);
    },
    updateLearningObjectTitle(learningObjectId, event) {
      let config = {
        headers: {
          'Content-Type': 'text/plain'
        }
      };
      axios.post(
        getLearningObjectsEndpoint('API_GATEWAY_STORAGE') + '/' + learningObjectId + '/title',
        event.target.innerText,
        config
      );
    },
    addLevel() {
      let level = {
        type: 'Level',
        title: 'click to edit title',
        learningObjectIds: []
      };
      this.state.levels.push(level);
      this.$emit('levelsChanged', this.state.levels);
    },
    addLearningObject() {
      let learningObjectsEndpoint = `${getMissionApiUrl('API_GATEWAY_STORAGE')}/learningObjects`;
      let createLearningObjectData = {};
      createLearningObjectData.type = this.state.learningObjectTypeToAdd;
      createLearningObjectData.selfPaced = this.selfPaced;
      axios.post(learningObjectsEndpoint, createLearningObjectData).then(response => {
        this.state.learningObjects.push(response.data);
        this.state.levels[this.state.currLevelToAddLearningObjects].learningObjectIds.push(response.data._id.$oid);
        this.$emit('levelsChanged', this.state.levels);
      });
    },
    deleteLearningObject(levelIndex, learningObjectIndex) {
      let $this = this;
      this.$swal(
        confirmDeleteConfig(
          $this.$t('sweetAlert.deleteModalTitle'),
          $this.$t('sweetAlert.confirmText'),
          $this.$t('sweetAlert.cancelText')
        )
      ).then(result => {
        if (result.value) {
          this.state.levels[levelIndex].learningObjectIds.splice(learningObjectIndex, 1);
          this.$emit('levelsChanged', this.state.levels);
        }
      });
    },
    deleteLevel(levelIndex) {
      let $this = this;
      this.$swal(
        confirmDeleteConfig(
          $this.$t('sweetAlert.deleteModalTitle'),
          $this.$t('sweetAlert.confirmText'),
          $this.$t('sweetAlert.cancelText')
        )
      ).then(result => {
        if (result.value) {
          this.state.levels.splice(levelIndex, 1);
          this.$emit('levelsChanged', this.state.levels);
        }
      });
    },
    goToEditLearningObject(learningObjectId) {
      let learningObject = this.getLearningObjectById(learningObjectId);
      let learningObjectType = learningObject.type;
      let url;
      switch (learningObjectType) {
        case 'Task':
          url = `/missions/${this.missionId}/learningObjects/tasks/${learningObjectId}/edit`;
          break;
        case 'Assignment':
          url = `/missions/${this.missionId}/learningObjects/assignments/${learningObjectId}/edit`;
          break;
        case 'Challenge':
          url = `/missions/${this.missionId}/learningObjects/challenges/${learningObjectId}/edit`;
          break;
      }
      this.$router.push(url);
    },
    goToEditLevel(levelIndex) {
      this.$router.push('/missions/' + this.missionId + '/levels/' + levelIndex + '/edit');
    }
  },
  updated() {
    console.log(this.state);
  }
};
</script>

<style scoped></style>
