<template>
  <!-- *************************************** -->
  <!-- missions editing before publishing - Mission Basic Infos editing before publishing. -->
  <!-- last file: GeneralMissionMetadataCard.vue -->
  <!-- *************************************** -->

  <div>
    <!-- Mission basic information: name, keywords etc. -->
    <GeneralMissionMetadataCard
      :mission-id="this.missionId"
      :general-metadata="mission.missionMetadata.generalMetadata"
      :educational-metadata="mission.missionMetadata.educationalMetadata"
      :editable="true"
      :robot-actions="mission.robotActions"
      :students="mission.students"
      v-on:createMissionModalSubmitted="handleCreateMissionModalSubmitted"
      v-on:robotActionsChanged="handleRobotActionsChanged"
    >
      <a slot="button1">
        <button @click="this.save" type="button" class="btn btn-orange w-25 mr-2">
          {{ $t('generalmissionmetadatacard.save') }}
        </button>
      </a>
      <a slot="button2">
        <button @click="this.publish" type="button" class="btn btn-green w-25 mr-2">
          {{ $t('generalmissionmetadatacard.publish') }}
        </button>
      </a>
    </GeneralMissionMetadataCard>
    <!--
      These sections (Description, objectives, requirement, result) hould be automaticlly saved e.g every 5 minutes. Because they might include long text.
    -->
    <!-- Mission Description -->
    <SummernoteTextEditor
      :id="'missionDescription'"
      :card-title="$t('missionOverview.description')"
      v-on:saved="save()"
      v-on:editing="handleDescriptionEditing"
      ref="description"
    ></SummernoteTextEditor>

    <!-- Mission Objectives -->
    <SummernoteTextEditor
      :id="'missionObjectives'"
      :card-title="$t('missionOverview.objectives')"
      v-on:saved="save()"
      v-on:editing="handleObjectivesEditing"
      ref="objectives"
    ></SummernoteTextEditor>

    <!-- Mission Requirements -->
    <SummernoteTextEditor
      :id="'missionRequirements'"
      :card-title="$t('missionOverview.requirements')"
      v-on:saved="save()"
      v-on:editing="handleRequirementsEditing"
      ref="requirements"
    ></SummernoteTextEditor>

    <!-- Mission Result -->
    <SummernoteTextEditor
      :id="'missionResult'"
      :card-title="$t('missionOverview.result')"
      v-on:saved="save()"
      v-on:editing="handleResultEditing"
      ref="result"
    ></SummernoteTextEditor>

    <!-- Mission rewards -->
    <MissionRewardsTable></MissionRewardsTable>

    <!-- Add Mission Levels -->
    <MissionLevelsEditable
      v-on:levelsChanged="handleLevelsChanged"
      :progressive-inquiry-model="mission.missionMetadata.educationalMetadata.template === 'PROGRESSIVE_INQUIRY_MODEL'"
      :self-paced="mission.missionMetadata.educationalMetadata.isSelfPaced"
      :levels="mission.levels"
      :mission-id="this.missionId"
    ></MissionLevelsEditable>

    <div class="mt-5">
      <a
        ><button @click="this.save" type="button" class="btn btn-orange w-25  mr-4">
          {{ $t('generalmissionmetadatacard.save') }}
        </button></a
      >
      <a
        ><button @click="this.publish" type="button" class="btn btn-green w-25 ml-3">
          {{ $t('generalmissionmetadatacard.publish') }}
        </button></a
      >
    </div>

    <!-- ////////////////////////////////// -->
    <!-- ////////////////////////////////// -->
    <!-- //////Modal Windows/////// -->
    <!-- ////////////////////////////////// -->
    <!-- ////////////////////////////////// -->
    <!-- Modal of modal- -->
    <div class="modal fade" id="modal-" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">What do you want to add?</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">It is coming soon.</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-green" data-dismiss="modal">Save</button>
            <button type="button" class="btn btn-orange" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <!-- ////////////////////////////////// -->
    <!-- ////////////////////////////////// -->
    <!-- //////Modal Windows/////// -->
    <!-- ////////////////////////////////// -->
    <!-- ////////////////////////////////// -->
  </div>
</template>
<script>
import { getMissionApiUrl, getTeachersEndpoint } from '../../../../js/global.js';
import { successToast } from '../../common/sweetAlertConfigs.js';
import GeneralMissionMetadataCard from '../common/GeneralMissionMetadataCard';
import SummernoteTextEditor from '../common/SummernoteTextEditor';
import MissionLevelsEditable from './MissionLevelsEditable';
import MissionRewardsTable from "../common/MissionRewardsTable";

export default {
  name: 'EditMissionOverview',
  components: {
    MissionLevelsEditable,
    GeneralMissionMetadataCard,
    SummernoteTextEditor,
    MissionRewardsTable
  },
  props: {
    missionId: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      mission: {
        missionMetadata: {
          generalMetadata: {},
          educationalMetadata: {},
          informationAboutMission: {}
        },
        robotActions: {},
        levels: []
      }
    };
  },
  created() {
    if (this.$store.currentUser.usertype === 'student') {
      this.$router.push('/missions');
      return;
    }
  },
  methods: {
    successToast(text) {
      return {
        type: 'success',
        text: text,
        toast: true,
        position: 'bottom',
        showConfirmButton: false,
        timer: 1500
      };
    },
    handleDescriptionEditing() {
      this.$refs.objectives.closeSummernote();
      this.$refs.requirements.closeSummernote();
      this.$refs.result.closeSummernote();
    },
    handleObjectivesEditing() {
      this.$refs.description.closeSummernote();
      this.$refs.requirements.closeSummernote();
      this.$refs.result.closeSummernote();
    },
    handleRequirementsEditing() {
      this.$refs.description.closeSummernote();
      this.$refs.objectives.closeSummernote();
      this.$refs.result.closeSummernote();
    },
    handleResultEditing() {
      this.$refs.description.closeSummernote();
      this.$refs.objectives.closeSummernote();
      this.$refs.requirements.closeSummernote();
    },
    handleLevelsChanged(e) {
      this.mission.levels = e;
      this.save();
    },
    handleCreateMissionModalSubmitted(e) {
      this.mission.generalMetadata = e.generalMetadata;
      this.mission.educationalMetadata = e.educationalMetadata;
      this.save();
    },
    handleRobotActionsChanged(e) {
      this.mission.robotActions = e;
      this.save();
    },
    save() {
      let $this = this;
      this.saveMissionData().then(() => {
        this.$swal(successToast($this.$t('sweetAlert.missionSaved')));
      });
    },
    saveMissionData() {
      this.$refs.description.closeSummernote();
      this.$refs.objectives.closeSummernote();
      this.$refs.requirements.closeSummernote();
      this.$refs.result.closeSummernote();

      let saveData = JSON.parse(JSON.stringify(this.mission));
      //Reminder authorIf was replaced with authorName
      //Here we must replace authorName with authorId
      saveData.missionMetadata.generalMetadata.author = this.$store.currentUser.userid;
      saveData.missionMetadata.informationAboutMission.description = this.$refs.description.getHtml();
      saveData.missionMetadata.informationAboutMission.objectives = this.$refs.objectives.getHtml();
      saveData.missionMetadata.informationAboutMission.requirements = this.$refs.requirements.getHtml();
      saveData.missionMetadata.informationAboutMission.resultOfMission = this.$refs.result.getHtml();
      return axios.put(`${getMissionApiUrl('API_GATEWAY_STORAGE')}/missions`, saveData);
    },

    publish() {
      this.saveMissionData().then(() => {
        axios
          .post(`${getTeachersEndpoint('API_GATEWAY_STORAGE')}/missions/activeMissions/${this.missionId}`)
          .then(() => {
            this.mission.isPublished = true;
            this.$router.push(`/missions/${this.missionId}/editAfterPublish`);
          })
          .catch(ex => {
            //TODO: handle exception
          });
      });
    }
  },
  mounted() {
    //TODO: autosave every 5min
    axios
      .get(`${getMissionApiUrl('API_GATEWAY_STORAGE')}/missions/${this.missionId}`)
      .then(response => {
        this.mission = response.data;
      })
      .then(() => {
        this.$refs.description.setHtml(this.mission.missionMetadata.informationAboutMission.description);
        this.$refs.objectives.setHtml(this.mission.missionMetadata.informationAboutMission.objectives);
        this.$refs.requirements.setHtml(this.mission.missionMetadata.informationAboutMission.requirements);
        this.$refs.result.setHtml(this.mission.missionMetadata.informationAboutMission.resultOfMission);
      });
  }
};
</script>
<style scoped>
  @import url('../../../../css/main.css');
  @import url('../../../../css/courses.css');
</style>
