<template>
    <!--Tab of leaderboard -->
    <div class="card mt-3">
        <div class="card-header card-header-with-border">
            <h6 class="float-left text-left">
               Mission Results
            </h6>
            <a class="float-right btn btn-circle mt-2 mr-3" title="Challenge Results" v-on:click="challengeResults">
                <img
                        alt="Challenge Results"
                        class="clearfix"
                        src="../../../../img/ICON-Entrepreneurship-Courses.png"
                />

            </a>
        </div>

        <div class="tab-content mt-3">
            <div aria-labelledby="leadboard-daily-tab" class="tab-pane fade show active"
                 id="leadboard-daily" role="tabpanel">
                <div class="card-body pt-0">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr class="lb-header">
                            <th scope="col">#</th>
                            <th scope="col">{{ $t('achievement.explorer_name') }}</th>
                            <th scope="col">{{ $t('achievement.levels') }}</th>
                            <th scope="col">Progress</th>
                            <th scope="col">{{ $t('achievement.country') }}</th>
                        </tr>
                        </thead>
                        <tbody class="">
                        <tr class="lb-host" v-for="(user, index) in state.leaderboard.studentsResults"
                            >
                            <th scope="row">{{ index+1 }}</th>
                            <td><a class="btn btn-avatar" data-target="#modal-user-info"
                                   data-toggle="modal" href="#">
                                <DisplayImageFile
                                        v-if="state.test != null"
                                        mode="statusupdate"
                                        :imageFileId="state.test"
                                ></DisplayImageFile>

                                <!--                                                        <img class="w-100" -->
                                <!--                                                                                           src="../../img/user.png"> -->
                                {{user.username}}</a>
                            </td>
                            <td><a class="btn btn-avatar"> <img :alt="$t('achievement.alt_level')"
                                                                class="w-100"
                                                                v-bind:src="getImgUrl(user.level)">

                            </a>{{ $t('achievement.officer') }}
                            </td>
                            <td>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" v-bind:aria-valuenow="user.progress"
                                         aria-valuemin="0" aria-valuemax="100"
                                         v-bind:style="{ width: user.progress + '%' }">
                                    </div>
                                </div>

                                </td>
                            <td><a class="btn btn-avatar"> <img class="w-100"
                                                                src="../../../../img/Icon_German_Language.png">
                            </a></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { getMissionApiUrl, getLearningObjectsEndpoint } from '../../../../js/global.js';
    import { confirmDeleteConfig } from '../../common/sweetAlertConfigs.js';

    export default {
        name: 'MissionStudentsResults',
        data() {
            return {
                state: {
                    leaderboard: {studentsResults: []},
                    test: this.$store.profile.avatarImageId
                }
            };
        },
        props: {
            missionId: {
                type: String,
                required: true
            }
        },
        methods: {
            getImgUrl(level) {
                return require(`../../../../img/ICON-LEVEL-${level}-Badge.png`);
            },
            initLeaderboardData() {
                let studentsResultsEndpoint = `${getMissionApiUrl('API_GATEWAY_STORAGE')}/missions/`+this.missionId+`/studentsResults`;
                axios.get(studentsResultsEndpoint)
                    .then(response => {
                        this.state.leaderboard = response.data;
                    });
            },
            challengeResults() {
                let challengeResultsEndpoint = `${getMissionApiUrl('API_GATEWAY_STORAGE')}/missions/`+this.missionId+`/challengeResults`;
                window.open(challengeResultsEndpoint, '_blank');
            }
        },
        created() {
            console.log("USER: " + this.$store.currentUser.username);
            this.initLeaderboardData();
        },
    }
</script>

<style scoped></style>